{% extends 'AIResponsiveBundle:services:audits.html.twig'%}

{% block content %}
  {% if app.request.locale == "en" %}
  <!-- only displays content for EN language -->
    <h2>{% trans %}Ethical Audit Standards{% endtrans %}</h2>
    <p>{% trans %}For a modern business, an ethical supply chain is no longer an optional "feel-good" PR tool. Today, consumers, governments and NGOs are putting increasing pressure on brands and retailers to ensure transparency throughout their supply chains. Social accountability is an important element of a company's sourcing and marketing strategy, which helps ensure better product quality, foster consumer loyalty, and emphasize good corporate citizenship{% endtrans %}</p>
    <p>{% trans %}AI offers comprehensive ethical audit programs that can be conducted according to international standards, your company's in-house specifications or our own Best-In-Class Protocol.{% endtrans %}</p>
    <p>{% trans %}All AI ethical audit programs cover the following aspects:{% endtrans %}</p>
    <ul>
      <li>{% trans %}Hygiene, health and safety{% endtrans %}</li>
      <li>{% trans %}Waste management{% endtrans %}</li>
      <li>{% trans %}Child and young labor{% endtrans %}</li>
      <li>{% trans %}Labor practices, including forced labor, worker representation, disciplinary practices and discrimination.{% endtrans %}</li>
      <li>{% trans %}Working hours and wages{% endtrans %}</li>
    </ul>

    <h2>{% trans %}Client-Specific Ethical Audit Protocols{% endtrans %}</h2>
    <p>{% trans %}If your company already has a social accountability program in place, AI can tailor its existing ethical audit programs to suit your needs and ensure the compliance of your suppliers to your specific requirements.{% endtrans %}</p>

    <h2>{% trans %}Ethical Audits to International Standards{% endtrans %}</h2>
    <p>{% trans %}Our professionally certified auditors can conduct ethical audits according to all major internationally recognized social audits standards, including:{% endtrans %}</p>
    <ul>
      <li>{% trans %}SA 8000{% endtrans %}</li>
      <li><a href="/smeta-audit">{% trans %}SMETA (Sedex){% endtrans %}</a></li>
      <li><a href="/bsci-supplier-audits">{% trans %}BSCI{% endtrans %}</a></li>
      <li>{% trans %}ETI (ILO){% endtrans %}</li>
      <li>{% trans %}Responsible Jewelry Council (RJC){% endtrans %}</li>
      <li>{% trans %}Initiative Clause Sociale (ICS){% endtrans %}</li>
    </ul>

    <h2>{% trans %}AI's Best-In-Class Ethical Audit Protocol{% endtrans %}</h2>
    <p>{% trans %}Using the best practices of existing standards and building on our own experience from performing over 10,000 audits every year, we have developed our own Best-In-Class ethical audit protocol.{% endtrans %}</p>
    <p>{% trans %}When AI auditors visit a factory, they use GPS coordinates to confirm that your products are only being manufactured at the approved facility, and no unauthorized subcontracting is taking place.{% endtrans %}</p>
    <p>{% trans %}Our on-site process consists of:{% endtrans %}</p>
    <ul>
      <li>{% trans %}Opening meeting{% endtrans %}</li>
      <li>{% trans %}Factory tour{% endtrans %}</li>
      <li>{% trans %}Document review{% endtrans %}</li>
      <li>{% trans %}Worker interviews (group and individual){% endtrans %}</li>
      <li>{% trans %}Closing meeting with Corrective Action Plan (CAP) review{% endtrans %}</li>
    </ul>
    <p>{% trans %}Furthermore, our Supplier Workshops (held before and during the audit) help educate your suppliers about the audit program, get them more involved and help them achieve compliance.{% endtrans %}</p>
    <p>{% trans %}Our worker interviews are structured and held in a way that ensures transparency and honesty. During the interview, our auditors use voice stress analysis and cross-check information to detect any deception or inconsistencies. Factory staff are also given an opportunity to provide anonymous feedback.{% endtrans %}</p>

    <h2>{% trans %}AI Ethical Auditors{% endtrans %}</h2>
    <p>{% trans %}AI has adopted an approach based on the key competences of auditors – attitude, skills and knowledge – in line with the reference tools developed by the Global Social Compliance Programme (GSCP){% endtrans %}.</p>
    <p>{% trans %}All AI auditors are professionally certified and undergo regular training to stay up to date with the latest standards and regulatory requirements. The average AI ethical auditor has performed 580 audits.{% endtrans %}</p>

    <h2>{% trans %}Why Perform an Ethical Audit?{% endtrans %}</h2>
    <ul>
      <li>{% trans %}Ensure decent working conditions and human rights throughout your supply chain{% endtrans %}</li>
      <li>{% trans %}Comply with statutory requirements (e.g. Modern Slavery Act 2015){% endtrans %}</li>
      <li>{% trans %}Prevent unauthorized subcontracting{% endtrans %}</li>
      <li>{% trans %}Receive an accurate picture of ethical compliance in your supply chain{% endtrans %}</li>
      <li>{% trans %}Foster cooperative relations with your suppliers{% endtrans %}</li>
      <li>{% trans %}Improve brand image and increase consumer loyalty{% endtrans %}</li>
    </ul>
  {% endif %}

  {% if app.request.locale == "es" %}
  <!-- only displays content for ES language -->
    <h2>{% trans %}Normas de auditoría social{% endtrans %}</h2>
    <p>{% trans %}Para una empresa moderna, una cadena de suministro ética ya no es solo un "sentirse bien" ni una herramienta opcional. Hoy en día, los consumidores, los gobiernos y las ONG están poniendo una presión creciente sobre las marcas y los minoristas para garantizar la transparencia en todas sus cadenas de suministro. La responsabilidad social es un elemento importante de la estrategia de compras y marketing de una empresa, lo que ayuda a garantizar una mejor calidad del producto, la lealtad del consumidor, y hacer hincapié en la buena ciudadanía.{% endtrans %}</p>
    <p>{% trans %}AI ofrece programas detallados de auditoría social que pueden llevarse a cabo de acuerdo con las normas internacionales, las propias especificaciones de su empresa o con nuestro propio protocolo Best-in-class.{% endtrans %}</p>
    <p>{% trans %}Todos los programas de auditoría social de AI cubren los siguientes aspectos:{% endtrans %}</p>
    <ul>
      <li>{% trans %}Higiene, salud y seguridad{% endtrans %}</li>
      <li>{% trans %}Gestión de residuos{% endtrans %}</li>
      <li>{% trans %}Mano de obra ifantil{% endtrans %}</li>
      <li>{% trans %}Prácticas de trabajo, incluyendo el trabajo forzado, la representación de los trabajadores, las prácticas disciplinarias y la discriminación{% endtrans %}</li>
      <li>{% trans %}Horas de trabajo y salarios{% endtrans %}</li>
    </ul>

    <h2>{% trans %}Protocolos de auditoria social específicos por cliente{% endtrans %}</h2>
    <p>{% trans %}Si su empresa ya tiene un programa de responsabilidad social, AI puede adaptar sus programas de auditoría social existentes para satisfacer sus necesidades y garantizar que sus proveedores cumplen sus necesidades específicas.{% endtrans %}</p>

    <h2>{% trans %}Auditorias sociales acordes con las normas internacionales{% endtrans %}</h2>
    <p>{% trans %}Nuestros auditores profesionales certificados pueden llevar a cabo auditorías sociales de acuerdo con todos los estándares de auditorías sociales reconocidas a nivel internacional, incluyendo:{% endtrans %}</p>
    <ul>
      <li>{% trans %}SA 8000{% endtrans %}</li>
      <li><a href="/smeta-audit">{% trans %}SMETA (Sedex){% endtrans %}</a></li>
      <li><a href="/bsci-supplier-audits">{% trans %}BSCI{% endtrans %}</a></li>
      <li>{% trans %}ETI (ILO){% endtrans %}</li>
      <li>{% trans %}Responsible Jewelry Council (RJC){% endtrans %}</li>
      <li>{% trans %}Initiative Clause Sociale (ICS){% endtrans %}</li>
    </ul>

    <h2>{% trans %}Protocolo de auditoria social Best-In-Class de AI{% endtrans %}</h2>
    <p>{% trans %}Con el uso de las mejores prácticas de las normas vigentes y basándonos en nuestra propia experiencia de haber realizado más de 10.000 auditorías cada año, hemos desarrollado nuestro propio protocolo de auditoría social Best-In-class.{% endtrans %}</p>
    <p>{% trans %}Cuando los auditores de AI visitan una fábrica, utilizan coordenadas GPS para confirmar que sus productos sólo se fabrican en las instalaciones aprobadas, y no hay subcontratación no autorizada que se esté llevando a cabo.{% endtrans %}</p>
    <p>{% trans %}Nuestro proceso in situ consiste en:{% endtrans %}</p>
    <ul>
      <li>{% trans %}Reunión de apertura{% endtrans %}</li>
      <li>{% trans %}Tour por la fábrica{% endtrans %}</li>
      <li>{% trans %}Revisión de documentos{% endtrans %}</li>
      <li>{% trans %}Entrevistas a trabajadores (en grupo e individuales){% endtrans %}</li>
      <li>{% trans %}Reunión de cierre para revisar el plan de acción correctiva (PAC){% endtrans %}</li>
    </ul>
    <p>{% trans %}Por otra parte, nuestros talleres de proveedores (celebrados antes y durante la auditoría) ayudan a educar a sus proveedores sobre el programa de auditoría, conseguir que se impliquen más y ayudar a lograr el cumplimiento.{% endtrans %}</p>
    <p>{% trans %}Nuestras entrevistas con los trabajadores se estructuran y se mantienen de una manera que garantice la transparencia y la honestidad. Durante la entrevista, nuestros auditores utilizan el análisis de tensión en la voz y la comprobación de información cruzada para detectar cualquier engaño o inconsistencia. También se le da la oportunidad al personal de la fábrica de proporcionar comentarios anónimos.{% endtrans %}</p>

    <h2>{% trans %}Auditores sociales de AI{% endtrans %}</h2>
    <p>{% trans %}AI ha adoptado un enfoque basado en las competencias clave de los auditores - actitud, habilidades y conocimientos - en línea con las herramientas de referencia desarrollados por el Programa Mundial de Cumplimiento Social (GSCP){% endtrans %}.</p>
    <p>{% trans %}Todos los auditores de AI están certificados profesionalmente y se someten a formación regularmente para mantenerse al día con las últimas normas y requisitos reglamentarios. El auditor social de AI ha realizado 580 auditorías de media.{% endtrans %}</p>

    <h2>{% trans %}¿Para qué realizar una auditoría social?{% endtrans %}</h2>
    <ul>
      <li>{% trans %}Garantizar condiciones dignas de trabajo y los derechos humanos en toda su cadena de suministro{% endtrans %}</li>
      <li>{% trans %}Cumplir con los requisitos legales (por ejemplo, la esclavitud moderna, Ley de 2015){% endtrans %}</li>
      <li>{% trans %}Evitar  la subcontratación no autorizada{% endtrans %}</li>
      <li>{% trans %}Recibir un cuadro exacto de cumplimiento ético en su cadena de suministro{% endtrans %}</li>
      <li>{% trans %}Relaciones de cooperación con nuestros proveedores{% endtrans %}</li>
      <li>{% trans %}Mejorar la imagen de la marca y aumentar la lealtad del consumidor{% endtrans %}</li>
    </ul>
  {% endif %}

  {% if app.request.locale == "tr" %}
  <!-- only displays content for TR language -->
    <h2>{% trans %}Etik Denetim Standartları{% endtrans %}</h2>
    <p>{% trans %}Modern bir işletme için, etik tedarik zinciri bundan böyle opsiyonel "iyi hissetme" Halka İlişkiler aracı değildir. Günümüzde tüketiciler, hükümetler ve Sivil toplum Örgütleri tedarik zincirleri boyunca şeffaflık sağlamaları için markalara ve perakendecilere artan bir baskı uyguluyorlar. Toplumsal sorumluluk, daha iyi ürün kalitesinin sağlanmasına, tüketici sadakatinin teşvik edilmesi ve iyi bir kurumsal yurttaşlığın vurgulanmasına yardımcı olan, bir firmanın kaynak kullanma ve pazarlama stratejisinin önemli bir unsurudur.{% endtrans %}</p>
    <p>{% trans %}AI uluslararası standartlara, firmanızın kurumsal özelliklerine ya da kendi Sınıfının En İyisi Protokolümüze göre yürütülebilen kapsamlı etik denetim programları sunar.{% endtrans %}</p>
    <p>{% trans %}Tüm AI etik denetim programları aşağıdaki yönleri kapsar:{% endtrans %}</p>
    <ul>
      <li>{% trans %}Hijyen, sağlık ve güvenlik{% endtrans %}</li>
      <li>{% trans %}Atık yönetimi{% endtrans %}</li>
      <li>{% trans %}Çocuk ve genç işçi{% endtrans %}</li>
      <li>{% trans %}Zorla çalıştırma, işçi temsilciliği, disiplin uygulamaları ve ayrımı içeren çalışma uygulamaları.{% endtrans %}</li>
      <li>{% trans %}Çalışma saatleri ve ücretler{% endtrans %}</li>
    </ul>

    <h2>{% trans %}Müşteriye Özel Etik Denetim Protokolleri{% endtrans %}</h2>
    <p>{% trans %}Firmanızda hali hazırda uygulanan bir toplumsal sorumluluk programı varsa, AI mevcut etik denetim programlarını ihtiyaçlarınıza uyacak şekilde biçimlendirebilir ve tedarikçilerinizin özel ihtiyaçlarınıza uyumunu sağlayabilir.{% endtrans %}</p>

    <h2>{% trans %}Uluslararası Standartlara göre Etik Denetimler{% endtrans %}</h2>
    <p>{% trans %}Profesyonel lisanslı denetçilerimiz aşağıdakiler de dahil olmak üzere uluslararası olarak tanınmış tüm önemli sosyal denetim standartlarına göre etik denetimler yürütebiliriler:{% endtrans %}</p>
    <ul>
      <li>{% trans %}SA 8000{% endtrans %}</li>
      <li><a href="/smeta-audit">{% trans %}SMETA (Sedex){% endtrans %}</a></li>
      <li><a href="/bsci-supplier-audits">{% trans %}BSCI{% endtrans %}</a></li>
      <li>{% trans %}ETI (ILO){% endtrans %}</li>
      <li>{% trans %}Sorumlu Kuyumculuk Konseyi (RJC){% endtrans %}</li>
      <li>{% trans %}Toplumsal Sözleşme İnisiyatifi (ICS){% endtrans %}</li>
    </ul>

    <h2>{% trans %}AI'nin Sınıfının En İyisi Denetim Protokolü{% endtrans %}</h2>
    <p>{% trans %}Mevcut standartların en iyi uygulamalarını kullanarak ve yıllık 10.000'in üzerinde denetimden gelen deneyimimizle, kendi Sınıfının En İyisi denetim protokolümüzü geliştirdik.{% endtrans %}</p>
    <p>{% trans %}AI denetçileri bir fabrikayı ziyaret ettiklerinde, ürünlerinizin sadece onaylanmış tesiste imal edileceğini ve izinsiz hiçbir taşeronluğun olmadığını onaylamak için GPS koordinatlarını kullanırlar.{% endtrans %}</p>
    <p>{% trans %}Sahada süreç aşağıdakilere dayanır:{% endtrans %}</p>
    <ul>
      <li>{% trans %}Açılış toplantısı{% endtrans %}</li>
      <li>{% trans %}Fabrika turu{% endtrans %}</li>
      <li>{% trans %}Belge inceleme{% endtrans %}</li>
      <li>{% trans %}Çalışanlarla görüşmeler (grup ve bireysel){% endtrans %}</li>
      <li>{% trans %}Düzeltici Aksiyon Planı (CAP) değerlendirmesiyle kapanış toplantısı{% endtrans %}</li>
    </ul>
    <p>{% trans %}Buna ek olarak, Tedarikçi Atölyelerimiz (denetim öncesi ve denetim sırasında yapılan) tedarikçilerinizin denetim programı hakkında eğitimine, daha fazla müdahil olmalarına yardımcı olurken uyum sağlamayı başarmalarında yardımcı olur.{% endtrans %}</p>
    <p>{% trans %}Çalışanlarla görüşmelerimiz yapılandırılmıştır; şeffaflık ve dürüstlük sağlanacak şekilde yapılır. Görüşme sırasında denetçilerimiz her türlü yanıltma ve tutarsızlığı tespit etmek için ses stres analizi ve çapraz kontrollü bilgileri kullanırlar. Aynı zamanda fabrika personeline gizli geri bildirim verme imkanı tanınır.{% endtrans %}</p>

    <h2>{% trans %}AI Etik Denetçileri{% endtrans %}</h2>
    <p>{% trans %}AI denetçilerin Global Sosyal Uyum Programı (GSCP) tarafından geliştirilen referans araçlarla uyumlu olarak, tutum, bilgi ve becerileri gibi kilit becerilerine dayanan bir yaklaşım benimsemiştir.{% endtrans %}.</p>
    <p>{% trans %}ATüm AI denetçileri profesyonel olarak lisanslıdır ve en son standartlar ve düzenleyici gereksinimlerle güncel kalmak için düzenli olarak eğitim alırlar. Ortalama AI etik denetçisi 580 denetim gerçekleştirmiştir.{% endtrans %}</p>
  {% endif %}
  
{% endblock %}

{% block serviceCoverage %}
  <div id="globalNetworkBox" class="text-center vcenter_parent" style="background-color:white; width:100%; height:350px;">
    <div class="wrapper container vcenter_parent serviceCoverageBlock" >
      <div class="vcenter_parent" style="width:100%;">
        <div class="vcenter container">
          <h3  id="globalTitle">{{global.title}}</h3>
          <div class="col-lg-6 col-lg-offset-3">
            <p id="globalSubTitle" >{{global.pgph|trans}}</p>
            <a href="/quality-control-coverage">{{global.clickMap}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
