{% if app.request.locale == "ar" %} {% set twigBase = "AIResponsiveBundle:RTL:extra/extraBase.html.twig" %} {% else %} {% set twigBase = "AIResponsiveBundle:extra:extraBase.html.twig" %} {% endif %}
{% extends twigBase %}

{% block title %}CA Proposition 65 Compliance – Requirements & Testing | AI{% endblock %}
{% block pageDescription %}Ensure your products comply with California Prop 65 requirements. AI provides comprehensive testing and quality assurance for CA prop 65 compliance.{% endblock %}
{% block pageKeywords %}prop 65 compliance, ca prop 65 testing, California prop 65 requirements, cal prop 65{% endblock %}

{% block bigTitle %}California Proposition 65 Compliance Testing{% endblock %}
{% block smallText %}
    <p>AI offers comprehensive testing and quality assurance programs to ensure your product’s compliance with California Prop 65 requirements.</p>
{% endblock %}
{% block pagename %}caliprop65{% endblock %}

{% block mainBlock %}

    <h2 class="marginZero padding15">California Proposition 65 Compliance</h2>
    <p>While all companies selling products in the US must comply with relevant federal and international regulations, those doing business in the state of California must also be aware of the Safe Drinking Water and Toxic Enforcement Act of 1986, commonly known as California Proposition 65, or Cal Prop 65. Today, companies are becoming increasingly vulnerable to Notices of Violation and lawsuits caused by failure to comply with Cal Prop 65 requirements.</p>
    <p>AsiaInspection offers comprehensive programs to help you achieve Prop 65 compliance, which include:</p>
    <ul>
        <li style="margin-bottom:5px;">Product assessments</li>
        <li style="margin-bottom:5px;">Lab testing</li>
        <li style="margin-bottom:5px;">Technical guidance </li>
        <li style="margin-bottom:5px;">Settlement reviews</li>
    </ul>

    <h2 class="marginZero padding15">What is California Proposition 65?</h2>
    <p>The Safe Drinking Water and Toxic Enforcement Act of 1986, often referred to as Cal Prop 65, is a California law intended to protect the State’s residents and drinking water sources from toxic chemicals and to inform its citizens about exposure to them. The State published a list of naturally occurring and synthetic chemicals that are known to cause cancer, birth defects or other reproductive harm. That list, which must be updated and published once a year, has grown to include more than 950 chemicals since its inception. The two main categories of the listed chemicals are carcinogens and reproductive toxicants. </p>
    <p>While Cal Prop 65 does not expressly prohibit the sale of products containing its listed chemicals, it does require the manufacturer to provide a "clear and reasonable" warning if a product’s content of a listed chemical exceeds the "safe harbor level." Of the 950+ chemicals regulated by Prop 65, safe harbor levels have only been identified for about 300.</p>

    <h2 class="marginZero padding15">Does California Proposition 65 Apply to Your Product?</h2>
    <p>California Prop 65 applies to all consumer products sold in the state of California.</p>
    <p>AI experts will test your products for listed chemicals and advise you on achieving Prop 65 compliance. We have expertise in a wide variety of product categories, including, but not limited to:</p>
    <ul>
        <li style="margin-bottom:5px;"><a href="/industry-softline">Apparel and textiles</a></li>
        <li style="margin-bottom:5px;"><a href="/testing/footwear">Footwear and accessories</a></li>
        <li style="margin-bottom:5px;"><a href="/testing/eyewear">Eyewear</a></li>
        <li style="margin-bottom:5px;"><a href="/testing/toy-safety-and-lab-testing">Toys and children’s products</a></li>
        <li style="margin-bottom:5px;"><a href="/testing/cosmetics">Cosmetics and beauty products</a></li>
        <li style="margin-bottom:5px;">Furniture</li>
        <li style="margin-bottom:5px;"><a href="/testing/electrical">Electrical and electronic goods</a></li>
        <li style="margin-bottom:5px;"><a href="/testing/promotional-products">Promotional products</a></li>
    </ul>

    <h2 class="marginZero padding15">What Are the Consequences of Non-Compliance with Prop 65?</h2>
    <p>If a product sold in California is found to contain a chemical listed under Prop 65 without the "clear and reasonable warning" required by this regulation, the manufacturer is issued a 60-day Notice of Violation. During the 60-day period, the California Attorney General’s office can take legal action against the manufacturer, and if no such action is taken, a private party can file a lawsuit after the 60-day period has expired.</p>
    <p>Historically, an average settlement for a Prop 65 lawsuit is around $65,000. In lawsuits involving large groups of retailers and manufacturers, settlements can exceed $1,000,000.</p>
    <p>Given the high costs and reputational damage of Prop 65 lawsuits, more and more brands and retailers are taking a proactive approach to Prop 65 compliance, and ensure that their products meet all the relevant requirements.</p>
    
    <h2 class="marginZero padding15">The Impact of Consumer Product Recalls</h2>
    <p>As most manufacturers are very aware, the CPSIA came into effect in August 2008, and included many new mandatory regulations and testing requirements for toys and children’s products such as lead and phthalate content, reasonable testing programs, and third party testing. Manufacturers, importers, distributors and retailers of consumer goods must ensure that their products comply with the <a href="/cpsia-testing">CPSIA</a>. Further to the requirements under the CPSIA was the creation of SaferProducts.gov, a publically-searchable database of reports of harm.</p>
    <p>Product recalls continue to be a costly issue for manufacturers, and the need for a rigorous testing and inspection program is clear. In FY 2015, the Consumer Product Safety Commission listed over 230 consumer product recalls on their website with a variety of hazards from burns and strangulation to lead paint and laceration.</p>
    <p>A significant decline in future sales as a result of a product recall could have a huge impact on a business as a whole. In addition to the costs associated with conducting the recall itself (investigation costs, customer reimbursement, professional feeds, transportation fees, disposal fees, etc), there are many other factors that can contribute to long-term financial impact such as: </p>
    <ul>
        <li style="margin-bottom:5px;">Reduced sales because of lost product confidence </li>
        <li style="margin-bottom:5px;">Time needed to regain market share</li>
        <li style="margin-bottom:5px;">Possibility that market share may not reach the same levels as before the recall</li>
        <li style="margin-bottom:5px;">Increased marketing expenses to regain lost market share</li>
    </ul>

    <p>The impact on a company’s brand is synonymous with an impact on its finances. In an instant, a reputation and brand that has taken years for a company to build can be tarnished. The digital nature of our current markets also increases the impact that a recall can have. Information is available almost instantaneously and can be distribution over global consumer markets quickly – this means the impact on a brand in the face of a recall can be even more immediate and catastrophic. Product recalls can do serious damage to a brand, and can do it very quickly.</p>
    <p>AI offers comprehensive testing inspection programs to mitigate your company’s recall risk. Save money and avoid costly defects by ensuring your product imports meet your specifications and quality standards both during the <a href="/quality-control-services/laboratory-testing">laboratory testing</a> process and also <a href="/during-production-inspection">during production</a>.</p>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts  '@AIResponsiveBundle/Resources/public/js/industryFixedMenu_v2.js' filter='?uglifyjs2' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}