{% if app.request.locale == "ar" %} {% set twigBase = "AIResponsiveBundle:RTL:extra/extraBase.html.twig" %} {% else %} {% set twigBase = "AIResponsiveBundle:extra:extraBase.html.twig" %} {% endif %}
{% extends twigBase %}

{% block title %}AI亚检出口贸易保障论坛 | AsiaInspection{% endblock %}
{% block pageDescription %}顺应“一带一路”，解析国际买家最新要求{% endblock %}
{% block pageKeywords %}{% endblock %}

{% block bigTitle %}AI亚检出口贸易保障论坛{% endblock %}
{% block smallText %}顺应“一带一路”，解析国际买家最新要求{% endblock %}
{% block pagename %}tradeProtection2017{% endblock %}

{% block mainBlock %}

    <p>中国商务部2016年数据显示，中国对“一带一路”沿线国家进出口总额为6.25万亿元，数额庞大，然而“一带一路”政策背后巨大的经济潜力如今仅被挖掘冰山一角，沿线国家共有65个，人口总数40亿，经济总量为21万亿美元，随着各种合作模式与发展业态的不断涌现，与沿线国家合作领域与规模还将进一步扩大。<a href="#footnotes" style="text-decoration: none;"><sup style="font-size: 10px;">i</sup></a></p>
    <p>在这一大背景下，9月20日，全球领先的质量保障服务机构AsiaInspection（简称AI 亚检）汇集了进出口行业专家、知名商协会、知名企业、合作伙伴、研究机构、媒体，在深圳福田星河丽思卡尔顿酒店隆重举办了“顺应‘一带一路’ 海外贸易新机遇” 首届出口贸易保障论坛——解析国际买家最新要求。此次论坛全面解析“一带一路”政策下目前供应商审核发展趋势，与产品出口相关的工厂审核及实验室测试国际法规，输欧输美产品测试标准及中东市场输出现状等热点问题，以及在“一带一路”政策下海外市场全新机遇，为行业企业提供综合交流平台。</p>
    <p>观看视频花絮，回顾现场精彩瞬间。</p>
    <div style="margin:15px 0px;">
        <object width='690' height='387' style="max-width:100%;">
            <param name='movie' value='http://player.youku.com/player.php/sid/XMzA2ODAyMTM4MA==/v.swf'></param>
            <param name='quality' value='high'></param>
            <param name='allowScriptAccess' value='always'></param>
            <embed src='http://player.youku.com/player.php/sid/XMzA2ODAyMTM4MA==/v.swf?quality=high' 
            type='application/x-shockwave-flash' 
            allowscriptaccess='always' 
            width='620' 
            height='387' 
            quality='high'>
            </embed>
        </object>
    </div>

    <p>第一部分： 供应商审核发展趋势，面临挑战及应对措施</p>
    <p>主讲人： Jing Su，AI亚检审核项目主管</p>
    <ol>
        <li style="margin-bottom:10px;">审核数据分享</li>
        <li style="margin-bottom:10px;">突出问题</li>
        <li style="margin-bottom:10px;">发展趋势</li>
        <li style="margin-bottom:10px;">面临挑战</li>
        <li style="margin-bottom:10px;">应对措施</li>
    </ol>
    <div style="margin:15px 0px;">
        <object width='690' height='387' style="max-width:100%;">
            <param name='movie' value='http://player.youku.com/player.php/sid/XMzE3Mjc4ODUwOA==/v.swf'></param>
            <param name='quality' value='high'></param>
            <param name='allowScriptAccess' value='always'></param>
            <embed src='http://player.youku.com/player.php/sid/XMzE3Mjc4ODUwOA==/v.swf?quality=high' 
            type='application/x-shockwave-flash' 
            allowscriptaccess='always' 
            width='620' 
            height='387' 
            quality='high'>
            </embed>
        </object>
    </div>

    <p>第二部分：玩具与纺织面料合规要求、召回案例及数据分析</p>
    <p>主讲人：Ann Leung，AI亚检全球技术服务部总监</p>
    <ol>
        <li style="margin-bottom:10px;">欧盟和美国玩具产品的强制性及非强制性安全法规简介</li>
        <li style="margin-bottom:10px;">2016年玩具产品召回热点案例</li>
        <li style="margin-bottom:10px;">玩具产品合规文件概述（欧盟和美国）</li>
        <li style="margin-bottom:10px;">纺织品及服装面料法规要求</li>
        <li style="margin-bottom:10px;">纺织品及服装面料性能和行业要求</li>
    </ol>
    <div style="margin:15px 0px;">
        <object width='690' height='387' style="max-width:100%;">
            <param name='movie' value='http://player.youku.com/player.php/sid/XMzE3Mjg3NzA5Mg==/v.swf'></param>
            <param name='quality' value='high'></param>
            <param name='allowScriptAccess' value='always'></param>
            <embed src='http://player.youku.com/player.php/sid/XMzE3Mjg3NzA5Mg==/v.swf?quality=high' 
            type='application/x-shockwave-flash' 
            allowscriptaccess='always' 
            width='620' 
            height='387' 
            quality='high'>
            </embed>
        </object>
    </div>

    <p>第三部分：圆桌讨论</p>
    <p>讨论嘉宾：深圳市福田企业家协会秘书长 张冰冰</p>
    <p>深圳市投资商会副秘书长 张凯娜</p>
    <p>Product IP大中华区总经理Alice Poon</p>
    <p>AI亚检全球技术服务部总监  Ann Leung</p>
    <p>AI亚检审核项目主管  Jing Su</p>
    <p>话题涵盖：</p>
    <ol>
        <li style="margin-bottom:10px;">“一带一路”下工业制造业的机遇与挑战</li>
        <li style="margin-bottom:10px;">中东市场在“一带一路”政策下的机遇和市场发展趋势</li>
        <li style="margin-bottom:10px;"> “一带一路”对审核行业的影响</li>
        <li style="margin-bottom:10px;">出口需求增长带来的风险和挑战</li>
        <li style="margin-bottom:10px;">出口欧盟市场最需要知道什么？</li>
    </ol>
    <div style="margin:15px 0px;">
        <object width='690' height='387' style="max-width:100%;">
            <param name='movie' value='http://player.youku.com/player.php/sid/XMzE3MjkyMzc3Mg==/v.swf'></param>
            <param name='quality' value='high'></param>
            <param name='allowScriptAccess' value='always'></param>
            <embed src='http://player.youku.com/player.php/sid/XMzE3MjkyMzc3Mg==/v.swf?quality=high' 
            type='application/x-shockwave-flash' 
            allowscriptaccess='always' 
            width='620' 
            height='387' 
            quality='high'>
            </embed>
        </object>
    </div>

    <p>第四部分：眼镜测试标准及产品出口问题解析</p>
    <p>主讲人：Candia Tse，AI ETIC董事总经理</p>
    <ol>
        <li style="margin-bottom:10px;">眼镜测试分类简介</li>
        <li style="margin-bottom:10px;">医疗用途眼镜及对应测试类目介绍</li>
        <li style="margin-bottom:10px;">个人防护用途眼镜及对应测试类目介绍</li>
    </ol>
    <div style="margin:15px 0px;">
        <object width='690' height='387' style="max-width:100%;">
            <param name='movie' value='http://player.youku.com/player.php/sid/XMzE3MzMzODYyNA==/v.swf'></param>
            <param name='quality' value='high'></param>
            <param name='allowScriptAccess' value='always'></param>
            <embed src='http://player.youku.com/player.php/sid/XMzE3MzMzODYyNA==/v.swf?quality=high' 
            type='application/x-shockwave-flash' 
            allowscriptaccess='always' 
            width='620' 
            height='387' 
            quality='high'>
            </embed>
        </object>
    </div>

    <p>第五部分：沙特阿拉伯标准组织合格证书</p>
    <p>主讲人：Rafa Zhu，AI亚检全球技术服务部技术主管</p>
    <ol>
        <li style="margin-bottom:10px;">SASO合格证书简介</li>
        <li style="margin-bottom:10px;">证书申请流程</li>
        <li style="margin-bottom:10px;">无证书产品及不合规产品的处分规定和纠正措施</li>
    </ol>
    <div style="margin:15px 0px;">
        <object width='690' height='387' style="max-width:100%;">
            <param name='movie' value='http://player.youku.com/player.php/sid/XMzE3MjgxNDA3Mg==/v.swf'></param>
            <param name='quality' value='high'></param>
            <param name='allowScriptAccess' value='always'></param>
            <embed src='http://player.youku.com/player.php/sid/XMzE3MjgxNDA3Mg==/v.swf?quality=high' 
            type='application/x-shockwave-flash' 
            allowscriptaccess='always' 
            width='620' 
            height='387' 
            quality='high'>
            </embed>
        </object>
    </div>
    
    <a name="footnotes"></a>
    <p>参考文献</p>
    <ol style="list-style-type: lower-roman;">
        <li style="margin-bottom:10px;">《2016年我国与“一带一路”沿线国家进出口总额6.3万亿元人民币》, 中国政府网<br /><a href="http://www.gov.cn/xinwen/2017-02/21/content_5169878.htm" target="_blank">http://www.gov.cn/xinwen/2017-02/21/content_5169878.htm</a></li>
        <br /><br />
    </ol>
     
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts  '@AIResponsiveBundle/Resources/public/js/industryFixedMenu_v2.js' filter='?uglifyjs2' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}