{% if app.request.locale == "ar" %} {% set twigBase = "AIResponsiveBundle:RTL:extra/extraBase.html.twig" %} {% else %} {% set twigBase = "AIResponsiveBundle:extra:extraBase.html.twig" %} {% endif %}
{% extends twigBase %}

{% block title %}Quality Control in China: Product Inspections, Audits &amp; Lab Testing | AsiaInspection{% endblock %}
{% block pageDescription %}AsiaInspection offers product inspections, supplier audits and lab testing in all of China. Find out how we can help you with quality control in China.{% endblock %}
{% block pageKeywords %}quality control in china, product inspection in china, audit in china, lab testing in china{% endblock %}

{% block bigTitle %}Your Eyes in the Factory &trade;{% endblock %}
{% block smallText %}AsiaInspection offers Product Inspections, Supplier Audits and Lab Testing globally. We guarantee an inspector on-site within 48 hours of your order.{% endblock %}
{% block pagename %}QCinChina{% endblock %}

{% block navigation %}
    <style>#AI_Logo { background-image: url("/images/orig-logo.png"); }</style>
    {% include('AIResponsiveBundle:extra:nav-youreyesinthefactory.html.twig') %}
{% endblock %}

{% block mainBlock %}
    
    <h2 class="marginZero padding15">Quality Control Services</h2>
    <p>Today, effective quality control mechanisms remain a priority for any business looking to secure their supply chain.</p>
    <p>With a global coverage of 85 countries, AI performs <a href="http://www.asiainspection.com/pre-shipment-inspection">product inspections</a>, <a href="http://www.asiainspection.com/quality-control-services/laboratory-testing">lab testing</a> and <a href="http://www.asiainspection.com/manufacturing-audit">supplier audits</a>, helping you ensure product quality, avoid supply chain disruptions and protect your brand reputation by being <b>Your Eyes in the Factory! &trade;</b></p>

    <h2 class="marginZero padding15">Supplier Audits</h2>
    <p>AI's highly qualified auditors can conduct <a href="http://www.asiainspection.com/manufacturing-audit">Manufacturing</a>, <a href="http://www.asiainspection.com/ethical-audit">Ethical</a>, <a href="http://www.asiainspection.com/structural-audits">Structural</a>, <a href="http://www.asiainspection.com/environmental-audit">Environmental</a> and <a href="http://www.asiainspection.com/c-tpat-compliance">C-TPAT</a> audits of your suppliers' factories, helping you engage with capable and ethical factories. AI Auditors will assess and investigate your suppliers’ manufacturing means, working conditions, environmental and ecological impact. AI conducts audits to a number of international standards, our own Best-in-Class protocol or your in-house requirements. </p>
    <p>AI Supplier Audits help you:</p>
    <ul style="padding-left:15px;">
        <li style="margin-bottom:5px">Protect your brand against operational and ethical risks</li>
        <li style="margin-bottom:5px">Ensure safe and ethical working conditions in your supply chain</li>
        <li style="margin-bottom:5px">Get a comprehensive profile of your supplier with detailed illustrated audit reports including benchmarking and recommended corrective actions</li>
    </ul>

    <h2 class="marginZero padding15">Lab Testing</h2>
    <p>AI operates in house testing labs which are fully accredited to perform a wide range of tests on products. AI labs offer over 6,000 tests in a number of categories, including <a href="http://www.asiainspection.com/industry-softline">softlines</a>, <a href="http://www.asiainspection.com/industry-hardline">hardlines</a>, <a href="http://www.asiainspection.com/testing/eyewear">eyewear</a>, promotional items, textiles, <a href="http://www.asiainspection.com/testing/garments-apparel">apparel</a>, <a href="http://www.asiainspection.com/testing/toy-safety-and-lab-testing">toys and children's products</a>, and more.</p>
    <p>Our lab testing capabilities are accredited by and in accordance with the following regulatory bodies and international standards:</p>
    <ul style="padding-left:15px;">
        <li style="margin-bottom:5px">CNAS</li>
        <li style="margin-bottom:5px">CMA</li>
        <li style="margin-bottom:5px">ANAB</li>
        <li style="margin-bottom:5px">HOKLAS</li>
        <li style="margin-bottom:5px">CPSC</li>
        <li style="margin-bottom:5px">ISO 17025</li>
    </ul>

    <h2 class="marginZero padding15">Product Inspections</h2>
    <p>Inspect your product before it leaves your supplier's factory, and prevent quality problems down the line. We guarantee an inspector on-site of any factory within 48 hours, and the inspection report will be delivered to you on the day of the inspection.</p>
    <p>Experienced AI product inspectors help you safeguard the quality of your product at every stage of manufacturing:</p>
    <ul style="padding-left:15px;">
        <li style="margin-bottom:5px"><a href="http://www.asiainspection.com/initial-production-check">IPC – Initial Production Check</a></li>
        <li style="margin-bottom:5px"><a href="http://www.asiainspection.com/during-production-inspection">DUPRO – During Production Inspection</a></li>
        <li style="margin-bottom:5px"><a href="http://www.asiainspection.com/pre-shipment-inspection">PSI – Pre-Shipment Inspection</a></li>
        <li style="margin-bottom:5px"><a href="http://www.asiainspection.com/container-loading-check">CLC – Container Loading Check</a></li>
        <li style="margin-bottom:5px"><a href="http://www.asiainspection.com/production-monitoring">PM – Production Monitoring</a></li>
    </ul>

    <h2 class="marginZero padding15">Your Online Account</h2>
    <p>Your Reports, Orders and quality control data are hosted securely in your AsiaInspection account, accessible anytime, anywhere. From your account, you can book and process your orders, entering all your specification details for the AsiaInspection team to follow.</p>
    <p>Your account also hosts your whole private database of suppliers, inspection checklists, as well as your full list of Reports that you can easily download.</p>
    <p>From your online dashboard, access stats and KPIs about your suppliers’ performance and your products’ quality.</p>
    <p>Last, AsiaInspection gives you access to updated relevant educational content, hosted online for you in the forms of white papers, regulatory updates and quarterly industry barometers.</p>


    <h2 class="marginZero padding15">Why AsiaInspection</h2>
    <b>Transparent Pricing:</b><br />
    <ul style="padding-left:15px;">
        <li style="margin-bottom:5px">Product inspections: from $309 USD all-inclusive per man-day</li>
        <li style="margin-bottom:5px">Supplier audits: from $649 USD all-inclusive per man-day</li>
        <li style="margin-bottom:5px">Lab tests: instant online quotes</li>
    </ul>
    <b>Fast Turnaround:</b><br />
    <ul style="padding-left:15px;">
        <li style="margin-bottom:5px">Inspectors and auditors on-site of any factory within 48 hours</li>
        <li style="margin-bottom:5px">Same-day inspection reports</li>
    </ul>
    <b>Easy and Flexible Scheduling:</b><br />
    <ul style="padding-left:15px;">
        <li style="margin-bottom:5px">Manage orders and inspections online or via mobile app</li>
        <li style="margin-bottom:5px">Modify or cancel orders up until 4 pm (China time) the day before the scheduled inspection</li>
    </ul>
    <b>Your Eyes in the Factory!&copy;</b> - We are an independent, certified and licensed quality control company, working on your side to protect your business interests in the supply chain.<br />
    <b>Manage Your Quality Control Process Online</b> - Create your free account, schedule your Inspections online, make payment arrangements, and receive your detailed Inspection report electronically.<br />
    <b>Safer</b> - AI utilizes the strictest international standards ensuring product safety and regulatory requirements are met.<br />
    <b>Comprehensive Reports</b> - Inspection reports include detailed pictures to let you see what our inspectors see. Audit reports include copies of factory records, management interviews, and images, ensuring a complete profile of your supplier.<br />

    <h2 class="marginZero padding15">Join Our Team</h2>
    <p>Interested in joining the AsiaInspection team? Use our <a href="http://www.asiainspection.com/contact-us">careers portal</a> to browse available job openings and submit your application. The AI family consists of over 2,000 employees spanning 85 countries. We’re still growing and exploring new markets – and we want the best people on our team! Come work with us if you’re looking for an international experience in a dynamic environment, with a truly friendly team that will help you grow and learn every step of the way.</p>

{% endblock %}
