{% extends '::base.html.twig' %}
{% block body -%}

<div class="slide-feature">
        {% block slide1 %}{% endblock %}
</div>
<div class="slide-feature">
        {% block slide2 %}{% endblock %}
</div>
<div class="slide-featureSpecialHeight">
        {% block slide3 %}{% endblock %}
</div>
<div class="slide-feature">
        {% block slide4 %}{% endblock %}
</div>
<div class="slide-feature">
        {% block slide5 %}{% endblock %}
</div>





{% endblock %}
