<html>
<head>
	<title>AI App - Measure Your Quality Control On The Go | AsiaInspection</title>
	<meta name="description" content="Manage your product and supplier compliance on the go with the AI app! Make decisions anytime, anywhere! See how it works here.">
</head>
<body>
	<script type="text/javascript" src="/js/s_code.js"></script>
	<script type="text/javascript">
		s.pageName='en:redirect:mobile';
		s.channel='en:redirect';
		s.prop1=s.eVar1='en';
		/************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
		var s_code=s.t();
		if(s_code) document.write(s_code);
		/************* DO NOT ALTER ANYTHING ABOVE THIS LINE ! **************/
	
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
				new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
				j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
				'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
				})(window,document,'script','dataLayer','GTM-WX7G');
	</script>
	<script type="text/javascript">window.onload=function(){setTimeout(function(){window.location.href="{{url}}";},500);};</script>
	<noscript><meta http-equiv="refresh" content="0;url={{url}}" /></noscript>
</body>
</html>