{% extends 'AIResponsiveBundle:aboutUs:aboutUsBase.html.twig' %}
{% block title %}Employee Leads | AsiaInspection.com{% endblock %}
{% block bigTitle %}Employee Leads{% endblock %}
{% block pagename %}EmployeeLeads{% endblock %}

{% block aboutUsMainBlock %}
	<div class="col-xs-12" style="margin-bottom:20px;margin-top:20px;">
		<center>
			<div style="width:75%; text-align:center; border-radius:5px; background-color:white; padding:20px;">
				<h2>INSPECTION BONUS:</h2>
				<p>Send potential leads to <a href="mailto:lead@asiainspection.com">lead@asiainspection.com</a> and receive <b>$3 USD</b> per lead; the employee who sends the most leads per quarter will receive an extra <b>$100 USD</b> bonus. When you’re in a factory, simply look around for other buyers' names (on export cartons, labels, paperwork, etc.)</p>
			</div>
		</center>
	</div>
{% endblock %}