{% extends '::base.html.twig' %}
{% block title %}{% if pageTitle is defined %}{{pageTitle}}{% endif %}{% endblock %}
{% block pageDescription %}{% if pageDesc is defined %}{{pageDesc}}{% endif %}{% endblock %}
{% block pageKeywords %}{% if pageKeywords is defined %}{{pageKeywords}}{% endif %}{% endblock %}

{% block body %}

<div class="headerbox">
  <div class="container vcenter_parent wrapper">
    <div class="col-xs-12 vcenter_parent wrapper paddingLeftRightZero">
      <div class="col-lg-7 col-lg-offset-1  col-md-8 col-md-offset-1 col-xl-offset-0 col-xs-10 col-xs-offset-1 vcenter_parent" id="bigWidth" style="padding-left:0px;padding-right:0px;">
        <div class="vcenter  {% if isSafari is defined %}{% if isSafari==true %}headerTitle{% endif %}{% endif %}" style="display:inline-block;">
            <h1 class="mainHeader">{% block bigTitle %}{% endblock %}</h1>
            <div class="mainSubHeader">{% block smallText %}{% endblock %}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- For /aql-acceptable-quality-limit page only -->
{% block AQLcontent %}{% endblock %}

<div class="container wrapper mainBlock" style="background-color:white; width:100%; padding-bottom:20px;">
    {% block serviceCourage %}{% endblock %}
    <div class="col-xs-12 wrapper paddingLeftZero sidebox" style="padding-top:20px;">
        {% block aboutUsMainBlock %}{% endblock %}
    </div>
</div>

{% endblock %}
