{% extends 'AIResponsiveBundle:aboutUs:aboutUsBase.html.twig' %}
{% block title %}How to Approve or Reject Reports | AsiaInspection.com{% endblock %}
{% block bigTitle %}How to Approve or Reject Reports{% endblock %}
{% block pagename %}ApproveRejectReports{% endblock %}

{% block aboutUsMainBlock %}
	<div id="aboutUs" class="col-xs-12" style="margin-bottom:20px;margin-top:20px;">
		<center>
			<div style="width:800px;text-align:left;">
				<div style="margin:10px;"><strong>1. On the website</strong></div>
				<img src="{{assetsDomain}}/images/approve_from_web.png" width="100%" alt="Approve from Web">
		
				<div style="margin:10px;margin-top:30px;"><strong>2. On the AI App</strong></div>
				<img src="{{assetsDomain}}/images/approve_from_app.png" width="100%" alt="Approve from App">
				
				<div style="margin:10px;margin-top:30px;"><strong>3. Directly from our reports</strong></div>
				<img src="{{assetsDomain}}/images/approve_from_report.png" width="100%" alt="Approve from Report">
			</div>
		</center>
	</div>
{% endblock %}