/****************************************************************************/
/* This file is for anything that can be a variable to be used in ours CSS */
/****************************************************************************/
/* to be renamed something more readable or removed if no longer used */
/* Client Logos for Testimonials Slider */
/* Header Images */
/********************************************/
/* This file is for SCSS Mixins to be used */
/********************************************/
/************************************************************************************************/
/* This is for the base format for our main elements (can be extended in styles.scss if needed) */
/************************************************************************************************/
@font-face {
  font-family: 'Open Sans';
  src: url("https://s3.asiainspection.com/fonts/opensans-regular.ttf") format("truetype");
  src: url("/fonts/opensans-regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Open Sans';
  src: url("https://s3.asiainspection.com/fonts/opensans-bold.ttf") format("truetype");
  src: url("/fonts/opensans-bold.ttf") format("truetype");
  font-weight: bold; }
@font-face {
  font-family: ProximaNova-Regular;
  src: url(/fonts/ProximaNova-RegWeb.woff) format("woff");
  font-weight: 400; }
@font-face {
  font-family: ProximaNova-Regular;
  src: url(/fonts/ProximaNova-LightWeb.woff) format("woff");
  font-weight: 100; }
@font-face {
  font-family: ProximaNova-Regular;
  src: url(/fonts/ProximaNova-BoldWeb.woff) format("woff");
  font-weight: 700; }
@font-face {
  font-family: ProximaNova-Regular;
  src: url(/fonts/ProximaNova-SboldWeb.woff) format("woff");
  font-weight: 600; }
h1, h2 {
  color: black;
  font-size: 1.9em;
  font-weight: bold;
  margin: 0 0 10px 0; }

h3 {
  font-family: "Open Sans";
  font-size: 1.19em;
  margin-bottom: 13px;
  margin-top: 0; }

p {
  font-size: 1em; }

html, body {
  background-color: white;
  font-size: 14px;
  font-family: "Open Sans";
  height: 100%; }

* {
  font-family: "Open Sans"; }

.AI_heading {
  font-family: "Open Sans" !important;
  font-size: 30px !important; }

.AI_subheading {
  font-family: "Open Sans" !important;
  font-size: 15px !important; }

.AI_text {
  font-family: "Open Sans" !important;
  font-size: 14px !important; }

body {
  overflow: hidden; }
