<!-- { "Title":"法规与监管回顾：2017年12月发布", "PublishDate":"2017-12-12", "Description":"3月30号，美国消费品安全委员会（CPSC）在联邦公报82 FR 15615 发布了关于婴儿浴盆安全标准的16 CFR 1234最终规则。最终规则将由2017年10月2日起生效。" } -->
<div class="recapSectionHeader">
	<ol style="margin-top:10px;">
		<li style="margin-bottom:10px;"><a href="#north_america_news">北美回顾</a></li>
		<li style="margin-bottom:10px;"><a href="#asia_news">亚洲回顾</a></li>
	</ol>
	<hr />
</div>

<div class="recapSectionHeader">
	<a name="north_america_news" class="bookmark"></a>
	<h2>北美回顾</h2>
</div>

<div class="recapSection">
	<a name="dec2017-us-cpsc-enforce-baby-bathtub-standard" class="bookmark"></a>
	<strong>美国消费品安全委员会实施最终规则，执行婴儿浴盆标准</strong>
	<p>3月30号，美国消费品安全委员会（CPSC）在联邦公报<a href="https://www.federalregister.gov/documents/2017/03/30/2017-06270/safety-standard-for-infant-bath-tubs?utm_campaign=subscription%20mailing%20list&utm_source=federalregister.gov&utm_medium=email" target="_blank">82 FR 15615</a> 发布了关于婴儿浴盆安全标准的16 CFR 1234最终规则。最终规则将由2017年10月2日起生效。</p>
	<a href="/regulatory-updates/December-2017/dec2017-us-cpsc-enforce-baby-bathtub-standard" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>最终规则表明，ASTM F2670-17标准中针对婴儿浴盆的消费产品安全细则将被采用。婴儿浴盆是指围起来的洗浴盆或是其他类似的可用来盛水并置入成人浴缸、洗手池或置于其他板材表面由板材提供助力支持的产品，常在婴儿洗浴时在看护人辅助下被婴儿用于斜靠与坐立。洗浴背带等由布料或网线制成的产品并不属于这一品类，无需遵循此类标准。</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="dec2017-astm-standard-update" class="bookmark"></a>
	<strong>ASTM标准更新</strong>
	<p>以下是ASTM标准最新更新的总结：</p>
	<a href="/regulatory-updates/December-2017/dec2017-astm-standard-update" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<table>
			<tr>
				<td style="text-align: center;font-weight: bold;">ASTM标准编号</td>
				<td style="text-align: center;font-weight: bold;">详述</td>
			</tr>
			<tr>
				<td>ASTM F2388-17a</td>
				<td><b>家用婴儿换洗产品消费者安全标准详述</b><br />
				包括了性能要求、测试方式和标签要求，推动如换洗台、换洗台零配件、曲面换洗垫和附加换洗用品的安全使用。</td>
			</tr>
			<tr>
				<td>ASTM F2613-17a</td>
				<td><b>儿童座椅和凳子消费者安全标准详述</b><br />
				为儿童座椅和凳子制定结构和性能要求的测试条目和标准，也提供了标签要求。</td>
			</tr>
			<tr>
				<td>ASTM F2417-17</td>
				<td><b>蜡烛的防火安全标准详述</b><br />
				规定了蜡烛及蜡烛类似物的最低安全标准，确保蜡烛在正常使用情况下的安全，提高个人安全，减少火灾、死亡和受伤个案。</td>
			</tr>
			<tr>
				<td>ASTM F3118-17a</td>
				<td><b>婴儿睡眠用品消费者安全标准详述</b><br />
				制定安全性能要求、测试方法和标签要求，以降低婴儿睡眠用品在简介中描述的危害。</td>
			</tr>
			<tr>
				<td>ASTM F2057-17</td>
				<td><b>衣物存储用品安全标准详述</b><br />
				减少儿童因无支撑衣物存储用品比如衣柜、带门衣柜和梳妆台等高度超过30英寸（762毫米）产品倾翻导致的伤亡事件。</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="dec2017-us-cpsc-adopted-ban-phthalates-in-toys-and-baby-products" class="bookmark"></a>
	<strong>美国消费品安全委员会通过了儿童玩具和保育用品邻苯二甲酸盐禁令更新</strong>
	<p>2017年10月27号，美国消费品安全委员会在联邦公报<a href="https://www.federalregister.gov/documents/2017/10/27/2017-23267/prohibition-of-childrens-toys-and-child-care-articles-containing-specified-phthalates" target="_blank">82 FR 49938</a>发布了CFR 1307 最终规则，通过了儿童玩具和保育用品邻苯二甲酸盐含量禁令的更新条款。</p>
	<a href="/regulatory-updates/December-2017/dec2017-us-cpsc-adopted-ban-phthalates-in-toys-and-baby-products" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>最终规则更新了美国消费品安全改进法案（CPSIA）第108节，总结如下：</p>
		<ol>
			<li>可能被放置口中的儿童玩具和保育用品上的邻苯二甲酸二异壬酯（DINP）临时禁令被修改为永久禁令。</li>
			<li>新增4类邻苯二甲酸盐被禁：</li>
				<ul style="padding-left: 0px;">
					<li>邻苯二甲酸二异丁酯(DIBP)</li>
					<li>邻苯二甲酸二戊酯(DPENP)</li>
					<li>邻苯二甲酸二己酯(DHEXP)</li>
					<li>邻苯二甲酸二环己酯 (DCHP)</li>
				</ul>
			<li>根据慢性危害顾问小组(CHAP)的建议，鉴于邻苯二甲酸二正辛酯和邻苯二甲酸二异癸酯并没有影响生殖和发育的毒性，此类物质的临时禁令已被解除。</li>
		</ol>
		<br />
		<p>此项规则将于2018年4月25日起生效。一旦实施，任何含有超过0.1%DEHP，DEHP，DBP，BBP，DINP，DIBP，DEPENP，DHEXP和DCHP的儿童玩具和保育用品都将被禁。</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="dec2017-ri-us-government-prohibiting-certain-flame-retardants-upholstered-furniture" class="bookmark"></a>
	<strong>美国罗德岛州政府通过法令，禁止软垫家具添加某些阻燃剂</strong>
	<p>2017年10月3号，众议院法案<a href="http://webserver.rilin.state.ri.us/BillText/BillText17/HouseText17/H5082Aaa.pdf" target="_blank">H5082</a>，<a href="http://webserver.rilin.state.ri.us/BillText/BillText17/HouseText17/H5082Aaa.pdf" target="_blank">关于健康与安全的法案 – 儿童产品和软垫家具</a>在无州长签署的情况下开始实施。执行日期为2018年7月1号。</p>
	<a href="/regulatory-updates/December-2017/dec2017-ri-u.s.-government-prohibiting-certain-flame-retardants-upholstered-furniture" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<p>一旦实施，制造商、批发商和零售商不能在本州生产、故意销售、提供销售或分配使用任何含有超过100百万分之一任何类型有机卤素阻燃剂的塑料、泡沫和织物的儿童产品或家用床垫或软垫家具。执行时间表如下：</p>
	<table>
		<tr>
			<td>&nbsp;</td>
			<td>产品</td>
			<td>执行日期</td>
		</tr>
		<tr>
			<td>1.</td>
			<td>家用床垫或软垫家具（儿童产品）</td>
			<td>2018年7月1日</td>
		</tr>
		<tr>
			<td>2.</td>
			<td>家用床垫或软垫家具（非儿童产品）</td>
			<td>2019年7月1日</td>
		</tr>
	</table>
	<br />
	<p>禁令执行前90天，生产被禁产品的厂商应告知州内销售该产品的个人或团体。</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="dec2017-us-epa-proposed-new-mercury-notification-requirement-under-tsca" class="bookmark"></a>
	<strong>美国环境保护署提议在有毒物质控制法案下新增汞通报要求</strong>
	<p>2017年10月26日，美国环境保护署（EPA）提出在有毒物质控制法案下新增<a href="https://www.regulations.gov/document?D=EPA-HQ-OPPT-2017-0421-0001" target="_blank">40 CFR 713</a>，要求相关人员提供信息，辅助提供汞清单及美国境内的汞供应、使用和销售情况。</p>
	<a href="/regulatory-updates/December-2017/dec2017-us-epa-proposed-new-mercury-notification-requirement-under-tsca" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<p>一旦通过，任何生产汞、进口汞、生产汞添加物（包括汞化合物）或预期在生产过程使用汞的人员都要求向美国环境保护署通报。</p>
	<br />
	<p>提议的规则正在接受公众质询，直至2017年12月26号。</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="dec2017-canadian-product-recall-summary" class="bookmark"></a>
	<strong>加拿大产品召回情况总结（2017年5月-10月）</strong>
	<p>在加拿大，一旦在消费者产品中发现危险，产品会被召回并在加拿大卫生部网站的<a href="http://healthycanadians.gc.ca/recall-alert-rappel-avis/index-eng.php?cat=4" target="_blank">召回及安全警示数据库（Recalls and Safety Alerts Database）</a>进行公示，数据库每天都会更新。2017年5月1号至10月31日期间在加拿大发生的产品召回情况如下：</p>
	<a href="/regulatory-updates/December-2017/dec2017-canadian-product-recall-summary" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<center><img src="https://s3.asiainspection.com/newsletters/2017-12-Reg-Recap-CN/Canada_recall_hazards_CN.png" style="width:90%; max-width:850px;"></center>
		<table>
			<tr>
				<td style="font-weight: bold; text-align: center;">危险类别</td>
				<td style="font-weight: bold; text-align: center;">频率</td>
			</tr>
			<tr>
				<td>化学危险</td>
				<td style="text-align: right;">19</td>
			</tr>
			<tr>
				<td>窒息危险</td>
				<td style="text-align: right;">15</td>
			</tr>
			<tr>
				<td>燃烧危险</td>
				<td style="text-align: right;">12</td>
			</tr>
			<tr>
				<td>跌落危险</td>
				<td style="text-align: right;">12</td>
			</tr>
			<tr>
				<td>火灾危险</td>
				<td style="text-align: right;">10</td>
			</tr>
			<tr>
				<td>撕裂危险</td>
				<td style="text-align: right;">10</td>
			</tr>
			<tr>
				<td>其他危险*</td>
				<td style="text-align: right;">45</td>
			</tr>
		</table>
		<span>*其他危险包括割伤危险，电击危险，截留危险，受伤危险，微生物危险，产品安全，勒颈危险，倾翻危险，违反许可证要求，违反消费类化学品及容器法规，违反婴儿床、摇篮及童车法规，违反可燃性法规，以及违反包装盒标签要求，且违规频率低于10的情况。</span>
		<br />
		<center><img src="https://s3.asiainspection.com/newsletters/2017-12-Reg-Recap-CN/Canada_recall_categories_CN.png" style="width:90%; max-width:850px;"></center>
		<table>
			<tr>
				<td style="font-weight: bold; text-align: center;">产品类别</td>
				<td style="font-weight: bold; text-align: center;">频率</td>
			</tr>
			<tr>
				<td>玩具及儿童产品</td>
				<td style="text-align: right;">22</td>
			</tr>
			<tr>
				<td>体育用品/器材</td>
				<td style="text-align: right;">12</td>
			</tr>
			<tr>
				<td>化妆品/美体</td>
				<td style="text-align: right;">10</td>
			</tr>
			<tr>
				<td>织物/衣料/服装/家纺</td>
				<td style="text-align: right;">9</td>
			</tr>
			<tr>
				<td>幼儿及少年产品</td>
				<td style="text-align: right;">7</td>
			</tr>
			<tr>
				<td>其他品类^</td>
				<td style="text-align: right;">42</td>
			</tr>
		</table>
		<span>^其他品类包括蜡烛及燃烧类产品与配件，儿童用品，电脑/音频/视像/其他电子产品及配件，消费类化学品，食物接触物料，鞋类，家具，家电（吹风机，熨斗等），家居用品（非食品接触类），珠宝，手表或其他时尚配饰，照明器材，工具及硬件，且出现危险的频率均低于8。</span>
		<p><a href="https://s3.asiainspection.com/newsletters/2017-12-Reg-Recap-CN/Canada_recall.doc" terget="_blank">在这里下载完整的报告</a></p>
	</div><br />
</div>

<div class="recapSection">
	<a name="dec2017-us-ftc-updated-registration-clothing-fabric-fur-labels" class="bookmark"></a>
	<strong>美国联邦贸易委员会更新了衣物、织物和皮草标签的登记识别码网站</strong>
	<p>2017年9月15号，美国联邦贸易委员会（FTC）<a href="https://rn.ftc.gov/" target="_blank">宣布登记识别码网站</a>已更新，允许实时为申请者批准代码以及提醒可能的误差，以避免不必要的延误。</p>
	<a href="/regulatory-updates/December-2017/dec2017-us-ftc-updated-registration-clothing-fabric-fur-labels" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>在现行规则之下，大多数衣物、织物和皮毛产品被要求具备标明生产商或其他负责处理该商品的业务单元的标签。更新后的网页允许识别码实时生效，使得企业更容易获得识别码，避免标签上标注长长的公司名称。更新后的识别码网站将为相关企业简化申请流程，提高识别码服务的效率。</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="dec2017-us-cpsc-publishes-final-decisions-regarding-zen-magnets" class="bookmark"></a>
	<strong>美国消费产品安全委员会发布关于Zen Magnets产品的最终决定和安排</strong>
	<p>2017年10月26号，美国消费产品安全委员会发布了关于Zen Magnets产品的<a href="https://www.cpsc.gov/Newsroom/News-Releases/2018/CPSC-Issues-Decision-on-Zen-Magnets" target="_blank">最终决定和安排</a>，裁定Zen Magnets具有实质性危险。</p>
	<a href="/regulatory-updates/December-2017/dec2017-us-cpsc-publishes-final-decisions-regarding-zen-magnets" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>在最终决定和安排中，美国消费产品安全委员会裁定Zen Magnets具有瑕疵，且此类瑕疵对公众会造成实质性伤害。同时，他们发现，在合理的可预见范围内，儿童会吞咽Zen Magnets，标签上的警告无法减轻危险。吞咽超过两块磁铁后，磁铁会互相吸引，或与其他被吞咽的金属物质相吸引，造成严重伤害甚至死亡。因此，任何在美国境内销售、提供销售、生产、分配或进口Zen Magnets的行为都属违反联邦法律。</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="dec2017-health-canada-amend-toy-regulations-magnetic-toys-standards" class="bookmark"></a>
	<strong>加拿大卫生部提议修改玩具法规中的磁性玩具标准</strong>
	<p>2017年11月4号，加拿大卫生部通<a href="http://gazette.gc.ca/rp-pr/p1/2017/2017-11-04/html/reg1-eng.php" target="_blank">过加拿大公</a>报提议修改SOR/2011-17玩具法规。由于磁性玩具的吞咽危险可导致严重的肠组织损伤和长期的健康损害，修订案提议增加此类玩具标准。</p>
	<a href="/regulatory-updates/December-2017/dec2017-health-canada-amend-toy-regulations-magnetic-toys-standards" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>修订案中的重要部分与ASTM F963-16几乎一致，总结如下：</p>
		<ol>
			<li>更新释义</li>
			<li>增加对磁性玩具的要求：任何磁性玩具或磁性部件的磁通量指数应小于0.5 T2mm2，以下磁性部件除外：</li>
			<ol style="list-style-type: lower-alpha; padding-left: 15px;">
				<li>支持磁性玩具中发动机、继电器、扬声器或其他电子部件运作必备的，并且其磁性属性不属于玩具娱乐性或学习模式组成部分的磁性部件；</li>
				<li>磁性及电力教育类实验工具的组成部分。此类部件使用者须年满8周岁，并且附有相应的警示标签。</li>
			</ol>
			<li>增加磁通量指数的测试方法</li>
			<li>增加用于教育类实验的磁性玩具的警告要求</li>
		</ol>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="asia_news" class="bookmark"></a>
	<h2>亚洲回顾</h2>
</div>

<div class="recapSection">
	<a name="dec2017-philippine-act-set-provisions-safety-labels-certain-hazardous-substances-children-toys-stationery-children-care-products" class="bookmark"></a>
	<strong>菲律宾通过法案，对儿童玩具、文教用品和儿童护理用品的安全标签和某些有害化学物质设置规定</strong>
	<p>2017年10月3号，菲律宾共和国众议院代表委员会通过了以下4项关于儿童玩具、文教用品和儿童护理用品安全标签和有害化学物质规定的众议院法案：</p>
	<ul style="list-style-type: none; padding-left: 15px;">
		<li>-&nbsp;&nbsp;&nbsp;众议院法案0321，规范含有有害化学物质的儿童玩具、文教用品、儿童护理用品及其他相关产品的进口、生产、分配和销售，并对违反规定者设定处罚</li>
		<li>-&nbsp;&nbsp;&nbsp;众议院法案02349，规范玩具和游戏用品安全标签，并拨款作为经费</li>
		<li>-&nbsp;&nbsp;&nbsp;众议院法案03043，禁止向三岁及以下儿童销售含有邻苯二甲酸盐的玩具和用品</li>
		<li>-&nbsp;&nbsp;&nbsp;众议院法案03943，规范含有有害化学物质的儿童玩具、文教用品、儿童护理用品和其他相关产品的进口、生产、分配和销售，并对违反规定者设定处罚</li>
	</ul>
	<a href="/regulatory-updates/December-2017/dec2017-philippine-act-set-provisions-safety-labels-certain-hazardous-substances-children-toys-stationery-children-care-products" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>四项获通过法案的关键要求总结如下：</p>
		<table>
			<tr>
				<td style="font-weight: bold; text-align: center;">产品</td>
				<td style="font-weight: bold; text-align: center;">要求</td>
			</tr>
			<tr>
				<td>儿童护理用品</td>
				<td>任何用于辅助睡眠、娱乐、保健、喂食或被儿童（小于14岁）用于吮吸的产品。</td>
			</tr>
			<tr>
				<td>儿童玩具</td>
				<td>任何被预期用于14岁以下儿童玩耍的产品或材料。</td>
			</tr>
			<tr>
				<td>学生用品</td>
				<td>被儿童用于书写、画画、涂色、标注、粘合或擦除并易于被置入口中或舔舐的工具。</td>
			</tr>
			<tr>
				<td>文教用品</td>
				<td>用于教育目的且不易被儿童放入口中的物件和用品。</td>
			</tr>
		</table>
		<br />
		<p>在法案生效前三个月内，菲律宾食品及药品监督管理局（FDA）将准备一个可能对儿童造成伤亡的被禁化学成分和物质清单。以下化学物质将包含在清单内：</p>
		<table>
			<tr>
				<td style="text-align: center; font-weight: bold;">条目</td>
				<td style="text-align: center; font-weight: bold;">化学物质</td>
				<td style="text-align: center; font-weight: bold;">测试方法</td>
			</tr>
			<tr>
				<td>1</td>
				<td>有毒金属:<br />
				<ol>
					<li>锑</li>
					<li>砷</li>
					<li>镉</li>
					<li>铬</li>
					<li>铅</li>
					<li>汞</li>
				</ol></td>
				<td>PNS/ISO 8124-3中辨别出的重金属，要求符合以下任一标准：<br />
				<ol>
					<li>ISO 8124-3, 或</li>
					<li>EN-71-3, 或</li>
					<li>ASTM F963</li>
				</ol></td>
			</tr>
			<tr>
				<td>2</td>
				<td>邻苯二甲酸盐:<br />
				<ol>
					<li>邻苯二甲酸二异辛酯 (DEHP)</li>
					<li>邻苯二甲酸二丁酯 (DBP)</li>
					<li>邻苯二甲酸丁苄酯 (BBP)</li>
					<li>邻苯二甲酸二异壬酯 (DINP)</li>
					<li>邻苯二甲酸二异癸酯 (DIDP)</li>
					<li>邻苯二甲酸二正辛酯 (DnOP)</li>
				</ol></td>
				<td>邻苯二甲酸盐需符合以下任一要求：<br />
				<ol>
					<li>美国消费品安全改进法(CPSIA)第108节</li>
					<li>欧洲REACH法规1907/2006 Annex XVII第52条</li>
				</ol></td>
			</tr>
			<tr>
				<td>3</td>
				<td><b>双酚A</b>(BPA)</td>
				<td>未标明</td>
			</tr>
		</table>
		<span>(参见<a href="https://www.asiainspection.com/regulatory-updates/September-2016/philippines-school-supplies" target="_blank">法规与监管回顾：2016年9月-1</a>)</span>
		<br />
		<p>以下任何玩具或游戏用品应当在包装上放置合适的警告标签：</p>
		<ol>
			<li>预期被14岁以下儿童使用的小部件</li>
			<li>任何预期被14岁以下儿童使用的大理石制品</li>
			<li>任何预期被10岁以下儿童使用的乳胶气球或直径等于或小于1.75英寸的球类</li>
		</ol>
		<p>警告标签上的警示语句需为英语或菲律宾语或者两种语言。</p>
		<p>(参见<a href="https://www.asiainspection.com/regulatory-updates/September-2016/philippines-toy-labeling" target="_blank">法规与监管回顾: 2016年9月-2</a>)</p>
	</div><br />
</div>
