<!-- { "Title":"2016年12月发行", "PublishDate":"2017-01-17", "Description":"中国法规与监管回顾" }-->
<ol style="margin-top:10px;">
    <li style="margin-bottom:10px;"><a href="#section_protective">个体防护装备</a>
    <li style="margin-bottom:10px;"><a href="#section_electrical">电子电气产品</a>
    <li style="margin-bottom:10px;"><a href="#section_food">食品及与食品接触的物品</a>
    <li style="margin-bottom:10px;"><a href="#section_supervision">市场监督</a>
</ol>
<hr />

<a name="section_protective" class="bookmark"></a>
<h2>个体防护装备</h2>

    <a name="national-standard-personal-protective-equipment" class="bookmark"></a>
    <strong>国家标准GB 32166.1-2016《个体防护装备》将于2017年3月1日实行</strong>
    <p>由中国标准化研究院、上海市安全生产科学研究所、霍尼韦尔安全防护设备(上海)有限公司、台州市裕源安全防护用品有限公司、广州计量检测技术研究院起草的<a href="http://www.sac.gov.cn/was5/web/search?channelid=97779&templet=gjcxjg_detail.jsp&searchword=STANDARD_CODE=%27GB%2032166.1-2016%27&XZ=Q&STANDARD_CODE=GB%2032166.1-2016" target="_blank">GB 32166.1-2016个体防护装备标准</a>将于2017年3月1日实行。</p>
    <a href="javascript://" class="learnmore">更多</a><br />
    <div class="moretext">
        <p>本标准规定了职业眼面部防护具的分类、基本要求和特殊要求。适用于在职业眼面部防护中用于保护眼部或面部安全的平光防护具或部件，规定了以下要求:</p>
        <ol>
            <li>自动变光焊接滤光镜的结构</li>
            <li>光学性能</li>
            <li>非光学性能</li>
            <li>测试方法</li>
            <li>检验规则</li>
            <li>包装</li>
            <li>标识</li>
            <li>储运</li>
        </ol>
        <p>本标准适用于安装在焊接工防护面罩上的自动变光焊接滤光镜,可预防有害强光、紫外辐射和红外辐射对眼部的伤害。</p>
    </div><br />

<a name="section_electrical" class="bookmark"></a>
<h2>电子电气产品</h2>

    <a name="national-standard-lamps" class="bookmark"></a>
    <strong>国家标准GB7000.1-2015《灯具》标准将于2017年1月1日实施</strong>
    <p>根据国家标准化管理委员会发布的中华人民共和国<a href="http://www.sac.gov.cn/gzfw/ggcx/gjbzgg/201543/" target="_blank">国家标准公告2015年第43号</a>，GB7000.1-2015《灯具 第1部分：一般要求与试验》（以下简称“新版标准”）已于2015年12月31日发布，2017年01月01日实施，实施之日起替代GB7000.1-2007（以下简称“旧版标准”）</p>
    <a href="javascript://" class="learnmore">更多</a><br />
    <div class="moretext">
        <p>根据中国质量认证中心(CQC)，灯具类产品强制性认证执行<a href="http://www.cqc.com.cn/www/chinese/c/2016-11-02/540248.shtml" target="_blank">新版标准的有关要求通知</a>如下：</p>
        <ol>
            <li>自本通知发布之日起至2017年01月01日，申请人可自愿选择新版或旧版标准进行认证，如选择旧版，应在2017年01月01日前完成相关的认证流程。2017年01月01日起，CQC将采用新版标准实施认证并出具新版标准认证证书，不再颁发旧版标准认证证书。</li>
            <li>对于已按旧版标准获证的产品，旧版标准认证证书持有人应于本通知发布之日起，标准实施日期后第一次跟踪检查结束前，向CQC提交转换新版标准认证证书的申请；所有旧版标准认证证书转换工作最迟于2017年12月31日完成，逾期未完成，CQC将暂停旧版标准认证证书。2018年3月31日后仍未完成转换的认证证书，CQC将撤销旧版标准认证证书。</li>
            <li>对于2017年01月01日前已经出厂、投放市场并且不再生产的获证产品，无需进行证书转换。</li>
        </ol>
    </div><br />
    
    <a name="standardization-lithium-ion-batteries" class="bookmark"></a>
    <strong>锂离子电池综合标准化技术体系</strong>
    <p>为促进锂离子电池产业的健康有序发展，进一步提升标准对产业发展的指导、规范和引领作用，标准化机构技术组织和相关单位等制定了<a href="http://www.miit.gov.cn/n1146295/n1652858/n1652930/n3757016/c5348650/content.html" target="_blank">《锂离子电池综合标准化技术体系》</a>，促进锂离子电池产业的健康有序发展。</p>
    <a href="javascript://" class="learnmore">更多</a><br />
    <div class="moretext">
        <p>据工信部11月9日消息，为促进锂离子电池产业的健康有序发展，进一步提升标准对产业发展的指导、规范和引领作用，工信部组织相关单位、标准化机构和技术组织等制定了《锂离子电池综合标准化技术体系》。</p>
        <p>为了提高中国市场的锂离子电池的质量达到国际水平，工信部计划推出更多的锂离子电池标准。 标准总数将从目前的50个增加到2020年的231个。同时，将会检阅和更新当前的强制性标准，以便为公民及其财产提供更好的保护。概要如下:</p>
        <table>
            <tr>
                <td></td>
                <td>国家强制性标准数量</td>
                <td>工业标准数量</td>
            </tr>
            <tr>
                <td>当前</td>
                <td>26</td>
                <td>24</td>
            </tr>
            <tr>
                <td>预计新草稿</td>
                <td>43</td>
                <td>138</td>
            </tr>
            <tr>
                <td>总计</td>
                <td>69</td>
                <td>162</td>
            </tr>
        </table>
    </div><br />

<a name="section_food" class="bookmark"></a>
<h2>食品及与食品接触的物品</h2>

    <a name="update-of-food-contact-material-standard" class="bookmark"></a>
    <strong>食品接触材料标准的更新</strong>
    <p>于2016年11月18日，中华人民共和国国家卫生和计划生育委员会发布2016年第15号公告。内容关于食品安全国家标准的更新。</p>
    <a href="javascript://" class="learnmore">更多</a><br />
    <div class="moretext">
        <p>根据《中华人民共和国食品安全法》和《食品安全国家标准管理办法》规定，经食品安全国家标准审评委员会通过审查，委员会通过了53项食品安全国家标准，当中包括:</p>
        <table>
            <tr>
                <td><b>标准号</b></td>
                <td><b>标题</b></td>
                <td><b>实施日期</b></td>
            </tr>
            <tr>
                <td>GB 4806.1-2016</td>
                <td>食品安全国家标准 食品接触材料及制品通用安全要求</td>
                <td>2017年10月19日</td>
            </tr>
            <tr>
                <td>GB 4806.3-2016</td>
                <td>食品安全国家标准 搪瓷制品</td>
                <td>2017年4月19日</td>
            </tr>
            <tr>
                <td>GB 4806.4-2016</td>
                <td>食品安全国家标准 陶瓷制品</td>
                <td>2017年4月19日</td>
            </tr>
            <tr>
                <td>GB 4806.5-2016</td>
                <td>食品安全国家标准 玻璃制品</td>
                <td>2017年4月19日</td>
            </tr>
            <tr>
                <td>GB 4806.6-2016</td>
                <td>食品安全国家标准 食品接触用塑料树脂</td>
                <td>2017年4月19日</td>
            </tr>
            <tr>
                <td>GB 4806.7-2016</td>
                <td>食品安全国家标准 食品接触用塑料材料及制品</td>
                <td>2017年4月19日</td>
            </tr>
            <tr>
                <td>GB 4806.8-2016</td>
                <td>食品安全国家标准 食品接触用纸和纸板材料及制品</td>
                <td>2017年4月19日</td>
            </tr>
            <tr>
                <td>GB 4806.9-2016</td>
                <td>食品安全国家标准 食品接触用金属材料及制品</td>
                <td>2017年4月19日</td>
            </tr>
            <tr>
                <td>GB 4806.10-2016</td>
                <td>食品安全国家标准 食品接触用涂料及涂层</td>
                <td>2017年4月19日</td>
            </tr>
            <tr>
                <td>GB 4806.11-2016</td>
                <td>食品安全国家标准 食品接触用橡胶材料及制品</td>
                <td>2017年4月19日</td>
            </tr>
            <tr>
                <td>GB 4789.15-2016</td>
                <td>食品安全国家标准 食品微生物学检验 霉菌和酵母计数</td>
                <td>2017年4月19日</td>
            </tr>
            <tr>
                <td>GB 5009.156-2016</td>
                <td>食品安全国家标准 食品接触材料及制品迁移试验预处理方法通则</td>
                <td>2017年4月19日</td>
            </tr>
            <tr>
                <td>GB 9685-2016</td>
                <td>食品安全国家标准 食品接触材料及制品用添加剂使用标准</td>
                <td>2017年10月19日</td>
            </tr>
            <tr>
                <td>GB 14934-2016</td>
                <td>食品安全国家标准 消毒餐（饮）具</td>
                <td>2017年4月19日</td>
            </tr>
            <tr>
                <td>GB 31604.11-2016 至 GB 31604.49-2016<sup>1</sup></td>
                <td>食品安全国家标准 食品接触材料及制品</td>
                <td>2017年4月19日</td>
            </tr>
        </table>
        <p><sup>1</sup> 共有39份标准，包括不同化学的测定方法，例如重金属，邻苯二甲酸酯和二氧化硫等。</p>
    </div><br />

<a name="section_supervision" class="bookmark"></a>
<h2>市场监督</h2>

    <a name="september-2016-product-testing-results" class="bookmark"></a>
    <strong>2016年9至11月各省的产品抽查结果</strong>
    <p>为加强产品质量监督，各省质量技术监督对不同的消费品（当中包括儿童产品，电器产品，服装，纺织品，鞋类，家具及与食品接触的物品等）进行了质量监督抽查，并发布抽查结果.</p>
    <a href="javascript://" class="learnmore">更多</a><br />
    <div class="moretext">
        <p>北京市质量技术监督局对以下产品进行了抽查，并于2016年11月发布以下产品的抽查结果：</p>
        <table>
            <tr>
                <td><b>产品</b></td>
                <td><b>总批次</b></td>
                <td><b>不合格项目</b></td>
                <td><b>不合格之百分比</b></td>
            </tr>
            <tr>
                <td>儿童及婴幼儿服装</td>
                <td>12</td>
                <td>pH值</td>
                <td>8.3%</td>
            </tr>
            <tr>
                <td>床上用品</td>
                <td>15</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>木家具产品</td>
                <td>80</td>
                <td>
                 - 推拉构件强度<br />
                 - 耐湿热<br />
                 - 甲醛释放量<br />
                 - 耐香烟灼烧<br />
                 - 稳定性<br />
                 - 木工要求<br />
                </td>
                <td>6.25%</td>
            </tr>
        </table>

        <p>山西省质量技术监督局对以下产品进行了抽查，并于2016年11月发布以下产品的抽查结果：</p>
        <table>
            <tr>
                <td><b>产品</b></td>
                <td><b>总批次</b></td>
                <td><b>不合格项目</b></td>
                <td><b>不合格之百分比</b></td>
            </tr>
            <tr>
                <td>儿童服装</td>
                <td>40</td>
                <td>甲醛含量</td>
                <td>2.5%</td>
            </tr>
            <tr>
                <td>女裤</td>
                <td>50</td>
                <td>
                 - 纤维含量<br />
                 - 后裆接缝强力<br />
                 - 耐碱汗渍色牢度<br />
                 - 耐酸汗渍色牢度<br />
                 - 耐水色牢度<br />
                </td>
                <td>48%</td>
            </tr>
            <tr>
                <td>工作服</td>
                <td>20</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>皮鞋</td>
                <td>40</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>被套</td>
                <td>50</td>
                <td>pH值</td>
                <td>2%</td>
            </tr>
            <tr>
                <td>枕巾</td>
                <td>40</td>
                <td>纤维含量</td>
                <td>1.5%</td>
            </tr>
        </table>

        <p>辽宁省质量技术监督局对以下产品进行了抽查，并于2016年11月发布以下产品的抽查结果：</p>
        <table>
            <tr>
                <td><b>产品</b></td>
                <td><b>总批次</b></td>
                <td><b>不合格项目</b></td>
                <td><b>不合格之百分比</b></td>
            </tr>
            <tr>
                <td>电热毯</td>
                <td>100</td>
                <td>
                 - 标志和说明<br />
                 - 输入功率和电流<br />
                 - 耐潮湿<br />
                 - 泄漏电流<br />
                 - 电气强度<br />
                </td>
                <td>14%</td>
            </tr>
            <tr>
                <td>课业簿册</td>
                <td>30</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>胶粘剂</td>
                <td>15</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>人造板</td>
                <td>30</td>
                <td>甲醛释放量</td>
                <td>3.3%</td>
            </tr>
            <tr>
                <td>儿童读物产品</td>
                <td>50</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>床上用品</td>
                <td>30</td>
                <td>
                 - 耐酸汗渍色牢度<br />
                 - 耐碱汗渍色牢度<br />
                <td>6.6%</td>
            </tr>
            <tr>
                <td>软体家具沙发</td>
                <td>15</td>
                <td>产品用料</td>
                <td>6.6%</td>
            </tr>
            <tr>
                <td>学生校服产品</td>
                <td>45</td>
                <td>pH值</td>
                <td>17.7%</td>
            </tr>
        </table>

        <p>上海质量技术监督局对以下产品进行了抽查，并于2016年11月发布以下产品的抽查结果：</p>
        <table>
            <tr>
                <td><b>产品</b></td>
                <td><b>总批次</b></td>
                <td><b>不合格项目</b></td>
                <td><b>不合格之百分比</b></td>
            </tr>
            <tr>
                <td>旅游鞋</td>
                <td>80</td>
                <td>
                 - 成鞋耐折性能<br />
                 - 外底耐磨性能<br />
                 - 外底与外中底粘合强度<br />
                </td>
                <td>5%</td>
            </tr>
            <tr>
                <td>电风扇</td>
                <td>53</td>
                <td>
                 - 输出风量<br />
                 - 能效等级<br />
                </td>
                <td>7.5%</td>
            </tr>
            <tr>
                <td>塑料饮水壶、杯产品</td>
                <td>46</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>食品用塑料容器</td>
                <td>84</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>手机电池</td>
                <td>20</td>
                <td>
                 - 标识<br />
                 - 警示说明<br />
                </td>
                <td>10%</td>
            </tr>
            <tr>
                <td>平板电脑</td>
                <td>20</td>
                <td>
                 - 1GHz以下辐射骚扰<br />
                 - 耐异常热<br />
                </td>
                <td>10%</td>
            </tr>
            <tr>
                <td>睡衣家居服</td>
                <td>40</td>
                <td>纤维含量</td>
                <td>2.5%</td>
            </tr>
            <tr>
                <td>水泵产品</td>
                <td>53</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>手机充电器</td>
                <td>22</td>
                <td>耐异常热</td>
                <td>4.5%</td>
            </tr>
            <tr>
                <td>耳机产品</td>
                <td>40</td>
                <td>频率响应</td>
                <td>12.5%</td>
            </tr>
            <tr>
                <td>提包产品</td>
                <td>40</td>
                <td>
                 - 振荡冲击试验<br />
                 - 标识<br />
                 - 缝合强度<br />
                </td>
                <td>50%</td>
            </tr>
        </table>

        <p>浙江省质量技术监督局对以下产品进行了抽查，并于2016年11月发布以下产品的抽查结果：</p>
        <table>
            <tr>
                <td><b>产品</b></td>
                <td><b>总批次</b></td>
                <td><b>不合格项目</b></td>
                <td><b>不合格之百分比</b></td>
            </tr>
            <tr>
                <td>儿童及婴幼儿服装等产品</td>
                <td>36</td>
                <td>
                 - 纤维含量<br />
                 - pH值<br />
                 - 絮用纤维原料<br />
                </td>
                <td>5.56%</td>
            </tr>
            <tr>
                <td>木家具产品</td>
                <td>28</td>
                <td>木工要求</td>
                <td>7.2%</td>
            </tr>
            <tr>
                <td>学生服装</td>
                <td>13</td>
                <td>水洗尺寸变化率</td>
                <td>14.4%</td>
            </tr>
            <tr>
                <td>晴雨伞</td>
                <td>17</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>太阳镜</td>
                <td>21</td>
                <td>
                 - 可见光谱<br />
                 - 光透射比<br />
                </td>
                <td>9.5%</td>
            </tr>
            <tr>
                <td>胶合板</td>
                <td>7</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
        </table>

        <p>江西省质量技术监督局对以下产品进行了抽查，并于2016年11月发布以下产品的抽查结果：</p>
        <table>
            <tr>
                <td><b>产品</b></td>
                <td><b>总批次</b></td>
                <td><b>不合格项目</b></td>
                <td><b>不合格之百分比</b></td>
            </tr>
            <tr>
                <td>童车</td>
                <td>10</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>玩具</td>
                <td>10</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>电风扇</td>
                <td>10</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>卫生巾</td>
                <td>20</td>
                N/A
                <td>0%</td>
            </tr>
            <tr>
                <td>休闲服装</td>
                <td>20</td>
                <td>纤维含量</td>
                <td>25%</td>
            </tr>
            <tr>
                <td>软体沙发</td>
                <td>20</td>
                <td>
                 - 木制件用料要求<br />
                 - 泡沫塑料表观密度<br />
                </td>
                <td>15%</td>
            </tr>
        </table>

        <p>山东省质量技术监督局对以下产品进行了抽查，并于2016年11月发布以下产品的抽查结果：</p>
        <table>
            <tr>
                <td><b>产品</b></td>
                <td><b>总批次</b></td>
                <td><b>不合格项目</b></td>
                <td><b>不合格之百分比</b></td>
            </tr>
            <tr>
                <td>儿童及婴幼儿服装</td>
                <td>40</td>
                <td>
                 - 纤维含量<br />
                 - pH值<br />
                </td>
                <td>7.5%</td>
            </tr>
            <tr>
                <td>木制家具</td>
                <td>40</td>
                <td>甲醛释放量</td>
                <td>5%</td>
            </tr>
            <tr>
                <td>铅酸蓄电池</td>
                <td>20</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>童车</td>
                <td>14</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>校服产品</td>
                <td>60</td>
                <td>
                 - 纤维含量<br />
                 - 纰裂<br />
                 - 使用说明<br />
                </td>
                <td>15%</td>
            </tr>
        </table>

        <p>深圳市质量技术监督局对以下产品进行了抽查，并于2016年11月发布以下产品的抽查结果：</p>
        <table>
            <tr>
                <td><b>产品</b></td>
                <td><b>总批次</b></td>
                <td><b>不合格项目</b></td>
                <td><b>不合格之百分比</b></td>
            </tr>
            <tr>
                <td>服装产品</td>
                <td>169</td>
                <td>
                 - 耐水色牢度<br />
                 - 耐汗渍色牢度<br />
                </td>
                <td>4.1%</td>
            </tr>
            <tr>
                <td>洗衣机</td>
                <td>15</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>电风扇</td>
                <td>36</td>
                <td>对触及带电部件的防护、稳定性和机械危险</td>
                <td>8.3%</td>
            </tr>
        </table>
    </div><br />

<br /><p><i>本概述并不旨在穷举也不应被解释为法律意见。</i></p>