<!-- { "Title":"法规与监管回顾：2018年1月发布", "PublishDate":"2018-01-29", "Description":"2017年12月4号，消费品安全委员会（CPSC）通过联邦公报发布了一项直接最终法规（16 CFR 1112和1250） 82 FR 57119, 关于最新版玩具安全标准ASTM F963-17消费者安全法规的执行。" } -->
<div class="recapSectionHeader">
	<ol style="margin-top:10px;">
		<li style="margin-bottom:10px;"><a href="#north_america_news">北美回顾</a></li>
		<li style="margin-bottom:10px;"><a href="#australia_news">澳大利亚回顾</a></li>
	</ol>
	<hr />
</div>

<div class="recapSectionHeader">
	<a name="north_america_news" class="bookmark"></a>
	<h2>北美回顾</h2>
</div>

<div class="recapSection">
	<a name="jan2018-us-cpsc-issued-final-rule-implementation-latest-toy-safety-standards-astm-f963-17" class="bookmark"></a><strong>美国消费品安全委员会发布直接最终法规，执行最新玩具安全标准ASTM F963-17</strong>
	<p>2017年12月4号，消费品安全委员会（CPSC）通过联邦公报发布了一项直接最终法规（16 CFR 1112和1250）<a href="https://www.gpo.gov/fdsys/pkg/FR-2017-12-04/pdf/2017-26009.pdf" target="_blank">82 FR 57119</a>, 关于最新版玩具安全标准ASTM F963-17消费者安全法规的执行。</p>
	<a href="/regulatory-updates/January-2018/jan2018-us-cpsc-issued-final-rule-implementation-latest-toy-safety-standards-astm-f963-17" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>2017年8月24号，新版玩具安全标准ASTM F963-17宣告发布。2017年9月1号，消费品安全委员会（CPSC）收到美国材料试验学会（ASTM）的标准更新发布通知。（查看 <a href="https://www.asiainspection.com/regulatory-updates/September-2017/sept2017-overview-astm-f963-17-toy-safety" target="_blank">法规与监管回顾:2017年9月发布</a>)</p>
		<p>近期，美国消费品安全委员会发布了直接最终法规，除其中一项条款外，确认了其余最新安全标准的正式执行。ASTM F963-17新增了关于发声玩具测试方式的新条文。然而，由于该条文将推/拉玩具从A计权最大声压级要求中剔除，而被认为降低了安全标准。因此，CPSC决定此项条文不予纳入消费品安全委员会强制标准，豁免条款不获通过。</p>
		<p>与此同时，修订后的16 CFR 1112要求ASTM F963-17中部分章节需由第三方实验室测试认定，因此，消费品安全委员会只接受具有资质的第三方检测机构为特定安全标准执行测试。此外，16 CFR 1250被纳入美国联邦法规并提出玩具产品必须符合<b>ASTM F963-17</b>规定。</p>
		<p>确认执行最新玩具安全标准的直接最终法规如在2018年1月3号前没有收到重要反对意见，将自2018年2月28号起生效。</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="jan2018-epa-releases-renewal-formaldehyde-emissions-non-mandatory-consensus-standard-composite-wood-products" class="bookmark"></a><strong>美国环境保护局更新复合木材产品非强制性共识标准中规定的甲醛排放量</strong>
	<p>2017年10月25号，美国环境保护局通过联邦公报发布了一项直接最终法规<a href="https://www.gpo.gov/fdsys/pkg/FR-2017-10-25/pdf/2017-23062.pdf" target="_blank">82 FR 49287</a>，关于复合木材非强制性共识标准中规定的甲醛排放量。</p>
	<a href="/regulatory-updates/January-2018/jan2018-epa-releases-renewal-formaldehyde-emissions-non-mandatory-consensus-standard-composite-wood-products" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>法规中多项共识标准都被更新、作废或撤销。重要的更新总结如下：</p>
		<table>
			<tr>
				<td style="text-align: center; font-weight: bold;">更新前的共识标准</td>
				<td style="text-align: center; font-weight: bold;">更新后的共识标准</td>
				<td style="text-align: center; font-weight: bold;">变化</td>
			</tr>
			<tr>
				<td>ANSI/AITC A190.1–2002胶合木结构美国国家标准</td>
				<td>ANSI A190.1–2017 木制品- 胶合木结构</td>
				<td>更新</td>
			</tr>
			<tr>
				<td>ANSI A208.1–2009 刨花板美国国家标准</td>
				<td>ANSI A208.1–2016 刨花板美国国家标准</td>
				<td>更新</td>
			</tr>
			<tr>
				<td>ANSI A208.2–2009 室内用中密度纤维板美国国家标准</td>
				<td>ANSI A208.2–2016 室内用中密度纤维板美国国家标准</td>
				<td>更新</td>
			</tr>
			<tr>
				<td>ANSI–HPVA HP–1–2009 硬木材和装饰胶合板美国国家标准</td>
				<td>ANSI–HPVA HP–1–2016 硬木材和装饰胶合板美国国家标准</td>
				<td>更新</td>
			</tr>
			<tr>
				<td>ASTM D5055–05预制工字形木搁栅结构性能确认与检测标准细则</td>
				<td>ASTM D5055–16预制工字形木搁栅结构性能确认与检测标准细则</td>
				<td>更新</td>
			</tr>
			<tr>
				<td>ASTM D5456–06 结构复合木材产品的评估标准细则</td>
				<td>ASTM D5456–14b结构复合木材产品的评估标准细则</td>
				<td>更新</td>
			</tr>
			<tr>
				<td>ASTM D5582–00 使用干燥器判定木制品甲醛含量的标准测试方法</td>
				<td>ASTM D5582–14使用干燥器判定木制品甲醛含量的标准测试方法</td>
				<td>更新</td>
			</tr>
			<tr>
				<td>ASTM D6007–02 在小密闭空间判定木制品空气中甲醛浓度的标准测试方法</td>
				<td>ASTM D6007–14在小密闭空间判定木制品空气中甲醛浓度的标准测试方法</td>
				<td>更新</td>
			</tr>
			<tr>
				<td>ASTM E1333–10 在大空间判定木制品空气中甲醛浓度与排放速率的标准测试方法</td>
				<td>ASTM E1333–14 在大空间判定木制品空气中甲醛浓度与排放速率的标准测试方法</td>
				<td>更新</td>
			</tr>
			<tr>
				<td>BS EN 717–2: 1995 人造板材 – 甲醛释放量评定 – 第二部分：运用气体分析法评定甲醛释放量</td>
				<td>BS EN ISO 12460–3:2015人造板材 – 甲醛释放量评定 – 第三部分：运用气体分析法评定甲醛释放量</td>
				<td>已被撤销，被BS EN ISO 12460– 3:2015取代</td>
			</tr>
			<tr>
				<td>BS EN 120: 1992 人造板材。甲醛含量评定—穿孔萃取法</td>
				<td>BS EN ISO 12460–5:2015人造板材--甲醛含量评定。第五部分：萃取法（又称穿孔法）</td>
				<td>已被撤销,被BS EN ISO 12460– 5:2015取代</td>
			</tr>
			<tr>
				<td>JIS A1460:2001(E) 建筑板材甲醛排放量评定 - 干燥器法</td>
				<td>JIS A1460:2015 建筑板材甲醛排放量评定-干燥器法</td>
				<td>更新</td>
			</tr>
			<tr>
				<td>PS–1–07 结构胶合板</td>
				<td>PS–1–09 结构胶合板</td>
				<td>更新</td>
			</tr>
			<tr>
				<td>PS–2–04 人造结构板材性能标准</td>
				<td>PS–2–10木基结构板材性能标准</td>
				<td>更新</td>
			</tr>
		</table>
		<br />
		<span>最终法规在2017年已在12月11号生效。</span>
	</div><br />
</div>

<div class="recapSection">
	<a name="jan2018-us-senate-raised-limit-asbestos-bill" class="bookmark"></a><strong>美国参议院再次提出限制石棉法案</strong>
	<p>2017年11月2号，美国参议员Merkley 提出<a href="https://www.congress.gov/bill/115th-congress/senate-bill/2072/all-info" target="_blank">参议院法案 No. S.2072 (the Alan Reinstein Ban Asbestos Now Act of 2017</a>)。该法案提议在《有毒物品控制法》（TSCA）范围内禁止生产、加工、使用、分销和处理石棉或含石棉产品。 </p>
	<a href="/regulatory-updates/January-2018/jan2018-us-senate-raised-limit-asbestos-bill" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>该法案主张任何人不得生产、加工、使用、分销或处理任何形态的石棉或石棉产品。法令在正式颁布18个月后生效。符合以下要求的情况则不受此法案限制：</p>
		<ul style="list-style-type: none; padding-left: 15px;">
			<li>-&nbsp;&nbsp;&nbsp;石棉用于保护国家安全利益</li>
			<li>-&nbsp;&nbsp;&nbsp;在预期用途上无合理可替代物</li>
			<li>-&nbsp;&nbsp;&nbsp;石棉的使用不会对人体或环境造成不合理危害</li>
		</ul>
	</div><br />
</div>

<div class="recapSection">
	<a name="jan2018-california-state-environmental-health-hazard-assessment-environmental-office-added-prop-65-prohibited-chemicals" class="bookmark"></a><strong>美国加利福尼亚州环境健康危害评估环保办公室新增《第65号提案》违禁化学品</strong>
	<p>最近，加利福尼亚州环境健康危害评估环保办公室添加了新的化学违禁品到<a href="https://oehha.ca.gov/media/downloads/proposition-65/p65121517.pdf" target="_blank">《第65号提案》</a>。新增化学品列表如下：</p>
	<a href="/regulatory-updates/January-2018/jan2018-california-state-environmental-health-hazard-assessment-environmental-office-added-prop-65-prohibited-chemicals" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>被纳入加利福尼亚州《第65号提案》的化学品皆具有致癌毒性。新增违禁化学品详述如下：</p>
		<table>
			<tr>
				<td>添加日期</td>
				<td>化学品</td>
				<td>化学品文摘登记号<br />(CAS No.)</td>
				<td>毒性类型</td>
			</tr>
			<tr>
				<td rowspan="2">2017年7月7号</td>
				<td>草甘膦</td>
				<td>1071-83-6</td>
				<td>致癌</td>
			</tr>
			<tr>
				<td>五溴联苯醚混合物 [DE-71 （技术等级）]</td>
				<td>---</td>
				<td>致癌</td>
			</tr>
			<tr>
				<td rowspan="3">2017年10月27号</td>
				<td>N，N-二甲基酰胺</td>
				<td>68-12-2</td>
				<td>致癌</td>
			</tr>
			<tr>
				<td>2-巯基苯并噻唑</td>
				<td>149-30-4</td>
				<td>致癌</td>
			</tr>
			<tr>
				<td>四溴双酚A</td>
				<td>79-94-7</td>
				<td>致癌</td>
			</tr>
			<tr>
				<td rowspan="2">2017年11月10号</td>
				<td>全氟辛烷磺酸 (PFOS)</td>
				<td>1763-23-1</td>
				<td>影响发育</td>
			</tr>
			<tr>
				<td>全氟辛酸 (PFOA)</td>
				<td>335-67-1</td>
				<td>影响发育</td>
			</tr>
			<tr>
				<td rowspan="2">2017年12月15号</td>
				<td>毒死蜱</td>
				<td>2921-88-2</td>
				<td>影响发育</td>
			</tr>
			<tr>
				<td>正己烷</td>
				<td>110-54-3</td>
				<td>雄性生殖毒性</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="jan2018-california-state-toxic-substances-control-proposed-new-priority-products" class="bookmark"></a><strong>美国加利福尼亚州有毒物质控制局提出新优先产品</strong>
	<p>2017年11月，加利福尼亚州有毒物质控制局（DTSC）提出了加州法规修订，根据《加强消费品安全法例》规定，<a href="http://www.dtsc.ca.gov/LawsRegsPolicies/Regs/upload/Paint-Strippers_Proposed_Reg_Text.pdf" target="_blank">将含有二氯甲烷的除漆剂列入优先产品</a>。 (查看<a href="https://www.asiainspection.com/regulatory-updates/August-2016/california-flame-retardant-products" target="_blank">法规与监管回顾：2016年8月发布</a>).</p>
	<a href="/regulatory-updates/January-2018/jan2018-california-state-toxic-substances-control-proposed-new-priority-products" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>修订案中的除漆剂是指用于去除油漆、清漆或其他表面涂层的产品，包括室内和室外两种用途的产品。</p>
		<p>一经批准，生产含有二氯甲烷的除漆剂厂商必须在60天内通知有毒物质控制局。</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="jan2018-san-francisco-california-city-council-approves-ban-flame-retardants-upholstered-furniture" class="bookmark"></a>
	<strong>美国加利福尼亚州旧金山市县批准了软垫家具和青少年产品阻燃剂禁令</strong>
	<p>2017年11月3号，修订环保法规-软垫家具和青少年产品阻燃剂条例的<a href="https://sfgov.legistar.com/View.ashx?M=F&ID=5539758&GUID=CFBA7447-EE27-45D3-92A9-C7E2F5CF5D32" target="_blank">No. 211-17法令</a>获旧金山市长批准通过</p>
	<a href="/regulatory-updates/January-2018/jan2018-san-francisco-california-city-council-approves-ban-flame-retardants-upholstered-furniture" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>获准通过的修订案修改了现行阻燃剂法规，严格限定阻燃剂含量超过1000 ppm的软垫家具和青少年产品。阻燃剂化学品包括但不限于卤代、磷基、氮基和纳米级阻燃剂。</p>
		<p>新禁令将于2019年1月1号开始实施，而电气或含电子元件的产品将由2019年7月1号开始实施。</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="jan2018-suffolk-ny-approved-amendment-non-toxic-toy-act" class="bookmark"></a><strong>美国纽约州萨福克郡批准了无毒玩具法案修订案</strong>
	<p>2017年10月23号，郡长批准了<a href="https://apps2.suffolkcountyny.gov/legislature/resos/resos2017/i1682-17.pdf" target="_blank">修订案决议 No. 884-2017</a>， 同意修改无毒玩具法案。鉴于立法机关发现法案实施遇阻，此修订案旨在确保测试精确有效进行。</p>
	<a href="/regulatory-updates/January-2018/jan2018-suffolk-ny-approved-amendment-non-toxic-toy-act" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>重要修订内容总结如下：</p>
		<ul>
			<li>将钴移除出有毒重金属列表，更新后浓度限制如下：</li>
			<br />
			<li style="padding-left: -15px; list-style-type: none;"><table>
					<tr>
						<td>&nbsp;</td>
						<td>修订前</td>
						<td>修订后</td>
					</tr>
					<tr>
						<td>汞</td>
						<td>40 ppm</td>
						<td>60 ppm</td>
					</tr>
					<tr>
						<td>锑</td>
						<td>40 ppm</td>
						<td>60 ppm</td>
					</tr>
					<tr>
						<td>砷</td>
						<td>40 ppm</td>
						<td>25 ppm</td>
					</tr>
					<tr>
						<td>钴</td>
						<td>40 ppm</td>
						<td>-</td>
					</tr>
				</table></li>
			<li>阐明可接触产品中镉含量的限制范围</li>
			<li>撤销联邦立法机关的优先购买权，要求全郡在未来自动纳入联邦儿童产品安全法律任中的何额外金属限制等级</li>
			<li>阐明儿童产品零售商随机检验的测试步骤</li>
		</ul>
		<p>修订案已于2017年11月1号生效。</p>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="australia_news" class="bookmark"></a>
	<h2>澳大利亚回顾</h2>
</div>

<div class="recapSection">
	<a name="jan2018-australia-implements-latest-safety-standards-sunglasses-fashion-glasses" class="bookmark"></a><strong>澳大利亚实施最新太阳眼镜和时尚类眼镜安全标准</strong>
	<p>2017年11月，最新<a href="https://www.legislation.gov.au/Details/F2017L01391" target="_blank">消费类产品（太阳眼镜和时尚类眼镜）安全标准2017</a> 开始投入实施。最新安全标准执行了新版本的AS/NZS 1067.1，替换了旧版的消费者产品安全标准：太阳眼镜盒时尚类眼镜。</p>
	<a href="/regulatory-updates/January-2018/jan2018-australia-implements-latest-safety-standards-sunglasses-fashion-glasses" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>最新安全标准中，AS/NZS 1067.1:2016 眼部与面部防护- 太阳眼镜和时尚类眼镜被予以批准执行，某些特定情况除外。安全标准过渡期至2019年7月1号。在2019年7月1日之前，太阳眼镜和时尚类眼镜可遵循旧版（2003）或新版（2016）的AS/NZS 1067.1安全标准。</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="jan2018-australia-implement-latest-baby-bathing-aids-safety-standards-use-us-standards" class="bookmark"></a><strong>澳大利亚实施最新婴儿沐浴辅助用品安全标准，采用美国标准</strong>
	<p>2017年11月，最新 <a href="https://www.legislation.gov.au/Details/F2017L01394" target="_blank">消费者产品（婴儿沐浴辅助产品）安全标准2017</a> 开始投入实施。新安全标准更新了安全要求，并部分采用了美国标准ASTM F1967-13 婴儿洗澡座椅消费者安全标准规程。</p>
	<a href="/regulatory-updates/January-2018/jan2018-australia-implement-latest-baby-bathing-aids-safety-standards-use-us-standards" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>最新安全标准中，婴儿沐浴辅助产品及其包装需符合警告标示内容要求。示例如下：</p>
		<img src="https://s3.asiainspection.com/newsletters/2018-01-RegRecap/warning-zh.png" style="max-width:100%;">
		<p>除警示内容要求外，警示声明还应当符合ASTM F1967-13特定子条款要求，被永久放置在产品显眼处。</p>
	</div><br />
</div>
