<!-- { "Title":"2016年７月发行", "PublishDate":"2016-07-25", "Description":"中国法规与监管回顾" }-->
<ol style="margin-top:10px;">
    <li style="margin-bottom:10px;"><a href="#section_electric">电子电气产品</a></li>
    <li style="margin-bottom:10px;"><a href="#section_market">市场监督</a></li>
</ol>
<hr />

<a name="section_electric" class="bookmark"></a>
<h2>电子电气产品</h2>

<a name="hazardous_substances" class="bookmark"></a>
<strong>工信部编制常见问题答疑并於2016年7月1日號執行《电器电子产品有害物质限制使用管理办法》</strong>
<p>于2016年1月，中华人民共和国工业和信息化部（工信部）颁布《电器电子产品有害物质限制使用管理办法》（下称《管理办法》，见中国法规与监管回顾: 2016年5月发行)。为确保《管理办法》於2016年7月1日能有效地实施，工信工信部编制了一份<a href="http://www.miit.gov.cn/n1146295/n1652858/n1653018/c4777618/content.html" target="_blank">《常见问题答疑》</a>阐明一系列常见的问题。</p>
<a href="javascript://" class="learnmore">更多</a><br />
<div class="moretext">
    <p>《常见问题答疑》的总结如下：</p>
    <ol>
        <li style="margin-bottom:5px;">《管理办法》适用于2016年7月1日以后制造的电气和电子产品（包括进口及国产的）</li>
        <li style="margin-bottom:5px;">在《管理办法》中标明的标准包括：<br />
            <ol style="list-style-type: lower-roman;">
                <li style="margin-bottom:5px;">SJ / T 11364-2014　电子电气产品有害物质限制使用标识要求</li>
                <li style="margin-bottom:5px;">GB / T 26572-2011　电子电气产品中限用物质的限量要求</li>
                <li style="margin-bottom:5px;">GB / T 26125-2011，IDT IEC 62321：2008　电子电气产品 六种限用物质的检测方法</li>
                <li style="margin-bottom:5px;">GB / T 29783-20​​13　电子电气产品中六价铬的测定 原子荧光光谱法</li>
                <li style="margin-bottom:5px;">SJ / Z 11388-2009　电子信息产品环保使用期限通则</li>
            </ol>
        </li>
        <li style="margin-bottom:5px;">下列产品被定为电子和电器产品规定的范围之外：<br />
            <ol style="list-style-type: lower-roman;">
                <li style="margin-bottom:5px;">发电，输配电设备，如发电厂</li>
                <li style="margin-bottom:5px;">军事用途的设备</li>
                <li style="margin-bottom:5px;">在特殊环境或极端环境下使用的设备</li>
                <li style="margin-bottom:5px;">出口产品</li>
                <li style="margin-bottom:5px;">临时进口产品（非卖品）</li>
                <li style="margin-bottom:5px;">科研用的或测试用的设备</li>
                <li style="margin-bottom:5px;">展览用的产品（非卖品）</li>
                <li style="margin-bottom:5px;">二手产品</li>
            </ol>
        </li>
    </ol>
</div><br />

<a name="section_market" class="bookmark"></a>
<h2>市场监督</h2>

<a name="sampling_results" class="bookmark"></a>
<strong>2016年５至６月各省的产品抽查结果</strong>
<p>为加强产品质量监督，各省质量技术监督对不同的消费品（当中包括服装，纺织品，鞋类，食品及与食品接触的物品，玩具等）进行了质量监督抽查，并发布抽查结果。</p>
<a href="javascript://" class="learnmore">更多</a><br />
<div class="moretext">
    <p>北京省质量技术监督局对以下产品进行了监督抽查，并于２０１６年６月发布以下产品的抽查结果：</p>
    <table>
        <tr>
            <td align="center"><b>产品</b></td>
            <td align="center"><b>总批次</b></td>
            <td align="center"><b>不合格项目</b></td>
            <td align="center"><b>不合格之百分比</b></td>
        </tr>
        <tr>
            <td align="center">儿童服装</td>
            <td align="center">７</td>
            <td align="center">N/A<br />（测试项目GB 31701-2015《婴幼儿及儿童纺织产品安全技术规范》）</td>
            <td align="center">０％</td>
        </tr>
    </table>
    
    <p>山西省质量技术监督局对以下产品进行了监督抽查，并于２０１６年５月和６月发布以下产品的抽查结果：</p>
    <table>
        <tr>
            <td align="center"><b>产品</b></td>
            <td align="center"><b>总批次</b></td>
            <td align="center"><b>不合格项目</b></td>
            <td align="center"><b>不合格之百分比</b></td>
        </tr>
        <tr>
            <td align="center">手机电池</td>
            <td align="center">１５</td>
            <td align="center">放电性能</td>
            <td align="center">２７％</td>
        </tr>
        <tr>
            <td align="center">原电池</td>
            <td align="center">１５</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">皮包</td>
            <td align="center">３０</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">单夹服装</td>
            <td align="center">５０</td>
            <td align="center">耐干摩擦色牢度</td>
            <td align="center">２%</td>
        </tr>
        <tr>
            <td align="center">女上衣</td>
            <td align="center">２０</td>
            <td align="center">
                - 纤维含量<br />
                - 耐干摩擦色牢度<br />
                - 耐碱汗渍色牢度<br />
                - 耐酸汗渍色牢度<br />
                - 耐水色牢度<br />
            </td>
            <td align="center">３０%</td>
        </tr>
        <tr>
            <td align="center">男裤</td>
            <td align="center">２０</td>
            <td align="center">纤维含量</td>
            <td align="center">１０%</td>
        </tr>
        <tr>
            <td align="center">毛巾</td>
            <td align="center">２５</td>
            <td align="center">
                - pH值<br />
                - 色污渍<br />
            </td>
            <td align="center">２４％</td>
        </tr>
        <tr>
            <td align="center">浴巾</td>
            <td align="center">２５</td>
            <td align="center">pH值</td>
            <td align="center">２４％</td>
        </tr>
        <tr>
            <td align="center">皮鞋</td>
            <td align="center">５０</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">旅游鞋</td>
            <td align="center">５０</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">卫生巾</td>
            <td align="center">２０</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">纸巾纸</td>
            <td align="center">３０</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
    </table>
    
    <p>上海省质量技术监督局对以下产品进行了监督抽查，并于２０１６年５月和６月发布以下产品的抽查结果：</p>
    <table>
        <tr>
            <td align="center"><b>产品</b></td>
            <td align="center"><b>总批次</b></td>
            <td align="center"><b>不合格项目</b></td>
            <td align="center"><b>不合格之百分比</b></td>
        </tr>
        <tr>
            <td align="center">儿童服装</td>
            <td align="center">８４</td>
            <td align="center">
                - 甲醛含量<br />
                - 可萃取重金属含量<br />
                - 纤维含量<br />
                - 耐水色牢度<br />
                - 耐汗渍色牢度<br />
                - 缝纫强力<br />
                - pH值<br />
            </td>
            <td align="center">１１％</td>
        </tr>
        <tr>
            <td align="center">儿童披肩</td>
            <td align="center">３０</td>
            <td align="center">绳带要求</td>
            <td align="center">４０％</td>
        </tr>
        <tr>
            <td align="center">童车产品</td>
            <td align="center">１０</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">儿童高椅</td>
            <td align="center">２５</td>
            <td align="center">
                - 结构要求<br />
                - 托盘固定强度<br />
                - 标志<br />
            </td>
            <td align="center">５２％</td>
        </tr>
        <tr>
            <td align="center">婴儿床</td>
            <td align="center">３２</td>
            <td align="center">
                - 结构安全<br />
                - 旁板和床头要求<br />
                - 使用说明<br />
                - 标志<br />
            </td>
            <td align="center">６９％</td>
        </tr>
        <tr>
            <td align="center">儿童家具</td>
            <td align="center">３０</td>
            <td align="center">
                - 结构安全<br />
                - 有害物质限量（可迁移元素）<br />
            </td>
            <td align="center">１０％</td>
        </tr>
        <tr>
            <td align="center">机动车儿童乘员用约束系统</td>
            <td align="center">１５</td>
            <td align="center">动态试验项目</td>
            <td align="center">２０％</td>
        </tr>
        <tr>
            <td align="center">儿童睡袋及配套服饰</td>
            <td align="center">５０</td>
            <td align="center">
                - 纤维含量<br />
                - 耐唾液色牢度<br />
                - 服用安全性<br />
                - 缝纫强力<br />
            </td>
            <td align="center">１２％</td>
        </tr>
        <tr>
            <td align="center">儿童玩具</td>
            <td align="center">１０１</td>
            <td align="center">
                - 机械和物理性能（蓄能弹射玩具、塑料袋和塑料薄膜的厚度、突出物、刚性材料上的圆孔）<br />
                - 玩具标识和使用说明<br />
                - 电性能（标识和说明）<br />
                - 特定元素迁移<br />
            </td>
            <td align="center">１８％</td>
        </tr>
        <tr>
            <td align="center">儿童用品中附赠类玩具</td>
            <td align="center">４５</td>
            <td align="center">
                - 小零件<br />
                - 突出物<br />
                - 标识和使用说明<br />
            </td>
            <td align="center">２７％</td>
        </tr>
        <tr>
            <td align="center">奶嘴</td>
            <td align="center">２５</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">奶瓶</td>
            <td align="center">２４</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">纸尿裤（片、垫）</td>
            <td align="center">２０</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">儿童鞋类</td>
            <td align="center">４０</td>
            <td align="center">
                - 感官质量<br />
                - 外底硬度<br />
                - 耐折性能<br />
                - 衬里和内垫摩擦色牢度<br />
                - 物理安全性能<br />
                - 鞋类钢勾心<br />
                - 围条与帮面粘附强度<br />
                - 游离或可部分水解的甲醛含量<br />
                - 六价铬<br />
                - 重金属总量<br />
                - 邻苯二甲酸酯<br />
            </td>
            <td align="center">４５％</td>
        </tr>
    </table>
    
    
    <p>浙江省质量技术监督局对以下产品进行了监督抽查，并于２０１６年６月发布以下产品的抽查结果：</p>
    <table>
        <tr>
            <td align="center"><b>产品</b></td>
            <td align="center"><b>总批次</b></td>
            <td align="center"><b>不合格项目</b></td>
            <td align="center"><b>不合格之百分比</b></td>
        </tr>
        <tr>
            <td align="center">儿童服装</td>
            <td align="center">５０</td>
            <td align="center">
                - 纤维含量<br />
                - pH值<br />
                - 耐汗渍色牢度<br />
                - 耐水色牢度<br />
                - 耐干摩擦色牢度<br />
            </td>
            <td align="center">３４％</td>
        </tr>
        <tr>
            <td align="center">童车产品</td>
            <td align="center">４７</td>
            <td align="center">
                - 刹车<br />
                - 产品标准编号<br />
                - 正常使用<br />
                - 安全警示的字体和字号<br />
                - 玩具滑板车标识和警告<br />
                - 机械装置的可触及性<br />
                - 可预见的合理滥用<br />
                - 突出部件、孔、间隙<br />
                - 机械装置的可触及性<br />
            </td>
            <td align="center">６０％</td>
        </tr>
        <tr>
            <td align="center">学生用品</td>
            <td align="center">７８</td>
            <td align="center">
                - 笔的上帽安全<br />
                - 总挥发性有机物<br />
                - 亮度（白度）<br />
            </td>
            <td align="center">１５％</td>
        </tr>
        <tr>
            <td align="center">削笔器</td>
            <td align="center">２９</td>
            <td align="center">
                - 标识<br />
                - ２１<br />
                - 牙刷<br />
                - ３０<br />
                - 标识<br />
                - 非磨尖丝部分刷毛（磨毛）<br />
                - 安全要求<br />
            </td>
            <td align="center">７％</td>
        </tr>
        <tr>
            <td align="center">纸巾纸</td>
            <td align="center">３５</td>
            <td align="center">
                - 可迁移荧光增白剂<br />
                - 横向抗张指数<br />
                - 纵向湿抗张强度<br />
            </td>
            <td align="center">１１％</td>
        </tr>
        <tr>
            <td align="center">一次性纸餐盒</td>
            <td align="center">４５</td>
            <td align="center">
                - 标识<br />
                - 霉菌<br />
                - 挺度<br />
                - 荧光性物质<br />
            </td>
            <td align="center">１６％</td>
        </tr>
        <tr>
            <td align="center">一次性纸杯</td>
            <td align="center">１２７</td>
            <td align="center">
                - 标识<br />
                - 霉菌<br />
                - 杯身挺<br />
            </td>
            <td align="center">１７％</td>
        </tr>
        <tr>
            <td align="center">一次性塑料吸管</td>
            <td align="center">２２</td>
            <td align="center">脱色试验(正己烷浸泡液)</td>
            <td align="center">５％</td>
        </tr>
        <tr>
            <td align="center">一次性塑料餐饮具</td>
            <td align="center">８５</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
    </table>
    
    <p>安徽省质量技术监督局对以下产品进行了监督抽查，并于２０１６年５月发布以下产品的抽查结果：</p>
    <table>
        <tr>
            <td align="center"><b>产品</b></td>
            <td align="center"><b>总批次</b></td>
            <td align="center"><b>不合格项目</b></td>
            <td align="center"><b>不合格之百分比</b></td>
        </tr>
        <tr>
            <td align="center">玩具</td>
            <td align="center">30</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">儿童及婴幼儿服装</td>
            <td align="center">２５</td>
            <td align="center">纤维含量</td>
            <td align="center">４％</td>
        </tr>
    </table>
    
    <p>福建省质量技术监督局对以下产品进行了监督抽查，并于２０１６年５月发布以下产品的抽查结果：</p>
    <table>
        <tr>
            <td align="center"><b>产品</b></td>
            <td align="center"><b>总批次</b></td>
            <td align="center"><b>不合格项目</b></td>
            <td align="center"><b>不合格之百分比</b></td>
        </tr>
        <tr>
            <td align="center">儿童及婴幼儿服装</td>
            <td align="center">３０</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">儿童玩具</td>
            <td align="center">６８</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">童车</td>
            <td align="center">１０</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">童鞋</td>
            <td align="center">３０</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">婴幼儿奶瓶</td>
            <td align="center">５</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">儿童家具</td>
            <td align="center">８</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">文具</td>
            <td align="center">５</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">婴幼儿纸尿裤</td>
            <td align="center">３０</td>
            <td align="center">渗透性能（回渗量）</td>
            <td align="center">３％</td>
        </tr>
    </table>
    
    <p>湖南省质量技术监督局对以下产品进行了监督抽查，并于２０１６年６月发布以下产品的抽查结果：</p>
    <table>
        <tr>
            <td align="center"><b>产品</b></td>
            <td align="center"><b>总批次</b></td>
            <td align="center"><b>不合格项目</b></td>
            <td align="center"><b>不合格之百分比</b></td>
        </tr>
        <tr>
            <td align="center">儿童服装</td>
            <td align="center">３０</td>
            <td align="center">
                - 纤维含量<br />
                - 童装绳索和拉带安全要求<br />
                - 衣带缝纫强力<br />
                - 产品使用说明<br />
                - 钮扣等不可拆卸附件<br />
            </td>
            <td align="center">５３％</td>
        </tr>
        <tr>
            <td align="center">课业簿册</td>
            <td align="center">３０</td>
            <td align="center">亮度（白度）不合格</td>
            <td align="center">４０％</td>
        </tr>
        <tr>
            <td align="center">纸质玩具</td>
            <td align="center">３０</td>
            <td align="center">
                - 年龄范围、<br />
                - 安全警示、<br />
                - 经销者名称地址<br />
            </td>
            <td align="center">３０％</td>
        </tr>
        <tr>
            <td align="center">修正液</td>
            <td align="center">２０</td>
            <td align="center">氯代烃</td>
            <td align="center">５％</td>
        </tr>
        <tr>
            <td align="center">橡皮泥</td>
            <td align="center">２０</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">密胺餐具</td>
            <td align="center">２</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
    </table>
    
    
    <p>广东省质量技术监督局对以下产品进行了监督抽查，并于２０１６年５月发布以下产品的抽查结果：</p>
    <table>
        <tr>
            <td align="center"><b>产品</b></td>
            <td align="center"><b>总批次</b></td>
            <td align="center"><b>不合格项目</b></td>
            <td align="center"><b>不合格之百分比</b></td>
        </tr>
        <tr>
            <td align="center">儿童家具</td>
            <td align="center">３０</td>
            <td align="center">
                - 结构安全(边缘及尖端)<br />
                - 结构安全（其他）<br />
                - 椅凳类力学性能（向后倾翻试验）<br />
                - 有害物质限量(可迁移元素含量)<br />
                - 有害物质限量（甲醛释放量）<br />
                - 警示标识<br />
            </td>
            <td align="center">３３％</td>
        </tr>
        <tr>
            <td align="center">童鞋</td>
            <td align="center">６０</td>
            <td align="center">
                - 邻苯二甲酸酯<br />
                - 重金属总量（铅）<br />
                - 外底硬度（邵氏A）<br />
                - 外底耐磨性能<br />
                - 勾心硬度<br />
                - 可拆卸的小附件<br />
                - 小附件抗拉强力<br />
            </td>
            <td align="center">１７％</td>
        </tr>
        <tr>
            <td align="center">婴幼儿针织服饰</td>
            <td align="center">１００</td>
            <td align="center">
                - 标识（使用说明）<br />
                - 服用安全性<br />
                - 缝纫强力<br />
                - pH值<br />
                - 纤维含量<br />
            </td>
            <td align="center">２９％</td>
        </tr>
        <tr>
            <td align="center">玩具</td>
            <td align="center">８０</td>
            <td align="center">
                - 塑料袋或塑料薄膜<br />
                - 小零件<br />
                - 可触及的锐利尖端<br />
            </td>
            <td align="center">４％</td>
        </tr>
        <tr>
            <td align="center">轮滑鞋</td>
            <td align="center">３０</td>
            <td align="center">轮滑鞋的轮子</td>
            <td align="center">３％</td>
        </tr>
        <tr>
            <td align="center">儿童用可移式灯具</td>
            <td align="center">３０</td>
            <td align="center">结构</td>
            <td align="center">３％</td>
        </tr>
        <tr>
            <td align="center">奶瓶（塑料奶瓶、玻璃奶瓶）</td>
            <td align="center">２７</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">奶嘴</td>
            <td align="center">１１</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">婴幼儿塑料餐饮具</td>
            <td align="center">１５</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">吸管</td>
            <td align="center">１９</td>
            <td align="center">
                - 蒸发残渣(正己烷)<br />
                - 脱色试验（冷餐油或无色油脂、浸泡液、乙醇）<br />
            </td>
            <td align="center">５％</td>
        </tr>
        <tr>
            <td align="center">一次性塑料餐具</td>
            <td align="center">３２６</td>
            <td align="center">蒸发残渣（4%乙酸）</td>
            <td align="center">０.３％</td>
        </tr>
        <tr>
            <td align="center">食品用塑料容器</td>
            <td align="center">４４３</td>
            <td align="center">
                - 蒸发残渣(正己烷)<br />
                - 丙烯腈单体<br />
            </td>
            <td align="center">０.７％</td>
        </tr>
        <tr>
            <td align="center">密胺餐具</td>
            <td align="center">７１</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
    </table>
    
    
    <p>四川省质量技术监督局对以下产品进行了监督抽查，并于２０１６年５月发布以下产品的抽查结果：</p>
    <table>
        <tr>
            <td align="center"><b>产品</b></td>
            <td align="center"><b>总批次</b></td>
            <td align="center"><b>不合格项目</b></td>
            <td align="center"><b>不合格之百分比</b></td>
        </tr>
        <tr>
            <td align="center">食品用塑料制品</td>
            <td align="center">１４０</td>
            <td align="center">
                - 剥离力<br />
                - 溶剂残留量<br />
            </td>
            <td align="center">４％</td>
        </tr>
        <tr>
            <td align="center">玻璃容器</td>
            <td align="center">２６</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">食品用纸制品</td>
            <td align="center">８０</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">皮鞋</td>
            <td align="center">８０</td>
            <td align="center">勾心抗弯刚度(勾心)</td>
            <td align="center">１％</td>
        </tr>
    </table>
    
    
    <p>贵州省质量技术监督局对以下产品进行了监督抽查，并于２０１６年５月和６月发布以下产品的抽查结果：</p>
    <table>
        <tr>
            <td align="center"><b>产品</b></td>
            <td align="center"><b>总批次</b></td>
            <td align="center"><b>不合格项目</b></td>
            <td align="center"><b>不合格之百分比</b></td>
        </tr>
        <tr>
            <td align="center">课业簿册　（５月）</td>
            <td align="center">３</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">课业簿册　（６月）</td>
            <td align="center">２０</td>
            <td align="center">
                - 规格尺寸无单位<br />
                - 尺寸不全<br />
                - 内芯张数数目错误<br />
                - 标识<br />
                - 白度<br />
            </td>
            <td align="center">８０％</td>
        </tr>
        <tr>
            <td align="center">纸尿裤</td>
            <td align="center">９</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">卫生纸</td>
            <td align="center">4５</td>
            <td align="center">N/A</td>
            <td align="center">0％</td>
        </tr>
        <tr>
            <td align="center">纸巾纸</td>
            <td align="center">４１</td>
            <td align="center">纵向湿抗张强度</td>
            <td align="center">７％</td>
        </tr>
        <tr>
            <td align="center">鞋产品</td>
            <td align="center">５</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">食品用塑料包装容器</td>
            <td align="center">１３７</td>
            <td align="center">
                - 热合强度<br />
                - 剥离力<br />
            </td>
            <td align="center">２％</td>
        </tr>
        <tr>
            <td align="center">食品用纸包装、容器</td>
            <td align="center">９</td>
            <td align="center">抗压强度</td>
            <td align="center">３３％</td>
        </tr>
    </table>
    
    <p>陕西省质量技术监督局对以下产品进行了监督抽查，并于２０１６年６月，发布以下产品的抽查结果：</p>
    <table>
        <tr>
            <td align="center"><b>产品</b></td>
            <td align="center"><b>总批次</b></td>
            <td align="center"><b>不合格项目</b></td>
            <td align="center"><b>不合格之百分比</b></td>
        </tr>
        <tr>
            <td align="center">儿童家具</td>
            <td align="center">２０</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
        <tr>
            <td align="center">儿童玩具</td>
            <td align="center">３０</td>
            <td align="center">安全警示</td>
            <td align="center">３％</td>
        </tr>
        <tr>
            <td align="center">婴幼儿服装</td>
            <td align="center">４０</td>
            <td align="center">
                - 使用说明<br />
                - 纤维成分含量<br />
                - 甲醛含量<br />
                - 耐摩擦色牢度<br />
            </td>
            <td align="center">１０％ </td>
        </tr>
        <tr>
            <td align="center">儿童纸尿裤</td>
            <td align="center">１５</td>
            <td align="center">N/A</td>
            <td align="center">０％</td>
        </tr>
    </table>
</div><br />

<br /><p><i>本概述并不旨在穷举也不应被解释为法律意见。</i></p>