<!-- { "Title":"法规与监管回顾 : 2017年7月号", "PublishDate":"2017-07-18", "Description":"美国消费品安全委员会 于 2017 年 5 月 19 日在联邦公报发表了关于采用有关 儿童辅助座椅安全标准的草拟法案 16 CFR 1237 。" }-->
<div class="recapSectionHeader">
	<ol style="margin-top:10px;">
		<li style="margin-bottom:10px;"><a href="#north_america_news">北美回顾</a></li>
		<li style="margin-bottom:10px;"><a href="#europe_news">欧洲回顾</a></li>
		<li style="margin-bottom:10px;"><a href="#australia_news">澳洲回顾</a></li>
		<li style="margin-bottom:10px;"><a href="#asia_news">亚洲回顾</a></li>
	</ol>
	<hr />
</div>

<div class="recapSectionHeader">
	<a name="north_america_news" class="bookmark"></a>
	<h2>北美回顾</h2>
</div>

<div class="recapSection">
	<a name="july2017-product-safety-commission-standards-child-seats" class="bookmark"></a>
	<strong>美国消费品安全委员会草拟采用有关儿童辅助座椅的标准</strong>
	<p>美国消费品安全委员会于2017年5月19日在联邦公报发表了关于采用有关 儿童辅助座椅安全标准的草拟法案 16 CFR 1237 。</p>
	<a href="/regulatory-updates/July-2017/july2017-product-safety-commission-standards-child-seats" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>在本草拟法案中，《辅助座椅标准消费者安全规范》（ASTM F2640-17e1）将会被采用，以减少有关于儿童辅助座椅的伤亡事件。</p>
		<p>儿童辅助座椅为：</p>
		<ol>
			<li>置于成人坐椅上用以将儿童提高至标准餐桌高度的儿童座椅</li>
			<li>用于喂食5岁以下儿童</li>
			<li>高度可调节，并且有一定倾角</li>
		</ol>
		<p>此草拟法案现正进行公众 咨询 ，咨询期持续至2017年8月2日为止。</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-epa-delays-formaldehyde-standards" class="bookmark"></a>
	<strong>美国国家环境保护局延迟实施有关合成木材制品甲醛释放量的标准</strong>
	<p>美国国家环境保护局 于2017年5月24日发布了最终裁决（82 FR 23735），本裁决延迟了40 CFR 770《合成木材制品甲醛释放量标准》的实施。 40 CFR 770于2016年12月12日获得通过并在联邦公报中发表，其内容按照美国有毒物质控制法案中的监控策略要求实施减少甲醛释放量的标准。</p>
	<a href="/regulatory-updates/July-2017/july2017-epa-delays-formaldehyde-standards" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<table>
			<tr>
				<td style="font-weight:bold; text-align:center;">实施时间表如下：项目</td>
				<td style="font-weight:bold; text-align:center;">按现时计划的实施日</td>
				<td style="font-weight:bold; text-align:center;">草拟中延迟后的实施日</td>
			</tr>
			<tr>
				<td>释放标准， 有关卷标和记录的规定</td>
				<td style="text-align:center">2017年12月12日</td>
				<td style="text-align:center">2018年3月22日</td>
			</tr>
			<tr>
				<td>入口证明的规定</td>
				<td rowspan="2" style="text-align:center">2018年12月12日</td>
				<td rowspan="2" style="text-align:center">2019年3月22日</td>
			</tr>
			<tr>
				<td>加洲空气资源委员会认定的第三方<br />认证机构 (TPCs)的过渡期结束</td>
			</tr>
			<tr>
				<td>规定对层压木材生产商生效</td>
				<td style="text-align:center">2023年12月12日</td>
				<td style="text-align:center">2024年3月22日</td>
			</tr>
		</table>
		<p>若美国国家环境保护局在2017年6月8日前未有收到任何反对意见，此裁决将于2017年7月10日生效</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-epa-discovery-new-chemicals" class="bookmark"></a>
	<strong>美国国家环境保护局发出有关美国有毒物质控制法案发现的新化学品的通告</strong>
	<p>美国国家环境保护局于2017年4月25日发出两则通告，分别为82 FR 19044和82 FR 19046。美国国家环境保护局的通告汇报关于不会对环境和人体做成危害的新发现化学物质或旧有化学物质的新用途。</p>
	<a href="/regulatory-updates/July-2017/july2017-epa-discovery-new-chemicals" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>当美国国家环境保护局发现不会对环境和人体做成危害的新发现化学物质或旧有化学物质的新用途，在对其进行根据美国有毒物质控制法第5(a)条所要求的复核后，便需要根据美国有毒物质控制法案第5(g)条在联邦公报中发布该调查结果。通告82 FR 19044和82 FR 19046中列出了2016年12月和2017年2月的调查结果。</p>
		<p>下表列出复核编号和有关化学物质：</p>
		<table>
			<tr>
				<td style="font-weight:bold; text-align:center;">通告</td>
				<td style="font-weight:bold; text-align:center;">美国国家环境保护局编号</td>
				<td style="font-weight:bold; text-align:center;">化学物质</td>
			</tr>
			<tr>
				<td rowspan="11">82 FR 19044<br />2016年12月的发现</td>
				<td>J-16-0033</td>
				<td>经改良以表达糖化酶活性的酿酒酵母</td>
			</tr>
			<tr>
				<td>J-16-0034</td>
				<td>经改良的酿酒酵母</td>
			</tr>
			<tr>
				<td>J-16-0035</td>
				<td>经改良的酿酒酵母</td>
			</tr>
			<tr>
				<td>J-16-0036-0041</td>
				<td>染色体经改良以制造生物燃料的微生物 </td>
			</tr>
			<tr>
				<td>P-17-0009</td>
				<td>解聚废胶</td>
			</tr>
			<tr>
				<td>P-17-0016</td>
				<td>由过氧化物引使的丙烯酸羟基烷基酯与丙烯酸酯，芳族乙<br />烯基单体，脂环族内酯和烷基羧酸的聚合物</td>
			</tr>
			<tr>
				<td>P-17-0017</td>
				<td>由过氧化物引使的丙烯酸羟基烷基酯与丙烯酸酯，芳族乙<br />烯基单体，脂环族内酯和烷基羧酸的聚合物</td>
			</tr>
			<tr>
				<td>P-17-0018</td>
				<td>由脂族腈引使的丙烯酸羟基烷基酯与丙烯酸酯，芳族乙烯<br />基单体，脂环族内酯和烷基羧酸的聚合物</td>
			</tr>
			<tr>
				<td>P-17-0019</td>
				<td>由过氧化物引使的丙烯酸羟基烷基酯与丙烯酸酯，芳族乙<br />烯基单体，脂环族内酯和烷基羧酸的聚合物</td>
			</tr>
			<tr>
				<td>P-17-0020</td>
				<td>由过氧化物引使的丙烯酸羟基烷基酯与丙烯酸酯，芳族乙<br />烯基单体，脂环族内酯和烷基羧酸的聚合物</td>
			</tr>
			<tr>
				<td>P-17-0021</td>
				<td>由脂族腈引使的丙烯酸羟基烷基酯与丙烯酸酯，芳族乙烯<br />基单体，脂环族内酯和烷基羧酸的聚合物</td>
			</tr>
			<tr>
				<td rowspan="8">82 FR 19046<br />2017年2月的发现</td>
				<td>J-17-0001-0005</td>
				<td>经改良的酿酒酵母</td>
			</tr>
			<tr>
				<td>J-17-0006</td>
				<td>经改良的酿酒酵母</td>
			</tr>
			<tr>
				<td>P-17-0144</td>
				<td>C36烯基二胺类与TCD-二胺、均苯四甲酸、马来化(CAS Number: 2020378-57-6)的聚合物</td>
			</tr>
			<tr>
				<td>P-17-0158</td>
				<td>苝双酰亚胺</td>
			</tr>
			<tr>
				<td>P-17-0160</td>
				<td>2-丙烯酸烷基、烷基酯与2-丙烯酸烷基酯，二烷基氧代烷<br />基-2-丙烯酰胺，2-丙烯酸烷基酯的聚合物</td>
			</tr>
			<tr>
				<td>P-17-0161</td>
				<td>2-丙烯酸烷基、烷基酯与2-丙烯酸烷基酯，二烷基氧代烷<br />基-2-丙烯酰胺，苯乙烯，2-丙烯酸烷基酯的聚合物</td>
			</tr>
			<tr>
				<td>P-17-0182</td>
				<td>烷基二酸与2,2-二甲基-1,3-丙二醇，杂多环羧酸酐, 1,3-丙二<br />醇的聚合物</td>
			</tr>
			<tr>
				<td>P-17-0185</td>
				<td>氢化二聚C18-不饱和脂肪酸与三聚酸，亚烷基二胺，羟基<br />链烷酸的聚合物</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-american-materials-testing-association-update" class="bookmark"></a>
	<strong>美国材料和试验协会更新标准</strong>
	<p>下列最近更新的美国材料和试验协会标准</p>
	<a href="/regulatory-updates/July-2017/july2017-american-materials-testing-association-update" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<table>
			<tr>
				<td style="font-weight:bold; text-align:center;">消费品安<br />全改善法<br />/ 联邦法<br />规编号</td>
				<td style="font-weight:bold; text-align:center;">美国材料和试验<br />协会标准编号</td>
				<td style="font-weight:bold; text-align:center;">详情</td>
			</tr>
			<tr>
				<td style="text-align:center;">-</td>
				<td style="text-align:center;">ASTM F2640-17e1</td>
				<td style="text-align:left;"><b>《辅助座椅标准消费者安全规范》</b>涵盖对儿童辅助座椅的测<br />试方法和性能要求，以确保座椅性能良好</td>
			</tr>
			<tr>
				<td style="text-align:center;">-</td>
				<td style="text-align:center;">ASTM F1148-17</td>
				<td style="text-align:left;"><b>《家用游乐场器材的消费者安全性能规范》</b>涵盖了多种供<br />18个月至10岁儿童使用的家用游乐场器材的安全性能规范，<br />特别是专供幼儿使用的秋千</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-california-include-pentabromodiphenyl-ether-prop65" class="bookmark"></a>
	<strong>美国加洲环境健康危害评估办公室计划将五溴二苯醚混合物列入65号提案清单中</strong>
	<p>2017年5月，美国加洲环境健康危害评估办公室刊登了通告，内容是关于计划将五溴二苯醚[DE-71(工业级)]混合物列入65号提案致癌物清单中。</p>
	<a href="/regulatory-updates/July-2017/july2017-california-include-pentabromodiphenyl-ether-prop65" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<p>五溴二苯醚的更多信息如下</p>
		<table>
			<tr>
				<td style="font-weight:bold; text-align:center;">化学品</td>
				<td style="font-weight:bold; text-align:center;">化学文摘社编号 (CAS No.)</td>
				<td style="font-weight:bold; text-align:center;">危害总类</td>
			</tr>
			<tr>
				<td>五溴二苯醚[DE-71(工业级)]</td>
				<td style="text-align: center;">32534-81-9</td>
				<td style="text-align: center;">致癌</td>
			</tr>
		</table>
	<p>本计划的公众咨询期持续至2017年6月5日为止</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-prop65-the-last-60-days" class="bookmark"></a>
	<strong>加洲65号提案：最近的60天通知</strong>
	<p>因应对曝露于有害化学物质的疑虑，加洲公民于1986年投票通过65号提案。自65号提案获得通过以来，加洲出现许多针对含有65号提案列表上致癌及具生殖毒性的化学物质等消费品而提出的诉讼，以使其更改产品内化学成份。</p>
	<a href="/regulatory-updates/July-2017/july2017-prop65-the-last-60-days" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>在2017年4至5月被记录的60天通知如下：</p>
		<table>
			<tr>
				<td style="font-weight:bold; text-align:center;">化学物质</td>
				<td style="font-weight:bold; text-align:center;">产品／来源</td>
				<td style="font-weight:bold; text-align:center;">60天通知宗数</td>
			</tr>
			<tr>
				<td>丙烯酰胺</td>
				<td>食物</td>
				<td style="text-align: center;">15</td>
			</tr>
			<tr>
				<td>双酚 <b>A (BPA)</b></td>
				<td>热感纸／量杯</td>
				<td style="text-align: center;">2</td>
			</tr>
			<tr>
				<td>镉</td>
				<td>可可豆 ／可可条／烟熏生蚝</td>
				<td style="text-align: center;">3</td>
			</tr>
			<tr>
				<td rowspan="2">镉和镉化合物，铅和铅化合物</td>
				<td>粉末状食物</td>
				<td style="text-align: center;">2</td>
			</tr>
			<tr>
				<td>膳食补充剂</td>
				<td style="text-align: center;">1</td>
			</tr>
			<tr>
				<td rowspan="6">二（2-乙基己基）邻苯二甲酸酯(DEHP)</td>
				<td>运动手袖</td>
				<td style="text-align: center;">2</td>
			</tr>
			<tr>
				<td>袋／冷却袋／钱包／聚氯乙烯背包</td>
				<td style="text-align: center;">9</td>
			</tr>
			<tr>
				<td>身体喷雾／折椅／小工具／衣架</td>
				<td style="text-align: center;">12</td>
			</tr>
			<tr>
				<td>耳机／软管／跳绳／午餐盒</td>
				<td style="text-align: center;">9</td>
			</tr>
			<tr>
				<td>浴帘／ 吸盘／墨镜</td>
				<td style="text-align: center;">6</td>
			</tr>
			<tr>
				<td>乙烯基产品：地毯／雨衣／手袖／电子用品<br />
				外壳／鞋类／管子</td>
				<td style="text-align: center;">15</td>
			</tr>
			<tr>
				<td>二（2-乙基己基）邻苯二甲酸酯<br />
				(DEHP),<br />
				邻苯二甲酸二异癸酯(DIDP),<br />
				邻苯二甲酸二异壬酯(DINP)</td>
				<td>电线</td>
				<td style="text-align: center;">1</td>
			</tr>
			<tr>
				<td>二（2-乙基己基）邻苯二甲酸酯(DEHP), 邻苯二甲酸二异癸酯(DIDP), 邻苯二甲酸二正丁酯(DBP), 邻苯二甲酸二异壬酯(DINP)</td>
				<td>衣架</td>
				<td style="text-align: center;">1</td>
			</tr>
			<tr>
				<td>二（2-乙基己基）邻苯二甲酸酯(DEHP), 邻苯二甲酸二异癸酯(DIDP), 邻苯二甲酸二正丁酯(DBP), 邻苯二甲酸二异壬酯(DINP)</td>
				<td>软管／钱包／电线／软毯</td>
				<td style="text-align: center;">4</td>
			</tr>
			<tr>
				<td>二（2-乙基己基）邻苯二甲酸酯(DEHP), 邻苯二甲酸二异癸酯(DIDP), 邻苯二甲酸二正丁酯(DBP), 邻苯二甲酸二异壬酯(DINP)</td>
				<td>乙烯基软毯／镊子／ 钥匙扣</td>
				<td style="text-align: center;">2</td>
			</tr>
			<tr>
				<td>二（2-乙基己基）邻苯二甲酸酯(DEHP),铅</td>
				<td>小工具/ 皮带</td>
				<td style="text-align: center;">2</td>
			</tr>
			<tr>
				<td>邻苯二甲酸二异癸酯(DIDP)</td>
				<td>连接器／ 啤酒机软管</td>
				<td style="text-align: center;">2</td>
			</tr>
			<tr>
				<td>邻苯二甲酸二异癸酯(DIDP), 邻苯二甲酸二异壬酯(DINP)</td>
				<td>笔袋</td>
				<td style="text-align: center;">1</td>
			</tr>
			<tr>
				<td rowspan="2">邻苯二甲酸二异壬酯DINP)</td>
				<td>运动手袖／袋／电线／椅套／耳机</td>
				<td style="text-align: center;">17</td>
			</tr>
			<tr>
				<td>乙烯基软管／胶带</td>
				<td style="text-align: center;">5</td>
			</tr>
			<tr>
				<td>邻苯二甲酸二正丁酯(DBP)</td>
				<td>拖鞋／锁</td>
				<td style="text-align: center;">4</td>
			</tr>
			<tr>
				<td rowspan="4">铅</td>
				<td>适配器／游标卡尺／流量计／输胎用放气装置／注射器／调节器</td>
				<td style="text-align: center;">19</td>
			</tr>
			<tr>
				<td>黄铜配件／部件</td>
				<td style="text-align: center;">8</td>
			</tr>
			<tr>
				<td>膳食补充剂／食物</td>
				<td style="text-align: center;">47</td>
			</tr>
			<tr>
				<td>鞋类／发光二极管照明／意大利面制造机／阀</td>
				<td style="text-align: center;">11</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-oregon-high-interest-chemical-substances" class="bookmark"></a>
	<strong>美国俄勒冈洲发布高度关注的化学物质申报豁免说明</strong>
	<p>2018年1月1日起，任何于勒冈洲出售的儿童产品若含有可侦测浓度的儿童健康高度关注化学物质，其制造商必须要向俄勒冈洲卫生局申报。因应申报期限将至，俄勒冈洲卫生局发布了豁免说明以协助生产商适从。</p>
	<a href="/regulatory-updates/July-2017/july2017-oregon-high-interest-chemical-substances" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>若产品有可侦测浓度的儿童健康高度关注化学物质，除向俄勒冈洲卫生局申报外，生产商可以选择申请豁免申报。</p>
		<p>要获得豁免，生产商必须展示现行的制造控制计划，以有效控制儿童健康高度关注化学物质对产品的污染。</p>
		<p>豁免说明解释了俄勒冈洲卫生局会审视制造控制计划中的甚么元素。元素如下：</p>
		<ol>
			<li>生产商名字，邮件地址，联络信息</li>
			<li>生产商应告知制造控制计划中有否包含商业机密</li>
			<li>制造控制计划中应包含有关儿童健康高度关注化学物质</li>
			<li>产品的描述，以及在生产过程中的甚么部分牵涉到有关儿童健康高度关注化学物质</li>
			<li>制造控制计划所牵涉的类型（生产过程，材料，组件，或制成品）</li>
			<li>制造控制计划所包含的机制的描述</li>
			<li>制造控制计划达到的业界认可最佳做法和进程</li>
			<li>记录和描述第7点中的制造控制做法和进程</li>
		</ol>
		<p>俄勒冈洲卫生局将于2017年6月28日起开始接受豁免申请</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-california-include-chemicals-prop65" class="bookmark"></a>
	<strong>美国加洲环境健康危害评估办公室计划将三种化学物质列入65号提案清单</strong>
	<p>美国加洲环境健康危害评估办公室于2017年6月30日发表通告，计划将下列化学物质列入65号提案致癌物清单中。</p>
	<a href="/regulatory-updates/July-2017/july2017-california-include-chemicals-prop65" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>有关化学物质为：</p>
		<ol>
			<li>N, N-二甲基甲酰胺[CAS No. 68-12-2]</li>
			<li>2-巯基苯并噻唑 [CAS No. 149-30-4]</li>
			<li>四溴双酚A[CAS No. 79-94-7]</li>
		</ol>
		<p>加洲环境健康危害评估办公室正咨询公众有关上述化学物质是否适合列入65号提案致癌物清单。公众咨询期到2017年7月31日为止。</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-california-significant-amounts-styrene" class="bookmark"></a>
	<strong>美国加洲环境健康危害评估办公室通过苯乙烯的无显著风险含量（NSRL）</strong>
	<p>美国加洲环境健康危害评估办公室于2017年5月11日发表通告，内容关于通过苯乙烯的无显著风险含量（NSRL）。苯乙烯在2016年被列入65号提案致癌物清单。（详情请见<a href="http://www.asiainspection.com/regulatory-updates/May-2016/california-oehha-updates" target="_blank">法规与监管回顾：5 月号</a>）</p>
	<a href="/regulatory-updates/July-2017/july2017-california-significant-amounts-styrene" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>有关化学物质和无显著风险含量如下：</p>
		<table>
			<tr>
				<td style="font-weight:bold; text-align:center;">化学物质</td>
				<td style="font-weight:bold; text-align:center;">化学文摘社编号(CAS No.)</td>
				<td style="font-weight:bold; text-align:center;">危害总类</td>
				<td style="font-weight:bold; text-align:center;">无显著风险含量(NSRL)</td>
			</tr>
			<tr>
				<td style="text-align: center;">苯乙烯</td>
				<td style="text-align: center;">100-42-5</td>
				<td style="text-align: center;">致癌</td>
				<td style="text-align: center;">27 µg/day</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-california-maximum-allowable-content-list" class="bookmark"></a>
	<strong>美国加洲发表最新一期65号提案无显著风险含量（NSRL）和可允许最大含量（MADL）清单</strong>
	<p>加洲环境健康危害评估办公室于2017年5月17日发表最新一期致癌化学物质的无显著风险含量（NSRL）清单和具生殖毒性化学物质的可允许最大含量（MADL）清单。NSRL和MADL为65号提案列表中的化学物提供曝露极限（「安全港限量」safe harbor limits）。</p>
	<a href="/regulatory-updates/July-2017/july2017-california-maximum-allowable-content-list" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>在65号提案中，若化学物的曝露水平和对食水水源排放量低于其「安全港极限」(NSRL和MADL)，则可免除65号提案中的标签要求。个别情况下，和解协议会衍生出通用的「安全港限量」。</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-california-glyphosate-prop65" class="bookmark"></a>
	<strong>美国加洲环境健康危害评估办公室通过将草甘膦列入65号提案清单</strong>
	<p>美国加洲环境健康危害评估办公室于2017年6月26日发表通告，内容关于通过将草甘膦列入65号提案清单。 （详情请<a href="http://www.asiainspection.com/regulatory-updates/April-2017/apr2017-california-oehha-glyphosate-listed-prop65" target="_blank">见法规与监管回顾：2017年4月号</a>） 草甘膦已在2017年7月7日被列入65号提案清单中。</p>
	<a href="/regulatory-updates/July-2017/july2017-california-glyphosate-prop65" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>草甘膦化学物质的更多信息如下：</p>
		<table>
			<tr>
				<td style="font-weight:bold; text-align: center;">化学品</td>
				<td style="font-weight:bold; text-align: center;">化学文摘社编号 (CAS No.)</td>
				<td style="font-weight:bold; text-align: center;">危害总类</td>
			</tr>
			<tr>
				<td style="text-align: center;">草甘膦</td>
				<td style="text-align: center;">1071-83-6</td>
				<td style="text-align: center;">致癌</td>
			</tr>           
		</table>
		<span>草甘膦已在2017年7月7日被列入65号提案清单中。</span>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-washington-children-product-safety-act" class="bookmark"></a>
	<strong>美国华盛顿洲实施有关阻燃化学物的儿童产品安全法案 (第一阶段限制)</strong>
	<p>修订儿童安全法案(CPSA)的华盛顿洲州议会法案HB 2545于2017年7月1日正式实行。本修订案对儿童产品和软件家具中的阻燃化学物作出限制。（详情请见<a href="http://www.asiainspection.com/regulatory-updates/April-2016/washington-flame-retardants" target="_blank">监管与法规回顾：2016年4月号</a></p>
	<a href="/regulatory-updates/July-2017/july2017-washington-children-product-safety-act" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>2017年7月1日开始，生产商，批发商和零售商均不可制造，出售或经销含有下列阻燃化学物质的儿童产品和软件家具。</p>
		<table> 
			<tr>
				<td style="font-weight:bold;">阻燃化学物质</td>
				<td style="font-weight:bold;">化学文摘社编号　(CAS Number)</td>
			</tr>
			<tr>
				<td>三(1,3-二氯-2-丙基)磷酸酯 (TDCPP)</td>
				<td>13674-87-8</td>
			</tr>
			<tr>
				<td>三(2-氯乙基)磷酸酯(TCEP)</td>
				<td>115-96-8</td>
			</tr>
			<tr>
				<td>十溴二苯醚</td>
				<td>1163-19-5</td>
			</tr>
			<tr>
				<td>六溴环十二烷(HBCD)</td>
				<td>25637-99-4</td>
			</tr>
			<tr>
				<td>四溴双酚A (Additive TBBPA)</td>
				<td>79-94-7</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-canadian-updates-baby-pajamas" class="bookmark"></a>
	<strong>加拿大卫生部更新有关引入婴儿睡衣尺寸限制的政策</strong>
	<p>加拿大卫生部于2017年5月修订儿童睡衣：可燃性要求指引（2016）中有关婴儿睡衣尺寸部分的政策。SOR/2016-169儿童睡衣条例列出婴儿睡衣尺寸要求。</p>
	<a href="/regulatory-updates/July-2017/july2017-canadian-updates-baby-pajamas" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>现行指引列明供7公斤以下婴儿使用而胸围大于508毫米的婴儿睡衣均视作「宽松睡衣」，而宽松睡衣的要求比贴身睡衣宽松。因此，是次修订将针对供7公斤以下婴儿用睡衣的作出下列规范：</p>
		<ol>
			<li>胸围必须不大于508毫米</li>
			<li>卷标必须包含以月数表示的预期年龄等级，而预期年龄等级必须不大于9个月。</li>
		</ol>
		<p>另外，透过本修订，当局希望加拿大睡衣尺寸要求与美国联邦规则汇编(16 CFR 1615)中的要求同步。</p>
	</div><br />
</div>
<div class="recapSectionHeader">
	<a name="europe_news" class="bookmark"></a>
	<h2>欧洲回顾</h2>
</div>

<div class="recapSection">
	<a name="july2017-eu-amendment-limit-bisphenol-a-concentration" class="bookmark"></a>
	<strong>欧盟采用降低双酚A浓度上限和对苯酚浓度设限的修订案</strong>
	<p>欧盟于2017年5月通过并发布欧盟指令<a href="http://eur-lex.europa.eu/eli/dir/2017/774/oj" target="_blank">Directive (EU) 2017/774</a>和<a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32017L0898" target="_blank">Directive (EU) 2017/898</a>以对欧盟玩具安全指令Directive 2009/48/EC作出修订。本修订包括了对苯酚浓度作出限制，和降低双酚A迁移浓度上限。</p>
	<a href="/regulatory-updates/July-2017/july2017-eu-amendment-limit-bisphenol-a-concentration" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>欧盟指令Directive (EU) 2017/774新增对苯酚浓度的限制，本限制将会被加入至欧盟指令Directive 2009/48/EC附件II（附录C）</p>
		<table width="80%">
			<tr>
				<td rowspan="2">&nbsp;</td>
				<td colspan="2" style="text-align: center; font-weight: bold;">苯酚限制</td>
			</tr>
			<tr>
				<td style="text-align: center; font-weight: bold;">在聚合材料中</td>
				<td style="text-align: center; font-weight: bold;">作为防腐剂</td>
			</tr>
			<tr>
				<td style="text-align: center;">迁移上限</td>
				<td style="text-align: center;">5 mg/L</td>
				<td style="text-align: center;">-</td>
			</tr>
			<tr>
				<td style="text-align: center;">含量上限</td>
				<td style="text-align: center;">-</td>
				<td style="text-align: center;">10 mg/kg</td>
			</tr>
		</table>
		<span>2018年11月4日开始，供36个月以下儿童使用的玩具，及其他预期会被放进口中玩具将会受制于上述苯酚浓度要求。</span>
		<br />
		<br />
		<p>另外，欧盟指令Directive (EU) 2017/898对欧盟指令Directive 2009/48/EC附件II（附录C）作出修订，本修订加强了对双酚A的迁移限制</p>
		<table width="80%">
			<tr>
				<td>&nbsp;</td>
				<td style="text-align: center; font-weight: bold;">在聚合材料中</td>
			</tr>
			<tr>
				<td style="text-align: center;">现行上限</td>
				<td style="text-align: center;">0.1 mg/L</td>
			</tr>
			<tr>
				<td style="text-align: center;">修订后上限</td>
				<td style="text-align: center;">0.04 mg/L</td>
			</tr>
		</table>
		<span>修订上限将会于2018年11月26日生效</span>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-eu-plastic-food-contact-materials-regulations" class="bookmark"></a>
	<strong>欧盟修订塑料食品接触材料法规</strong>
	<p>欧盟于2017年4月29日通过并发布欧盟委员会法规<a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32017R0752" target="_blank">Commission Regulation (EU) 2017/752</a>，本法规修订了欧盟法规Regulation (EU) 10/2011塑料食品接触材料法规</p>
	<a href="/regulatory-updates/July-2017/july2017-eu-plastic-food-contact-materials-regulations" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>本修订案将会分两段时间执行；在2018年5月19日，将执行第一阶段，对欧盟法规Regulation (EU) 10/2011塑料食品接触材料法作出下列修订</p>
		<ol>
			<li>更新获批准的单体、其他起始物、由微生物发酵而成的巨大份子、添加剂和聚和物产品的列表，以便：<br />
				<ol style="list-style-type: upper-alpha;">
					<li>新加入6个物质</li>
					<li>移除10个物质的食物接触面残余含量合规性验证</li>
				</ol>
			</li>
			<li>改以表格方式表达物质迁移仿真测试时使用的化学物（实际内容并没有变动）</li>
			<li>更新作出合规声明时所需要的数据</li>
		</ol>
		<p>第二阶段将于2019年5月19日执行，对欧盟法规Regulation (EU) 10/2011塑料食品接触材料法作出下列修订：</p>
		<ol>
			<li>加入对镍迁移的限制 (食物或食物模型0.02mg/kg)</li>
		</ol>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-eu-guidelines-for-wireless-equipment" class="bookmark"></a>
	<strong>欧盟委员会发布对无线设备指令的指引</strong>
	<p>欧盟委员会于2017年5月19日发布对无线设备指令Directive 2014/53/EU Radio Equipment Directive (RED)的指引，该指令早于2016年6月13日执行</p>
	<a href="/regulatory-updates/July-2017/july2017-eu-guidelines-for-wireless-equipment" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>本指引建基于无线设备指令和欧盟公报中提及的新法律框架。本指引清楚解释了无线设备的定义，及列出了不属于无线设备的例子。指引亦列明了不同营运商，如生产商、进口商和批发商的责任。</p>
		<p>除定义和责任之外，指引也提及了各种无线设备分别必须达到的技术要求，和提供了现行无线设备指令和被其取缔的无线电与电信终端设备指令(R&amp;TTED)的比较。</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-reach-list-substances-of-concern" class="bookmark"></a>
	<strong>REACH－新高度关注物质列入清单</strong>
	<p>欧洲化学品管理局于2017年7月7日将1种新的高关注物质列入《关于化学品注册、评估、许可和限制法案》下的高关注物质清单。这次加入的化学物质有高持久性和高生物累积毒性。这次更新后，高关注物质清单将会有174种化学物质。</p>
	<a href="/regulatory-updates/July-2017/july2017-reach-list-substances-of-concern" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>这次被加入的化学物质为：</p>
		<ol>
			<li>全氟己基磺酸，及其盬</li>
		</ol>
		<p>物品中含有新高关注物质的最后通报期限为2018年1月7日，亦即在其加进清单后的6个月。</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-euca-classify-chemicals-highly-concerned" class="bookmark"></a>
	<strong>欧洲化学品管理局计划将5种化学物质列为高度关注物质</strong>
	<p>欧洲化学品管理局于2017年6月14日计划将5种化学物质列入《关于化学品注册、评估、许可和限制法案》下的高度关注物质清单</p>
	<a href="/regulatory-updates/July-2017/july2017-taiwan-food-contact-labeling-requirements" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>有关化学物质的详情如下：</p>
		<table width="80%">
			<tr>
				<td style="font-weight: bold;">化学物质</td>
				<td style="font-weight: bold;">化学文摘社编号(CAS)</td>
				<td style="font-weight: bold;">危害</td>
			</tr>
			<tr>
				<td>双酚A (BPA)</td>
				<td>80-05-7</td>
				<td>严重损害环境</td>
			</tr>
			<tr>
				<td>1,3,4-噻二唑烷-2,5-二硫酮,甲醛和4庚基苯酚的化学反应产物</td>
				<td style="text-align: center;">-</td>
				<td>扰乱内分泌系统</td>
			</tr>
			<tr>
				<td>碳酸镉</td>
				<td>513-78-0</td>
				<td rowspan="3">致癌，致突变，具生殖毒性<br />长期或重复接触可能会对器官做成损伤</td>
			</tr>
			<tr>
				<td>氢氧化镉</td>
				<td>21041-95-2</td>
			</tr>
			<tr>
				<td>硝酸镉</td>
				<td>10325-94-7</td>
			</tr>
			<tr>
				<td>双（六氯环戊二烯）环辛烷 (易来灭　DK-15)[包括其异构体，及其异构体混合物]</td>
				<td style="text-align: center;">-</td>
				<td>高持久性和高生物累积毒性</td>
			</tr>
			<tr>
				<td>四氧化三钴</td>
				<td>1308-06-1</td>
				<td>致癌，致突变，具生殖毒性</td>
			</tr>
		</table>
		<p>预期将会在2017年8月7日提交本计划</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-euca-adding-restricted-substances-annex17" class="bookmark"></a>
	<strong>欧洲化学品管理局通过修订附件17受限制物质列表，以加入PFOA</strong>
	<p>欧盟委员会法规Commission Regulation (EU) 2017/1000于2017年6月13日发表，其内容为将全氟辛酸列入《关于化学品注册、评估、许可和限制法案》下的附件17受限制物质列表。本法规于2017年7月4日生效。</p>
	<a href="/regulatory-updates/July-2017/july2017-euca-adding-restricted-substances-annex17" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>本法规限制使用全氟辛酸及有关化学物质，共分四阶段执行。（详情请<a href="http://www.asiainspection.com/regulatory-updates/November-2016/echa-amendment-new-chemicals" target="_blank">法规与监管回顾：2016年11月号</a>）</p>
		<p>第一阶段包括以下规条，并将于2020年7月4日执行</p>
		<ul>
			<li>不可生产或销售全氟辛酸及有关化学物质</li>
			<li>不可以下列形式生产或销售全氟辛酸及有关化学物质<br />
				<ul>
					<li>作为其他物品的成份之一</li>
					<li>混合物</li>
					<li>物件</li>
				</ul><br />
				<span>若全氟辛酸及其盐的浓度在25 ppb以下，或由一个或多个全氟辛酸有关化学物质组成的浓度在1000 ppb以下则不受此限。</span>
			</li>
		</ul>
		<p>第二阶段将于2022年7月4日执行，第三阶段将于2023年7月4日执行，而最终阶段将于2032年7月4日执行</p>
		<p>新法规包括一系列的例外情况，在此仅列举数项，包括：</p>
		<ul>
			<li>在欧盟法规Regulation (EC) No 850/2004附件1提及的全氟辛烷磺酸和其衍生物；</li>
			<li>在其他物品的生产过程中作为生产不长于6个碳烷基链的氟化物过程中无可避免而出现的副产品全氟辛酸及有关化学物质；</li>
			<li>作为会被运输到其他地方作进一步反应的可分离反应中间体；</li>
			<li>其他详见法规原文</li>
		</ul>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-euca-addition-chemical-reach-list" class="bookmark"></a>
	<strong>欧洲化学品管理局通过新增化学物质至REACH需授权物质清单</strong>
	<p>欧洲化学品管理局于2017年7月13日通过新增12种化学物质至《关于化学品注册、评估、许可和限制法案》下的附件14需授权物质列表</p>
	<a href="/regulatory-updates/July-2017/july2017-euca-addition-chemical-reach-list" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>此议案在2016年9月21日被提出（见<a href="http://www.asiainspection.com/regulatory-updates/October-2016" target="_blank">法规与监管回顾-2016年10月</a>号），并于2017年6月13日获得通过。</p>
		<span>12种化学物质详情如下：</span>
		<table>
			<tr>
				<td style="font-weight:bold;">化学物质</td>
				<td style="font-weight:bold;">化学文摘社编号(CAS)</td>
				<td style="font-weight:bold;">最后申请限期</td>
				<td style="font-weight:bold;">法规执行日</td>
			</tr>
			<tr>
				<td>1-溴丙烷</td>
				<td>106-94-5</td>
				<td rowspan="8">2019年1月4日</td>
				<td rowspan="8">2020年7月4日</td>
			</tr>
			<tr>
				<td>邻苯二甲酸二异戊酯</td>
				<td>605-50-5</td>
			</tr>
			<tr>
				<td>邻苯二甲酸二异庚酯</td>
				<td>71888-89-6</td>
			</tr>
			<tr>
				<td>邻苯二甲酸二（C7-11支链与直链）烷基酯</td>
				<td>68515-42-4</td>
			</tr>
			<tr>
				<td>1,2-苯二羧二戊酯（支链和直链）</td>
				<td>84777-06-0</td>
			</tr>
			<tr>
				<td>邻苯二甲酸二甲氧乙酯</td>
				<td>117-82-8</td>
			</tr>
			<tr>
				<td>邻苯二甲酸二戊酯</td>
				<td>131-18-0</td>
			</tr>
			<tr>
				<td>邻苯二甲酸正戊基异戊基酯</td>
				<td>776297-69-6</td>
			</tr>
			<tr>
				<td>蒽油</td>
				<td>90640-80-5</td>
				<td rowspan="2">2019年4月4日</td>
				<td rowspan="2">2020年10月4日</td>
			</tr>
			<tr>
				<td>煤焦沥青，高温</td>
				<td>65996-93-2</td>
			</tr>
			<tr>
				<td>辛基酚聚醚-9，包括界定明确的物质以及UVCB物质、聚合物及同系物</td>
				<td>---</td>
				<td rowspan="2">2019年7月4日</td>
				<td rowspan="2">2021年1月4日</td>
			</tr>
			<tr>
				<td>支链及直链乙氧基壬基酚-包括含有9个碳烷基链及所有含有含直链或支链之9个碳烷基链 UVCB物质、聚合物及同系物，包括独立同分异构物及复合物</td>
				<td>---</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-europe-recall" class="bookmark"></a>
	<strong>欧洲召回事故（2017年4至5月）</strong>
	<p>在欧洲，被发现潜在危害的消费品会被召回，而召回事故会被刊登于欧盟消费品<a href="http://ec.europa.eu/consumers/consumers_safety/safety_products/rapex/alerts/main/index.cfm?event=main.search#searchResults" target="_blank">快速预警系统(RAPEX)</a>，召回事告报告每周更新。欧洲4月至5月作出的产品召回总结如下。</p>
	<a href="/regulatory-updates/July-2017/july2017-europe-recall" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<table>
			<tr>
				<td style="text-align: center; font-weight: bold;">潜在危害</td>
				<td style="text-align: center; font-weight: bold;">次数</td>
			</tr>
			<tr>
				<td>化学危害</td>
				<td style="text-align: right;">71</td>
			</tr>
			<tr>
				<td>阻塞窒息危害</td>
				<td style="text-align: right;">69</td>
			</tr>
			<tr>
				<td>触电危害</td>
				<td style="text-align: right;">40</td>
			</tr>
			<tr>
				<td>受伤危害</td>
				<td style="text-align: right;">29</td>
			</tr>
			<tr>
				<td>缠绕窒息危害</td>
				<td style="text-align: right;">15</td>
			</tr>
			<tr>
				<td>烧伤危害</td>
				<td style="text-align: right;">12</td>
			</tr>
			<tr>
				<td>听觉损害</td>
				<td style="text-align: right;">10</td>
			</tr>
			<tr>
				<td>其他危害*</td>
				<td style="text-align: right;">34</td>
			</tr>
		</table>
		<span>*其他危害包括不多于10次的其他窒息危害、割伤危害、陷困危害、火警危害、环境危害、微生物危害、视力危害和缺氧危害。</span>
		<br />
		<br />
		<table>
			<tr>
				<td style="font-weight: bold; text-align: center;">产品类别</td>
				<td style="font-weight: bold; text-align: center;">次数</td>
			</tr>
			<tr>
				<td>玩具及儿童护理用品</td>
				<td style="text-align: right;">115</td>
			</tr>
			<tr>
				<td>布艺／纺织品／服装／家用纺织品</td>
				<td style="text-align: right;">33</td>
			</tr>
			<tr>
				<td>化妆品／身体护理用品</td>
				<td style="text-align: right;">30</td>
			</tr>
			<tr>
				<td>照明设备</td>
				<td style="text-align: right;">24</td>
			</tr>
			<tr>
				<td>计算机／音响／视频／其他电子产品及配件</td>
				<td style="text-align: right;">10</td>
			</tr>
			<tr>
				<td>其他类别^</td>
				<td style="text-align: right;">40</td>
			</tr>
		</table>
		<span>^其他类别包括次数不大于10的蜡蠋和可燃烧产品及配件、消费者化学制品、鞋类、家具、家庭电器（例如吹风　机，熨斗）、首饰，手表或其他饰物、个入防护装备（不包括眼部护具），运动用品／器材，和硬件</span>
		<p> <a href="https://s3.asiainspection.com/newsletters/2017-07-Recap/zh-July-2017-Europe-Recall-Summary.docx" target="_blank">召回事故总结</a>－欧洲（更新至2017年5月31日）</p>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="australia_news" class="bookmark"></a>
	<h2>澳洲回顾</h2>
</div>

<div class="recapSection">
	<a name="july2017-australia-fake-pacifiers" class="bookmark"></a>
	<strong>澳洲更新假奶嘴和奶嘴链扣的安全标准</strong>
	<p>澳洲于2017年5月8日通过并发布了假奶嘴和奶嘴链扣安全标准2017(<a href="https://www.legislation.gov.au/Details/F2017L00516" target="_blank">Consumer Goods (Babies’ Dummies and Dummy Chains) Safety Standard 2017</a>) 本标准更新假奶嘴和奶嘴链扣的安全标准，同时废除了旧奶嘴安全标准(联邦立法登记号. F2006L03455).</p>
	<a href="/regulatory-updates/July-2017/july2017-australia-fake-pacifiers" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>主要更新如下：</p>
		<table>
			<tr>
				<td style="font-weight:bold; text-align:center;">项目</td>
				<td style="font-weight:bold; text-align:center;">强制性标准</td>
				<td style="font-weight:bold; text-align:center;">要求</td>
			</tr>
			<tr>
				<td rowspan="2">婴儿假奶嘴<br /><i>（EN 或 AS 标准均可）</i></td>
				<td>AS 2432:2015 – 婴儿假奶嘴</td>
				<td rowspan="2">
					<ul>
						<li>一般要求</li>
						<li>口盾的大小及结构完整性</li>
						<li>奶嘴头的强度</li>
						<li>手柄的大小及结构完整性</li>
						<li>装饰</li>
						<li>包装</li>
						<li>产品信息</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>EN 1400:2013+A1:2014 – 儿童使用和护理用品－婴幼儿安抚奶嘴－安全要求和测试方法</td>
			</tr>
			<tr>
				<td>奶嘴链扣</td>
				<td>EN 12586:2007+A1:2011 - 儿童使用和护理用品－奶嘴夹－安全要求和测试方法</td>
				<td>
					<ul>
						<li>装饰</li>
						<li>长度</li>
						<li>抗冲击力</li>
						<li>衣物固定端的耐久度</li>
						<li>抗拉伸力</li>
					</ul>
				</td>
			</tr>
		</table>
		<p>本更新的过渡期到2019年7月1日为止，在此之前产品可依从现行或更新标准。在过渡期后，产品必须依从新标准</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-australia-recall" class="bookmark"></a>
	<strong>澳洲召回事故总结（ 2017 年 1 月至 6 月）</strong>
	<p>在澳洲，被发现潜在危害的消费品会被召回，而召回事故会被刊登于澳洲产品安全网页上，召回事故报告每日更新。 澳洲1月至6月 作出的召回总结如下。</p>
	<a href="/regulatory-updates/July-2017/july2017-australia-recall" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<table>
			<tr>
				<td style="text-align: center; font-weight: bold;">潜在危害</td>
				<td style="text-align: center; font-weight: bold;">次数</td>
			</tr>
			<tr>
				<td>阻塞窒息危害</td>
				<td>30</td>
			</tr>
			<tr>
				<td>受伤危害</td>
				<td>30</td>
			</tr>
			<tr>
				<td>过敏危害</td>
				<td>14</td>
			</tr>
			<tr>
				<td>触电危害</td>
				<td>12</td>
			</tr>
			<tr>
				<td>烧伤危害</td>
				<td>11</td>
			</tr>
			<tr>
				<td>其他危害 *</td>
				<td>56</td>
			</tr>
		</table>
		<span>* 其他危害包括不多于 10 次的机能失效、化学危害、 溺水危害、陷困危害、爆炸危害、掉落危害、火警危害、摄入危害、 警告卷标不齐全、割伤危害、烫伤危害、视觉损害、窒息危害、违反强制性标准和违反 单车脚踏标准</span>
		<br />
		<br />
		<table>
			<tr>
				<td style="font-weight: bold;">产品类别</td>
				<td style="font-weight: bold;">次数</td>
			</tr>
			<tr>
				<td>玩具及儿童护理用品</td>
				<td>43</td>
			</tr>
			<tr>
				<td>运动用品／器材</td>
				<td>15</td>
			</tr>
			<tr>
				<td>化妆品／身体护理用品</td>
				<td>13</td>
			</tr>
			<tr>
				<td>计算器／音响／视频／其他电子产品及配件</td>
				<td>10</td>
			</tr>
			<tr>
				<td>其他总类 ^</td>
				<td>36</td>
			</tr>
		</table>
		<span>^ 其他总类包括次数不大于 10 的布艺／纺织品／服装／家用纺织品、食品接触材料、家具、家用电器（例如吹风机，熨斗）、照明设备、首饰， 手表或其他饰物 、 蜡蠋及可燃烧产品及配 件、工具、家居用品（非食品接触）、 及 青少年产品 。</span>
		<p> <a href="https://s3.asiainspection.com/newsletters/2017-07-Recap/zh-July-2017-Australia-Recall-Summary.docx" target="_blank">召回事故总结</a> –  澳洲 (最后更新日: 2017年6月 30日)</p>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="asia_news" class="bookmark"></a>
	<h2>亚洲回顾</h2>
</div>

<div class="recapSection">
	<a name="july2017-malaysia-ceramic-food-contact-material" class="bookmark"></a>
	<strong>马来西亚更新陶瓷食品接触材料要求</strong>
	<p>马来西亚于2017年4月3日透过联邦政府公报发表2017食品（修订案）（第2号）法规。本修订案修订1985年食品法规并更新陶瓷食品接触材料要求</p>
	<a href="/regulatory-updates/July-2017/july2017-malaysia-ceramic-food-contact-material" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>主要更改如下：</p>
		<ol>
			<li>
				<p>更新镉迁移限制</p>
				<table>
					<tr>
						<td>&nbsp;</td>
						<td>小型凹形器皿镉迁移限制</td>
						<td>大型凹形器皿镉迁移限制</td>
					</tr>
					<tr>
						<td>原有限制</td>
						<td>0.20 mg/L</td>
						<td>0.20 mg/L</td>
					</tr>
					<tr>
						<td>修订后限制</td>
						<td>0.50 mg/L</td>
						<td>0.25 mg/L</td>
					</tr>
				</table>
			</li>
			<li>
				<p>更新测试方法标准</p>
				<table>
					<tr>
						<td>&nbsp;</td>
						<td style="font-weight: bold;">标准</td>
					</tr>
					<tr>
						<td>原有标准</td>
						<td>MS 1817-1 陶瓷器皿－规范</td>
					</tr>
					<tr>
						<td>修订后标准</td>
						<td>MS ISO 6486-1　食品接触用陶瓷器皿和玻璃餐具－铅和镉的释放－第一部份：测试方法</td>
					</tr>   
				</table>
			</li>
		</ol>
		<p>本修订案于2017年4月15日起生效</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-hongkong-toys-children-products" class="bookmark"></a>
	<strong>香港特别行政区更新部份沿用的玩具及儿童用品安全标准</strong>
	<p>香港特别行政区政府于2017年5月19日在宪报刊登《2017年玩具及儿童产品安全条例（修订附表1及2）公告》。本公告旨在更新《玩具及儿童产品安全条例》(第424章)下的玩具和儿童产品的安全标准。</p>
	<a href="/regulatory-updates/July-2017/july2017-hongkong-toys-children-products" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>一部份玩具和儿童产品的标准被更新至最新版本。同时，加入了两条新的玩具标准。主要变更如下</p>
		<table>
			<tr>
				<td style="font-weight: bold;">产品</td>
				<td style="font-weight: bold;">被废除的标准</td>  
				<td style="font-weight: bold;">最新标准</td>
			</tr>
			<tr>
				<td colspan="3" style="text-align: center;">玩具标准</td>
			</tr>
			<tr>
				<td>指画颜料</td>
				<td style="text-align: center;">-</td>
				<td style="text-align: center;">ISO 8124-7:2015</td>
			</tr>
			<tr>
				<td>化学玩具（组），实验玩具组除外</td>
				<td style="text-align: center;">BS EN 71-5:2013</td>
				<td style="text-align: center;">BS EN 71-5:2015</td>
			</tr>
			<tr>
				<td>嗅觉图板游戏，化妆玩具组和味觉游戏</td>
				<td style="text-align: center;">-</td>
				<td style="text-align: center;">BS EN 71-13:2014</td>
			</tr>
			<tr>
				<td>电动玩具</td>
				<td style="text-align: center;">BS EN 62115:2005+A11:2012</td>
				<td style="text-align: center;">BS EN 62115:2005+A11:2015</td>
			</tr>
			<tr>
				<td colspan="3" style="text-align: center;">产品标准</td>
			</tr>
			<tr>
				<td rowspan="2">家用双格床</td>
				<td style="text-align: center;">BS EN 747-1:2012</td>
				<td style="text-align: center;">BS EN 747-1:2012+A1:2015</td>
			</tr>
			<tr>
				<td style="text-align: center;">BS EN 747-2:2012</td>
				<td style="text-align: center;">BS EN 747-2:2012+A1:2015</td>
			</tr>
			<tr>
				<td>家用儿童安全栏栅</td>
				<td style="text-align: center;">ASTM F1004-13</td>
				<td style="text-align: center;">ASTM F1004-16b</td>
			</tr>
			<tr>
				<td>家用儿童高脚椅及多种用途高<br />脚椅</td>
				<td style="text-align: center;">ASTM F404-14a</td>
				<td style="text-align: center;">ASTM F404-16a</td>
			</tr>
			<tr>
				<td>家用儿童高脚椅</td>
				<td style="text-align: center;">ISO 9221-1:1992</td>
				<td style="text-align: center;">ISO 9221-1:2015</td>
			</tr>
			<tr>
				<td>家用儿童游戏围栏</td>
				<td style="text-align: center;">ASTM F406-13</td>
				<td style="text-align: center;">ASTM F406-15</td>
			</tr>
			<tr>
				<td>儿童推车</td>
				<td style="text-align: center;">ASTM F833-13b</td>
				<td style="text-align: center;">ASTM F833-15</td>
			</tr>
		</table>
		<p>更新标准将于2018年4月1日起生效</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-singapore-electronic-products" class="bookmark"></a>
	<strong>新加坡开始落实对电子产品套用欧盟危害物质限制指令的标准</strong>
	<p>新加坡环境及水源部于2017年7月1日正式对电子产品落实套用欧盟危害物质限制指令的标准。此计划于2016年获得通过。（见<a href="http://www.asiainspection.com/regulatory-updates/September-2016/singapore-rohs-eee-products" target="_blank">法规与监管回顾：2016年9月号</a>）</p>
	<a href="/regulatory-updates/July-2017/july2017-singapore-electronic-products" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>与欧盟的危害物质限制指令相比，新加坡的危害物质限制指令的管辖范围较小，只适用于家用电子产品。下列为本修订案限制的化学物质含量上限。</p>
		<ul>
			<li>镉及其化合物 (0.01%)</li>
			<li>六价铬 (0.1%)</li>
			<li>铅及其化合物 (0.1%)</li>
			<li>水银及其化合物 (0.1%)</li>
			<li>多溴联苯 (0.1%)</li>
			<li>多溴二苯醚 (0.1%)</li>
		</ul>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-taiwan-food-contact-material-labeling" class="bookmark"></a>
	<strong>台湾实施新食物接触材料标签要求</strong>
	<p>中华民国卫生福利部于2016年4月18日发表公告(部授食字第1041304938号)，内容确立了对食品器具，食品容器和包装在食品安全卫生管理法第二十六条第八款以外的额外包装要求。这些额外要求于2017年7月1日起实施。</p>
	<a href="/regulatory-updates/July-2017/july2017-taiwan-food-contact-material-labeling" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>额外要求如下：</p>
		<ol>
			<li>食品器具、食品容器或包装，应注明「供食品接触用途」或等同意义字样。</li>
			<li>食品接触面含塑料材质之食品器具、食品容器或包装，应注明其为供重复使用或供一次使 用，或等同意义字样。</li>
			<li>食品接触面含聚氯乙烯（PVC）或聚偏二氯乙烯（PVDC）塑料材质之食品器具、食品容器或 包装，应注明勿与高油脂且高温之食品直接接触或等同意义之警语。</li>
		</ol>
	</div><br />
</div>