<!-- { "Title":"2016年5月发行", "PublishDate":"2016-05-27", "Description":"中国法规与监管回顾" }-->
<ol style="margin-top:10px;">
    <li style="margin-bottom:10px;"><a href="#section_toys">玩具及儿童产品</a>
    <li style="margin-bottom:10px;"><a href="#section_textiles">纺织品，鞋类及配件</a>
    <li style="margin-bottom:10px;"><a href="#section_food">食品及与食品接触的物品</a>
    <li style="margin-bottom:10px;"><a href="#section_electrical">电子电气产品</a>
    <li style="margin-bottom:10px;"><a href="#section_supervision">市场监督</a>
</ol>
<hr />

<a name="section_toys" class="bookmark"></a>
<h2>玩具及儿童产品</h2>

<a name="electrical-toy-safety" class="bookmark"></a>
<strong>草案标准GB 19865电动玩具的安全性</strong>
<p>在2015年10月，新版本的草案标准GB 19865电动玩具的安全性经已提出并开始收集意见。该国家标准适用于玩具并至少有一个功能是依赖于电力。该标准涵盖全系列电动玩具，从小型纽扣电池運作的灯，至铅酸电池運作的大型乘骑汽车。不同类型的玩具有不同的要求和测试。</p>
<a href="javascript://" class="learnmore">更多</a><br />
<div class="moretext">
    <p>与＂IEC 62115：2011电动玩具 - 安全＂相比，草案标准GB 19865有以下区别：</p>
    <ul>
        <li>在范围内的产品也应符合玩具安全标准GB 6675第1至第4部分的要求</li>
        <li>标准IEC 60083被 GB 1002和GB 1003代替</li>
        <li>加入“太阳能玩具”和“流动玩具”的定义中</li>
        <li>开始测试之前，该玩具需进行GB 6675.2-2014小节 5.24.2的测试前準備，跌落试验：玩具从高93厘米下落，下落4次。</li>
        <li>在第7节 - 标志和说明中第7.4条，增加以下内容：如玩具有能够被插入电源插座的金属部件，应提供指示申明电线或玩具部件不得插入电源插座</li>
        <li>在第14节 ，添加类别“太阳能玩具”</li>
        <li>在第14.6节，写着“纽扣电池和R1电池”被改为“能够插入到GB 6675.2-2014规定的小部件圆筒的电池”</li>
    </ul>
</div><br />

<a name="jan-toy-safety" class="bookmark"></a>
<strong>2016年1月1日，玩具安全标准GB 6675-2014生效</strong>
<p>于2016年1月1日，中国标准GB 6675-2014玩具安全第1部分第4部分已经生效并执行。自生效之日起，所有在中国市场上的儿童玩具必须符合的新标准，而且GB 6675-2003将相应撤回。</p>
<a href="javascript://" class="learnmore">更多</a><br />
<div class="moretext">
    <p>GB 6675分为4个部分：</p>
    <ul>
        <li>玩具安全 第1部分：基本规范</li>
        <li>玩具安全 第2部分：机械与物理性能</li>
        <li>玩具安全 第3部分：易燃性能</li>
        <li>玩具安全 第4部分：特定元素的迁移</li>
    </ul>
    <p>除了修改了对机械和物理性能，可燃性和特定元素的迁移的要求，新的标准也在第1部分中加入对邻苯二甲酸酯的要求：</p>
    <p>苯二甲酸酯的要求：</p>
    <table>
        <tr>
            <td><b>范围</b></td>
            <td><b>邻苯二甲酸酯（CAS编号）</b></td>
            <td><b>限制（％）</b></td>
        </tr>
        <tr>
            <td rowspan="3">所有的产品，當中包括可以放入口中的产品</td>
            <td>DBP</td>
            <td>CAS 84-71-2</td>
            <td rowspan="3">總和　≤ 0.1</td>
        </tr>
        <tr>
            <td>BBP</td>
            <td>CAS 85-68-7</td>
        </tr>
        <tr>
            <td>DEHP</td>
            <td>CAS 117-81-7</td>
        </tr>
        <tr>
            <td rowspan="3">可以放入口中的产品</td>
            <td>DNOP</td>
            <td>CAS 117-84-0</td>
            <td rowspan="3">總和　≤ 0.1</td>
        </tr>
    </table>
</div><br />

<a name="national-food-standards" class="bookmark"></a>
<strong>国家卫生和计划生育委员会发布食品安全国家标准: 食品，食品添加剂，食品接触材料和奶嘴</strong>
<p>于2015年10月23日，中华人民共和国国家卫生和计划生育委员会发布<a href="http://www.nhfpc.gov.cn/sps/s7891/201510/3ba3419aab8a41a09f4f924788f73793.shtml" target="_blank">2015年 第8号公告</a>。公告内容为食品安全国家标准发布和修改。这些标准的实施日为2016年9月22日。</p>
<a href="javascript://" class="learnmore">更多</a><br />
<div class="moretext">
    <p>总共有127项标准发布。它们提供用于食品，食品添加剂，食品接触材料和奶嘴的测试要求，测试方法以及适用标准。发布的标准如下：</p>
    <ol>
    <li>GB 1886-2015 食品安全国家标准– 食品添加剂 (第1 至168部分)</li>
    <li>GB 2713-2015 食品安全国家标准 淀粉制品</li>
    <li>GB 2714-2015 食品安全国家标准 酱腌菜</li>
    <li>GB 2720-2015 食品安全国家标准 味精</li>
    <li>GB 2721-2015 食品安全国家标准 食用盐</li>
    <li>GB 2730-2015 食品安全国家标准 腌腊肉制品</li>
    <li>GB 4806.2-2015 食品安全国家标准 奶嘴</li>
    <li>GB 7099-2015 食品安全国家标准 糕点、面包</li>
    <li>GB 7100-2015 食品安全国家标准 饼干</li>
    <li>GB 14930.1-2015 食品安全国家标准 洗涤剂</li>
    <li>GB 14967-2015 食品安全国家标准 胶原蛋白肠衣</li>
    <li>GB 17400-2015 食品安全国家标准 方便面</li>
    <li>GB 30604-2015 食品安全国家标准 食品营养强化剂 1,3-二油酸-2-棕榈酸甘油三酯</li>
    <li>GB 31604.1-2015 食品安全国家标准 食品接触材料及制品迁移试验通则</li>
    </ol>
</div><br />

<a name="section_textiles" class="bookmark"></a>
<h2>纺织品，鞋类及配件</h2>

<a name="draft-sunglass-standards" class="bookmark"></a>
<strong>太阳镜和太阳镜片的起草国家标准</strong>
<p>于2015年10月27日，中国提出了起草国家标准：太阳镜和太阳镜片 第1部分：通用要求。此太阳镜标准的技术要求修改自ISO 12312-1:2013眼睛和面部防护 -太阳镜及相关眼镜-第1部分: 一般用途的太阳镜。</p>
<a href="javascript://" class="learnmore">更多</a><br />
<div class="moretext">
    <p>与ISO 12312-1:2013相比，起草国家标准的技术区别为：</p>
    <ol>
        <li>取消了 ISO 12312-1:2013 第 6.2 条款：顶焦度的局部变化</li>
        <li>对 ISO 12312-1:2013 第 7 条款：镜片抗冲击强度要求、偏振镜片和偏振太阳镜的要求作相应 的调整</li>
        <li>增加处方矫正太阳镜和太阳镜片的透射比性能要求</li>
        <li>增加了包覆层结合力</li>
        <li>增加了截止波长以下的太阳光谱透射比要求</li>
    </ol>
    <p>以下条款为强制性的，其余的条款为推荐性：</p>
    <ul>
        <li>条款6.1 透射比</li>
        <li>条款6.2 光学特性</li>
        <li>条款6.3 太阳镜耐疲劳强度</li>
        <li>条款6.4 鼻梁变形和镜片夹持力 </li>
        <li>条款6.5 耐光辐照</li>
        <li>条款6.6 阻燃性</li>
        <li>条款6.7 包覆层性能 </li>
        <li>条款6.8 太阳镜镜片尺寸  </li>
        <li>条款8.1 标志</li>
    </ul>
</div><br />

<a name="children-footwear" class="bookmark"></a>
<strong>儿童鞋类国家标准GB 30585-2014经已实施</strong>
<p>于201６年1月１日，童鞋（14岁以下）中国国家标准GB30585-2014已经实施。</p>
<a href="javascript://" class="learnmore">更多</a><br />
<div class="moretext">
    <p>该标准规定了童鞋的安全要求，其中包括：</p>
    <ul>
        <li>物理和机械性能</li>
        <li>限用物质
            <ul>
                <li>六价铬</li>
                <li>衍生自偶氮染料的有害芳香胺 </li>
                <li>甲醛含量</li>
                <li>重金属含量</li>
                <li>富马酸二甲酯含量</li>
                <li>亚硝胺含量</li>
                <li>邻苯二甲酸酯含量等</li>
            </ul>
        </li>
        <li>气味等要求</li>
    </ul>
</div><br />

<a name="children-textiles-standard" class="bookmark"></a>
<strong>婴儿及儿童纺织品强制性国家标准GB 31701-2015经已实施</strong>
<p>于2016年6月，婴儿及儿童纺织产品国家标准GB31701-2015将列为强制性的国家标准。</p>
<a href="javascript://" class="learnmore">更多</a><br />
<div class="moretext">
    <p>该标准规定了安全要求，其中包括：</p>
    <ul>
        <li>物理和机械性能</li>
        <li>限用物质
            <ul>
                <li>重金属含量</li>
                <li>邻苯二甲酸酯含量</li>
            </ul>
        </li>
        <li>可燃性</li>
        <li>湿摩擦色牢度</li>
        <li>配件要求</li>
        <li>填充要求等</li>
    </ul>
    <p>一旦标准实施，将给予2016年6月1日之前生产的产品有2年的过渡期。如果这些产品遵守相关标准，将允许于过渡期在中国市场销售。此外，除了GB 31701-2015，纺织产品仍需符合GB 18401-2010。</p>
</div><br />

<a name="MIIT-industry-standard" class="bookmark"></a>
<strong>工信部发布针对不同行业的产品标准更新清单，包括纺织业</strong>
<p>于2016年4月20日，中华人民共和国工业和信息化部（工信部）部发布<a href="http://www.miit.gov.cn/n1146295/n1652858/n1652930/n4509607/c4728296/content.html" target="_blank">公告2016年第17号</a>。 发布针对不同的行业，包括纺织等行业的产品标准更新清单。总共有587项标准在清单中。</p>
<a href="javascript://" class="learnmore">更多</a><br />
<div class="moretext">
    <p>实施日期分2个阶段。第一轮将是2016年7月1日，然后2016年9月1日。所有的纺织工业产品标准将于第一轮实施。</p>
    <p>根据不同行业，标准总结如下：</p>
    <table>
        <tr>
            <td><b>行业</b></td>
            <td><b>在清单中的标准數量</b></td>
        </tr>
        <tr>
            <td>机械行业</td>
            <td>156</td>
        </tr>
        <tr>
            <td>汽车行业</td>
            <td>35</td>
        </tr>
        <tr>
            <td>船舶行业</td>
            <td>33</td>
        </tr>
        <tr>
            <td>制药装备行业</td>
            <td>16</td>
        </tr>
        <tr>
            <td>化工行业</td>
            <td>45</td>
        </tr>
        <tr>
            <td>冶金行业</td>
            <td>35</td>
        </tr>
        <tr>
            <td>有色金属行业</td>
            <td>24</td>
        </tr>
        <tr>
            <td>轻工行业</td>
            <td>26</td>
        </tr>
        <tr>
            <td>纺织行业</td>
            <td>49</td>
        </tr>
        <tr>
            <td>电子行业</td>
            <td>72</td>
        </tr>
        <tr>
            <td>通信行业标</td>
            <td>96</td>
        </tr>
    </table>

    <p><u>纺织行业：</u></p>
    <table>
        <tr>
            <td><b>标准编号</b></td>
            <td><b>标准名称</b></td>
        </tr>
        <tr>
            <td>FZ/T 01130-2016</td>
            <td>非织造布 吸油性能的检测和评价</td>
        </tr>
        <tr>
            <td>FZ/T 60011-2016</td>
            <td>复合织物剥离强力试验方法</td>
        </tr>
        <tr>
            <td>FZ/T 01030-2016</td>
            <td>针织物和弹性机织物 接缝强力和扩张度的测定 顶破法</td>
        </tr>
        <tr>
            <td>FZ/T 01031-2016</td>
            <td>针织物和弹性机织物 接缝强力及伸长率的测定 抓样法</td>
        </tr>
        <tr>
            <td>FZ/T 01131-2016</td>
            <td>纺织品 定量化学分析 天然纤维素纤维与某些再生纤维素纤维的混合物（盐酸法）</td>
        </tr>
        <tr>
            <td>FZ/T 01132-2016</td>
            <td>纺织品 定量化学分析 维纶纤维与某些其他纤维的混合物</td>
        </tr>
        <tr>
            <td>FZ/T 01133-2016</td>
            <td>纺织品 禁用偶氮染料快速筛选方法 气相色谱-质谱法</td>
        </tr>
        <tr>
            <td>FZ/T 64057-2016</td>
            <td>空调吸音用再加工纤维毡</td>
        </tr>
        <tr>
            <td>FZ/T 64058-2016</td>
            <td>汽车隔音隔热垫用再加工纤维毡</td>
        </tr>
        <tr>
            <td>FZ/T 14030-2016</td>
            <td>棉与涤混纺磨毛印染布</td>
        </tr>
        <tr>
            <td>FZ/T 14031-2016</td>
            <td>锦棉混纺印染布</td>
        </tr>
        <tr>
            <td>FZ/T 14032-2016</td>
            <td>锦纶空气变形丝印染布</td>
        </tr>
        <tr>
            <td>FZ/T 14033-2016</td>
            <td>聚对苯二甲酸丙二醇酯/聚对苯二甲酸乙二醇酯（PTT/PET）复合纤维与棉混纺印染布</td>
        </tr>
        <tr>
            <td>FZ/T 14034-2016</td>
            <td>棉冷轧堆染色印染布</td>
        </tr>
        <tr>
            <td>FZ/T 14011-2016</td>
            <td>纯棉真蜡防印花布</td>
        </tr>
        <tr>
            <td>FZ/T 40008-2016</td>
            <td>蚕丝黑板检验用暗室技术要求</td>
        </tr>
        <tr>
            <td>FZ/T 42005-2016</td>
            <td>桑蚕双宫丝</td>
        </tr>
        <tr>
            <td>FZ/T 43034-2016</td>
            <td>丝麻交织物</td>
        </tr>
        <tr>
            <td>FZ/T 43035-2016</td>
            <td>桑蚕丝与粘胶长丝交织物</td>
        </tr>
        <tr>
            <td>FZ/T 43036-2016</td>
            <td>合成纤维装饰织物</td>
        </tr>
        <tr>
            <td>FZ/T 43037-2016</td>
            <td>合成纤维弹力丝织物</td>
        </tr>
        <tr>
            <td>FZ/T 43038-2016</td>
            <td>超细涤锦纤维双面绒丝织物</td>
        </tr>
        <tr>
            <td>FZ/T 43039-2016</td>
            <td>高密细旦锦纶丝织物</td>
        </tr>
        <tr>
            <td>FZ/T 50001-2016</td>
            <td>合成纤维 长丝网络度试验方法</td>
        </tr>
        <tr>
            <td>FZ/T 50033-2016</td>
            <td>氨纶长丝 耐热性能试验方法</td>
        </tr>
        <tr>
            <td>FZ/T 50034-2016</td>
            <td>氨纶长丝 耐氯性能试验方法</td>
        </tr>
        <tr>
            <td>FZ/T 51012-2016</td>
            <td>阳离子染料易染聚酯切片（ECDP）</td>
        </tr>
        <tr>
            <td>FZ/T 51013-2016</td>
            <td>纤维级再生聚酯切片（PET）</td>
        </tr>
        <tr>
            <td>FZ/T 52042-2016</td>
            <td>再生异形涤纶短纤维</td>
        </tr>
        <tr>
            <td>FZ/T 54084-2016</td>
            <td>阻燃涤纶预取向丝</td>
        </tr>
        <tr>
            <td>FZ/T 54085-2016</td>
            <td>阻燃涤纶低弹丝</td>
        </tr>
        <tr>
            <td>FZ/T 54086-2016</td>
            <td>阻燃涤纶牵伸丝</td>
        </tr>
        <tr>
            <td>FZ/T 54087-2016</td>
            <td>粘合活化型涤纶工业长丝</td>
        </tr>
        <tr>
            <td>FZ/T 54088-2016</td>
            <td>锦纶6全牵伸单丝</td>
        </tr>
        <tr>
            <td>FZ/T 81013-2016</td>
            <td>宠物狗服装</td>
        </tr>
        <tr>
            <td>FZ/T 82002-2016</td>
            <td>缝制帽</td>
        </tr>
        <tr>
            <td>FZ/T 80008-2016</td>
            <td>缝制帽术语</td>
        </tr>
        <tr>
            <td>FZ/T 80002-2016</td>
            <td>服装标志、包装、运输和贮存</td>
        </tr>
        <tr>
            <td>FZ/T 80010-2016</td>
            <td>服装用人体头围测量方法与帽子规格代号标示</td>
        </tr>
        <tr>
            <td>FZ/T 81015-2016</td>
            <td>婚纱和礼服</td>
        </tr>
        <tr>
            <td>FZ/T 81012-2016</td>
            <td>机织围巾、披肩</td>
        </tr>
        <tr>
            <td>FZ/T 81016-2016</td>
            <td>莨绸服装</td>
        </tr>
        <tr>
            <td>FZ/T 81001-2016</td>
            <td>睡衣套</td>
        </tr>
        <tr>
            <td>FZ/T 73002-2016</td>
            <td>针织帽</td>
        </tr>
        <tr>
            <td>FZ/T 62033-2016</td>
            <td>超细纤维毛巾</td>
        </tr>
        <tr>
            <td>FZ/T 62032-2016</td>
            <td>机织毛巾布</td>
        </tr>
        <tr>
            <td>FZ/T 60046-2016</td>
            <td>毛巾产品单位面积质量测试方法</td>
        </tr>
        <tr>
            <td>FZ/T 93097-2016</td>
            <td>纺织机械 起绒针刺机用毛刷</td>
        </tr>
        <tr>
            <td>FZ/T 90111-2016</td>
            <td>纺织机械术语 纺丝成网法非织造布机械</td>
        </tr>
    </table>
</div><br />

<a name="section_food" class="bookmark"></a>
<h2>食品及与食品接触的物品</h2>

<a name="food-additives-safety" class="bookmark"></a>
<strong>食品，食品添加剂和食品接触材料的食品安全国家标准经已实施</strong>
<p>于2015年10月23日，中华人民共和国国家卫生和计划生育委员会发公告<a href="http://www.nhfpc.gov.cn/sps/s7891/201510/4db4ce124f6b44c88afd466700e34a4a.shtml" target="_blank">2015年第７号</a>。发布8项食品安全国家标准。这些标准于2016年3月21日已经实施。</p>
<a href="javascript://" class="learnmore">更多</a><br />
<div class="moretext">
    <p>总共有8项标准。它们提供了食品，食品添加剂和食品接触材料的测试方法。更新的标准简述如下：</p>
    <ol>
        <li>GB 5009.11-2014 食品安全国家标准 食品中总砷及无机砷的测定</li>
        <li>GB 5009.17-2014 食品安全国家标准 食品中总汞及有机汞的测定</li>
        <li>GB 5009.74-2014 食品安全国家标准 食品添加剂中重金属限量试验</li>
        <li>GB 5009.75-2014 食品安全国家标准 食品添加剂中铅的测定</li>
        <li>GB 5009.76-2014 食品安全国家标准 食品添加剂中砷的测定</li>
        <li>GB 5009.88-2014 食品安全国家标准 食品中膳食纤维的测定</li>
        <li>GB 5009.211-2014 食品安全国家标准 食品中叶酸的测定</li>
        <li>GB 31603-2015 食品安全国家标准 食品接触材料及制品生产通用卫生规范</li>
    </ol>
</div><br />

<a name="family-planning-commission" class="bookmark"></a>
<strong>国家卫生和计划生育委员会发布食品安全国家标准: 食品，食品添加剂，食品接触材料和奶嘴</strong>
<p>于2015年10月23日，中华人民共和国国家卫生和计划生育委员会发布<a href="http://www.nhfpc.gov.cn/sps/s7891/201510/3ba3419aab8a41a09f4f924788f73793.shtml" target="_blank">2015年第8号公告</a>。公告内容为食品安全国家标准发布和修改。这些标准是实施日为2016年9月22日。</p>
<a href="javascript://" class="learnmore">更多</a><br />
<div class="moretext">
    <p>总共有127项标准发布。它们提供用于食品，食品添加剂，食品接触材料和奶嘴的要求，测试方法以及适用标准。发布的标准如下：</p>
    <ol>
        <li>GB 1886-2015 食品安全国家标准– 食品添加剂 (第1 至168部分)</li>
        <li>GB 2713-2015 食品安全国家标准 淀粉制品</li>
        <li>GB 2714-2015 食品安全国家标准 酱腌菜</li>
        <li>GB 2720-2015 食品安全国家标准 味精</li>
        <li>GB 2721-2015 食品安全国家标准 食用盐</li>
        <li>GB 2730-2015 食品安全国家标准 腌腊肉制品</li>
        <li>GB 4806.2-2015 食品安全国家标准 奶嘴</li>
        <li>GB 7099-2015 食品安全国家标准 糕点、面包</li>
        <li>GB 7100-2015 食品安全国家标准 饼干</li>
        <li>GB 14930.1-2015 食品安全国家标准 洗涤剂</li>
        <li>GB 14967-2015 食品安全国家标准 胶原蛋白肠衣</li>
        <li>GB 17400-2015 食品安全国家标准 方便面</li>
        <li>GB 30604-2015 食品安全国家标准 食品营养强化剂 1,3-二油酸-2-棕榈酸甘油三酯</li>
        <li>GB 31604.1-2015 食品安全国家标准 食品接触材料及制品迁移试验通则</li>
        <li>GB 28307-2012 食品安全国家标准 食品添加剂 麦芽糖醇和麦芽糖醇液 第1号修改单</li>
        <li>GB 29948-2013 食品安全国家标准 食品添加剂 聚丙烯酸钠 第1号修改单</li>
    </ol>
</div><br />

<a name="section_electrical" class="bookmark"></a>
<h2>电子电气产品</h2>

<a name="hazardous-electronics" class="bookmark"></a>
<strong>发布电器电子产品有害物质限制使用管理办法</strong>
<p>于2016年1月21日，中国工业和中华人民共和国的信息技术部发布中国电器电子产品有害物质限制使用管理办法以减少和电气和电子废物控制污染。它将取代2006年2月28日公布的电子信息产品污染控制管理办法。将于2016年7月1日开始实施。</p>
<a href="javascript://" class="learnmore">更多</a><br />
<div class="moretext">
    <p>相较于当前版本，新版本将改变其范围。原有的电子信息产品将被电器电子产品取代，其定义为：</p>
    <ul>
        <li>是指依靠电流或电磁场工作或者以产生、传输和测量电流和电磁场为目的之设备及配套产品</li>
        <li>额定工作电压为直流电不超过1500伏特、交流电不超过1000伏特的设备及配套产品。（其中涉及电能生产、传输和分配的设备除外。）</li>
    </ul>
    <p>除了在范围的变化，新版本将禁止进口和销售含有以下有害物质的产品：</p>
    <ul>
        <li>铅及其化合物</li>
        <li>汞及其化合物</li>
        <li>镉及其化合物</li>
        <li>六价铬化合物</li>
        <li>多溴联苯（PBB）</li>
        <li>多溴二苯醚（PBDE）</li>
        <li>国家规定的其他有害物质</li>
    </ul>
    <P>除上述有害物质的相关信息，电器电子产品亦必须按照标准SJ/T 11364-2014 （电子电气产品有害物质限制使用标识要求）上的要求附之实行，并标注环保使用期限（EFUP）标志。</P>
</div><br />

<a name="MIIT-standards-lights" class="bookmark"></a>
<strong>工信部发布针对不同行业的产品标准更新清单，包括轻工业</strong>
<p>于2016年4月20日，中华人民共和国工业和信息化部（工信部）发布<a href="http://www.miit.gov.cn/n1146295/n1652858/n1652930/n4509607/c4728296/content.html" target="_blank">公告2016年第17号</a>。发布针对不同的行业，包括轻工等行业的产品标准更新清单。总共有587项标准在清单中。</p>
<a href="javascript://" class="learnmore">更多</a><br />
<div class="moretext">
    <p>实施日期分2个阶段。第一轮将是2016年7月1日，然后2016年9月1日。所有的轻工业产品标准将于第一轮实施。</p>
    <p>根据不同行业，标准总结如下：</p>
    <table>
        <tr>
            <td><b>行业</b></td>
            <td><b>在清单中的标准數量</b></td>
        </tr>
        <tr>
            <td>机械行业</td>
            <td>156</td>
        </tr>
        <tr>
            <td>汽车行业</td>
            <td>35</td>
        </tr>
        <tr>
            <td>船舶行业</td>
            <td>33</td>
        </tr>
        <tr>
            <td>制药装备行业</td>
            <td>16</td>
        </tr>
        <tr>
            <td>化工行业</td>
            <td>45</td>
        </tr>
        <tr>
            <td>冶金行业</td>
            <td>35</td>
        </tr>
        <tr>
            <td>有色金属行业</td>
            <td>24</td>
        </tr>
        <tr>
            <td>轻工行业</td>
            <td>26</td>
        </tr>
        <tr>
            <td>纺织行业</td>
            <td>49</td>
        </tr>
        <tr>
            <td>电子行业</td>
            <td>72</td>
        </tr>
        <tr>
            <td>通信行业标</td>
            <td>96</td>
        </tr>
    </table>

    <p><u>轻工行业:</u></p>
    <table>
        <tr>
            <td>标准编号</td>
            <td>标准名称</td>
        </tr>
        <tr>
            <td>QB/T 1346-2016</td>
            <td>制革机械 真空干燥机</td>
        </tr>
        <tr>
            <td>QB/T 4958-2016</td>
            <td>皮革破裂强度试验机</td>
        </tr>
        <tr>
            <td>QB/T 4959-2016</td>
            <td>制鞋机械 平面轨道式喷胶机</td>
        </tr>
        <tr>
            <td>QB/T 4960-2016</td>
            <td>制鞋机械 曲肘式胶粘压合机</td>
        </tr>
        <tr>
            <td>QB/T 4961-2016</td>
            <td>皮革摩擦色牢度试验机</td>
        </tr>
        <tr>
            <td>QB/T 4962-2016</td>
            <td>制革机械 验皮机</td>
        </tr>
        <tr>
            <td>QB/T 4963-2016</td>
            <td>制鞋机械 内底铣边机</td>
        </tr>
        <tr>
            <td>QB/T 4964-2016</td>
            <td>制鞋机械 拉链上胶机</td>
        </tr>
        <tr>
            <td>QB/T 4965-2016</td>
            <td>制鞋机械 拉帮机</td>
        </tr>
        <tr>
            <td>QB/T 4966-2016</td>
            <td>制鞋机械 鞋口定型机</td>
        </tr>
        <tr>
            <td>QB/T 4967-2016</td>
            <td>制鞋机械 紫外线光固化机</td>
        </tr>
        <tr>
            <td>QB/T 1978-2016</td>
            <td>染发剂</td>
        </tr>
        <tr>
            <td>QB/T 1521-2016</td>
            <td>制革机械设备术语</td>
        </tr>
        <tr>
            <td>QB/T 4946-2016</td>
            <td>玻璃器皿 高脚杯</td>
        </tr>
        <tr>
            <td>QB/T 4947-2016</td>
            <td>化妆品用原料 三氯生</td>
        </tr>
        <tr>
            <td>QB/T 4948-2016</td>
            <td>化妆品用原料 月桂醇磷酸酯</td>
        </tr>
        <tr>
            <td>QB/T 4949-2016</td>
            <td>化妆品用原料 脂肪酰二乙醇胺</td>
        </tr>
        <tr>
            <td>QB/T 4950-2016</td>
            <td>化妆品用原料 PCA钠</td>
        </tr>
        <tr>
            <td>QB/T 4951-2016</td>
            <td>化妆品用原料 光果甘草（Glycyrrhiza glabra）根提取物</td>
        </tr>
        <tr>
            <td>QB/T 4952-2016</td>
            <td>化妆品用原料 抗坏血酸磷酸酯镁</td>
        </tr>
        <tr>
            <td>QB/T 4953-2016</td>
            <td>化妆品用原料 熊果苷（β-熊果苷）</td>
        </tr>
        <tr>
            <td>QB/T 4954-2016</td>
            <td>制鞋机械 聚氨酯连帮注射成型机</td>
        </tr>
        <tr>
            <td>QB/T 4955-2016</td>
            <td>家用卫生杀虫用品 杀虫气雾剂推进剂 丙丁烷</td>
        </tr>
        <tr>
            <td>QB/T 4956-2016</td>
            <td>固体空气清新剂</td>
        </tr>
        <tr>
            <td>QB/T 4957-2016</td>
            <td>金属眼镜框丝 </td>
        </tr>
        <tr>
            <td>QB/T 4889-2016</td>
            <td>八音琴机芯技术要求</td>
        </tr>
    </table>
</div><br />

<a name="section_supervision" class="bookmark"></a>
<h2>市场监督</h2>

<a name="AQSIQ-inspections" class="bookmark"></a>
<strong>质检总局关于开展2016年目录外进出口商品监督抽查工作的公告</strong>
<p>于2016年4月15日，国家质量监督检验检疫总局（质检总局）发布2016年第38号－质检总局关于开展2016年目录外进出口商品监督抽查工作的公告，实施进出口商品监督抽查。</p>
<a href="javascript://" class="learnmore">更多</a><br />
<div class="moretext">
    <p>为全面加强进出口商品质量监管，质检总局决定对进出口商品实施监督抽查。从2016年4月至2016年10月起，下列产品会被各地检验检疫机构抽查（必须经检验检疫机构检验的进出口商品除外）：</p>
    <table>
        <tr>
            <td><b>产品</b></td>
            <td><b>进／出口</b></td>
            <td><b>检验标准</b></td>
        </tr>
        <tr>
            <td>电动平衡车</td>
            <td>出口</td>
            <td>
                <u>美国：</u><br />
                UL2271 UN38.3 <br />
                UL2272 <br />
                UL60950 <br />
                <u>欧盟：</u><br />
                IEC62133+UN38.3 <br />
                IEC60950<br />
            </td>
        </tr>
        <tr>
            <td>空气净化器</td>
            <td>进口</td>
            <td>
                GB 4706.1-2005<br />
                GB 4706.45-2008<br />
                GB/T 18801-2015<br />
            </td>
        </tr>
        <tr>
            <td>电子座便器</td>
            <td>进口</td>
            <td>
                GB 4706.1-200
                GB 4706.53-2008
            </td>
        </tr>
        <tr>
            <td>汽车用制动器衬片</td>
            <td>进口</td>
            <td>GB 5763-2008</td>
        </tr>
        <tr>
            <td>吸湿速干服装</td>
            <td>进口</td>
            <td>
                GB/T 21655.1-2008
                GB/T 21655.2-2009
            </td>
        </tr>
        <tr>
            <td>抗紫外线服装</td>
            <td>进口</td>
            <td>GB/T 18830-2009</td>
        </tr>
        <tr>
            <td>抗菌性服装</td>
            <td>进口</td>
            <td>
                GB/T 20944.1-2007
                GB/T 20944.2-2007
                GB/T 20944.3-2007
            </td>
        </tr>
        <tr>
            <td>防水性服装</td>
            <td>进口</td>
            <td>
                GB/T 4745-2012
                GB/T 4744-2013
            </td>
        </tr>
        <tr>
            <td>童鞋</td>
            <td>进口</td>
            <td>GB 30585-2014</td>
        </tr>
        <tr>
            <td>保温杯(玻璃胆除外)</td>
            <td>进口</td>
            <td>GB 9684-2011</td>
        </tr>
        <tr>
            <td>卫生湿巾</td>
            <td>进口</td>
            <td>GB 15979-2002</td>
        </tr>
        <tr>
            <td>安全套</td>
            <td>进口</td>
            <td>GB 7544-2009</td>
        </tr>
        <tr>
            <td>壁纸</td>
            <td>进口</td>
            <td>GB 18585-2001</td>
        </tr>
        <tr>
            <td>钢丝绳</td>
            <td>出口</td>
            <td>
                GB 8903-2005
                GB 26722-2011
                GB 8918-2006
            </td>
        </tr>
        <tr>
            <td>轮胎</td>
            <td>出口</td>
            <td>
                GB 9743-2015
                GB 9744-2015
                GB 518-2007
            </td>
        </tr>
    </table>
</div><br />

<a name="april-product-sampling" class="bookmark"></a>
<strong>2016年4月各省市的产品抽查结果</strong>
<p>为加强产品质量监督，各省质量技术监督对不同的产品（当中包括纺织品，鞋类，食品及与食品接触的物品，玩具）进行了质量监督抽查，并发布抽查结果。</p>
<a href="javascript://" class="learnmore">更多</a><br />
<div class="moretext">
    <P>山西省质量技术监督局对以下产品进行了监督抽查，并：</P>
    <ul>
        <li>于2016年4月1日及4月13日，发布12种纺织品的抽查结果</li>
        <li>于2016年4月1日，发布食品包装材料的抽查结果</li>
    </ul>
    <p><u>纺织品:</u></p>
    <table>
        <tr>
            <td><b>产品</b></td>
            <td><b>总批次</b></td>
            <td><b>不合格项目</b></td>
            <td><b>不合格之百分比</b></td>
        </tr>
        <tr>
            <td>T恤</td>
            <td>60</td>
            <td>
                - 纤维含量<br />
                - 耐光汗复合色牢度<br />
                - 耐汗渍色牢度<br />
            </td>
            <td>22 %</td>
        </tr>
        <tr>
            <td>牛仔裤</td>
            <td>30</td>
            <td>
                - 纤维含量<br />
                - 耐干摩擦色牢度<br />
                - 耐水色牢度<br />
            </td>
            <td>23 %</td>
        </tr>
        <tr>
            <td>皮带</td>
            <td>30</td>
            <td>
                - 摩擦色牢度不合格<br />
            </td>
            <td>3 %</td>
        </tr>
        <tr>
            <td>茄克</td>
            <td>50</td>
            <td>
                - 纤维含量<br />
                - 耐干摩擦色牢度<br />
                - 耐汗渍色牢度<br />
            </td>
            <td>10 %</td>
        </tr>
        <tr>
            <td>裙子</td>
            <td>60</td>
            <td>
                - 纤维含量<br />
                - 耐汗渍色牢度<br />
                - 耐水色牢度<br />
            </td>
            <td>13 %</td>
        </tr>
        <tr>
            <td>袜子</td>
            <td>30</td>
            <td>
                - 纤维含量<br />
            </td>
            <td>13 %</td>
        </tr>
        <tr>
            <td>床单</td>
            <td>75</td>
            <td>
                - pH值<br />
            </td>
            <td>11 %</td>
        </tr>
        <tr>
            <td>被套</td>
            <td>75</td>
            <td>
                - pH值<br />
            </td>
            <td>13 %</td>
        </tr>
        <tr>
            <td>毛巾</td>
            <td>40</td>
            <td>
                - pH值<br />
            </td>
            <td>7.5 %</td>
        </tr>
        <tr>
            <td>枕套</td>
            <td>75</td>
            <td>
                - pH值<br />
            </td>
            <td>9 %</td>
        </tr>
        <tr>
            <td>枕芯</td>
            <td>70</td>
            <td>
                - 有色污渍<br />
            </td>
            <td>9 %</td>
        </tr>
        <tr>
            <td>毛巾被</td>
            <td>20</td>
            <td>
                - N/A<br />
            </td>
            <td>0 %</td>
        </tr>
    </table>

    <p><u>食品包装材料:</u></p>
    <table>
        <tr>
            <td><b>产品</b></td>
            <td><b>总批次</b></td>
            <td><b>不合格项目</b></td>
            <td><b>不合格之百分比</b></td>
        </tr>
        <tr>
            <td>食品包装材料<br />(包括食品包装用复合袋、聚乙烯袋、食品包装用复合膜和聚乙烯吹塑薄膜)</td>
            <td>39</td>
            <td>N/A</td>
            <td>0 %</td>
        </tr>
    </table>

    <p>江苏省质量技术监督局对以下产品进行了质量监督抽查。于2016年4月20日，发布<a href="http://www.jsqts.gov.cn/zjxx/GovInfoPub/Department/showinfo.aspx?InfoID=1987b9b0-9156-4315-b7e4-be67673e51b9&CategoryNum=001010" target="_blank">抽查结果</a>：</p>
    <table>
        <tr>
            <td><b>产品</b></td>
            <td><b>总批次</b></td>
            <td><b>不合格项目</b></td>
            <td><b>不合格之百分比</b></td>
        </tr>
        <tr>
            <td>女士的內衣</td>
            <td>37</td>
            <td>- 纤维含量<br />- pH值<br /></td>
            <td>8 %</td>
        </tr>
    </table>

    <p>陕西省市场和质量监督管理委员会对以下产品进行了质量监督抽查。于2016年4月12日，发布<a href="http://www.tjmqa.gov.cn/jgdt/zlccbg/7657.html" target="_blank">抽查结果</a>：</p>
    <table>
        <tr>
            <td><b>产品</b></td>
            <td><b>总批次</b></td>
            <td><b>不合格项目</b></td>
            <td><b>不合格之百分比</b></td>
        </tr>
        <tr>
            <td>食品用塑料包装膜</td>
            <td>40</td>
            <td>N/A</td>
            <td>0 %</td>
        </tr>
        <tr>
            <td>保温容器</td>
            <td>30</td>
            <td>
                - 保温容器产品的保温效能<br />
                - 容量偏差<br />
                - 耐冲击性<br />
                - 容量允差<br />
            </td>
            <td>40 %</td>
        </tr>
    </table>

    <p>天津市市场和质量监督管理委员会对以下产品进行了质量监督抽查。于2016年4月29日，发布<a href="http://www.tjmqa.gov.cn/jgdt/zlccbg/7657.html" target="_blank">抽查结果</a>：</p>
    <table>
        <tr>
            <td>产品</td>
            <td>总批次</td>
            <td>不合格项目</td>
            <td>不合格之百分比</td>
        </tr>
        <tr>
            <td>羊绒（羊毛）衫　</td>
            <td>20</td>
            <td>- 纤维含量<br />- 耐汗渍色牢度<br /></td>
            <td>25 %</td>
        </tr>
        <tr>
            <td>袜子</td>
            <td>20</td>
            <td>- 纤维含量<br />- 耐洗色牢度<br />- 直向伸延值<br /></td>
            <td>55 %</td>
        </tr>
        <tr>
            <td>童鞋</td>
            <td>10</td>
            <td>- 感官质量<br />- 耐磨性能<br />- 勾心硬度<br /></td>
            <td>20 %</td>
        </tr>
        <tr>
            <td>皮鞋</td>
            <td>18</td>
            <td>- N/A<br /></td>
            <td>0 %</td>
        </tr>
        <tr>
            <td>塑料玩具</td>
            <td>20</td>
            <td>- N/A<br /></td>
            <td>0 %</td>
        </tr>
    </table>
</div><br />

<br /><p><i>本概述并不旨在穷举也不应被解释为法律意见。</i></p>