<!-- { "Title":"中国法规与监管回顾: 2017年5月发行", "PublishDate":"2017-05-04", "Description":"中国法规与监管回顾" }-->
<ol style="margin-top:10px;">
    <li style="margin-bottom:10px;"><a href="#section_textile">个体防护装备</a>
    <li style="margin-bottom:10px;"><a href="#section_footwear">鞋内产品</a>
    <li style="margin-bottom:10px;"><a href="#section_food">食品</a>
    <li style="margin-bottom:10px;"><a href="#section_other_standard">其他标准更新</a>
    <li style="margin-bottom:10px;"><a href="#section_market">市场监督</a>
</ol>
<hr />

<a name="section_textile" class="bookmark"></a>
<h2>纺织品</h2>

    <a name="may2017-outdoor-sports-clothing-jackets" class="bookmark"></a>
    <strong>国标GB/T 32614-2016《户外运动服装  冲锋衣》正式发布</strong>
    <p>国家标准委近日发布了国标GB/T 32614-2016《户外运动服装 冲锋衣》国家标准。为了保护儿童健康，标准还特别规定了适用于儿童冲锋衣的安全性能要求。</p>
    <a href="javascript://" class="learnmore">更多</a><br />
    <div class="moretext">
        <p>冲锋衣，即采用具有防水透湿功能的纺织面料，加工制成的用于户外运动的，具有防水透湿功能的服装。</p>
        <p>本标准适用于鉴定以纺织面料为主生产的冲锋衣的品质，不适用于年龄在36个月及以下的婴幼儿冲锋衣。鉴于冲锋衣区别于普通服装的穿着特性，该标准依据冲锋衣的功能指标对其进行了级别划分。</p>
        <p>I级产品要求更为严格，适用于专业户外活动；II级产品相对I级产品的功能性指标稍低，可满足日常的户外休闲等活动。对于划分I级、II级的功能性指标，应在吊牌中标注“I级”或“II级”，不标注的均视为I级产品。</p>
        <p>基本安全技术指标包括甲醛含量、pH值、异味、染色牢度、可分解致癌芳香胺染料等，要达到GB18401-2010《国家纺织产品基本安全技术规范》的要求。同时自2016年6月1日起，3岁以上的儿童冲锋衣还要满足强制性标准GB 31701-2015《婴幼儿及儿童纺织产品安全技术规范》的要求。</p>
    </div><br />

    <a name="may2017-textiles-standard-socks" class="bookmark"></a>
    <strong>纺织品行业标准FZ/T 73001-2016《袜子》更新</strong>
    <p>中华人民共和国工业与信息化部发布的纺织行业标准 FZ/T 73001-2016《袜子》将于2017年4月1日正式实施。这个版本是基于FZ/T 73001-2008《袜子》作出的更新。</p>
    <a href="javascript://" class="learnmore">更多</a><br />
    <div class="moretext">
        <p>新版本调整了标准的适用范围和袜子的分类。此外，标准进一步规定了儿童袜标签需要满足强制性标准GB 31701和GB 5296.4的要求。重大技术更新如下表所示：</p>
        <table>
            <tr>
                <td><b>项目</b></td>
                <td><b>重大变化</b></td>
            </tr>
            <tr>
                <td><b>适用范围</b></td>
                <td>- 调整适用范围为男袜和女袜。<br />
                - 增加了不适用范围特别是婴幼儿袜。</td>
            </tr>
            <tr>
                <td><b>术语和定义</b></td>
                <td>- 增加了袜号的定义。<br />
                - 增加了无弹有跟袜、弹力有跟袜、弹力无跟袜、不定型袜、单底袜和加底袜的定义。<br />
                - 删减了薄棉袜、厚棉袜、全氨纶包芯丝袜、高弹锦纶丝/氨纶包芯丝交织袜、锦纶长丝。</td>
            </tr>
            <tr>
                <td><b>产品分类</b></td>
                <td>- 产品分类新标准进行了重新定义。<br />
                - 按是否含弹性纤维分为无弹有跟袜、弹力袜（弹力有跟袜、弹力无跟袜）。<br />
                - 按产品款式分为有跟袜 [含踝下袜（船袜）]、无跟袜（包括短筒袜、中筒袜、长筒袜、连裤袜等），其中：定跟连裤袜、有跟连裤袜、露趾连裤袜均归为连裤袜类别。</td>
            </tr>
            <tr>
                <td><b>甲醛</b></td>
                <td>- 从A类：20 mg/kg，B类：75 mg/kg 调整为符合GB 18401要求。</td>
            </tr>
            <tr>
                <td><b>pH</b></td>
                <td>- 从4.0-7.5 调整为符合GB 18401要求。</td>
            </tr>
            <tr>
                <td><b>异味</b></td>
                <td>- 从无异味调整为符合GB 18401要求。</td>
            </tr>
            <tr>
                <td><b>可分解芳香胺染料</b></td>
                <td>- 从禁用调整为符合GB 18401要求。</td>
            </tr>
            <tr>
                <td><b>纤维成分</b></td>
                <td>- 从符合FZ/T 01053要求调整为符合GB/T 29862要求。</td>
            </tr>
            <tr>
                <td><b>纤维成分取样</b></td>
                <td>- 从脚面调整为脚面或袜底。</td>
            </tr>
            <tr>
                <td><b>标签</b></td>
                <td>- 从 符合GB 5296.4要求调整为符合GB 31701和GB 5296.4要求。</td>
            </tr>
            <tr>
                <td><b>儿童袜强制性要求</b></td>
                <td>- 增加了儿童袜的强制性要求。</td>
            </tr>
        </table>

    </div><br />

<a name="section_footwear" class="bookmark"></a>
<h2>鞋内产品</h2>

    <a name="may2017-light-standard-shoes" class="bookmark"></a>
    <strong>轻工标准QB/T 2880-2016《儿童皮鞋》发布</strong>
    <p>由中华人民共和国工业和信息化部发布的轻工标准QB/T 2880-2016《儿童皮鞋》已于2017年1月1日正式实施。本标准适用于14周岁及以下的儿童和婴幼儿穿用的皮鞋。</p>
    <a href="javascript://" class="learnmore">更多</a><br />
    <div class="moretext">
        <p>QB/T 2880-2016本标准与旧标准相比主要变化如下：</p>
        <ul>
            <li>增加了主要部位和次要部位的术语定义主要部位：帮面外侧、前部、主跟和包头。 次要部位：帮面内侧、后部。</li>
            <li>新增加了2个项目的考核内容</li>
                <ol>    
                    <li>增加了鞋帮拉出强度要求：≥70N/cm</li>
                    <li>增加了安全性能要求：</li>
                        <ul style="list-style-type:none; padding-left:15px">
                            <li>- 纵向中底刚度应符合QB/T 4862的要求</li>
                            <li>- 儿童皮鞋安全性能应符合强制性标准GB 30585的要求。</li>
                        </ul>
                </ol>
            <li>修改了6项内容</li>
                <ol>
                    <li>修改了感官质量。</li>
                    <li>修改了耐折性能的免测情况和性能指标：</li>
                        <ul style="list-style-type:none; padding-left:15px">
                            <li>- 免测情况：鞋底屈挠部位厚度大于25mm或按GB/T 20991中规定测试后弯折角度小于45°；</li>
                            <li>- 性能指标：按照不同材质设定技术要求(非天然皮革和天然皮革)，同时增加相应的外观现象变化的描述。</li>
                        </ul>
                    <li>修改了外底的硬度的要求和试验方法：按照不同外底材质设定技术要求和选择硬度计。</li>
                        <ul style="list-style-type:none; padding-left:15px">
                            <li>- 技术要求：实芯外底：45 - 65卲尔A；微孔发泡外底：45~65卲尔C</li>
                        </ul>
                    <li>修改了检验规则</li>
                    <li>附录中增加了脱色的检验方法</li>
                    <li>修改了售后服务期限和处理方法的内容</li>
                </ol>
        </ul>

        </ul>
    </div><br />
    
<a name="section_food" class="bookmark"></a>
<h2>食品</h2>

    <a name="may2017-food-pesticide-max-residue" class="bookmark"></a>
    <strong>国标GB 2763-2016《食品安全国家标准食品中农药最大残留限量》即将实施</strong>
    <p>中国农业部颁布了GB2763-2016《食品安全国家标准食品中农药最大残留限量》新标准，并规定于2017年6月18日正式实施。</p>
    <a href="javascript://" class="learnmore">更多</a><br />
    <div class="moretext">
        <p>这一新国标在标准数量和覆盖率上都有了较大突破，并规定了13大类农产品中4140个农药残留限量，较2014版增加了490项，并且已经基本涵盖我国已批准使用的常用农药和居民日常消费的主要农产品。</p>
        <p>此外，新版农残限量标准还具备三大特点：</p>
        <ol>
            <li>制定了苯线磷等24种禁用、限用农药184项农药最大残留限量。</li>
            <li>按照国际惯例，对不存在膳食风险的33种农药，豁免制定食品中最大残留限量标准（“豁免制定”是指不需要制定限量标准、只进目录）。</li>
            <li>除对标准中涉及的限量推荐了配套的检测方法外，还同步发布了106项农药残留检测方法国家标准。</li>
        </ol>
    </div><br />

<a name="section_other_standard" class="bookmark"></a>
<h2>其他标准更新</h2>

    <a name="may2017-conversion-mandatory-standards" class="bookmark"></a>
    <strong>国标委转化强制性标准为推荐性标准</strong>
    <p>于2017年3月23日，中国国家标准化管理委员会发布2017年第7号公告。公告内容为强制性标准的更新，将强制性国家标准转化为推荐性国家标准。</p>
    <a href="javascript://" class="learnmore">更多</a><br />
    <div class="moretext">
        <p>自公之日起，1077项强制性国家标准将转化为推荐性国家标准，例子如下：</p>
        <ul list-style-type:none>
            <li>- GB/T 5296.1-2012消费品使用说明  第1部分：总则</li>
            <li>- GB/T 5296.2-2008消费品使用说明  第2部分：家用和类似用途电器</li>
            <li>- GB/T 5296.4-2012消费品使用说明  第4部分：纺织品和服装</li>
            <li>- GB/T 5296.5-2006消费品使用说明  第5部分：玩具</li>
            <li>- GB/T 5296.6-2004消费品使用说明  第6部分：家具</li>
            <li>- GB/T 5296.7-2008消费品使用说明  第7部分：体育器材</li>
        </ul>
        <p>其他更新标准: 见<a href="http://new.sac.gov.cn/gzfw/ggcx/gjbzgg/201707/201703/P020170328556124921902.doc" target="_blank">附件</a>。</p>
    </div><br />
        
<a name="section_market" class="bookmark"></a>
<h2>市场监督</h2>

    <a name="may2017-product-sampling-results" class="bookmark"></a>
    <strong>2017年1至3月各省的产品抽查结果</strong>
    <p>为加强产品质量监督，各省质量技术监督对不同的消费品（当中包括服装，纺织品，鞋类及与食品接触的物品等）进行了质量监督抽查，并发布抽查结果.</p>
    <a href="javascript://" class="learnmore">更多</a><br />
    <div class="moretext">
        <p>北京市质量技术监督局对以下产品进行了抽查，并于2017年1-3月发布以下tyle=font产品的抽查结果：</p>
        <table>
            <tr>
                <td><b>产品</b></td>
                <td><b>总批次</b></td>
                <td><b>不合格项目</b></td>
                <td><b>不合格之百分比</b></td>
            </tr>
            <tr>
                <td>食品用纸制品</td>
                <td>1</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>食品用塑料包装容器制品</td>
                <td>7</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>灯具</td>
                <td>4</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>家用电器</td>
                <td>20</td>
                <td>- 标志和说明<br />
                能源效率标识标注</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>家具</td>
                <td>209</td>
                <td>- 表面理化性能（漆膜抗冲击）<br />
                - 甲醛释放量<br />
                - 力学性能（稳定性）</td>
                <td>5%</td>
            </tr>
            <tr>
                <td>床上及家居纺织品</td>
                <td>5</td>
                <td>- 纤维成分及含量</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>纺织服装（儿童、成人）</td>
                <td>52</td>
                <td>- 纤维成分及含量</td>
                <td>10%</td>
            </tr>
        </table>
        <p>山西省质量技术监督局对以下产品进行了抽查，并于2017年1-3月发布以下产品的抽查结果：</p>
        <table>
            <tr>
                <td><b>产品</b></td>
                <td><b>总批次</b></td>
                <td><b>不合格项目</b></td>
                <td><b>不合格之百分比</b></td>
            </tr>
            <tr>
                <td>羽绒服</td>
                <td>30</td>
                <td>- 纤维含量</td>
                <td>3.3%</td>
            </tr>
            <tr>
                <td>棉服装</td>
                <td>50</td>
                <td>- 面料纤维含量<br />
                - 填充物原料要求</td>
                <td>4%</td>
            </tr>
            <tr>
                <td>运动服</td>
                <td>30</td>
                <td>- 耐干面料纤维含量</td>
                <td>16.7%</td>
            </tr>
            <tr>
                <td>运动服</td>
                <td>40</td>
                <td>- 耐干摩擦色牢度<br />
                - 纤维含量</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>工作服</td>
                <td>20</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>儿童服装</td>
                <td>30</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>学生服装</td>
                <td>78</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>女上衣</td>
                <td>50</td>
                <td>- 耐碱汗渍色牢度<br />
                - 面料纤维含量</td>
                <td>4.1%</td>
            </tr>
            <tr>
                <td>针织内衣</td>
                <td>40</td>
                <td>- 纤维含量</td>
                <td>5%</td>
            </tr>
            <tr>
                <td>保暖内衣</td>
                <td>20</td>
                <td>- 保温率</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>衬衫</td>
                <td>40</td>
                <td>- 面料纤维含量<br />
                - 耐碱汗渍色牢度<br />
                - 耐酸汗渍色牢度<br />
                - 耐水色牢度</td>
                <td>40%</td>
            </tr>
            <tr>
                <td>T恤</td>
                <td>30</td>
                <td>- 面料纤维含量</td>
                <td>3.3%</td>
            </tr>
            <tr>
                <td>裤子</td>
                <td>50</td>
                <td>- 纤纤维含量</td>
                <td>26%</td>
            </tr>
            <tr>
                <td>皮鞋</td>
                <td>50</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>旅游鞋</td>
                <td>50</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>洗发液、沐浴液</td>
                <td>53</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>纸巾纸</td>
                <td>30</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>接触食品用不锈钢制品</td>
                <td>30</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>食品包装材料</td>
                <td>40</td>
                <td>- 断裂标称应变<br />
                - 断裂伸长率</td>
                <td>5%</td>
            </tr>
        </table>
        <p>上海质量技术监督局对以下产品进行了抽查，并于2017年1-3月发布以下产品的抽查结果：</p>
        <table>
            <tr>
                <td><b>产品</b></td>
                <td><b>总批次</b></td>
                <td><b>不合格项目</b></td>
                <td><b>不合格之百分比</b></td>
            </tr>
            <tr>
                <td>袜子</td>
                <td>30</t纸d>
                <td>- 纤维含量</td>
                <td>13%</td>
            </tr>
            <tr>
                <td>针织（保暖）内衣</td>
                <td>30</td>
                <td>- 纤维含量</td>
                <td>3.3%</td>
            </tr>
            <tr>
                <td>毛针织品</td>
                <td>60</td>
                <td>- N/A纤维含量<br />
                - 耐汗渍色牢度</td>
                <td>5%</td>
            </tr>
            <tr>
                <td>围巾</td>
                <td>50</td>
                <td>- 纤维含量、<br />
                - 耐汗渍色牢度<br />
                - 耐干摩色牢度</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>羽绒羽毛被</td>
                <td>30</td>
                <td>- 纤维含量<br />
                - 填充物质量偏差率</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>皮鞋</td>
                <td>40</td>
                <td>- 感官质量<br />
                - 耐折性能<br />
                - 帮底剥离强度<br />
                - 鞋类钢勾心<br />
                - 衬里和内垫摩擦色牢度,br />
                - 甲醛含量</td>
                <td>37.5%</td>
            </tr>
            <tr>
                <td>旅行箱</td>
                <td>30</td>
                <td>- 外观质量、标识、行走性能、<br />
                - 拉杆耐疲劳性能、<br />
                - 振荡冲击性能、<br />
                - 硬箱箱体耐静压性能<br />
                - 硬箱箱面耐落球冲击性能<br />
                - 耐冲击性能</td>
                <td>76.6%</td>
            </tr>
            <tr>
                <td>儿童伞</td>
                <td>7</td>
                <td>使用安全要求<br />
                - 珠尾<br />
                - 饰件<br />
                - 冲击强度</td>
                <td>57.1%</td>
            </tr>
            <tr>
                <td>家用坐垫产品</td>
                <td>30</td>
                <td>- 耐水染色牢度<br>
                - 耐碱汗渍染色牢度<br />
                - 耐皂洗色牢度<br />
                - 使用说明</td>
                <td>23.3%</td>
            </tr>
            <tr>
                <td>台灯产品</td>
                <td>45</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>食品用陶瓷制品产品</td>
                <td>76</td>
                <td>- 铅溶出量<br />
                - 磷酸三钙（%）<br />
                - 吸水率(%)</td>
                <td>4%</td>
            </tr>
            <tr>
                <td>不锈钢制品</td>
                <td>100</td>
                <td>- 标识<br />
                - 铬（以Cr计）<br />
                - 镍（以Ni计）</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>食品接触用尼龙制品</td>
                <td>10</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>PET饮料瓶</td>
                <td>12</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>食品接触用搪瓷制品</td>
                <td>10</td>
                <td>- 耐酸性<br />
                - 密着性</td>
                <td>50%</td>
            </tr>
            <tr>
                <td>食品接触用玻璃制品</td>
                <td>35</td>
                <td>- 容量<br />
                - 外表面温度<br />
                - 耐热急变性能<br />
                - 碎片状态</td>
                <td>31.4%</td>
            </tr>
            <tr>
                <td>一次性塑料餐饮具</td>
                <td>188</td>
                <td>- 蒸发残渣高锰酸钾消耗量</td>
                <td>13.3%</td>
            </tr>
            <tr>
                <td>塑料饮水壶（杯）产品</td>
                <td>61</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>塑料吸管产品</td>
                <td>42</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>糖果及巧克力制品商品包装</td>
                <td>61</td>
                <td>- 包装空隙率</td>
                <td>1.6%</td>
            </tr>
            <tr>
                <td>乳制品</td>
                <td>30</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
        </table>
        <p>江苏省质量技术监督局对以下产品进行了抽查，并于2017年1-3月发布以下产品的抽查结果：</p>
        <table>
            <tr>
                <td><b>产品</b></td>
                <td><b>总批次</b></td>
                <td><b>不合格项目</b></td>
                <td><b>不合格之百分比</b></td>
            </tr>
            <tr>
                <td>洗手液</td>
                <td>95</td>
                <td>- 总有效物<br />
                - PH值<br />
                - 菌落总数</td>
                <td>13.6%</td>
            </tr>
            <tr>
                <td>美容小家电产品</td>
                <td>97</td>
                <td>- 标志和说明<br />
                - 对触及带电部件的防护<br />
                - 输入功率和电流<br />
                - 内部布线<br />
                - 电源连接和外部软线</td>
                <td>56.7%</td>
            </tr>
            <tr>
                <td>卫生纸、纸巾纸产品</td>
                <td>62</td>
                <td>- 卫生指标，<br />
                - 尘埃度指标<br />
                - 柔软度指标</td>
                <td>8.1%</td>
            </tr>
            <tr>
                <td>湿巾产品</td>
                <td>97</td>
                <td>- 微生物指标</td>
                <td>1%</td>
            </tr>
            <tr>
                <td>针织内衣产品</td>
                <td>165</td>
                <td>- PH值<br />
                - 可分解芳香胺染料<br />
                - 纤维含量<br />
                - 耐水色牢度</td>
                <td>24.8%</td>
            </tr>
            <tr>
                <td>羽绒服装</td>
                <td>102</td>
                <td>- 含绒量/绒子含量<br />
                - 充绒量<br />
                - 防钻绒性<br />
                - 纰裂<br />
                - 纤维含量<br />
                - 标志标识</td>
                <td>13.7%</td>
            </tr>
        </table>
        <p>山东省质量技术监督局对以下产品进行了抽查，并于2017年1-3月发布以下产品的抽查结果：</p>
        <table>
            <tr>
                <td><b>产品</b></td>
                <td><b>总批次</b></td>
                <td><b>不合格项目</b></td>
                <td><b>不合格之百分比</b></td>
            </tr>
            <tr>
                <td>软体家具沙发产品</td>
                <td>34</td>
                <td>- 木制件用料<br />
                - 加工要求（内部用料）<br />
                - 泡沫塑料（回弹性能）</td>
                <td>2.9%</td>
            </tr>
            <tr>
                <td>办公家具产品</td>
                <td>30</td>
                <td>- 木工要求</td>
                <td>3.3%</td>
            </tr>
            <tr>
                <td>婴幼儿服装产品</td>
                <td>28</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>学生校服产品</td>
                <td>60</td>
                <td>- 纤维含量<br />
                - 纰裂<br />
                - 使用说明</td>
                <td>15%</td>
            </tr>
            <tr>
                <td>皮鞋产品</td>
                <td>23</td>
                <td>- 鞋帮拉出强度</td>
                <td>9%</td>
            </tr>
            <tr>
                <td>内衣产品</td>
                <td>23</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
        </table>
        <p>河南省质量技术监督局对以下产品进行了抽查，并于2017年1-3月发布以下产品的抽查结果：</p>
        <table>
            <tr>
                <td><b>产品</b></td>
                <td><b>总批次</b></td>
                <td><b>不合格项目</b></td>
                <td><b>不合格之百分比</b></td>
            </tr>
            <tr>
                <td>休闲服装和针织内衣</td>
                <td>50</td>
                <td>- 水洗尺寸变化率和纤维含量<br />
                - PH值</td>
                <td>54%</td>
            </tr>
            <tr>
                <td>床上用品</td>
                <td>111</td>
                <td>- PH值<br />
                - 色牢度<br />
                - 纤维成分含量项目</td>
                <td>7.5%</td>
            </tr>
        </table>
        <p>广东省质量技术监督局对以下产品进行了抽查，并于2017年1-3月发布以下产品的抽查结果：</p>
        <table>
            <tr>
                <td><b>产品</b></td>
                <td><b>总批次</b></td>
                <td><b>不合格项目</b></td>
                <td><b>不合格之百分比</b></td>
            </tr>
            <tr>
                <td>儿童及婴幼儿产品</td>
                <td>135</td>
                <td>- 儿童及婴幼儿服装的产品使用说明（标识）<br />
                - 纤维含量<br />
                - PH值<br />
                - 可分解致癌芳香胺染料<br />
                - 绳带要求<br />
                - 附件抗拉强力<br />
                - 耐洗色牢度<br />
                - 耐湿摩擦色牢度<br />
                - 耐光色牢度<br />
                - 含绒量<br />
                - 绒子含量</td>
                <td>23%</td>
            </tr>
             <tr>
                <td>童车</td>
                <td>30</td>
                <td>- 危险夹缝</td>
                <td>3.3%</td>
            </tr>
             <tr>
                <td>服装产品</td>
                <td>62</td>
                <td>- 使用说明<br />
                - 纤维成分及含量<br />
                - 甲醛含量<br />
                - 耐汗渍色牢度<br />
                - 接缝性能<br />
                - 附件抗拉强力</td>
                <td>16.7%</td>
            </tr>
             <tr>
                <td>羽绒服装</td>
                <td>50</td>
                <td>- 使用说明（标识）<br />
                - 纤维含量<br />
                - 充绒量</td>
                <td>8%</td>
            </tr>
             <tr>
                <td>电热水器</td>
                <td>85</td>
                <td>- 电热水器的结构<br />
                - 能效等级<br />
                - 额定容量<br />
                - 输入功率和电流<br />
                - 接地措施<br />
                - 对触及带电部件的防护</td>
                <td>34.1%</td>
            </tr>
        </table>
        <p>甘肃省质量技术监督局对以下产品进行了抽查，并于2017年1-3月发布以下产品的抽查结果</p>
        <table>
            <tr>
                <td><b>产品</b></td>
                <td><b>总批次</b></td>
                <td><b>不合格项目</b></td>
                <td><b>不合格之百分比</b></td>
            </tr>
            <tr>
                <td>一次性竹木筷子产品</td>
                <td>40</td>
                <td>- 二氧化硫浸出量</td>
                <td>17.5%</td>
            </tr>
             <tr>
                <td>衣料用洗涤剂</td>
                <td>43</td>
                <td>- 总活性物<br />
                - 污布的去污力</td>
                <td>53.4%</td>
            </tr>
             <tr>
                <td>塑料书皮</td>
                <td>40</td>
                <td>- 增塑剂邻苯二甲酸酯</td>
                <td>5%</td>
            </tr>
             <tr>
                <td>婴幼儿服装产品</td>
                <td>60</td>
                <td>- PH值<br />
                - 纤维含量<br />
                - 甲醛含量<br />
                - 耐干摩擦色牢度<br />
                - 耐湿摩擦色牢度</td>
                <td>70%</td>
            </tr>
        </table>
    </div><br />
