<!-- { "Title":"法规与监管回顾 : 2017年10月号", "PublishDate":"2017-10-21", "Description":"新版本的玩具安全标准ASTM F963-17在2017年8月24日发布。而美国消费品安全委员会在2017年9月1日收到有关本次修订安全标准的通知。下列总结本次修订作出的变动" }-->
<div class="recapSectionHeader">
	<ol style="margin-top:10px;">
		<li style="margin-bottom:10px;"><a href="#north_america_news">北美回顾</a></li>
		<li style="margin-bottom:10px;"><a href="#asia_news">亚洲回顾</a></li>
	</ol>
	<hr />
</div>

<div class="recapSectionHeader">
	<a name="north_america_news" class="bookmark"></a>
	<h2>北美回顾</h2>
</div>

<div class="recapSection">
	<a name="Oct2017-Review-ASTM-F963-17-Toys-Safety-Standards" class="bookmark"></a>
	<strong>ASTM F963-17 玩具安全标准修订变动总览</strong>
	<p>新版本的玩具安全标准<a href="https://www.astm.org/Standards/F963.htm" target="_blank">ASTM F963-17</a>在2017年8月24日发布。而美国消费品安全委员会在2017年9月1日收到有关本次修订安全标准的通知。下列总结本次修订作出的变动</p>
	<a href="/regulatory-updates/October-2017/oct2017-review-astm-f963-17-toys-safety-standards" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>根据美国消费品安全改进法案（CPSIA），修订后的标准将于美国消费品安全委员会收到通知
		的180天后执行。消费品安全委员会也有可能于90天内驳回修订。
		时间线:</p>
		<img src="https://s3.asiainspection.com/newsletters/2017-10-Reg-Recap-CN/timeline-diagram.png" style="max-width:100%;">
		<br /><br />
		<p>修订如下：</p>
		<table>
			<tr style="text-align: center; font-weight: bold;">
				<td>章节</td>
				<td>要求</td>
				<td>变动总览</td>
			</tr>
			<tr>
				<td style="text-align: center;">3.1.20</td>
				<td>定义</td>
				<td>-&nbsp;&nbsp;&nbsp;修订「化妆品」的定义，以阐明对使用在玩具上的化妆品并不受《联邦食品、药品和化妆品法案》中的标签要求所限<br />
				-&nbsp;&nbsp;&nbsp;移除「驱动机制」的定义。本词并没有在此版本的标准中出现。</td>
			</tr>
			<tr>
				<td style="text-align: center;">4.3.6.1</td>
				<td style="font-weight: bold;">微生物安全</td>
				<td>-&nbsp;&nbsp;&nbsp;指定应用于工艺用水的微生物安全标准<br />
				-&nbsp;&nbsp;&nbsp;USP 35<1231>; 及<br />
				-&nbsp;&nbsp;&nbsp;EPA 40 CFR 141.63</td>
			</tr>
			<tr>
				<td style="text-align: center;">4.21</td>
				<td style="font-weight: bold;">射弹玩具</td>
				<td>-&nbsp;&nbsp;&nbsp;对测试时动能为0.08焦耳以下的射弹玩具豁免动能密度（KED）要求</td>
			</tr>
			<tr>
				<td style="text-align: center;">8.19.5.3(1)</td>
				<td style="font-weight: bold;">含有可充电电池的玩具的<br />测试方法</td>
				<td>-&nbsp;&nbsp;&nbsp;阐明正温度系数热敏电阻在测试时不须被短路</td>
			</tr>
			<tr>
				<td style="text-align: center;">8.20.1.5(5)</td>
				<td style="font-weight: bold;">发声玩具的测试方法</td>
				<td>-&nbsp;&nbsp;&nbsp;阐明可移动的「地上用及桌上用玩具」并不包括推拉玩具</td>
			</tr>
			<tr>
				<td style="text-align: center;">-</td>
				<td style="font-weight: bold;">其他编辑变更</td>
				<td style="text-align: center;">---</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="Oct2017-US_CPSC-accepts-Fed-standard-baby-chairs" class="bookmark"></a>
	<strong>美国消费品安全委员会接纳新婴儿安全摇椅联邦标准</strong>
	<p>美国消费品安全委员会在2017年9月7日通过最终定案，16 CFR 1229,采用ASTM F2167-17,并加强警告标签方面的要求。ASTM F2167-17是婴儿摇椅的强制性安全标准，其主要目的为减少婴儿从摇椅上坠落而受伤的风险。</p>
	<a href="/regulatory-updates/October-2017/oct2017-us_cpsc-accepts-fed-standard-baby-chairs" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>根据此标准，婴儿安全摇椅定义为：</p>
		<ol>
			<li>为以倾斜角度承载使用者，以自行或在协助下摇动而设的自立式产品，及</li>
			<li>为未有自行坐正能力婴儿（大约0至6个月大）而设的产品。</li>
		</ol>
		<p>本最终定案采用ASTM F2167-17,并加强警告标签方面的要求：</p>
		<ol>
			<li>本最终法案要求加入额外的警告标语，提醒照顾者「即使在婴儿沉睡后」亦应使用安全制动系统。</li>
			<li>本最终法案亦要求在椅背加上跌倒危险的警告标签，以确保照顾者知悉及注意有关危险。</li>
		</ol>
	</div><br />
</div>

<div class="recapSection">
	<a name="Oct2017-US NEPA-announced-implementation-(TSCA)" class="bookmark"></a>
	<strong>美国国家环境保护局公布有毒物质控制法案改革（TSCA）后的执行进度</strong>
	<p>经改革的有毒物质控制法案（TSCA）于2016年6月22日获签订成为法律，于一年后的2017年6月22日，美国国家环境保护局宣达成其订下的第一年法定责任和期限。与此同时，环境保护局公布头10项已通过风险评估化学物质的范围文件。</p>
	<a href="/regulatory-updates/October-2017/oct2017-us nepa-announced-implementation-(tsca)" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>在这一年，环境保护局达成了下列法定责任：</p>
		<table style="width: 90%">
			<tr>
				<td style="font-weight:bold;">No<br />.</td>
				<td style="font-weight:bold;">文件</td>
				<td style="font-weight:bold;">详细内容</td>
			</tr>
			<tr>
				<td style="text-align: center;">1</td>
				<td>在2016年年尾开始评估的头10项已通过风险评估化学物质的范围文件。</td>
				<td>每份范围文件包括下列资讯：<br />
				-&nbsp;&nbsp;确认将会被评估的每项化学物质的用途，及风险评估的进行方式。
				-&nbsp;&nbsp;化学物质的潜在危险及暴露途径
				-&nbsp;&nbsp;化学物质的使用条件
				-&nbsp;&nbsp;环境保护局认为有较高暴露风险的人口群组</td>
			</tr>
			<tr>
				<td rowspan="3" style="text-align: center;">2</td>
				<td rowspan="3">3条最终定案</td>
				<td>第1条最终定案订立环境保护局分辨出需对其作出风险评估的高度优先化学物质和不需对其作出评估的低优先化学物质的程序和准则。</td>
			</tr>
			<tr>
				<td>第2条最终定案订立环境保护局评估高度优先化学物质是否会对健康和环境构成不合理风险的程序。</td>
			</tr>
			<tr>
				<td>第3条最终定案要求业界报告过往10年在美国生产或处理使用的化学物质。</td>
			</tr>
			<tr>
				<td style="text-align: center;">3</td>
				<td>对外部组织的指引文件</td>
				<td>环境保护局发布供有意向当局提交风险评估草稿以作考虑的外部组织参考的指引文件。</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="Oct2017-ASTM-Standard-Update" class="bookmark"></a>
	<strong>ASTM标准更新</strong>
	<p>下列总结近期更新的ASTM标准：</p>
	<a href="/regulatory-updates/October-2017/oct2017-astm-standard-update" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<table>
		<tr>
			<td style="text-align: center; font-weight: bold;">ASTM 标准号</td>
			<td style="text-align: center; font-weight: bold;">详细内容</td>
		</tr>
		<tr>
			<td style="text-align: center;">ASTM F2167-17</td>
			<td><b>婴儿摇椅的消费者安全标准</b>涵盖婴儿摇椅的性能要求，测试方法，和标记要求，以促进大众更安全地使用婴儿摇椅。</td>
		</tr>
		<tr>
			<td style="text-align: center;">ASTM F2613-17</td>
			<td><b>儿童坐椅和凳子的消费者安全标准</b>涵盖儿童坐椅和凳子的性能要求和结构完整性测试要求。本指引也列出了标签要求。</td>
		</tr>
		<tr>
			<td style="text-align: center;">ASTM F963-17</td>
			<td><b>玩具消费者安全标准</b>涵盖玩具在正常使用或可预见合符预期的滥用下可能会遇到但公众可能不会留意到的危险。</td>
		</tr>
	</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="Oct2017-California 65 prop-recent=60-days-notice" class="bookmark"></a>
	<strong>加洲65号提案：近期的60天通知</strong>
	<p>因应对曝露于有害化学物质的疑虑，加洲公民于1986年投票通过65号提案。自65号提案获得通过以来，加洲出现许多针对含有65号提案列表上致癌及具生殖毒性的化学物质等消费品而提出的诉讼，以使其更改产品内的化学成份。</p>
	<a href="/regulatory-updates/October-2017/oct2017-california 65 prop-recent=60-days-notice" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<p>2017年6月至8月的60天通知如下：</p>
	<table>
		<tr>
			<td>化学物质</td>
			<td>产品／源头</td>
			<td>通知次数</td>
		</tr>
		<tr>
			<td>二恶烷</td>
			<td>洗发水</td>
			<td>2</td>
		</tr>
		<tr>
			<td>丙烯酰胺</td>
			<td>食物</td>
			<td>79</td>
		</tr>
		<tr>
			<td>石棉, 含有石棉纤维的滑石</td>
			<td>爽身粉</td>
			<td>1</td>
		</tr>
		<tr>
			<td rowspan="2">双酚A(BPA)</td>
			<td>食物容器：聚碳酸酯杯／高脚杯／沙律羹／搅拌机瓶子／咖啡壸／汤碗／勺板／鸡尾酒杯</td>
			<td>8</td>
		</tr>
		<tr>
			<td>感热纸</td>
			<td>2</td>
		</tr>
		<tr>
			<td>镉</td>
			<td>食物／首饰</td>
			<td>6</td>
		</tr>
		<tr>
			<td rowspan="2">镉及镉化合物，铅及铅化合物</td>
			<td>食物粉／巧克力</td>
			<td>4</td>
		</tr>
		<tr>
			<td>膳食补充剂</td>
			<td>5</td>
		</tr>
		<tr>
			<td rowspan="11">二（2-乙基己基）邻苯二甲酸酯(DEHP)</td>
			<td>臂环</td>
			<td>2</td>
		</tr>
		<tr>
			<td>包／化妆袋／袋／钱包／手提包／证件套／箱</td>
			<td>20</td>
		</tr>
		<tr>
			<td>包／袋／箱／含有聚氯乙烯或乙烯基成份的储物箱</td>
			<td>6</td>
		</tr>
		<tr>
			<td>含有聚氯乙烯或乙烯基成份的电线</td>
			<td>7</td>
		</tr>
		<tr>
			<td>健身箱／健身腰带／泡沫轴／浮板／防水袋</td>
			<td>9</td>
		</tr>
		<tr>
			<td>含有聚氯乙烯或乙烯基成份的耳机／手套</td>
			<td>12</td>
		</tr>
		<tr>
			<td>可充气浴缸枕头连吸盘／首饰盒连聚合物手把／钥匙圈</td>
			<td>3</td>
		</tr>
		<tr>
			<td>厨房用具手把／含有聚氯乙烯或乙烯基成份的托盘</td>
			<td>2</td>
		</tr>
		<tr>
			<td>药盒／雨衣／拖鞋／吸盘</td>
			<td>9</td>
		</tr>
		<tr>
			<td>含有聚氯乙烯或乙烯基成份的工具</td>
			<td>7</td>
		</tr>
		<tr>
			<td>聚氯乙烯或乙烯基围裙／垫子／披风／厕所板／管／软管／拉链扣</td>
			<td>17</td>
		</tr>
		<tr>
			<td>二（2-乙基己基）邻苯二甲酸酯(DEHP), 邻苯二甲酸二异癸酯(DIDP), 邻苯二甲酸二异壬酯(DINP)</td>
			<td>乙烯基寝具储藏箱</td>
			<td>1</td>
		</tr>
		<tr>
			<td>二（2-乙基己基）邻苯二甲酸酯(DEHP), 邻苯二甲酸二异癸酯(DIDP), 邻苯二甲酸二正丁酯(DBP), 邻苯二甲酸二异壬酯(DINP), 铅</td>
			<td>含有聚氯乙烯或乙烯基成份的袋</td>
			<td>1</td>
		</tr>
		<tr>
			<td rowspan="2">二（2-乙基己基）邻苯二甲酸酯(DEHP), 邻苯二甲酸二异壬酯(DINP)</td>
			<td>袋／臂章／箱／含有聚氯乙烯或乙烯基成份的袋</td>
			<td>5</td>
		</tr>
		<tr>
			<td>鱼饵／乙烯基手把及夹端弹弓夹／乙烯基寝具储藏箱</td>
			<td>4</td>
		</tr>
		<tr>
			<td>二（2-乙基己基）邻苯二甲酸酯(DEHP), 邻苯二甲酸二异壬酯(DINP), 铅</td>
			<td>含有聚氯乙烯或乙烯基成份的电线包／工具包</td>
			<td>1</td>
		</tr>
		<tr>
			<td>二（2-乙基己基）邻苯二甲酸酯(DEHP), 邻苯二甲酸二正丁酯(DBP), 铅</td>
			<td>锤</td>
			<td>2</td>
		</tr>
		<tr>
			<td>二（2-乙基己基）邻苯二甲酸酯(DEHP), 铅及铅化合物</td>
			<td>含有聚氯乙烯或乙烯基成份的工具</td>
			<td>5</td>
		</tr>
		<tr>
			<td rowspan="4">邻苯二甲酸二异壬酯(DINP)</td>
			<td>臂环／袋／手提包／腰包／箱</td>
			<td>10</td>
		</tr>
		<tr>
			<td>含有聚氯乙烯或乙烯基成份的电线／插线板／手机充电钱包</td>
			<td>6</td>
		</tr>
		<tr>
			<td>钓鱼用具</td>
			<td>8</td>
		</tr>
		<tr>
			<td>雨伞／乙烯基围裙／储物箱／手套</td>
			<td>5</td>
		</tr>
		<tr>
			<td>邻苯二甲酸二正丁酯(DBP)</td>
			<td>拖鞋</td>
			<td>6</td>
		</tr>
		<tr>
			<td rowspan="6">铅</td>
			<td>适配器／黄鉰部件</td>
			<td>7</td>
		</tr>
		<tr>
			<td>瓷器／玻璃</td>
			<td>3</td>
		</tr>
		<tr>
			<td>附有黄鉰部件的铜制饮具</td>
			<td>8</td>
		</tr>
		<tr>
			<td>膳食补充剂／食物</td>
			<td>28</td>
		</tr>
		<tr>
			<td>挂锁／部件／喉管配件／阀</td>
			<td>23</td>
		</tr>
		<tr>
			<td>工具／哑铃</td>
			<td>3</td>
		</tr>
	</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="Oct2017-US-Maine-banning-software-containing-fire-retardants-furniture" class="bookmark"></a>
	<strong>美国缅因州通过禁止软体家具中含有阻燃剂的法案</strong>
	<p>缅因州立法机关于2017年8月2日通过立法文件LD 182，因此将会正式立法。本法案旨在透过禁止销售及派发含有个别阻燃化学物质的新软体家具以保护消防员。本法案禁止销售及派发含有超过0.1％阻燃化学物质的新软体家具。</p>
	<a href="/regulatory-updates/October-2017/oct2017-us-maine-banning-software-containing-fire-retardants-furniture" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>自2019年1月1日起，本法案将禁止销售及为推广而派发在下列部份含有超过0.1%阻燃化学物质的软体家具。</p>
		<ul style="list-style-type: none;">
			<li>-&nbsp;&nbsp;&nbsp;布料</li>
			<li>-&nbsp;&nbsp;&nbsp;其他覆盖物</li>
			<li>-&nbsp;&nbsp;&nbsp;缓冲材料</li>
		</ul>
		<span>此法案中受限制的阻燃剂定义为任何抵抗或阻碍火势蔓延的化学物质，包括但不限于卤化、磷基、氮基及纳米级阻燃剂。</span>
	</div><br />
</div>

<div class="recapSection">
	<a name="Oct2017-New-York-Albany-County-implementation-updated-non-toxic-toy-bill" class="bookmark"></a>
	<strong>美国纽约州奥尔巴尼郡实行更新后的无毒玩具法案</strong>
	<p>奥尔巴尼郡健康部门在2017年盛夏发布了更新后的<a href="http://www.albanycounty.com/Libraries/Department_of_Health/Toxic_Free_Toys_Act_Regulations.sflb.ashx" target="_blank">本地法第2015条「无毒玩具法案」</a>，《<a href="http://www.albanycounty.com/Libraries/Department_of_Health/Letter_to_Retailers_-_Toxic_Free_Toys_Act.sflb.ashx" target="_blank">致零售商的信</a>》和有关无毒玩具法案（本地法2015年1号）的「<a href="http://www.albanycounty.com/Libraries/Department_of_Health/Frequently_Asked_Questions_-_Toxic_Free_Toys_Act.sflb.ashx" target="_blank">常见问题</a>」。本法案将于2017年11月1日正式执行。</p>
	<a href="/regulatory-updates/October-2017/oct2017-new-york-albany-county-implementation-updated-non-toxic-toy-bill" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>当地健康部门在《<a href="http://www.albanycounty.com/Libraries/Department_of_Health/Letter_to_Retailers_-_Toxic_Free_Toys_Act.sflb.ashx" target="_blank">致零售商的信</a>》中提及新法案将于2017年11月1日正式执行，并提议零售商透过「<a href="http://www.albanycounty.com/Libraries/Department_of_Health/Frequently_Asked_Questions_-_Toxic_Free_Toys_Act.sflb.ashx" target="_blank">常见问题</a>」清楚明白法案内容。「<a href="http://www.albanycounty.com/Libraries/Department_of_Health/Frequently_Asked_Questions_-_Toxic_Free_Toys_Act.sflb.ashx" target="_blank">常见问题</a>」中提供了更多资讯及说明，包括豁免商品，违反罚则，儿童用品的定义等。</p>
		<p>此法案应用于儿童用品及大体上的儿童服装，并限制下列5种化学物质。</p>
		<table>
			<tr>
				<td style="font-weight: bold; text-align: center;">化学物质</td>
				<td style="font-weight: bold; text-align: center;">本地法2015年1号</td>
			</tr>
			<tr>
				<td style="font-weight: bold;">锑</td>
				<td style="text-align: center;">≤ 60 ppm</td>
			</tr>
			<tr>
				<td style="font-weight: bold;">砷</td>
				<td style="text-align: center;">≤ 25 ppm</td>
			</tr>
			<tr>
				<td style="font-weight: bold;">镉</td>
				<td style="text-align: center;">≤ 75 ppm</td>
			</tr>
			<tr>
				<td style="font-weight: bold;">铅</td>
				<td style="text-align: center;">≤ 90 ppm (油漆及相类似的表面涂层)<br />
				 -------------------------------------<br />
				≤ 100 ppm (可触及的基质)</td>
			</tr>
			<tr>
				<td style="font-weight: bold;">汞</td>
				<td style="text-align: center;">≤ 60 ppm</td>
			</tr>
		</table>
		<p>与旧版本相比，钴和苯从有毒物质限制列表中移除。其中健康部门会继续积极监测有关钴的学术研究和发展，当有更多风险数据和资讯，当局将会要求检验。另外美国国家环境保护局及其他联邦政府机构现时有对食水中和空气的苯含量作出监控，而他们已有针对消费品中苯含量的危险限值规定。</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="Oct2017-Canadian-Ministry-Health-cable-curtain-regulations" class="bookmark"></a>
	<strong>加拿大卫生部提议新的有线窗帘法规</strong>
	<p>加拿大卫生部于2017年7月17日透过加拿大公报提议<a href="http://www.gazette.gc.ca/rp-pr/p1/2017/2017-06-17/html/reg7-eng.php" target="_blank">有线窗帘法规</a>。本法规会取缔现行的有线窗帘法规SOR/2016-17。</p>
	<a href="/regulatory-updates/October-2017/oct2017-canadian-ministry-health-cable-curtain-regulations" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>现行法规SOR/2016-172只是参考其他国家标准，本草拟法规建立对有线窗帘的下列规范：</p>
		<ol>
			<li>小部件</li>
			<li>铅含量</li>
			<li>不能触及的线</li>
			<li>可触及的线（单线端或两个连续的接触点）</li>
			<li>由可触及的线组成的线圈</li>
			<li>分别两条可触及的线</li>
			<li>资讯和广告</li>
			<li>指令和警告</li>
		</ol>
		<p>本法规将会于刊登在加拿大公报第二部分，并在6个月后生效</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="Oct2017-Canada-public-consultation-regulation-formaldehyde-content" class="bookmark"></a>
	<strong>加拿大开始就以设立法规手段管制复合木材制品中甲醛含量展开公众咨询</strong>
	<p>加拿大环境部在八月就以设立法规手段减少复合木材制品甲醛排放展开公众咨询。本法规计划于2018年在加拿大公报中刊宪。</p>
	<a href="/regulatory-updates/October-2017/oct2017-canada-public-consultation-regulation-formaldehyde-content" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>本草拟法规手段旨在减少从室内空气接触到的甲醛</p>
		<p>在本草拟法规手段，所有复合木材制品，包括层压木材制品和由复合木材成品均需符合甲醛排放标准要求。加拿大政府正在考虑以加拿大标准协会的标准和美国及其他司法管辖区现行的法规管制手段作为设计法规的蓝本。</p>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="asia_news" class="bookmark"></a>
	<h2>亚洲回顾</h2>
</div>

<div class="recapSection">
	<a name="Oct2017-Application-List-Restricted-Substances-Standardized-Management-Catalog" class="bookmark"></a>
	<strong>中国工业和信息化部草拟《电器电子产品有害物质限制使用达标管理目录》及《达标管理目录限用物质应用例外清单》</strong>
	<p>中华人民共和国工业和信息化部在2017年6月29日发布草拟<a href="http://www.miit.gov.cn/n1146285/n1146352/n3054355/n3057542/n3057545/c5707945/content.html" target="_blank">《电器电子产品有害物质限制使用达标管理目录》及《达标管理目录限用物质应用例外清单》</a>。这些文件旨在协助业界达成中国RoHS 2以减低源于有害物质的风险。</p>
	<a href="/regulatory-updates/October-2017/oct2017-application-list-restricted-substances-standardized-management-catalog" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>工业和信息化部草拟了下列两份文件：</p>
		<ol>
			<li>《电器电子产品有害物质限制使用达标管理目录》的起草，内容涵盖中国RoHS 2范围中包括的家用设备和电子设备的定义。</li>
			<li>《达标管理目录限用物质应用例外清单》的起草，内容按产品分类列出受限制的重金属的限制量。清单也列出限制不适用的产品。</li>
		</ol>
	</div><br />
</div>

<div class="recapSection">
	<a name="Oct2017-Summary-Chinese-Standard-Update" class="bookmark"></a>
	<strong>中国标准更新总结</strong>
	<p>中国国家标准化管理委员会近日发表几则有关更新中国标准的<a href="http://www.sac.gov.cn/gzfw/ggcx/gjbzgg/" target="_blank">通告</a>，包括新发表的标准及更新后的标准。这些标准包括但不限于纺织品及鞋类。</p>
	<a href="/regulatory-updates/October-2017/oct2017-summary-chinese-standard-update" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>下列是一些已经更新的标准：</p>
		<table style="width: 80%;">
			<tr>
				<td style="font-weight: bold; text-align: center;">标准号</td>
				<td style="font-weight: bold; text-align: center;">中文标准名称</td>
				<td style="font-weight: bold; text-align: center;">生效日期</td>  
			</tr>
			<tr>
				<td style="font-weight: bold;">GB/T 2660-2017</td>
				<td>衬衫</td>
				<td>2017年12月1日</td>
			</tr>
			<tr>
				<td style="font-weight: bold;">GB/T 2662-2017</td>
				<td>棉服装</td>
				<td>2017年12月1日</td>
			</tr>
			<tr>
				<td style="font-weight: bold;">GB/T 2667-2017</td>
				<td>衬衫规格</td>
				<td>2017年12月1日</td>
			</tr>
			<tr>
				<td style="font-weight: bold;">GB/T 4146.2-2017</td>
				<td>纺织品化学纤维第2部分：产品术语</td>
				<td>2017年12月1日</td>
			</tr>
			<tr>
				<td style="font-weight: bold;">GB/T 8629-2017</td>
				<td>纺织品试验用家庭洗涤和干燥程序</td>
				<td>2017年12月1日</td>
			</tr>
			<tr>
				<td style="font-weight: bold;">GB/T 22756-2017</td>
				<td>皮凉鞋</td>
				<td>2017年12月1日</td>
			</tr>
			<tr>
				<td style="font-weight: bold;">GB/T 24218.16-2017</td>
				<td>纺织品非织造布试验方法第16部分：抗渗水性的测定(静水压法)</td>
				<td>2017年12月1日</td>
			</tr>
			<tr>
				<td style="font-weight: bold;">GB/T 24218.17-2017</td>
				<td>纺织品非织造布试验方法第17部分：抗渗水性的测定（喷淋冲击法）</td>
				<td>2017年12月1日</td>
			</tr>
			<tr>
				<td style="font-weight: bold;">GB/T 33610.2-2017</td>
				<td>纺织品消臭性能的测定第2部分：检知管法</td>
				<td>2017年12月1日</td>
			</tr>
			<tr>
				<td style="font-weight: bold;">GB/T 33611-2017</td>
				<td>纺织品短链对特辛基苯酚乙氧基化物的测定</td>
				<td>2017年12月1日</td>
			</tr>
			<tr>
				<td style="font-weight: bold;">GB/T 33618-2017</td>
				<td>纺织品燃烧烟释放和热释放性能测试</td>
				<td>2017年12月1日</td>
			</tr>
			<tr>
				<td style="font-weight: bold;">GB/T 33729-2017</td>
				<td>纺织品色牢度试验棉摩擦布</td>
				<td>2017年12月1日</td>
			</tr>
			<tr>
				<td style="font-weight: bold;">GB/T 33734-2017</td>
				<td>机织婴幼儿床上用品</td>
				<td>2017年12月1日</td>
			</tr>
		</table>
	</div><br />
</div>
