<!-- { "Title":"2016年11月发行", "PublishDate":"2016-11-04", "Description":"中国法规与监管回顾" }-->
<ol style="margin-top:10px;">
    <li style="margin-bottom:10px;"><a href="#section_childproducts">儿童产品</a>
    <li style="margin-bottom:10px;"><a href="#section_babysupplies">婴童用品</a>
    <li style="margin-bottom:10px;"><a href="#section_textiles">纺织品，鞋类及配件</a>
    <li style="margin-bottom:10px;"><a href="#section_food">与食品接触的物品</a>
    <li style="margin-bottom:10px;"><a href="#section_supervision">市场监督</a>
</ol>
<hr />

<a name="section_childproducts" class="bookmark"></a>
<h2>儿童产品</h2>

    <a name="gen-admin-quality-supervision" class="bookmark"></a>
    <strong>质检总局海关总署进出境商品检验检疫的新政策</strong>
    <p>自2016年9月1日，国家质量监督检验检疫总局对<a href="http://www.aqsiq.gov.cn/xxgk_13386/jlgg_12538/zjgg/2016/201608/t20160825_472892.htm" target="_blank">《出入境检验检疫机构实施检验检疫的进出境商品目录（2016年）》作了相关调整</a>。调整跟进口或出口中国的玩具儿童产品有关。</p>
    <a href="javascript://" class="learnmore">更多</a><br />
    <div class="moretext">
        <p>根据《中华人民共和国进出口商品检验法》及其实施条例有关规定，商品目录中的商品必须检查并符合质量，规格，数量，重量，包装和安全卫生要求等。而且，产品在进口或出口中国之前，还要符合中国国家强制性要求。</p>
        <p>根据新政策，从中国出口的玩具和儿童产品将不再受到检验和检疫要求。 因此，目录作出了相关的调整，关键的变化总结如下：</p>
        <table>
            <tr>
                <td><b>项目</b></td>
                <td><b>产品类别</b></td>
                <td><b>进出境商品检验和检疫要求(已过期)</b></td>
                <td><b>进出境商品检验和检疫要求(新实施)</b></td>
            </tr>
            <tr>
                <td>1</td>
                <td>三轮车、踏板车、踏板汽车和类似的带轮玩具；玩偶车</td>
                <td>仅出口货物</td>
                <td>不需要</td>
            </tr>
            <tr>
                <td>2</td>
                <td>动物玩偶，不论是否着装</td>
                <td>进口和出口货物</td>
                <td>仅进口货物</td>
            </tr>
            <tr>
                <td>3</td>
                <td>其他玩偶，不论是否着装</td>
                <td>进口和出口货物</td>
                <td>仅进口货物</td>
            </tr>
            <tr>
                <td>4</td>
                <td>缩小（按比例缩小）的电动火车模型</td>
                <td>进口和出口货物</td>
                <td>仅进口货物</td>
            </tr>
            <tr>
                <td>5</td>
                <td>其他缩小（按比例缩小）的全套模型（不论是否活动）</td>
                <td>进口和出口货物</td>
                <td>仅进口货物</td>
            </tr>
            <tr>
                <td>6</td>
                <td>其他建筑套件及建筑玩具</td>
                <td>进口和出口货物</td>
                <td>仅进口货物</td>
            </tr>
            <tr>
                <td>7</td>
                <td>玩具乐器</td>
                <td>进口和出口货物</td>
                <td>仅进口货物</td>
            </tr>
            <tr>
                <td>8</td>
                <td>智力玩具</td>
                <td>进口和出口货物</td>
                <td>仅进口货物</td>
            </tr>
            <tr>
                <td>9</td>
                <td>组装成套或全套的其他玩具</td>
                <td>进口和出口货物</td>
                <td>仅进口货物</td>
            </tr>
            <tr>
                <td>10</td>
                <td>其他带动力装置的玩具及模型</td>
                <td>进口和出口货物</td>
                <td>仅进口货物</td>
            </tr>
            <tr>
                <td>11</td>
                <td>其他未列名玩具</td>
                <td>进口和出口货物</td>
                <td>仅进口货物</td>
            </tr>
            <tr>
                <td>12</td>
                <td>玩具、模型零件</td>
                <td>进口和出口货物</td>
                <td>仅进口货物</td>
            </tr>
            <tr>
                <td>13</td>
                <td>其他节日用品或娱乐用品（包括魔术道具及嬉戏品）</td>
                <td>仅出口货物</td>
                <td>不需要</td>
            </tr>
            <tr>
                <td>14</td>
                <td>婴孩车及其零件</td>
                <td>进口和出口货物</td>
                <td>仅进口货物</td>
            </tr>
            <tr>
                <td>15</td>
                <td>儿童用汽车安全座椅</td>
                <td>进口和出口货物</td>
                <td>仅进口货物</td>
            </tr>
        </table>
    </div><br />

    <a name="section_babysupplies" class="bookmark"></a>
    <h2>婴童用品</h2>

    <a name="standards-for-food-nipples" class="bookmark"></a>
    <strong>GB 4806.2-2015《食品安全国家标准 奶嘴》于2016年9月22日生效</strong>
    <p>2016年9月22日, 食品安全国家标准GB 4806.2-2015《奶嘴》将开始实施，替代GB 4806.2-1994。该标准适用于天然橡胶，新增了一种奶嘴橡胶原料顺式-1,4-聚异戊二烯橡胶、硅橡胶制成的奶嘴，但并不包括用于安抚奶嘴。　而且也要求奶嘴应符合相关食品安全国家标准中食品接触材料及制品的各项通用安全要求。</p>
    <a href="javascript://" class="learnmore">更多</a><br />
    <div class="moretext">
        <b><u>新增变化</u></b><br />
        <ul>
            <li>该标准对原料的要求有所增加，除天然橡胶、硅橡胶外，还新增了一种奶嘴橡胶原料顺式-1,4-聚异戊二烯橡胶。</li>
            <li>该标准增加了天然乳胶标识要求，如产品含有天然乳胶，应该标明“产品含有天然乳胶”。</li>
            <li>该标准在理化指标方面作了较大调整，新增了以下项目<br />
                <ul>
                    <li>2,6-二叔丁基对甲苯酚迁移量、</li>
                    <li>2,2‘-亚甲基双-（4-甲基-6-叔丁基苯酚）迁移量、</li>
                    <li>N-亚硝胺和N-亚硝胺可生成物释放量、</li>
                    <li>挥发性物质</li>
                </ul>
            </li>
            <li>把蒸发残渣项目名称改为总迁移量，增加了50%乙醇模拟物迁移量限值同时也调低了高锰酸钾消耗量及锌迁移量的指标，对重金属的要求无显著变化。</li>
        </ul>
        <b><u>注意事项</u></b><br />
        <p>新标准涉及的相关迁移试验条件和方法选择、试样前处理、结果表达的依据标准，目前均是按照最新的GB31604.1和GB5009.156的规定执行。</p>
    </div><br />

<a name="section_textiles" class="bookmark"></a>
<h2>纺织品，鞋类及配件</h2>

    <a name="industry-standard-shoes" class="bookmark"></a>
    <strong>行业标准QB/T 1002-2015《皮鞋》获得批准并于2016年3月1日开始实施 </strong>
    <p>中国行业标准QB/T 1002-2015《皮鞋》，适用于日常生活中使用的皮鞋（包括靴子），其中材料包括鞋面是真皮和人造材料等多种材料。与2005年版本相比，新版本的范围将不包括婴幼儿和儿童皮鞋。</p>
    <a href="javascript://" class="learnmore">更多</a><br />
    <div class="moretext">
        <p>由中华人民共和国工业和信息化部发布的QB/T 1002-2015《皮鞋》标准于2016年3月1日正式实施。本标准是对老版本QB/T 1002-2005《皮鞋》作出修订。新标准适用于由天然皮革、人造材料或多种材料混合做的皮鞋（含靴），但不适用于安全、防护或特殊功能的鞋类，也不适用于婴幼儿、儿童穿用的皮鞋（含靴）。</p>

        <b><u>技术项目</u></b><br />
        <p>与2005年版本相比，其变化主要是增设及修改以下7个技术项目:</p>
        <ol>
            <li>异味，</li>
            <li>耐磨损顶片，</li>
            <li>内衬和鞋垫色牢度，</li>
            <li>偶氮染料，</li>
            <li>自由水解或部分水解的甲醛，</li>
            <li>钢勾心的最小长度，</li>
            <li>钢勾心的弯曲性能，</li>
        </ol>
        <p>其他修改是一些关于标识和外观质量条件的改动，包括上层底剥离强度，鞋帮，鞋底拔出力，鞋的弯曲性，外底耐磨性能，鞋跟附着强度，单位鞋底鞋跟硬度等项目。</p>
        <b><u>新增定义</u></b><br />
        <p>新版本增加了主要部位和次要部位的术语定义</p>
        <ul>
            <li>主要部位：皮鞋的帮面外侧、前部。</li>
            <li>次要部位：皮鞋的帮面内侧、后部。</li>
        </ul>
        <p>此外，QB/T 1002-2015还修订了感官质量、耐折性能、鞋跟硬度、鞋跟结合力、产品标识等内容。</p>
    </div><br />

<a name="section_food" class="bookmark"></a>
<h2>与食品接触的物品</h2>

    <a name="general-rules-migration-testing-food" class="bookmark"></a>
    <strong>国家标准GB 31604.1-2015食品接触材料和制品迁移测试通则于2016年9月22日生效</strong>
    <p>国家卫生计生委官网发布了<a href="http://www.nhfpc.gov.cn/sps/s7891/201510/3ba3419aab8a41a09f4f924788f73793.shtml" target="_blank">第8号公告</a>，公布了129项食品安全国家标准和修改单。其中GB 31604.1-2015《食品安全国家标准和食品接触材料及制品迁移实验通则》为首次发布，并于2016年9月22日正式实施。</p>
    <a href="javascript://" class="learnmore">更多</a><br />
    <div class="moretext">
        <p>这个标准规定了各类食品接触材料及制品迁移试验的通用要求。食品接触材料及制品应该按照本标准的规定进行各类迁移试验。</p>
        <b><u>标准要求</u></b><br />
        <p>GB 31604.1-2015规定了食品模拟物的测试包括总迁移量和特定迁移量的基本要求，食品模拟物的选择、试验时间和温度的选择等。</p>
        <p>GB 31604.1-2015与国内现有的食品接触材料和制品的要求不大相同，该标准是要求依据材料和制品预期接触的食品类型和实际的接触条件来进行迁移试验，细化了食品模拟物和迁移试验条件，使测试更能真实的反应出材料和制品在实际使用中的状态和安全性，也更加合理。</p>
        <b><u>食品模拟物和总迁移</u></b><br />
        <p>GB 31604.1-2015要求食品模拟物需根据实际接触的食品类型来选择确认，具体如下：</p>
        <ol>
            <li>酸性和非酸性食品的区分条件是根据其pH，如果pH&lt;5的即为酸性食品（欧盟酸性食品的规定是pH&lt;4.5）</li>
            <li>如果对于乙醇含量≤10%的食品和不含乙醇的非酸性食品应首选10%乙醇，如果材料和制品会和醇发生酯交换反应或其他理化反应，应该选择水为模拟液；</li>
            <li>含酒精饮料的食品接触类型区分更严格细致。包括20%乙醇、50%乙醇、或95%乙醇三大类，应该严格按照食品的酒精含量来选择；</li>
            <li>模拟油类食品的植物油规定了必须是精制的玉米油或橄榄油。</li>
        </ol>
        <p>GB 31604.1-2015以总迁移试验代替了蒸发残渣试验。同时，测试条件要求按照产品实际接触食品的条件来确认。在总迁移条件中，较高温度下的测试结果可以代替较低温度下的测试结果；相同贮存或使用温度下，较长时间下的测试结果也可以代替和涵盖较短时间下的测试结果。</p>
    </div><br />

<a name="section_supervision" class="bookmark"></a>
<h2>市场监督</h2>

    <a name="july-provincial-product-testing" class="bookmark"></a>
    <strong>2016年7至8月各省的产品抽查结果</strong>
    <p>为加强产品质量监督，各省质量技术监督对不同的消费品（当中包括服装，纺织品，鞋类及与食品接触的物品等）进行了质量监督抽查，并发布抽查结果.</p>
    <a href="javascript://" class="learnmore">更多</a><br />
    <div class="moretext">
        
        <p>辽宁省质量技术监督局对以下产品进行了抽查，并于2016年8月发布以下产品的抽查结果：</p>
        <table>
            <tr>
                <td><b>产品</b></td>
                <td><b>总批次</b></td>
                <td><b>不合格项目</b></td>
                <td><b>不合格之百分比</b></td>
            </tr>
            <tr>
                <td>卫生纸</td>
                <td>40</td>
                <td>柔软度</td>
                <td>17.5%</td>
            </tr>
            <tr>
                <td>儿童服装</td>
                <td>20</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>泳装</td>
                <td>20</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>纸巾</td>
                <td>20</td>
                <td>纵向湿抗张强度</td>
                <td>25%</td>
            </tr>
            <tr>
                <td>湿巾</td>
                <td>25</td>
                <td>包装密封性能</td>
                <td>4%</td>
            </tr>
            <tr>
                <td>食品用塑料工具</td>
                <td>23</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>食品用非复合膜袋</td>
                <td>27</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>食品用塑料复合膜袋</td>
                <td>29</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>食品用塑料容器</td>
                <td>26</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>瓦楞纸箱产品</td>
                <td>50</td>
                <td>
                    - 耐破强度<br />
                    - 厚度<br />
                    - 空箱抗压强度<br />
                </td>
                <td>18%</td>
            </tr>
            <tr>
                <td>食品用纸包装容器</td>
                <td>20</td>
                <td>
                    - 抗压强度<br />
                    - 渗漏性能<br />
                </td>
                <td>5%</td>
            </tr>
        </table>
        
        <p>上海市质量技术监督局对以下产品进行了监督抽查，并于2016年7月和8月发布以下产品的抽查结果：</p>
        <table>
            <tr>
                <td><b>产品</b></td>
                <td><b>总批次</b></td>
                <td><b>不合格项目</b></td>
                <td><b>不合格之百分比</b></td>
            </tr>
            <tr>
                <td>保鲜膜</td>
                <td>26</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>食品烘焙用橡胶制品</td>
                <td>18</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>塑料菜板</td>
                <td>12</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>化妆品商品包装</td>
                <td>37</td>
                <td>包装空隙率</td>
                <td>8.1%</td>
            </tr>
            <tr>
                <td>糕点商品包装</td>
                <td>66</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>粽子商品包装</td>
                <td>32</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>巧克力、糖果等商品包装</td>
                <td>129</td>
                <td>
                    - 包装空隙率<br />
                    - 包装层数<br />
                </td>
                <td>2.33%</td>
            </tr>
            <tr>
                <td>眼镜架</td>
                <td>50</td>
                <td>
                    - 方框法水平镜片尺寸偏差<br />
                    - 镜腿长度偏差<br />
                    - 片间距离偏差<br />
                    - 标志<br />
                </td>
                <td>20%</td>
            </tr>
            <tr>
                <td>太阳镜</td>
                <td>40</td>
                <td>
                    - 可见光透射比<br />
                    - 交通讯号透射比<br />
                    - 标志<br />
                </td>
                <td>15%</td>
            </tr>
            <tr>
                <td>眼镜镜片</td>
                <td>50</td>
                <td>
                    - 到球镜顶焦度偏差<br />
                    - 镜片直径<br />
                    - 折射率<br />
                    - 色散系数<br />
                    - 紫外性能（明示指标）<br />
                    - 标志<br />
                </td>
                <td>14%</td>
            </tr>
            <tr>
                <td>定配眼镜</td>
                <td>80</td>
                <td>
                    - 球镜顶焦度偏差<br />
                    - 两镜片顶焦度互差<br />
                    - 柱镜轴位方向偏差<br />
                    - 光学中心单侧水平偏差<br />
                    - 光学中心水平偏差<br />
                    - 光学中心垂直互差<br />
                    - 标志<br />
                </td>
                <td>16.25%</td>
            </tr>
            <tr>
                <td>泳装产品</td>
                <td>31</td>
                <td>
                    - 耐汗渍色牢度<br />
                    - 耐海水色牢度 <br />
                    - 耐光色牢度<br />
                    - 纤维含量<br />
                </td>
                <td>9.7%</td>
            </tr>
            <tr>
                <td>书包</td>
                <td>30</td>
                <td>
                    - 振荡冲击性能<br />
                    - 缝合强度<br />
                </td>
                <td>60%</td>
            </tr>
            <tr>
                <td>床上用品</td>
                <td>30</td>
                <td>
                    - pH值<br />
                    - 纤维含量<br />
                    - 絮用纤维原料要求<br />
                </td>
                <td>10%</td>
            </tr>
            <tr>
        </table>
        
        <p>山东省质量技术监督局对以下产品进行了监督抽查，并2016年7月和8月发布以下产品的抽查结果：</p>
        <table>
            <tr>
                <td><b>产品</b></td>
                <td><b>总批次</b></td>
                <td><b>不合格项目</b></td>
                <td><b>不合格之百分比</b></td>
            </tr>
                <td>儿童服装</td>
                <td>59</td>
                <td>
                    - 衣带缝纫强力<br />
                    - 纽扣缝纫强力<br />
                </td>
                <td>3.4%</td>
            </tr>
                <td>铅酸蓄电池</td>
                <td>19  </td>
                <td>高倍率放电性能</td>
                <td>5.3%</td>
            </tr>
                <td>毛巾</td>
                <td>37</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
                <td>婚纱、礼服</td>
                <td>6</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
                <td>牛仔裤、水洗裤</td>
                <td>24</td>
                <td>纤维含量</td>
                <td>4.2%</td>
            </tr>
                <td>儿童家具</td>
                <td>16</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
                <td>日用陶瓷产品</td>
                <td>30</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
        </table>
        
        <p>深圳市质量技术监督局对以下产品进行了监督抽查，并2016年7月和8月发布以下产品的抽查结果：</p>
        <table>
            <tr>
                <td><b>产品</b></td>
                <td><b>总批次</b></td>
                <td><b>不合格项目</b></td>
                <td><b>不合格之百分比</b></td>
            </tr>
            <tr>
                <td>校服</td>
                <td>42</td>
                <td>
                    - pH值<br />
                    - 水洗尺寸变化率<br />
                    - 产品使用说明（标识）<br />
                    - 水洗后扭曲率<br />
                    - 接缝性能<br />
                    - 耐光色牢度<br />
                </td>
                <td>30.9%</td>
            </tr>
            <tr>
                <td>服装产品</td>
                <td>169</td>
                <td>
                    - 耐水色牢度<br />
                    - 耐汗渍色牢度<br />
                    - 可分解致癌芳香胺染料<br />
                </td>
                <td>4.1%</td>
            </tr>
            <tr>
                <td>儿童及婴幼儿服装产品</td>
                <td>202</td>
                <td>
                    - pH值<br />
                    - 耐唾液色牢度<br />
                    - 耐干摩擦色牢度<br />
                </td>
                <td>3.4%</td>
            </tr>
            <tr>
                <td>学生用品</td>
                <td>115</td>
                <td>
                    - 游离甲醛<br />
                    - 亮度<br />
                    - 笔的上帽安全<br />
                </td>
                <td>7.8%</td>
            </tr>
        </table>
        
        <p>贵州省质量技术监督局对以下产品进行了监督抽查，并2016年8月发布以下产品的抽查结果：</p>
        <table>
            <tr>
                <td><b>产品</b></td>
                <td><b>总批次</b></td>
                <td><b>不合格项目</b></td>
                <td><b>不合格之百分比</b></td>
            </tr>
            <tr>
                <td>塑料薄膜</td>
                <td>6</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>塑料袋及编织品</td>
                <td>9</td>
                <td>N/A</td>
                <td>0%</td>
            </tr>
        </table>
        
        <p>陕西省质量技术监督局对以下产品进行了监督抽查，并2016年7月和8月发布以下产品的抽查结果：</p>
        <table>
            <tr>
                <td><b>产品</b></td>
                <td><b>总批次</b></td>
                <td><b>不合格项目</b></td>
                <td><b>不合格之百分比</b></td>
            </tr>
            <tr>
                <td>太阳镜</td>
                <td>79</td>
                <td>
                    - 涉及太阳镜产品的球镜顶焦度偏差<br />
                    - 柱镜顶焦度偏差<br />
                    - 棱镜度偏差<br />
                    - 可见光区光透射比<br />
                    - 交通讯号透射比<br />
                    - 色极限<br />
                    - 防紫外线功能<br />
                    - 光透射比左右相对偏差<br />
                </td>
                <td>26.6%</td>
            </tr>
            <tr>
                <td>服装</td>
                <td>50</td>
                <td>纤维含量</td>
                <td>4%</td>
            </tr>
            <tr>
                <td>一次性塑料杯</td>
                <td>13</td>
                <td>负重性能项</td>
                <td>7.7%</td>
            </tr>
            <tr>
                <td>一次性纸杯和纸碗</td>
                <td>27</td>
                <td>抗压性能项</td>
                <td>3.7%</td>
            </tr>
        </table>
    </div><br />

<br /><p><i>本概述并不旨在穷举也不应被解释为法律意见。</i></p>