<!-- { "Title":"法规与监管回顾 : 2017年9月号", "PublishDate":"2017-09-21", "Description":"美国国家环境保护局于2017年7月11日在联邦公报82 FR 31922发布最终规则修正案。本决定修改40 CFR 770 木材制品甲醛释放标准，以加强标准的弹性及使生产商过渡更为顺畅。" }-->
<div class="recapSectionHeader">
	<ol style="margin-top:10px;">
		<li style="margin-bottom:10px;"><a href="#north_america_news">北美回顾</a></li>
		<li style="margin-bottom:10px;"><a href="#europe_news">欧洲回顾</a></li>
		<li style="margin-bottom:10px;"><a href="#asia_news">亚洲回顾</a></li>
	</ol>
	<hr />
</div>

<div class="recapSectionHeader">
	<a name="north_america_news" class="bookmark"></a>
	<h2>北美回顾</h2>
</div>

<div class="recapSection">
	<a name="sep2017-epa-formaldehyde-standards-synthetic-wood" class="bookmark"></a>
	<strong>美国国家环境保护局修改合成木材制品甲醛释放标准以提高条例弹性</strong>
	<p>美国国家环境保护局于2017年7月11日在联邦公报<a href="https://www.federalregister.gov/documents/2017/07/11/2017-14513/labeling-relief-formaldehyde-emission-standards-for-composite-wood-products" target="_blank">82 FR 31922</a>发布最终规则修正案。本决定修改40 CFR 770 木材制品甲醛释放标准，以加强标准的弹性及使生产商过渡更为顺畅。</p>
	<a href="/regulatory-updates/September-2017/sep2017-epa-formaldehyde-standards-synthetic-wood" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>此修正案取消对提早贴上标签的限制，让在2017年12月12日前生产并符合标准的合成木材制品即时加上符合有毒物质控制法案第6章要求的标签。
		若在2017年8月25日前没有收到反对意见，本修正案将会随即生效 
		与此同时，由于在咨询期内收到过多反对意见，环境保护局取消先前有关延后符合甲醛标准限期的提议。（见<a href="http://www.chinainspection.com/regulatory-updates/July-2017" target="_blank">法规与监管回顾2017年7月号</a>）</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="sep2017-ftc-cancel-trademark-textiles" class="bookmark"></a>
	<strong>美国联邦贸易委员会提议取消与纺织品有关条例中的文字商标验证要求</strong>
	<p>美国联邦贸易委员会在2017年6月28日于<a href="https://www.ftc.gov/system/files/documents/federal_register_notices/2017/06/textile_fiber_rule_published_frn_6-28-17.pdf" target="_blank">联邦公报82 FR 29251</a>中发布草案，其内容针对16 CFR 303纺织品纤维制品鉴定法中的规条作出修订。</p>
	<a href="/regulatory-updates/September-2017/sep2017-ftc-cancel-trademark-textiles" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>在此草案中，美国联邦贸易委员会移除16 CFR 303.19 (a)中注册文字商标持有人于标签上使用商标前需向美国联邦贸易委员会提交美国专利及商标局的注册证明的要求。 公众咨询期于2017年7月31日结束</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="sep2017-us-state-draft-overview" class="bookmark"></a>
	<strong>美国州草案概览</strong>
	<p>下列美国各州最近发出有关化学物质限制的草案</p>
	<a href="/regulatory-updates/September-2017/sep2017-us-state-draft-overview" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<table style="width: 90%">
			<tr>
				<td style="font-weight:bold; text-align:center;">州份<br />草案编号</td>
				<td style="font-weight:bold; text-align:center;">草案主题</td>
				<td style="font-weight:bold; text-align:center;">草案内容</td>
			</tr>
			<tr>
				<td>纽约州<br /><a href="http://legislation.nysenate.gov/pdf/bills/2017/S5176" target="_blank">参议院法案5176</a></td>
				<td>修改环境保护法，<br />
				关于儿童产品中的<br />
				有毒化学物质的草<br />
				案</td>
				<td>-&nbsp;&nbsp;经儿童产品生产商有责任于新化学物列入高关注化学物<br />
				清单后的12个月内上报所使用的有关化学物质。<br />
				-&nbsp;&nbsp;若草案获得通过，2022年1月1日起，分发、发售、<br />
				或经销被列入高关注化学物清单超过1年的化学物质<br />
				将被全面禁止。</td>
			</tr>
			<tr>
				<td>纽约州<br />
				<a href="http://legislation.nysenate.gov/pdf/bills/2017/S2433A" target="_blank">参议院法案<br />
				2433A</a></td>
				<td>修改环境保护法，<br />
				关于含铅儿童首饰<br />
				的草案</td>
				<td>-&nbsp;&nbsp;2019年1月1日起，在州内分发、发售、或经销含有<br />
				超过40ppm铅的儿童首饰（占总重量600ppm以下除<br />
				外）将被全面禁止。<br />
				-&nbsp;&nbsp;不符合上列规定但符合联邦法规标准的产品在加上警<br />
				告标语后仍可如常发售</td>
			</tr>
			<tr>
				<td>纽约州<br />
				<a href="http://legislation.nysenate.gov/pdf/bills/2017/A7950" target="_blank">参议院法案6034<br />
				众议院法案<br />
				7950</a></td>
				<td>修改一般商业法，<br />
				关于儿童高关注化<br />
				学物质的草案</td>
				<td>-&nbsp;&nbsp;在纽约州内发售或分发的儿童产品若包含儿童高关注<br />
				化学物质列表上的化学物质，其生产商必须向卫生局<br />
				和环境保护局报告。<br />
				-&nbsp;&nbsp;生产商有责任告知零售商所他们所发售的商品含有儿<br />
				童高关注化学物。</td>
			</tr>
			<tr>
				<td>纽约州<br />
				<a href="http://legislation.nysenate.gov/pdf/bills/2017/A8266" target="_blank">众议院法案8266</a></td>
				<td>修改环境保护法，<br />
				关于儿童产品中限<br />
				制有毒化学物质的<br />
				草案</td>
				<td>-&nbsp;&nbsp;在纽约州内发售或分发的儿童产品若包含危险化学物<br />
				质列表上的化学物质，其生产商必须在化学物出现在<br />
				列表上的12个月内向有关部门报告。<br />
				-&nbsp;&nbsp;2020年1月1日起，在州内分发、发售、或经销含有<br />
				下列化学物质的儿童用品将被全面禁止。<br />
				&nbsp;-&nbsp;&nbsp;三（1,3-二氯-2-丙基）磷酸酯，<br />
				&nbsp;-&nbsp;&nbsp;苯，<br />
				&nbsp;-&nbsp;&nbsp;铅及其化合物，<br />
				&nbsp;-&nbsp;&nbsp;水银及其化合物<br />
				&nbsp;-&nbsp;&nbsp;锑及其化合物，<br />
				&nbsp;-&nbsp;&nbsp;甲醛，<br />
				&nbsp;-&nbsp;&nbsp;石棉，<br />
				&nbsp;-&nbsp;&nbsp;砷及其化合物，<br />
				&nbsp;-&nbsp;&nbsp;镉，<br />
				&nbsp;-&nbsp;&nbsp;钴及其化合物。<br />
				-&nbsp;&nbsp;在州内分发、发售、或经销被列入清单超过3年的化<br />
				学物质将被全面禁止。</td>
			</tr>
			<tr>
				<td>新泽西州<br />
				<a href="http://www.njleg.state.nj.us/2016/Bills/A5000/4764_I1.HTM" target="_blank">众议院法案4767</td>
				<td>关注以双酚A制<br />
				的婴儿产品的草案</td>
				<td>-&nbsp;&nbsp;2018年1月1日起，在州内分发、发售、或经销以双<br />
				酚A制造的儿童用品将被全面禁止。<br />
				-&nbsp;&nbsp;儿童用品例如玩具，磨牙圈，游乐器材等</td>
			</tr>
			<tr>
				<td>马萨诸塞州<br />
				<a href="https://malegislature.gov/Bills/190/S474.pdf" target="_blank">参议院法案474</a></td>
				<td>毒物使用减少法，<br />
				为更安全替代作出<br />
				修订的草案</td>
				<td>-&nbsp;&nbsp;优先化学物的生产商和使用者须在化学物被列入列表<br />
				的6个月内分别向位于马萨诸塞州洛厄尔分校中的毒<br />
				物使用减少研究所和环境保护局报告。报告的内容要<br />
				求请参考此法案中的其他部份。<br />
				-&nbsp;&nbsp;生产商有责任告知零售商所他们所发售的商品含有优<br />
				先化学物；零售商对顾客肩负同样责任。使用者也需<br />
				告知工人有关化学物的使用。</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="sep2017-california-toxic-priority-products" class="bookmark"></a>
	<strong>美国加州有毒物质控制部通过将产品加入「优先产品」之列</strong>
	<p>美国加州有毒物质控制部在2016年6月提议将含有受安全消费品条例管制的两种阻燃剂的儿童泡沫软垫睡眠产品加入至「优先产品」之列。本提议已于2017年7月1日获得通过并即时生效。儿童泡沫软垫睡眠产品生产商需于60天内，即2017年8月30日前<a href="https://calsafer.dtsc.ca.gov/workflows/priorityproduct/" target="_blank">告知美国加州有毒物质控制部</a>。</p>
	<a href="/regulatory-updates/September-2017/sep2017-california-toxic-priority-products" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<p>本条例规范的两种阻燃剂如下：</p>
	<ul style="list-style-type: none; padding-left: 15px;">
		<li>-&nbsp;&nbsp;三（1,3-二氯-2-丙基）磷酸酯　(TDCPP), CAS编号. 13674-87-8</li>
		<li>-&nbsp;&nbsp;三（2-氯乙基）磷酸酯　(TCEP), CAS 编号. 115-96-8</li>	
	</ul>
	<p>儿童泡沫软垫睡眠产品定义为：「主要供12岁以下儿童睡眠之用的组装产品」，旗下产品包括可被覆盖或包覆而含有TDCPP或TCEP的聚氨酯泡沫垫或枕头，包括但不限于下列产品:</p>
	<ul style="list-style-type: none; padding-left: 15px;">
		<li>-&nbsp;&nbsp;午睡垫</li>
		<li>-&nbsp;&nbsp;软边便携式婴儿床</li>
		<li>-&nbsp;&nbsp;婴儿围栏</li>
		<li>-&nbsp;&nbsp;婴儿游戏床</li>
		<li>-&nbsp;&nbsp;婴儿旅行床</li>
		<li>-&nbsp;&nbsp;便携式婴儿枕</li>
		<li>-&nbsp;&nbsp;摇篮</li>
		<li>-&nbsp;&nbsp;午睡床</li>
		<li>-&nbsp;&nbsp;婴儿睡眠定位器</li>
		<li>-&nbsp;&nbsp;床边婴儿床</li>
		<li>-&nbsp;&nbsp;婴儿共睡床</li>
		<li>-&nbsp;&nbsp;供婴儿用泡沫枕头</li>
	</ul>
	<p>下列不会被定义为儿童泡沫软垫睡眠产品</p>
	<ul style="list-style-type: none; padding-left: 15px;">
		<li>-&nbsp;&nbsp;16 CFR 1632,1633中定义的床垫或床垫组</li>
		<li>-&nbsp;&nbsp;加州技术公报117-2013中涵括的软垫家俱</li>
		<li>-&nbsp;&nbsp;49 CFR 571.302中规范的汽车用或飞机用儿童乘员约束系统</li>
	</ul>
	</div><br />
</div>

<div class="recapSection">
	<a name="sep2017-california-ehha-pro65-clear-and-reasonable-warning" class="bookmark"></a>
	<strong>美国加州环境健康危害评估办公室发布针对65号提案「清晰及合理警告资讯」的指引</strong>
	<p>美国加州环境健康危害评估办公室于2017年8月发布了针对<a href="https://www.p65warnings.ca.gov/sites/default/files/art_6_business_qa.pdf" target="_blank">65号提案「清晰及合理警告资讯」的指引</a>。本指引以问答形式编订，并包含两大主题：「概述」和「安全港方法及内容」。</p>
	<a href="/regulatory-updates/September-2017/sep2017-california-ehha-pro65-clear-and-reasonable-warning" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<p>这由加州环境健康危害评估办公室发布的13页指引包含43条问答。本指引目的为协助工商界符合65号提案的要求，并包含下列范围的问答。</p>
	<ul style="list-style-type: none; padding-left: 15px;">
		<li>-&nbsp;&nbsp;提供警告的责任</li>
		<li>-&nbsp;&nbsp;在消费品上对消费者传达警告资讯的方法</li>
		<li>-&nbsp;&nbsp;消费品上警告资讯的内容和要求</li>
		<li>-&nbsp;&nbsp;在环境曝露于65号提案化学物质的情况下传达警告资讯的方法</li>
		<li>-&nbsp;&nbsp;环境曝露情况下的警告资讯的内容和要求</li>
		<li>-&nbsp;&nbsp;工作环境曝露情况下的警告</li>
	</ul>
	</div><br />
</div>

<div class="recapSection">
	<a name="sep2017-california-ehha-chemical-substance-prop65" class="bookmark"></a>
	<strong>美国加州环境健康危害评估办公室将一种化学物质列入65号提案清单内</strong>
	<p>美国加州环境健康危害评估办公室于2017年7月7日将五溴二苯醚[DE-71(工业级)]列入65号提案致癌物清单中。</p>
	<a href="/regulatory-updates/September-2017/sep2017-california-ehha-chemical-substance-prop65" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>在2017年4至5月被记录的60天通知如下：</p>
		<table>
			<tr>
				<td style="font-weight:bold;">化学物质</td>
				<td style="font-weight:bold;">CAS. 编号</td>
				<td style="font-weight:bold;">危害总类</td>
			</tr>
			<tr>
				<td>五溴二苯醚[DE-71(工业级)]</td>
				<td>-</td>
				<td>致癌</td>
			</tr>
		</table>
		<span>此化学物质符合列入65号提案清单已知致癌物的条件。</span>
	</div><br />
</div>

<div class="recapSection">
	<a name="sep2017-canadian-regulation-bathroom-microbeads" class="bookmark"></a>
	<strong>加拿大通过法规禁止浴室用品中含有微珠</strong>
	<p>加拿大于2017年6月2日在公报中发布通过「<a href="http://www.gazette.gc.ca/rp-pr/p2/2017/2017-06-14/html/sor-dors111-eng.php" target="_blank">SOR/2017-111浴室用品中微珠法规</a>」。本法规禁止生产，进口，和发售任何含有微珠的浴室用品。第一阶段将于2018年1月1日执行。</p>
	<a href="/regulatory-updates/September-2017/sep2017-canadian-regulation-bathroom-microbeads" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>微珠定义为大小少于或等于5mm的胶制微珠，而浴室用品定义为任何用于清洁头发，皮肤，牙齿，或口腔的个人护理用品，包括去角质用品和任何上列而同时为<a href="#h-1" target="_blank">SOR/2003-196</a>中定义的天然健康用品，或非处方药物。</p>
		<p>要获得豁免，生产商必须禁令将会分三阶段执行。</p>
		<table>
			<tr>
				<td style="font-weight: bold;">执行日期</td>
				<td style="font-weight: bold;">阶段</td>
			</tr>
			<tr>
				<td>2018年1月1日</td>
				<td>禁止生产或进口任何天然健康用品或非处方药物以外含有微珠的浴室用品</td>
			</tr>
			<tr>
				<td rowspan="2">2018年7月1日</td>
				<td>禁止生产或进口任何同时是天然健康用品或非处方药物，而含有微珠的浴室<br />用品</td>
			</tr>
			<tr>
				<td>禁止发售任何天然健康用品或非处方药物以外含有微珠的浴室用品</td>
			</tr>
			<tr>
				<td>2019年7月1日</td>
				<td>禁止发售任何同时是天然健康用品或非处方药物，而含有微珠的浴室用品</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="europe_news" class="bookmark"></a>
	<h2>欧洲回顾</h2>
</div>

<div class="recapSection">
	<a name="sep2017-european-commission-monitor-online-shopping" class="bookmark"></a>
	<strong>欧盟委员会发出关于网购商品市埸监控的通告</strong>
	<p>欧盟委员会于2017年7月28日发布关于市场监控网购商品的委员会通告<a href="http://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:52017XC0801(01)&from=EN" target="_blank">Commission Notice (2017/C 250/01)</a> 。此通告目的为因应网购的迅速增长重申在欧盟市埸出售的所有商品均需符合安全标准。</p>
	<a href="/regulatory-updates/September-2017/sep2017-european-commission-monitor-online-shopping" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>本通告以指引性质发出，目的为令大众对欧盟消费品条例有更深入理解。本通告明确阐明所有在欧盟境内的产品，包括网购商品，必须符合欧盟消费品法规「产品安全指令」和Regulation (EC) No. 765/2008方可发售。本通告亦列明市埸监控机构和不同经济营运商的角色和责任，当中生产商对确保产品安全有最大责任。</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="sep2017-european-chemicals-agencyguidelines-reach-requirements" class="bookmark"></a>
	<strong>欧洲化学品管理局通过有关如何符合REACH要求的指引（第4版）</strong>
	<p>欧洲化学品管现局于2017年6月28日通过并发布<a href="https://echa.europa.eu/documents/10162/23036412/articles_en.pdf/cc2e3f93-8391-4944-88e4-efed5fb5112c" target="_blank">最新版本（第4版）的物品中化学物质要求的指引</a>，志在协助持份者符合Regulation (EC) No. 1907/2006《关于化学品注册、评估、许可和限制法案》（REACH）中所要求的责任。</p>
	<a href="/regulatory-updates/September-2017/sep2017-european-chemicals-agencyguidelines-reach-requirements" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>本指引涵盖大量必要的REACH程序，以及一些业界及当局在法案要求下须知的科学或技术方法。此最新版本对物品中含有清单中化学物质时的通知及通讯责任作出更多指引。另外，指引也提供由法庭判决案例所衍生的例子，以让持份者有更清晰的理解。</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="sep2017-european-chemicals-agency-appendix-xvii-add-chemical" class="bookmark"></a>
	<strong>欧洲化学品管理局计划将1种化学物质列入附录XVII限制使用化学物质清单</strong>
	<p>欧洲化学品管理局于2017年7月17日透过世界贸易组织通知提议<a href="https://members.wto.org/crnattachments/2017/TBT/EEC/17_3209_00_e.pdf" target="_blank">修改《关于化学品注册、评估、许可和限制法案》（REACH）附录XVII限制</a>使用化学物质清单，以加入<a href="https://members.wto.org/crnattachments/2017/TBT/EEC/17_3209_01_e.pdf" target="_blank">1-甲基-2-吡咯烷酮</a>。</p>
	<a href="/regulatory-updates/September-2017/sep2017-european-chemicals-agency-appendix-xvii-add-chemical" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>正式通过后，本提议将修改《关于化学品注册、评估、许可和限制法案》（REACH）附录XVII限制使用化学物质清单，以加入1-甲基-2-吡咯烷酮及其限制条件。</p>
		<table style="width: 70%;">
			<tr>
				<td style="font-weight: bold;">项目</td>
				<td style="font-weight: bold;">化学物质</td>
				<td style="font-weight: bold;">CAS no. 及<br />
				(欧盟委员会编号)</td>
				<td style="font-weight: bold;">限制条件</td>
			</tr>
			<tr>
				<td>71</td>
				<td>1-甲基-2-吡<br />
				咯烷酮</td>
				<td>872-50-4<br />
				(212-828-1)</td>
				<td><ol>
				<li>生产商，进口商及使用者须在相关化学安全<br />
				报告及安全数据表提及工人曝露于此化学物<br />
				质的衍生无反应剂量为14.4 mg/m3（经呼吸<br />
				接触）和4.8 mg/kg/day（经皮肤接触），否<br />
				则，若产品为(i)此纯化学物质，或(ii)其混合<br />
				物而其剂量相等或高于0.3%，则不能推出市<br />
				场。</li>
				<li>生产商及使用者须进行适当的风险管理措施<br />
				及提供适当工作环境，以确保工人曝露于上<br />
				述化学物质的衍生无反应剂量以下，否则，<br />
				若产品为(i)此纯化学物质，或(ii)其混合物而<br />
				其剂量相等或高于0.3% 则不能推出市场。</li>
				</ol></td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="sep2017-european-scheer-permissible-aluminum-toys" class="bookmark"></a>
	<strong>欧洲SCHEER就采用玩具中铝迁移限制一事对可容许铝摄入量发表初步意见</strong>
	<p>健康，环境和新兴风险科学委员会（SCHEER）于2017年7月<a href="https://ec.europa.eu/health/sites/health/files/scientific_committees/scheer/docs/scheer_o_009.pdf" target="_blank">公布可容许铝摄入量的建议</a>，以采用在玩具安全指引2009/48/EC中的铝迁移限制。</p>
	<a href="/regulatory-updates/September-2017/sep2017-european-scheer-permissible-aluminum-toys" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>欧盟委员会要求健康，环境和新兴风险科学委员会检视现时有关铝毒性的资料，并考虑不同组织，例如欧洲食品安全局及粮农组织及世卫组织食品添加剂联合专家委会所订立的可容许铝摄入量。另外，玩具以外的铝摄入源头亦一并考虑。总结玩具中铝迁移限制建议如下。</p>
		<table style="width: 70%;">
			<tr>
				<td>&nbsp;</td>
				<td>干，易碎，粉状，或<br />
				易弯的玩具物料<br />
				<b>(mg/kg)</b></td>
				<td>液态或粘性物料<br />
				<b>(mg/kg)</b></td>
				<td>可刮落的玩具物料<br />
				<b>(mg/kg)</b></td>
			</tr>
			<tr>
				<td>现行迁移限制</td>
				<td>5625</td>
				<td>1406</td>
				<td>70000</td>
			</tr>
			<tr>
				<td>建议迁移限制</td>
				<td>2250</td>
				<td>560</td>
				<td>28130</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="asia_news" class="bookmark"></a>
	<h2>亚洲回顾</h2>
</div>

<div class="recapSection">
	<a name="sep2017-china-individual-industry-standards" class="bookmark"></a>
	<strong>中国就个别行业标准发出公告</strong>
	<p>中华人民共和国工业和信息化部在2017年6月2日发布<a href="http://www.miit.gov.cn/n1146295/n1652858/n1652930/n4509607/c5669080/content.html" target="_blank">第23号公告</a>，内容为覆审28726条行业标准后的结论。被覆审的标准涵盖不同范畴，包括但不限于消费品（纺织品，轻工，包装等）和电子和通信产品。</p>
	<a href="/regulatory-updates/September-2017/sep2017-china-individual-industry-standards" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>通告总结28726项标准中有5511项标准将会被修订，2749项标准被废止。完整的覆审结论表上载于公告中。</p>
		<p>下列节录其中一些受影响的行业标准。</p>
		<table style="text-align: center; width: 70%;">
			<tr>
				<td style="font-weight: bold;">标准编号</td>
				<td style="font-weight: bold;">标准名称</td>
				<td style="font-weight: bold;">结论</td>
			</tr>
			<tr>
				<td>QB/T 2880-2007</td>
				<td>儿童皮鞋</td>
				<td>修订</td>
			</tr>
			<tr>
				<td>QB/T 2955-2008</td>
				<td>休闲鞋</td>
				<td>修订</td>
			</tr>
			<tr>
				<td>QB/T 1622.5-1992</td>
				<td>不锈钢器皿 锅</td>
				<td>废止</td>
			</tr>
			<tr>
				<td>QB/T 2580-2002</td>
				<td>精细陶瓷烹调器</td>
				<td>修订</td>
			</tr>
			<tr>
				<td>QB/T 1615-2006</td>
				<td>皮革服装</td>
				<td>修订</td>
			</tr>
			<tr>
				<td>FZ/T 73032-2009</td>
				<td>针织牛仔服装</td>
				<td>修订</td>
			</tr>
			<tr>
				<td>FZ/T 01053-2007</td>
				<td>纺织品 纤维含量的标识</td>
				<td>废止</td>
			</tr>
		</table>
		<p>在本公告中被废止的标准在本<a href="http://www.miit.gov.cn/n1146295/n1652858/n1652930/n4509607/c5669080/content.html" target="_blank">公告</a>发布之日起即时废止。</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="sep2017-taiwan-ministry-economic-affairs-test-lithium-batteries" class="bookmark"></a>
	<strong>台湾经济部标准检验局更新充电式锂电池的测试标准</strong>
	<p>台湾经济部标准检验局于2017年7月11日发布<a href="http://www.bsmi.gov.tw/wSite/public/Data/f1499826698979.pdf" target="_blank">经标三字第10630002871号公告</a>，公告内容修订充电式锂外置充电器，电池（钮扣型除外）的测试标准。</p>
	<a href="/regulatory-updates/September-2017/sep2017-taiwan-ministry-economic-affairs-test-lithium-batteries" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>测试标准的主要更新如下</p>
		<table style="width: 80%;">
			<tr>
				<td rowspan="2" style="font-weight: bold;">&nbsp;</td>
				<td colspan="2" style="font-weight: bold; text-align: center;">测试标准</td>  
			</tr>
			<tr>
				<td style="font-weight: bold;">修订前</td>
				<td style="font-weight: bold;">修订后</td>
			</tr>
			<tr>
				<td>充电式锂外置充电器</td>
				<td>CNS 13438 (2006)<br />
				CNS 14336-1(2010)<br />
				CNS 15364(2010) or<br />
				CNS 15364(2013)</td>
				<td>CNS 13438 (2006)<br />
				CNS 14336-1(2010)<br />
				CNS 15364(2013)</td>
			</tr>
			<tr>
				<td>充电式锂电池（钮扣型除外）</td>
				<td>CNS 15364(2010) or<br />
				CNS 15364(2013)</td>
				<td>CNS 15364(2013)</td>
			</tr>
		</table>
		<p>测试标准的更新于2017年7月11日生效。</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="sep2017-china-market-monitoring-summary" class="bookmark"></a>
	<strong>中国市场监控总结（2017年3月至7月）</strong>
	<p>在中国，消费品会被检验，被发现有潜在危害或不符合相关标准的消费品将会在报告中列出。本市场监控将以省份作为单位，并不定期更新。2017年3月至7月的市场监控总结如下：</p>
	<a href="/regulatory-updates/September-2017/sep2017-china-market-monitoring-summary" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">更多</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<center><img src="https://s3.asiainspection.com/newsletters/2017-09-RegRecap/chart1.png" style="width:90%; max-width:850px;" /></center><br />
	<table>
		<tr>
			<td style="text-align: center; font-weight: bold;">消息品类别</td>
			<td style="text-align: center; font-weight: bold;">次数</td>
		</tr>
		<tr>
			<td>食品接触物料</td>
			<td style="text-align: right;">29</td>
		</tr>
		<tr>
			<td>布料／纺织品／服装／家用纺织品</td>
			<td style="text-align: right;">28</td>
		</tr>
		<tr>
			<td>家庭电器（吹风机，熨斗等）</td>
			<td style="text-align: right;">20</td>
		</tr>
		<tr>
			<td>玩具及儿童护理用品</td>
			<td style="text-align: right;">16</td>
		</tr>
		<tr>
			<td>计算机/音响/视频/其他电子产品及配件</td>
			<td style="text-align: right;">12</td>
		</tr>
		<tr>
			<td>家具</td>
			<td style="text-align: right;">12</td>
		</tr>
		<tr>
			<td>其他类别*</td>
			<td style="text-align: right;">35</td>
		</tr>
	</table>
	<span>* 其他类别包括次数不大于10的蜡烛，可燃烧产品及配件、消费者化学制品、化妆品／身体护理产品、鞋类、家居用品（非食品接触）、首饰，手表或其他饰物、青少年产品、照明设备、个人防护装备（眼部防护除外）、运动用品／器材、及工具。</span>
	<br /><br />
	<center><img src="https://s3.asiainspection.com/newsletters/2017-09-RegRecap/chart3.png" style="width:90%; max-width:850px;" /></center><br />	
	<table>
		<tr>
			<td style="font-weight: bold;">省份</td>
			<td style="font-weight: bold;">合格量</td>
			<td style="font-weight: bold; text-align: center;">不合格量</td>
		</tr>
		<tr>
			<td>国家质检总局</td>
			<td style="text-align: right;">569</td>
			<td style="text-align: right;">48</td>
		</tr>
		<tr>
			<td>重庆市</td>
			<td style="text-align: right;">108</td>
			<td style="text-align: right;">4</td>
		</tr>
		<tr>
			<td>广东</td>
			<td style="text-align: right;">1741</td>
			<td style="text-align: right;">242</td>
		</tr>
		<tr>
			<td>广西</td>
			<td style="text-align: right;">72</td>
			<td style="text-align: right;">6</td>
		</tr>
		<tr>
			<td>贵州</td>
			<td style="text-align: right;">341</td>
			<td style="text-align: right;">16</td>
		</tr>
		<tr>
			<td>河南</td>
			<td style="text-align: right;">375</td>
			<td style="text-align: right;">16</td>
		</tr>
		<tr>
			<td>江苏</td>
			<td style="text-align: right;">343</td>
			<td style="text-align: right;">75</td>
		</tr>
		<tr>
			<td>宁夏</td>
			<td style="text-align: right;">39</td>
			<td style="text-align: right;">29</td>
		</tr>
		<tr>
			<td>青海</td>
			<td style="text-align: right;">27</td>
			<td style="text-align: right;">9</td>
		</tr>
		<tr>
			<td>陕西</td>
			<td style="text-align: right;">471</td>
			<td style="text-align: right;">44</td>
		</tr>
		<tr>
			<td>山东</td>
			<td style="text-align: right;">100</td>
			<td style="text-align: right;">4</td>
		</tr>
		<tr>
			<td>上海市</td>
			<td style="text-align: right;">1213</td>
			<td style="text-align: right;">257</td>
		</tr>
		<tr>
			<td>山西</td>
			<td style="text-align: right;">119</td>
			<td style="text-align: right;">66</td>
		</tr>
		<tr>
			<td>浙江</td>
			<td style="text-align: right;">277</td>
			<td style="text-align: right;">33</td>
		</tr>
	</table>

	<p><a href="https://s3.asiainspection.com/newsletters/2017-09-RegRecap/China%20Market%20Monitoring%20Summary%20%28March%20to%20July%202017%29.docx" target="_blank">中国市场监控总结 (最后更新：2017年7月30日)</a></p>
	</div><br />
</div>
