<p style="padding-top:15px;font-size:13px;font-family:Arial;">您好，</p>

<p style="padding:15px;font-size:13px;font-family:Arial;">一名用户已通过高铁广告二维码/在线查询申请技术咨询服务。用户信息与联系方式如下：</p>

<h3 style="padding-bottom:10px;padding-left:20px;font-family:Arial;">姓名: {{name}}</h3>
<h3 style="padding-bottom:10px;padding-left:20px;font-family:Arial;">邮箱: {{email}}</h3>
<h3 style="padding-bottom:20px;padding-left:20px;font-family:Arial;">电话: {{phone}}</h3>

<p style="padding-bottom:10px;font-size:13px;padding-left:20px;font-family:Arial;"> 请安排专业人员尽快与用户联系。</p>
<p style="padding-bottom:10px;font-size:13px;padding-left:20px;font-family:Arial;"> 谢谢。</p>

<p style="padding-bottom:20px;padding-left:20px;font-size:13px;font-family:Arial;">注：此邮件由系统发出，请勿直接回复。</p>

<p style="padding-top:10px;font-size:13px;font-family:Arial;"> 致敬,<br><br>The AI Marketing Team (亚检市场部团队)</p>
