<!-- { "Title":"April 2017 Recap", "PublishDate":"2017-04-28", "Description":"NORTH AMERICA NEWS - On March 30, 2017, the US Consumer Product Safety Commission (CPSC) issued Final Rule 16 CFR 1234 in the Federal Register 82 FR 15615 regarding safety standard adoption for infant bath tubs." }-->
<div class="recapSectionHeader">
	<ol style="margin-top:10px;">
		<li style="margin-bottom:10px;"><a href="#north_america_news">NORTH AMERICA NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#europe_news">EUROPE NEWS</a></li>
	</ol>
	<hr />
</div>

<div class="recapSectionHeader">
	<a name="north_america_news" class="bookmark"></a>
	<h2>NORTH AMERICA NEWS</h2>
</div>

<div class="recapSection">
	<a name="apr2017-cpsc-infant-tubs" class="bookmark"></a>
	<strong>US CPSC Adopts Infant Bath Tubs Standard</strong>
	<p>On March 30, 2017, the US Consumer Product Safety Commission (CPSC) issued Final Rule 16 CFR 1234 in the Federal Register <a href="https://www.federalregister.gov/documents/2017/03/30/2017-06270/safety-standard-for-infant-bath-tubs?utm_campaign=subscription%20mailing%20list&utm_source=federalregister.gov&utm_medium=email" target="_blank">82 FR 15615</a> regarding safety standard adoption for infant bath tubs.</p>
	<a href="/regulatory-updates/April-2017/apr2017-cpsc-infant-tubs" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In the final rule, the ASTM F2670-17 Standard Consumer Safety Specification for Infant Bath Tubs is adopted. 
		An infant bath tub is defined as a tub, enclosure, or other similar product intended to hold water and be placed into an adult bath tub, sink, or on top of other surfaces to provide support or containment, or both, for an infant in a reclining, sitting, or standing position during bathing by a caregiver. However, products commonly known as bath slings typically made of fabric or mesh are excluded from the scope of the standard.</p>

		<p>The final rule will be effective October 2, 2017.</p>
		</div><br />
</div>

<div class="recapSection">
	<a name="apr2017-cpsc-infant-sleep-products" class="bookmark"></a>
	<strong>US CPSC Proposes Rule to Adopt Infant Inclined Sleep Products Standard</strong>
	<p>On April 7, 2017, the US Consumer Product Safety Commission (CPSC) issued proposed rule 16 CFR 1236 in Federal Register <a href="https://www.federalregister.gov/documents/2017/04/07/2017-06875/safety-standard-for-infant-inclined-sleep-products" target="_blank">82 FR 16963</a> regarding safety standard adoption for Infant Inclined Sleep Products. </p>
	<a href="/regulatory-updates/April-2017/apr2017-cpsc-infant-sleep-products" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In the proposed rule, the newly published ASTM F3118-17 Standard Consumer Safety Specification for Infant Inclined Sleep Products was adopted in order to reduce the chance of injury associated with inclined sleep products. An infant inclined sleep product is defined as a product:</p>
			<ol>
				<li>Intended for infants up to 5 months old (3 months for certain smaller products)</li>
				<li>Intended primarily and marketed to provide sleeping accommodations</li>
				<li>Having at least one inclined sleep surface which is between 10 and 30 degrees</li>
			</ol>
		<p>The proposed rule is currently under comment period until June 21, 2017.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="apr2017-updates-of-astm-standards" class="bookmark"></a>
	<strong>Updates of ASTM Standards</strong>
	<p>Below is a summary of recently updated ASTM standards that may be of interest to our clients:</p>
	<a href="/regulatory-updates/April-2017/apr2017-updates-of-astm-standards" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<table>
			<tr>
				<td style="font-weight:bold; text-align:center;">CPSIA / CFR Reference</td>
				<td style="font-weight:bold; text-align:center;">ASTM Standard No.</td>
				<td style="font-weight:bold; text-align:center;">Detail</td>
			</tr>

			<tr>
				<td>16 CFR 1231 (Proposed)</td>
				<td>ASTM F404-17</td>
				<td><b>Standard Consumer Safety Specification for High Chairs</b><br />
				Covers the performance requirements and methods of test to ensure the satisfactory performance of the high chair and high chairs created by using a high chair conversion kit and component(s) from another product.</td>
			</tr>

			<tr>
				<td style="text-align:center;">--</td>
				<td>ASTM F1912-17</td>
				<td><b>Standard Specification for Safety of Bean Bag Chairs</b><br />
				Covers the minimum performance requirements and associated durability test for bean bag chairs (with and without zippers).</td>
			</tr>

			<tr>
				<td style="text-align:center;">--</td>
				<td>ASTM F2640-16</td>
				<td><b>Standard Consumer Safety Specification for Booster Seats</b><br />
				Covers the performance requirements and methods of test to ensure the satisfactory performance of the booster seat.</td>
			</tr>

			<tr>
				<td>16 CFR 1236 (Proposed)</td>
				<td>ASTM F3118-17</td>
				<td><b>Standard Consumer Safety Specification for Infant Inclined Sleep Products</b><br />
				Establishes safety performance requirements, test methods, and labeling requirements to minimize the hazards to infants presented by infant inclined sleep products as identified in the introduction.</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="apr2017-california-oehha-new-chemicals-prop65" class="bookmark"></a>
	<strong>US State of California OEHHA Adds New Chemicals to Proposition 65 List</strong>
	<p>On January 27 2017, the California Office of Environmental Health Hazard Assessment (OEHHA) added <a href="https://oehha.ca.gov/proposition-65/crnr/chemicals-listed-effective-january-27-2017-known-state-california-cause" target="_blank">new chemicals to the Proposition 65 List</a>. The added chemicals meet the requirements for listing as known to the State of California to cause reproductive toxicity (developmental as well as male and female endpoints) for purposes of Proposition 65.</p>
	<a href="/regulatory-updates/April-2017/apr2017-california-oehha-new-chemicals-prop65" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The chemical details are provided below:</p>
		<table>
			<tr>
				<td style="font-weight:bold; text-align:center;">Chemical</td>
				<td style="font-weight:bold; text-align:center;">Chemical Abstracts Service<br> Number (CAS No.)</td>
				<td style="font-weight:bold; text-align:center;">Types of Toxicity</td>
			</tr>

			<tr>
				<td>Pertuzumab</td>
				<td style="text-align:center;">380610-27-5</td>
				<td>Reproductive Toxicity (Developmental)</td>
			</tr>

			<tr>
				<td>Vismodegib</td>
				<td style="text-align:center;">879085-55-9</td>
				<td>Reproductive Toxicity (Developmental)<br />Reproductive Toxicity (Female and Male Endpoints)</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="apr2017-california-oehha-glyphosate-listed-prop65" class="bookmark"></a>
	<strong>US State of California OEHHA Confirms Adding Glyphosate to be Listed under Proposition 65</strong>
	<p>On March 28, 2017, the California Office of Environmental Health Hazard Assessment (OEHHA) issued <a href="https://oehha.ca.gov/proposition-65/crnr/glyphosate-be-listed-under-proposition-65-known-state-cause-cancer" target="_blank">notice</a> to confirm that Glyphosate will be listed under Proposition 65 as known to the State to cause cancer.</p>
	<a href="/regulatory-updates/April-2017/apr2017-california-oehha-glyphosate-listed-prop65" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<p>The chemical details are provided below:</p>
		<table>
			<tr>
				<td style="font-weight:bold; text-align:center;">Chemical</td>
				<td style="font-weight:bold; text-align:center;">Chemical Abstracts Service<br> Number (CAS No.)</td>
				<td style="font-weight:bold; text-align:center;">Types of Toxicity</td>
			</tr>
			<tr>
				<td style="text-align:center;">Glyphosate</td>
				<td style="text-align:center;">1071-83-6</td>
				<td style="text-align:center;">Cancer</td>
			</tr>
		</table>
		<p>The effective date of the listing of Glyphosate will be determined following a decision from the Court of Appeal regarding a request for a stay in the pending case (Monsanto v OEHHA).</p>	
		<p>Meanwhile, OEHHA <a href="https://oehha.ca.gov/proposition-65/crnr/notice-proposed-rulemaking-amendment-section-25705-specific-regulatory-levels" target="_blank">proposed to adopt a Proposition 65 No Significant Risk Level (NSRL)</a> of 1100 mg/day for Glyphosate and it is currently in comment period until May 22, 2017.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="apr2017-california-oehha-repeal-outdated-bpa" class="bookmark"></a>
	<strong>US State of California OEHHA Proposes to Repeal Outdated Requirements Related to Warning for BPA</strong>
	<p>On February 17, 2017, the California Office of Environmental Health Hazard Assessment (OEHHA) <a href="https://oehha.ca.gov/proposition-65/crnr/notice-proposed-rulemaking-title-27-proposed-repeal-sections-2560730-and-2560731" target="_blank">proposed to repeal outdated California Code of Regulations (CCR) section 25607.30 and 25607.31</a> related to warnings for exposure to Bisphenol A (BPA) from canned and bottled foods and beverages.</p>
	<a href="/regulatory-updates/April-2017/apr2017-california-oehha-repeal-outdated-bpa" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In this proposed action, no new provisions will be added and sections 25607.30 and 25607.31 will be removed due to the conflict with the regular rulemaking adopted previously (See <a href="http://www.asiainspection.com/regulatory-updates/January-2017/california-amendment-bottled-foods-beverages">previous story</a> in Regulatory Recap: January 2017). Therefore, upon approval, canned and bottled foods and beverages that cause exposures to BPA are deemed in compliance if the standard point-of-sale warning is provided according to <a href="https://govt.westlaw.com/calregs/Document/I2E352FE653364F099FD78F6185C79D00?viewType=FullText&originationContext=documenttoc&transitionType=CategoryPageItem&contextData=(sc.Default)" target="_blank">section 25603.3 (f) and (g) of CCR</a>.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="apr2017-maine-adopts-new-priority-chemicals" class="bookmark"></a>
	<strong>US State of Maine Adopts New Priority Chemicals</strong>
	<p>On March 4, 2017, the Maine Department of Environmental Protection (DEP) adopted <a href="#718027" target="_blank">rule Chapter 889 Designation of Two Flame Retardants as Priority Chemicals</a>. The rule designates two chemicals of high concern as priority chemicals. The two chemicals are Decabromodiphenyl Ether (Deca BDE) and Hexabromocylododecane (HBCD) (See <a href="http://www.asiainspection.com/regulatory-updates/November-2016/maine-new-priority-chemicals">Previous Story in Regulatory Recap: November 2016)</a>.</p>
	<a href="/regulatory-updates/April-2017/apr2017-maine-adopts-new-priority-chemicals" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In the adopted rule, two flame retardants chemicals, Deca BDE and HBCD, are designated as priority chemicals under the Maine Toxic Chemicals in Children’s Product Law. Therefore, manufacturers of the following children’s products are required to submit information to the DEP before August 31, 2017 if the concentration of these chemicals is more than the Practical Quantification Limit (if intentionally added) or greater than or equal to 100 ppm (if present as a contaminant):</p>
		<ol>
			<li>Child Care Article</li>
			<li>Children’s Sleepwear</li>
			<li>Children’s Toy</li>
			<li>Children’s Clothing</li>
			<li>Children’s Footwear</li>
			<li>Electronic Device</li>
			<li>Household furniture and Furnishings</li>
			<li>Mattress</li>
			<li>Mattress Pad</li>
		</ol>
	</div><br />
</div>

<div class="recapSection">
	<a name="apr2017-washington-proposal-amend-chcc-reporting" class="bookmark"></a>
	<strong>US State of Washington Updates Proposal to Amend CHCC Reporting Rule and List</strong>
	<p>On March 22, 2017, the Washington Department of Ecology (DOE) issued an <a href="http://www.ecy.wa.gov/laws-rules/wac173334/p1608a.pdf" target="_blank">updated proposal for the Chemical of High Concern to Children (CHCC) reporting rule and list amendment</a>, which was proposed previously in October 2016 (See <a href="http://www.asiainspection.es/regulatory-updates/December-2016/washington-proposes-changes-chcc">Regulatory Recap: December 2016)</a>.</p>
	<a href="/regulatory-updates/April-2017/apr2017-washington-proposal-amend-chcc-reporting" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Compared to the previous proposal (See <a href="http://www.asiainspection.es/regulatory-updates/December-2016/washington-proposes-changes-chcc">Regulatory Recap: December 2016)</a>, the following modifications have been made in the updated proposal:</p>
		<ol>
			<li>Changed the date for manufacturers to start reporting children’s products containing a CHCC higher than the de minimis level to January 1, 2019 (annually thereafter).</li>
			<li>Confirmed the addition and removal of CHCCs (see below):</li>
		</ol>
		<p>New chemicals proposed to be listed as CHCCs:</p>
		<table>
			<tr>
				<td style="font-weight:bold;">CAS Number</td>
				<td style="font-weight:bold;">Acronym</td>
				<td style="font-weight:bold;">Chemical Name</td>
			</tr>
			<tr>
				<td>78-33-1</td>
				<td>TBPP</td>
				<td>Tris(4-tert-butylphenyl) phosphate</td>
			</tr>
			<tr>
				<td>80-90-1</td>
				<td>BPS</td>
				<td>Bisphenol S</td>
			</tr>
			<tr>
				<td>84-61-7</td>
				<td>DCHP</td>
				<td>Dicyclohexyl phthalate</td>
			</tr>
			<tr>
				<td>84-69-5</td>
				<td>DIBP</td>
				<td>Diisobutyl phthalate</td>
			</tr>
			<tr>
				<td>115-86-6</td>
				<td>TPP</td>
				<td>Triphenyl phosphate</td>
			</tr>
			<tr>
				<td>126-72-7</td>
				<td>TDBPP</td>
				<td>Tris (2,3-dibromopropyl) phosphate</td>
			</tr>
			<tr>
				<td>126-73-8</td>
				<td>TNBP</td>
				<td>Tri-n-butyl phosphate</td>
			</tr>
			<tr>
				<td>131-18-0</td>
				<td>DPP</td>
				<td>Dipentyl phthalate</td>
			</tr>
			<tr>
				<td>335-67-1</td>
				<td>PFOA</td>
				<td>Perfluorooctanoic acid</td>
			</tr>
			<tr>
				<td>620-92-8</td>
				<td>BPF</td>
				<td>Bisphenol F</td>
			</tr>
			<tr>
				<td>1241-94-7</td>
				<td>EHDPP</td>
				<td>Ethylhexyl diphenyl phosphate</td>
			</tr>
			<tr>
				<td>1330-78-5</td>
				<td>TCP</td>
				<td>Tricresyl phosphate</td>
			</tr>
			<tr>
				<td>13674-84-5</td>
				<td>TCPP</td>
				<td>Tris (2chloroisopropyl) phosphate</td>
			</tr>
			<tr>
				<td>26040-51-7</td>
				<td>TBPH</td>
				<td>Bis (2-ethylhexyl) 2,3,4,5- tetra bromophthalate</td>
			</tr>
			<tr>
				<td>38051-10-4</td>
				<td>V6</td>
				<td>Bis (chloromethyl)propane-1,3 -diyl tetrakis-(2- chloroethyl) bis(phosphate)</td>
			</tr>
			<tr>
				<td>68937-41-7</td>
				<td>IPTPP</td>
				<td>Isopropylated triphenyl phosphate</td>
			</tr>
			<tr>
				<td>84852-53-9</td>
				<td>DBDPE</td>
				<td>Decabromodiphenylethane</td>
			</tr>
			<tr>
				<td>85535-84-8</td>
				<td>SCCP</td>
				<td>Short-chain chlorinated paraffins</td>
			</tr>
			<tr>
				<td>108171-26-2</td>
				<td>---</td>
				<td>Chlorinated paraffins</td>
			</tr>
			<tr>
				<td>220352-35-2</td>
				<td>---</td>
				<td>Butylated triphenyl phosphate</td>
			</tr>
			<tr>
				<td>183658-27-7</td>
				<td>TBB</td>
				<td>2-ethylhexyl-2,3,4,5- tetrabromobenzoate</td>
			</tr>
		</table>
		<p>Current CHCCs proposed to be delisted:</p>
		<table>
			<tr>
				<td style="font-weight:bold;">CAS Number</td>
				<td style="font-weight:bold;">Acronym</td>
				<td style="font-weight:bold;">Chemical Name</td>
			</tr>
			<tr>
				<td>85-44-9</td>
				<td>---</td>
				<td>Phthalic anhydride</td>
			</tr>
			<tr>
				<td>556-67-2</td>
				<td>---</td>
				<td>Octamethylcyclotetrasiloxane (D4)</td>
			</tr>
			<tr>
				<td>7439-98-7</td>
				<td>Mo</td>
				<td>Molybdenum &amp; molybdenum compounds</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="apr2017-california-prop65-recent-60-day" class="bookmark"></a>
	<strong>California Proposition 65: Recent 60-Day Notices</strong>
	<p>In 1986, California voters approved an initiative titled California Proposition 65 to address their growing concerns about exposure to toxic chemicals. Since its origin, there have been many lawsuits that have resulted in reformulations of consumer products containing carcinogenic and reproductively harmful chemicals on the Cal Prop 65 list.</p>
	<a href="/regulatory-updates/April-2017/apr2017-california-prop65-recent-60-day" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Recent 60-day notices from January to March of 2017 include the following:</p>
		<table>
			<tr>
				<td style="font-weight:bold;">Chemical</td>
				<td style="font-weight:bold;">Product / Source</td>
				<td style="font-weight:bold;">Number of Notices</td>
			</tr>
			<tr>
				<td>Acrylamide</td>
				<td>Foods</td>
				<td>19</td>
			</tr>
			<tr>
				<td>Arsenic (inorganic arsenic compounds), Benzo[a]anthracene, Benzo[a]pyrene, Cadmium, Chromium (hexavalent compounds), Chrysene, Cobalt metal powder</td>
				<td>Recycled vehicle tires</td>
				<td>1</td>
			</tr>
			<tr>
				<td rowspan="2">Bisphenol A (BPA)</td>
				<td>Sous Vide Container / Thermal Paper / Food Pan / Measuring Cup</td>
				<td>5</td>
			</tr>
			<tr>
				<td>Polycarbonate Cocktail Glasses / Wine Glass / Bowl / Dredge Shaker</td>
				<td>4</td>
			</tr>
			<tr>
				<td rowspan="2">Cadmium</td>
				<td>Cacao Nibs /  Cacao Bar</td>
				<td>4</td>
			</tr>
			<tr>
				<td>Necklaces</td>
				<td>1</td>
			</tr>
			<tr>
				<td rowspan="3">Cadmium and cadmium compounds, Lead and lead compounds</td>
				<td>Shrimp</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Dietary Supplements</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Maca Powder / Chocolate Bar</td>
				<td>1</td>
			</tr>
			<tr>
				<td rowspan="24">Di(2-ethylhexyl)phthalate (DEHP)</td>
				<td>Baby Bath Mat / Baby Bib</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Bikini</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Button Shank Remover</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Chairs with Vinyl/PVC Upholstery</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Clamp Handle Grips /Flat or Round Nose Pliers</td>
				<td>3</td>
			</tr>
			<tr>
				<td>Cosmetics</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Electrical Test Kits with Vinyl/PVC Wires, Vinyl/PVC Electrical Tape</td>
				<td>3</td>
			</tr>
			<tr>
				<td>Extruded Vinyl Runner</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Gloves</td>
				<td>7</td>
			</tr>
			<tr>
				<td>Grout Bag / Phone Handbag / Tote /Cosmetic Bags /  Wallets</td>
				<td>8</td>
			</tr>
			<tr>
				<td>Hair Roller Case</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Key Topper /  Passport or Badge Holder</td>
				<td>3</td>
			</tr>
			<tr>
				<td>Medicine Ball</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Messenger Bag / Toiletry Bag</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Provizgard Goggles</td>
				<td>1</td>
			</tr>
			<tr>
				<td>PVC Backpack / Tubing / Hose</td>
				<td>9</td>
			</tr>
			<tr>
				<td>Raincoat</td>
				<td>3</td>
			</tr>
			<tr>
				<td>Sauna Suit</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Shoes</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Storage Bags / Cases</td>
				<td>8</td>
			</tr>
			<tr>
				<td>Suction Cup Mount Camera /Headphone</td>
				<td>3</td>
			</tr>
			<tr>
				<td>Vinyl / PVC Products: Tubing / Cables / Cases / Wires / Handles Straps /  Hearing Protection /  Poster Carriers / Safety Vests / Tape / Tool Grips / Wrist Splints / Cords</td>
				<td>23</td>
			</tr>
			<tr>
				<td>Waterproof Apron</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Wheelchair Seat</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Di(2-ethylhexyl)phthalate (DEHP), Di-isodecyl phthalate (DIDP), Diisononyl phthalate (DINP)</td>
				<td>Costume and costume accessory storage cases</td>
				<td>1</td>
			</tr>
			<tr>
				<td rowspan="4">Di(2-ethylhexyl)phthalate (DEHP), Diisononyl phthalate (DINP)</td>
				<td>Children's Cosmetic Set</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Children's Cosmetic Set </td>
				<td>1</td>
			</tr>
			<tr>
				<td>Hose</td>
				<td>3</td>
			</tr>
			<tr>
				<td>Over the Door Organizer / Storage Case</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Di(2-ethylhexyl)phthalate (DEHP), Di-n-butyl phthalate (DBP)</td>
				<td>Sandals</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Di(2-ethylhexyl)phthalate (DEHP), Lead</td>
				<td>Vinyl/PVC Clip Grips</td>
				<td>2</td>
			</tr>
			<tr>
				<td rowspan="11">Diisononyl phthalate (DINP)</td>
				<td>Bib</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Glove</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Backpack</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Charging Cable</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Frogg Toggs Rana II Chest Wader</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Infant/Toddler High Chair</td>
				<td>1</td>
			</tr>
			<tr>
				<td>iPhone Charging Wire</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Mattress Protector</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Steering Wheel Cover</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Vinyl Repair Patches</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Women's Dress</td>
				<td>2</td>
			</tr>
			<tr>
				<td rowspan="3">Di-n-butyl phthalate (DBP)</td>
				<td>Bicycle Cable Lock</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Children’s Sandals</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Footwear</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Di-isodecyl phthalate (DIDP)</td>
				<td>Bath Mats</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Di-isodecyl phthalate (DIDP), Diisononyl phthalate (DINP)</td>
				<td>Tubing and storage cases</td>
				<td>2</td>
			</tr>
			<tr>
				<td rowspan="4">Diisononyl phthalate (DINP)</td>
				<td>Headphone / Cable</td>
				<td>4</td>
			</tr>
			<tr>
				<td>Table Protector</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Salt Shaker</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Shower Curtain / Cord / Floor Mat</td>
				<td>4</td>
			</tr>
			<tr>
				<td rowspan="6">Lead and lead compounds</td>
				<td>Adapters / Anchors with Flanges / Disconnect Sockets / Fittings / Hose /  Nozzles /  Valves</td>
				<td>55</td>
			</tr>
			<tr>
				<td>Dishes with Exterior Designs</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Regulators / Calipers</td>
				<td>6</td>
			</tr>
			<tr>
				<td>Food: Cherrystone Clams / Dried Teas / Ground Sage / Ground Ginger / Berries / Dietary Supplements</td>
				<td>28</td>
			</tr>
			<tr>
				<td>Knurled Keys / Padlock / Screwdrivers</td>
				<td>4</td>
			</tr>
			<tr>
				<td>Footwear</td>
				<td>1</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="europe_news" class="bookmark"></a>
	<h2>EUROPE NEWS</h2>
</div>

<div class="recapSection">
	<a name="apr2017-echa-public-consultation-svhcs" class="bookmark"></a>
	<strong>ECHA Opens Public Consultation for 2 Potential Chemicals as SVHCs</strong>
	<p>On March 9, 2017, the European Chemicals Agency (ECHA) <a href="https://echa.europa.eu/addressing-chemicals-of-concern/authorisation/substances-of-very-high-concern-identification" target="_blank">proposed 2 chemicals to be added to the Substances of Very High Concern (SVHCs) Candidate List</a> under Regulation (EC) No. 1907/2006 (REACH).</p>
	<a href="/regulatory-updates/April-2017/apr2017-echa-public-consultation-svhcs" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The proposed chemical details are provided below:</p>
		<table>
			<tr>
				<td style="font-weight:bold;">Chemicals</td>
				<td style="font-weight:bold;">Chemical Abstract<br>Service (CAS) Number</td>
				<td style="font-weight:bold;">Reason for proposing</td>
			</tr>
			<tr>
				<td>4,4'-isopropylidenediphenol (bisphenol A / BPA)</td>
				<td>80-05-7</td>
				<td>Endocrine disrupting properties</td>
			</tr>
			<tr>
				<td>Perfluorohexane-1-sulphonic acid and its salts</td>
				<td>355-46-4</td>
				<td>very persistent and very bioaccumulative (vPvB)</td>
			</tr>
		</table>
		<p>The consultation ended on April 24, 2017.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="apr2017-echa-consultation-svhcs-authorized-chemicals" class="bookmark"></a>
	<strong>ECHA Opens Consultation on Listing Certain SVHCs as Authorized Chemicals</strong>
	<p>On March 2, 2017, the European Chemicals Agency (ECHA) <a href="https://echa.europa.eu/addressing-chemicals-of-concern/authorisation/recommendation-for-inclusion-in-the-authorisation-list" target="_blank">proposed 7 Substances of Very High Concern (SVHCs) to be listed as Authorized Chemicals</a> under Annex XIV of Regulation (EC) No. 1907/2006 (REACH).</p>
	<a href="/regulatory-updates/April-2017/apr2017-echa-consultation-svhcs-authorized-chemicals" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The proposed SVHCs to be listed as Authorized Chemicals are provided below:</p>
		<ol>
			<li>5-sec-butyl-2-(2,4-dimethylcyclohex-3-en-1-yl)-5-methyl-1,3-dioxane [1], 5-sec-butyl-2-(4,6-dimethylcyclohex-3-en-1-yl)-5-methyl-1,3-dioxane [2] [covering any of the individual stereoisomers of [1] and [2] or any combination thereof] (karanal group)</li>
			<li>1-Methyl-2-pyrrolidone (NMP)</li>
			<li>2-(2H-benzotriazol-2-yl)-4,6-ditertpentylphenol (UV-328)</li>
			<li>2,4-di-tert-butyl-6-(5-chlorobenzotriazol-2-yl)phenol (UV-327)</li>
			<li>2-(2H-benzotriazol-2-yl)-4-(tert-butyl)-6-(sec-butyl)phenol (UV-350)</li>
			<li>2-benzotriazol-2-yl-4,6-di-tert-butylphenol (UV-320)</li>
			<li>1,2-benzenedicarboxylic acid, di-C6-10-alkyl esters; 1,2-benzenedicarboxylic acid, mixed decyl and hexyl and octyl diesters with ≥ 0.3% of dihexyl phthalate (EC No. 201-559-5)</li>
		</ol>
		<p>The consultation ends on June 2, 2017.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="apr2017-echa-expand-reach-restriction-lead" class="bookmark"></a>
	<strong>ECHA Proposes to Expand the Scope of REACH Restriction on Lead Compounds</strong>
	<p>n March 2017,  the European Chemical Agency (ECHA) initiated a public consultation regarding the <a href="https://echa.europa.eu/restrictions-under-consideration/-/substance-rev/16119/term" target="_blank">proposal to expand the scope of lead restriction</a> in Annex XVII List of Restriction under Regulation (EC) No. 1907/2006 (REACH).</p>
	<a href="/regulatory-updates/February-2017/apr2017-echa-expand-reach-restriction-lead" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In the proposal, the lead restriction under REACH is proposed to be expanded to any Polyvinyl Chloride (PVC) article placed on the market. Due to the fact that the exposure to lead can result in severe neurobehavioral and neurodevelopmental effects at a low dosage, the ECHA proposes to restrict PVC articles if the lead is used as a stabilizer at concentration exceeding 0.1% by weight. Example products include:</p>
			<ol>
				<li>Window profiles</li>
				<li>Fittings, pipes and tubes</li>
				<li>Rolling shutters and gutters</li>
				<li>Wires and cables</li>
				<li>Roof and flooring tiles etc.</li>
			</ol>
		<p>However, the following products that are covered by existing legislation are not subject to the proposed restriction:</p>
			<ol>
				<li>Food contact materials (Regulation (EC) No. 1935/2004 and Regulation (EC) No. 10/2011)</li>
				<li>Electrical and electronic equipment (Directive 2011/65/EU)</li>
				<li>Packaging (Directive 94/62/EC)</li>
				<li>Toys (Directive 2009/48/EC) </li>
			</ol>
		<p>The public consultation ends on September 22, 2017.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="apr2017-echa-proposal-restrict-phthalates" class="bookmark"></a>
	<strong>ECHA Announces Agreed Proposal to Restrict Four Phthalates in Plasticized Materials</strong>
	<p>On March 21, 2017, the European Chemicals Agency (ECHA) announced in <a href="https://echa.europa.eu/-/restriction-proposal-on-four-phthalates-and-several-authorisation-applications-agreed-by-rac-and-seac" targt="_blank">ECHA/NA/17/05</a> that the committee for Risk Assessment (RAC) and the Committee for Socio-Economic Analysis (SEAC) agreed on a <a href="https://echa.europa.eu/restrictions-under-consideration/-/substance-rev/13919/term" target="_blank">proposal to restrict four phthalates in plasticized materials</a>.</p>
	<a href="/regulatory-updates/April-2017/apr2017-echa-proposal-restrict-phthalates" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<p>In the restriction proposal supported by RAC and SEAC, four phthalates including DEHP, DBP, DIBP and BBP are restricted under Regulation (EC) No. 1907/2006 (REACH) in the following conditions:</p>
			<ol>
				<li>Mouthed or prolonged skin contact articles</li>
				<li>2. Articles that are used or stored in an indoor environment (where people are present under normal and reasonably foreseeable conditions and can potentially be exposed via inhalation)</li>
			</ol>
		<span>However, the following products that are covered by existing legislation are not subject to the proposed restriction:</span>
			<ol>
				<li>Articles placed on the EU market prior to the application of the restriction</li>
				<li>Food contact materials (Regulation (EC) No. 1935/2004 and Regulation (EC) No. 10/2011)</li>
				<li>Immediate packaging of medicinal products (Regulation (EC) No. 726/2004, Directive 2001/82/EC or Directive 2001/83/EC)</li>
				<li>Medical devices (Directive 90/385/EEC, Directive 93/42/EEC & Directive 98/79/EC)</li>
				<li>Toys and childcare articles containing DEHP, DBP and BBP as they are already covered under restriction (entry 51 of Annex XVII of REACH) but not those articles containing DIBP </li>
				<li>Measuring devices for laboratory use</li>
			</ol>
	</div><br />
</div>

<div class="recapSection">
	<a name="apr2017-echa-guidance-document-reach-compliance-v4" class="bookmark"></a>
	<strong>ECHA Issues Draft Guidance Document for REACH Compliance (Version 4)</strong>
	<p>In February 2017, the European Chemicals Agency (ECHA) issued a <a href="https://echa.europa.eu/documents/10162/13643/forum_consultation_v_4_sia_guidance_en.pdf/80690252-9808-9f15-7209-13df2b4ed270" target="_blank">draft new version (Version 4) of Guidance Document on Requirements for Substances in Articles</a> aiming to assist stakeholders complying with the obligations under Regulation (EC) No. 1907/2006 (REACH).</p>
	<a href="/regulatory-updates/April-2017/apr2017-echa-guidance-document-reach-compliance-v4" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<p>The guidance document covers a wide range of essential REACH processes as well as some scientific and/or technical methods that industry or authorities need under the regulation. The new version of guidance provides a more comprehensive update aimed primarily at further aligning the text. Apart from this, new examples that are consistent with the conclusions of the Court judgement are provided for stakeholder’s better understanding.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="apr2017-europe-recalls-summary" class="bookmark"></a>
	<strong>Europe Recalls Summary (February and March 2017)</strong>
	<p>In Europe, when hazards are identified in consumer products, the products will be recalled and published in the <a href="http://ec.europa.eu/consumers/consumers_safety/safety_products/rapex/alerts/main/index.cfm?event=main.search#searchResults" target="_blank">Rapid Alert System</a>, which is updated weekly. The European recalls for February and March 2017 are summarized below:</p>
	<a href="/regulatory-updates/April-2017/apr2017-europe-recalls-summary" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<center><img src="https://s3.asiainspection.com/newsletters/2017-04-RegRecap/2017.04_pieCharts_hazards.gif" style="width:90%; max-width:850px;" /></center>
		<table>
			<tr>
				<td><b>Hazard</b></td>
				<td><b>Frequency</b></td>
			</tr>
			<tr>
				<td>Chemical Hazard</td>
				<td>67</td>
			</tr>
			<tr>
				<td>Choking Hazard</td>
				<td>60</td>
			</tr>
			<tr>
				<td>Electric Shock Hazard</td>
				<td>42</td>
			</tr>
			<tr>
				<td>Injury Hazard</td>
				<td>42</td>
			</tr>
			<tr>
				<td>Strangulation Hazard</td>
				<td>19</td>
			</tr>
			<tr>
				<td>Other Hazards*</td>
				<td>60</td>
			</tr>
		</table>
		<p><b>*</b> Other Hazards include Asphyxiation Hazard, Burn Hazard, Cut Hazard, Drowning Hazard, Entrapment Hazard, Environmental Hazard, Fire Hazard, Hearing Hazard, Microbial Hazard and Sight Hazard with a frequency of less than 15.</p>
		<br />
		<center><img src="https://s3.asiainspection.com/newsletters/2017-04-RegRecap/2017.04_pieCharts_categories.gif" style="width:90%; max-width:850px;" /></center>
		<table>
			<tr>
				<td><b>Product Categories</b></td>
				<td><b>Frequency</b></td>
			</tr>
			<tr>
				<td>Toys and Childcare Articles</td>
				<td>110</td>
			</tr>
			<tr>
				<td>Lighting</td>
				<td>26</td>
			</tr>
			<tr>
				<td>Personal Protective Equipment (excluding eye protection)</td>
				<td>21</td>
			</tr>
			<tr>
				<td>Fabric / Textile / Garment / Home Textile</td>
				<td>16</td>
			</tr>
			<tr>
				<td>Home Electrical Appliances (Hair Dryer, Iron, etc.)</td>
				<td>15</td>
			</tr>
			<tr>
				<td>Other Categories^</td>
				<td>69</td>
			</tr>
		</table>
		<p><b>^</b> Other Categories include Candles & Burning Items and Accessories, Computer / Audio / Video / Other Electronics & Accessories, Consumer Chemicals, Cosmetics / Bodycare, Footwear, Furniture, Homeware (Non-food Contact), Jewelry, Watch or other Fashion Accessories, Sporting Goods / Equipment and OTC Drug with a frequency of less than 15.</p>
		<p>Download the complete <a href="https://s3.asiainspection.com/newsletters/2017-04-RegRecap/AI_ANSECO%5Bregulatory_recap%5D_europe_recalls_only_2017.04.docx">Recalls Summary – EU (February and March 2017)</a></p>
	</div><br />
</div>