<!-- { "Title":"August 2017 Recap", "PublishDate":"2017-09-01", "Description":"NORTH AMERICA NEWS - On July 11, 2017, the US Environmental Protection Agency (EPA) issued a Direct Final Rule in Federal Register, 82 FR 31922. The Direct Final Rule amends final rule 40 CFR 770 Formaldehyde Standards for Composite Wood Products to enhance regulatory flexibility and smooth the supply chain transition to compliance with the rule." }-->
<div class="recapSectionHeader">
	<ol style="margin-top:10px;">
		<li style="margin-bottom:10px;"><a href="#north_america_news">NORTH AMERICA NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#europe_news">EUROPE NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#asia_news">ASIA NEWS</a></li>
	</ol>
	<hr />
</div>

<div class="recapSectionHeader">
	<a name="north_america_news" class="bookmark"></a>
	<h2>NORTH AMERICA NEWS</h2>
</div>

<div class="recapSection">
	<a name="aug2017-epa-wood-product-regulation" class="bookmark"></a>
	<strong>US EPA Amends Composite Wood Products Formaldehyde Standards to Enhance Regulatory Flexibility</strong>
	<p>On July 11, 2017, the US Environmental Protection Agency (EPA) issued a Direct Final Rule in Federal Register, <a href="https://www.federalregister.gov/documents/2017/07/11/2017-14513/labeling-relief-formaldehyde-emission-standards-for-composite-wood-products" target="_blank">82 FR 31922</a>. The Direct Final Rule amends final rule 40 CFR 770 Formaldehyde Standards for Composite Wood Products to enhance regulatory flexibility and smooth the supply chain transition to compliance with the rule.</p>
	<a href="/regulatory-updates/August-2017/aug2017-epa-wood-product-regulation" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In the Direct Final Rule, the amendment removes the prohibition on early labeling and allows compliant composite wood products and finished goods (manufactured before December 12, 2017) to be labeled as “Toxic Substances Control Act (TSCA) Title VI Compliant” as soon as compliance is achieved.</p>
		<p>The Direct Final Rule will become effective on August 25, 2017 if no adverse comments were received.</p>
		<p>Meanwhile, the EPA has withdrawn the proposed final rule published on May 24, 2017 (See <a href="http://www.asiainspection.com/regulatory-updates/June-2017/june-2017-epa-delays-wood-products-formaldehyde" target="_blank">Regulatory Recap: June 2017</a>) that would extend the compliance dates in the formaldehyde standard due to receiving adverse comments during the 15-day comment period.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="aug2017-ftc-proposal-certain-word-trademarks" class="bookmark"></a>
	<strong>US FTC Issues Proposal to Eliminate Certain Word Trademark Requirements in Textile Rules</strong>
	<p>On June 28, 2017, the US Federal Trade Commission (FTC) issued <a href="https://www.ftc.gov/system/files/documents/federal_register_notices/2017/06/textile_fiber_rule_published_frn_6-28-17.pdf" target="_blank">proposed rule in Federal Register 82 FR 29251</a> regarding an amendment to 16 CFR 303 Rules and Regulations Under the Textiles Fiber Products Identification Act.</p>
	<a href="/regulatory-updates/August-2017/aug2017-ftc-proposal-certain-word-trademarks" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In the proposed rule, the FTC removes the requirement in 16 CFR 303.19 (a) that an owner of a registered word trademark furnish the FTC with a copy of the mark’s registration with the United States Patent and Trademark Office (USPTO) before using the mark on labels.</p>
		<p>The comment period of the proposed rule ended on July 31, 2017.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="aug2017-us-state-bills-summary" class="bookmark"></a>
	<strong>US State Bills Summary</strong>
	<p>Recently, there were a number of state issued bills related to chemical restriction requirements. The bill details are summarized below:</p>
	<a href="/regulatory-updates/August-2017/aug2017-us-state-bills-summary" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<table style="width: 100%;">
			<tr>
				<td style="font-weight:bold; text-align:center;">States<br />Bill Number</td>
				<td style="font-weight:bold; text-align:center;">Bill Title</td>
				<td style="font-weight:bold; text-align:center;">Proposed Detail</td>
			</tr>
			<tr>
				<td>New York<br />
				<a href="http://legislation.nysenate.gov/pdf/bills/2017/S5176" target="_blank">Senate Bill 5176</a></td>
				<td>An Act to amend the environmental conservation law, in relation to the regulation of toxic chemicals in children's products</td>
				<td>-   Children’s product manufacturers are responsible for reporting the use of the listed chemicals of high concern no later than twelve months after the chemical is being listed.<br />
				-   Effective January 1, 2022 upon approval, no person shall distribute, sell or offer for sale a children’s product containing a priority chemical that has been listed for at least a year.</td>
			</tr>
			<tr>
				<td>New York<br />
				<a href="http://legislation.nysenate.gov/pdf/bills/2017/S6034" tartet="_blank">Senate Bill 6034</a><br />
				<a href="http://legislation.nysenate.gov/pdf/bills/2017/A7950" target="_blank">Assembly Bill 7950</a></td>
				<td>An Act to amend of the general business law, in relation to chemicals of high concern to children</td>
				<td>-   A manufacturer who sells or distributes a children’s product in the state shall report to the Department of Health and the Department of Environmental Conservation if any of the listed chemicals are present in a children’s product component.<br />
				-   Manufacturers are responsible for informing the retailers for distributing products with CHCC.</td>
			</tr>
			<tr>
				<td>Massachusetts<br />
				<a href="https://malegislature.gov/Bills/190/S474.pdf" target="_blank">Senate Bill 474</a></td>
				<td>Toxics Use Reduction Act Amendment for safer alternatives</td>
				<td>-   Manufacturers and users of a priority chemical substance shall notify the institute and the department within six months of the designation of the substance, in accordance to the requirements set forth in the bill.<br />
				-   Manufacturers bear the responsibility to inform the distributor about the existence of priority chemicals in the product, and the distributor bears the same responsibility to all purchasers. Users shall also provide notice to workers regarding uses of priority chemical substances.</td>
			</tr>
			<tr>
				<td>New York<br />
				<a href="http://legislation.nysenate.gov/pdf/bills/2017/A8266" target="_blank">Assembly Bill 8266</a></td>
				<td>An Act to amend environmental conservation law in relation to the regulation of toxic chemicals in children’s products</td>
				<td>-   Any manufacturer who offers a children’s product for sale or distribution in the state that contains any listed chemical shall report such chemical use to the department no later than 12 months after it appears on the list.<br />
				-   Effective January 1, 2020, no person shall distribute, sell or offer for sale in the state a children’s product containing the following chemicals:<br>
				-   Tris(1,3-dichloro-2-propyl) phosphate,<br />
				-   Benzene,<br /> 
				-   Lead and compounds,<br /> 
				-   Mercury and compounds,<br /> 
				-   Antimony and compounds,<br /> 
				-   Formaldehyde,<br /> 
				-   Asbestos,<br /> 
				-   Arsenic and compounds,<br /> 
				-   Cadmium,<br /> 
				-   Cobalt and compounds.<br />
				-   Effective 3 years after being added to the list, no person shall distribute, sell, or offer for sale in the state a children’s product that contains the listed chemical.</td>
			</tr>
			<tr>
				<td>New Jersey<br /><a href="http://www.njleg.state.nj.us/2016/Bills/A5000/4764_I1.HTM" target="_blank">Assembly Bill 4767</a></td>
				<td>An Act concerning infant products made with bisphenol A</td>
				<td>-   Effective January 1, 2018, no person may sell, offer for sale, or distribute in the state any infant product made with, or composed in whole or in part of bisphenol A.<br />
				-   Example products include toys, teething rings or play equipment.</td>
			</tr>
			<tr>
				<td>New York<br /><a href="http://legislation.nysenate.gov/pdf/bills/2017/S2433A" target="_blank">Senate Bill 2433A</a></td>
				<td>An Act to amend the environmental conservation law, in relation to jewelry containing lead</td>
				<td>-   Effective January 1, 2019, no manufacturer shall sell, or offer for sale, children’s jewelry that contains a total lead content in any component part of the item that is more than 0.004% (40 ppm) but less than 0.06% (600 ppm) by total weight.<br />
				-   Products that comply with the federal standard but violate the above rule may still be sold with a warning statement on the product.</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="aug2017-california-dtsc-approves-priority-product" class="bookmark"></a>
	<strong>US State of California DTSC Approves Priority Product</strong>
	<p>In July 2016, the California Department of Toxic Substances Control (DTSC) proposed to list children’s foam-padded sleeping products containing two flame retardants as priority products which are regulated under the Safer Consumer Products (SCP) Regulations (See <a href="http://www.asiainspection.com/regulatory-updates/August-2016/california-flame-retardant-products" target="_blank">Regulatory Recap: August 2016</a>). This proposal has been approved and entered into force on July 1, 2017. Manufacturers of children’s foam-padded sleeping products are required to <a href="https://calsafer.dtsc.ca.gov/workflows/priorityproduct/" target="_blank">notify the DTSC</a> within 60 days, which is before August 30, 2017.</p>
	<a href="/regulatory-updates/August-2017/aug2017-california-dtsc-approves-priority-product" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The two flame retardants of interest under this regulation are:</p>
		<ul style="list-style-type: none;">
			<li>-&nbsp;&nbsp;&nbsp; Tris(1,3-dichloro-2-propyl) phosphate (TDCPP), CAS no. 13674-87-8</li>
			<li>-&nbsp;&nbsp;&nbsp; Tri(2-chloroethyl) phosphate (TCEP), CAS no. 115-96-8</li>
		</ul>
		<p>Children’s foam-padded sleeping products are defined as “Assembled products designated or intended primarily for children 12 years of age or younger to nap or sleep on”. The sub-products include polyurethane foam mats, pads or pillows containing TDCPP or TCEP which may be covered or upholstered, including, but not limited to, the following:</p>
		<ul style="list-style-type: none;">
			<li>-&nbsp;&nbsp;&nbsp; Nap mats</li>
			<li>-&nbsp;&nbsp;&nbsp; Soft-sided portable cribs</li>
			<li>-&nbsp;&nbsp;&nbsp; Play pens</li>
			<li>-&nbsp;&nbsp;&nbsp; Play yards</li>
			<li>-&nbsp;&nbsp;&nbsp; Infant travel beds</li>
			<li>-&nbsp;&nbsp;&nbsp; Portable infant sleepers</li>
			<li>-&nbsp;&nbsp;&nbsp; Bassinets</li>
			<li>-&nbsp;&nbsp;&nbsp; Nap cots</li>
			<li>-&nbsp;&nbsp;&nbsp; Infant sleep positioners</li>
			<li>-&nbsp;&nbsp;&nbsp; Bedside sleepers</li>
			<li>-&nbsp;&nbsp;&nbsp; Co-sleepers</li>
			<li>-&nbsp;&nbsp;&nbsp; Baby or toddler form pillows</li>
		</ul>
		<p>The following are excluded from the definition of children’s foam-padded sleeping products</p>
		<ul style="list-style-type: none;">
			<li>-&nbsp;&nbsp;&nbsp;   Mattresses, mattress pads, or mattress sets as defined by 16 CFR 1632, 1633</li>
			<li>-&nbsp;&nbsp;&nbsp;   Upholstered furniture covered by the requirements of California Technical Bulletin 117-2013</li>
			<li>-&nbsp;&nbsp;&nbsp;   Add-on child restraint system for use in motor vehicles and aircraft regulated by 49 CFR 571.302</li>
		</ul>
	</div><br />
</div>

<div class="recapSection">
	<a name="aug2017-california-oehha-publishes-new-guide-prop65" class="bookmark"></a>
	<strong>US State of California OEHHA Publishes New Guide on Proposition 65 Clear and Reasonable Warnings</strong>
	<p>In August 2017, the Office of Environmental Health Hazard Assessment (OEHHA) <a href="https://www.p65warnings.ca.gov/sites/default/files/art_6_business_qa.pdf" target="_blank">revised a guide on proposition 65 clear and reasonable warnings</a>. The guideline is in a Q&amp;A format and contains two sub-article: General and Safe Harbor Methods and Content</p>
	<a href="/regulatory-updates/August-2017/aug2017-california-oehha-publishes-new-guide-prop65" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<p>The 13-page guideline issued by OEHHA consists of 43 Q&amp;As. They are intended to help the industry comply with proposition 65’s requirements. In general, the following Q&amp;A topics are included:</p>
		<ul style="list-style-type: none; padding-left: 15px;">
			<li>-&nbsp;&nbsp;&nbsp; Responsibility to provide warnings</li>
			<li>-&nbsp;&nbsp;&nbsp; Methods to deliver the warning message to consumers on consumer products</li>
			<li>-&nbsp;&nbsp;&nbsp; Content and requirements of the warning signal for consumer products</li>
			<li>-&nbsp;&nbsp;&nbsp; Methods to deliver the warning message for environmental exposure to Proposition 65 chemicals</li>
			<li>-&nbsp;&nbsp;&nbsp; Content and requirements of the warning signal for environmental exposure</li>
			<li>-&nbsp;&nbsp;&nbsp; Warnings for occupational exposure warnings</li>
		</ul>
	</div><br />
</div>

<div class="recapSection">
	<a name="aug2017-california-oehha-new-chemicals-prop65" class="bookmark"></a>
	<strong>US State of California OEHHA Adds New Chemicals to Proposition 65 List</strong>
	<p>On July 7, 2017, the California Office of Environmental Health Hazard Assessment (OEHHA) added a new chemical to the Proposition 65 List. The new chemical is:</p>
	<a href="/regulatory-updates/August-2017/aug2017-california-oehha-new-chemicals-prop65" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<table style="width: 80%">
		<tr>
			<td style="font-weight: bold;">Chemical</td>
			<td style="font-weight: bold;">CAS. no</td>
			<td style="font-weight: bold;">Type of toxicity</td>
		</tr>
		<tr>
			<td>Pentabromodiphenyl ether mixture [DE-71 (technical grade)]</td>
			<td>-</td>
			<td>Cancer</td>
		</tr>
	</table>
	<span>The added chemical meets the requirements for listing as known to the State of California to cause cancer for the purposes of Proposition 65.</span>		
	</div><br />
</div>

<div class="recapSection">
	<a name="aug2017-canada-microbead-regulations" class="bookmark"></a>
	<strong>Canada Approved Microbeads in Toiletries Regulations</strong>
	<p>On June 2, 2017, <a href="http://www.gazette.gc.ca/rp-pr/p2/2017/2017-06-14/html/sor-dors111-eng.php" target="_blank">SOR/2017-111 Microbeads in Toiletries Regulations</a> were approved and published in the Canada Gazette. This regulation prohibits the manufacture, import and sales of any toiletries containing microbeads. The first enforcement day will be January 1, 2018 (see <a href="/regulatory-updates/December-2016" target="_blank">Regulatory recap December 2016</a>).</p>
	<a href="/regulatory-updates/August-2017/aug2017-canada-microbead-regulations" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<p>Microbeads are defined as plastic microbeads that are smaller or equal to 5mm in size while toiletries are defined as any personal hair, skin, teeth or mouth care products for cleansing or hygiene, including exfoliants and any of those products that are also a natural health product as defined in <a href="http://laws-lois.justice.gc.ca/eng/regulations/SOR-2003-196/page-1.html#h-1" taget="_blank">SOR/2003-196</a> or a non-prescription drug. Prohibition of manufacture, import, and sales of toiletries containing microbeads will be implemented in 3 stages.</p>
	<table>
		<tr>
			<td style="font-weight: bold;">Enforcement day</td>
			<td style="font-weight: bold;">Stage</td>
		</tr>
		<tr>
			<td>January 1, 2018</td>
			<td>Prohibit the manufacture or importation of any toiletries, which are not natural health<br />products or non-prescription drugs, containing microbeads</td>
		</tr>
		<tr>
			<td rowspan="2">July 1, 2018</td>
			<td>Prohibit the manufacture or importation of any toiletries, which are also natural<br />health products or non-prescription drugs, containing microbeads</td>
		</tr>
		<tr>
			<td>Prohibit the sale of any toiletries, which are not natural health products or non-<br />prescription drugs containing microbeads</td>
		</tr>
		<tr>
			<td>July 1, 2019</td>
			<td>Prohibit the sale of any toiletries, which are also natural health products or non-<br />prescription drugs, containing microbeads</td>
		</tr>
	</table>
		
	</div><br />
</div>

<div class="recapSection">
	<a name="aug2017-cpsc-exempts-plastics-phthalates" class="bookmark"></a>
	<strong>US CPSC Exempts Certain Plastics from Phthalates Testing</strong>
	<p>On August 29, 2017, the US Consumer Product Safety Commission (CPSC) announced their unanimous decision to approve a <a href="https://www.cpsc.gov/CPSC-Vote-Eliminates-Third-Party-Testing-Requirement-for-Childrens-Toys-and-Child-Care-Articles-with-Certain-Plastics" target="_blank">final rule</a> to exempt seven plastics from the third party testing requirement under the Consumer Product Safety Improvement Act (CPSIA).</p>
	<a href="/regulatory-updates/August-2017/aug2017-cpsc-exempts-plastics-phthalates" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The CPSC determined that polypropylene (PP), polyethylene (PE), high-impact polystyrene (HIPS), acrylonitrile butadiene styrene (ABS), general-purpose polystyrene (GPPS), medium-impact polystyrene (MIPS), and super-high-impact polystyrene (SHIPS) with specified additives will comply with the mandatory phthalates restrictions for children's toys and child care articles with a high degree of assurance.  This reduces the burden of third party testing for products containing these plastics. However, children's toys and child care articles manufactured, sold, distributed or imported in the U.S. must still comply with the limit of ≤ 0.1 percent of each of the six phthalates currently restricted under Section 108 of CPSIA.</p>
		<p>The rule goes into effect 30 days after publication in the Federal Register.</p>
		<p>This final rule only applies to the six phthalates currently prohibited in children’s toys and child care articles under CPSIA.  When the CPSC issues a final rule revising the list of prohibited phthalates, the list of phthalates exempted for testing in certain plastics will also be revised.</p>
	</div><br />
</div>


<div class="recapSectionHeader">
	<a name="europe_news" class="bookmark"></a>
	<h2>EUROPE NEWS</h2>
</div>

<div class="recapSection">
	<a name="aug2017-notice-market-surveillance-ecommerce" class="bookmark"></a>
	<strong>EC Issues Notice on Market Surveillance of E-Commerce Products</strong>
	<p>On July 28 2017, the European Commission (EC) published a <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:52017XC0801(01)&from=EN" target="_blank">Commission Notice (2017/C 250/01) on Market Surveillance of Product Sold Online</a> to ensure the products placed on the European market are safe since there is rapid growth among E-commerce recently.</p>
	<a href="/regulatory-updates/August-2017/aug2017-notice-market-surveillance-ecommerce" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The notice acts as a guidance and is intended to contribute to a better understanding of EU product legislation. It clarifies that every product has to comply with the European Union (EU) product legislation, General Product Safety Directive and of Regulation (EC) No. 765/2008, before selling online. The notice also states the roles and responsibilities of market surveillance authorities and different economic operators, among which the manufacturer has the greatest responsibility to ensure product safety.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="aug2017-echa-approves-reach-compliance" class="bookmark"></a>
	<strong>ECHA Approves the Guidance Document for REACH Compliance (Version 4)</strong>
	<p>On June 28, 2017, the European Chemicals Agency (ECHA) approved and published the <a href="https://echa.europa.eu/documents/10162/23036412/articles_en.pdf/cc2e3f93-8391-4944-88e4-efed5fb5112c" target="_blank">new version (Version 4) of Guidance Document on Requirements for Substances in Articles</a> aiming to assist stakeholders in complying with the obligations under Regulation (EC) No. 1907/2006 (REACH). (see <a href="http://www.asiainspection.com/regulatory-updates/April-2017/apr2017-echa-guidance-document-reach-compliance-v4" target="_blank">Regulatory Recap: April 2017</a>)</p>
	<a href="/regulatory-updates/August-2017/aug2017-echa-approves-reach-compliance" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The guidance document covers a wide range of essential REACH processes as well as some scientific and/or technical methods that industry or authorities need under the regulation. The new version provides further guidance on the notification and communication obligations regarding Candidate List substances in articles. Apart from this, new examples that are consistent with the conclusions of the Court judgement are provided for stakeholder’s better understanding.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="aug2017-echa-amendment-restriction-nmp" class="bookmark"></a>
	<strong>ECHA Proposes Amendment of Annex XVII List of Restriction Introducing NMP</strong>
	<p>On July 17, 2017, the European Chemical Agency (ECHA) <a href="https://members.wto.org/crnattachments/2017/TBT/EEC/17_3209_00_e.pdf" target="_blank">proposed to amend Annex XVII</a> of Regulation (EC) No. 1907/2006 Registration, Evaluation, Authorisation and Restriction of Chemicals (REACH) through World Trade Organization (WTO) notifications. The added chemical is <a href="https://members.wto.org/crnattachments/2017/TBT/EEC/17_3209_01_e.pdf" target="_blank">1-methyl-2-pyrrolidone (NMP)</a>.</p>
	<a href="/regulatory-updates/August-2017/aug2017-echa-amendment-restriction-nmp" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Upon enforcement, the proposed regulation will amend the Annex XVII of REACH Regulation List of Restriction by adding 1-methyl-2-pyrrolidone (NMP) and its conditions:</p>
		<table style="width: 80%;">
			<tr>
				<td style="font-weight: bold;">Item</td>
				<td style="font-weight: bold;">Chemical</td>
				<td style="font-weight: bold;">Chemical Abstract<br />Service (CAS) Number<br />(European Community<br />(EC) Number)</td>
				<td style="font-weight: bold;">Conditions</td>
			</tr>
			<tr>
				<td>71</td>
				<td>1-methyl-2-pyrrolidone (NMP)</td>
				<td>872-50-4<br />(212-828-1)</td>
				<td>
					<ol>
						<li style="margin-bottom:5px;">
							Shall not be placed on the market as a substance on its own or in mixtures in a concentration equal to or greater than 0.3 % unless manufacturers, importers and downstream users have included in the relevant chemical safety reports and safety data sheets, the Derived No-Effect Levels (DNELs) relating to exposure to workers of 14.4 mg/m3 for exposure by inhalation and 4.8 mg/kg/day for dermal exposure.
						</li>
						<li style="margin-bottom:5px;">
							Shall not be manufactured, or used, as a substance on its own or in mixtures in a concentration equal to or greater than 0.3 % unless manufacturers and downstream users take the appropriate risk management measures and provide the appropriate operational conditions to ensure that exposure of workers is below the DNELs specified in paragraph 1.
						</li>
					</ol>
				</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="aug2017-europe-tolerable-intake-aluminum" class="bookmark"></a>
	<strong>Europe SCHEER Issues Preliminary Opinion on Tolerable Intake of Aluminum with Regards to Adapting the Migration Limits for Aluminum in Toys</strong>
	<p>In July 2017, the Scientific Committee on Health, Environmental and Emerging Risks (SCHEER) presented a <a href="https://ec.europa.eu/health/sites/health/files/scientific_committees/scheer/docs/scheer_o_009.pdf" target="_blank">recommendation for a tolerable intake level for aluminum</a> to adapt the migration limit for aluminum under the Toy Safety Directive 2009/48/EC</p>
	<a href="/regulatory-updates/August-2017/aug2017-europe-tolerable-intake-aluminum" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The SCHEER requested to review the current data on the toxicity of aluminum, taking various tolerable intake levels of aluminum into account that were established by different organizations, such as the European Food Safety Authority (ESFA) and the Joint FAO/WHO Expert Committee on Food Additives (JECFA). Meanwhile, exposure to aluminum from sources other than toys are also taken into account. It is recommended that the migration limit of aluminum from toys should be minimized as below:</p>
		<table style="width: 80%;">
			<tr>
				<td>&nbsp;</td>
				<td>Dry, brittle, powder-like<br />or pliable toy material<br />(mg/kg)</td>
				<td>Liquid or sticky material<br />(mg/kg)</td>
				<td>Scraped-off toy material<br />(mg/kg)</td>
			</tr>
			<tr>
				<td>Current migration limit</td>
				<td>5625</td>
				<td>1406</td>
				<td>70000</td>
			</tr>
			<tr>
				<td>Suggested migration limit</td>
				<td>2250</td>
				<td>560</td>
				<td>28130</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="asia_news" class="bookmark"></a>
	<h2>ASIA NEWS</h2>
</div>

<div class="recapSection">
	<a name="aug2017-china-notice-industry-standards" class="bookmark"></a>
	<strong>China Issues Notice Related to Certain Industry Standards</strong>
	<p>On June 2, 2017, the Ministry of Industry and Information Technology of the People’s Republic of China (MIIT) issued <a href="http://www.miit.gov.cn/n1146295/n1652858/n1652930/n4509607/c5669080/content.html" target="_blank">notice No.23</a>, issuing their conclusion after reviewing 28726 industry standards. The standards include different aspects, including but not limited to consumer products (textile, hard good, packaging etc.) and electrical and electronic products.</p>
	<a href="/regulatory-updates/August-2017/aug2017-china-notice-industry-standards" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>It is concluded in the notice that a total of 5511 standards will be amended while 2749 standards were being abolished among the 28726 industry standards. There is a complete list of reviewed standards summarized according to their category and attached to the notice.</p>
		<p>Below listed are some examples of the affected standards</p>
		<table style="text-align: center; width: 80%;">
			<tr>
				<td style="font-weight: bold;">Standard no.</td>
				<td style="font-weight: bold;">Standard name</td>
				<td style="font-weight: bold;">Conclusion</td>
			</tr>
			<tr>
				<td>QB/T 2880-2007</td>
				<td>Children’s leather shoes</td>
				<td>Will be amended</td>
			</tr>
			<tr>
				<td>QB/T 2955-2008</td>
				<td>Casual shoes</td>
				<td>Will be amended</td>
			</tr>
			<tr>
				<td>QB/T 1622.5-1992</td>
				<td>Stainless steel ware: pot</td>
				<td>Abolished</td>
			</tr>
			<tr>
				<td>QB/T 2580-2002</td>
				<td>Fine Ceramic cookware</td>
				<td>Will be amended</td>
			</tr>
			<tr>
				<td>QB/T 1615-2006</td>
				<td>Leather garment</td>
				<td>Will be amended</td>
			</tr>
			<tr>
				<td>FZ/T 73032-2009</td>
				<td>Knitted denim clothing</td>
				<td>Will be amended</td>
			</tr>
			<tr>
				<td>FZ/T 1053-2007</td>
				<td>Identification of fiber content</td>
				<td>Abolished</td>
			</tr>
		</table>
		<span>Abolishment of the standards mentioned in this notice is effective immediately after the notice is published. For the full list of reviewed standards please refer to the <a href="http://www.miit.gov.cn/n1146295/n1652858/n1652930/n4509607/c5669080/content.html" target="_blank">notice</a>.</span>
	</div><br />
</div>

<div class="recapSection">
	<a name="aug2017-china-market-surveillance" class="bookmark"></a>
	<strong>China Market Surveillance Summary (March to July 2017)</strong>
	<p>In China, thousands of consumer products will be inspected and reported when hazards and non-compliance to applicable standards are identified among the products. The market surveillance will be performed on a Province basis which is updated in a non-regular time frame. The China Market Surveillance from March to July 2017 is summarized below:</p>
	<a href="/regulatory-updates/August-2017/aug2017-china-market-surveillance" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<center><img src="https://s3.asiainspection.com/newsletters/2017-08-Recap/ASIAIN_CMS_CATORGORIES_pie_chart_with_header.png" style="width:90%; max-width:850px;" /></center><br />
		<table style="width: 50%">
			<tr>
				<td style="font-weight: bold; text-align: center;">Categories</td>
				<td style="font-weight: bold; text-align: center;">Frequency</td>
			</tr>
			<tr>
				<td>Food Contact Material</td>
				<td style="text-align: right;">29</td>
			</tr>
			<tr>
				<td>Fabric / Textile / Garment / Home<br />Textile</td>
				<td style="text-align: right;">28</td>
			</tr>
			<tr>
				<td>Home Electrical Appliances (Hair Dryer,<br />Iron, etc.)</td>
				<td style="text-align: right;">20</td>
			</tr>
			<tr>
				<td>Toys and Childcare Articles</td>
				<td style="text-align: right;">16</td>
			</tr>
			<tr>
				<td>Computer / Audio / Video / Other<br />Electronics &amp; Accessories</td>
				<td style="text-align: right;">12</td>
			</tr>
			<tr>
				<td>Furniture</td>
				<td style="text-align: right;">12</td>
			</tr>
			<tr>
				<td>Other Categories</td>
				<td style="text-align: right;">35</td>
			</tr>
		</table>
		<span>* Other Categories include Candles &amp; Burning Items and Accessories, Consumer Chemicals, Cosmetics / Bodycare, Footwear, Homeware (Non-food Contact), Jewelry, Watch or other Fashion Accessories, Juvenile Products, Lighting Equipment, Personal Protective Equipment (excluding eye protection), Sporting Goods / Equipment and Tools and Hardware with a frequency of less than 10.</span>
		<br /><br />
		<center><img src="https://s3.asiainspection.com/newsletters/2017-08-Recap/ASIAIN_CMS_bar_graph_with_header.png" style="width:90%; max-width:850px;" /></center><br />
		<table style="width: 60%">
			<tr>
				<td style="font-weight: bold;">Province</td>
				<td style="font-weight: bold;">Pass Amount</td>
				<td style="font-weight: bold; text-align: center;">Fail Amount</td>
			</tr>
			<tr>
				<td>AQSIQ</td>
				<td style="text-align: right;">569</td>
				<td style="text-align: right;">48</td>
			</tr>
			<tr>
				<td>Chongqing</td>
				<td style="text-align: right;">108</td>
				<td style="text-align: right;">4</td>
			</tr>
			<tr>
				<td>Guangdong</td>
				<td style="text-align: right;">1741</td>
				<td style="text-align: right;">242</td>
			</tr>
			<tr>
				<td>Guangxi</td>
				<td style="text-align: right;">72</td>
				<td style="text-align: right;">6</td>
			</tr>
			<tr>
				<td>Guizhou</td>
				<td style="text-align: right;">341</td>
				<td style="text-align: right;">16</td>
			</tr>
			<tr>
				<td>Henan</td>
				<td style="text-align: right;">375</td>
				<td style="text-align: right;">16</td>
			</tr>
			<tr>
				<td>Jiangsu</td>
				<td style="text-align: right;">343</td>
				<td style="text-align: right;">75</td>
			</tr>
			<tr>
				<td>Ningxia</td>
				<td style="text-align: right;">39</td>
				<td style="text-align: right;">29</td>
			</tr>
			<tr>
				<td>Qinghai</td>
				<td style="text-align: right;">27</td>
				<td style="text-align: right;">9</td>
			</tr>
			<tr>
				<td>Shaanxi</td>
				<td style="text-align: right;">471</td>
				<td style="text-align: right;">44</td>
			</tr>
			<tr>
				<td>Shandong</td>
				<td style="text-align: right;">100</td>
				<td style="text-align: right;">4</td>
			</tr>
			<tr>
				<td>Shanghai</td>
				<td style="text-align: right;">1213</td>
				<td style="text-align: right;">257</td>
			</tr>
			<tr>
				<td>Shanxi</td>
				<td style="text-align: right;">119</td>
				<td style="text-align: right;">66</td>
			</tr>
			<tr>
				<td>Zhejiang</td>
				<td style="text-align: right;">277</td>
				<td style="text-align: right;">33</td>
			</tr>
		</table>
		<p>Download the complete <a href="https://s3.asiainspection.com/newsletters/2017-08-Recap/Market_Surveillance_Summary-China_[Last_Update_July_30_2017].docx">Market Surveillance Summary – China</a> (Last Update Date: July 30, 2017)</p>
	</div><br />
</div>

	<div class="recapSection">
	<a name="aug2017-taiwan-bsmi-lithium-batteries" class="bookmark"></a>
	<strong>Taiwan BSMI Updates Test Standard for Secondary Lithium Batteries</strong>
	<p>On July 11, 2017, the Taiwan Bureau of Standards, Metrology and Inspection (BSMI) issued <a href="http://www.bsmi.gov.tw/wSite/public/Data/f1499826698979.pdf" target="_blank">notice No.10630002871</a> to amend the test standard for secondary lithium power banks, cells and batteries (excluding button cells).</p>
	<a href="/regulatory-updates/August-2017/aug2017-taiwan-bsmi-lithium-batteries" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The key updates in test standard are as follows:</p>
		<table style="width: 70%;">
			<tr>
				<td>&nbsp;</td>
				<td colspan="2" style="font-weight: bold; text-align: center;">Test standard</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td style="font-weight: bold;">Before amendment</td>
				<td style="font-weight: bold;">After amendment</td>
			</tr>
			<tr>
				<td>Secondary lithium power bank</td>
				<td>CNS 13438 (2006)<br />
				CNS 14336-1(2010)<br />
				CNS 15364(2010) or<br />
				CNS 15364(2013)</td>
				<td>CNS 13438 (2006)<br />
				CNS 14336-1(2010)<br />
				CNS 15364(2013)</td>
			</tr>
			<tr>
				<td>Secondary lithium cells and batteries<br />(excluding button cells)</td>
				<td>CNS 15364(2010) or<br />
				CNS 15364(2013) </td>
				<td>CNS 15364(2013)</td>
			</tr>
		</table>
		<p>The updates of standards were effective on July 11, 2017.</p>
	</div><br />
	</div>
</div>