<!-- { "Title":"August 2016 Recap", "PublishDate":"2016-08-23", "Description":"NORTH AMERICA NEWS - On August 17, 2016, the Consumer Product Safety Commission (CPSC) issued a proposed rulemaking: Prohibition of Children’s Toys and Child Care Articles Containing Specified Phthalates: Determinations Regarding Certain Plastics." }-->
<div class="recapSectionHeader">
    <ol style="margin-top:10px;">
        <li style="margin-bottom:10px;"><a href="#north_america_news">NORTH AMERICA NEWS</a></li>
        <li style="margin-bottom:10px;"><a href="#europe_news">EUROPE NEWS</a></li>
        <li style="margin-bottom:10px;"><a href="#australia_new_zealand_news">AUSTRALIA / NEW ZEALAND NEWS</a></li>
        <li style="margin-bottom:10px;"><a href="#asia_news">ASIA NEWS</a></li>
    </ol>
    <hr />
</div>
    
<div class="recapSectionHeader">
    <a name="north_america_news" class="bookmark"></a>
    <h2>NORTH AMERICA NEWS</h2>
</div>
    
<div class="recapSection">
    <a name="cpsc-plastics-testing" class="bookmark"></a>
    <strong>US CPSC Votes for Proposed Rule Making to Exempt Certain Plastics from Phthalates Testing</strong>
    <p>On August 17, 2016, the Consumer Product Safety Commission (CPSC) issued a <a href="https://www.federalregister.gov/articles/2016/08/17/2016-19464/prohibition-of-childrens-toys-and-child-care-articles-containing-specified-phthalates-determinations" target="_blank">proposed rulemaking: Prohibition of Children’s Toys and Child Care Articles Containing Specified Phthalates: Determinations Regarding Certain Plastics</a>.</p>
    <a href="/regulatory-updates/August-2016/cpsc-plastics-testing" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>In an effort to reduce the cost of third party testing requirements consistent with assuring product compliance, the CPSC issued a draft notice of proposed rulemaking for determinations that certain plastics with specified additives would not contain phthalates that are prohibited in children’s toys and childcare articles.  Upon approval, a draft rule will be published in the Federal Register and a public comment period will be open for 75 days.</p>
        <p>Under the proposed rule, companies that manufacture or import children’s toys or childcare articles that contain accessible polyethylene, polypropylene, high impact polystyrene, or acrylonitrile butadiene styrene will not be required to third party test to assure compliance with Section 108 of the Consumer Products Safety Improvement Act (CPSIA).  However, compliance with the 0.1% limit for the currently six prohibited phthalates is still be required.</p>
    </div><br />
</div>
    
<div class="recapSection">
    <a name="epa-wood-products" class="bookmark"></a>
    <strong>US EPA Issues Final Rule for Composite Wood Products </strong>
    <p>On July 27, 2016, the Environmental Protection Agency (EPA) issued final rule 40 CFR Part 770 “Formaldehyde Emission Standards for Composite Wood Products”. The final rule implements formaldehyde standards for composite wood products to reduce formaldehyde emissions as required by the Compliance Monitoring Strategy of the Toxic Substances Control Act (TSCA).  </p>
    <a href="/regulatory-updates/August-2016/epa-wood-products" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>Formaldehyde is a colorless, flammable gas commonly found in resins used in the manufacture of composite wood products.  It can cause irritation of the skin, eyes, nose, and throat. Additionally, high levels of exposure to formaldehyde may cause some types of cancers. To avoid adverse health effects caused by formaldehyde, the final rule includes emission limits that are applicable to domestic or imported hardwood plywood, medium-density fiberboard, particleboard, and finished goods containing these products. The reference standards will be ASTM E1333-10 and ASTM D6007-02 and the formaldehyde emission limits are listed below:</p>
        <table>
            <tr>
                <td><b>Type of composite wood</b></td>
                <td><b>Formaldehyde emission limits</b></td>
            </tr>
            <tr>
                <td>Hardwood plywood made with a veneer core or a composite core</td>
                <td>0.05 ppm</td>
            </tr>
            <tr>
                <td>Medium-density fiberboard</td>
                <td>0.11 ppm</td>
            </tr>
            <tr>
                <td>Thin medium-density fiberboard</td>
                <td>0.13 ppm</td>
            </tr>
            <tr>
                <td>Particleboard</td>
                <td>0.09 ppm</td>
            </tr>
        </table>
        <p>Apart from the emission standards, the final rule also establishes a certification program for third party certifiers (TPCs) of composite wood products. Under this program, TPCs will have to meet several qualifications in order to obtain accreditation to perform laboratory testing and provide oversight of formaldehyde emissions from manufactured and/or imported composite wood products. </p>
        <p>The final rule is in <a href="https://www.epa.gov/sites/production/files/2016-07/documents/formaldehyde_frn_final-prepub_07.26.2016_0.pdf" target="_blank">prepublication stage</a> and has not yet been published in the Federal Register. Once it is published, it will enter into force 60 days after the publication.  One year after publication, composite wood products that are sold, supplied, offered for sale, manufactured, or imported in the United States will need to be labeled as TSCA Title VI compliant.</p>
    </div><br />
</div>
    
<div class="recapSection">
    <a name="astm-standards" class="bookmark"></a>
    <strong>Updates of ASTM Standards</strong>
    <p>Below is a summary of recently updated ASTM standards that may be of interest to our clients:</p>
    <a href="/regulatory-updates/August-2016/astm-standards" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <table>
        <tr>
            <td><b>CPSIA / CFR Reference</b></td>
            <td><b>ASTM Standard No.</b></td>
            <td><b>Detail</b></td>
        </tr>
        <tr>
            <td align="center">-</td>
            <td align="center">ASTM F381-16</td>
            <td>
                <p><b>Standard Safety Specification for Components, Assembly, Use, and Labeling of Consumer Trampolines</b></p>
                <p>Covers the components, the assembly, and the use of consumer trampolines and intends to reduce the demonstrated hazards associated with the use of trampolines by consumers in home environments.</p>
            </td>
        </tr>
        <tr>
            <td align="center">16 CFR 1112 & 1231 (Proposed)</td>
            <td align="center">ASTM F404-16a</td>
            <td>
                <p><b>Standard Consumer Safety Specification for High Chairs</b></p>
                <p>Covers the performance requirements and methods of test to ensure the satisfactory performance of the high chair and high chairs created by using a high chair conversion kit and component(s) from another product.</p>
            </td>
        </tr>
        <tr>
            <td align="center">-</td>
            <td align="center">ASTM F1004-16b</td>
            <td>
                <p><b>Standard Consumer Safety Specification for Expansion Gates and Expandable Enclosures</b></p>
                <p>Covers minimum safety performance requirements, test methods, and requirements for labeling and instructional material to minimize hazards to young children resulting from the normal use and reasonably foreseeable misuse and abuse of expansion gates and expandable enclosures.</p>
            </td>
        </tr>
        <tr>
            <td align="center">-</td>
            <td align="center">ASTM F2388-16</td>
            <td>
                <p><b>Standard Consumer Safety Specification for Baby Changing Tables for Domestic Use</b></p>
                <p>Covers performance requirements, test methods, and labeling requirements to promote the safe use of baby changing tables and other changing products such as contoured changing pads and add-on changing units that are sold separately for use on furniture products other than changing tables.</p>
            </td>
        </tr>
        <tr>
            <td align="center">16 CFR 1112, 16 CFR 1130 & 16 CFR 1232 (proposed)</td>
            <td align="center">ASTM F2613-16e1</td>
            <td>
                <p><b>Standard Consumer Safety Specification for Children's Chairs and Stools</b></p>
                <p>Establishes testing requirements for structural integrity and performance requirements for children’s chairs and stools. It also provides requirements for labeling. </p>
            </td>
        </tr>
        <tr>
            <td align="center">-</td>
            <td align="center">ASTM F2666-16</td>
            <td>
                <p><b>Standard Specification for Aboveground Portable Pools for Residential Use</b></p>
                <p>Provides safety and performance requirements for portable pools for residential use and addresses pool hazards including childhood drowning, sanitation, electrical safety, and entrapment.</p>
            </td>
        </tr>
        </table>
    </div><br />
</div>
    
<div class="recapSection">
    <a name="california-chemicals-prop-65" class="bookmark"></a>
    <strong>US State California OEHHA Adds New Chemicals to Proposition 65 List</strong>
    <p>In July and August 2016, the California Office of Environmental Health Hazard Assessment (OEHHA) added 8 new chemicals to the <a href="http://oehha.ca.gov/proposition-65/proposition-65-list" target="_blank">Proposition 65 List</a> and added new toxicity to existing chemical, 1-bromopropane. The new chemicals are:</p>
    <ol>
        <li>Sedaxane</li>
        <li>Atrazine</li>
        <li>Des-ethyl atrazine (DEA)</li>
        <li>Des-isopropyl atrazine (DIA)</li>
        <li>2,4-Diamino-6-chloro-s-triazine (DACT)</li>
        <li>Propazine</li>
        <li>Simazine</li>
        <li>Bromodichloroacetic acid</li>
    </ol>
    <a href="/regulatory-updates/August-2016/california-chemicals-prop-65" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The added chemicals meet the requirements for listing as known to the State of California to cause cancer, developmental toxicity and female reproductive toxicity for purposes of Proposition 65. The chemical details are provided below:</p>
        <table>
            <tr>
                <td><b>Chemical</b></td>
                <td><b>Chemical Abstracts Service Number (CAS No.)</b></td>
                <td><b>Types of Toxicity</b></td>
            </tr>
            <tr>
                <td>Sedaxane </td>
                <td>874967-67-6</td>
                <td>Cancer</td>
            </tr>
            <tr>
                <td>Atrazine</td>
                <td>1912-24-9</td>
                <td>
                    Developmental toxicity<br />
                    Female reproductive toxicity
                </td>
            </tr>
            <tr>
                <td>Des-ethyl atrazine (DEA)</td>
                <td>6190-65-4</td>
                <td>
                    Developmental toxicity<br />
                    Female reproductive toxicity
                </td>
            </tr>
            <tr>
                <td>Des-isopropyl atrazine (DIA)</td>
                <td>1007-28-9</td>
                <td>
                    Developmental toxicity<br />
                    Female reproductive toxicity
                </td>
            </tr>
            <tr>
                <td>2,4-Diamino-6-chloro-s-triazine (DACT)</td>
                <td>3397-62-4</td>
                <td>
                    Developmental toxicity<br />
                    Female reproductive toxicity
                </td>
            </tr>
            <tr>
                <td>Propazine</td>
                <td>139-40-2</td>
                <td>
                    Developmental toxicity<br />
                    Female reproductive toxicity
                </td>
            </tr>
            <tr>
                <td>Simazine</td>
                <td>122-34-9</td>
                <td>
                    Developmental toxicity<br />
                    Female reproductive toxicity
                </td>
            </tr>
            <tr>
                <td>Bromodichloroacetic acid </td>
                <td>71133-14-7</td>
                <td>Cancer</td>
            </tr>
            <tr>
                <td>1-Bromopropane (1-BP)</td>
                <td>106-94-5</td>
                <td>Cancer</td>
            </tr>
        </table>
    </div><br />
</div>
    
<div class="recapSection">
    <a name="california-flame-retardant-products" class="bookmark"></a>
    <strong>US State California DTSC Seeking Public Comment on the Listing of Flame Retardant Containing Children’s Sleep Products as a First Priority Product</strong>
    <p>On July 15, 2016, the California Department of Toxic Substances Control (DTSC) opened <a href="https://calsafer.dtsc.ca.gov/Comments/PackageDetail.aspx?PID=11761" target="_blank">a 45-day comment period for the proposal to list Children’s Foam-Padded Sleeping Products containing TDCPP or TCEP as a Priority Product</a> to be regulated under the Safer Consumer Products (SCP) Regulations.</p>
    <a href="/regulatory-updates/August-2016/california-flame-retardant-products" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>As part of the Department of Toxic Substances Control (DTSC) Safer Consumer Products regulations that took effect October 1, 2013, an initial list of Priority Products containing “Candidate Chemicals” - that is chemicals that have a hazard trait that can harm people or the environment – was to be identified. A proposed list of three product-chemical combinations was released on March 13, 2014 and includes:</p>
        <ul>
            <li>Paint Stripper with Methylene Chloride</li>
            <li>Spray Polyurethane Foam Systems Containing Unreacted Methylene Diphenyl Diisocyanates (MDI)</li>
            <li>Children's Foam-Padded Sleeping Products with TDCPP or TCEP </li>
        </ul>
        <p>Through research, the DTSC determined that children may be at risk for adverse health effects if they use or are near children’s foam-padded sleeping products that contain the following flame retardant chemicals:</p>
        <ol>
            <li>Tris(1,3-dichloro-2-propyl) Phosphate (TDCPP) (CAS No. 13674-87-8)</li>
            <li>Tris(2-chloroethyl) Phosphate (TCEP) (CAS No. 115-96-8)</li>
        </ol>
        <p>The rulemaking to list Children’s Foam-Padded Sleeping Products containing the flame retardants TDCPP and TCEP as a Priority Product began with the initiation of the comment period.  Examples of products that may be impacted by the pending SCP regulations include:</p>
        <ol>
            <li>Nap mats</li>
            <li>Soft-sided portable cribs</li>
            <li>Play pens</li>
            <li>Infant sleep positioners</li>
            <li>Co-sleepers</li>
        </ol>
        <p>Once Children’s Foam-Padded Sleeping Products are finalized as Priority Products, the rulemaking may take up to one year, after which businesses that manufacture, import, distribute, sell, or assemble the products will have to identify and evaluate alternatives that reduce adverse impacts of the product containing the chemicals of concern. The comment period will end with a public hearing on August 29, 2016.</p>
    </div><br />
</div>
    
<div class="recapSection">
    <a name="san-fran-polystyrene" class="bookmark"></a>
    <strong>US City and County of San Francisco, California Approves Regulation to Prohibit the Sale of Certain Polystyrene Foam Products </strong>
    <p>On July 29, 2016, <a href="https://sfgov.legistar.com/View.ashx?M=F&ID=4535715&GUID=3B9C2638-FDA3-4A0F-9A69-CED0F2D97849" target="_blank">the proposal to amend Environment Code - Food Service and Packaging Waste Reduction</a> was approved by Mayor Edwin Lee to ban certain products made from polystyrene foam. </p>
    <a href="/regulatory-updates/August-2016/san-fran-polystyrene" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The amendment revises the existing law that requires using compostable or recyclable food service ware in restaurants, by retail food vendors etc.  As a result of the amendment, common food service products made of polystyrene such as plates, cups, egg cartons, coolers, and “to-go” containers, as well as other consumer products such as pool toys, beach toys, and packing peanuts will no longer be allowed after the effective dates, as detailed below:</p>
        <table>
            <tr>
                <td><b>Item</b></td>
                <td><b>Sale prohibited products made from polystyrene foam</b></td>
                <td><b>Effective date</b></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Food service ware that was not either recyclable or compostable</td>
                <td rowspan="5">January 1, 2017</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Packing material including shipping boxes and packing peanuts</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Coolers, ice chests or similar containers</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Pool or beach toys</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Dock floats, mooring buoys or anchor or navigation markers</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Egg cartons and meats trays that are not either recyclable or compostable</td>
                <td>July 1, 2017</td>
            </tr>
        </table>
    </div><br />
</div>
    
<div class="recapSection">
    <a name="vermont-delay-deadline" class="bookmark"></a>
    <strong>US State Vermont Delays CHCC Reporting Deadline and Opens Online Reporting System</strong>
    <p>On June 1, 2016, <a href="http://legislature.vermont.gov/assets/Documents/2016/Docs/BILLS/H-0595/H-0595%20As%20Passed%20by%20Both%20House%20and%20Senate%20Official.pdf" target="_blank">HB 595</a> was approved which amends Chapter 38A of 18 V.S.A. 1775 “Chemicals of High Concern to Children” by updating the reporting date for manufacturers of children’s products that contain Chemicals of High Concern to Children (CHCC) (See <a href="http://www.asiainspection.com/regulatory-updates/February-2016" target="_blank">Regulatory Recap: February 2016</a>).</p>
    <a href="/regulatory-updates/August-2016/vermont-delay-deadline" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The amendment to the Vermont Chemicals of High Concern to Children rule entered into force on July 1, 2016.  It revises the deadline for manufacturers to report children’s products containing a listed CHCC that is intentionally added to a children’s product at a level above the Practical Quantification Limit (PQL) or is  present as a contaminant at concentrations of 100 parts per million or greater.  The new reporting requirements are summarized below:</p>
        <table>
            <tr>
                <td><b>Original reporting deadline</b></td>
                <td><b>New reporting deadline</b></td>
            </tr>
            <tr>
                <td rowspan="2">July 1, 2016 and biennially thereafter</td>
                <td>First reporting: January 1, 2017</td>
            </tr>
            <tr>
                <td>Second reporting: August 31, 2018 and biennially thereafter</td>
            </tr>
        </table>
        <p>In addition, Vermont has opened their <a href="https://www.vtsosonline.com/online" target="_blank">online reporting system</a> to allow manufacturers to begin reporting chemical disclosures now.  A <a href="http://www.healthvermont.gov/enviro/chemical/documents/chemical_disclosure_program_reporting_system_user_manual_text.pdf" target="_blank">User Manual</a> is available to guide manufacturers through the process.  For the first reporting period beginning in 2017, data must be disclosed separately to the State of Vermont even if companies are also reporting to other states with CHCC reporting rules.  It is expected that Vermont and other states will consider data sharing options at a later date.</p>
    </div><br />
</div>
    
<div class="recapSection">
    <a name="canada-microbeads" class="bookmark"></a>
    <strong>Canada Adds Microbeads to List of Toxic Substances in Personal Care Products</strong>
    <p>On June 17, 2016, the Minister of the Environment published <a href="http://www.gazette.gc.ca/rp-pr/p2/2016/2016-06-29/html/sor-dors150-eng.php" target="_blank">SOR/2016-150</a> in the Canada Gazette to amend Canadian Environmental Protection Act, 1999 (CEPA). The amendment entered into force on the publication date. </p>
    <a href="/regulatory-updates/August-2016/canada-microbeads" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>In the amendment, Plastic Microbeads that are less than or equal to 5mm in size are added to <a href="http://laws-lois.justice.gc.ca/eng/acts/c-15.31/page-51.html#h-115" target="_black">the List of Toxic Substances in Canadian Environmental Protection Act, 1999</a>. Adding plastic microbeads to this list enables the Minister of the Environment to propose risk management instruments under CEPA to manage environmental risks posed by plastic microbeads, should such instruments be deemed necessary.</p>
    </div><br />
</div>
    
<div class="recapSection">
    <a name="ccpsa-regulation-amendment" class="bookmark"></a>
    <strong>CCPSA Regulation Amendment Summary</strong>
    <p>On June 22, 2016, regulations promulgated under the Canada Hazardous Products Act (HPA) were repealed by their new versions to align with the Canada Consumer Product Safety Act (CCPSA).</p>
    <a href="/regulatory-updates/August-2016/ccpsa-regulation-amendment" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>When CCPSA came into force in 2011 and replaced HPA, several regulations under HPA were amended, replaced or newly enacted in order to prevent regulatory gaps from occurring during the transition. However, other regulations were not addressed at that time.  Of particular concern was that the scope of application of some regulations was inconsistent with that of the CCPSA and some regulations still contained provisions more relevant to the HPA than the CCPSA, among other areas of misalignment. As announced in the <a href="http://www.gazette.gc.ca/rp-pr/p2/2016/2016-07-13/html/index-eng.php" target="_blank">Canada Gazette on July 13, 2016</a> these regulations have been repealed and amended as summarized below:</p>
        <table>
            <tr>
                <td><b>Regulations</b></td>
                <td><b>Repealed/Amended Version</b></td>
                <td><b>Currently Enforced Version</b></td>
                <td><b>Significant Changes in Requirements?</b></td>
            </tr>
            <tr>
                <td>Asbestos Products Regulations</td>
                <td>SOR/2007-260</td>
                <td>SOR/2016-164</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Candles Regulations</td>
                <td>SOR/2011-18</td>
                <td>SOR/2016-165</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Carbonated Beverage Glass Containers Regulations</td>
                <td>SOR/80-831</td>
                <td>SOR/2016-166</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Carriages and Strollers Regulations</td>
                <td>SOR/85-379</td>
                <td>SOR/2016-167</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Cellulose Fibre Insulation Regulations</td>
                <td>Hazardous Products (Cellulose Insulation) Regulations SOR/79-732</td>
                <td>SOR/2016-177</td>
                <td>Performance requirement is updated</td>
            </tr>
            <tr>
                <td>Charcoal Regulations</td>
                <td>The Hazardous Products (Charcoal) Regulations C.R.C., c. 924</td>
                <td>SOR/2016-178</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Children’s Jewellery Regulations</td>
                <td>SOR/2011-19</td>
                <td>SOR/2016-168</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Children’s Sleepwear Regulations</td>
                <td>SOR/2011-15</td>
                <td>SOR/2016-169</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Consumer Chemicals and Containers Regulations, 2001 — Regulations Amending Canada Consumer Product Safety Act</td>
                <td>SOR/2001-269 </td>
                <td>SOR/2001-269 amended by SOR/2016-170</td>
                <td>
                    - Updated version of reference standards<br />
                    - Updated responsibility to responsible person<br />
                </td>
            </tr>
            <tr>
                <td>Consumer Products Containing Lead (Contact with Mouth) Regulations — Regulations Amending Canada Consumer Product Safety Act</td>
                <td>SOR/2010-273</td>
                <td>SOR/2010-273 amended by SOR/2016-171</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Corded Window Covering Products Regulations</td>
                <td>SOR/2009-112</td>
                <td>SOR/2016-172</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Expansion Gates and Expandable Enclosures Regulations</td>
                <td>Hazardous Products (Expansion Gates and Expandable Enclosures) Regulations SOR/90-39</td>
                <td>SOR/2016-179</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Face Protectors for Ice Hockey and Box Lacrosse Players Regulations</td>
                <td>SOR/2011-20</td>
                <td>SOR/2016-173</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Glass Doors and Enclosures Regulations</td>
                <td>SOR/2009-110</td>
                <td>SOR/2016-174</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Glazed Ceramics and Glassware Regulations</td>
                <td>SOR/98-176; SOR/2007-30, s. 1; SOR/2009-179, s. 5</td>
                <td>SOR/2016-175</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Ice Hockey Helmet Regulations</td>
                <td>SOR/2011-21</td>
                <td>SOR/2016-186</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Infant Feeding Bottle Nipples Regulations</td>
                <td>Hazardous Products (Infant Feeding Bottle Nipples) Regulations SOR/84-271</td>
                <td>SOR/2016-180</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Kettles Regulations</td>
                <td>Hazardous Products (Kettles) Regulations C.R.C., c. 927</td>
                <td>SOR/2016-181</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Lighters Regulations</td>
                <td>SOR/2008-231</td>
                <td>SOR/2016-187</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Matches Regulations</td>
                <td>Hazardous Products (Matches) Regulations C.R.C., c. 929</td>
                <td>SOR/2016-182</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Mattresses Regulations</td>
                <td>Hazardous Products (Mattresses) Regulations SOR/80-810</td>
                <td>SOR/2016-183</td>
                <td>Updated reference standard to CAN/CGSB-4.2 No. 27.7-2013</td>
            </tr>
            <tr>
                <td>Pacifiers Regulations</td>
                <td>Hazardous Products (Pacifiers) Regulations C.R.C., c. 930</td>
                <td>SOR/2016-184</td>
                <td>Updated structural integrity test procedure</td>
            </tr>
            <tr>
                <td>Phthalates Regulations</td>
                <td>SOR/2010-298</td>
                <td>SOR/2016-188</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Playpens Regulations</td>
                <td>C.R.C., c. 932</td>
                <td>SOR/2016-189</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Residential Detectors Regulations</td>
                <td>SOR/2009-193</td>
                <td>SOR/2016-190</td>
                <td>Updated version of reference standards</td>
            </tr>
            <tr>
                <td>Restraint Systems and Booster Seats for Motor Vehicles Regulations</td>
                <td>SOR/2011-16</td>
                <td>SOR/2016-191</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Science Education Sets Regulations</td>
                <td>Science Education Sets Regulations  C.R.C., c. 934</td>
                <td>SOR/2016-192</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Surface Coating Materials Regulations</td>
                <td>SOR/2005-109</td>
                <td>SOR/2016-193</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Tents Regulations</td>
                <td>Hazardous Products (Tents) Regulations SOR/90-245</td>
                <td>SOR/2016-185</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Textile Flammability Regulations</td>
                <td>SOR/2011-22</td>
                <td>SOR/2016-194</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Textile Floor Coverings Regulations</td>
                <td>Hazardous Products (Carpet) Regulations C.R.C., c. 923</td>
                <td>SOR/2016-176</td>
                <td>
                    Added specification for “<b>Carpet tile or large textile floor covering — indoor only, or indoor and outdoor</b>”<br />
                    Added new specification for textile floor covering that is <br />
                    - treated with flame retardants<br />
                    - Not treated with flame retardants
                </td>
            </tr>
            <tr>
                <td>Toys Regulations — Regulations Amending Canada Consumer Product Safety Act</td>
                <td>SOR/2011-17</td>
                <td>SOR/2011-17 amended by SOR/2016-195</td>
                <td>No</td>
            </tr>
        </table>
    </div><br />
</div>
    
<div class="recapSectionHeader">
    <a name="europe_news" class="bookmark"></a>
    <h2>EUROPE NEWS</h2>
</div>
    
<div class="recapSection">
    <a name="eu-bpa-amendment" class="bookmark"></a>
    <strong>EU Proposes Amendment to Revise the BPA Migration Limit of Toys Directive</strong>
    <p>On July 18, 2016, the European Union (EU) published a <a href="https://members.wto.org/crnattachments/2016/TBT/EEC/16_2858_00_e.pdf" target="_blank">proposed amendment to Directive 2009/48/EC Safety of Toys</a>. The proposed amendment revises the migration limit of Bisphenol A (BPA) in toy products intended for use by children under 36 months or to be placed in the mouth.</p>
    <a href="/regulatory-updates/August-2016/eu-bpa-amendment" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>Once the amendment passes, the migration limit of BPA lowered from 0.1 to 0.04 mg/L (ppm). The referenced methods for the determination are:</p>
        <ol>
            <li>EN 71-10:2005 Safety of toys – Organic chemical compounds – Sample preparation and extraction</li>
            <li>EN 71-11: 2005 Safety of toys – Organic chemical compounds – Methods of analysis</li>
        </ol>
    </div><br />
</div>
    
<div class="recapSection">
    <a name="france-childcare-standard" class="bookmark"></a>
    <strong>France Updates Childcare Articles Standard Providing Presumption of Conformity to Decree 91-1992</strong>
    <p>On June 29, 2016, <a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000032791863&categorieLien=id" target="_blank">a notice regarding childcare articles standards</a> was published in the French Official Gazette No. 150 (NOR: ENC1617355V). The notice contains a list of standards which show presumption of conformity to the Decree No. 91-1292 Prevention of Risks Resulting from the Use of Child Care Articles.</p>
    <a href="/regulatory-updates/August-2016/france-childcare-standard" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The standards showing presumption of conformity to Decree No. 91-1292 are listed in the table below:</p>
        <table>
            <tr>
                <td><b>Standard</b></td>
                <td><b>Repealed Standard</b></td>
                <td><b>Effective date^</b></td>
            </tr>
            <tr>
                <td>NF EN 716-1 + A1 (February 2013)<br />Furniture: beds in fixed and folding platform for domestic use for children - Part 1: Safety requirements</td>
                <td>NF EN 716-1<br />(May 2008)</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>NF EN 716-2 + A1 (February 2013)<br />Furniture: beds in fixed and folding platform for domestic use for children - Part 2: Test methods</td>
                <td>NF EN 716-2<br />(May 2008)</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>NF EN 1130-1 (May 1996)<br />Furniture, household Cots - Part 1: Safety requirements</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>NF EN 1130-2 (May 1996)<br />Furniture, household Cots - Part 2: Test methods</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>NF EN 1272 (June 1998)<br />Childcare articles: Table Seats - Safety requirements and test methods</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>NF EN 1273 (August 2005)<br />Childcare articles: Trotters - Safety requirements and test methods</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>NF EN 1466 (November 2014)<br />Childcare articles: Carry cots and stands - Safety requirements and test methods</td>
                <td>NF EN 1466 + A1 (February 2008)</td>
                <td>September 1, 2016</td>
            </tr>
            <tr>
                <td>NF EN 1888 (April 2012)<br />Childcare articles: prams - Safety requirements and test methods</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>NF EN 1930 (February 2012)<br />Childcare articles: safety barriers - Safety requirements and test methods</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>EN 12221-1 + A1 (October 2013)<br />Childcare articles: Changing Devices for domestic use - Part 1: Safety requirements</td>
                <td>NF EN 1222-1<br />(July 2008)</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>EN 12221-2 + A1 (October 2013)<br />Childcare articles: Changing Devices for domestic use - Part 2: Test methods</td>
                <td>NF EN 1222-2<br />(July 2008)</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>NF EN 12227 (December 2010)<br />Domestic parks - Safety Requirements and Test Methods</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>NF EN 12790 (June 2009)<br />Childcare articles: loungers</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>NF EN 13209-1 (December 2004)<br />Childcare articles: Holder children - Safety requirements and test methods - Part 1: dorsal Holder children with armature</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>NF EN 13209-2 (February 2016)<br />Childcare articles: Holder children - Safety requirements and test methods - Part 2: Soft Carrier child</td>
                <td>NF EN 13209-2<br />(November 2005)</td>
                <td>June 1, 2017</td>
            </tr>
            <tr>
                <td>NF EN 13210 (December 2004)<br />Childcare articles: harnesses, leashes for walking and similar items for children - Safety requirements and test methods</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>NF EN 14036 (January 2004)<br />Childcare articles: vertical oscillation platforms - Safety requirements and test methods</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>NF EN 14344 (March 2005)<br />Childcare articles: Child seats for bicycles - Safety requirements and test methods</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>EN 14988-1 + A1 (October 2012)<br />Highchairs - Part 1: Safety requirements</td>
                <td>NF EN 14988-1<br />(June 2006)</td>
                <td>July 1, 2015</td>
            </tr>
            <tr>
                <td>EN 14988-2 + A1 (October 2012)<br />Highchairs - Part 2: Test methods</td>
                <td>NF EN 14988-2<br />(June 2006)</td>
                <td>July 1, 2015</td>
            </tr>
            <tr>
                <td>NF EN 16120 + A1 (June 2014)<br />Childcare articles: Booster chair</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>NF EN 16232 (September 2013)<br />Childcare articles: Swings suspended for children</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>NF D 60-300-4 (November 2012)<br />Children's furniture - Domestic use - Part 4: Requirements and test methods without pod beds</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>NF S 54-042 (June 2012)<br />Childcare articles: Thermometers bath - Specifications and markings</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>NF S 54-043 (September 2015)<br />Childcare articles: Rain linings - Minimum requirements for safety and testing</td>
                <td>NF S 54-043<br />(May 2008)</td>
                <td>June 1, 2017</td>
            </tr>
            <tr>
                <td>NF S 54-045 (December 2014)<br />nursery furniture and for child- Bunks for children for public use - Safety requirements and test methods</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
        </table>
        <p>^ The new standard applies to products that are manufactured or imported after the effective date.</p>
    </div><br />
</div>
    
<div class="recapSection">
    <a name="europe-recalls-summary" class="bookmark"></a>
    <strong>Europe Recalls Summary (June and July 2016)</strong>
    <p>In Europe, when hazards are identified in consumer products, the products will be recalled and published in the <a href="http://ec.europa.eu/consumers/consumers_safety/safety_products/rapex/alerts/main/index.cfm?event=main.search#searchResults" target="_blank">Rapid Alert System</a>, which is updated weekly. The European recalls for June and July 2016 are summarized below:</p>
    <a href="/regulatory-updates/August-2016/europe-recalls-summary" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <center><img src="https://s3.asiainspection.com/newsletters/2016_08_RegRecap/2016.08_recalls_EU_hazards.gif" style="width:90%; max-width:850px;" /></center>
        <table>
            <tr>
                <td><b>Hazard</b></td>
                <td><b>Frequency</b></td>
            </tr>
            <tr>
                <td>Chemical Hazard^</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Electric Shock Hazard</td>
                <td>40</td>
            </tr>
            <tr>
                <td>Choking Hazard </td>
                <td>37</td>
            </tr>
            <tr>
                <td>Injury Hazard</td>
                <td>33</td>
            </tr>
            <tr>
                <td>Fire Hazard</td>
                <td>18</td>
            </tr>
            <tr>
                <td>Burn Hazard </td>
                <td>8</td>
            </tr>
            <tr>
                <td>Strangulation Hazard</td>
                <td>8</td>
            </tr>
            <tr>
                <td>Violation of CLP Regulation</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Other Hazards*</td>
                <td>23</td>
            </tr>
        </table>
        <p><b>^</b> Chemical Hazard includes Violation of Cosmetic Product Regulation, Violation of Directive on Packaging and Packaging Waste, Violation of National Legislation, Violation of POP Regulation, Violation of REACH Regulation and Violation of Toy Safety Directive</p>
        <p><b>*</b> Other Hazards include Asphyxiation Hazard, Drowning Hazard, Entrapment Hazard, Laceration Hazard, Microbial Hazard, Suffocation Hazard, Violation of Cosmetic Product Regulation, Violation of Low Voltage Directive and Violation of RoHS 2 Regulation with frequency less than 5.</p>
        <br />
        <center><img src="https://s3.asiainspection.com/newsletters/2016_08_RegRecap/2016.08_recalls_EU_categories.gif" style="width:90%; max-width:850px;" /></center>
        <table>
            <tr>
                <td><b>Product Categories</b></td>
                <td><b>Frequency</b></td>
            </tr>
            <tr>
                <td>Toys and Childcare Articles</td>
                <td>78</td>
            </tr>
            <tr>
                <td>Lighting</td>
                <td>21</td>
            </tr>
            <tr>
                <td>Cosmetics</td>
                <td>16</td>
            </tr>
            <tr>
                <td>Home Electrical Appliances (Hair dryer, iron, etc.)</td>
                <td>14</td>
            </tr>
            <tr>
                <td>Computer / Audio / Video / Other Electronics & Accessories</td>
                <td>13</td>
            </tr>
            <tr>
                <td>Consumer Chemicals</td>
                <td>11</td>
            </tr>
            <tr>
                <td>Fabric / Textile / Garment / Home Textile</td>
                <td>9</td>
            </tr>
            <tr>
                <td>Candles & Burning Items and Accessories</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Footwear</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Other Categories#</td>
                <td>11</td>
            </tr>
        </table>
        <p><b>#</b> Other Categories include Food Contact Material, Furniture, Jewelry, Personal Protective Equipment (exclude eye protection), Sporting Goods / Equipment and Tools and Hardware with frequency less than 5.</p>
    
        <p>Download the complete <a href="https://s3.asiainspection.com/newsletters/2016_08_RegRecap/AI_ANSECO_EU_Recalls.pdf">Recalls Summary – Europe (Last Update Date: July 31, 2016)</a></p>
    </div><br />
</div>
    
<div class="recapSectionHeader">
    <a name="australia_new_zealand_news" class="bookmark"></a>
    <h2>AUSTRALIA / NEW ZEALAND NEWS</h2>
</div>
    
<div class="recapSection">
    <a name="australia-hoverboards-safety" class="bookmark"></a>
    <strong>Australia ACCC Mandates Safety Standards for Hoverboards </strong>
    <p>On July 17, 2016, the Australian Competition & Consumer Commission (ACCC) published a list of mandatory standards for hoverboards, also known as self-balancing scooters, in order to reduce the risk of death or serious injury caused from unsafe self-balancing scooters.</p>
    <a href="/regulatory-updates/August-2016/australia-hoverboards-safety" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The mandatory standards required for hoverboards are identical to those listed during the previous 60-Day interim ban (See <a href="http://www.asiainspection.com/regulatory-updates/April-2016" target="_blank">Regulatory Recap: April 2016</a>). The notice replaced the interim ban and the safety standards became mandatory under the Australian Consumer Law.  They will be in force for two years from July 17, 2016 while regulators develop a longer-term solution.</p>
    </div><br />
</div>
    
<div class="recapSection">
    <a name="australia-safety-button-cell-products" class="bookmark"></a>
    <strong>Australia ACCC Publishes Guidance Document for Safety of Button Cell Containing Products</strong>
    <p>On July 17, 2016, the Australian Competition & Consumer Commission (ACCC) published a guidance document, <a href="http://www.productsafety.gov.au/system/files/INDUSTRY%20CODE%20on%20Consumer%20Goods%20that%20contain%20BUTTON%20BATTERIES%20VERSION%201%20....pdf" target="_blank">Industry Code for Consumer Goods That Contain Button Batteries</a>. The purpose for issuance is to reduce the risk of death and life threatening injuries to children from unsafe button batteries. The document guides responsible persons including manufacturers, distributors, importers and retailers of button cell containing products to make decisions about button battery safety when the products are being procured, designed, developed or sold. </p>
    <a href="/regulatory-updates/August-2016/australia-safety-button-cell-products" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>In the guidance document, essential requirements for safe button cell containing products are provided. Consumer products containing one or more replaceable button batteries that are likely to be accessible to young children under normal use or reasonable foreseeable misuse must meet following requirements:</p>
        <ol>
            <li>Be designed and manufactured so that the batteries are inaccessible to young children</li>
            <li>Have a battery compartment that requires a tool to access the battery, or that requires two or more independent and simultaneous actions to remove its cover</li>
            <li>Provide information indicating that button battery is required for operation at point of sale </li>
        </ol>
        <p>Apart from the essential requirements to be safe, the document suggests several safety standards that are helpful to assess the safety of the products containing button batteries. The standards are listed below:</p>
        <ol>
            <li>AS 1928 –2007 - Child-resistant packaging - Requirements and testing procedures for reclosable packages (ISO 8317:2003, MOD) </li>
            <li>AS 5808 –2009 - Child-resistant packaging - Requirements and testing procedures for non-reclosable packages for non-pharmaceutical products (EN 862:2005, MOD)</li>
            <li>AS/NZS 3820 - Essential safety requirements for electrical equipment</li>
            <li>AS/NZS 3100 - General requirements for electrical equipment</li>
            <li>AS/NZS 60335.1:2011 + A1 + A2 + A3 - Household and similar electrical appliances –Safety - Part 1: General requirements</li>
            <li>AS/NZS 60950.1:2015 Information Technology Equipment –Safety, Part 1: General requirements</li>
            <li>AS/NZS 62115: 2011 - Electric toys—Safety</li>
            <li>AS/NZS 60065:2012 A1:2015 - Audio, video and similar electronic apparatus—Safety requirements </li>
            <li>ASTM F963-11 - Standard Consumer Safety Specification for Toys Safety </li>
            <li>ANSI C18.3 Parts 1, 2 & 3 - American National Standard for Portable Lithium Primary Cells and Batteries </li>
            <li>IEC 60086 Part 4 & 5 –Primary batteries </li>
            <li>IEC 62368-1 Ed. 2 Audio/video, information and communication technology equipment - Part 1: Safety requirements </li>
            <li>UL 4200A:2015 - Standard for Safety for Products Incorporating Button or Coin Cell Batteries of Lithium Technologies</li>
        </ol>
    </div><br />
</div>
    
<div class="recapSection">
    <a name="australia-toys-standards" class="bookmark"></a>
    <strong>Australia Toys Standards AS/NZS ISO 8124 Part 1, 2 and 3 Updates</strong>
    <p>In June 2016, Australian standards for toys, AS/NZS ISO 8124 part 1, 2 and 3 were updated to the 2016 version. In general, the Australian standards were modified from ISO 8124:2014.</p>
    <a href="/regulatory-updates/August-2016/australia-toys-standards" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The AS/NZS 8124 standards provide testing methods for physical and mechanical, flammability and heavy metal requirements. The updates of the AS/NZS ISO 8124 standards are summarized below:</p>
        <table>
            <tr>
                <td><b>Toys Standard</b></td>
                <td><b>Current Standard</b></td>
                <td><b>New Standard</b></td>
            </tr>
            <tr>
                <td>AS/NZS 8124.1 Safety of Toys – Part 1: Safety aspects related to mechanical and physical properties</td>
                <td>AS/NZS ISO 8124.1:2013<br />(Identical to ISO 8124-1:2012)</td>
                <td>AS/NZS 8124.1:2016<br />(Modify from ISO 8124-1:2014)</td>
            </tr>
            <tr>
                <td>AS/NZS 8124.2 Safety of Toys – Part 2: Flammability</td>
                <td>AS/NZS ISO 8124.2:2009<br />(Identical to ISO 8124-2:2007)</td>
                <td>AS/NZS 8124.2:2016<br />(Modify from ISO 8124-2:2014)</td>
            </tr>
            <tr>
                <td>AS/NZS 8124.3 Safety of Toys – Part 3: Migration of Certain Elements</td>
                <td>AS/NZS 8124.3:2012<br />(Modify from ISO 8124-3:2010)</td>
                <td>AS/NZS 8124.3:2012+A1:2016<br />(Modify from ISO 8124-3:2010+A1:2014)</td>
            </tr>
        </table>
        <p>Currently, the new standards are not adopted as mandatory standards in Australia and New Zealand for toys safety.</p>
    </div><br />
</div>
    
<div class="recapSection">
    <a name="new-zealand-prohibits-asbestos" class="bookmark"></a>
    <strong>New Zealand Prohibits the Importation of Asbestos Containing Products</strong>
    <p>On June 15, 2016, <a href="https://www.beehive.govt.nz/release/govt-moves-asbestos-containing-products" target="_blank">a ban of products containing asbestos</a> was announced on the official website of the New Zealand Government. Starting October 1, 2016, the importation of asbestos containing products will be prohibited.</p>
    <a href="/regulatory-updates/August-2016/new-zealand-prohibits-asbestos" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>Due to the risk of respiratory disease caused by exposure of asbestos, the existing ban of raw asbestos is expanded to products which contain asbestos, such as gaskets, seals and brake linings.  Existing asbestos containing buildings and products will continue to be managed through the Health and Safety at Work Act Regulations and, therefore, are out of the scope of this new prohibition.</p>
    </div><br />
</div>
    
<div class="recapSectionHeader">
    <a name="asia_news" class="bookmark"></a>
    <h2>ASIA NEWS</h2>
</div>
    
<div class="recapSection">
    <a name="japan-food-contact-materials" class="bookmark"></a>
    <strong>Japan MHLW Approves Amendment on the JFSL Regarding Food Contact PEN Materials </strong>
    <p>On June 8, 2016, Japan Ministry of Health, Labour and Welfare (MHLW) <a href="http://www.mhlw.go.jp/file/06-Seisakujouhou-11130500-Shokuhinanzenbu/0000127058.pdf" target="_blank">approved the amendments to Japan Food Sanitation Law (JFSL)</a>. The amendments impact sectors that market and use food contact PolyEthylene Naphthalate (PEN) materials.</p>
    <a href="/regulatory-updates/August-2016/japan-food-contact-materials" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The amendment adds new requirements for the Specific Migration Limit (SML) of Germanium (Ge) and evaporation residue requirements in the JFSL (See <a href="http://www.asiainspection.com/regulatory-updates/April-2016" target="_blank">Regulatory Recap: April 2016</a>). The new requirements will be enforced on December 8, 2016. </p>
    </div><br />
</div>

<br /><p><i>This summary is not intended to be exhaustive nor should it be construed as legal advice.</i></p>