<!-- { "Title":"December 2016 Recap", "PublishDate":"2016-12-19", "Description":"NORTH AMERICA NEWS - On November 17, 2016, the CPSC reiterated their commitment to work alongside CBP to stop shipments of dangerous toys and issued a new report indicating that there were an estimated 185,500 toy-related, emergency department-treated injuries and 11 deaths in 2015 to children younger than 15 years old." }-->
<div class="recapSectionHeader">
	<ol style="margin-top:10px;">
		<li style="margin-bottom:10px;"><a href="#north_america_news">NORTH AMERICA NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#europe_news">EUROPE NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#asia_news">ASIA NEWS</a></li>
	</ol>
	<hr />
</div>

<div class="recapSectionHeader">
	<a name="north_america_news" class="bookmark"></a>
	<h2>NORTH AMERICA NEWS</h2>
</div>

<div class="recapSection">
	<a name="us-cpsc-and-cbp-collaborate-unsafe-toys" class="bookmark"></a>
	<strong>US CPSC and CBP Collaborate to Keep Unsafe Toys Off Store Shelves</strong>
	<p>This holiday season, <a href="https://www.cpsc.gov/Newsroom/News-Releases/2017/Safer-Together-CPSC-and-CBP-Collaborate-to-Keep-Unsafe-Toys-Off-Store-Shelves" target="_blank">the Consumer Product Safety Commission (CPSC) and Customs and Border Protection (CBP) are joining forces to stop dangerous toys</a> which violate safety standards from reaching children in the United States (US). </p>
	<a href="/regulatory-updates/December-2016/us-cpsc-and-cbp-collaborate-unsafe-toys" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>On November 17, 2016, the CPSC reiterated their commitment to work alongside CBP to stop shipments of dangerous toys and issued <a href="https://www.cpsc.gov/s3fs-public/Toy_Report_2015.pdf" target="_blank">a new report</a> indicating that there were an estimated 185,500 toy-related, emergency department-treated injuries and 11 deaths in 2015 to children younger than 15 years old. Most of the injuries were related to riding toys, specifically non-motorized scooters and they included cuts and bruises, with the head and face being the most commonly affected areas.</p>
		<p>Safety tips were also provided for consumers to keep in mind:</p>
		<ol>
			<li>Magnets: Children’s magnetic toys are covered by a strong safety standard (ASTM F963) that aims to prevent magnets from being swallowed.</li>
			<li>Balloons: Children can choke or suffocate on deflated or broken balloons. Keep deflated balloons away from children younger than 8 years old. Discard torn balloons immediately.</li>
			<li>Small balls and other toys with small parts: For children younger than age 3, avoid toys with small parts, which can cause choking.</li>
			<li>Scooters and other riding toys: Riding toys, skateboards and in-line skates go fast, and falls could be deadly. Helmets and safety gear should be worn properly at all times, and they should be sized to fit.</li>
		</ol>
	</div><br />
</div>

<div class="recapSection">
	<a name="us-cpsc-statement-crib-bumpers" class="bookmark"></a>
	<strong>US CPSC Issues Statement Regarding Crib Bumper Safety</strong>
	<p>On November 3, 2016, the Consumer Product Safety Commission (CPSC) issued <a href="https://origin.prod.cpsc.gov/s3fs-public/Joint%20Statement%20on%20Padded%20Crib%20Bumpers%20FINAL%2011.3.16.pdf" target="_blank">a statement</a> jointly published by Chairman Elliot Kaye and several Commissioners recommending parents and caregivers not use padded crib bumpers. The statement strongly advises the public to stop using padded crib bumpers as dozens of infants and children have died each year from soft bedding in their sleeping environments.</p>
	<a href="/regulatory-updates/December-2016/us-cpsc-statement-crib-bumpers" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Crib bumpers are infant bedding accessories intended to line the sides of an infant’s crib. They are commonly made of fabric and fiberfill or foam panels. Although some caregivers may think that the bumpers assist in protecting against head injury or limb entrapment, the CPSC believes that there is a clear risk of injury or death associated and the risk definitely outweighs any purported benefits.</p>
		<p>The CPSC also advises parents and caregivers that the best way to have a safe sleep environment is to assemble crib with only an appropriately sized mattress and a snugly fitted sheet. The parent should never place soft bedding or other padded objects such as padded bumpers, pillows, sleep positioners, stuffed animals or cushions in child’s crib, bassinet or play yard.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="us-cpsc-notice-flaming-mattress" class="bookmark"></a>
	<strong>US CPSC Issues Notice Regarding Standard for the Flammability (Open Flame) of Mattress Sets </strong>
	<p>On November 9, 2016, the Consumer Product Safety Commission (CPSC) issued <a href="https://www.cpsc.gov/s3fs-public/Section610oftheRegFlexActReviewforMattressSets.pdf" target="_blank">Notice of Availability of Regulatory of Flexibility Act (RFA) Section 610 Review of the Standard for the Flammability (Open Flame) of Mattress Sets</a>. The notice concludes that the 16 CFR part 1633 mattress standard should be maintained without change.</p>
	<a href="/regulatory-updates/December-2016/us-cpsc-notice-flaming-mattress" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>16 CFR part 1633, Standard for the Flammability (Open Flame) of Mattress Sets under the Flammable Fabrics Act (FFA) sets forth test procedures and performance requirements that all mattress sets must meet before being introduced into commerce.</p>
		<p>Section 610 of the FFA requires federal agencies including the CPSC to review regulations that have a significant economic impact on a substantial number of small entities within 10 years of their adoption as final rules. Therefore, on April 3, 2015, the CPSC issued a notice to propose a review of the mattress standard and received 16 written comments from different sectors including manufacturers and third party testing bodies. The comment shows strong support for the mattress standard and the CPSC staff does not see the need to have the standard updated at this moment.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="us-epa-proposes-npes-tri-list" class="bookmark"></a>
	<strong>US EPA Proposes to Add NPEs to the TRI List</strong>
	<p>On November 16, 2016, the Environmental Protection Agency (EPA) <a href="https://www.epa.gov/toxics-release-inventory-tri-program/addition-npes-category-tri-list-proposed-rule#rule-history" target="_blank">proposed a rule to add Nonylphenol Ethoxylates (NPEs) to the Toxics Release Inventory (TRI) list of reportable chemicals.</a></p>
	<a href="/regulatory-updates/December-2016/us-epa-proposes-npes-tri-list" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The TRI tracks the management of listed toxic chemicals that may pose a threat to human health and the environment. United States facilities in different industry sectors must report annually how much of each chemical is released into the environment or managed through recycling, energy recovery and treatment. </p>
		<p>The reason for this proposed inclusion is that the EPA believes longer-chain NPEs can break down to short-chain NPEs and nonylphenol which are toxic to aquatic organisms. Therefore, once it is approved to add NPEs to the TRI list, facilities that manufacture, process or otherwise use these chemicals in amounts above established levels must submit annual TRI reports. </p>
		<p>NPEs are nonionic surfactants widely used in adhesives, detergents, wetting agents, paints, coatings etc. There are 13 NPEs proposed by the EPA for inclusion in the TRI list as listed below:</p>
		<table>
			<tr>
				<td align="center"><b>Chemical Name</b></td>
				<td align="center"><b>CAS Number</b></td>
			</tr>
			<tr>
				<td>Ethanol,2-[2-[2-[2-(4-nonylphenoxy)ethoxy]ethoxy]ethoxy]-</td>
				<td>7311-27-5</td>
			</tr>
			<tr>
				<td>Poly(oxy-1,2-ethanediyl), α-(nonylphenyl)-ω-hydroxy-</td>
				<td>9016-45-9</td>
			</tr>
			<tr>
				<td>Ethanol, 2-[2-(4-nonylphenoxy)ethoxy]-</td>
				<td>20427-84-3</td>
			</tr>
			<tr>
				<td>Poly(oxy-1,2-ethanediyl), α-(4-nonylphenyl)-ω-hydroxy-</td>
				<td>26027-38-3</td>
			</tr>
			<tr>
				<td>3,6,9,12,15,18,21,24-Octaoxahexacosan-1-ol, 26-(nonylphenoxy)-</td>
				<td>26571-11-9</td>
			</tr>
			<tr>
				<td>Ethanol, 2-[2-(nonylphenoxy)ethoxy]-</td>
				<td>27176-93-8</td>
			</tr>
			<tr>
				<td>3,6,9,12,15,18,21-Heptaoxatricosan-l-ol, 23-(nonylphenoxy)-</td>
				<td>27177-05-5</td>
			</tr>
			<tr>
				<td>3,6,9,12,15,18,21,24,27-Nonaoxanonacosan-1-ol, 29-(nonylphenoxy)-</td>
				<td>27177-08-8</td>
			</tr>
			<tr>
				<td>Ethanol, 2-(nonylphenoxy)-</td>
				<td>27986-36-3</td>
			</tr>
			<tr>
				<td>Poly(oxy-1,2-ethanediyl), α-(isononylphenyl)-ω-hydroxy-</td>
				<td>37205-87-1</td>
			</tr>
			<tr>
				<td>Poly(oxy-1,2-ethanediyl), α-(2-isononylphenyl)-ω-hydroxy-</td>
				<td>51938-25-1</td>
			</tr>
			<tr>
				<td>Poly(oxy-1,2-ethanediyl), α-(nonylphenyl)-ω-hydroxy-, branched</td>
				<td>68412-54-4</td>
			</tr>
			<tr>
				<td>Poly(oxy-1,2-ethanediyl), α-(4-nonylphenyl)-ω-hydroxy-, branched</td>
				<td>127087-87-0</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="us-epa-adds-flame-retardants-tri-list" class="bookmark"></a>
	<strong>US EPA Adds Flame Retardants to the TRI List</strong>
	<p>On November 28, 2016, the Environmental Protection Agency (EPA) <a href="https://www.epa.gov/toxics-release-inventory-tri-program/addition-hexabromocyclododecane-hbcd-category-tri-list-final" target="_blank">finalized a rule adding the hexabromocyclododecane (HBCD) category to the Toxics Release Inventory (TRI) list of reportable chemicals.</a></p>
	<a href="/regulatory-updates/December-2016/us-epa-adds-flame-retardants-tri-list" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The TRI tracks the management of certain listed toxic chemicals that may pose a threat to human health and the environment. United States facilities in different industry sectors must report annually how much of each chemical is released into the environment or managed through recycling, energy recovery and treatment. </p>
		<p>The reason for this category inclusion is that the EPA determined that HBCD presents potential human developmental and reproductive health concerns. HBCD is also highly toxic to aquatic and land dwelling organisms, bioaccumulates and is persistent in the environment. Therefore, facilities that manufacture, process or otherwise use these chemicals in amounts above 100 pounds must submit annual TRI reports. </p>
		<p>HBCD is a brominated flame retardant used widely in expanded polystyrene foam and extruded polystyrene foam. HBCD may also be used as a flame retardant in textiles. There are 2 HBCDs added to the list:</p>
		<table>
			<tr>
				<td align="center"><b>Chemical Name</b></td>
				<td align="center"><b>CAS Number</b></td>
			</tr>
			<tr>
				<td>1,2,5,6,9,10-hexabromocyclododecane</td>
				<td>3194-55-6</td>
			</tr>
			<tr>
				<td>hexabromocyclododecane</td>
				<td>25637-99-4</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="dec2016-updates-of-astm-standards" class="bookmark"></a>
	<strong>Updates of ASTM Standards</strong>
	<p>Below is a summary of recently updated ASTM standards that may be of interest to our clients:</p>
	<a href="/regulatory-updates/December-2016/dec2016-updates-of-astm-standards" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Below is a summary of recently updated ASTM standards that may be of interest to our clients:</p>
		<table>
			<tr>
				<td align="center"><b>CPSIA / CFR Reference</b></td>
				<td align="center"><b>ASTM Standard No.</b></td>
				<td align="center"><b>Detail</b></td>
			</tr>
			<tr>
				<td>-</td>
				<td>ASTM F3118 – 16a</td>
				<td>
					<p><b>Standard Consumer Safety Specification for Infant Inclined Sleep Products</b></p>
					<p>Establishes safety performance requirements, test methods, and labeling requirements to minimize the hazards to infants presented by infant inclined sleep products as identified in the introduction.</p>
				</td>
			</tr>
			<tr>
				<td>-</td>
				<td>ASTM F2879 – 16</td>
				<td>
					<p><b>Standard Specification for Eye Protective Devices for Airsoft Sports</b></p>
					<p>Applies to eye protective devices (EPDs) designed for use by participants in the sport of airsoft with 6-mm airsoft projectiles. These EPDs are designed to minimize or significantly reduce injury to the eye and adnexa as a result of impact and penetration of airsoft projectiles.</p>
				</td>
			</tr>
			<tr>
				<td>-</td>
				<td>ASTM F1045 – 16</td>
				<td>
					<p><b>Standard Performance Specification for Ice Hockey Helmets</b></p>
					<p>Covers performance requirements for ice hockey helmets to reduce the risk of injury to the head without compromising the form and appeal of the game.</p>
				</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="california-latest-prop65-dec2016" class="bookmark"></a>
	<strong>US State of California Issues Latest List of Proposition 65 NSRLs and MADLs</strong>
	<p>On October 7, 2016, the Office of Environmental Health Hazard Assessment (OEHHA) issued <a href="http://oehha.ca.gov/proposition-65/general-info/current-proposition-65-no-significant-risk-levels-nsrls-maximum" target="_blank">a list summarizing the latest No Significant Risk Levels (NSRLs) for Carcinogens and Maximum Allowable Dose Levels (MADLs) for reproductive toxic chemicals</a>. The NSRLs and MADLs provide safe harbor limits for Proposition 65 chemicals.</p>
	<a href="/regulatory-updates/December-2016/california-latest-prop65-dec2016" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>For Proposition 65 chemicals, if the exposure levels and discharges to drinking water sources are below the safe harbor levels (NSRLs and MADLs), the labeling requirement of Proposition 65 will be exempted. In some cases, enforcement actions may have resulted in negotiated exposure levels relative to specific settlement agreements.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="san-francisco-prohibition-polystyrene" class="bookmark"></a>
	<strong>US City and County of San Francisco, California Prohibition of Certain Polystyrene Foam Products Soon to be In Force</strong>
	<p>On January 1, 2017, the ban of certain products made from polystyrene foam will be implemented at the first phase (See <a href="http://www.asiainspection.com/regulatory-updates/August-2016" target="_blank">Regulatory Recap: August 2016 Issue</a>). </p>
	<a href="/regulatory-updates/December-2016/san-francisco-prohibition-polystyrene" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The following products are subject to the first phase of polystyrene foam prohibition:</p>
		<ul>
			<li>Food service ware that is not recyclable nor compostable</li>
			<li>Packing materials including shipping boxes and packing peanuts</li>
			<li>Coolers, ice chests or similar containers</li>
			<li>Pool or beach toys</li>
			<li>Dock floats, mooring buoys or anchor or navigation markers</li>
		</ul>
		<p>On July 1, 2017, the following products are subject to the second phase of polystyrene foam prohibition:</p>
		<ul>
			<li>Egg cartons and meats trays that are not recyclable nor compostable</li>
		</ul>
	</div><br />
</div>

<div class="recapSection">
	<a name="washington-proposes-changes-chcc" class="bookmark"></a>
	<strong>US State of Washington Proposes Changes to the CHCC Reporting Rule and List</strong>
	<p>In October 2016, the Department of Ecology (DOE) <a href="http://www.ecy.wa.gov/programs/hwtr/laws_rules/CSP_ReportingRule/pdfs/WAC173-334edited10032016.pdf" target="_blank">proposed to amend</a> Chapter 173-334 WAC Children’s Safe Products – Reporting Rule under the Children’s Safe Product Act (CPSA). </p>
	<a href="/regulatory-updates/December-2016/washington-proposes-changes-chcc" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The key proposed changes to the reporting rule are summarized below:</p>
		<ul>
			<li>Adds Definition:<br />
				<ul>
					<li>De minimis level: the Practical Quantification Limit (PQL) for intentionally added chemicals, or the concentration of 100 ppm for contaminant chemicals.</li>
					<li>Internal component: a children’s product component that during reasonably foreseeable use and abuse of the product would not come into direct contact with the child’s skin or mouth.</li>
				</ul>
			</li>
			<li>Provides an updated schedule for manufacturers to report children’s product containing a CHCC that is higher than the de minimis level:<br />On January 1, 2018 and annually thereafter, the report is due on January 1, 2018 for children’s products that are sold or offered for sale in Washington between January 1 and December 31, 2017.</li>
			<li>If the reporting party determines that there is no change in the information required to be reported since the prior annual notice, the party may copy the previous notice and resubmit the same data without submitting a written statement indicating that the previous reported data is still valid.</li>
			<li>Clarifies that the annual reporting for internal components will no longer be required based on a case-by-case evaluation by the DOE except by amendment of the rule.</li>
			<li>Removes requirements related to the manufacturer product category and reporting tier system.</li>
		</ul>

		<p>Apart from the proposed reporting rule amendments, the DOE issued <a href="http://www.ecy.wa.gov/programs/hwtr/laws_rules/CSP_ReportingRule/pdfs/CSPAchemicals.pdf" target="_blank">potential changes to the current CHCC list in a separate notice</a> as noted in the below table. These chemicals will continue to be evaluated by the DOE before addition to and delisting from the CHCC list:</p>
		<ul>
			<li>Potential added chemicals:<br />
				<table>
					<tr>
						<td align="center"><b>CAS Number</b></td>
						<td align="center"><b>Acronym</b></td>
						<td align="center"><b>Chemical Name</b></td>
					</tr>
					<tr>
						<td>78-33-1</td>
						<td>TBPP</td>
						<td>Tris(p-tert-butylphenyl) phosphate</td>
					</tr>
					<tr>
						<td>80-90-1</td>
						<td>BPS</td>
						<td>Bisphenol S</td>
					</tr>
					<tr>
						<td>84-61-7</td>
						<td>DCHP</td>
						<td>Dicyclohexyl phthalate</td>
					</tr>
					<tr>
						<td>84-69-5</td>
						<td>DIBP</td>
						<td>Diisobutyl phthalate</td>
					</tr>
					<tr>
						<td>115-86-6</td>
						<td>TPP* or TPHP</td>
						<td>Triphenyl phosphate</td>
					</tr>
					<tr>
						<td>126-72-7</td>
						<td>TDBPP</td>
						<td>Tris (2,3-dibromopropyl) phosphate</td>
					</tr>
					<tr>
						<td>126-73-8</td>
						<td>TNBP or TBP</td>
						<td>Tri-n-butyl phosphate or Tributyl phosphate</td>
					</tr>
					<tr>
						<td>335-67-1</td>
						<td>PFOA</td>
						<td>Perfluorooctanoic acid and related substances</td>
					</tr>
					<tr>
						<td>620-92-8</td>
						<td>BPF</td>
						<td>Bisphenol F</td>
					</tr>
					<tr>
						<td>1241-94-7</td>
						<td>EHDPP or DPEHP</td>
						<td>Ethylhexyl diphenyl phosphate or Diphenyl (2ethylhexyl) phosphate</td>
					</tr>
					<tr>
						<td>1330-78-5</td>
						<td>TCP</td>
						<td>Tricresyl phosphate</td>
					</tr>
					<tr>
						<td>13674-84-5</td>
						<td>TCPP* or TCIPP</td>
						<td>Tris (2chloroisopropyl) phosphate</td>
					</tr>
					<tr>
						<td>26040-51-7</td>
						<td>TBPH* or BEH-TEBP</td>
						<td>Bis (2-ethylhexyl) 2,3,4,5- tetra bromophthalate</td>
					</tr>
					<tr>
						<td>38051-10-4</td>
						<td>V6*</td>
						<td>V6 (based onTCEP as an impurity)</td>
					</tr>
					<tr>
						<td>68937-41-7</td>
						<td>IPTPP*</td>
						<td>Isopropylated triphenyl phosphate</td>
					</tr>
					<tr>
						<td>84852-53-9</td>
						<td>DBDPE</td>
						<td>Decabromodiphenylethane</td>
					</tr>
					<tr>
						<td>85535-84-8</td>
						<td>SCCP</td>
						<td>Short-chain chlorinated paraffins</td>
					</tr>
					<tr>
						<td>183658-27-7</td>
						<td>TBB* or EH-TBB</td>
						<td>2-ethylhexyl-2,3,4,5- tetrabromobenzoate</td>
					</tr>
				</table>
				<p>* Flame retardants identified in RCW 70.240.035</p>
			</li>
			<li>Potential delisted chemicals:<br />
				<table>
					<tr>
						<td align="center"><b>CAS Number</b></td>
						<td align="center"><b>Acronym</b></td>
						<td align="center"><b>Chemical Name</b></td>
					</tr>
					<tr>
						<td>85-44-9</td>
						<td>---</td>
						<td>Phthalic anhydride</td>
					</tr>
					<tr>
						<td>7439-98-7</td>
						<td>Mo</td>
						<td>Molybdenum</td>
					</tr>
				</table>
			</li>
		</ul>
		<p>Remarks: Another table listing chemicals from stakeholder comments that are not currently under consideration is not addressed in this recap. For more detail, please refer to the notice.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="canada-proposes-updated-children-jewellery" class="bookmark"></a>
	<strong>Canada Proposes Updated Children’s Jewellery Regulations </strong>
	<p>On December 3, 2016, <a href="http://www.gazette.gc.ca/rp-pr/p1/2016/2016-12-03/html/reg3-eng.php" target="_blank">an update to the Children’s Jewellery Regulations</a> was proposed through the Canada Gazette. This update aims to reduce adverse health effects resulting from exposure to lead and cadmium among young children because of their natural habit to place objects into their mouth. </p>
	<a href="/regulatory-updates/December-2016/canada-proposes-updated-children-jewellery" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Compared to current Children’s Jewellery Regulations under the Canada Consumer Product Safety Act (CPSA), the proposed updates to the regulations change the lead and cadmium content requirements as summarized below:</p>
		<table>
			<tr>
				<td></td>
				<td align="center"><b>Cadmium</b></td>
				<td align="center"><b>Lead</b></td>
			</tr>
			<tr>
				<td>Current regulations</td>
				<td>Not required</td>
				<td>Total Limit: 600 mg/kg<br />Migratable Limit: 90 mg/kg</td>
			</tr>
			<tr>
				<td>Updated regulations</td>
				<td>Total Limit: 130 mg/kg<br />(for children’s jewellery that is small enough to be swallowed by a child)</td>
				<td>Total Limit: 90 mg/kg</td>
			</tr>
		</table>
		<p>The updated regulations will enter into force six months after the adopted version has been published in the Canada Gazette. Meanwhile, current regulations will be repealed. </p>
	</div><br />
</div>

<div class="recapSection">
	<a name="canada-proposes-updated-consumer-lead" class="bookmark"></a>
	<strong>Canada Proposes Updated Consumer Products Containing Lead Regulations</strong>
	<p>On December 3, 2016, as part of the lead risk reduction strategy for consumer products, <a href="http://www.gazette.gc.ca/rp-pr/p1/2016/2016-12-03/html/reg4-eng.php" target="_blank">updates to the Consumer Products Containing Lead Regulations</a> were proposed in the Canada Gazette. The updates aim to reduce health risks from exposure to lead, especially in young children. </p>
	<a href="/regulatory-updates/December-2016/canada-proposes-updated-consumer-lead" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Once approved, the proposed Consumer Products Containing Lead Regulations will replace the current version. The total lead content limit remains unchanged (90 mg/kg) however revisions to the regulations are summarized below:</p>
		<ul>
			<li>Apart from products that are brought into mouth, the scope of the regulations is expanded to include following products:<br />
				<ul>
					<li>Any clothing or clothing accessory that is intended for use by a child under 14 years of age</li>
					<li>A product that is intended for use in learning or play by a child under 14 years of age (age requirement is increased from 3 to 14 years of age)</li>
					<li>A book or similar printed product that is intended for a child under 14 years of age, except if it is:<br />
						<ul>
							<li>Printed on paper or cardboard, and</li>
							<li>Printed and bound in a conventional manner using conventional materials</li>
						</ul>
					</li>
					<li>A product whose primary purpose is to facilitate the relaxation, sleep, hygiene, carrying or transportation of a child under 4 years of age</li>
				</ul>
			</li>
			<li>Removes the standard EN 71-3:1994/A1:2000/AC:2002 Safety of Toys – Part 3: Migration of Certain Elements from the verification method of 90 mg/kg lead release for exemption and requires good laboratory practice testing for demonstration.</li>
		</ul>
		<p>The updated regulations will enter into force six months after the adopted version has been published in Canada Gazette. </p>
	</div><br />
</div>

<div class="recapSection">
	<a name="health-canada-updates-cosmetic-notification" class="bookmark"></a>
	<strong>Health Canada Updates Guidance Web Page for Cosmetic Notification</strong>
	<p>On November 25, 2016, Health Canada (HC) published <a href="http://www.hc-sc.gc.ca/cps-spc/cosmet-person/notification-declaration/guide-eng.php" target="_blank">an updated guidance document web page for the Cosmetic Notification Form</a>. The guidance contains general information related to the Food and Drug Act and Cosmetic Regulations, and provides information on how to complete a cosmetic notification form correctly.</p>
	<a href="/regulatory-updates/December-2016/health-canada-updates-cosmetic-notification" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In general, a cosmetic notification form must be submitted by the manufacturer or importer for each unique cosmetic product to notify HC within 10 days after they first sell a cosmetic in Canada. Therefore, a guidance document was issued to support manufacturers or importers for the cosmetic notification. Failure to notify may result in a product being denied entry into Canada or removed from sale. </p>
		<p>The cosmetic notification form is comprised of nine sections and they are:</p>
		<ul>
			<li>Notification Type</li>
			<li>Product</li>
			<li>Notifier</li>
			<li>Manufacturing and Distribution</li>
			<li>Product Ingredients</li>
			<li>Documents and pictures</li>
			<li>How to submit your Cosmetic Notification Form</li>
			<li>How to save your Cosmetic Notification Form</li>
			<li>How to view/edit your previous Cosmetic Notification Form</li>
		</ul>
	</div><br />
</div>

<div class="recapSection">
	<a name="canada-proposes-microbeads" class="bookmark"></a>
	<strong>Canada Proposes Microbeads in Toiletries Regulations</strong>
	<p>On November 5, 2016, the Microbeads in Toiletries Regulations were proposed in <a href="http://www.gazette.gc.ca/rp-pr/p1/2016/2016-11-05/html/reg2-eng.php" target="_blank">Vol. 150, No. 45 of the Canada Gazette</a>. The proposed regulations prohibit the manufacture, sale and importation of any toiletries containing microbeads. </p>
	<a href="/regulatory-updates/December-2016/canada-proposes-microbeads" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Toiletries are defined as any personal hair, skin, teeth or mouth care products for cleansing or hygiene, including exfoliants and any of those products that is also a natural health products or a non-prescription drugs. However, prescription drugs are not applicable to this regulation and will not be subject to the prohibition addressed. </p>
		<p>The proposed enforcement date for the regulations is January 1, 2018 upon approval and the timeline for implementation is summarized below:</p>
		<table>
			<tr>
				<td align="center"><b>Date</b></td>
				<td align="center"><b>Action</b></td>
			</tr>
			<tr>
				<td>January 1, 2018</td>
				<td>Prohibit the <b>manufacture or importation</b> of any toiletries, which are not natural health products or non-prescription drugs, containing microbeads</td>
			</tr>
			<tr>
				<td rowspan="2">July 1, 2018</td>
				<td>Prohibit the <b>manufacture or importation</b> of any toiletries, which are also natural health products or non-prescription drugs, containing microbeads</td>
			</tr>
			<tr>
				<td>Prohibit the <b>sale</b> of any toiletries, which are not natural health products or non-prescription drugs containing microbeads</td>
			</tr>
			<tr>
				<td>July 1, 2019</td>
				<td>Prohibit the <b>sale</b> of any toiletries, which are also natural health products or non-prescription drugs, containing microbeads</td>
			</tr>
		</table>
		<p>Apart from prohibition, the proposed regulation also addresses that the presence of microbeads must be determined by an ISO/IEC 17025 accredited laboratory covering the scope of determination of microbeads. The determination may also be conducted by a laboratory that holds a certificate of accreditation issued under the Environment Quality Act, CQLR c. Q-2 covering the scope of determination of microbeads.</p>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="europe_news" class="bookmark"></a>
	<h2>EUROPE NEWS</h2>
</div>

<div class="recapSection">
	<a name="echa-recommendation-9-svhc-chemicals" class="bookmark"></a>
	<strong>ECHA Issues Recommendation Regarding Inclusion of 9 SVHC Chemicals in the REACH Authorization List</strong>
	<p>On November 10, 2016, the European Chemical Agency (ECHA) issued <a href="https://echa.europa.eu/documents/10162/13630/7th_axiv_recommendation_november2016_en.pdf/3e11377b-edd8-46d3-a29c-1978c41db3ad" target="_blank">7<sup>th</sup> Annex XIV Recommendation</a> to propose inclusion of 9 Substances of Very High Concern (SVHC) in Annex XIV, List of Authorisation of Regulation (EC) No. 1907/2006 Registration, Evaluation, Authorisation and Restriction of Chemicals (REACH). </p>
	<a href="/regulatory-updates/December-2016/echa-recommendation-9-svhc-chemicals" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The details for the 9 proposed SVHCs to be added to Annex XIV, List of Authorisation, are listed below:</p>
		<table>
			<tr>
				<td align="center"><b>Substance</b></td>
				<td align="center"><b>CAS Number</b></td>
				<td align="center"><b>EC Number</b></td>
				<td align="center"><b>SVHC-relevant intrinsic properties</b></td>
			</tr>
			<tr>
				<td>1,2- Benzenedicarboxylic acid, dihexyl ester, branched and linear</td>
				<td>68515-50-4</td>
				<td>271-093-5</td>
				<td>Toxic for Reproduction (category 1B)</td>
			</tr>
			<tr>
				<td>Dihexyl phthalate</td>
				<td>84-75-3</td>
				<td>201-559-5</td>
				<td>Toxic for Reproduction (category 1B)</td>
			</tr>
			<tr>
				<td>Trixylyl phosphate</td>
				<td>25155-23-1</td>
				<td>246-677-8</td>
				<td>Toxic for Reproduction (category 1B)</td>
			</tr>
			<tr>
				<td>Sodium perborate; perboric acid, sodium salt</td>
				<td>-</td>
				<td>239-172-9;<br />234-390-0 </td>
				<td>Toxic for Reproduction (category 1B)</td>
			</tr>
			<tr>
				<td>Sodium peroxometaborate</td>
				<td>7632-04-4</td>
				<td>231-556-4</td>
				<td>Toxic for Reproduction (category 1B)</td>
			</tr>
			<tr>
				<td>Pentalead tetraoxide sulphate</td>
				<td>12065-90-6</td>
				<td>235-067-7</td>
				<td>Toxic for Reproduction (category 1A)</td>
			</tr>
			<tr>
				<td>Tetralead trioxide sulphate</td>
				<td>12202-17-4</td>
				<td>235-380-9</td>
				<td>Toxic for Reproduction (category 1A)</td>
			</tr>
			<tr>
				<td>Orange lead (lead tetroxide)</td>
				<td>1314-41-6</td>
				<td>215-235-6</td>
				<td>Toxic for Reproduction (category 1A)</td>
			</tr>
			<tr>
				<td>Lead monoxide (lead oxide)</td>
				<td>1317-36-8</td>
				<td>215-267-0</td>
				<td>Toxic for Reproduction (category 1A)</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="dec2016-europe-recalls-summary" class="bookmark"></a>
	<strong>Recall Cases Summary - Europe Recalls Summary (October and November 2016)</strong>
	<p>In Europe, when hazards are identified in consumer products, the products will be recalled and published in the <a href="http://ec.europa.eu/consumers/consumers_safety/safety_products/rapex/alerts/main/index.cfm?event=main.search#searchResults" target="_blank">Rapid Alert System</a>, which is updated weekly. The European recalls for October and November 2016 are summarized below:</p>
	<a href="/regulatory-updates/December-2016/dec2016-europe-recalls-summary" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<center><img src="https://s3.asiainspection.com/newsletters/2016_12_RegRecap/EU_hazards.gif" style="width:90%; max-width:850px;" /></center>
		<table>
			<tr>
				<td><b>Hazard</b></td>
				<td><b>Frequency</b></td>
			</tr>
			<tr>
				<td>Chemical Hazard</td>
				<td>66</td>
			</tr>
			<tr>
				<td>Choking Hazard</td>
				<td>63</td>
			</tr>
			<tr>
				<td>Electric Shock Hazard</td>
				<td>43</td>
			</tr>
			<tr>
				<td>Injury Hazard</td>
				<td>35</td>
			</tr>
			<tr>
				<td>Fire Hazard</td>
				<td>33</td>
			</tr>
			<tr>
				<td>Strangulation Hazard</td>
				<td>26</td>
			</tr>
			<tr>
				<td>Damage to Hearing Hazard</td>
				<td>12</td>
			</tr>
			<tr>
				<td>Other Hazards*</td>
				<td>31</td>
			</tr>
		</table>
		<p><b>*</b> Other Hazards include Asphyxiation Hazard, Burn Hazard, Entrapment Hazard, Environment Hazard, Laceration Hazard, Microbial Hazard & Suffocation Hazard with frequency less than 10.</p>
		<br />
		<center><img src="https://s3.asiainspection.com/newsletters/2016_12_RegRecap/EU_categories.gif" style="width:90%; max-width:850px;" /></center>
		<table>
			<tr>
				<td><b>Product Categories</b></td>
				<td><b>Frequency</b></td>
			</tr>
			<tr>
				<td>Toys and Childcare Articles</td>
				<td>106</td>
			</tr>
			<tr>
				<td>Fabric / Textile / Garment / Home Textile</td>
				<td>49</td>
			</tr>
			<tr>
				<td>Computer / Audio / Video / Other Electronics & Accessories</td>
				<td>24</td>
			</tr>
			<tr>
				<td>Lighting</td>
				<td>19</td>
			</tr>
			<tr>
				<td>Candles & Burning Items and Accessories</td>
				<td>16</td>
			</tr>
			<tr>
				<td>Other Categories #</td>
				<td>51</td>
			</tr>
		</table>
		<p><b>#</b> Other Categories include Cosmetics / Bodycare, Food Contact Material, Footwear, Furniture, Home Electrical Appliances (Hair Dryer, Iron, etc.), Homeware (Non-food Contact), Jewelry, Watch or other Fashion Accessories, Personal Protective Equipment (excludes eye protection), Sporting Goods / Equipment & Tools and Hardware with frequency less than 10.</p>
	
		<p>Download the complete <a href="https://s3.asiainspection.com/newsletters/2016_12_RegRecap/AI_ANSECO_eu_recalls_2016.12.pdf">Recalls Summary – EU (November 2016)</a></p>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="asia_news" class="bookmark"></a>
	<h2>ASIA NEWS</h2>
</div>

<div class="recapSection">
	<a name="china-nhfpc-updated" class="bookmark"></a>
	<strong>China NHFPC Issues Updated Food Contact Material Standards</strong>
	<p>On November 18, 2016, the China National Health and Family Planning Commission of the People’s Republic of China (NHFPC) approved and issued <a href="http://www.moh.gov.cn/sps/s7891/201611/06ed87a09dad4cf6aee48cd89efbef35.shtml" target="_blank">a list of updated or new standards</a> related to food contact materials in accordance to the Food Safety Law.</p>
	<a href="/regulatory-updates/December-2016/china-nhfpc-updated" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>There are total 53 food contact materials standards issued and they are summarized below:</p>
		<table>
			<tr>
				<td align="center"><b>Standard Code</b></td>
				<td align="center"><b>Title</b></td>
				<td align="center"><b>Implementation Date</b></td>
			</tr>
			<tr>
				<td>GB 4806.1-2016</td>
				<td>National Food Safety Standard - Food Contact Materials and Products - General Safety Requirements</td>
				<td>October 19, 2017</td>
			</tr>
			<tr>
				<td>GB 4806.3-2016</td>
				<td>National Food Safety Standard – Enamel Products</td>
				<td>April 19, 2017</td>
			</tr>
			<tr>
				<td>GB 4806.4-2016</td>
				<td>National Food Safety Standard – Ceramic Products</td>
				<td>April 19, 2017</td>
			</tr>
			<tr>
				<td>GB 4806.5-2016</td>
				<td>National Food Safety Standard – Glass Products</td>
				<td>April 19, 2017</td>
			</tr>
			<tr>
				<td>GB 4806.6-2016</td>
				<td>National Food Safety Standard – Food Contact Plastics Resins</td>
				<td>April 19, 2017</td>
			</tr>
			<tr>
				<td>GB 4806.7-2016</td>
				<td>National Food Safety Standard – Food Contact Plastic Materials and Articles</td>
				<td>April 19, 2017</td>
			</tr>
			<tr>
				<td>GB 4806.8-2016</td>
				<td>National Food Safety Standard – Food Contact Paper and Paperboard Materials and Products</td>
				<td>April 19, 2017</td>
			</tr>
			<tr>
				<td>GB 4806.9-2016</td>
				<td>National Food Safety Standard – Food Contact Metallic Materials and Products</td>
				<td>April 19, 2017</td>
			</tr>
			<tr>
				<td>GB 4806.10-2016</td>
				<td>National Food Safety Standard – Food Contact Coatings Materials and Surface Coatings</td>
				<td>April 19, 2017</td>
			</tr>
			<tr>
				<td>GB 4806.11-2016</td>
				<td>National Food Safety Standard – Food Contact Rubber Materials and Products</td>
				<td>April 19, 2017</td>
			</tr>
			<tr>
				<td>GB 4789.15-2016</td>
				<td>National Food Safety Standard – Food Microbiology - Examination Of Mold and Yeast Counts</td>
				<td>April 19, 2017</td>
			</tr>
			<tr>
				<td>GB 5009.156-2016</td>
				<td>National Food Safety Standard – Food Contact Materials and Products - Migration Test - General Rules For Preparation</td>
				<td>April 19, 2017</td>
			</tr>
			<tr>
				<td>GB 9685-2016</td>
				<td>National Food Safety Standard – Standard For The Use Of Additives In Food Contact Materials and Products</td>
				<td>October 19, 2017</td>
			</tr>
			<tr>
				<td>GB 14934-2016</td>
				<td>National Food Safety Standard – Sterilized Food Wares Or Drink Wares</td>
				<td>April 19, 2017</td>
			</tr>
			<tr>
				<td>GB 31604.11-2016 to GB 31604.49-2016<sup>1</sup></td>
				<td>National Food Safety Standard – Food Contact Materials and Products</td>
				<td>April 19, 2017</td>
			</tr>
		</table>
		<p><sup>1</sup> A total of 39 separated standards which include testing methods for content of different chemicals, for example, heavy metals, phthalates and sulphur dioxides etc.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="china-miit-updated-industrial-standards" class="bookmark"></a>
	<strong>China MIIT Issues New and Updated Industrial Standards</strong>
	<p>On October 22, 2016, the Ministry of Industry and Information Technology of the People’s Republic of China (MIIT) published <a href="http://www.miit.gov.cn/n1146295/n1652858/n1652930/n4509607/c5367745/content.html" target="_blank">Notice 2016-56 regarding the issuance of industrial standards</a>. 74 out of 605 of the issued standards are related to the textile industry. </p>
	<a href="/regulatory-updates/December-2016/china-miit-updated-industrial-standards" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In the notice, 605 industrial standards were issued and they cover the following industries:</p>
		<table>
			<tr>
				<td align="center"><b>Industries</b></td>
				<td align="center"><b>Number of Standards Issued</b></td>
			</tr>
			<tr>
				<td>Machinery</td>
				<td>220</td>
			</tr>
			<tr>
				<td>Aviation</td>
				<td>8</td>
			</tr>
			<tr>
				<td>Chemical Industry</td>
				<td>171</td>
			</tr>
			<tr>
				<td>Building Materials</td>
				<td>8</td>
			</tr>
			<tr>
				<td>Metallurgy</td>
				<td>48</td>
			</tr>
			<tr>
				<td>Nonferrous Metals</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Textiles</td>
				<td>74</td>
			</tr>
			<tr>
				<td>Light</td>
				<td>6</td>
			</tr>
			<tr>
				<td>Gold</td>
				<td>7</td>
			</tr>
			<tr>
				<td>Electronic</td>
				<td>15</td>
			</tr>
			<tr>
				<td>Communication</td>
				<td>47</td>
			</tr>
		</table>
		<p>Among the textile standards, they cover different requirements, for example:</p>
		<ul>
			<li>FZ/T 01028-2016 Textiles - Determination of Flammability - Horizontal Burning Rate</li>
			<li>FZ/T 01134-2016 Textiles - Quantitative Chemical Analysis - Mixtures of Aromatic Sulfonates with Certain Other Fibers</li>
			<li>FZ/T 01135-2016 Textiles - Quantitative Chemical Analysis - Mixtures of Polypropylene Fibers with Certain Other Fibers</li>
			<li>FZ/T 01136-2016 Textiles-Quantitative Chemical Analysis - Carbon Fibers and Mixtures of Certain Other Fibers Etc.</li>
		</ul>
		<p>All 74 textile industrial standards will be implemented on April 1, 2016.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="china-miit-standardization-lithium-ion-battery" class="bookmark"></a>
	<strong>China MIIT Issues Comprehensive Standardization System for Lithium-Ion Battery</strong>
	<p>On October 25, 2016, the Ministry of Industry and Information Technology of the People’s Republic of China (MIIT) issued <a href="http://www.miit.gov.cn/n1146295/n1652858/n1652930/n3757016/c5348650/content.html" target="_blank">Notice 2016-155 Related to Comprehensive Standardization System For Lithium-Ion Batteries</a>. The system aims to ensure that the lithium-ion battery industry has a good and sustainable development process to establish new standards or update current standards related to lithium-ion batteries. </p>
	<a href="/regulatory-updates/December-2016/china-miit-standardization-lithium-ion-battery" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>To improve the quality of lithium-ion batteries in the China market, MIIT planned to introduce more lithium-ion battery standards. The total number of standards will be increased from 50 currently to 231 by the year 2020. Meanwhile, current enforced standards will be reviewed and updated to provide better protection to citizens and their properties.</p>
		<p>The number of standards expected by 2020 is summarized below:</p>
		<table>
			<tr>
				<td></td>
				<td>Number of National Mandatory Standards</td>
				<td>Number of Industrial Standards</td>
			</tr>
			<tr>
				<td>Current</td>
				<td>26</td>
				<td>24</td>
			</tr>
			<tr>
				<td>Expected for new draft</td>
				<td>43</td>
				<td>138</td>
			</tr>
			<tr>
				<td>Total</td>
				<td>69</td>
				<td>162</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="japan-new-textile-care-labeling" class="bookmark"></a>
	<strong>Japan New Textile Care Labeling System in Effect</strong>
	<p>On December 1, 2016, the newly adopted care label system in standard JIS L 0001 (2014) is effective and replaces JIS L0217(1995). Only textile products with new care labeling symbols are allowed to be sold in the Japanese market.</p>
	<a href="/regulatory-updates/December-2016/japan-new-textile-care-labeling" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The symbols used in the care label will align with the international standard ISO 3758:2012 which applies to all textile articles in the form in which they are supplied to the end users. (See <a href="http://www.asiainspection.com/regulatory-updates/March-2016" target="_blank">Regulatory Recap: March 2016</a>)</p>
	</div><br />
</div>

<br /><p><i>This summary is not intended to be exhaustive nor should it be construed as legal advice.</i></p>