<!-- { "Title":"December 2017 Recap", "PublishDate":"2017-12-21", "Description":"NORTH AMERICA NEWS - On December 4, 2017, the Consumer Product Safety Commission (CPSC) issued a Direct Final Rule (16 CFR 1112 and 1250) through the Federal Register, 82 FR 57119, regarding the adoption of the updated standard, ASTM F963-17 Standard Consumer Safety Specification for Toy Safety." }-->
<div class="recapSectionHeader">
    <ol style="margin-top:10px;">
        <li style="margin-bottom:10px;"><a href="#north_america_news">NORTH AMERICA NEWS</a></li>
        <li style="margin-bottom:10px;"><a href="#australia_news">AUSTRALIA NEWS</a></li>
    </ol>
    <hr />
</div>

<div class="recapSectionHeader">
    <a name="north_america_news" class="bookmark"></a>
    <h2>NORTH AMERICA NEWS</h2>
</div>

<div class="recapSection">
    <a name="dec2017-us-cpsc-update-toys-safety-standard" class="bookmark"></a><strong>US CPSC Issues Direct Final Rule to Adopt Updated Toy Safety Standard, ASTM F963-17 
</strong>
    <p>On December 4, 2017, the Consumer Product Safety Commission (CPSC) issued a Direct Final Rule (16 CFR 1112 and 1250) through the Federal Register, <a href="https://www.gpo.gov/fdsys/pkg/FR-2017-12-04/pdf/2017-26009.pdf" target="_blank">82 FR 57119</a>, regarding the adoption of the updated standard, ASTM F963-17 Standard Consumer Safety Specification for Toy Safety.</p>
    <a href="/regulatory-updates/December-2017/dec2017-us-cpsc-update-toys-safety-standard" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>On August 24, 2017, a new version of the toy safety standard, ASTM F963-17, was published. On September 1, 2017, the Consumer Product Safety Commission (CPSC) was notified by ASTM of the updated standard publication. (See <a href="https://www.asiainspection.com/regulatory-updates/September-2017" target="_blank">Regulatory Recap: September 2017</a>)</p>
        <p>Recently, the CPSC issued the Direct Final Rule to confirm adoption of the updated standard with one exception. New text was added to the sound-producing toys test method in ASTM F963-17. However, it was considered to reduce safety because the text exempts push/pull toys from the A-weighted maximum sound pressure level requirements. Therefore, the CPSC determined that this provision should not be allowed to become part of the CPSC’s mandatory standard and no exemption is allowed.</p>
        <p>Meanwhile, in the rule, 16 CFR 1112 was amended to include that specified sections of ASTM F963-17 are required to be subject to third party testing and, therefore, the CPSC only accepts accredited third-party conformity assessment bodies to test for those sections. Apart from that amendment, 16 CFR 1250 was added to the Code of Federal Regulations to address that toys must comply with the provisions of ASTM F963-17.</p>
        <p>The effective date of the direct final rule to adopt the updated toy safety standard is February 28, 2018, unless significant adverse comments are received by January 3, 2018.</p>
    </div><br />
</div>

<div class="recapSection">
    <a name="dec2017-us-epa-updates-voluntary-consensus-formaldehyde" class="bookmark"></a><strong>US EPA Updates the Voluntary Consensus Standards for Formaldehyde in Composite Wood
</strong>
    <p>On October 25, 2017, the Environmental Protection Agency (EPA) issued a Direct Final Rule through the Federal Register, <a href="https://www.gpo.gov/fdsys/pkg/FR-2017-10-25/pdf/2017-23062.pdf" target="_blank">82 FR 49287</a>, regarding the update in voluntary consensus standards for formaldehyde emissions in composite wood.</p>
    <a href="/regulatory-updates/December-2017/dec2017-us-epa-updates-voluntary-consensus-formaldehyde" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>In the rule, multiple consensus standards have been updated, superseded or withdrawn. The key updates are summarized below:</p>
        <table>
            <tr>
                <td><b>Consensus standard before updates</b></td>
                <td><b>Consensus standard after updates</b></td>
                <td><b>Changes</b></td>

            </tr>
            <tr>
                <td>ANSI/AITC A190.1–2002 American National Standard for Structural Glued Laminated Timber</td>
                <td>ANSI A190.1–2017 Standard for Wood Products— Structural Glued Laminated Timber</td>
                <td>Updated version</td>
            </tr>
            <tr>
                <td>ANSI A208.1–2009 American National Standard for Particleboard</td>
                <td>ANSI A208.1–2016 American National Standard for Particleboard</td>
                <td>Updated version</td>
            </tr>
            <tr>
                <td>ANSI A208.2–2009 American National Standard for Medium Density Fiberboard for Interior Applications</td>
                <td>ANSI A208.2–2016 American National Standard for Medium Density Fiberboard for Interior Applications</td>
                <td>Updated version</td>
            </tr>
            <tr>
                <td>ANSI–HPVA HP–1–2009 American National Standard for Hardwood and Decorative Plywood</td>
                <td>ANSI–HPVA HP–1–2016 American National Standard for Hardwood and Decorative Plywood</td>
                <td>Updated version</td>
            </tr>
            <tr>
                <td>ASTM D5055–05 Standard Specification for Establishing and Monitoring Structural Capacities of Prefabricated Wood I-Joists</td>
                <td>ASTM D5055–16 Standard Specification for Establishing and Monitoring Structural Capacities of Prefabricated Wood I-Joists</td>
                <td>Updated version</td>
            </tr>
            <tr>
                <td>ASTM D5456–06 Standard Specification for Evaluation of Structural Composite Lumber Products</td>
                <td>ASTM D5456–14b Standard Specification for Evaluation of Structural Composite Lumber Products</td>
                <td>Updated version</td>
            </tr>
            <tr>
                <td>ASTM D5582–00 Standard Test Method for Determining Formaldehyde Levels from Wood Products Using a Desiccator</td>
                <td>ASTM D5582–14 Standard Test Method for Determining Formaldehyde Levels from Wood Products Using a Desiccator</td>
                <td>Updated version</td>
            </tr>
            <tr>
                <td>ASTM D6007–02 Standard Test Method for Determining Formaldehyde Concentrations in Air from Wood Products Using a Small-Scale Chamber</td>
                <td>ASTM D6007–14 Standard Test Method for Determining Formaldehyde Concentrations in Air from Wood Products Using a Small-Scale Chamber</td>
                <td>Updated version</td>
            </tr>
            <tr>
                <td>ASTM E1333–10 Standard Test Method for Determining Formaldehyde Concentration in Air and Emission Rates from Wood Products Using a Large Chamber</td>
                <td>ASTM E1333–14 Standard Test Method for Determining Formaldehyde Concentration in Air and Emission Rates from Wood Products Using a Large Chamber</td>
                <td>Updated version</td>
            </tr>
            <tr>
                <td>BS EN 717–2: 1995 Wood-based panels—Determination of formaldehyde release—Part 2: Formaldehyde release by the gas analysis method</td>
                <td>BS EN ISO 12460–3:2015 Wood-based panels—Determination of formaldehyde release. Part 3: Gas analysis method</td>
                <td>Withdrawn, superseded by BS EN ISO 12460– 3:2015.</td>
            </tr>
            <tr>
                <td>BS EN 120: 1992 Wood-based panels. Determination of formaldehyde content—Extraction method called the perforator method</td>
                <td>BS EN ISO 12460–5:2015 Wood-based panels—Determination of formaldehyde release. Part 5: Extraction method (called the perforator method)</td>
                <td>Withdrawn, superseded by BS EN ISO 12460– 5:2015.</td>
            </tr>
            <tr>
                <td>JIS A1460:2001(E) Building boards-determination of formaldehyde emission—Desiccator method</td>
                <td>JIS A1460:2015 Determination of the emission of formaldehyde from building boards—Desiccator method</td>
                <td>Updated version</td>
            </tr>
            <tr>
                <td>PS–1–07 Structural Plywood</td>
                <td>PS–1–09 Structural Plywood</td>
                <td>Updated version</td>
            </tr>
            <tr>
                <td>PS–2–04 Performance Standard for Wood-Based Structural-Use Panels</td>
                <td>PS–2–10 Performance Standard for Wood-Based Structural-Use Panels</td>
                <td>Updated version</td>
            </tr>
        </table>
        <p>The final rule became effective on December 11, 2017.</p>

    </div><br />
</div>

<div class="recapSection">
    <a name="dec2017-us-senator-reintroduces-bill-asbestos" class="bookmark"></a><strong>US Senator Reintroduces Bill to Propose Asbestos Restriction
</strong>
    <p>On November 2, 2017, US Senator Merkley introduced <a href="https://www.congress.gov/bill/115th-congress/senate-bill/2072/all-info" target="_blank">Senate Bill No. S.2072</a>, the Alan Reinstein Ban Asbestos Now Act of 2017. The bill proposes prohibitions on the manufacture, processing, use, distribution and disposal of asbestos and articles containing asbestos under the Toxic Substances Control Act (TSCA). </p>
    <a href="/regulatory-updates/December-2017/dec2017-us-senator-reintroduces-bill-asbestos" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>In the proposed bill, no person shall manufacture, process, use, distribute or dispose of any form of asbestos or article containing asbestos. This would be effective no later than 18 months after the enactment of the bill.  However, exemptions can be granted if it meets the following requirements:</p>
        <ul>
            <li style="margin-bottom:5px;">The use of asbestos is necessary to protect national security interests</li>
            <li style="margin-bottom:5px;">No reasonable alternative to the use of asbestos exists for the intended purpose</li>
            <li style="margin-bottom:5px;">The use of asbestos will not result in an unreasonable risk to health or the environment</li>
        </ul>
    </div><br />
</div>

<div class="recapSection">
    <a name="dec2017-california-oehha-new-chemicals-prop65" class="bookmark"></a><strong>US State of California OEHHA Adds New Chemicals to Proposition 65 List
</strong>
    <p>Recently, the California Office of Environmental Health Hazard Assessment (OEHHA) added certain chemicals to <a href="https://oehha.ca.gov/media/downloads/proposition-65/p65121517.pdf" target="_blank">the Proposition 65 List</a>. The new chemicals are as follows:</p>
    <a href="/regulatory-updates/December-2017/dec2017-california-oehha-new-chemicals-prop65" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The added chemicals meet the requirements for listing purposes of Proposition 65 as known to the State of California to cause Cancer toxicity. The chemical details are provided below:</p>
        <table>
            <tr>
                <td><b>Date of addition</b></td>
                <td><b>Chemical</b></td>
                <td><b>Chemical Abstracts Service Number (CAS No.)</b></td>
                <td><b>Types of Toxicity</b></td>
            </tr>
            <tr>
                <td rowspan="2">July 7, 2017</td>
                <td>Glyphosate</td>
                <td>1071-83-6</td>
                <td>Cancer</td>
            </tr>
            <tr>
                <td>Pentabromodiphenyl ether mixture [DE-71 (technical grade)]</td>
                <td>---</td>
                <td>Cancer</td>
            </tr>
            <tr>
                <td rowspan="3">October 27, 2017</td>
                <td>N,N-Dimethylformamide</td>
                <td>68-12-2</td>
                <td>Cancer</td>
            </tr>
            <tr>
                <td>2-Mercaptobenzothiazole</td>
                <td>149-30-4</td>
                <td>Cancer</td>
            </tr>
            <tr>
                <td>Tetrabromobisphenol A</td>
                <td>79-94-7</td>
                <td>Cancer</td>
            </tr>
            <tr>
                <td rowspan="2">November 10, 2017</td>
                <td>Perfluorooctane sulfonate (PFOS)</td>
                <td>1763-23-1</td>
                <td>Developmental</td>
            </tr>
            <tr>
                <td>Perfluorooctanoic acid (PFOA)</td>
                <td>335-67-1</td>
                <td>Developmental</td>
            </tr>
            <tr>
                <td rowspan="2">December 15, 2017</td>
                <td>Chlorpyrifos</td>
                <td>2921-88-2</td>
                <td>Developmental</td>
            </tr>
            <tr>
                <td>n-Hexane</td>
                <td>110-54-3</td>
                <td>Male Reproductive Toxicity</td>
            </tr>  
        </table>
    </div><br />
</div>

<div class="recapSection">
    <a name="dec2017-california-dtsc-new-priority-product" class="bookmark"></a><strong>US State of California DTSC Proposes New Priority Product</strong>
    <p>In November 2017, the California Department of Toxic Substances Control (DTSC) <a href="http://www.dtsc.ca.gov/LawsRegsPolicies/Regs/upload/Paint-Strippers_Proposed_Reg_Text.pdf" target="_blank">proposed amendment on California Code of Regulations to list paint or varnish strippers containing methylene chloride as priority products</a> to be regulated under the Safer Consumer Products (SCP) Regulations (See <a href="https://www.asiainspection.com/regulatory-updates/August-2016" target="_blank">Regulatory Recap: August 2016</a>). </p>
    <a href="/regulatory-updates/December-2017/dec2017-california-dtsc-new-priority-product" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>In the proposed amendment, paint or varnish stripper is defined as any product designed to break down paint, varnish or any other surface coating to facilitate its removal from any surface. It applies to products for both indoor or outdoor use.</p>
        <p>Upon approval, manufacturers of paint or varnish stripper containing methylene chloride are required to notify the DTSC within 60 days. </p>
    </div><br />
</div>

<div class="recapSection">
    <a name="dec2017-san-francisco-approves-prohibition-flame-retardants" class="bookmark"></a><strong>US State of California - City and County of San Francisco Approves Prohibition of Certain Flame Retardants in Upholstered Furniture and Juvenile Products</strong>
    <p>On November 3, 2017, the proposal, <a href="https://sfgov.legistar.com/View.ashx?M=F&ID=5539758&GUID=CFBA7447-EE27-45D3-92A9-C7E2F5CF5D32" target="_blank">Ordinance No. 211-17</a>, to amend Environment Code – Flame Retardant Chemicals in Upholstered Furniture and Juvenile Products, was approved by the Mayor of San Francisco.
</p>
    <a href="/regulatory-updates/December-2017/dec2017-san-francisco-approves-prohibition-flame-retardants" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The approved amendment revises the existing law to restrict flame retardants at a level above 1000 ppm in upholstered furniture, reupholstered furniture and juvenile products. The flame retardant chemicals include, but are not limited to, halogenated, phosphorous based, nitrogen based, and nanoscale flame retardants.</p>
        <p>The implementation of the new restriction begins January 1, 2019. Meanwhile, if the product contains electrical or electronic components, the implementation will begin July 1, 2019.</p> 
    </div><br />
</div>

<div class="recapSection">
    <a name="dec2017-new-york-amendment-toxic-free-toys" class="bookmark"></a><strong>US State of New York  - County of Suffolk Approves Amendment on Toxic Free Toys Act
</strong>
    <p>On October 23, 2017, the County Executive approved <a href="https://apps2.suffolkcountyny.gov/legislature/resos/resos2017/i1682-17.pdf" target="_blank">the amendment Resolution No. 884-2017</a> to amend the Toxic Free Toys Act. Since the Legislature finds that the County has encountered problems in implementing the Act, the amendment aims to correct the problem and ensure that testing is done accurately and effectively.</p>
    <a href="/regulatory-updates/December-2017/dec2017-new-york-amendment-toxic-free-toys" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The key amendments are summarized below:</p>
        <ul>
            <li style="margin-bottom:5px;">
                Removed Cobalt from the toxic heavy metal content restriction and updated the concentration limits as below:<br /><br />
                <table>
                    <tr>
                        <td></td>
                        <td><b>Before amendment</b></td>
                        <td><b>After amendment</b></td>
                    </tr>
                    <tr>
                        <td>Mercury</td>
                        <td>40 ppm</td>
                        <td>60 ppm</td>
                    </tr>
                    <tr>
                        <td>Antimony</td>
                        <td>40 ppm</td>
                        <td>60 ppm</td>
                    </tr>
                    <tr>
                        <td>Arsenic</td>
                        <td>40 ppm</td>
                        <td>25 ppm</td>
                    </tr>
                    <tr>
                        <td>Cobalt</td>
                        <td>40 ppm</td>
                        <td>-</td>
                    </tr>
                </table>
            </li>
            <li style="margin-bottom:5px;">Clarified the scope of cadmium restriction applies to accessible content</li>
            <li style="margin-bottom:5px;">Removed preemption to Federal legislation and required the County to automatically incorporate any additional metals restriction levels under Federal law on children’s products in the future </li>
            <li style="margin-bottom:5px;">Clarified the testing procedures in random inspections of retailers of children’s products</li>
        </ul>
        <p>The amendment became effective on November 1, 2017.</p>
    </div><br />
</div>

<div class="recapSectionHeader">
    <a name="australia_news" class="bookmark"></a>
    <h2>AUSTRALIA NEWS</h2>
</div>

<div class="recapSection">
    <a name="dec2017-australia-updated-sunglasses-standard" class="bookmark"></a><strong>Australia Enforces Updated Sunglasses and Fashion Spectacles Safety Standard</strong>
    <p>In November 2017, the updated <a href="https://www.legislation.gov.au/Details/F2017L01391" target="_blank">Consumer Goods (Sunglasses and Fashion Spectacles) Safety Standard 2017</a> entered into force. The updated safety standard adopted a new version of AS/NZS 1067.1 replacing the previous Consumer Product Safety Standard: Sunglasses and Fashion Spectacles.</p>
    <a href="/regulatory-updates/December-2017/dec2017-australia-updated-sunglasses-standard" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>In the updated safety standard, a new version of Australian/New Zealand Standard, AS/NZS 1067.1:2016 Eye and Face Protection – Sunglasses and Fashion Spectacles was adopted except for certain clauses. The transition period of the safety standard was given until July 1, 2019. Until July 1, 2019, sunglasses and fashion spectacles may comply with either the old (2003) or the new version (2016) of AS/NZS 1067.1.</p>
    </div><br />
</div>

<div class="recapSection">
    <a name="dec2017-australia-updated-baby-bath-standard" class="bookmark"></a><strong>Australia Enforces Updated Baby Bath Aids Standards Adopting the US Standard</strong>
    <p>In November 2017, the updated <a href="https://www.legislation.gov.au/Details/F2017L01394" target="_blank">Consumer Goods (Baby Bath Aids) Safety Standard 2017</a> entered into force. The new safety standard updated the requirements and partially adopted US Standard, ASTM F1967-13 Standard Consumer Safety Specification for Infant Bath Seats.</p>
    <a href="/regulatory-updates/December-2017/dec2017-australia-updated-baby-bath-standard" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>In the updated safety standard, baby bath aids and any packaging shall meet the warning statement content requirements.  An example is provided below:</p>
        <center><img src="https://s3.asiainspection.com/newsletters/2017-12-Recap/baby-drown-warning.png" style="max-width:100%;" /></center>
        <p>Apart from warning content requirements, the warning statement shall be fixed permanently, verified through specific subclause in ASTM F1967-13, onto the product and located in a conspicuous place that is clearly visible.</p>
    </div><br />
</div>