<!-- { "Title":"February 2016 Recap", "PublishDate":"2016-03-01", "Description":"USA FEDERAL NEWS - In January 2016, the Consumer Product Safety Commission (CPSC) launched the 'Regulatory Robot', a new online tool that will support small businesses involved in the manufacturing of consumer products. Businesses are advised to use the..." }-->
<ol style="margin-top:10px;">
	<li style="margin-bottom:10px;"><a href="#usa_federal_news">USA FEDERAL NEWS</a>
	<li style="margin-bottom:10px;"><a href="#usa_state_news">USA STATE NEWS</a>
	<li style="margin-bottom:10px;"><a href="#international_news_–_north_america">INTERNATIONAL NEWS – NORTH AMERICA</a>
	<li style="margin-bottom:10px;"><a href="#international_news_–_south_america">INTERNATIONAL NEWS – SOUTH AMERICA</a>
	<li style="margin-bottom:10px;"><a href="#international_news_–_europe">INTERNATIONAL NEWS – EUROPE</a>
	<li style="margin-bottom:10px;"><a href="#international_news_–_australia">INTERNATIONAL NEWS – AUSTRALIA</a>
	<li style="margin-bottom:10px;"><a href="#international_news_–_asia">INTERNATIONAL NEWS – ASIA</a>
	<li style="margin-bottom:10px;"><a href="#international_news_–_asia_–_china">INTERNATIONAL NEWS – ASIA – CHINA</a>
</ol>
<hr />

<a name="usa_federal_news" class="bookmark"></a>
<h2>USA FEDERAL NEWS</h2>

<strong>CPSC Launches New Portal to Guide Companies through Regulatory Requirements</strong>
<p>In January 2016, the Consumer Product Safety Commission (CPSC) launched the "Regulatory Robot," a new online tool that will support small businesses involved in the manufacturing of consumer products. Businesses are advised to use the Regulatory Robot before manufacturing or importing their consumer products to help ensure their safety and regulatory compliance. The Regulatory Robot includes all of the CPSC requirements, so if the user provides relevant information correctly, no CPSC requirement will be overlooked.</p>
<p>The Regulatory Robot asks the user a series of simple questions on product properties, product design, and the manufacturing process, for example:</p>
<ol style="margin-top:10px;">
	<li style="margin-bottom:10px;">Is your product a “children’s product”?</li>
	<li style="margin-bottom:10px;">Does your product contain small balls?</li>
	<li style="margin-bottom:10px;">Does your product contain paint or surface coating? </li>
</ol>

<p>Users will be provided guidance to clarify the terms and definitions. On average, it should take a new user 15 minutes complete the questionnaire and after that, a detailed report will be generated immediately to guide the user through all important safety requirements that the products must comply with. Additionally, any exceptions and exemptions will be listed in the report. </p>
<p>To read more, <a href="https://business.cpsc.gov/en/Business--Manufacturing/Regulatory-Robot/Safer-Products-Start-Here/" target="_blank">click here</a>.</p>

<strong>CPSC’s Direct Final Rule to Clarify Component Part Testing and Lead in Textiles Comes into Force</strong>
<p>On February 12, 2016, the Consumer Product Safety Commission’s (CPSC) amendments to clarify when component part testing can be used and which textile products have been determined not to exceed the allowable lead content limits became effective. </p>
<p>See below for a summary of the amendments:</p>
<p><u>16 CFR 1109, Clarification of the Component Part Rule</u></p>
<p>Subpart A of 16 CFR 1109 provides the general requirements for component part testing, and subparts B and C provide for additional conditions for specific products and requirements. The amendment clarifies that component part testing can be used for products or requirements other than those explicitly specified in 16 CFR 1109 Subpart B (lead, heavy metal and phthalates content in paint and substrate) and Subpart C (composite testing). </p>
<p>The amendment also brings two other provisions of the component part rule up to date.</p>
<p>Section 1109.11 (a) updates the Toy standard reference to ASTM F963-11 from ASTM F963-08.</p>
<p>Section 1109.13 addresses when a certifier may rely on component part testing for phthalates in children’s toys and child care articles. The amendment adds a reference to the Commission’s guidance concerning inaccessible component parts (16 CFR part 1199). This change will make the provision concerning phthalates (section 1109.13) consistent with the provision concerning lead (section 1109.12) and will help certifiers understand which components are inaccessible and do not need to be tested for phthalate content.</p>
<p><u>16 CFR 1500.91, Clarification of the Textile Lead Determination</u></p>
<p>CPSIA Section 101(a) provides that products designed or intended primarily for children ages 12 and younger may not contain more than 100 ppm of lead. A determination by the CPSC in 16 CFR 1500.91 that a material or product does not contain a lead level that exceeds 100 ppm relieves the material or product from the third party testing requirement.</p>
<p>Section 1500.91(d)(7) states that such a determination applies to “textiles (excluding after-treatment applications, including screen prints, transfers, decals, or other prints) consisting of [various fibers].” Thus, the rule determined that dyed or undyed textiles do not contain lead. This rule clarifies that “other prints” referred only to those after-treatment applications that use non-dye substances, in which the non-dye substances do not become part of the fiber matrix but remain a surface coating, could contain lead, and are subject to the testing required under the CPSIA for children’s products.</p>

<strong>CPSC Updates Rule on Staff Involvement in Voluntary Standards Activities</strong>
<p>On February 2, 2016, the Consumer Product Safety Commission (CPSC) published a final rule to amend 16 CFR 1031, allowing their staff to be involved in voluntary standard development groups as voting members and in leadership roles, subject to prior approval by CPSC's Office of the Executive Director. The final rule is effective 30 days after the publication.</p>
<p>There are many voluntary standards published by organizations such as ASTM International, the American National Standards Institute (“ANSI”), and Underwriters Laboratories Inc. (“UL”) that address the safety of consumer products under the jurisdiction of the CPSC.  Per a previously published U.S. Government Accountability Office (“GAO”) report, it is expected that the increased involvement of the CPSC in the voluntary standards development activities could result in stronger voluntary standards, without compromising the CPSC's independence.</p>
<p>To read more <a href="https://www.federalregister.gov/articles/2016/02/02/2016-01778/commission-participation-and-commission-employee-involvement-in-voluntary-standards-activities" target="_blank">click here</a>.</p>

<strong>Federal Food, Drug, and Cosmetic Act to Prohibit Rinse-off Cosmetics Containing Intentionally-Added Plastic Microbeads</strong>
<p>On December 28, 2015, Bill H.R.1321 “Microbead-Free Waters Act of 2015” was approved and adopted in the U.S. Congress to amend the Federal Food, Drug and Cosmetic Act. The amended act became public law No: 114-114 and prohibits the sale and distribution of rinse-off cosmetics that contain plastic microbeads. The prohibition was scheduled as follows:</p>
<p><u>Table 1. Summary of the Effects and Scope of Prohibition of “Microbead-Free Waters Act of 2015”</u></p>
<table>
	<tr>
		<td></td>
		<td>Rinse-off cosmetics containing plastic microbeads</td>
		<td>Rinse-off cosmetics containing plastic microbeads<br />(Non-prescription drug)</td>
	</tr>
	<tr>
		<td>July, 1 2017</td>
		<td>Prohibition of manufacturing</td>
		<td>-</td>
	</tr>
	<tr>
		<td>July, 1 2018</td>
		<td>Prohibition of sale and distribution</td>
		<td>Prohibition of manufacturing</td>
	</tr>
	<tr>
		<td>July, 1 2019</td>
		<td>-</td>
		<td>Prohibition of sale and distribution</td>
	</tr>
</table>
<p>In addition, the amendment clarified definitions of the terms “plastic microbead” and “rinse-off cosmetics.”</p>
<ol style="margin-top:10px;">
	<li style="margin-bottom:10px;">“Plastic microbead” is defined as any solid plastic particle intended to exfoliate or cleanse the human body, where the size of the particle is equal to or not greater than 5 mm;</li>
	<li style="margin-bottom:10px;">The term “rinse-off cosmetics” is to include toothpaste.</li>
</ol>
<p>To read more, <a href="https://www.congress.gov/bill/114th-congress/house-bill/1321/text?q=%7B%22search%22%3A%5B%22%5C%22hr1321%5C%22%22%5D%7D&resultIndex=1" target="_blank">click here</a>.</p>

<strong>New Energy Efficiency Requirements for External Power Supplies</strong>
<p>On November 30, 2015, the U.S. Department of Energy issued amended energy efficiency regulations for external power supplies. The new standards go into effect on February 10, 2016 and will impact manufacturers that use external power supply components, such as battery chargers or AC transformers, in their products.</p>
<p>The new standards regulate minimum average efficiency in active mode and maximum power in no-load mode, depending on the rated output voltage of the product's external power supply unit.</p>
<p>In addition, this amendment affects not only household electrical appliances, but also toys with external power supplies, and promotional products such as battery chargers for mobile devices.</p>
<p>To read more <a href="http://www.regulations.gov/#!documentDetail;D=EERE-2008-BT-STD-0005-0219" target="_blank">click here</a>.</p>

<a name="usa_state_news" class="bookmark"></a>
<h2>USA STATE NEWS</h2>

<strong>Vermont Approves Chemicals of High Concern in Children’s Product Rule</strong>
<p>On November 19, 2015, the Vermont Legislative Council approved a rule under Act 188 requiring manufacturers of children’s products to report the presence of any of the 66 “chemicals of high concern to children” (CHCC) in their products, identified by brand name and product model. </p>
<p>Beginning July 1, 2016, manufacturers of children's products that are sold, offered for sale or distributed in Vermont must disclose information to the Department of Health on each CHCC in a children’s product, if a CHCC is:</p>
<ol style="margin-top:10px;">
	<li style="margin-bottom:10px;">intentionally added to a children’s product at a level above the Practical Quantification Limit (PQL) produced by the manufacturer; or</li>
	<li style="margin-bottom:10px;">present in a children’s product produced by the manufacturer as a contaminant at a concentration of 100 parts per million or greater.</li>
</ol>
<p>The 66 chemicals on the current Vermont CHCC list are identical to those on Washington State’s CHCC list.  Beginning July 1, 2017, the Vermont Commissioner of Health will review the list, and biennially thereafter, to determine if additional chemicals should be added. </p>
<p>To read more, <a href="http://www.leg.state.vt.us/DOCS/2014/ACTS/ACT188.PDF" target="_blank">click here</a>.</p>

<strong>Rockland County Amends Toxic Free Toys Act</strong>
<p>On December 15, 2015, the Rockland County Legislature in the State of New York proposed amendments to the Toxic Free Toys Act (Local Law No. 3 of 2015) to align the county law with Section 396-k of the New York General Business Law and other applicable New York State and Federal regulations, and authorize the county of Rockland to enforce these regulations in order to protect infants and children from the harmful effects of toxic chemicals. The new Local Law No. 7 of 2015 was signed by the county executive on January 6, 2016 and becomes effective 30 days after it is filed with the New York State Secretary of State.</p>
<p>The amended law clarifies the definition of the term “children’s product”. It also removes the list of seven chemicals originally prohibited by the law and added a clause to recognize pre-emption by related New York State and U.S. federal laws, presumably to avoid the threat of lawsuits from industry coalitions. </p>
<p>The law's prohibition would not apply to:</p>
<ol style="margin-top:10px;">
	<li style="margin-bottom:10px;">Used children’s products or used children’s apparel sold or distributed for free at second- hand stores, yard sales, on the Internet, or donated to charities;</li>
	<li style="margin-bottom:10px;">Protective sporting equipment designed to prevent injury;</li>
	<li style="margin-bottom:10px;">Children’s products or apparel, the unavailability of which could pose an unreasonable risk to public health, safety, or welfare, as proved by clear and convincing evidence.</li>
</ol>
<p>References: <a href="http://rocklandgov.com/files/9314/5434/1023/local_law_7_of_2015_with_cert.pdf" target="_blank">click here</a>.</p>

<strong>Albany County Adopts Proposal to Amend the Toxic Free Toys Act</strong>
<p>On December 28, 2015 the Albany County Legislature in the State of New York adopted Local Law “P” (a local law to protect infants and children from harmful health effects of unnecessary exposure to toxic chemicals) which amended the existing Toxic Free Toys Act (Local Law 1 for 2015; Local Law “J” for 2014).  The proposal includes the same seven chemicals restricted in the previous law but changes the requirement from “prohibited” to a specific concentration value (see table below).  </p>
<p>The law applies to children’s products and children’s apparel.  Excluded from the definition of children’s product are batteries, consumer electronics or electronic components, paper products, or any drug, biologic, medical device, food, or food additive regulated by the Food and Drug Administration.  The law does not apply to used Children’s Products that are sold or distributed for free at second hand stores, yard sales, on the internet, or donated to charities.  It also does not apply to protective sporting equipment designed to prevent injury.  </p>
<p>If enacted the law will take effect July 1, 2016.</p>
<p>If a Federal Standard is issued that sets a Children’s Product safety standard with requirements that include the presence of specific chemicals or the test methods required to be used to determine conformance to the standard, the applicable Federal Standard shall be used instead of the applicable section for the specific chemical unless the State of New York or the County of Albany obtains a ruling from the Consumer Product Safety Commission that the standards established by the State or County are exempt pursuant to the Consumer Product Safety Act, Title 15, Chapter 47, Section 2075 from the requirement of identicality with the Federal standards.</p>

<table>
	<tr>
		<td></td>
		<td>Local Law 1 for 2015 (Local Law  “J” for 2014)</td>
		<td>Local Law “P” to amend Local Law 1 for 2015</td>
	</tr>
	<tr>
		<td>Scope</td>
		<td colspan="2">Products and apparel for children up to the age of 12</td>
	</tr>
	<tr>
		<td>Antimony</td>
		<td>Prohibited</td>
		<td>≤ 60 ppm</td>
	</tr>
	<tr>
		<td>Arsenic</td>
		<td>Prohibited</td>
		<td>≤ 25 ppm</td>
	</tr>
	<tr>
		<td>Benzene</td>
		<td>Prohibited</td>
		<td>≤ 100 ppm</td>
	</tr>
	<tr>
		<td>Cadmium</td>
		<td>Prohibited</td>
		<td>≤ 75 ppm</td>
	</tr>
	<tr>
		<td>Cobalt</td>
		<td>Prohibited</td>
		<td>≤ 40 ppm</td>
	</tr>
	<tr>
		<td>Lead</td>
		<td>Prohibited</td>
		<td>≤ 90 ppm (paints or similar surface coatings)<br />≤ 100 ppm (accessible substrates)</td>
	</tr>
	<tr>
		<td>Mercury</td>
		<td>Prohibited</td>
		<td>≤ 60 ppm</td>
	</tr>
</table>

<strong>California - Latest Proposal of California Proposition 65 Warning Regulations Released by OEHHA</strong>
<p>OEHHA has released a new proposed version of its regulations governing Proposition 65 Warnings. Rather attempting to complete the previous rulemaking proposal, which would have required completion by January 2016, OEHHA has withdrawn that proposal and started a new rulemaking process.  The new proposal amends the previous proposal based on the comments received.  This latest proposal would replace the current warning regulations in Title 27, Article 6 of the California Code of Regulations.</p>

<strong>The significant changes in the new proposal are:</strong>
<ul style="margin-top:10px;">
	<li style="margin-bottom:10px;"><strong>Eliminates requirement to list any of the 12 specific chemicals.</strong> The previous version of the regulations singled out twelve chemicals that, if present in a product above the safe harbor level, were required to be specifically mentioned in the warning.  The new proposal requires that if a product contains one or more chemicals above the safe harbor level, only one of them is required to be specifically named in the warning.  You may choose any of those chemicals to be used on the warning.  NOTE: An exception to this is for an exposure specific regulation where the warning requires you to name a specific chemical.</li>
	<li style="margin-bottom:10px;"><strong>Effective date and sell through period.</strong> The proposed regulation would become effective two years after the date of adoption. A warning for a product manufactured prior to the effective date will be considered compliant as long as it complies with the September 2008 warning regulation.  </li>
	<li style="margin-bottom:10px;"><strong>Supplemental Information.</strong> Clarifies that supplemental information can be provided, in addition to the warning, but it cannot contradict the warning.  Supplemental information may not be substituted for the warning requirement.  </li>
	<li style="margin-bottom:10px;"><strong>Clarification of responsibilities for providing clear and reasonable warnings:</strong>
		<ul style="margin-top:10px;">
			<li style="margin-bottom:10px;">Manufacturer, producer, packager, distributor, or importer is required to either:
				<ul style="margin-top:10px;">
					<li style="margin-bottom:10px;">Affix a label to the product bearing a warning as required <b>or</b></li> 
					<li style="margin-bottom:10px;">Provide a written notice to the authorized agent for the retailer that meets the following requirements:
						<ul style="margin-top:10px;">
							<li style="margin-bottom:10px;">That a warning is required for the product;</li>
							<li style="margin-bottom:10px;">Includes the exact name or description of the product or specific identifying information such as UPC;</li>
							<li style="margin-bottom:10px;">Includes all necessary warning materials such as labels, labeling, shelf signs or tags as required or offers to provide such materials at no charge to the retailer;</li>
							<li style="margin-bottom:10px;">Has obtained confirmation receipt of the notice from the retailer;</li>
							<li style="margin-bottom:10px;">Has the written notice renewed and receipt confirmed by retailer at least every 180 days for the first year after the effective date, then annually while the product is sold in California;</li>
							<li style="margin-bottom:10px;">NOTE: Must notify the retailer with an additional notice within 90 days if a new chemical or change to Cancer or Reproductive toxicity is required to be included in the warning.</li>
						</ul>
					</li>
				</ul>
			</li>
			<li style="margin-bottom:10px;"><strong>Retailer Requirements:</strong>
				<ul style="margin-top:10px;">
					<li style="margin-bottom:10px;">Retailer is responsible for the placement and maintenance of warning materials received from Manufacturer;</li>
					<li style="margin-bottom:10px;">Retailer is responsible for providing the warning themselves when one or more of the following conditions exist:
						<ul style="margin-top:10px;">
							<li style="margin-bottom:10px;">The retailer is selling the product under a brand or trademark owned or licensed by the retailer or an affiliated entity;</li>
							<li style="margin-bottom:10px;">The retailer has knowingly or intentionally introduced a listed chemical into the product, or caused a listed chemical to be created;</li>
							<li style="margin-bottom:10px;">The retailer has covered, obscured or altered a warning label that has been affixed by the manufacturer;</li>
							<li style="margin-bottom:10px;">The retailer has received warning information and materials, and has sold the product without conspicuously posting those warning materials;</li>
							<li style="margin-bottom:10px;">The retailer has actual knowledge of the potential product exposure requiring warning, and there is no manufacturer, producer, packager, distributor, or importer of the product who is a “person in the course of doing business” under Section 25249.11(b), and the retailer has designated an agent for service of process in California or has a place of business in California.</li>
						</ul>
					</li>
				</ul>
			</li>
			<li style="margin-bottom:10px;">Allows a manufacturer, producer, packager, distributor, or importer to enter into a written agreement with the retailer to allocate legal responsibility among themselves for providing the warning which will supersede the above requirements as long as the warning provided to the consumer meets the requirements.</li>
		</ul>
	</li>
	<li style="margin-bottom:10px;"><strong>Court-ordered settlements or judgment.</strong> Parties to court-ordered settlements or judgments are deemed to be providing a “clear and reasonable” warning if the warning fully complies with the settlement or judgment.</li>
	<li style="margin-bottom:10px;"><strong>Type Size.</strong> Clarifies that the type size on shelf tags, signs or point-of-sale displays be no smaller than half the largest type size on the display.  In no case can the warning appear in a type size smaller than 8-point type.  Type size for warnings on product labels must be in a size no smaller than the largest type size used for other information on the product.  In no case can the warning appear in a type size smaller than 6-point type.</li>
</ul>
<p>In addition to the generic warnings, OEHHA has determined that certain product, chemical, and environmental scenarios require specific methods of transmission and content of warning.   Exposure in one of the following specific product, chemical, and area exposure warnings must comply with the regulations for that particular category, and the use of a generic warning is not acceptable:</p>
<ul style="margin-top:10px;">
	<li style="margin-bottom:10px;">Food Exposure Warnings</li>
	<li style="margin-bottom:10px;">Alcoholic Beverage Exposures</li>
	<li style="margin-bottom:10px;">Food and Non-Alcoholic Beverage Exposure Warnings for Restaurants</li>
	<li style="margin-bottom:10px;">Prescription Drug Exposure and Emergency Medical or Dental Care Exposure Warnings</li>
	<li style="margin-bottom:10px;">Dental Care Exposure</li>
	<li style="margin-bottom:10px;">Raw Wood Product Exposure Warnings</li>
	<li style="margin-bottom:10px;">Furniture Products</li>
	<li style="margin-bottom:10px;">Diesel Engine Exposure Warnings [Except Passenger Vehicle Engines]</li>
	<li style="margin-bottom:10px;">Passenger Vehicles</li>
	<li style="margin-bottom:10px;">Recreational Vehicle Exposure Warnings</li>
	<li style="margin-bottom:10px;">Enclosed Parking Facilities </li>
	<li style="margin-bottom:10px;">Amusement Park Exposure Warnings</li>
	<li style="margin-bottom:10px;">Petroleum Products Warnings (Environmental Exposures)</li>
	<li style="margin-bottom:10px;">Service Stations and Vehicle Repair Facility Warnings</li>
	<li style="margin-bottom:10px;">Designated Smoking Area Exposure Warnings</li>
</ul>

<strong>California - Proposition 65 Website Regulation Approved</strong>
<p>On January 19, 2016, the final version of the Office of Environmental Health Hazard Assessment (OEHHA) proposal to create a website which will provide supplemental information about warnings for chemicals under Proposition 65 was approved by the Office of Administrative Law. </p>
<p>The regulation requires the following:</p>
<ul style="margin-top:10px;">
	<li style="margin-bottom:10px;">OEHHA will develop and maintain a website to provide information to the public concerning exposures to listed chemicals for which warnings are being provided.  NOTE: Although the new regulation will be effective as of April 1, 2016, it may take OEHHA some time to get the website running.</li>
	<li style="margin-bottom:10px;">The website will:
		<ul style="margin-top:10px;">
			<li style="margin-bottom:10px;">Provide information concerning exposures to listed chemicals, including common routes or paths or exposure;</li>
			<li style="margin-bottom:10px;">Provide strategies for reducing or avoiding exposure to those chemicals;</li>
			<li style="margin-bottom:10px;">Provide links to other information, as appropriate, to assist individuals wanting to obtain information about the chemicals, their effects, nutritional benefits, health concerns, etc.;</li>
			<li style="margin-bottom:10px;">Provide reasonably available information concerning human exposure;</li>
			<li style="margin-bottom:10px;">Provide a process to allow a person to request correction of material provided on the website;</li>
			<li style="margin-bottom:10px;">Provide a disclaimer that OEHHA cannot assure the accuracy of information it has received from third parties.</li>
		</ul>
	</li>
	<li style="margin-bottom:10px;">When requested by OEHHA, the manufacturer, producer, distributor, or importer of a product, including food, or a particular business that is providing a warning, has 90 days to provide information that will be used to develop content for the website.  If the business is not in the possession or control of such information, they are not required to procure it to provide to OEHHA.</li>
	<li style="margin-bottom:10px;">Providing the required information to OEHHA is not deemed to constitute compliance with the requirement to provide a “clear and reasonable” warning, and failure to comply with this request does not constitute a violation.</li>
</ul>

<strong>California Proposition 65: Recent Settlements and 60-Day Notices</strong>
<p>In 1986, California voters approved an initiative titled California Proposition 65 to address their growing concerns about exposure to toxic chemicals. Since its origin, there have been many lawsuits which have resulted in reformulations of consumer products containing carcinogenic and reproductively harmful chemicals on the Cal Prop 65 list.</p>
<p>Recent settlements from Q1 of 2016 include the following:</p>

<table>
	<tr>
		<td><strong>Source</strong></td>
		<td><strong>Chemical</strong></td>
		<td><strong>Limits</strong></td>
	</tr>
	<tr>
		<td>Brass Adapters </td>
		<td>Lead</td>
		<td>Less than or equal to 100 ppm Lead for any accessible component</td>
	</tr>
	<tr>
		<td>Brass Knob Bases </td>
		<td>Lead</td>
		<td>Less than or equal to 90ppm Lead and Less than or equal to 1.0 microgram Lead by NIOSH 9100 in any accessible component</td>
	</tr>
	<tr>
		<td>Children's Play Tents</td>
		<td>Tris(1,3-dichloro-2-propyl) phosphate (TDCPP) </td>
		<td>Eliminate exposure to TDCPP</td>
	</tr>
	<tr>
		<td>Clothing Made with Leather, Vinyl or Imitation Leather Materials </td>
		<td>Lead</td>
		<td>Paint or Surface Coatings on accessible components less than or equal to 90ppm<hr />PVC accessible components less than or equal to 200ppm<hr />All other accessible components other than cubic zirconia, crystal, glass or rhinestones less than or equal to 300ppm.</td>
	</tr>
	<tr>
		<td>Copper Tubing Kits; Nylon Tubing Kits; </td>
		<td>Lead</td>
		<td>Less than or equal to 100ppm Lead for any accessible component</td>
	</tr>
	<tr>
		<td>Footwear made with leather, vinyl or imitation leather </td>
		<td>Lead</td>
		<td>Paint or Surface Coatings on accessible components less than or equal to 90ppm<hr />PVC accessible components less than or equal to 200ppm<hr />All other accessible components other than cubic zirconia, crystal, glass or rhinestones less than or equal to 300ppm.</td>
	</tr>
	<tr>
		<td>Fridge mats</td>
		<td>Diisononyl phthalate (DINP); </td>
		<td>Less than or equal to 1000ppm DINP</td>
	</tr>
	<tr>
		<td>Fuel Injection Pressure Tester Hose </td>
		<td>Di(2-ethylhexyl)phthalate (DEHP); Diisononyl phthalate (DINP); </td>
		<td>Less than or equal to 1000ppm DEHP and DINP</td>
	</tr>
	<tr>
		<td>Garden Hoses </td>
		<td>Di(2-ethylhexyl)phthalate (DEHP); Diisononyl phthalate (DINP); </td>
		<td>Less than or equal to 1000ppm DEHP and DINP</td>
	</tr>
	<tr>
		<td>Glass Dressing Shaker Bottles with Exterior Designs; </td>
		<td>Lead</td>
		<td>Less than or equal to 100ppm Lead and Less than or equal to 1.0 microgram Lead by NIOSH 9100</td>
	</tr>
	<tr>
		<td>Gripper pads </td>
		<td>Diisononyl phthalate (DINP) </td>
		<td>Less than or equal to 1000ppm DINP</td>
	</tr>
	<tr>
		<td>Hand tools </td>
		<td>Di(2-ethylhexyl)phthalate (DEHP)</td>
		<td>Less than or equal to 1000 ppm DEHP</td>
	</tr>
	<tr>
		<td>Hydraulic Water Hoses </td>
		<td>Di(2-ethylhexyl)phthalate (DEHP); Diisononyl phthalate (DINP); </td>
		<td>Less than or equal to 1000 ppm DEHP and DINP</td>
	</tr>
	<tr>
		<td>LED Light Cords </td>
		<td>Di(2-ethylhexyl)phthalate (DEHP)</td>
		<td>Less than or equal to 1000 ppm DEHP in any accessible component</td>
	</tr>
	<tr>
		<td>Lock-Up Caps </td>
		<td>Lead</td>
		<td>Less than or equal to 125ppm/wipe Lead by NIOSH 9100.</td>
	</tr>
	<tr>
		<td>Motorcycle Tank Bags with Vinyl/PVC Components </td>
		<td>Di(2-ethylhexyl)phthalate (DEHP)</td>
		<td>Less than or equal to 1000ppm DEHP in each component</td>
	</tr>
	<tr>
		<td>Nylon Cooking Utensils</td>
		<td>4,4'-Methylenedianiline</td>
		<td>Less than or equal to 200ppm 4,4'-Methylenedianiline; and produces a leach result of 10 ug/L or less from food contact extraction</td>
	</tr>
	<tr>
		<td>Pouches with Vinyl/PVC Components </td>
		<td>Di(2-ethylhexyl)phthalate (DEHP)</td>
		<td>Less than or equal to 1000ppm DEHP in each component</td>
	</tr>
	<tr>
		<td>Seat kits </td>
		<td>Lead</td>
		<td>Less than or equal to 100ppm Lead for any accessible component</td>
	</tr>
	<tr>
		<td>Shampoo, Liquid Soaps and Powdered Soaps Such as Hand Soaps, Face Soaps, Soap Sheets, and Body Washes, Anti bacterial hand soap</td>
		<td>Coconut oil diethanolamine condensate (cocamide diethanolamine) </td>
		<td>No intentionally added cocamide diethanolamine</td>
	</tr>
	<tr>
		<td>Shoe Bags </td>
		<td>Di(2-ethylhexyl)phthalate (DEHP); Diisononyl phthalate (DINP); </td>
		<td>Less than or equal to 1000ppm DEHP and DINP</td>
	</tr>
	<tr>
		<td>Shower Hoses </td>
		<td>Di(2-ethylhexyl)phthalate (DEHP); Diisononyl phthalate (DINP); </td>
		<td>Less than or equal to 1000ppm DEHP and DINP</td>
	</tr>
	<tr>
		<td>Spa Booster Seats</td>
		<td>Diisononyl phthalate (DINP) </td>
		<td>Less than or equal to 1000ppm DINP</td>
	</tr>
	<tr>
		<td>Suction Hooks </td>
		<td>Di(2-ethylhexyl)phthalate (DEHP)</td>
		<td>Less than or equal to 1000ppm DEHP</td>
	</tr>
	<tr>
		<td>Sunscreen Products</td>
		<td>Benzophenone </td>
		<td>Less than or equal to 12.5ppm Benzophenone</td>
	</tr>
	<tr>
		<td>Tape measures </td>
		<td>Lead</td>
		<td>Less than or equal to 100ppm Lead for any accessible component</td>
	</tr>
	<tr>
		<td>Two Piece Clamp Sets </td>
		<td>Lead</td>
		<td>Greater than 90ppm Lead in accessible surfaces</td>
	</tr>
	<tr>
		<td>Vinyl Dog Toys</td>
		<td>Di-isodecyl phthalate (DIDP); Diisononyl phthalate (DINP); </td>
		<td>Less than or equal to 1000ppm DINP and DIDP</td>
	</tr>
	<tr>
		<td>Vinyl/PVC Canning Tool Grips </td>
		<td>Di(2-ethylhexyl)phthalate (DEHP)</td>
		<td>Less than or equal to 1000 ppm DEHP in any accessible component</td>
	</tr>
	<tr>
		<td>Vinyl/PVC Clip Grips </td>
		<td>Di(2-ethylhexyl)phthalate (DEHP); <br />Butyl Benzyl Phthalate (BBP);<br />Di-n-Butyl Phthalate (DBP);<br />Diisononyl phthalate (DINP); <br />Di-isodecyl phthalate (DIDP);</td>
		<td>Less than or equal to 1000ppm DEHP, BBP, DBP, DIDP and DINP</td>
	</tr>
	<tr>
		<td>Vinyl/PVC File Case Handles</td>
		<td>Di(2-ethylhexyl)phthalate (DEHP)</td>
		<td>Less than or equal to 1000ppm DEHP in any accessible component</td>
	</tr>
	<tr>
		<td>Vinyl/PVC Fishing Tool Grips </td>
		<td>Di(2-ethylhexyl)phthalate (DEHP)</td>
		<td>Less than or equal to 1000ppm DEHP</td>
	</tr>
	<tr>
		<td>Vinyl/PVC Gloves </td>
		<td>Diisononyl phthalate (DINP) </td>
		<td>Less than or equal to 1000ppm DINP</td>
	</tr>
	<tr>
		<td>Vinyl/PVC Hardware Cloth </td>
		<td>Di(2-ethylhexyl)phthalate (DEHP)</td>
		<td>Less than or equal to 1000ppm DEHP</td>
	</tr>
	<tr>
		<td>Vinyl/PVC Headphone Cords </td>
		<td>Di(2-ethylhexyl)phthalate (DEHP)</td>
		<td>Less than or equal to 1000ppm DEHP in any component</td>
	</tr>
	<tr>
		<td>Vinyl/PVC Inflatable Boot Shapers </td>
		<td>Di(2-ethylhexyl)phthalate (DEHP)</td>
		<td>Less than or equal to 1000ppm DEHP</td>
	</tr>
	<tr>
		<td>Vinyl/PVC Self Defense Device Holsters </td>
		<td>Di(2-ethylhexyl)phthalate (DEHP)</td>
		<td>Less than or equal to 1000 ppm DEHP in any accessible component</td>
	</tr>
	<tr>
		<td>Vinyl/PVC Toiletry Bags </td>
		<td>Di(2-ethylhexyl)phthalate (DEHP)</td>
		<td>Less than or equal to 1000 ppm DEHP</td>
	</tr>
	<tr>
		<td>Vinyl/PVC Tool Grips </td>
		<td>Di(2-ethylhexyl)phthalate (DEHP)</td>
		<td>Less than or equal to 1000ppm DEHP</td>
	</tr>
	<tr>
		<td>Vinyl/PVC Tubing </td>
		<td>Di(2-ethylhexyl)phthalate (DEHP); <br />Butyl Benzyl Phthalate (BBP);<br />Di-n-Butyl Phthalate (DBP);<br />Diisononyl phthalate (DINP); <br />Di-isodecyl phthalate (DIDP);</td>
		<td>Less than or equal to 1000 ppm DEHP, BBP, DBP, DIDP and DINP</td>
	</tr>
	<tr>
		<td>Vinyl/PVC Watch Boxes </td>
		<td>Di(2-ethylhexyl)phthalate (DEHP)</td>
		<td>Less than or equal to 1000ppm DEHP in any component</td>
	</tr>
	<tr>
		<td>Wallets; Purses; Clutches Made with Leather; Vinyl or Imitation Leather Materials; Belts Made With Leather, Vinyl or Imitation Leather Materials; Footwear made with leather, vinyl or imitation leather; </td>
		<td>Lead</td>
		<td>Paint or Surface Coatings on accessible components less than or equal to 90ppm<hr />PVC accessible components less than or equal to 200ppm<hr />All other accessible components other than cubic zirconia, crystal, glass or rhinestones less than or equal to 300ppm.</td>
	</tr>
	<tr>
		<td>Whip Hoses</td>
		<td>Di(2-ethylhexyl)phthalate (DEHP); Diisononyl phthalate (DINP);<br />Di-isodecyl phthalate (DIDP);</td>
		<td>Less than or equal to 1000ppm DEHP, DINP, and DIDP</td>
	</tr>
</table>

<p>In addition, a list of recent 60-day notices for Q1 of 2016, inclusive of the chemicals and products under scrutiny, can be viewed in this chart.</p>

<table>
	<tr>
		<td><strong>Chemical</strong></td>
		<td><strong>Product / Source</strong></td>
		<td><strong>Number of Notices</strong></td>
	</tr>
	<tr>
		<td>Benzophenone</td>
		<td>Facestick SPF 30</td>
		<td>1</td>
	</tr>
	<tr>
		<td>Cadmium</td>
		<td>Organic Baking Cocoa </td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Mussels and Oysters</td>
		<td>1</td>
	</tr>
	<tr>
		<td>Di(2-ethylhexyl)phthalate (DEHP)</td>
		<td>Backpacks with Vinyl/ PVC Components</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Cake Kit/ Piping Bag</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Change Purse</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Cutlery Tray</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Dust Pans with Vinyl/ PVC Hand Grips</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Earphone Components</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Eyewear</td>
		<td>2</td>
	</tr>
	<tr>
		<td></td>
		<td>Fuel Pump Nozzles with Vinyl/PVC Covers</td>
		<td>4</td>
	</tr>
	<tr>
		<td></td>
		<td>Gardening Tools</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Gloves with Vinyl/PVC Components</td>
		<td>2</td>
	</tr>
	<tr>
		<td></td>
		<td>Headphones</td>
		<td>2</td>
	</tr>
	<tr>
		<td></td>
		<td>Kitchen Sink Liner</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Knee Pads with Vinyl/PVC Components</td>
		<td>1<tr>
	</tr>
	<tr>
		<td></td>
		<td>Locks with Vinyl/PVC Cables</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Luggage Cases with Vinyl/PVC Shoulder  Straps</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Luggage Tags with  Vinyl/PVC Straps</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Ottomans with Vinyl/PVC Upholstery </td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Pressure Washer Pump Saver</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Rain Suit/jacket</td>
		<td>2</td>
	</tr>
	<tr>
		<td></td>
		<td>Sandals</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Selfie Stick/ Rubber handle</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Sink liner</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Soft Toilet Seat</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Travel Suit Bag</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Vacuums with Vinyl/PVC Hoses</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Vinyl Covered Dumbbell</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Vinyl Vacuum Cap</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Vinyl/PVC Art Case Handles</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Vinyl/PVC Cables</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Vinyl/PVC Cords</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Vinyl/PVC Earphone Cords</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Vinyl/PVC Electrical Tape</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Vinyl/PVC Fuel Pump  Nozzle Grips</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Vinyl/PVC Gloves</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Vinyl/PVC Ponchos</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Vinyl/PVC Rain Coats</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Vinyl/PVC Safety Vests</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Vinyl/PVC Sheeting</td>
		<td>1</td>
	</tr>
	<tr>
		<td>Di(2-ethylhexyl)phthalate (DEHP), Diisononyl phthalate (DINP)</td>
		<td>Gloves and Ear Plug cord</td>
		<td>1</td>
	</tr>
	<tr>
		<td>Di(2-ethylhexyl)phthalate (DEHP), Di-n-butyl phthalate (DBP)</td>
		<td>Sandals</td>
		<td>3</td>
	</tr>
	<tr>
		<td>Di(2-ethylhexyl)phthalate (DEHP), Di-n-butyl phthalate (DBP), Diisononyl phthalate (DINP)</td>
		<td>Vinyl/PVC Cords, Vinyl/PVC Clamp Grips</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Wine Boxes with Vinyl/PVC Handles </td>
		<td>1</td>
	</tr>
	<tr>
		<td>Di(2-ethylhexyl)phthalate (DEHP), Lead</td>
		<td>Metal Hose Fittings</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Vinyl/PVC Hoses</td>
		<td>2</td>
	</tr>
	<tr>
		<td>Diethanolamine</td>
		<td>Body Wash</td>
		<td>1</td>
	</tr>
	<tr>
		<td>Diisononyl phthalate (DINP)</td>
		<td>Disposable Foam Earplugs</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Gripper Pads and Drawer Liners</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>USB Cable</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Vinyl/PVC Gloves</td>
		<td>7</td>
	</tr>
	<tr>
		<td>Di-n-butyl phthalate (DBP)</td>
		<td>Sandals</td>
		<td>1</td>
	</tr>
	<tr>
		<td>Lead</td>
		<td>Backpacks Made With Leather, Vinyl, or Imitation Leather Materials</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Battery Mounts</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Belts Made With Leather, Vinyl or Imitation Leather Materials</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Braided wire</td>
		<td>2</td>
	</tr>
	<tr>
		<td></td>
		<td>Brass Adapters</td>
		<td>2</td>
	</tr>
	<tr>
		<td></td>
		<td>Brass Clasps</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Brass Desk Hinge</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Brass Fittings</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Brass Mallets</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Brass Nozzles</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Brass Numbers</td>
		<td>2</td>
	</tr>
	<tr>
		<td></td>
		<td>Brass Sprinkler</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Brass Stair Gauges</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Clothing Made with Leather, Vinyl or Imitation Leather Materials</td>
		<td>2</td>
	</tr>
	<tr>
		<td></td>
		<td>Compression Testers</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Copper Mugs</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Craft wire</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Drain Grates</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Dried seaweed</td>
		<td>2</td>
	</tr>
	<tr>
		<td></td>
		<td>Drinking Glasses with Exterior Designs</td>
		<td>2</td>
	</tr>
	<tr>
		<td></td>
		<td>Footwear, Wallets, Handbags, Purses and Clutches Made With Leather, Vinyl or Imitation Leather Materials</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Glass Canisters with Exterior Designs, Glass Jars with Exterior Designs, Glass Mugs with Exterior Designs </td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Herbal Supplements</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Jars</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Kitchen Spray Hoses</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Lock Kits</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Lock Sets with Brass Keys</td>
		<td>2</td>
	</tr>
	<tr>
		<td></td>
		<td>Mugs with Exterior Designs</td>
		<td>2</td>
	</tr>
	<tr>
		<td></td>
		<td>Napkin Rings</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Painted Holiday Ornaments</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Picture Hanging Kit</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Seaweed</td>
		<td>7</td>
	</tr>
	<tr>
		<td></td>
		<td>Smartkeys</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Snap Hooks</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Soldering Tips</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Speaker Wall Plates</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Sprinklers</td>
		<td>2</td>
	</tr>
	<tr>
		<td></td>
		<td>Tee Connectors</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Turmeric Powder</td>
		<td>2</td>
	</tr>
	<tr>
		<td></td>
		<td>Wallets, Handbags, Purses and Clutches Made with Leather, Vinyl or Imitation Leather Materials</td>
		<td>1</td>
	</tr>
	<tr>
		<td>Lead and lead compounds</td>
		<td>Brass plumbing fittings & valves</td>
		<td>2</td>
	</tr>
	<tr>
		<td></td>
		<td>Canned mussels</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Ceramic pitchers</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Dietary Supplements</td>
		<td>11</td>
	</tr>
	<tr>
		<td></td>
		<td>Ginger Powder</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Ground Ginger</td>
		<td>3</td>
	</tr>
	<tr>
		<td></td>
		<td>Ground turmeric</td>
		<td>1</td>
	</tr>
	<tr>
		<td></td>
		<td>Seaweed</td>
		<td>13</td>
	</tr>
	<tr>
		<td></td>
		<td>Turmeric Powder</td>
		<td>1</td>
	</tr>
</table>

<a name="international_news_–_north_america" class="bookmark"></a>
<h2>INTERNATIONAL NEWS - NORTH AMERICA</h2>

<strong>Canada – Health Canada Updates the Cosmetics Ingredient Hotlist</strong>
<p>In December, 2015, the contents and format of the Cosmetics Ingredient Hotlist, a list of ingredients that are prohibited or restricted for use in cosmetics, were updated. The changes are summarized as follows:</p>
<ol style="margin-top:10px;">
	<li style="margin-bottom:10px;">Format Changes
		<ol style="margin-top:10px;" type="a">
			<li style="margin-bottom:10px;">An extra column was added in the restricted table to highlight the maximum permitted concentration;</li>
			<li style="margin-bottom:10px;">Entries were rephrased to maintain consistency and clarity;</li>
			<li style="margin-bottom:10px;">Repeated text in the table was removed.</li>
		</ol>
	</li>
	<li style="margin-bottom:10px;">Items Amended
		<ol style="margin-top:10px;" type="a">
			<li style="margin-bottom:10px;">Methylisothiazolinone/ Methylchloroisothiazolinone (MI/MCI), in combination
				<ul style="margin-top:10px;">
					<li style="margin-bottom:10px;">Is now prohibited in leave-on products;</li>
				</ul>
			</li>
			<li style="margin-bottom:10px;">Cyanoacrylate-based adhesives
				<ul style="margin-top:10px;">
					<li style="margin-bottom:10px;">Cyanoacrylate adhesives in eyelash extension products only allowed if used by professionals;</li>
					<li style="margin-bottom:10px;">Extra warning statement was added for eyelash extensions;</li>
				</ul>
			</li>
			<li style="margin-bottom:10px;">Peroxide and peroxide-generating compounds
				<ul style="margin-top:10px;">
					<li style="margin-bottom:10px;">The warning statements were updated to better represent current use patterns for tooth whitening products;</li>
				</ul>
			</li>
			<li style="margin-bottom:10px;">p-Phenylenediamine and its salts (amended)
				<ul style="margin-top:10px;">
					<li style="margin-bottom:10px;">Maximum concentration limit added: 3% after dilution with an oxidizer;</li>
					<li style="margin-bottom:10px;">p-Phenylenediamine salts were added to the list of synonyms and related compounds.</li>
				</ul>
			</li>
		</ol>
	</li>
	<li style="margin-bottom:10px;">Items Added to the Prohibited List
		<ol style="margin-top:10px;" type="a">
			<li style="margin-bottom:10px;">Prostaglandins, their salts, derivatives and analogs.</li>
		</ol>
	</li>
</ol>
<p>To read more, <a href="http://www.hc-sc.gc.ca/cps-spc/cosmet-person/hot-list-critique/changes-modifications-eng.php#dec2015" target="_blank">click here</a>.</p>

<strong>Mexico – Comment Period Closed for the Proposed New Draft Standard for Food Contact Glass and Ceramics</strong>
<p>On February 15, 2016, the comment period was closed for the proposed new draft of the Official Mexican Standard NOM-231-SSA1-2015 - Glazed Pottery Articles, Glazed Ceramicware, Porcelain, and Glassware. If adopted, the new standard will replace the existing standard NOM-231-SSA1-2002 on food contact ceramics. This proposed standard expands the scope of products to include food contact glass, with relevant limits for lead and cadmium migration.</p>
<p>The draft standard would enter into force 60 days after its publication in the Official Gazette. The requirements of the proposed standard are summarized in the tables below:</p>
<p><u>Table 1. Maximum permissible limits for soluble lead and cadmium in pottery, ceramics, and porcelain</u></p>

<table>
	<tr>
		<td rowspan="2"><strong>TYPE OF ARTICLE</strong></td>
		<td rowspan="2"><strong>CAPACITY</strong></td>
		<td rowspan="2"><strong>No. of samples</strong></td>
		<td rowspan="2"><strong>CRITERIA FOR ACCEPTANCE</strong></td>
		<td colspan="2"><strong>Maximum Permissible Limit</strong></td>
	</tr>
	<tr>
		<td><strong>LEAD<br />(mg / L)</strong></td>
		<td><strong>Cadmium<br />(mg / L)</strong></td>
	</tr>
	<tr>
		<td>Flatware</td>
		<td>Does not apply</td>
		<td>4</td>
		<td>Average</td>
		<td>2.00</td>
		<td>0.50</td>
	</tr>
	<tr>
		<td>Small hollowware</td>
		<td>&lt; 1.1 L</td>
		<td>4</td>
		<td>All</td>
		<td>2.00</td>
		<td>0.50</td>
	</tr>
	<tr>
		<td>Large hollowware</td>
		<td>&gt; 1.1 L</td>
		<td>4</td>
		<td>All</td>
		<td>1.00</td>
		<td>0.25</td>
	</tr>
	<tr>
		<td>Storage hollowware</td>
		<td>&gt; 3 L</td>
		<td>4</td>
		<td>All</td>
		<td>0.50</td>
		<td>0.25</td>
	</tr>
	<tr>
		<td>Cups and mugs</td>
		<td>Does not apply</td>
		<td>4</td>
		<td>All</td>
		<td>0.50</td>
		<td>0.25</td>
	</tr>
	<tr>
		<td>Cookware</td>
		<td>Does not apply</td>
		<td>4</td>
		<td>All</td>
		<td>0.50</td>
		<td>0.05</td>
	</tr>
</table>

<p><u>Table 2. Maximum permissible limits for soluble lead and cadmium in glassware</u></p>

<table>
	<tr>
		<td rowspan="2"><strong>TYPE OF ARTICLE</strong></td>
		<td rowspan="2"><strong>CAPACITY</strong></td>
		<td rowspan="2"><strong>No. of samples</strong></td>
		<td rowspan="2"><strong>CRITERIA FOR ACCEPTANCE</strong></td>
		<td colspan="2"><strong>Maximum Permissible Limit</strong></td>
	</tr>
	<tr>
		<td><strong>LEAD<br />(mg / L)</strong></td>
		<td><strong>Cadmium<br />(mg / L)</strong></td>
	</tr>
	<tr>
		<td>Small hollowware</td>
		<td>&lt; 600 mL</td>
		<td>4</td>
		<td>All</td>
		<td>1.50</td>
		<td>0.50</td>
	</tr>
	<tr>
		<td>Large hollowware</td>
		<td>600 mL to 3 L</td>
		<td>4</td>
		<td>All</td>
		<td>0.75</td>
		<td>0.25</td>
	</tr>
	<tr>
		<td>Storage hollowware</td>
		<td>&gt; 3 L</td>
		<td>4</td>
		<td>All </td>
		<td>0.50</td>
		<td>0.25</td>
	</tr>
</table>

<p>To read more, <a href="http://www.dof.gob.mx/nota_detalle.php?codigo=5419981&fecha=15/12/2015" target="_blank">click here</a>.</p>

<a name="international_news_–_south_america" class="bookmark"></a>
<h2>INTERNATIONAL NEWS - SOUTH AMERICA</h2>

<strong>Brazil – Proposed Restrictions on Toys Containing 1,4-Butanediol, Including 'AquaDots' and 'Bindeez'</strong>
<p>On December 17, 2015, the National Institute for Metrology, Quality and Technology (INMETRO) proposed a draft administrative rule to ban the sale and marketing of AquaDots, Bindeez, and other similar products containing 1,4-butanediol. The substance 1,4-butanediol is toxic when ingested. Children who swallowed beads containing 1,4 butanediol (that were part of AquaDots and Bindeez toys) suffered from loss of consciousness, respiratory depression, and seizures. Consultation on the draft administrative rule was closed on January 2, 2016.</p>
<p>Summary of the draft administrative rule:</p>
<ul style="margin-top:10px;">
	<li style="margin-bottom:10px;">Certification and marketing of AquaDots, Bindeez, and other yet unidentified toys containing 1,4-butanediol is prohibited in national territory; manufacturers and suppliers of such toys shall immediately withdraw them from the market;</li>
	<li style="margin-bottom:10px;">Toys similar to AquaDots and Bindeez may be certified and marketed in the country if they do not contain 1,4-butanediol, with a clear age restriction warning that the toys are not intended for children under 3 years old;</li>
	<li style="margin-bottom:10px;">Manufacturers and suppliers of toys similar to AquaDots and Bindeez must submit such products to a certification body for verification. A statement or certificate issued by an analytical laboratory is required to demonstrate that the product does not contain 1,4-butanediol.</li>
</ul>
<p>To read more, <a href="http://www.inmetro.gov.br/legislacao/rtac/pdf/RTAC002343.pdf" target="_blank">click here</a>.</p>


<strong>Colombia – Amendment on Labelling Requirements for Apparel</strong>
<p>On December 18, 2015, Resolution No. 3023 was entered into force to amend Article 5.2 of Resolution No. 1950 on labelling requirements for apparel. The general requirements of Article 5.2, including the amendments, are summarized below:</p>
<ol style="margin-top:10px;">
	<li style="margin-bottom:10px;">Lettering on the label or labels must be durable;</li>
	<li style="margin-bottom:10px;">Information indicated on the label must be clear and easily readable, and placed in a location easily accessible by the consumer;</li>
	<li style="margin-bottom:10px;">When pieces of apparel are sold in pairs identical in material and design (for example, socks and gloves), at least one of them must have a label(s);</li>
	<li style="margin-bottom:10px;">For apparel sold in two or more pieces or parts, each piece or part must have a label;</li>
	<li style="margin-bottom:10px;">If the product is sold in a sealed package and the label is not visible to the consumer, a label containing the required information must be attached to the package;</li>
	<li style="margin-bottom:10px;">Information on the label must be written in Spanish, with the option to use additional languages;</li>
	<li style="margin-bottom:10px;">The label must not contain any misleading, contradictory, or confusing information.</li>
</ol>
<p>The labels must contain the following information, as a minimum:</p>
<ol style="margin-top:10px;">
	<li style="margin-bottom:10px;">Country of origin;</li>
	<li style="margin-bottom:10px;">Name of manufacturer and/or importer, including their respective Importer’s Tax Identification Number (NIT);</li>
	<li style="margin-bottom:10px;">Care instructions according to NTC-1806;</li>
	<li style="margin-bottom:10px;">Composition of the textile article;</li>
	<li style="margin-bottom:10px;">Size and dimensions, if applicable;</li>
	<li style="margin-bottom:10px;">Fibre content for linings (on the same or separate label);</li>
	<li style="margin-bottom:10px;">Label advising the consumer of any defects present in the article.</li>
</ol>
<p>To read more, <a href="http://www.cijuf.org.co/sites/cijuf.org.co/files/normatividad/2015/ResMINCOMERCIO3023_15.pdf" target="_blank">click here</a>.</p>

<strong>Colombia – Amendment on Labelling Requirements for Footwear and Leather Goods</strong>
<p>On December 22, 2015, Resolution No. 3024 was entered into force to amend Article 5.1 of Resolution No. 933 on labelling requirements for footwear and leather goods. The general requirements of Article 5.1, including the amendments, are summarized below:</p>
<ol style="margin-top:10px;">
	<li style="margin-bottom:10px;">Information indicated on the label must be clear and easily readable, and placed in a location easily accessible by the consumer; </li>
	<li style="margin-bottom:10px;">If the product is sold in a sealed package and the label is not visible to the consumer, a label containing the required information must be attached to the package;</li>
	<li style="margin-bottom:10px;">Information on the label must be written in Spanish, with the option to use additional languages; </li>
	<li style="margin-bottom:10px;">Expressions, abbreviations, symbols, and pictograms may be used in the label;</li>
	<li style="margin-bottom:10px;">The label must not contain any misleading, contradictory, or confusing information.</li>
</ol>
<p>The labels must contain the following information, as a minimum:</p>
<ol style="margin-top:10px;">
	<li style="margin-bottom:10px;">Country of origin;</li>
	<li style="margin-bottom:10px;">Name of manufacturer and/or importer, including their respective Importer’s Tax Identification Number (NIT);</li>
	<li style="margin-bottom:10px;">Composition of the article (upper, lining, and outsole of footwear);</li>
	<li style="margin-bottom:10px;">Information about the country of origin and article composition must be present on the permanent label, while other information can be presented on non-permanent labels.</li>
</ol>
<p>To read more, <a href="http://www.aduanimex.com.co/Documentos/TLC/62/RESOLUCION%203024%20DE%202015.pdf" target="_blank">click here</a>.</p>

<a name="international_news_–_europe" class="bookmark"></a>
<h2>INTERNATIONAL NEWS – EUROPE</h2>

<strong>REACH – Candidate List Expanded to Include Five New SVHCs</strong>
<p>On December 17, 2015, the European Chemicals Agency (ECHA) added to the SVHC Candidate List five new Substances of Very High Concern (SVHC) with carcinogenic, toxic to reproduction, persistent, bioaccumulative and toxic, and very persistent and very bioaccumulative properties. This brings the SVHC Candidate List total to 168 substances.</p>
<p>The five chemicals added are:</p>
<ol style="margin-top:10px;">
	<li style="margin-bottom:10px;">Perfluorononan-1-oic-acid and its sodium and ammonium salts (EC No. 206-801-3);</li>
	<li style="margin-bottom:10px;">Nitrobenzene (EC No. 202-716-0);</li>
	<li style="margin-bottom:10px;">2-(2H-benzotriazol-2-yl)-4-(tert-butyl)-6-(sec-butyl)phenol (UV-350) (EC No. 253-037-1);</li>
	<li style="margin-bottom:10px;">2,4-di-tert-butyl-6-(5-chlorobenzotriazol-2-yl) phenol (UV-327) (EC No. 223-383-8);</li>
	<li style="margin-bottom:10px;">1,3-propanesultone (EC No. 214-317-9).</li>
</ol>
<p>The deadline for notification about the presence of the new SVHCs in articles is June 17, 2016, six months after their inclusion on the List.</p>
<p>To read more, <a href="http://echa.europa.eu/view-article/-/journal_content/title/five-new-substances-of-very-high-concern-added-to-the-candidate-list" target="_blank">click here</a>.</p>

<strong>France – Decree Restricting Foam Toy Puzzle Mats Containing Formamide</strong>
<p>On November 4, 2015, the Decree of October 26, 2015 was published, further extending the restriction on toy puzzle mats containing formamide. These items are banned from import and placing on the market.</p>
<p>In July 2011, France adopted an interim restriction on formamide in toy puzzle mats. This new publication extends the restriction for the fourth time, while also repealing the previous Decree of September 15, 2014.</p>
<p>A summary of the new decree is as follows:</p>
<table>
	<tr>
		<td><strong>Substance</strong></td>
		<td><strong>CAS No.</strong></td>
		<td><strong>Scope</strong></td>
		<td><strong>Limit</strong></td>
		<td><strong>Effective Date</strong></td>
	</tr>
	<tr>
		<td>Formamide</td>
		<td>75-12 -7</td>
		<td>toy puzzle mats</td>
		<td>≤ 200 mg/kg</td>
		<td>October 26, 2015 until October 25, 2016</td>
	</tr>
</table>

<p>To read more, <a href="http://www.legifrance.gouv.fr/eli/arrete/2015/10/26/EINC1521729A/jo/texte" target="_blank">click here</a>.</p>

<strong>REACH – Amendment to the List of Restrictions (Annex XVII)</strong>
<p>On February 3, 2016, Commission Regulation EC No. 2016/26 took effect, amending the list of restrictions in Annex XVII of REACH Regulation (EC No. 1907/2006) by adding a new entry (46a) for Nonylphenol ethoxylates (NPE). </p>
<p>Beginning February 3, 2021, any textile article containing NPE in a concentration of 0.01% or greater (by weight of the whole article or each part of it) shall not be placed on the market. A textile article is defined as any unfinished, semi-finished or finished product composed of at least 80% textile fibres by weight, including clothing, accessories, and fibres. This restriction does not apply to second-hand textile articles.</p>
<p>To read more, <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32016R0026&from=EN" target="_blank">click here</a>.</p>

<a name="international_news_–_australia" class="bookmark"></a>
<h2>INTERNATIONAL NEWS – AUSTRALIA</h2>

<strong>Australia – Consumer Protection Notice No. 1 of 2016 - Safety Warning Notice (Hoverboards)</strong>
<p>On January 12, 2016, the Australian Competition and Consumer Commission published a Safety Warning Notice on Hoverboards to alert the public about the possible risk of injury and to provide advice for hoverboard users. A hoverboard, also called a self-balancing scooter, is a single axle ride-on device with wheels. The device is powered by a rechargeable lithium battery.</p>
<p>The notice informed hoverboard users of the two possible sources of risk:</p>
<ol style="margin-top:10px;">
	<li style="margin-bottom:10px;">Falling from the hoverboard or crashing into obstacles;</li>
	<li style="margin-bottom:10px;">Overheating of the hoverboard charger or battery, and the resulting fire.</li>
</ol>
<p>To lower the chance of injury resulting from the use of hoverboards, consumers were advised to:</p>
<ol style="margin-top:10px;">
	<li style="margin-bottom:10px;">Check that the device packaging is marked with the Australian regulatory compliance symbol, or RCM, a tick mark enclosed in a triangle. Presence of that symbol ensures that the device complies with electrical safety requirements;</li>
	<li style="margin-bottom:10px;">Follow the manufacturer’s instructions when using or charging the device; </li>
	<li style="margin-bottom:10px;">Avoid overcharging, as that may cause battery overheating and fire in non-compliant devices;</li>
	<li style="margin-bottom:10px;">Only charge the device using the approved battery charger supplied with it, and avoid charging damaged batteries;</li>
	<li style="margin-bottom:10px;">Pay extra attention to product quality if purchasing the device through the Internet;</li>
	<li style="margin-bottom:10px;">Check the recalls website frequently;</li>
	<li style="margin-bottom:10px;">Always wear shoes and personal protective equipment, including helmet and knee pads;</li>
	<li style="margin-bottom:10px;">Check with local traffic authorities before riding a hoverboard in a public place.</li>
</ol>
<p>To read more, <a href="http://www.productsafety.gov.au/content/index.phtml/itemId/1017474" target="_blank">click here</a>.</p>

<a name="international_news_–_asia" class="bookmark"></a>
<h2>INTERNATIONAL NEWS – ASIA </h2>

<strong>Indonesia – SNI 7322:2008 Mandate for Certification of Food Contact Melamine Products</strong>
<p>On September 30, 2015, the Ministry of Industry of Indonesia published Regulation No. 77/M-IND/PER/9/2015 for Food Contact Melamine Products, mandating that all food contact melamine materials and article comply with Standard SNI 7322:2008 “Melamine Products – Eating and Drinking Equipment.”</p>
<p>The standard specifies requirements for:</p>
<ul style="margin-top:10px;">
	<li style="margin-bottom:10px;">Cadmium (Cd), Hexavalent Chromium (Cr6+), Mercury (Hg), and Lead (Pb) content;</li>
	<li style="margin-bottom:10px;">Overall migration;</li>
	<li style="margin-bottom:10px;">Formaldehyde content;</li>
	<li style="margin-bottom:10px;">Labelling.</li>
</ul>
<p>The regulation entered into force on the day of its publication.</p>
<p>To read more, <a href="http://regulasi.kemenperin.go.id/site/baca_peraturan/2110" target="_blank">click here</a>.</p>

<strong>Vietnam – Circular Announces the National Technical Regulation on Glass, Ceramic, Porcelain, and Enamelled Food Contact Products</strong>
<p>On October 28, 2015, the Ministry of Health of Vietnam issued a Circular No. 35/2015/ TT-BYT to announce the implementation of NTR 12-4:2015/BYT – National Technical Regulations on hygiene and safety of glass, ceramic, porcelain, and enamelled packaging, containers, and utensils in direct contact with food. The circular will be effective starting May 1, 2016.</p>
<p>The National Technical Regulation (NTR 12-4: 2015 / BYT) provides lead and cadmium limits for articles of different materials and capacities. In addition, several ISO standards listed in Annex 1 of the regulation can be used to demonstrate compliance. </p>
<p>The ISO standards include:</p>
<ol style="margin-top:10px;">
	<li style="margin-bottom:10px;">ISO 6486-1: 1999 Ceramic ware, glass-ceramic ware and glass dinnerware in contact with food -- Release of lead and cadmium -- Part 1: Test method (TCVN 7146-1:2002)</li>
	<li style="margin-bottom:10px;">ISO 7086 - 1: 2000 Glass hollowware in contact with food -- Release of lead and cadmium -- Part 1: Test method (TCVN 7148-1:2002)</li>
	<li style="margin-bottom:10px;">ISO 4531-1:1998 Vitreous and porcelain enamels -- Release of lead and cadmium from enamelled ware in contact with food -- Part 1: Method of test (TCVN 7542-1:2005)</li>
</ol>
<p>To read more, <a href="http://thuvienphapluat.vn/van-ban/The-thao-Y-te/Thong-tu-35-2015-TT-BYT-Quy-chuan-ky-thuat-quoc-gia-ve-sinh-an-toan-bao-bi-tiep-xuc-truc-tiep-thuc-pham-294658.aspx" target="_blank">click here</a>.</p>

<a name="international_news_–_asia_–_china" class="bookmark"></a>
<h2>INTERNATIONAL NEWS – ASIA – CHINA</h2>

<strong>China – GB 6675-2014 Toy Safety Standard Entered into Force on January 1, 2016</strong>
<p>The China Toy Safety Standard GB 6675-2014 (Parts 1 through 4) is enforceable as of January 1, 2016. All children’s toys on the Chinese market must comply with the new standard starting from the effective date. GB 6675-2003 will be withdrawn accordingly.</p>
<p>GB 6675-2014 is divided into 4 parts:</p>
<ul style="margin-top:10px;">
	<li style="margin-bottom:10px;">GB 6675.1-2014 Toy Safety Part 1 - Basic Code</li>
	<li style="margin-bottom:10px;">GB 6675.2-2014 Toy Safety Part 2 - Mechanical and Physical Properties</li>
	<li style="margin-bottom:10px;">GB 6675.3-2014 Toy Safety Part 3 - Flammability</li>
	<li style="margin-bottom:10px;">GB 6675.4-2014 Toy Safety Part 4 - Migration of Certain Elements</li>
</ul>
<p>In addition to the new requirements for Mechanical and Physical Properties, Flammability, and Migration of Certain Elements, a phthalate requirement was added in Part 1:</p>

<table>
	<tr>
		<td width="45%"><strong>Scope</strong></td>
		<td colspan="2"><strong>Phthalates (CAS Number)</strong></td>
		<td><strong>Limit (%)</strong></td>
	</tr>
	<tr>
		<td rowspan="3">All products, including those that can be placed in the mouth</td>
		<td>DBP</td>
		<td>CAS 84-71-2</td>
		<td rowspan="3">Sum ≤ 0.1</td>
	</tr>
	<tr>
		<td>BBP</td>
		<td>CAS 85-68-7</td>
	</tr>
	<tr>
		<td>DEHP</td>
		<td>CAS 117-81-7</td>
	</tr>
	<tr>
		<td rowspan="3">Products that can be placed in the mouth</td>
		<td>DNOP</td>
		<td>CAS 117-84-0</td>
		<td rowspan="3">Sum ≤ 0.1</td>
	</tr>
	<tr>
		<td>DINP</td>
		<td>CAS 68515-48-0<br />CAS 28553-12-0</td>
	</tr>
	<tr>
		<td>DIDP</td>
		<td>CAS 26761-40-0<br />CAS 68515-49-1</td>
	</tr>
	<tr><td colspan="4">Note: test portion of single material which is less than 10 mg from one sample is exempted</td></tr>
</table>

<strong>China – Proposed Draft of Standard GB 19865 on Safety of Electric Toys</strong>
<p>In October 2015, a draft of the new version of Standard GB 19865 – Electric Toys Safety was proposed for comments. The new standard is expected to come into force 6 months after adoption.</p>
<p>This national standard applies to all toys with at least one function dependent on electricity. It covers the whole range of electric toys, from small button-cell operated lights to large ride-on cars powered by lead-acid cells. Different requirements and testing procedures apply to different types of toys.</p>
<p>Summarized below are the main differences between draft Standard GB 19865 and IEC 62115:2011 Electric Toys – Safety:</p>
<ul style="margin-top:10px;">
	<li style="margin-bottom:10px;">Products covered by the standard shall also comply with the requirements of the Toy Safety Standard GB 6675, Parts 1 through 4;</li>
	<li style="margin-bottom:10px;">IEC 60083 is to be replaced by Standards GB 1002 and GB 1003;</li>
	<li style="margin-bottom:10px;">Definitions of “Solar toy ” and “Mobile toy” will be added;</li>
	<li style="margin-bottom:10px;">Before starting the tests, the toy shall be preconditioned through a Drop test (as per subclause 5.24.2 of GB 6675.2-2014): dropped from the height of 93 cm, 4 times;</li>
	<li style="margin-bottom:10px;">Section 7 – Marking and Instructions, Clause 7.4, is supplemented with: "For Toys with metal parts that can be plugged into a power socket, instructions must be provided, stating that the cable or parts of the toy must not be plugged into a power socket";</li>
	<li style="margin-bottom:10px;">Section 14 – Construction, is supplemented with a “Solar Toys” category; </li>
	<li style="margin-bottom:10px;">In clause 14.6, words “For Button cells and R1 batteries’’ are amended to “For batteries that can be inserted into small cylinders as per GB 6675.2-2014.”</li>
</ul>
<br />
<p><i>This summary is not intended to be exhaustive nor should it be construed as legal advice.</i></p>