<!-- { "Title":"February 2017 Recap", "PublishDate":"2017-02-24", "Description":"NORTH AMERICA NEWS - On January 30, 2017, the US Consumer Product Safety Commission (CPSC) issued the Final Rule (16 CFR 1112 and 16 CFR 1228) in the Federal Register, 82 FR 8671, regarding safety standard adoption for infant sling carriers...." }-->
<div class="recapSectionHeader">
	<ol style="margin-top:10px;">
		<li style="margin-bottom:10px;"><a href="#north_america_news">NORTH AMERICA NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#europe_news">EUROPE NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#australia_news">AUSTRALIA NEWS</a></li>
	</ol>
	<hr />
</div>

<div class="recapSectionHeader">
	<a name="north_america_news" class="bookmark"></a>
	<h2>NORTH AMERICA NEWS</h2>
</div>

<div class="recapSection">
	<a name="us-cpsc-infant-slings" class="bookmark"></a>
	<strong>US CPSC Adopts Infant Sling Carriers Standard</strong>
	<p>On January 30, 2017, the US Consumer Product Safety Commission (CPSC) issued the Final Rule (16 CFR 1112 and 16 CFR 1228) in the Federal Register, <a href="https://www.gpo.gov/fdsys/pkg/FR-2017-01-30/pdf/2017-01285.pdf?utm_campaign=subscription%20mailing%20list&utm_source=federalregister.gov&utm_medium=email%60" target="_blank">82 FR 8671</a>, regarding safety standard adoption for infant sling carriers.</p>
	<a href="/regulatory-updates/February-2017/us-cpsc-infant-slings" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In the final rule, the <i>ASTM F2907-15 Standard Consumer Safety Specification for Sling Carriers</i> is adopted. A sling carrier is defined in the standard as a product of fabric or sewn fabric construction which is designed to contain a child in an upright or reclined position while supported by the caregiver’s torso. The standard’s requirements apply to all slings and the CPSC has also identified the following 3 types of sling carrier products available in the United States:</p>

		<ol>
			 <li style="margin-bottom:5px;">Ring slings (hammock-shaped fabric products in which one runs fabric through two rings to adjust and tighten the sling)</li>
			 <li style="margin-bottom:5px;">Pouch slings (similar to ring slings but do not use rings for adjustment)</li>
			 <li style="margin-bottom:5px;">Wrap slings (composed of a long length of fabric, up to 6 yards long and 2 feet wide, with no fasteners)</li>
		</ol>

		<p>The final rule will be effective January 30, 2018</p>

	</div><br />
</div>

<div class="recapSection">
	<a name="feb2017-astm-toys" class="bookmark"></a>
	<strong>US CPSC Adopts ASTM F963-16 Safety Standard for Toys</strong>
	<p>On February 2, 2017, the Consumer Product Safety Commission (CPSC) issued a Direct Final Rule (16 CFR 1112 and 1250) through the Federal Register, <a href="https://www.gpo.gov/fdsys/pkg/FR-2017-02-02/pdf/2017-02147.pdf" target="_blank">82 FR 8989</a>, regarding the adoption of the updated standard, <i>ASTM F963-16 Standard Consumer Safety Specification for Toy Safety.</i></p>
	<a href="/regulatory-updates/February-2017/feb2017-astm-toys" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>On October 20, 2016, a new version of the ASTM F963 toy safety standard was published. The revision contains clarifications, corrections and new requirements. In general, certain changes in the requirements are revised to be more aligned with other standards including EN 71-1 and ISO 8124-1. (See <a href="http://www.asiainspection.com/astm-f963-16-toy-safety-standard?xtor=SEC-5&sc=ppc&lang=en&gclid=Cj0KEQiA2uDEBRDxurOO77Cp-7kBEiQAOUgKV_sjR7cgqh_RoVmV7mc6bdxCxcJzPtTmeWiiU9EeUwYaAs8r8P8HAQ" targt="_blank">Overview of changes in ASTM F963-16 Toy Safety Standard</a> for detail.)</p>
		<p>Recently, the CPSC issued the Direct Final Rule to confirm adoption of the updated standard. In the rule, 16 CFR 1112 was amended to include that <a href="http://www.ecfr.gov/cgi-bin/text-idx?SID=58defa1d03ac796c632b846ce8f3379e&mc=true&node=se16.2.1112_115&rgn=div8" target="_blank">specified sections</a> of ASTM F963-16 are required to be subject to third party testing and, therefore, the CPSC only accepts accredited third party conformity assessment bodies for testing to those sections. Apart from that amendment, 16 CFR 1250 was added to the Code of Federal Regulations to address that toys must comply with the provisions of ASTM F963-16.  This addition to the rule clarifies requirements so that the public may more easily understand the mandatory rules that apply to toys.</p>
		<p> The effective date of the direct final rule to adopt the updated toy safety standard is April 30, 2017, unless significant adverse comments are received by March 6, 2017.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="epa-dcm-and-nmp" class="bookmark"></a>
	<strong>US EPA Proposes Prohibition on Two Chemicals: DCM and NMP</strong>
	<p>In January 2017, the Environmental Protection Agency (EPA) <a href="https://www.epa.gov/assessing-and-managing-chemicals-under-tsca/federal-register-notice-methylene-chloride-and-n" target="_blank">proposed a rule</a> to prohibit the manufacture, importation, processing and distribution of Methylene chloride (also known as Dichloromethane or DCM) and N-Methylpyrrolidone (NMP), which are used for removing paints and coatings. In general, the prohibition of the two chemicals applies to commercial paint and coating removal.</p>
	<a href="/regulatory-updates/February-2017/epa-dcm-and-nmp" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>DCM is a volatile chemical while NMP is a solvent. Both chemicals have a variety of uses, including commercial paint and coating removal. However, the EPA has identified risks associated with the use of DCM and NMP and, therefore, proposed regulations under the Toxic Substances Control Act (TSCA) as summarized below:</p>
		<p>For both NMP and DCM:</p>
			<ol>
				<li style="margin-bottom:5px; list-style-type: lower-alpha;">Prohibits the manufacture (including import), processing and distribution in commerce of DCM/NMP for consumer and most types of commercial paint and coating removal</li>
				<li style="margin-bottom:5px; list-style-type: lower-alpha;">Prohibits the use of DCM/NMP in commercial paint and coating removal</li>
				<li style="margin-bottom:5px; list-style-type: lower-alpha;">Requires manufacturers (including importers), processors and distributors of DCM/NMP for any use to provide downstream notification of these prohibitions throughout the supply chain and requires recordkeeping. This does not apply to retailers.</li>
			</ol>

	</div><br />
</div>

<div class="recapSection">
	<a name="epa-dcm-and-nmp" class="bookmark"></a>
	<strong>US FDA Publishes Draft Guidance Document for Maximum Lead Level Recommendation in Cosmetics</strong>
	<p>In December 2016, the Food and Drug Administration (FDA) published a draft guidance document for the industry: <a href="http://www.fda.gov/Cosmetics/GuidanceRegulation/GuidanceDocuments/ucm452623.htm" target="_blank">Lead in Cosmetic Lip Products and Externally Applied Cosmetics: Recommended Maximum Level</a>. The draft guidance provides a recommendation for the maximum level of lead as an impurity present in cosmetic lip products and externally applied cosmetics marketed in the United States.</p>
	<a href="/regulatory-updates/February-2017/epa-dcm-and-nmp" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Based on various surveys and exposure assessments conducted by the FDA on cosmetic lip products and externally applied cosmetics, it was concluded in the guidance document that a maximum level of 10 ppm lead as an impurity would not pose a health risk. The recommended level of lead is consistent with other public health authorities including Health Canada and the European Directorate General for Enterprise and Industry.</p>
		<p>This guidance does not establish legally enforceable limits, but should be viewed as recommendations by the FDA. The FDA maintains that these levels should be attainable following good manufacturing practices and responsible ingredient sourcing. The guidance document does not apply to topically applied products classified as drugs or to hair dyes that contain lead acetate as an ingredient.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="feb2017-fda-food-contact-notifications" class="bookmark"></a>
	<strong>US FDA Publishes Draft Guidance Document for Preparation of Food Contact Notifications</strong>
	<p>In December 2016, the Food and Drug Administration (FDA) published a draft guidance for the industry: <a href="http://www.fda.gov/downloads/Food/GuidanceRegulation/GuidanceDocumentsRegulatoryInformation/UCM528255.pdf" target="_blank">Preparation of Food Contact Notifications for Food Contact Substances in Contact with Infant Formula and/or Human Milk</a>. The guidance provides recommendations to help manufacturers or suppliers in preparing Food Contact Notification (FCN) for substances that are intended for use in contact with infant formula and/or human (breast) milk.</p>
	<a href="/regulatory-updates/February-2017/feb2017-fda-food-contact-notifications" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Food contact substances covered by this guidance include, but are not limited to, the following:</p>
			<ol>
				<li style="margin-bottom:5px;">Infant formula packaging for both liquid and powdered formula</li>
				<li style="margin-bottom:5px;">Baby bottles</li>
				<li style="margin-bottom:5px;">Bottle inserts</li>
				<li style="margin-bottom:5px;">Nipples</li>
			</ol>
		<p>In the guidance, recommendations are provided regarding how the scientific information in FCNs for infant food uses should demonstrate that the food contact substance is safe for the specific intended use. There are three categories of recommendations provided in the guidance:</P>
			<ol>
				<li style="margin-bottom:5px;">Chemistry recommendation</li>
				<li style="margin-bottom:5px;">Toxicology recommendation</li>
				<li style="margin-bottom:5px;">Administrative recommendation</li>
			</ol>
		<p>The comment period for the draft guidance closed on February 7, 2017.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="feb2017-updates-of-astm-standards" class="bookmark"></a>
	<strong>Updates of ASTM Standards</strong>
	<p>Below is a summary of recently updated ASTM standards that may be of interest to our clients:</p>
	<a href="/regulatory-updates/February-2017/feb2017-updates-of-astm-standards" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<table>
			<tr>
				<td style="font-weight:bold; text-align:center;">CPSIA / CFR Reference</td>
				<td style="font-weight:bold; text-align:center;">ASTM Standard No.</td>
				<td style="font-weight:bold; text-align:center;">Detail</td>
			</tr>
			<tr>
				<td style="text-align:center;">-</td>
				<td style="text-align:center;">ASTM F1776-16</td>
				<td><b>Standard Specification for Eye Protective Devices for Paintball Sports</b><br />Applies to eye, face, and head protective devices, designed for use by players of the sport of paintball, which minimize or significantly reduce injury to the eye, adnexa of eye, face, and head due to paintball impact or penetration, or both.</td>
			</tr>
			<tr>
				<td style="text-align:center;">16 CFR 1112,<br />16 CFR 1234 (Proposed)</td>
				<td style="text-align:center;">ASTM F2670-17</td>
				<td><b>Standard Consumer Safety Specification for Infant Bath Tubs</b><br />Establishes performance requirements, test methods, and labeling requirements to promote the safe use of infant bath tubs. Specifically excluded from the scope of this standard are products commonly known as bath slings, typically made of fabric or mesh.</td>
			</tr>
			<tr>
				<td style="text-align:center;">16 CFR 1112,<br />16 CFR 1228 (Proposed)</td>
				<td style="text-align:center;">ASTM F2933-16</td>
				<td><b>Standard Consumer Safety Specification for Crib Mattresses</b><br />Establishes design requirements, testing requirements and methods, as well as labeling requirements for full-size and non-full-size crib mattresses.</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="california-composite-wood-products" class="bookmark"></a>
	<strong>US State of California CARB Revises Advisory on Labeling for Composite Wood Products</strong>
	<p>On January 10, 2017, the California Air Resources Board (CARB) issued <a href="https://www.arb.ca.gov/toxics/compwood/outreach/advs384_1116.pdf" target="_blank">Revised Labeling Advisory for Composite Wood Product Industry (Number 384-Revised)</a>. The advisory provides labeling requirements for panel manufacturers, fabricators of finished goods, importers, distributors and retailers of panels and finished goods.</p>
	<a href="/regulatory-updates/February-2017/california-composite-wood-products" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In the revised advisory, labeling recommendations are provided and the key information required is summarized in the below table:</p>
		<table>
			<tr>
				<td style="font-weight:bold;"> &nbsp; </td>
				<td style="font-weight:bold;">Panel Manufacturers</td>
				<td style="font-weight:bold;">Fabricators of Finished Goods</td>
				<td style="font-weight:bold;">Distributors, Importers and Retailers</td>
			</tr>
			<tr>
				<td>Minimum required information</td>
				<td>
					<ol>
						<li style="margin-bottom:5px;">Manufacturer’s name</li>
						<li style="margin-bottom:5px;">Product lot number</li>
						<li style="margin-bottom:5px;">CARB-assigned number for the third party certifiers (TPC)1</li>
						<li style="margin-bottom:5px;">A marking to denote that the composite wood product complies with the phase 2 requirements of the Airborne Toxic Control Measure (ATCM)</li>
					</ol>
				</td>
				<td>
					<ol>
						<li style="margin-bottom:5px;">Fabricator’s name</li>
						<li style="margin-bottom:5px;">Date the finished good was produced (e.g., MM/YYYY) </li>
						<li style="margin-bottom:5px;">A statement of compliance to denote that the composite wood products contained in a finished good comply with the ATCM. Finished goods made with NAF/ULEF based resins shall be labeled as such</li>
					</ol>
				</td>
				<td>No additional labeling requirement under ATCM if no modification is made on the composite wood product</td>
			</tr>
			<tr>
				<td>Example:</td>
				<td>
					Panel Manufacture<br />
					Modern Healthy Composite Wood Company <br />
					Lot number 3, 02/05/2016 <br />
					California 93120 Phase 2 Compliant for Formaldehyde <br />
					TPC-__
				</td>
				<td>
					Greenday Furniture Company<br />
					02/2016<br />
					California 93120 Phase 2 Compliant for Formaldehyde<br />
					<p>or</p><br />
					California 93120 Compliant for Formaldehyde - Produced with all NAF-based products<br />
					<p>or</p><br />
					California 93120 Compliant for Formaldehyde - Produced with all ULEF-based products
				</td>
				<td>-</td>
			</tr>
		</table>
		<p>Remark:</p>
			<ol>
				<li style="margin-bottom:5px;">No TPC number is required if the products are exempt from third party certification following approval by CARB based on the use of no-added formaldehyde (NAF) and certain ultra-low-emitting formaldehyde (ULEF) resins.</li>
			</ol>
	</div><br />
</div>

<div class="recapSection">
	<a name="california-dtsc-priority-product" class="bookmark"></a>
	<strong>US State of California DTSC Issues Revised Proposal for Listing First Priority Product</strong>
	<p>In July 2016, the California Department of Toxic Substances Control (DTSC) opened a 45-day comment period for the proposal to list children’s foam-padded sleeping products containing TDCP or TCEP as priority products to be regulated under the Safer Consumer Products (SCP) Regulations (See <a href="http://www.ansecogroup.com/anseco-news/regulatory-recap-august-2016/" target="_blank">Regulatory Recap: August 2016</a>). In response to comments received, the DTSC <a href="http://www.dtsc.ca.gov/SCP/upload/Childrens-Foam-Padded-Sleeping-Products_Proposed-Regulations-Text_rev.pdf" target="_blank">revised the text of the proposed regulations</a> on December 28, 2016.</p>
	<a href="/regulatory-updates/February-2017/california-dtsc-priority-product" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The key revisions to the proposed regulations are summarized below:</p>
			<ol>
				<li style="margin-bottom:5px;">Clarified the definition of children’s foam-padded sleeping products containing TDCPP or TCEP as being assembled products designed or intended primarily for children 12 years of age or younger to nap or sleep on.</li>
				<li style="margin-bottom:5px;">Mattresses, mattress pads and mattress sets regulated by 16 CFR 1632 and 1633 are now exempted</li>
				<li style="margin-bottom:5px;">Other editorial changes are included</li>
			</ol>
		<p>The comment period for the revised text was closed on January 12, 2017.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="oregon-oha-priority-chemicals" class="bookmark"></a>
	<strong>US State of Oregon OHA Completes Phase 2 Rule Writing for High Priority Chemicals Reporting Rule</strong>
	<p>In January 2016, the Oregon Senate Bill SB 478, Toxic Free Kids Act, entered into force and established a list of 66 high priority chemicals of concern for children’s health. Subsequently, the Oregon Health Authority (OHA) began writing the rules that govern what manufacturers must do to comply with the law. <a href="http://public.health.oregon.gov/HealthyEnvironments/HealthyNeighborhoods/ToxicSubstances/Pages/Toxic-Free-Rules.aspx" target="_blank">The writing of reporting rules is occurring in three phases</a>. Recently, phase 2 of rule writing was completed.</p>
	<a href="/regulatory-updates/February-2017/oregon-oha-priority-chemicals" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The detail of the three phases are summarized below:</p>
		<table>
			<tr>
				<td style="font-weight:bold; text-align:center;">Phase</td>
				<td style="font-weight:bold; text-align:center;">Detail</td>
				<td style="font-weight:bold; text-align:center;">Status</td>
			</tr>
			<tr>
				<td style="text-align:center;">1</td>
				<td>- Establish a list of high priority chemicals of concern for children's health and criteria by which the list can be updated in the future​</td>
				<td style="text-align:center;">Completed</td>
			</tr>
			<tr>
			<td style="text-align:center;">2</td>
			<td>
				- Establish detailed manufacturer reporting requirements<br />
				- Establish detailed required components of a Manufacturing Control Program which is an exemption request from these rule requirements and those in Phase 3<br />
				- Establish penalties for noncompliance with reporting requirements<br />
			</td>
			<td style="text-align:center;">Completed</td>
			</tr>
			<tr>
			<td style="text-align:center;">3</td>
			<td>
​				- Establish detailed requirements for manufacturers to remove chemicals of concern from products or seek a waiver<br />
				- Establish detailed required components of the waiver request and establish approved methods for alternative assessment<br />
			</td>
			<td style="text-align:center;">Rule development and rules advisory committee meetings begin in 2019</td>
			</tr>
		</table>
		<p>In phase 2, the OHA published the final text of the rules which includes:</p>
			<ol>
				<li style="margin-bottom:5px;">Practical Quantification Limits (PQL) established for each high priority chemical</li>
				<li style="margin-bottom:5px;">Definition of ”Product Category” as “brick” level of the GS 1 Global Product Classification (GPC) standard, which identifies products that serve a common purpose, are of a similar form and material, and share the same set of category attributes.</li>
				<li style="margin-bottom:5px;">Details of the information required for reporting</li>
				<li style="margin-bottom:5px;">The reporting schedule:</li>
				<ol>
					<li style="margin-bottom:5px; list-style-type: lower-alpha;">No later than January 1, 2018, and every other year thereafter, a children’s product manufacturer shall provide notification if the product contains listed priority chemicals in an amount above the PQL or concentration of 100 ppm. (First notification applies to children’s product sold or offered for sale between January 1, 2017 and December 31, 2017.)</li>
					<li style="margin-bottom:5px; list-style-type: lower-alpha;">Future notices apply to children’s product sold or offered for sale during the previous two year period.</li>
					<li style="margin-bottom:5px; list-style-type: lower-alpha;">The second biennial notice will cover the period of January 1, 2018 to December 31, 2020.</li>
				</ol>
				<li style="margin-bottom:5px;">Exemptions from reporting requirements</li>
			</ol>
	</div><br />
</div>

<div class="recapSection">
	<a name="feb2017-canada-asbestos-regulations" class="bookmark"></a>
	<strong>Canada DOE and DOH Intends to Move Forward in Asbestos Regulations Development</strong>
	<p>On December 17, 2016, the Department of the Environment (DOE) and the Department of Health (DOH) issued a <a href="http://www.gazette.gc.ca/rp-pr/p1/2016/2016-12-17/html/notice-avis-eng.php#nl2" target="_blank">notice of intent to develop regulations regarding asbestos</a> through the Canada Gazette. When in force, the proposed regulations will result in a ban of future asbestos activities in Canada.</p>
	<a href="/regulatory-updates/February-2017/feb2017-canada-asbestos-regulations" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>According to the notice, the Canada DOE and DOH are initiating the proposal of regulations to prohibit all future activities regarding asbestos and asbestos containing products, including the manufacture, use, sale, offer for sale, import and export. The proposed regulations are intended to be published in the Canada Gazette, Part I, in December 2017. Currently, no regulatory detail has been provided.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="feb2017-canada-reporting-obligation" class="bookmark"></a>
	<strong>Canada Issues Guidance for Reporting Obligation for CMP</strong>
	<p>In January 2017, Environment Canada’s Chemical Management Plan (CMP) continued its assessment for determining whether the substances listed under the plan are toxic or are capable of becoming toxic. Meanwhile, a substantial new mandatory reporting obligation for importers and users of approximately 1500 chemicals was initiated and a <a href="http://www.ec.gc.ca/ese-ees/default.asp?lang=En&n=6F911363-1" target="_blank">guidance</a> was issued in the Canada Gazette dated January 14, 2017.</p>
	<a href="/regulatory-updates/February-2017/feb2017-canada-reporting-obligation" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The reporting obligations are retrospective, applicable to calendar years 2014 and 2015, and the reporting deadline is July 17, 2017. According to the guidance, the reporting applies to those who, during <b>either the 2014 or 2015 calendar year</b>, met any of the following criterion:</p>
		<ol>
			<li style="margin-bottom:5px;"><b>Manufactured</b> a total quantity more than 100 kg of a <a href="http://www.ec.gc.ca/ese-ees/default.asp?lang=En&n=71EF4032-1" target="_blank">listed substance</a> (Part 4 of the list is applied to a substance that is intended to be part of a cosmetic, food, therapeutic product or natural health product under Food and Drugs Act);</li>
			<li style="margin-bottom:5px;"><b>Imported</b> a total quantity more than 100 kg of a <a href="http://www.ec.gc.ca/ese-ees/default.asp?lang=En&n=71EF4032-1" target="_blank">listed substance</a> that is:</li>
				<ol>
					<li style="margin-bottom:5px;">Alone, or</li>
					<li style="margin-bottom:5px;">At a concentration more than or equal to 0.1% by weight (w/w%) in a mixture or in a product;</li>
				</ol>
			<li style="margin-bottom:5px;"><b>Imported</b> a total quantity greater than 100 kg of a <a href="http://www.ec.gc.ca/ese-ees/default.asp?lang=En&n=71EF4032-1" target="_blank">listed substance</a>(Part 4) that is contained in or intended to be part of a cosmetic , food, therapeutic product or a natural health product under Food and Drugs Act</li>

	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="europe_news" class="bookmark"></a>
	<h2>EUROPE NEWS</h2>
</div>

<div class="recapSection">
	<a name="feb2017-reach-candidate-list-new-svhcs" class="bookmark"></a>
	<strong>REACH – Candidate List Expanded to Include New SVHCs</strong>
	<p>On January 12, 2017, the European Chemicals Agency (ECHA) <a href="https://echa.europa.eu/candidate-list-table" target="_blank">added 4 new substances of very high concern (SVHC) to the SVHC Candidate List</a> under Registration, Evaluation, Authorisation and Restriction of Chemicals (REACH).  The added chemicals can be reproductive toxins as well as have persistent, bioaccumulative and toxic (PBT) properties. Their addition brings the SVHC Candidate List total to 173 substances.</p>
	<a href="/regulatory-updates/February-2017/feb2017-reach-candidate-list-new-svhcs" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The chemicals added are:</p>
			<ol>
				<li style="margin-bottom:5px;">4,4'-isopropylidenediphenol (Bisphenol A, BPA) (EC No. 201-245-8, CAS No. 80-05-7)</li>
				<li style="margin-bottom:5px;">4-heptylphenol, branched and linear</li>
				<li style="margin-bottom:5px;">Nonadecafluorodecanoic acid (PFDA) and its sodium and ammonium salts</li>
				<li style="margin-bottom:5px;">p-(1,1-dimethylpropyl)phenol</li>
			</ol>
		<p>The deadline for notification about the presence of the new SVHCs in articles is July 12, 2017, six months after their inclusion on the List.</p>

	</div><br />
</div>

<div class="recapSection">
	<a name="feb2017-echa-amendment" class="bookmark"></a>
	<strong>ECHA Proposes Amendment of Annex XVII List of Restriction Introducing Certain Chemicals</strong>
	<p>On December 22, 2016, the European Chemical Agency (ECHA) proposed to <a href="http://ec.europa.eu/growth/tools-databases/tbt/en/search/?tbtaction=search.detail&num=435&Country_ID=EU&dspLang=EN&BASDATEDEB=&basdatedeb=&basdatefin=&baspays=EU&basnotifnum=435&basnotifnum2=435&bastypepays=EU&baskeywords=" target="_blank">amend Annex XVII of Regulation (EC) No. 1907/2006 Registration, Evaluation, Authorisation and Restriction of Chemicals (REACH)</a>. Certain substances classified as carcinogenic, mutagenic or toxic to reproduction (CMR) were proposed for inclusion within the scope of entries 28 -30 of the Annex.</p>
	<a href="/regulatory-updates/February-2017/feb2017-echa-amendment" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Upon enforcement, the proposed regulations will amend Annex XVII of REACH Regulation List of Restriction by adding following substances:</p>
			<ol>
				<li style="margin-bottom:5px;">Tetrahydro-2-furyl-methanol</li>
				<li style="margin-bottom:5px;">Gallium arsenide</li>
				<li style="margin-bottom:5px;">Tributyltin compounds</li>
				<li style="margin-bottom:5px;">[1,2-benzenedicarboxylic acid, dihexyl ester, branched and linear]</li>
				<li style="margin-bottom:5px;">1,2-dichloropropane</li>
				<li style="margin-bottom:5px;">Bisphenol A</li>
				<li style="margin-bottom:5px;">[phenol, dodecyl-, branched], [phenol, 2-dodecyl-, branched], [phenol, 3-dodecyl-, branched], [phenol, 4-dodecyl-, branched], [phenol, (tetrapropenyl) derivatives]</li>
				<li style="margin-bottom:5px;">Chlorophacinone (ISO)</li>
				<li style="margin-bottom:5px;">Warfarin (ISO)</li>
				<li style="margin-bottom:5px;">Coumatetralyl (ISO)</li>
				<li style="margin-bottom:5px;">Difenacoum (ISO)</li>
				<li style="margin-bottom:5px;">Brodifacoum (ISO)</li>
				<li style="margin-bottom:5px;">Flocoumafen (ISO)</li>
				<li style="margin-bottom:5px;">Disodium octaborate anhydrous</li>
				<li style="margin-bottom:5px;">[e-glass microfibers of representative composition]</li>
				<li style="margin-bottom:5px;">Lead powder and lead massive</li>
				<li style="margin-bottom:5px;">Bromadiolone (ISO)</li>
				<li style="margin-bottom:5px;">Difethialone, [perfluorononan-1-oic acid, and its sodium and ammonium salts]</li>
				<li style="margin-bottom:5px;">Dicyclohexyl phthalate</li>
				<li style="margin-bottom:5px;">3,7-dimethylocta-2,6-dienenitrile</li>
				<li style="margin-bottom:5px;">Triflumizole (ISO)</li>
			</ol>
	</div><br />
</div>

<div class="recapSection">
	<a name="feb2017-reach-nickel" class="bookmark"></a>
	<strong>REACH –Publication of Updated Harmonised Standards for Nickel Release</strong>
	<p>On January 13, 2017, the European Union (EU) published the <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=uriserv:OJ.C_.2017.011.01.0013.01.ENG&toc=OJ:C:2017:011:TOC" target="_blank">Official Journal: Publication of Titles and References of Harmonised Standards under Entry 27 of Annex XVII to REACH</a>. The journal lists updated harmonised standards for entry 27 (Nickel) of Annex XVII (List of Restrictive Substances) of Regulation (EC) No. 1907/2006 Registration, Evaluation, Authorisation and Restriction of Chemicals (REACH).</p>
	<a href="/regulatory-updates/February-2017/feb2017-reach-nickel" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The 3 harmonised standards are summarized below:</p>
		<table>
			<tr>
				<td style="font-weight:bold; text-align:center;">Standard<br />(Updated)</td>
				<td style="font-weight:bold; text-align:center;">Standard<br />(Superseded)</td>
				<td style="font-weight:bold; text-align:center;">Titles</td>
			</tr>
			<tr>
				<td style="text-align:center;">EN 1811:2011+A1:2015</td>
				<td style="text-align:center;">EN 1811:2011</td>
				<td>Reference test method for release of nickel from all post assemblies which are inserted into pierced parts of the human body and articles intended to come into direct and prolonged contact with the skin</td>
			</tr>
			<tr>
				<td style="text-align:center;">EN 12472:2005+A1:2009</td>
				<td style="text-align:center;">-</td>
				<td>Method for the simulation of wear and corrosion for the detection of nickel release from coated items</td>
			</tr>
			<tr>
				<td style="text-align:center;">EN 16128:2015</td>
				<td style="text-align:center;">EN 16128:2011</td>
				<td>Ophthalmic optics - Reference method for the testing of spectacle frames and sunglasses for nickel release</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="[URL]" class="bookmark"></a>
	<strong>Europe Recalls Summary (December 2016 and January 2017)</strong>
	<p>In Europe, when hazards are identified in consumer products, the products will be recalled and published in the <a href="http://ec.europa.eu/consumers/consumers_safety/safety_products/rapex/index_en.htm" target="_blank">Rapid Alert System</a>, which is updated weekly. The European recalls for December 2016 and January 2017 are summarized below:</p>
	<a href="/regulatory-updates/February-2017/[URL]" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<center><img src="https://s3.asiainspection.com/newsletters/2017-02-RegRecap/2017.02_pieCharts_hazards.gif" style="width:90%; max-width:850px;" /></center>
		<table>
			<tr>
				<td><b>Hazard</b></td>
				<td><b>Frequency</b></td>
			</tr>
			<tr>
				<td>Choking Hazard</td>
				<td>44</td>
			</tr>
			<tr>
				<td>Injury Hazard</td>
				<td>42</td>
			</tr>
			<tr>
				<td>Chemical Hazard</td>
				<td>39</td>
			</tr>
			<tr>
				<td>Electric Shock Hazard</td>
				<td>33</td>
			</tr>
			<tr>
				<td>Fire Hazard</td>
				<td>21</td>
			</tr>
			<tr>
				<td>Strangulation Hazard</td>
				<td>21</td>
			</tr>
			<tr>
				<td>Other Hazards*</td>
				<td>21</td>
			</tr>
		</table>
		<p><b>*</b> Other Hazards include Asphyxiation Hazard, Burn Hazard, Damage to Hearing Hazard, Entrapment Hazard, Environmental Hazard, Fall Hazard, Laceration Hazard and Microbial Hazard with a frequency of less than 10.</p>
		<br />
		<center><img src="https://s3.asiainspection.com/newsletters/2017-02-RegRecap/2017.02_pieCharts_categories.gif" style="width:90%; max-width:850px;" /></center>
		<table>
			<tr>
				<td><b>Product Categories</b></td>
				<td><b>Frequency</b></td>
			</tr>
			<tr>
				<td>Toys and Childcare Articles</td>
				<td>93</td>
			</tr>
			<tr>
				<td>Fabric / Textile / Garment / Home Textile</td>
				<td>27</td>
			</tr>
			<tr>
				<td>Lighting</td>
				<td>23</td>
			</tr>
			<tr>
				<td>Home Electrical Appliances (Hair Dryer, Iron, etc.)</td>
				<td>10</td>
			</tr>
			<tr>
				<td>Computer / Audio / Video / Other Electronics & Accessories</td>
				<td>8</td>
			</tr>
			<tr>
				<td>Other Categories#</td>
				<td>25</td>
			</tr>
		</table>
		<p><b>#</b> Other Categories include Candles & Burning Items and Accessories, Cosmetics / Bodycare, Footwear, Homeware (Non-food Contact), Jewelry, Watch or other Fashion Accessories, Personal Protective Equipment (excludes eye protection), Sporting Goods / Equipment and Tools and Hardware with frequency less than 8.</p>
		<p>Download the complete <a href="https://s3.asiainspection.com/newsletters/2017-02-RegRecap/AI_ANSECO%5Bregulatory_recap%5D_europe_recalls_only_2017.02.pdf">Recalls Summary – EU (December 2016 and January 2017)</a></p>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="australia_news" class="bookmark"></a>
	<h2>AUSTRALIA NEWS</h2>
</div>

<div class="recapSection">
	<a name="feb2017-ban-alcohol-fueled-burners" class="bookmark"></a>
	<strong>Ban Notice for Certain Alcohol Fueled Burners</strong>
	<p>On December 22, 2016, the Australian Competition and Consumer Commission (ACCC) issued <a href="https://www.productsafety.gov.au/news/act-ban-on-portable-ethanol-burners" target="_blank">notice: Ban on Portable Ethanol Burners</a> addressing that an interim ban on the sale of ethanol burners was imposed.</p>
	<a href="/regulatory-updates/February-2017/feb2017-ban-alcohol-fueled-burners" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Ethanol burners are small, portable, decorative alcohol-fueled burners and they have already led to a number of serious and life-threatening injuries. Therefore, the interim ban does not allow retailers to sell decorative alcohol-fueled burners in the Australian Capital Territory, except if they:</p>
			<ul>
				<li style="margin-bottom:5px;">Have a power output of more than 4.5 kW, orRequire installation in a fixed position, or</li>
				<li style="margin-bottom:5px;">Require installation in a fixed position, or</li>
				<li style="margin-bottom:5px;">Are designed for warming food</li>
			</ul>
		<p>Additionally, the interim ban is effective immediately when the ACCC publishes the notice. Retailers and suppliers are required to stop selling and remove portable ethanol burners from store shelves and online stores.</p>
	</div><br />
</div>

<br /><p><i>This summary is not intended to be exhaustive nor should it be construed as legal advice.</i></p>