<!-- { "Title":"January 2018 Recap", "PublishDate":"2018-01-25", "Description":"NORTH AMERICA NEWS - On December 15, 2017, the Consumer Product Safety Commission (CPSC) approved final rule, 16 CFR 1232, to adopt ASTM F2613-17a as the mandatory safety requirement for children’s folding chairs and stools." }-->
<div class="recapSectionHeader">
	<ol style="margin-top:10px;">
		<li style="margin-bottom:10px;"><a href="#north_america_news">NORTH AMERICA NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#europe_news">EUROPE NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#australia_news">AUSTRALIA NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#asia_news">ASIA NEWS</a></li>
	</ol>
	<hr />
</div>

<div class="recapSectionHeader">
	<a name="north_america_news" class="bookmark"></a>
	<h2>NORTH AMERICA NEWS</h2>
</div>

<div class="recapSection">
	<a name="us-cpsc-approves-federal-standard-children-folding-chairs" class="bookmark"></a><strong>US CPSC Approves New Federal Standard for Children’s Folding Chairs and Stools</strong>
	<p>On December 15, 2017, the Consumer Product Safety Commission (CPSC) <a href="https://www.federalregister.gov/documents/2017/12/15/2017-26997/safety-standard-for-childrens-folding-chairs-and-stools?utm_campaign=subscription%20mailing%20list&utm_source=federalregister.gov&utm_medium=email" target="_blank">approved final rule, 16 CFR 1232</a>, to adopt ASTM F2613-17a as the mandatory safety requirement for children’s folding chairs and stools.</p>
	<a href="/regulatory-updates/January-2018/us-cpsc-approves-federal-standard-children-folding-chairs" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In ASTM F2613-17a, a children’s folding chair or stool is defined as:</p>
		<ul style="list-style-type: none; padding-left: 15px;">
			<li>-&nbsp;&nbsp;&nbsp;Seating furniture with a height of 15 inches or less with a rigid frame that is intended to be used as a support for the body, limbs or feet of a child when sitting or resting in an upright or reclining position.</li>
			<li>-&nbsp;&nbsp;&nbsp;It can also be folded for transport or storage and may include a rocking base. </li>
			<li>-&nbsp;&nbsp;&nbsp;The product is intended to be used by a single child who can get out of the chair unassisted. </li>
		</ul>
		<p>The final rule will become effective June 15, 2018.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="us-cal-oehha-amends-prop-65-warning" class="bookmark"></a><strong>US State of California OEHHA Amends Proposition 65 Warning</strong>
	<p>On November 20, 2017, the Office of Environmental Health Assessment (OEHHA) has approved an <a href="https://oehha.ca.gov/proposition-65/crnr/title-27-california-code-regulations-notice-amendments-article-6-clear-and" target="_blank">amendment</a> to Title 27, California Code of Regulations, Article 6, Clear and Reasonable warnings. The key changes are summarized below:</p>
	<a href="/regulatory-updates/January-2018/us-cal-oehha-amends-prop-65-warning" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<ul style="list-style-type: none; padding-left: 15px;">
			<li>-&nbsp;&nbsp;&nbsp;Updated definitions </li>
			<li>-&nbsp;&nbsp;&nbsp;“Authorized Agent” to include a monitored electronic mailbox or post office box</li>
			<li>-&nbsp;&nbsp;&nbsp;“Labeling” replaced “tags at the point of sale or display of a product” with “package insert”</li>
			<li>-&nbsp;&nbsp;&nbsp;Replaced “on-product warning” with “short-form warning label”</li>
			<li>-&nbsp;&nbsp;&nbsp;Required warning for alcoholic beverages (Before amendment, only non-alcoholic beverages are required)</li>
			<li>-&nbsp;&nbsp;&nbsp;Other editorial changes</li>
		</ul>
		<p>The amendment will become operative on August 30, 2018. In the interim, businesses may comply with either existing or amended warning requirements.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="us-cal-oehha-adds-new-chemical-prop-65-list" class="bookmark"></a><strong>US State of California OEHHA Adds New Chemical to Proposition 65 List</strong>
	<p>Recently, the California Office of Environmental Health Hazard Assessment (OEHHA) added one chemical to the <a href="https://oehha.ca.gov/proposition-65/crnr/chemical-listed-effective-december-29-2017-known-state-california-cause-cancer" target="_blank">Proposition 65 List</a>. The new chemical is as follows:</p>
	<a href="/regulatory-updates/January-2018/us-cal-oehha-adds-new-chemical-prop-65-list" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The added chemical meets the requirements for listing purposes of Proposition 65 as known to the State of California to cause Cancer toxicity. The chemical details are provided below:</p>
		<table>
			<tr>
				<td style="font-weight:bold;">Date of addition</td>
				<td style="font-weight:bold;">Chemical</td>
				<td style="font-weight:bold;">Chemical Abstracts Service Number (CAS No.)</td>
				<td style="font-weight:bold;">Types of Toxicity</td>
			</tr>
			<tr>
				<td>December 29, 2017</td>
				<td>Vinylidene chloride (1,1-Dichloroethylene)</td>
				<td>75-35-4</td>
				<td>Cancer</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="us-cal-oehha-proposes-nsrl-certain-chemicals" class="bookmark"></a><strong>US State of California OEHHA Proposes NSRL for Certain Chemicals</strong>
	<p>On December 29, 2017, the California Office of Environmental Health Hazard Assessment (OEHHA) issued a notice to propose No Significant Risk Levels (NSRLs) for two chemicals, which were listed under Proposition 65 as being known to the state to cause Cancer.</p>
	<a href="/regulatory-updates/January-2018/us-cal-oehha-proposes-nsrl-certain-chemicals" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The chemical details and issued NSRLs are provided below:</p>
		<table>
			<tr>
				<td style="font-weight:bold;">Chemical</td>
				<td style="font-weight:bold;">Chemical Abstracts Service Number (CAS No.)</td>
				<td style="font-weight:bold;">Type of Toxic</td>
				<td style="font-weight:bold;">No significant risk level (NSRL) / in micrograms per day</td>
			</tr>
			<tr>
				<td><a href="https://oehha.ca.gov/proposition-65/crnr/notice-proposed-rulemaking-title-27-california-code-regulations-amendment-11" target="_blank">Bromochloroacetic acid</a></td>
				<td>5589-96-8</td>
				<td>Cancer</td>
				<td>0.70</td>
			</tr>
			<tr>
				<td><a href="https://oehha.ca.gov/proposition-65/crnr/notice-proposed-rulemaking-title-27-california-code-regulations-amendment-10" target="_blank">Bromodichloroacetic acid</a></td>
				<td>71133-14-7</td>
				<td>Cancer</td>
				<td>0.95</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="europe_news" class="bookmark"></a>
	<h2>EUROPE NEWS</h2>
</div>

<div class="recapSection">
	<a name="reach–candidate-list-expanded-include-new-svhc" class="bookmark"></a><strong>REACH – Candidate List Expanded to Include New SVHC</strong>
	<p>On January 15, 2018, the European Chemicals Agency (ECHA) added several substances of very high concern (SVHC) to <a href="https://echa.europa.eu/candidate-list-table" target="_blank">the SVHC Candidate List under Registration, Evaluation, Authorisation and Restriction of Chemicals (REACH)</a>. The added chemicals can be carcinogenic, persistent, bioaccumulative and toxic. These additions bring the SVHC Candidate List total to 181 substances.</p>
	<a href="/regulatory-updates/January-2018/reach–candidate-list-expanded-include-new-svhc" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The chemicals added are:</p>
		<ol>
			<li>Benz[a]anthracene</li>
			<li>Cadmium carbonate</li>
			<li>Cadmium hydroxide</li>
			<li>Cadmium nitrate</li>
			<li>Chrysene</li>
			<li>Dodecachloropentacyclo[12.2.1.16,9.02,13.05,10]octadeca-7,15-diene (“Dechlorane Plus”™)</li>
			<li>Reaction products of 1,3,4-thiadiazolidine-2,5-dithione, formaldehyde and 4-heptylphenol, branched and linear (RP-HP)</li>
		</ol>
		<p>The deadline for notification about the presence of the new SVHCs in articles is July 15, 2018, six months after their inclusion on the List.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="eu-recall-summary" class="bookmark"></a><strong>Europe Recalls Summary (From June to December 2017)</strong>
	<p>In Europe, when hazards are identified in consumer products, the products will be recalled and published in the <a href="https://ec.europa.eu/consumers/consumers_safety/safety_products/rapex/alerts/?event=main.listNotifications" target="_blank">Rapid Alert System</a>, which is updated weekly. The European recalls from June to December 2017 are summarized below:</p>
	<a href="/regulatory-updates/January-2018/eu-recall-summary" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<center><img src="https://s3.asiainspection.com/newsletters/2018-01-RegRecap/EU_recall_hazards.png" style="width:90%; max-width:850px;"></center>
		<table>
			<tr>
				<td style="text-align: center; font-weight: bold;">Hazards</td>
				<td style="text-align: center; font-weight: bold;">Frequency</td>
			</tr>
			<tr>
				<td>Chemical Hazard</td>
				<td style="text-align: right;">274</td>
			</tr>
			<tr>
				<td>Choking Hazard</td>
				<td style="text-align: right;">224</td>
			</tr>
			<tr>
				<td>Injury Hazard</td>
				<td style="text-align: right;">172</td>
			</tr>
			<tr>
				<td>Electric Shock Hazard</td>
				<td style="text-align: right;">137</td>
			</tr>
			<tr>
				<td>Strangulation Hazard</td>
				<td style="text-align: right;">64</td>
			</tr>
			<tr>
				<td>Fire Hazard</td>
				<td style="text-align: right;">48</td>
			</tr>
			<tr>
				<td>Other Hazards*</td>
				<td style="text-align: right;">98</td>
			</tr>
		</table>
		<span>*Other Hazards include Burn Hazard, Laceration Hazard, Damage to Hearing Hazard, Damage to Sight Hazard, Drowning Hazard, Environmental Hazard, Microbial Hazard and Suffocation Hazard with a frequency of less than 30.</span>
		<br /><br />
		<center><img src="https://s3.asiainspection.com/newsletters/2018-01-RegRecap/EU_recall_categories.png" style="width:90%; max-width:850px;"></center>
		<table>
			<tr>
				<td style="text-align: center; font-weight: bold;">Product Categories</td>
				<td style="text-align: center; font-weight: bold;">Frequency</td>
			</tr>
			<tr>
				<td>Toys and Childcare Articles</td>
				<td style="text-align: right;">399</td>
			</tr>
			<tr>
				<td>Fabric / Textile / Garment / Home Textile</td>
				<td style="text-align: right;">178</td>
			</tr>
			<tr>
				<td>Lighting Equipment</td>
				<td style="text-align: right;">63</td>
			</tr>
			<tr>
				<td>Cosmetics / Bodycare</td>
				<td style="text-align: right;">57</td>
			</tr>
			<tr>
				<td>Computer / Audio / Video / Other Electronics &amp; Accessories</td>
				<td style="text-align: right;">55</td>
			</tr>
			<tr>
				<td>Sporting Goods / Equipment</td>
				<td style="text-align: right;">44</td>
			</tr>
			<tr>
				<td>Other Categories^</td>
				<td style="text-align: right;">105</td>
			</tr>
		</table>
		<span>^Other Categories include Art and Crafts Materials, Candles &amp; Burning Items and Accessories, Consumer Chemicals, Food Contact Material, Footwear, Furniture, Home Electrical Appliances (Hair Dryer, Iron, etc.), Homeware (Non-food Contact), Jewelry, Watch or other Fashion Accessories and Tools and Hardware with a frequency of less than 30.</span>
		<br /><br />
		<p>For a complete list <a href="https://s3.asiainspection.com/newsletters/2018-01-RegRecap/Recap+for+January+2018+-+recall+Summary-1.doc" target="_blank">click here</a></p>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="australia_news" class="bookmark"></a>
	<h2>AUSTRALIA NEWS</h2>
</div>

<div class="recapSection">
	<a name="australia-enforces-updated-swimming-aids-safety-standard" class="bookmark"></a><strong>Australia Enforces Updated Swimming and Flotation Aids Safety Standard</strong>
	<p>In December 2017, the updated <a href="https://www.legislation.gov.au/Details/F2017L01662" target="_blank">Consumer Goods (Swimming and Flotation Aids) Safety Standard 2017</a> entered into force. The updated safety standard adopted a new version of AS/NZS 1900:2014 Flotation aids for water familiarization and swimming tuition replacing the previous Consumer Protection No. 3 of 2009.</p>
	<a href="/regulatory-updates/January-2018/australia-enforces-updated-swimming-aids-safety-standard" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In the updated safety standard, a new version of the Australia/ New Zealand standard is adopted and the flotation aid is defined as:</p>
		<ul style="list-style-type: none; padding-left: 15px:">
			<li>-&nbsp;&nbsp;&nbsp;Designed for children under 14 years of age; and</li>
			<li>-&nbsp;&nbsp;&nbsp;To be worn on or attached to the user’s body, or sat in by the user, for the purpose of enabling them to gain confidence through water familiarization, or to assist them in acquiring unaided buoyancy through swimming tuition</li>
		</ul>
		<p>It excludes the following:</p>
		<ul style="list-style-type: none; padding-left: 15px:">
			<li>-&nbsp;&nbsp;&nbsp;A flotation toy</li>
			<li>-&nbsp;&nbsp;&nbsp;An unattached flotation device</li>
			<li>-&nbsp;&nbsp;&nbsp;An article designed only for therapeutic use</li>
			<li>-&nbsp;&nbsp;&nbsp;An article designed for use by disabled persons</li>
			<li>-&nbsp;&nbsp;&nbsp;A personal flotation device for use in boating or other recreational water activities</li>
		</ul>
		<p>The transition period of the safety standard was given until December 14, 2019. Within this period, swimming and flotation aid devices may comply with either the old or the new version of AS/NZS 1900.</p>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="asia_news" class="bookmark"></a>
	<h2>ASIA NEWS</h2>
</div>

<div class="recapSection">
	<a name="hk-proposes-update-safety-standards-toys-children-products" class="bookmark"></a><strong>Hong Kong Proposes Update of Safety Standards for Toys and Children’s Products</strong>
	<p>In December 2017, the HKSAR Government proposed to adopt <a href="http://www.cedb.gov.hk/citb/doc/en/information_note_for_consultation_2018_e.pdf" target="_blank">up-to-date safety standards</a> promulgated by the relevant standards for toys and children’s products listed in Schedule 2 under the Toys and Children’s Products Safety Ordinance (Cap. 424). The comment period ended on December 31, 2017.</p>
	<a href="/regulatory-updates/January-2018/hk-proposes-update-safety-standards-toys-children-products" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The specified standards for toys and for certain classes of Schedule 2 products are proposed to be updated to new versions as per the below table:</p>
		<table>
			<tr>
				<td>&nbsp;</td>
				<td style="font-weight: bold;">Existing Standards</td>
				<td style="font-weight: bold;">Updated Standard</td>
			</tr>
			<tr>
				<td rowspan="3">Toys</td>
				<td>IEC 62115 Edition 1:2003/A1:2004/ A2:2010</td>
				<td>IEC 62115:2017 Edition 2.0</td>
			</tr>
			<tr>
				<td>BS EN 71-12:2013</td>
				<td>BS EN 71-12:2016</td>
			</tr>
			<tr>
				<td>ASTM F963-11</td>
				<td>ASTM F963-17</td>
			</tr>
			<tr>
				<td colspan="3" style="font-weight: bold;">Schedule 2 Product Standards</td>
			</tr>
			<tr>
				<td>Babies dummies and children’s paint</td>
				<td>ASTM F963-11</td>
				<td>ASTM F963-17</td>
			</tr>
			<tr>
				<td>Children’s paint</td>
				<td>AS/NZS ISO 8124.3:2012</td>
				<td>AS/NZSISO 8124.3:2012+A1:2016</td>
			</tr>
			<tr>
				<td>Children’s high chairs and multi-purpose high chairs for domestic use</td>
				<td>ASTM F404-16a</td>
				<td>ASTM F404-17</td>
			</tr>
		</table>
	</div><br />
</div>

</div>