<!-- { "Title":"January 2017 Recap", "PublishDate":"2017-01-26", "Description":"NORTH AMERICA NEWS - In July 2016, an unofficial prepublication of the final rule for Composite Wood Products was issued by the Environmental Protection Agency (EPA)..." }-->
<div class="recapSectionHeader">
    <ol style="margin-top:10px;">
        <li style="margin-bottom:10px;"><a href="#north_america_news">NORTH AMERICA NEWS</a></li>
        <li style="margin-bottom:10px;"><a href="#europe_news">EUROPE NEWS</a></li>
        <li style="margin-bottom:10px;"><a href="#asia_news">ASIA NEWS</a></li>
        <li style="margin-bottom:10px;"><a href="#south_america_news">SOUTH AMERICA NEWS</a></li>
        <li style="margin-bottom:10px;"><a href="#south_africa_news">SOUTH AFRICA NEWS</a></li>
    </ol>
    <hr />
</div>

<div class="recapSectionHeader">
    <a name="north_america_news" class="bookmark"></a>
    <h2>NORTH AMERICA NEWS</h2>
</div>

<div class="recapSection">
    <a name="epa-final-rule-wood-products" class="bookmark"></a>
    <strong>US EPA Issues Final Rule for Composite Wood Products</strong>
    <p>In July 2016, an unofficial prepublication of the final rule for Composite Wood Products was issued by the Environmental Protection Agency (EPA) (See <a href="http://www.asiainspection.com/regulatory-updates/August-2016" target="_blank">Regulatory Recap: August 2016</a>). The official <a href="https://www.regulations.gov/contentStreamer?documentId=EPA-HQ-OPPT-2016-0461-0001&disposition=attachment&contentType=pdf" target="_blank">Final Rule 40 CFR Part 770 “Formaldehyde Emission Standards for Composite Wood Products”</a> was then published in Federal Register, 81 FR 89674 on December 12, 2016.</p>
    <a href="/regulatory-updates/January-2017/epa-final-rule-wood-products" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The final rule implements formaldehyde standards for composite wood products to reduce formaldehyde emissions as required by the Compliance Monitoring Strategy of the Toxic Substances Control Act (TSCA). In the rule, emission limits are included for domestic or imported hardwood plywood, medium density fiberboard, particleboard and finished goods containing these products (See <a href="http://www.asiainspection.com/regulatory-updates/August-2016" target="_blank">Regulatory Recap: August 2016</a>).</p>
        <p>The final rule is effective February 10, 2017. One year after official publication on December 12, 2017, composite wood products that are sold, supplied, offered for sale, manufactured, or imported in the United States will need to be labeled as TSCA Title VI compliant.</p>
    </div><br />
</div>

<div class="recapSection">
    <a name="epa-chemicals-for-tsca-review" class="bookmark"></a>
    <strong>US EPA Proposes First 10 Chemicals for TSCA Review</strong>
    <p>In late 2016, the Environmental Protection Agency (EPA) <a href="https://www.epa.gov/assessing-and-managing-chemicals-under-tsca/evaluating-risk-existing-chemicals-under-tsca" target="_blank">announced the first 10 chemicals that will be evaluated</a> for potential risks to human health and the environment as required by the reformed Toxic Substances Control Act (TSCA). </p>
    <a href="/regulatory-updates/January-2017/epa-chemicals-for-tsca-review" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The evaluations will be used to determine whether these chemicals present an unreasonable risk of injury to health or the environment and are required to be completed within 3 years. If the EPA determines any chemical presents an unreasonable risk, the EPA must mitigate the risks within 2 years.</p>
        <p>The first 10 chemicals selected for evaluation from the list of 90 chemicals on the 2014 update to the TSCA work plan are summarized below:</p>
        <table>
            <tr>
                <td><b>Chemical</b></td>
                <td><b>Exposure Information<br />(2014 Work Plan)</b></td>
                <td><b>Hazard Information<br />(2014 Work Plan)</b></td>
            </tr>
            <tr>
                <td>1,4-Dioxane </td>
                <td>Used in consumer products. Present in groundwater, ambient air and indoor environments. High reported releases to the environment.</td>
                <td>Possible human carcinogen</td>
            </tr>
            <tr>
                <td>1-Bromopropane</td>
                <td>Used in consumer products. Present in drinking water, indoor environments, surface water, ambient air, groundwater, soil. Estimated to have high releases to the environment.</td>
                <td>Possible human carcinogen</td>
            </tr>
            <tr>
                <td>Asbestos</td>
                <td>Used in chlor-alkali production, consumer products, coatings and compounds, plastics, roofing products, and other applications.  Also found in certain imported products such as brakes, friction products, gaskets, packing materials and building materials.</td>
                <td>Known human carcinogen; Acute and chronic toxicity from inhalation exposures</td>
            </tr>
            <tr>
                <td>Carbon Tetrachloride </td>
                <td>Used in commercial/industrial products. Present in biomonitoring, drinking water, indoor environments, surface water, ambient air, groundwater, soil. High reported releases to the environment.</td>
                <td>Probable human carcinogen</td>
            </tr>
            <tr>
                <td>Cyclic Aliphatic Bromide Cluster (HBCD)</td>
                <td>Flame retardant in extruded polystyrene foam, textiles, and electrical and electronic appliances.</td>
                <td>Acute aquatic toxicity</td>
            </tr>
            <tr>
                <td>Methylene Chloride</td>
                <td>Used in consumer products. Present in drinking water, indoor environments, ambient air, groundwater, and soil.</td>
                <td>Probable human carcinogen</td>
            </tr>
            <tr>
                <td>N-Methylpyrrolidone (NMP)</td>
                <td>Used in consumer products.  Present in drinking water and indoor environments. High reported releases into the environment.</td>
                <td>Reproductive toxicity</td>
            </tr>
            <tr>
                <td>Pigment Violet 29 (Anthra [2,1,9-def:6,5,10-d’e’f’] diisoquinoline-1,3,8,10(2H,9H)-tetrone)</td>
                <td>Used in consumer products.  Estimated to have moderate releases to the environment.</td>
                <td>Aquatic toxicity</td>
            </tr>
            <tr>
                <td>Trichloroethylene (TCE)</td>
                <td>Used in consumer products. Present in drinking water, indoor environments, surface water, ambient air, groundwater, and soil.</td>
                <td>Probable human carcinogen</td>
            </tr>
            <tr>
                <td>Tetrachloroethylene (also known as perchloroethylene)</td>
                <td>Used in consumer products and dry cleaning. Present in biomonitoring, drinking water, indoor environments, ambient air, groundwater, soil. High reported releases to the environment.</td>
                <td>Probable human carcinogen</td>
            </tr>
        </table>
        <p>By the end of 2019, the EPA must have at least 20 chemical risk evaluations ongoing. Therefore, additional chemicals will be designated for evaluation in the near future.</p>
    </div><br />
</div>

<div class="recapSection">
    <a name="epa-regulation-vapor-degreasing" class="bookmark"></a>
    <strong>US EPA Proposes Regulation for TCE in Vapor Degreasing Under TSCA</strong>
    <p>On December 16, 2016, the Environmental Protection Agency issued <a href="https://www.federalregister.gov/documents/2016/12/16/2016-30063/trichloroethylene-regulation-of-certain-uses-under-tsca--6a" target="_blank">proposed rule (40 CFR Part 751) in Federal Register, 81 FR 91592</a>, regarding the prohibition of manufacture, processing and distribution in commerce of Trichloroethylene (TCE) for use in aerosol degreasing and spot cleaning at dry cleaning facilities.</p>
    <a href="/regulatory-updates/January-2017/epa-regulation-vapor-degreasing" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>TCE is a volatile organic compound used in industrial and commercial processes and has some limited uses in consumer and commercial products. However, the use of TCE may potentially lead to unreasonable health risks such as developmental toxicity, immunotoxicity, kidney toxicity, reproductive and endocrine effects, and neurotoxicity. Therefore, the EPA is proposing a prohibition of TCE under section 6 of the Toxic Substances Control Act (TSCA).</p>
        <p>The proposed rule (40 CFR Part 751) is summarized below:</p>
        <table>
            <tr>
                <td align="center"><b>Date</b></td>
                <td align="center"><b>Prohibition</b></td>
            </tr>
            <tr>
                <td>180 calendar days after the publication of the final rule</td>
                <td>All persons are prohibited from manufacturing, processing, and distributing in commerce TCE in aerosol degreasing products, TCE for use in aerosol degreasing products and TCE for spot cleaning at dry cleaning facilities.</td>
            </tr>
            <tr>
                <td>270 calendar days after the publication of the final rule</td>
                <td>All persons are prohibited from commercial use of TCE in aerosol degreasing products and TCE for spot cleaning at dry cleaning facilities</td>
            </tr>
        </table>
        <p>The comment period is now open until February 14, 2017.</p>
    </div><br />
</div>

<div class="recapSection">
    <a name="california-amendment-bottled-foods-beverages" class="bookmark"></a>
    <strong>US State of California Approves Amendment to CCR Regarding BPA in Canned and Bottled Foods and Beverages through Regular Rulemaking Procedure</strong>
    <p>On November 30, 2016, the Office of Administrative Law (OAL) approved <a href="http://oehha.ca.gov/proposition-65/crnr/notice-adoption-warnings-exposures-bisphenol-canned-and-bottled-foods-and" target="_blank">the amendment to the California Code of Regulation (CCR) regarding the Proposition 65 warning requirements for bisphenol A (BPA) under regular rulemaking procedure</a> (See <a href="http://www.asiainspection.com/regulatory-updates/September-2016" target="_blank">Regulatory Recap: September 2016</a>). The approved rule replaced the emergency regulation, which addresses the same issue.</p>
    <a href="/regulatory-updates/January-2017/california-amendment-bottled-foods-beverages" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>In the approved rule, the use of a standard point-of-sale warning for BPA exposures from canned and bottled foods and beverages is continued. However, the only difference between the emergency and regular rulemaking is that a new provision is added to require businesses to provide the below information to the Office of Environmental Health Hazard Assessment (OEHHA):</p>
        <ol>
            <li>A list of all food products for which a warning is being provided because BPA was intentionally used in the manufacture of the can lining or jar or bottle seals. The food product must be identified by:<br />
                <ol>
                    <li>Brand name</li>
                    <li>Product description, including the Federal Food and Drug Administration product category for the food.</li>
                    <li>Universal Product Code or other specific identifying designation</li>
                    <li>Where BPA is no longer used in the manufacture of the product packaging but the product is still available in commerce, the last expiration or “use by” date for the product where BPA was intentionally used in the can linings or seals.</li>
                </ol>
            </li>
        </ol>
        <p>The approved rule entered into force on January 1, 2017 and remains effective until December 31, 2017 while the emergency regulation expired on December 31, 2016.</p>
    </div><br />
</div>

<div class="recapSection">
    <a name="jan2017-california-prop65-recent-60-day-notices" class="bookmark"></a>
    <strong>California Proposition 65: Recent 60-Day Notices</strong>
    <p>In 1986, California voters approved an initiative titled California Proposition 65 to address their growing concerns about exposure to toxic chemicals. Since its origin, there have been many lawsuits that have resulted in reformulations of consumer products containing carcinogenic and reproductively harmful chemicals on the Cal Prop 65 list.</p>
    <a href="/regulatory-updates/January-2017/jan2017-california-prop65-recent-60-day-notices" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>Recent 60-day notices from November and December of 2016 include the following:</p>
        <table>
            <tr>
                <td><b>Chemical</b></td>
                <td><b>Product / Source</b></td>
                <td><b>Number of Notices</b></td>
            </tr>
            <tr>
                <td rowspan="3">Acrylamide</td>
                <td>Fried or Baked Vegetable Chips</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Potato Products</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Prune Juice</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Arsenic (inorganic arsenic compounds), Cadmium and cadmium compounds, Carbon monoxide, Chromium (hexavalent compounds), Cobalt metal powder</td>
                <td>Air emissions , Discharge into a source of drinking water</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Benzophenone</td>
                <td>Octocrylene-containing Sunscreen (products claiming a Sun Protection Factor)</td>
                <td>1</td>
            </tr>
            <tr>
                <td rowspan="2">Bisphenol A (BPA)</td>
                <td>Polycarbonate Wine Glass</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Thermal Paper</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Cadmium</td>
                <td>Cacao Nibs /  Raw Chocolate</td>
                <td>3</td>
            </tr>
            <tr>
                <td rowspan="3">Cadmium and cadmium compounds, Lead and lead compounds</td>
                <td>Cacao Nibs, Berries, Root Powder / Chocolate Bar</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Dietary Supplements</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Seaweed</td>
                <td>3</td>
            </tr>
            <tr>
                <td rowspan="2">Carbon monoxide</td>
                <td>Charcoal Grills/Smokers/Starter</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Fire Pits</td>
                <td>2</td>
            </tr>
            <tr>
                <td rowspan="29">Di(2-ethylhexyl)phthalate (DEHP)</td>
                <td>Body Massagers</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Backpack /Cosmetic Bag / Duffel bag</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Belts with Vinyl/PVC Components</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Cable With Microphone</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Children's Notebook / Sandals /  T-shirt</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Cleansing Enema Kit</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Clipper / Crimp Tool / Cutter</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Containers with Imitation Leather</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Exercise Equipment With a PVC Rope Component</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Eyeglasses with case</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Glue Gun</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Leather Flogger</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Motorcycle Jumper Cables</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Nipple Clamp</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Outdoor Window Thermometer</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Pump</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Replacement Breast Pump Tube</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Ring Gag</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Sauna Suit</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Sew Kit</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Shower cap / accessories</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Sports Armband</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Steering Wheel Covers</td>
                <td>1</td>
            </tr>
            <tr>
                <td>String</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Suction Cups</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Tape</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Tape Measure</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Travel Kit / Toiletries</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Vinyl/PVC coated hooks / comb out capes / Leg Tips / Sleeves / Collapsible Fishing Bucket / Electrical Tape / Jump Rope / Poncho / Gloves /Jewelry Boxes /Luggage and Totes / Microphone Cords / Planner Covers / Tool Grips /Trays / Wires</td>
                <td>26</td>
            </tr>
            <tr>
                <td rowspan="2">Di(2-ethylhexyl)phthalate (DEHP), Di-isodecyl phthalate (DIDP), Diisononyl phthalate (DINP)</td>
                <td>Hose</td>
                <td>1</td>
            </tr>
            <tr>
                <td>PVC rainwear and cases</td>
                <td>1</td>
            </tr>
            <tr>
                <td rowspan="3">Di(2-ethylhexyl)phthalate (DEHP), Diisononyl phthalate (DINP)</td>
                <td>Hose</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Fitness Balls</td>
                <td>1</td>
            </tr>
                <td>Product storage cases</td>
                <td>1</td>
            <tr>
                <td rowspan="3">Di(2-ethylhexyl)phthalate (DEHP), Di-n-butyl phthalate (DBP)</td>
                <td>Suction Cups</td>
                <td>1</td>
            </tr>
            <tr>
                <td>PVC Flexible Hose Kit</td>
                <td>2</td>
            </tr>
                <td>PVC Tubing</td>
                <td>3</td>
            <tr>
                <td>Di(2-ethylhexyl)phthalate (DEHP), Di-n-butyl phthalate (DBP), Diisononyl phthalate (DINP)</td>
                <td>Hose</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Di(2-ethylhexyl)phthalate (DEHP), Di-n-butyl phthalate (DBP)</td>
                <td>PVC Tubing</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Di-isodecyl phthalate (DIDP), Diisononyl phthalate (DINP)</td>
                <td>Blinders / Covers / Hose</td>
                <td>3</td>
            </tr>
            <tr>
                <td rowspan="15">Diisononyl phthalate (DINP)</td>
                <td>iPhone Charging Wire</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Armband</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Bondage Tape</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Chicken Stick</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Desk Pad</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Electrodes</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Grip Crochet</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Hose Valve</td>
                <td>1</td>
            </tr>
            <tr>
                <td>iPhone Charging Wire</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Raincoat</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Ribbon</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Tape</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Travel Kit Bag</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Vinyl Chair Covers</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Whip</td>
                <td>1</td>
            </tr>
            <tr>
                <td rowspan="37">Di-n-butyl phthalate (DBP)</td>
                <td>Footwear</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Gloves</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Adaptors</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Berries</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Bonding Clamps</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Brass Finials / Fittings / Hammers / Inserts</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Cauldrons</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Core Removal Tools</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Crossbolt</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Dietary Supplement</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Door Stoppers</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Drains</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Dried Green Teas, Dried Oolong Teas, Pu-Erh Teas, Twig Teas</td>
                <td>18</td>
            </tr>
            <tr>
                <td>Flanges</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Flare Connectors</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Footwear</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Galvanized hardware cloth</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Gas Valves</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Gauges</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Handle Fixture</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Immersion Wells</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Insert Kits</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Inflation Set</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Plug</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Plumb Bobs</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Pocket Tools</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Pop Up Drains</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Proflo brand of brass fittings/valves</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Punch Sets</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Shade Raisers</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Shut Off Nozzles</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Soft Nose Pols</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Tank Guides</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Template Guide Sets</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Tire Deflators</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Values</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Wallets</td>
                <td>1</td>
            </tr>
            <tr>
                <td rowspan="9">Lead and lead compounds</td>
                <td>Cinnamon</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Clay tools</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Dietary Supplements</td>
                <td>9</td>
            </tr>
            <tr>
                <td>Rice Seasoning</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Seaweed</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Seeds</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Spray Nozzle</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Turmeric</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Water Line Connection</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Wood dust</td>
                <td>Wood</td>
                <td>1</td>
            </tr>
        </table>
    </div><br />
</div>

<div class="recapSection">
    <a name="canada-concentration-degme" class="bookmark"></a>
    <strong>Canada DOH Issues Guidance Regarding Recommended Concentration for DEGME in Surface Coating Materials</strong>
    <p>On November 5, 2016, the Canada Department of Health (DOH) issued <a href="http://www.hc-sc.gc.ca/ewh-semt/pubs/contaminants/degme-emdeg/index-eng.php" target="_blank">Guidance: Code of Practice for a Recommended Concentration of 2-(2-Methoxyethoxy) Ethanol (DEGME) in Surface Coating Materials Available to Consumers in Canada</a> through the Canada Gazette. The recommended concentration of total DEGME present in a surface coating material should not more than 10,000 mg/kg (1.0% w/w).</p>
    <a href="/regulatory-updates/January-2017/canada-concentration-degme" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>DEGME is a substance specified in the List of Toxic Substances under the Canadian Environmental Protection Act, 1999, since DEGME is entering the environment in a quantity that constitutes a danger in Canada to human life or health. Therefore, to mitigate the exposure to DEGME, the guidance recommended that the total concentration of DEGME present in a surface coating material available to a consumer in Canada shall not exceed 10,000 mg/kg when a wet sample is tested.</p>
    </div><br />
</div>

<div class="recapSection">
    <a name="jan2017-canada-amends-toys-regulations" class="bookmark"></a>
    <strong>Canada Amends Toys Regulations SOR/2011-17</strong>
    <p>On November 25, 2016, <a href="http://www.gazette.gc.ca/rp-pr/p2/2016/2016-12-14/html/sor-dors302-eng.php" target="_blank">Regulation SOR/2016-302</a> was published and entered into force to amend the Toys Regulations SOR/2011-17. </p>
    <a href="/regulatory-updates/January-2017/jan2017-canada-amends-toys-regulations" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The amendments in Toys Regulations are summarized below:</p>
        <ol>
            <li>Editorial changes:<br />
                <ul>
                    <li>Section 7: Small parts</li>
                    <li>Section 26: Corrosive substances, irritants or sensitizers</li>
                    <li>Section 27: Substances in plastic materials — prohibition<br />
                        <ul>
                            <li>Removed Phthalate Regulations from Toys Regulations</li>
                            <li>Removed Exception: “Such a substance may be used to manufacture the plastic material in an amount of 1% or less if the substance meets the requirements of sections 25 and 26.”</li>
                        </ul>
                    </li>
                    <li>Section 29: Stuffing</li>
                </ul>
            </li>
            <li>Removed the following battery requirements and test method:<br />
                <ul>
                    <li>Section 43: Leakage</li>
                    <li>Schedule 9: Test Method for Batteries Used in Toys</li>
                </ul>
            </li>
            <li>Added definition:<br />
                <ul>
                    <li>Good Scientific Practices</li>
                    <li>Human experience data</li>
                </ul>
            </li>
            <li>Amended Permissible Limits of Toxicity (Schedule 2)</li>
            <li>Amended Criteria for Determining if a Substance or Stuffing Material is an Irritant, Corrosive or Sensitizing (Schedule 3)</li>
        </ol>
    </div><br />
</div>

<div class="recapSection">
    <a name="jan2017-us-recalls-summary" class="bookmark"></a>
    <strong>US Recalls Summary (November – December 2016)</strong>
    <p>In the US, when hazards are identified in consumer products, they will be recalled and published in the <a href="http://www.cpsc.gov/en/Recalls/" target="_blank">Consumer Product Safety Commission (CPSC) Recent Recalls</a> on the CPSC website, which is updated daily. The US recalls from November 1 to December 31, 2016 are summarized below:</p>
    <a href="/regulatory-updates/January-2017/jan2017-us-recalls-summary" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <center><img src="https://s3.asiainspection.com/newsletters/2017-01-RegRecap/2017.01_pieCharts_US_hazards.gif" style="width:90%; max-width:850px;" /></center>
        <table>
            <tr>
                <td><b>Hazard</b></td>
                <td><b>Frequency</b></td>
            </tr>
            <tr>
                <td>Fire Hazard</td>
                <td>11</td>
            </tr>
            <tr>
                <td>Fall Hazard</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Injury Hazard</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Laceration Hazard</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Other Hazards *</td>
                <td>9</td>
            </tr>
        </table>
        <p><b>*</b> Other Hazards include Amputation Hazard, Burn Hazard, Choking Hazard, Drowning Hazard, Electrical Shock Hazard and Ingestion Hazard with frequency less than 4.</p>
        <br />
        <center><img src="https://s3.asiainspection.com/newsletters/2017-01-RegRecap/2017.01_pieCharts_US_categories.gif" style="width:90%; max-width:850px;" /></center>
        <table>
            <tr>
                <td><b>Product Categories</b></td>
                <td><b>Frequency</b></td>
            </tr>
            <tr>
                <td>Sporting Goods / Equipment</td>
                <td>8</td>
            </tr>
            <tr>
                <td>Home Electrical Appliances (Hair Dryer, Iron, etc.)</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Lighting</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Homeware (Non-Food Contact)</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Furniture</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Other Categories ^</td>
                <td>10</td>
            </tr>
        </table>
        <p><b>^</b> Other Categories include Candles & Burning Items and Accessories, Fabric / Textile / Garment / Home Textile, Food Contact Material, Footwear, Juvenile Product, Tools and Hardware and Toys and Childcare Articles with a frequency of less than 3.</p>
    
        <p>Download the complete <a href="https://s3.asiainspection.com/newsletters/2017-01-RegRecap/AI_ANSECO_US_recalls_2017.01.pdf">Recalls Summary – US (Last Update Date: December 31, 2016)</a></p>
    </div><br />
</div>

<div class="recapSection">
    <a name="jan2017-canada-recalls-summary" class="bookmark"></a>
    <strong>Canada Recalls Summary (November – December 2016)</strong>
    <p>In Canada, when hazards are identified in consumer products, they will be recalled and published in the <a href="http://healthycanadians.gc.ca/recall-alert-rappel-avis/index-eng.php?cat=4" target="_blank">Recalls and Safety Alerts Database</a> on the Health Canada website, which is updated daily. The Canada recalls from November 1 to December 31, 2016  are summarized below:</p>
    <a href="/regulatory-updates/January-2017/jan2017-canada-recalls-summary" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <center><img src="https://s3.asiainspection.com/newsletters/2017-01-RegRecap/2017.01_pieCharts_Canada_hazards.gif" style="width:90%; max-width:850px;" /></center>
        <table>
            <tr>
                <td><b>Hazard</b></td>
                <td><b>Frequency</b></td>
            </tr>
            <tr>
                <td>Choking Hazard</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Flammability Hazard</td>
                <td>14</td>
            </tr>
            <tr>
                <td>Fire Hazard</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Fall Hazard</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Injury Hazard</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Other Hazards *</td>
                <td>8</td>
            </tr>
        </table>
        <p><b>*</b> Other Hazards include Burn Hazard, Laceration Hazard, Microbial Hazard and Strangulation Hazard with frequency less than 5.</p>
        <br />
        <center><img src="https://s3.asiainspection.com/newsletters/2017-01-RegRecap/2017.01_pieCharts_Canada_categories.gif" style="width:90%; max-width:850px;" /></center>
        <table>
            <tr>
                <td><b>Product Categories</b></td>
                <td><b>Frequency</b></td>
            </tr>
            <tr>
                <td>Fabric / Textile / Garment / Home Textile</td>
                <td>18</td>
            </tr>
            <tr>
                <td>Toys and Childcare Articles</td>
                <td>13</td>
            </tr>
            <tr>
                <td>Sports/Fitness Equipment</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Home Electrical Appliances (Hair Dryer, Iron, etc.)</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Juvenile Products</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Other Categories ^</td>
                <td>6</td>
            </tr>
        </table>
        <p><b>^</b> Other Categories include Candles & Burning items and Accessories, Consumer Chemicals, Footwear, Furniture, Homeware (Non-Food Contact) and Juvenile Products with a frequency of less than 3.</p>
    
        <p>Download the complete <a href="https://s3.asiainspection.com/newsletters/2017-01-RegRecap/AI_ANSECO_Canada_recalls_2017.01.pdf">Recalls Summary – Canada (Last Update Date: December 31, 2016)</a></p>
    </div><br />
</div>

<div class="recapSectionHeader">
    <a name="south_america_news" class="bookmark"></a>
    <h2>SOUTH AMERICA NEWS</h2>
</div>

<div class="recapSection">
    <a name="mexico-approves-food-contact-materials" class="bookmark"></a>
    <strong>Mexico Approves Food Contact Materials Standard</strong>
    <p>On February 15, 2016, a draft standard related to food contact ceramics and glass materials was proposed (See <a href="http://www.asiainspection.com/regulatory-updates/February-2016" target="_blank">Regulatory Recap: February 2016</a>). On December 24, 2016, the standard entered into force as <a href="http://www.dof.gob.mx/normasOficiales/6205/salud3a18_C/salud3a18_C.html" target="_blank">NOM-231-SSA1-2016 Articles of Glazed Pottery, Glazed Ceramics, Porcelain and Articles of Glass-Maximum Permissible Limits of Soluble Lead and Cadmium-Test Method</a>.</p>
    <a href="/regulatory-updates/January-2017/mexico-approves-food-contact-materials" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The new standard replaced the previous standard NOM-231-SSA1-2002 for food contact ceramics and expands the scope of products to also include glass materials, with relevant limits for soluble lead and cadmium.</p>
        <p>Compared to the draft standard, the maximum permissible limits of soluble lead and cadmium in glassware is amended to include a new type of article. Changes are bolded below.</p>
        <p><u>Table 1. Maximum permissible limits for soluble lead and cadmium in pottery, ceramics, and porcelain</u></p>
        <table>
            <tr>
                <td rowspan="2">TYPE OF ARTICLE</td>
                <td rowspan="2">CAPACITY</td>
                <td rowspan="2">No. of samples</td>
                <td rowspan="2">CRITERIA FOR ACCEPTANCE </td>
                <td colspan="2">Maximum Permissible Limit</td>
            </tr>
            <tr>
                <td>LEAD<br />(mg / L)</td>
                <td>Cadmium<br />(mg / L)</td>
            </tr>
            <tr>
                <td>Flatware</td>
                <td>Does not apply</td>
                <td>4</td>
                <td>Average</td>
                <td>2.00</td>
                <td>0.50</td>
            </tr>
            <tr>
                <td>Small hollowware</td>
                <td>&lt; 1.1 L</td>
                <td>4</td>
                <td>All</td>
                <td>2.00</td>
                <td>0.50</td>
            </tr>
            <tr>
                <td>Large hollowware</td>
                <td>&gt; 1.1 L</td>
                <td>4</td>
                <td>All</td>
                <td>1.00</td>
                <td>0.25</td>
            </tr>
            <tr>
                <td>Storage hollowware</td>
                <td>&gt; 3 L</td>
                <td>4</td>
                <td>All</td>
                <td>0.50</td>
                <td>0.25</td>
            </tr>
            <tr>
                <td>Cups and mugs</td>
                <td>Does not apply</td>
                <td>4</td>
                <td>All</td>
                <td>0.50</td>
                <td>0.25</td>
            </tr>
            <tr>
                <td>Cookware</td>
                <td>Does not apply</td>
                <td>4</td>
                <td>All</td>
                <td>0.50</td>
                <td>0.05</td>
            </tr>
        </table>
            <p><u>Table 2. Maximum permissible limits for soluble lead and cadmium in glassware</u></p>
        <table>
            <tr>
                <td rowspan="2">TYPE OF ARTICLE</td>
                <td rowspan="2">CAPACITY</td>
                <td rowspan="2">No. of samples</td>
                <td rowspan="2">CRITERIA FOR ACCEPTANCE </td>
                <td colspan="2">Maximum Permissible Limit</td>
            </tr>
            <tr>
                <td>LEAD<br />(mg / L)</td>
                <td>Cadmium<br />(mg / L)</td>
            </tr>
                <td style="font-weight:bold;">Flatware</td>
                <td style="font-weight:bold;">Does not apply</td>
                <td style="font-weight:bold;">4</td>
                <td style="font-weight:bold;">Average</td>
                <td style="font-weight:bold;">1.50</td>
                <td style="font-weight:bold;">0.50</td>
            </tr>
            <tr>
                <td>Small hollowware</td>
                <td>&lt; 600 mL</td>
                <td>4</td>
                <td>All</td>
                <td>1.50</td>
                <td>0.50</td>
            </tr>
            <tr>
                <td>Large hollowware</td>
                <td>600 mL to 3 L</td>
                <td>4</td>
                <td>All</td>
                <td>0.75</td>
                <td>0.25</td>
            </tr>
            <tr>
                <td>Storage hollowware</td>
                <td>&gt; 3 L</td>
                <td>4</td>
                <td>All </td>
                <td>0.50</td>
                <td>0.25</td>
            </tr>
        </table>
    </div><br />
</div>

<div class="recapSectionHeader">
    <a name="europe_news" class="bookmark"></a>
    <h2>EUROPE NEWS</h2>
</div>

<div class="recapSection">
    <a name="europe-issues-guidance-for-lvd" class="bookmark"></a>
    <strong>Europe Issues Guidance for LVD</strong>
    <p>In November 2016, <a href="http://ec.europa.eu/DocsRoom/documents/20341/attachments/1/translations/en/renditions/native" target="_blank">a Guidance on the Application of Low Voltage Directive (LVD), 2014/35/EU</a> was issued. The guidance intends to facilitate the application of the LVD and represents a reference for ensuring consistent and harmonized application of the directive.</p>
    <a href="/regulatory-updates/January-2017/europe-issues-guidance-for-lvd" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>In the guidance, clarifications and explanations are provided to each Article of the Directive. Apart from the explanation, the guidance also lists example products that are within or outside the scope in the Directive. In addition, a comparison table of harmonized standards between LVD, 2014/35/EU and Machinery Directive (MD), 2006/42/EC is provided since they share some standards.</p>
    </div><br />
</div>

<div class="recapSectionHeader">
    <a name="south_africa_news" class="bookmark"></a>
    <h2>SOUTH AFRICA NEWS</h2>
</div>

<div class="recapSection">
    <a name="south-africa-notice-to-adopt-standards" class="bookmark"></a>
    <strong>South Africa Issues Notice to Adopt Standards</strong>
    <p>On December 9, 2016, the Department of Trade and Industry issued <a href="http://www.gov.za/sites/www.gov.za/files/40480_gen867.pdf" target="_blank">Notice 867 of 2016</a>. The notice announced that the Board of the South African Bureau of Standards has acted in regard to standards according to Standard Act, 2008 (Act No. 8 of 2008).</p>
    <a href="/regulatory-updates/January-2017/south-africa-notice-to-adopt-standards" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The following new standards relating to product testing are issued:</p>
        <table>
            <tr>
                <td>Standard No. and year</td>
                <td>Title, scope and purport</td>
            </tr>
            <tr>
                <td>SANS 60034-27-3:2016/ IEC 60034-27-3:2015</td>
                <td>Rotating electrical machines – Part 27-3: Dielectric dissipation factor measurement on stator winding insulation of rotating electrical machines. Provides guidelines for the test procedures and the interpretation of test results for dielectric dissipation factor measurements on the stator winding insulation of rotating electrical machines.</td>
            </tr>
            <tr>
                <td>SANS 60931-1:2016/ IEC 60931-1:1996</td>
                <td>Shunt power capacitors of the non-self-healing type for a.c. systems having a rated voltage up to and including 1000 V – Part 1: General – Performance, testing and rating – Safety requirements – Guide for installation and operation. Applies to both capacitor units and capacitor banks intended to be used, particularly, for power-factor correction of a.c. power systems having a rated voltage up to and including 1 000 V and frequencies 15 Hz to 60 Hz.</td>
            </tr>
            <tr>
                <td>SANS 61427-2:2016/ IEC 61427-2:2015</td>
                <td>Secondary cells and batteries for renewable energy storage – General requirements and methods of test – Part 2: On-grid application. Relates to secondary batteries used in on-grid Electrical Energy Storage (EES) applications and provides the associated methods of test for the verification of their endurance, properties and electrical performance in such applications.</td>
        </table>
        <p>The following product standards are amended:</p>
        <table>
            <tr>
                <td>Standard No. and year</td>
                <td>Title, scope and purport</td>
            </tr>
            <tr>
                <td>SANS 105-E01:2016/ ISO 105-E01:2013 (E.d 3)</td>
                <td>Textiles – Tests for colour fastness – Part E01: Colour fastness to water. Specifies a method for determining the resistance of the colour of textiles of all kinds and in all forms to immersion in water.</td>
            </tr>
            <tr>
                <td>SANS 105-E02:2016/ ISO 105-E02:2013 (E.d 2)</td>
                <td>Textiles – Tests for colour fastness – Part E02: Colour fastness to sea water. Specifies a method for determining the resistance of the colour of textiles of all kinds and in all forms to immersion in sea water.</td>
            </tr>
            <tr>
                <td>SANS 105-E04:2016/ ISO 105-E04:2013 (E.d 3)</td>
                <td>Textiles – Tests for colour fastness – Part E04: Colour fastness to perspiration. Specifies a method for determining the resistance of the colour of textiles of all kinds and in all forms to the action of human perspiration.</td>
            </tr>
            <tr>
                <td>SANS 3759:2016/ ISO 3759:2011 (E.d 3)</td>
                <td>Textiles – Preparation, marking and measuring of fabric specimens and garments in tests for determination of dimensional change. Specifies a method for the preparation, marking and measuring of textile fabrics, garments and fabric assemblies for use in tests for assessing dimensional change after specified treatment, for example washing, dry cleaning, soaking in water and steaming. Applicable to woven and knitted fabrics and to made-up textile articles.</td>
            </tr>
            <tr>
                <td>SANS 10965:2016/ ISO 10965:2011 (E.d 2)</td>
                <td>Textile floor coverings – Determination of electrical resistance. Describes a laboratory method for the determination of the electrical resistance of textile floor coverings. Includes both horizontal and vertical measurements.</td>
            </tr>
            <tr>
                <td>SANS 54511-3:2016/ EN 14511-3:2013 (E.d 2)</td>
                <td>Air conditioners, liquid chilling packages and heat pumps with electrically driven compressors for space heating and cooling – Part 3: Test methods. Specifies test methods for the rating and performance of air conditioners, liquid chilling packages and heat pumps using either air, water or brine as heat transfer media, with electrically driven compressors when used for space heating and cooling.</td>
            </tr>
            <tr>
                <td>SANS 60076-10:2016/ IEC 60076-10:2016 (E.d 2)</td>
                <td>Power transformers – Part 10: Determination of sound levels. Defines sound pressure and sound intensity measurement methods from which sound power levels of transformers, reactors and their associated cooling devices are determined.</td>
            </tr>
            <tr>
                <td>SANS 62532:2016/ IEC 62532:2016 (Ed. 1.1)</td>
                <td>Fluorescent induction lamps – Safety specifications. Consolidated edition incorporating IEC amendment No. 1. Amended to include requirements for photobiology safety and information on water contact.</td>
            </tr>
        </table>
    </div><br />
</div>

<div class="recapSectionHeader">
    <a name="asia_news" class="bookmark"></a>
    <h2>ASIA NEWS</h2>
</div>

<div class="recapSection">
    <a name="china-new-technical-standards-environmental-labelling" class="bookmark"></a>
    <strong>China MEP Issues New Technical Standards for Environmental Labelling of Textile Products</strong>
    <p>On November 14, 2016, the Ministry of Environmental Protection of the People’s Republic of China (MEP) issued the newly approved standard, <a href="http://kjs.mep.gov.cn/hjbhbz/bzwb/other/hjbz/201612/W020161202321802029261.pdf" target="_blank">HJ 2546-2016 Technical Requirement for Environmental Labeling Products - Textile Products</a>. The standard entered into force on January 1, 2017.</p>
    <a href="/regulatory-updates/January-2017/china-new-technical-standards-environmental-labelling" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>To fulfill the requirements of the Environmental Protection Law and reduce adverse effects on human health and the environment, the new standard sets forth the following requirements for textiles products with reference to certain standards including but not limited to GB 18401 and GB 31701:</p>
        <ol>
            <li>Azo Dyes</li>
            <li>Carcinogenic Dyes</li>
            <li>Allergenic Disperse Dyes</li>
            <li>Flame Retardants</li>
            <li>Surfactants</li>
            <li>Asbestos</li>
            <li>Heavy Metals</li>
            <li>Formaldehyde</li>
            <li>pH Value</li>
            <li>Phthalates</li>
            <li>Polycyclic Aromatic Hydrocarbons (PAH)</li>
            <li>Perfluorinated Chemicals (PFC)</li>
            <li>Organotin</li>
            <li>Dimethyl Fumarate (DMF)</li>
            <li>Chlorinated Phenol</li>
            <li>Chlorobenzene</li>
        </ol>
        <p>The new standard replaces following standards:</p>
        <ol>
            <li>HJ/T 307-2006 Technical Requirement for Environmental Labeling Products – Ecotypic Textiles</li>
            <li>HJ/T 309-2006 Technical Requirement for Environmental Labeling Products – Woolens</li>
        </ol>
    </div><br />
</div>

<div class="recapSection">
    <a name="hksar-adoption-of-updated-safety-standards-for-toys" class="bookmark"></a>
    <strong>HKSAR Proposes Adoption of Updated Safety Standards for Toys and Certain Children’s Products</strong>
    <p>On December 1, 2016, the Secretary for Commerce and Economic Development, Jacko Tsang, <a href="http://www.info.gov.hk/gia/general/201612/01/P2016120100328.htm" target="_blank">wrote to propose adoption of updated safety standards for toys and children’s products</a> listed in Schedule 2 under the Toys and Children’s Product Safety Ordinance (Cap. 424). </p>
    <a href="/regulatory-updates/January-2017/hksar-adoption-of-updated-safety-standards-for-toys" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The proposed adoption of updated standards is summarized below:</p>
        <table>
            <tr>
                <td>Product Type</td>
                <td>Current Standard</td>
                <td>Updated Standard (Publication/Effective Date)</td>
            </tr>
            <tr>
                <td rowspan="4">Toys</td>
                <td>-</td>
                <td>ISO 8124-7:2015 (October 2015)</td>
            </tr>
            <tr>
                <td>BS EN 71-5:2013</td>
                <td>BS EN 71-5:2015 (September 2015)</td>
            </tr>
            <tr>
                <td>-</td>
                <td>BS EN 71-13:2014 (April 2014)</td>
            </tr>
            <tr>
                <td>BS EN 62115:2005+A11:2015</td>
                <td>BS EN 62115:2005+A12:2015 (January 2015)</td>
            </tr>
            <tr>
                <td rowspan="2">Bunk beds for domestic use</td>
                <td>BS EN 747-1:2012</td>
                <td>BS EN 747-1:2012+A1:2015 (June 2015)</td>
            </tr>
            <tr>
                <td>BS EN 747-2:2012</td>
                <td>BS EN 747-2:2012+A1:2015 (June 2015)</td>
            </tr>
            <tr>
                <td>Child safety barriers for domestic use</td>
                <td>ASTM F1004-13</td>
                <td>ASTM F1004-16b (August 2016)</td>
            </tr>
            <tr>
                <td rowspan="3">Children’s high chairs and multi-purpose high chairs for domestic use</td>
                <td>ASTM F404-14a</td>
                <td>ASTM F404-16a (March 2016)</td>
            </tr>
            <tr>
                <td>ISO 9221-1:1992</td>
                <td>ISO 9221-1:2015 (November 2015)</td>
            </tr>
            <tr>
                <td>ISO 9221-2:1992</td>
                <td>ISO 9221-2:2015 (November 2015)</td>
            </tr>
            <tr>
                <td>Playpens for domestic use</td>
                <td>ASTM F406-13</td>
                <td>ASTM F406-15 (December 2015)</td>
            </tr>
            <tr>
                <td>Wheeled child conveyances</td>
                <td>ASTM F833-13b</td>
                <td>ASTM F833-15 (December 2015)</td>
            </tr>
        </table>
    </div><br />
</div>

<br /><p><i>This summary is not intended to be exhaustive nor should it be construed as legal advice.</i></p>