<!-- { "Title":"July 2017 Recap", "PublishDate":"2017-07-18", "Description":"NORTH AMERICA NEWS - On June 30, 2017, the California Office of Environmental Health Hazard Assessment (OEHHA) issued notice of intent to add the following chemicals to the Proposition 65 list of chemicals known to the state to cause cancer." }-->
<div class="recapSectionHeader">
	<ol style="margin-top:10px;">
		<li style="margin-bottom:10px;"><a href="#north_america_news">NORTH AMERICA NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#europe_news">EUROPE NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#australia_news">AUSTRALIA NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#asia_news">ASIA NEWS</a></li>
	</ol>
	<hr />
</div>

<div class="recapSectionHeader">
	<a name="north_america_news" class="bookmark"></a>
	<h2>NORTH AMERICA NEWS</h2>
</div>

<div class="recapSection">
	<a name="july2017-california-oehha-notice-chemical-listing" class="bookmark"></a>
	<strong>US State of California OEHHA Issues Notice Regarding Listing Intention for Certain Chemicals</strong>
	<p>On June 30, 2017, the California Office of Environmental Health Hazard Assessment (OEHHA) issued <a href="https://oehha.ca.gov/proposition-65/crnr/notice-intent-list-nn-dimethylformamide-2-mercaptobenzothiazole-and" target="_blank">notice</a> of intent to add the following chemicals to the Proposition 65 list of chemicals known to the state to cause cancer.</p>
	<a href="/regulatory-updates/July-2017/july2017-california-oehha-notice-chemical-listing" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The chemicals are:</p>
		<ol>
			<li>  N, N-Dimethylformamide [CAS No. 68-12-2]</li>
			<li>  2‑Mercaptobenzothiazole [CAS No. 149-30-4]</li>
			<li>  Tetrabromobisphenol A [CAS No. 79-94-7]</li>
		</ol>
		<p>OEHHA is now requesting comments as to whether the above chemicals meet the Proposition 65 criteria for chemcials known to the state to cause cancer. The comment period will end on July 31, 2017.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-california-oehha-approves-nsrl-styrene" class="bookmark"></a>
	<strong>US State of California OEHHA Approves NSRL for Styrene</strong>
	<p>On May 11, 2017, the California Office of Environmental Health Hazard Assessment (OEHHA) issued <a href="https://oehha.ca.gov/proposition-65/crnr/notice-amendment-section-25705-no-significant-risk-level-styrene" target="_blank">notice to approve No Significant Risk Level (NSRL) for styrene</a>, which was listed in 2016 under Proposition 65 as being known to the state to cause cancer (See <a href="http://www.asiainspection.com/regulatory-updates/May-2016/california-oehha-updates" target="_blank">Regulatory Recap: May 2016</a>).</p>
	<a href="/regulatory-updates/July-2017/july2017-california-oehha-approves-nsrl-styrene" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The chemical details and issued NSRL are provided below:</p>
		<table>
			<tr>
				<td style="font-weight:bold; text-align:center;">Chemical</td>
				<td style="font-weight:bold; text-align:center;">Chemical Abstracts Service<br>Number (CAS No.)</td>
				<td style="font-weight:bold; text-align:center;">Number (CAS No.)</td>
				<td style="font-weight:bold; text-align:center;">No significant risk<br>level (NSRL)</td>
			</tr>
			<tr>
				<td style="text-align:center">Styrene</td>
				<td style="text-align:center">100-42-5</td>
				<td style="text-align:center">Cancer</td>
				<td style="text-align:center">27 µg/day</td>
			</tr>
		</table>
		<p>The NSRL is effective July 1, 2017.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-california-prop65-nsrls-madls" class="bookmark"></a>
	<strong>US State of California Issues Latest List (May 2017) of Proposition 65 NSRLs and MADLs</strong>
	<p>On May 17, 2017, the California Office of Environmental Health Hazard Assessment (OEHHA) issued <a href="https://oehha.ca.gov/proposition-65/general-info/current-proposition-65-no-significant-risk-levels-nsrls-maximum" target="_blank">an updated list (May 2017) summarizing the latest No Significant Risk Levels (NSRLs) for carcinogens and Maximum Allowable Dose Levels (MADLs) for reproductive toxic chemicals</a>. The NSRLs and MADLs provide safe harbor limits for Proposition 65 chemicals.</p>
	<a href="/regulatory-updates/July-2017/july2017-california-prop65-nsrls-madls" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>For Proposition 65 chemicals, if the exposure levels and discharges to drinking water sources are below the safe harbor levels (NSRLs and MADLs), the labeling requirement of Proposition 65 will be exempted. In some cases, enforcement actions may have resulted in negotiated exposure levels relative to specific settlement agreements.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-california-oehha-glyphosate-prop65" class="bookmark"></a>
	<strong>US State of California OEHHA Approved to List Glyphosate under Proposition 65</strong>
	<p>On June 26, 2017, the California Office of Environment Health Hazard Assessment (OEHHA) issued <a href="https://oehha.ca.gov/proposition-65/crnr/glyphosate-listed-effective-july-7-2017-known-state-california-cause-cancer" target="_blank">notice for approving glyphosate being added to the Proposition 65 list</a> (see <a href="http://www.asiainspection.com/regulatory-updates/April-2017/apr2017-california-oehha-glyphosate-listed-prop65" target="_blank">Regulatory Recap: April 2017</a>).</p>
	<a href="/regulatory-updates/July-2017/july2017-california-oehha-glyphosate-prop65" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The chemical details are provided below:</p>
		<table>
			<tr>
				<td style="font-weight:bold; text-align:center;">Chemical</td>
				<td style="font-weight:bold; text-align:center;">Chemical Abstracts Service Number (CAS No.)</td>
				<td style="font-weight:bold; text-align:center;">Types of Toxicity</td>
			</tr>
			<tr>
				<td style="text-align:center;">Glyphosate</td>
				<td style="text-align:center;">1071-83-6</td>
				<td style="text-align:center;">Cancer</td>
			</tr>
		</table>
		<p>Glyphosate is listed under Proposition 65 effective July 7, 2017.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-washington-cspa-restriction-flame-retardants" class="bookmark"></a>
	<strong>US State of Washington Implements CSPA Phase 1 Restriction Concerning Flame Retardant Chemicals</strong>
	<p>On July 1, 2017, the Washington House Bill HB 2545 to amend the Children’s Safe Product Act (CSPA) Chapter 70.240 RCW was implemented. The amendment adds restrictions on flame retardant chemicals in children's products and residential upholstered furniture (See <a href="http://www.asiainspection.com/regulatory-updates/April-2016/washington-flame-retardants" target="_blank">Regulatory Recap: April 2016</a>).</p>
	<a href="/regulatory-updates/July-2017/july2017-washington-cspa-restriction-flame-retardants" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<p>Starting July 1, 2017, manufacturers, wholesalers and retailers shall not manufacture, sell or distribute children’s products and upholstered furniture containing the following flame retardants:</p>
		<table>
			<tr>
				<td style="font-weight:bold;">Flame Retardants</td>
				<td style="font-weight:bold;">Chemical Abstracts Service (CAS) Number</td>
			</tr>
			<tr>
				<td>Tris(1,3-dichloro-2-propyl)phosphate (TDCPP)</td>
				<td>13674-87-8</td>
			</tr>
			<tr>
				<td>Tris(2-chloroethyl) phosphate (TCEP)</td>
				<td>115-96-8</td>
			</tr>
			<tr>
				<td>Decabromodiphenyl ether</td>
				<td>1163-19-5</td>
			</tr>
			<tr>
				<td>Hexabromocyclododecane (HBCD)</td>
				<td>25637-99-4</td>
			</tr>
			<tr>
				<td>Tetrabromobisphenol A (Additive TBBPA)</td>
				<td>79-94-7</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-canada-policy-infant-sleepwear" class="bookmark"></a>
	<strong>Health Canada Updates Policy Regarding Introducing Infant Sleepwear Size Requirements</strong>
	<p>In May 2017, Health Canada revised the policy regarding size requirements for infant sleepwear. These requirements are found in Children’s Sleepwear: Flammability Requirement Guidelines (2016) which is regulated under SOR/2016-169 Children Sleepwear Regulations.</p>
	<a href="/regulatory-updates/July-2017/july2017-canada-policy-infant-sleepwear" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Currently, the guidelines specify that sleepwear designed for infants up to 7 kg with a chest circumference greater than 508 mm, will be subject to the “loose-fitting sleepwear” requirements. The updates to the guidelines will incorporate the following requirements to sleepwear for infants weighing up to 7 kg:</p>
		<ol>
			<li>Chest circumference must be less than or equal to 508 mm</li>
			<li>Labeling information must bear the intended age grade expressed in months and the age grade must be 9 months or younger</li>
		</ol>
		<p>In addition, the updates aim to harmonize the sleepwear size requirements with the U.S.  requirements found in 16 CFR 1615.  The revised requirements will be incorporated into a new version of the Children’s Sleepwear guidelines, yet to be published.</p>		
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="europe_news" class="bookmark"></a>
	<h2>EUROPE NEWS</h2>
</div>

<div class="recapSection">
	<a name="july2017-reach-candidate-list-expanded-svhc" class="bookmark"></a>
	<strong>REACH – Candidate List Expanded to Include New SVHC</strong>
	<p>On July 7, 2017, the European Chemicals Agency (ECHA) added 1 new substance of very high concern (SVHC) to <a href="https://echa.europa.eu/candidate-list-table?p_p_id=disslists_WAR_disslistsportlet&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_pos=2&p_p_col_count=3&_disslists_WAR_disslistsportlet_cur=1&_disslists_WAR_disslistsportlet_keywords=&_disslists_WAR_disslistsportlet_advancedSearch=false&_disslists_WAR_disslistsportlet_delta=50&_disslists_WAR_disslistsportlet_casNumber=&_disslists_WAR_disslistsportlet_deltaParamValue=50&_disslists_WAR_disslistsportlet_andOperator=true&_disslists_WAR_disslistsportlet_haz_detailed_concern=&_disslists_WAR_disslistsportlet_name=&_disslists_WAR_disslistsportlet_ecNumber=&_disslists_WAR_disslistsportlet_dte_inclusionFrom=&_disslists_WAR_disslistsportlet_dte_inclusionTo=&_disslists_WAR_disslistsportlet_doSearch=&_disslists_WAR_disslistsportlet_orderByCol=dte_inclusion&_disslists_WAR_disslistsportlet_orderByType=desc" target="_blank">the SVHC Candidate List</a> under Registration, Evaluation, Authorisation and Restriction of Chemicals (REACH). The added chemical can be very persistent and very bioaccumulative (vPvB) properties. This addition brings the SVHC Candidate List total to 174 substances.</p>
	<a href="/regulatory-updates/July-2017/july2017-reach-candidate-list-expanded-svhc" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The chemical added is:</p>
		<ol style="padding-left: 15px">
			<li>Perfluorohexane-1-sulphonic acid and its salts</li>
		</ol>
		<p>The deadline for notification about the presence of the new SVHCs in articles is January 7, 2018, six months after their inclusion on the List.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-echa-new-svhc-chemicals" class="bookmark"></a>
	<strong>ECHA Intends to Propose 5 Chemicals as SVHC</strong>
	<p>On June 14, 2017, the European Chemicals Agency (ECHA) <a href="https://echa.europa.eu/registry-of-current-svhc-intentions" target="_blank">intended to propose 5 chemicals to be added to the Substances of Very High Concern (SVHC) Candidate List</a> under Regulation (EC) No. 1907/2006 (REACH).</p>
	<a href="/regulatory-updates/July-2017/july2017-echa-new-svhc-chemicals" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The proposed chemicals are as follows:</p>
		<table>
			<tr>
				<td style="font-weight:bold;">Chemicals</td>
				<td style="font-weight:bold;">Chemical<br>Abstract Service<br>(CAS) Number</td>
				<td style="font-weight:bold;">Reason for intension</td>
			</tr>
			<tr>
				<td>4,4'-isopropylidenediphenol (BPA)</td>
				<td>80-05-7</td>
				<td>Serious effects to the<br>environment</td>>
			</tr>
			<tr>
				<td>Reaction products of 1,3,4-thiadiazolidine-2,5-dithione,<br>formaldehyde and 4-heptylphenol, branched and linear<br>(RP-HP)</td>
				<td style="text-align:center;">-</td>
				<td>Endocrine disrupting<br>properties</td>
			</tr>
			<tr>
				<td>Cadmium carbonate</td>
				<td>513-78-0</td>
				<td rowspan="3">Carcinogenic, mutagenic<br>and toxic for<br>reproduction.<br>May cause damage to<br>organs through<br>prolonged or repeated<br>exposure.</td>
			</tr>
			<tr>
				<td>Cadmium hydroxide</td>
				<td>21041-95-2</td>
			</tr>
			<tr>
				<td>Cadmium nitrate</td>
				<td>10325-94-7</td>
			</tr>
			<tr>
				<td>1,6,7,8,9,14,15,16,17,17,18,18-<br>
				dodecachloropentacyclo[12.2.1.16,9.02,13.05,10]octadeca-<br>
				7,15-diene (Dechlorane Plus) [covering any of its individual<br>
				isomers or any combination thereof]</td>
				<td style="text-align:center;">-</td>
				<td>Very persistent and very<br>bioaccumulative (vPvB)</td>
			</tr>
			<tr>
				<td>Tricobalt tetraoxide</td>
				<td>1308-06-1</td>
				<td>Carcinogenic, mutagenic<br>and toxic for<br>reproduction</td>
			</tr>
		</table>
		<p>The expected submission date for the intention is August 7, 2017.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-echa-amendment-restriction-pfoa" class="bookmark"></a>
	<strong>ECHA Approves Amendment of Annex XVII List of Restriction Introducing PFOA</strong>
	<p>On June 13, 2017, Commission Regulation (EU) 2017/1000 was published to add Perfluorooctanoic Acid (PFOA) to Annex XVII List of Restriction under Regulation (EC) No. 1907/2006 (REACH). The effective date of the regulation was July 4, 2017.</p>
	<a href="/regulatory-updates/July-2017/july2017-echa-amendment-restriction-pfoa" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In the regulation, usage of PFOA and related substances are restricted and several enforcement dates have been appointed to different parts of the regulation (See <a href="http://www.asiainspection.com/regulatory-updates/November-2016/echa-amendment-new-chemicals" target="_blank">Regulatory Recap: November 2016</a>).</p>
		<p>The first implementation date for the restriction will be July 4, 2020 and applies to the following:</p>
		<ul style="list-style-type:none;">
			<li>-    PFOA and related substances shall not be manufactured, or placed on the market as substances on their own.</li>
			<li>-    PFOA and related substances shall not be used in the production of, or placed on the market in a) another substance, as a constituent; b) a mixture, and c) an article, in a concentration equal to or above 25 ppb of PFOA including its salts or 1000 ppb of one or a combination of PFOA-related substances.</li>
		</ul>
		<P>Three other parts of the regulation will be enforced on different enforcement dates respectively, with the second one on July 4, 2022, and the last one on July 4, 2032.</P>
		<br />
		<p>There are several exemptions to this regulation, including:</p>
		<ul style="list-style-type:none;">
			<li>-    Perfluorooctane sulfonic acid and its derivatives;</li>
			<li>-    The manufacture of a substance where this occurs as an unavoidable by-product;</li>
			<li>-    A substance that is to be used as a transported isolated intermediate, and</li>
			<li>-    Others</li>
		</ul>
		<p>Please refer to the regulation for other exemptions.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-echa-addition-reach-list-chemicalsy" class="bookmark"></a>
	<strong>ECHA Approved Addition of Chemicals to REACH List of Authorized Chemicals</strong>
	<p>On June 13, 2017, the European Chemical Agency (ECHA) approved <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32017R0999&from=EN" taget="_blank">the addition of 12 chemicals</a> to Annex XIV List of Authorization under Regulation (EC) No. 1907/2006 (REACH).</p>
	<a href="/regulatory-updates/July-2017/july2017-echa-addition-reach-list-chemicalsy" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The chemical details are as follows (Also see <a href="http://www.asiainspection.com/regulatory-updates/October-2016/echa-authorized-chemicals" target="_blank">Regulatory Recap: October 2016</a>):</p>
		<table>
			<tr>
				<td><b>Chemicals</b></td>
				<td><b>Chemical Abstract<br>Service (CAS)<br>Number</b></td>
				<td>Latest<br>application date</td>
				<td>Enforcement<br>(sunset) date</td>
			</tr>
			<tr>
				<td>1-Bromopropane</td>
				<td>106-94-5</td>
				<td rowspan="8">4th January, 2019</td>
				<td rowspan="8">4th July, 2020</td>
			</tr>
			<tr>
				<td>Diisopentylphthalate</td>
				<td>605-50-5</td>
			</tr>
			<tr>
				<td>1,2-Benzenedicarboxylic acid, di-C6-8-<br>branched alkyl ester, C7 rich</td>
				<td>71888-89-6</td>
			</tr>
			<tr>
				<td>1,2-Benzenedicarboxylic acid,di-C7-11-<br>branhed and linear alkyl ester</td>
				<td>68515-42-4</td>
			</tr>
			<tr>
				<td>1,2-Benzenedicarboxylic acid,<br>dipentylester, branched and linear</td>
				<td>84777-06-0</td>
			</tr>
			<tr>
				<td>Bis(2-methoxyethyl) phthalate</td>
				<td>117-82-8</td>
			</tr>
			<tr>
				<td>Dipentyl phthalate</td>
				<td>131-18-0</td>
			</tr>
			<tr>
				<td>N-pentyl-isopentylphthalate</td>
				<td>776297-69-6</td>
			</tr>
			<tr>
				<td>Anthracene oil</td>
				<td>90640-80-5</td>
				<td rowspan="2">4th April, 2019</td>
				<td rowspan="2">4th October, 2020</td>
			</tr>
			<tr>
				<td>Pitch, coal tar, high temp</td>
				<td>65996-93-2</td>
			</tr>
			<tr>
				<td>4-(1,1,3,3-Tetramethylbutyl)phenol,<br>ethoxylated (covering well-defined<br>substances and UVCB substances,<br>polymers and homologues)</td>
				<td>---</td>
				<td rowspan="2">4th July, 2019</td>
				<td rowspan="2">4th January, 2021</td>
			</tr>
			<tr>
				<td>4-nonylphenol, branched and linear,<br>
				ethoxylated<br>
				(substances with a linear and/or<br>
				branched alkyl chain with a carbon<br>
				number of 9 covalently bound in position<br>
				4 to phenol, ethoxylated covering UVCB-<br>
				and well-defined substances, polymers<br>
				and homologues, which include any of<br>
				the individual isomers and/or<br>
				combination thereof)</td>
				<td>---</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="australia_news" class="bookmark"></a>
	<h2>AUSTRALIA NEWS</h2>
</div>

<div class="recapSection">
	<a name="july2017-australia-recalls-summary" class="bookmark"></a>
	<strong>Australia Recalls Summary (January to June 2017)</strong>
	<p>In Australia, when hazards are identified in consumer products, the products will be recalled and published in the <a href="https://www.productsafety.gov.au/recalls" target="_blank">Product Safety Australia</a>, which is updated daily. The Australia recalls from January to June 2017 are summarized below:</p>
	<a href="/regulatory-updates/July-2017#july2017-australia-recalls-summary" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<center><img src="https://s3.asiainspection.com/newsletters/2017-07-Recap/Australia_recall_hazards.png" style="width:90%; max-width:850px;" /></center>
		<table>
			<tr>
				<td style="font-weight:bold; text-align: center;">Hazards</td>
				<td style="font-weight:bold; text-align: center;">Frequency</td>
			</tr>
			<tr>
				<td>Choking Hazard</td>
				<td style="text-align: right;">30</td>
			</tr>
			<tr>
				<td>Injury Hazard</td>
				<td style="text-align: right;">30</td>
			</tr>
			<tr>
				<td>Allergic Hazard</td>
				<td style="text-align: right;">14</td>
			</tr>
			<tr>
				<td>Electric Shock Hazard</td>
				<td style="text-align: right;">12</td>
			</tr>
			<tr>
				<td>Burn Hazard</td>
				<td style="text-align: right;">11</td>
			</tr>
			<tr>
				<td>Other Hazards*</td>
				<td style="text-align: right;">56</td>
			</tr>
		</table>
		<span>* Other Hazards include Functionality Failure, Chemical Hazard, Drowning Hazard, Entrapment Hazard, Explosion Hazard, Fall Hazard, Fire Hazard, Ingestion Hazard, Insufficient warning label, Laceration Hazard, Scald Hazard, Sight Hazard, Suffocation Hazard, Violation of Mandatory Standard and Violation of Pedal Bicycles Safety Standard with a frequency of less than 10.</span>
		<br />
		<center><img src="https://s3.asiainspection.com/newsletters/2017-07-Recap/Australia_recall_categories.png" style="width:90%; max-width:850px;" /></center>
		<table>
			<tr>
				<td style="font-weight:bold;">Product Categories</td>
				<td style="font-weight:bold;">Frequency</td>
			</tr>
			<tr>
				<td>Toys and Childcare Articles</td>
				<td style="text-align: right;">43</td>
			</tr>
			<tr>
				<td>Sporting Goods / Equipment</td>
				<td style="text-align: right;">15</td>
			</tr>
			<tr>
				<td>Cosmetics / Bodycare</td>
				<td style="text-align: right;">13</td>
			</tr>
			<tr>
				<td>Computer / Audio / Video / Other<br>Electronics &amp; Accessories</td>
				<td style="text-align: right;">10</td>
			</tr>
			<tr>
				<td>Other Categories^</td>
				<td style="text-align: right;">36</td>
			</tr>
		</table>
		<span>^ Other Categories include Fabric / Textile / Garment / Home Textile, Food Contact Material, Furniture, Home Electrical Appliances (Hair Dryer, Iron, etc.), Lighting Equipment, Jewelry, Watch or other Fashion Accessories, Candles &amp; Burning Items and Accessories, Tools, Homeware (Non-food Contact), Juvenile Products with a frequency of less than 10.</span>
		<p>Download the complete <a href="https://s3.asiainspection.com/newsletters/2017-07-Recap/July-2017-Australia-Recall-Summary.docx">Recall Cases Summary – AUS (Last Update Date: June 30, 2017)</a></p>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="asia_news" class="bookmark"></a>
	<h2>ASIA NEWS</h2>
</div>

<div class="recapSection">
	<a name="july2017-singapore-rohs-regulation-eee-products" class="bookmark"></a>
	<strong>Singapore Implements RoHS Regulation for EEE Products</strong>
	<p>On July 1, 2017, the Minister of Environment and Water Resources in Singapore implemented RoHS regulation for controlled electrical and electronic equipment (EEE) that was approved in June 2016 (See <a href="http://www.asiainspection.com/regulatory-updates/September-2016/singapore-rohs-eee-products" target="_blank">Regulatory Recap: September 2016</a>).</p>
	<a href="/regulatory-updates/July-2017#july2017-singapore-rohs-regulation-eee-products" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Compared to EU RoHS, Singapore RoHS applies to a narrower group of EEE products that are designed for household use. The restricted chemical limits set forth in the amendment act are summarized below:</p>
		<ul style="list-style-type: none;">
			<li>-   Cadmium and its compounds (0.01%)</li>
			<li>-   Hexavalent chromium (0.1%)</li>
			<li>-   Lead and its compounds (0.1%)</li>
			<li>-   Mercury and its compounds (0.1%)</li>
			<li>-   Polybrominated biphenyls (0.1%)</li>
			<li>-   Polybrominated diphenyl ethers (0.1%)</li>
		</ul>
	</div><br />
</div>

<div class="recapSection">
	<a name="july2017-taiwan-food-contact-labeling-requirements" class="bookmark"></a>
	<strong>Taiwan Implements New Food Contact Materials Labeling Requirements</strong>
	<p>On April 18, 2016, the Taiwan Ministry of Health and Welfare issued <a href="http://www.lawtw.com/article.php?template=article_content&parent_path=,1,2169,1484,&job_id=224085&article_category_id=2356&article_id=136855" target="_blank">Notice 1041304938</a> to establish labeling requirements for food utensils, food containers and packaging in addition to Article 26 (8) of the Food Safety and Health Administration Law. The additional requirements were enacted on July 1, 2017.</p>
	<a href="/regulatory-updates/July-2017#july2017-taiwan-food-contact-labeling-requirements" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The additional requirements established are summarized below:</p>
		<ol>
			<li>Food utensils, containers or packaging shall bear “For food contact use” or equivalent</li>
			<li>Food utensils, containers or packaging containing plastic that are intended to come into contact with food shall bear “For repetitive use” or “For single use”, or equivalent</li>
			<li>Food utensils, containers or packaging containing polyvinyl chloride (PVC) or polyvinylidene dichloride (PVDC) plastic intended to come into contact with food shall bear “Avoid direct contacting with food with a high fat content at a high temperature” or equivalent</li>
		</ol>
	</div>
</div>