<!-- { "Title":"July 2016 Recap", "PublishDate":"2016-07-20", "Description":"NORTH AMERICA NEWS - On June 22, 2016, the Toxic Substances Control Act (TSCA) reform bill H.R. 2576 was signed by President Obama and entered into force." }-->
<div class="recapSectionHeader">
    <ol style="margin-top:10px;">
        <li style="margin-bottom:10px;"><a href="#north_america_news">NORTH AMERICA NEWS</a></li>
        <li style="margin-bottom:10px;"><a href="#south_america_news">SOUTH AMERICA NEWS</a></li>
        <li style="margin-bottom:10px;"><a href="#europe_news">EUROPE NEWS</a></li>
        <li style="margin-bottom:10px;"><a href="#australia_new_zealand_news">AUSTRALIA / NEW ZEALAND NEWS</a></li>
        <li style="margin-bottom:10px;"><a href="#asia_news">ASIA NEWS</a></li>
    </ol>
    <hr />
</div>

<div class="recapSectionHeader">
    <a name="north_america_news" class="bookmark"></a>
    <h2>NORTH AMERICA NEWS</h2>
</div>

<div class="recapSection">
    <a name="obama_signs_reform_bill" class="bookmark"></a>
    <strong>President Obama Signs and Approves TSCA Reform Bill</strong>
    <p>On June 22, 2016, the Toxic Substances Control Act (TSCA) reform bill H.R. 2576 (See <a href="http://www.asiainspection.com/regulatory-updates/June-2016" target="_blank">Regulatory Recap: June 2016</a>) was signed by President Obama and entered into force. Additionally, a <a href="https://www.epa.gov/assessing-and-managing-chemicals-under-tsca/frank-r-lautenberg-chemical-safety-21st-century-act" target="_blank">webpage</a> has been established by the Environmental Protection Agency (EPA) to publish and manage reform-related information, such as webinars, updates and an implementation plan. </p>
    <a href="/regulatory-updates/July-2016/obama-signs-reform-bill" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>Upon enforcement, the roadmap of TSCA related actions is summarized below:</p>
        <table>
            <tr>
                <td colspan="2" align="center"><b>Date</b></td>
                <td rowspan="2" width="50%" align="center"><b>Action</b></td>
            </tr>
            <tr>
                <td width="25%" align="center"><b>Year</b></td>
                <td width="25%" align="center"><b>Month</b></td>
            </tr>
            <tr>
                <td rowspan="2" align="center">2016</td>
                <td align="center">June</td>
                <td>Signed reform bill and start reform implementation</td>
            </tr>
            <tr>
                <td align="center">December</td>
                <td>
                    - Publish list of 10 risk assessments for Work Plan (WP) chemicals<br />
                    - Propose procedural rules to establish process for:<br />
                    <ol>
                        <li style="margin-bottom:5px;">Prioritizing chemicals</li>
                        <li style="margin-bottom:5px;">Evaluating the risks of high priority chemicals</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td rowspan="2" align="center">2017</td>
                <td align="center">January</td>
                <td>Update plan for risk evaluations annually</td>
            </tr>
            <tr>
                <td align="center">June</td>
                <td>
                    - Publish scope of first 10 risk evaluations<br />
                    - Finalize procedural rules to establish process for:<br />
                    <ol>
                        <li style="margin-bottom:5px;">Prioritizing chemicals</li>
                        <li style="margin-bottom:5px;">Evaluating the risks of high priority chemicals</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td rowspan="2" align="center">2018</td>
                <td align="center">January</td>
                <td>Update plan for risk evaluations annually</td>
            </tr>
            <tr>
                <td align="center">June</td>
                <td>Propose rule for by product reporting</td>
            </tr>
            <tr>
                <td rowspan="3" align="center">2019</td>
                <td align="center">January</td>
                <td>Update plan for risk evaluations annually</td>
            </tr>
            <tr>
                <td align="center">June</td>
                <td>
                    - Identify 20 low priority chemicals <br />
                    - Propose procedural rules to establish process for Persistent, Bioaccumulative and Toxic (PBT) chemicals<br />
                    - Finalize rule for by product reporting<br />
                </td>
            </tr>
            <tr>
                <td align="center">December</td>
                <td>Publish list of 20 risk assessments (1/2 from WP)</td>
            </tr>
            <tr>
                <td align="center">2020</td>
                <td align="center">December</td>
                <td>Finalize procedural rules to establish process for Persistent, Bioaccumulative and Toxic (PBT) chemicals</td>
            </tr>
        </table>
    </div><br />
</div>

<div class="recapSection">
    <a name="cpsc_safety_strollers" class="bookmark"></a>
    <strong>US CPSC Publishes Direct Final Rule to Revise Safety Standard for Carriages and Strollers</strong>
    <p>On June 9, 2016, Consumer Product Safety Commission (CPSC) published a direct final rule in the <a href="https://www.gpo.gov/fdsys/pkg/FR-2016-06-09/pdf/2016-13663.pdf" target="_blank">Federal Register, 81 FR 37128</a>. The direct final rule revises 16 CFR Part 1227 to update the CPSC’s safety standard for carriages and strollers. The direct final rule will enter into force on October 2, 2016. </p>
    <a href="javascript://" class="learnmore">Read More</a><br />
    <div class="moretext">
        <p>In the final rule, a new version of the standard, ASTM F833-15 Standard Consumer Safety Performance Specification for Carriages and Strollers, is adopted and replaces the current 2013b version. The key changes in the new standard are summarized below:</p>
        <ol>
            <li style="margin-bottom:5px;">Adds definition for “convertible car seat/ stroller” to clarify the difference between convertible car seat/stroller and combined unit of a car seat on a stroller</li>
            <li style="margin-bottom:5px;">Adds exemption of the following requirements for products that are used as a car seat and that can convert to a stroller using the same restraint as the car seat:<br />
                <ol style="list-style-type: lower-alpha;">
                    <li style="margin-bottom:5px;">Stroller restraint system anchor points</li>
                    <li style="margin-bottom:5px;">Crotch strap location</li>
                </ol>
            </li>
            <li style="margin-bottom:5px;">Requires testing of all applicable positions of the adjustable grab bar or tray which may cause a hazardous opening</li>
            <li style="margin-bottom:5px;">Requires the warning label (no change in warning content) to be displayed for:<br />
                <ol style="list-style-type: lower-alpha;">
                    <li style="margin-bottom:5px;">Strollers with removable-wheel fork assembly</li>
                    <li style="margin-bottom:5px;">Three wheeled strollers with a locking front wheel intended to be used for running, jogging or fast walking</li>
                </ol>
            </li>
        </ol>
    </div><br />
</div>

<div class="recapSection">
    <a name="fda_labeling_medical_devices" class="bookmark"></a>
    <strong>US FDA Publishes Direct Final Rule to Amend Labeling Requirements for Medical Devices</strong>
    <p>On June 15, 2016, the Food and Drug Administration (FDA) published <a href="https://www.federalregister.gov/articles/2016/06/15/2016-13989/use-of-symbols-in-labeling?utm_content=previous&utm_medium=PrevNext&utm_source=Article" target="_blank">a final rule, 81 FR 38911, Use of Symbols in Labeling</a>. The final rule revises FDA labeling requirements of medical devices and certain biological products concerning the inclusion of symbols or graphical representations of information. The new requirement will be effective on September 13, 2016.</p>
    <a href="javascript://" class="learnmore">Read More</a><br />
    <div class="moretext">
        <p>In the final rule, the key amendments to the labeling regulations related to medical devices are summarized below:</p>
        <ol>
            <li style="margin-bottom:5px;">In 21 CFR 801.15, a new section c(I) is added to address the possible labeling formats:<br />
                <ol style="list-style-type: lower-alpha;">
                    <li style="margin-bottom:5px;">Labeling information in English language</li>
                    <li style="margin-bottom:5px;">In case of distributing solely in Puerto Rico or in a Territory where the predominant language is the one other than English, the predominant language may be used instead of English in labeling information.</li>
                    <li style="margin-bottom:5px;">A symbol accompanied by explanatory English text or predominant language text</li>
                    <li style="margin-bottom:5px;">A symbol not accompanied by explanatory text only when the symbol is:<br />
                        <ol style="list-style-type: lower-roman;">
                            <li style="margin-bottom:5px;">Contained in FDA recognized standard in section 514 (c) of the Food, Drug and Cosmetic (FD&C) Act;</li>
                            <li style="margin-bottom:5px;">Used according to the specifications for use of the symbol set forth in FD&C Act section 514 (c) recognition; and</li>
                            <li style="margin-bottom:5px;">Explained in paper or electronic symbols glossary that is included in the labeling for the device and the labeling within the packaging</li>
                        </ol>
                    </li>
                    <li style="margin-bottom:5px;">A symbol not accompanied by explanatory text only when the symbol is:<br />
                        <ol style="list-style-type: lower-roman;">
                            <li style="margin-bottom:5px;">Established in a standard developed by Standards Development Organization (SDO);</li>
                            <li style="margin-bottom:5px;">Not contained in FDA recognized standard in section 514 (c) of the FD&C Act;</li>
                            <li style="margin-bottom:5px;">Determined by the manufacturer to be likely to be read and understood by the ordinary individual under customary conditions of purchase and use in compliance with section 5802 (c) of the FD&C Act;</li>
                            <li style="margin-bottom:5px;">Used according to specifications for use of the symbol set forth in the SDO developed standard; and</li>
                            <li style="margin-bottom:5px;">Explained in paper or electronic symbols glossary that is included in the labeling for the device and the labeling within the packaging</li>
                        </ol>
                    </li>
                    <li style="margin-bottom:5px;">Symbol “Rx only” or “℞ only”</li>
                </ol>
            </li>
            <li style="margin-bottom:5px;">In 21 CFR 801.109 Prescription devices, section (b) is revised to add symbol “Rx only” or “℞ only” as one of the exemption criterion for “adequate directions for use” requirement</li>
        </ol>
    </div><br />
</div>

<div class="recapSection">
    <a name="california_prop65_recent_notices" class="bookmark"></a>
    <strong>California Proposition 65: Recent Settlements and 60-Day Notices</strong>
    <p>In 1986, California voters approved an initiative titled California Proposition 65 to address their growing concerns about exposure to toxic chemicals. Since its origin, there have been many lawsuits that have resulted in reformulations of consumer products containing carcinogenic and reproductively harmful chemicals on the Cal Prop 65 list.</p>
    <a href="javascript://" class="learnmore">Read More</a><br />
    <div class="moretext">
        <p>Recent settlements from May and June of 2016 include the following:</p>
        <table>
            <tr>
                <td><b>Source</b></td>
                <td><b>Chemical</b></td>
                <td><b>Limits</b></td>
            </tr>
            <tr>
                <td>Badge Holder</td>
                <td>Di(2-ethylhexyl)phthalate (DEHP)</td>
                <td>Less than or equal to 1000ppm DEHP</td>
            </tr>
            <tr>
                <td>Bikini Waterproof Pouch</td>
                <td>Di(2-ethylhexyl)phthalate (DEHP) ; Diisononyl phthalate (DINP)</td>
                <td>Less than or equal to 1000ppm DEHP and DINP</td>
            </tr>
            <tr>
                <td>Craft wire</td>
                <td>Lead</td>
                <td>Less than or equal to 100 ppm Lead for any accessible component</td>
            </tr>
            <tr>
                <td>Fuel Fittings</td>
                <td>Lead</td>
                <td>Less than or equal to 100 ppm Lead for any accessible component</td>
            </tr>
            <tr>
                <td>Fuel Pump Nozzles with Vinyl/PVC Covers </td>
                <td>Di(2-ethylhexyl)phthalate (DEHP)</td>
                <td>Less than or equal to 1000ppm DEHP</td>
            </tr>
            <tr>
                <td>Glass/Ceramic drinking vessels</td>
                <td>Lead</td>
                <td>Less than or equal to 90 ppm lead by Method EPA 3050B and Less than or equal to 1.0ug Lead by Method NIOSH 9100.</td>
            </tr>
            <tr>
                <td>Headphone</td>
                <td>Di(2-ethylhexyl)phthalate (DEHP)</td>
                <td>Less than or equal to 1000ppm DEHP</td>
            </tr>
            <tr>
                <td>Headsets with Vinyl/PVC Components </td>
                <td>Di(2-ethylhexyl)phthalate (DEHP)</td>
                <td>Less than or equal to 1000ppm DEHP</td>
            </tr>
            <tr>
                <td>Nylon Cooking Utensils </td>
                <td>4,4'-Methylenedianiline </td>
                <td>Less than or equal to 200ppm 4,4′-Methylenedianiline; and produces a leach result of 10 ug/L or less from food contact extraction</td>
            </tr>
            <tr>
                <td>Ottomans with Vinyl/PVC Upholstery </td>
                <td>Di(2-ethylhexyl)phthalate (DEHP)</td>
                <td>Less than or equal to 1000ppm DEHP</td>
            </tr>
            <tr>
                <td>Ratchet Tools </td>
                <td>Lead</td>
                <td>Less than or equal to 100 ppm Lead for any accessible component</td>
            </tr>
            <tr>
                <td>Seat Covers </td>
                <td>Di(2-ethylhexyl)phthalate (DEHP)</td>
                <td>Less than or equal to 1000ppm DEHP</td>
            </tr>
            <tr>
                <td>Toilet Seat</td>
                <td>Di(2-ethylhexyl)phthalate (DEHP)</td>
                <td>Less than or equal to 1000ppm DEHP</td>
            </tr>
            <tr>
                <td>Vinyl Toilet Seat </td>
                <td>Di(2-ethylhexyl)phthalate (DEHP)</td>
                <td>Less than or equal to 1000ppm DEHP</td>
            </tr>
            <tr>
                <td>Vinyl/PVC Eyewear Cases </td>
                <td>Di(2-ethylhexyl)phthalate (DEHP)</td>
                <td>Less than or equal to 1000ppm DEHP</td>
            </tr>
            <tr>
                <td>Vinyl/PVC Gloves </td>
                <td>Diisononyl phthalate (DINP) </td>
                <td>Less than or equal to 1000ppm DINP</td>
            </tr>
            <tr>
                <td>Vinyl/PVC Gloves </td>
                <td>Diisononyl phthalate (DINP) </td>
                <td>Less than or equal to 1000ppm DINP</td>
            </tr>
            <tr>
                <td>Vinyl/PVC Handheld Exercise Weights </td>
                <td>Di(2-ethylhexyl)phthalate (DEHP)</td>
                <td>No more than 1000 ppm DEHP in any component.</td>
            </tr>
            <tr>
                <td>Vinyl/PVC Handheld Exercise Weights </td>
                <td>Di(2-ethylhexyl)phthalate (DEHP)</td>
                <td>No more than 1000 ppm DEHP in any component.</td>
            </tr>
            <tr>
                <td>Vinyl/PVC Holiday Door Decorations </td>
                <td>Di(2-ethylhexyl)phthalate (DEHP)</td>
                <td>Less than or equal to 1000ppm DEHP</td>
            </tr>
            <tr>
                <td>Vinyl/PVC Self Defense Device Holsters </td>
                <td>Di(2-ethylhexyl)phthalate (DEHP)</td>
                <td>Less than or equal to 1000ppm DEHP</td>
            </tr>
            <tr>
                <td>Wallets, Handbags, Purses and Clutches Made with Leather, Vinyl or Imitation Leather Materials</td>
                <td>Lead</td>
                <td>
                    - Paint or Surface Coatings on accessible components less than or equal to 90ppm<br />
                    - PVC accessible components less than or equal to 200ppm<br />
                    - All other accessible components other than cubic zirconia, crystal, glass or rhinestones less than or equal to 300ppm.<br />
                </td>
            </tr>
        </table>
        
        <p>In addition, a list of recent 60-day notices for May and June of 2016, inclusive of the chemicals and products under scrutiny, are provided in this chart.</p>
        <table>
            <tr>
                <td><b>Chemical</b></td>
                <td><b>Product / Source</b></td>
                <td><b>Number of Notices</b></td>
            </tr>
            <tr>
                <td>Di-isodecyl phthalate (DIDP), Diisononyl phthalate (DINP)</td>
                <td>Vinyl Travel Accessories</td>
                <td>1</td>
            </tr>
            <tr>
                <td rowspan="2">Diisononyl phthalate (DINP)</td>
                <td>Padlock</td>
                <td>2</td>
            </tr>    
            <tr>
                <td>Pigtails</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Di-n-butyl phthalate (DBP), Di(2-ethylhexyl)phthalate (DEHP)</td>
                <td>Sandals</td>
                <td>1</td>
            </tr>
            <tr>
                <td>3-Monochloropropane-1, 2-diol (3-MCDP)</td>
                <td>Bragg Liquid Aminos</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Benzophenone</td>
                <td>Sunscreen</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Cadmium and cadmium compounds, Lead and lead compounds</td>
                <td>Canned Smoked Mussels</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Carbon monoxide</td>
                <td>Wood-Burning Outdoor Heating Products, such as Fire Pits, Fire Rings, Fire Tables and Chimeneas</td>
                <td>1</td>
            </tr>
            <tr>
                <td>DBP, DIDP, Diisononyl phthalate (DINP)</td>
                <td>High Pressure Adjustable Regulator with Connection</td>
                <td>1</td>
            </tr>
            <tr>
                <td rowspan="55" valign="top">Di(2-ethylhexyl)phthalate (DEHP)</td>
                <td>Aluminium Adjustable Cane</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Balance Balls</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Bath Mats</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Bath Pillow</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Bath Tub Mat</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Boundary Pack</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Business Card Holders</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Camp Shower Plastic Tubing</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Chairs with Vinyl/PVC Upholstery</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Chairs with Vinyl/PVC Upholstery/ Foam Padding</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Children's Rain Boots</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Commando Saw</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Cutlery Organizing Trays</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Earbud Cords</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Exercise Mats</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Exhibitor Harnesses with Vinyl/PVC Components</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Faux Leather Kids Vest</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Hand Tools</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Handheld Shower</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Hanger Hook</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Hangers</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Headphones </td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Industrial Safety  Goggles</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Infant shoes</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Inflatable Vinyl Cushion</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Key Safes</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Leaf Collection Machine</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Networking Cable</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Performance Sports Sleeve Armband</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Photo Album</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Photo Albums</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Poncho</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>PVC rainwear</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>PVC Rainwear and Cases</td>
                <td>3</td>
            </tr>    
            <tr>
                <td>PVC Rainwear, PVC Decoy Cord</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Rain Suit</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Rubber Dog Toy</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Sandals</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Sauna Suits</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Seat Cushions</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Spring Clamps with Vinyl Grips and Tips</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Steering Wheel Covers</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Surge Protector</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Taichi Beginners Kit</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Throttle Control Item</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>USB Cable / Cord</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>USB Personal Fan</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Vinyl Bedding Storage Cases</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Vinyl/PVC Cutting Mats</td>
                <td>2</td>
            </tr>    
            <tr>
                <td>Vinyl/PVC Electrical Tape</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Vinyl/PVC Electrical Tape, Tool Grips</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Vinyl/PVC Keychains</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Vinyl/PVC Tool Grips</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Vinyl-Coated Clothes Hangers</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Wiggo Eyes</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Di(2-ethylhexyl)phthalate (DEHP), Benzophenone</td>
                <td>Sunscreen</td>
                <td>1</td>
            </tr>
            <tr>
                <td rowspan="8" valign="top">Di-isodecyl phthalate (DIDP), Diisononyl phthalate (DINP)</td>
                <td>ID Badge Holders</td>
                <td>2</td>
            </tr>    
            <tr>
                <td>ID Badge Holders and Straps</td>
                <td>2</td>
            </tr>    
            <tr>
                <td>Pliers with Vinyl-Coated Grips</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Vinyl Bedding Storage Cases</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Vinyl Covered Spring Clamp, Vinyl Covered Utility & Storage Hooks, Vinyl Covered Toggle Clamp</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Vinyl Covered Toggle Clamps</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Vinyl Pillow Storage Cases</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Vinyl-Coated Storage & Utility hooks</td>
                <td>1</td>
            </tr>
            <tr>
                <td rowspan="7" valign="top">Diisononyl phthalate (DINP)</td>
                <td>Apron</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Floor Mat</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Neck ID Holder</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Product Storage Cases</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Rice Cooker</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Utility & Storage Hooks</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Video Cable</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Di-n-butyl phthalate (DBP)</td>
                <td>Braid Cord, Craft Gimp</td>
                <td>1</td>
            </tr>
            <tr>
                <td rowspan="23" valign="top">Lead</td>
                <td>Air Regulators</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Ballcock Assemblies</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Brass Adapters</td>
                <td>2</td>
            </tr>    
            <tr>
                <td>Brass Fittings</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Brass Nozzles</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Brass T Fittings</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Clamps, Key Chains</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Coupler Locks</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Fuel Fittings</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Hose Menders</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Liquid Evaporators</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Log Lighter Keys</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Lotion Dispensers</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Metal Wire</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Receiver Hitch</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Plumb Bobs</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Plumbing Valves</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Pressure Gauges</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Quick Build Nails</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Stem Repair Kits</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Twist Hose Nozzles</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Wallets, Handbags, Purses and Clutches Made with Leather, Vinyl or Imitation Leather Materials</td>
                <td>2</td>
            </tr>    
            <tr>
                <td>Water Valves</td>
                <td>1</td>
            </tr>
            <tr>
                <td rowspan="5" valign="top">Lead and lead compounds</td>
                <td>Discharged Drinking Water</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Jewelry Boxes</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Metal Wire</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Tile</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Turmeric Powder</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Tris(1,3-dichloro-2-propyl) phosphate (TDCPP)</td>
                <td>Tent/Shelter Fabrics</td>
                <td>1</td>
            </tr>
            <tr>
                <td rowspan="4" valign="top">Wood dust</td>
                <td>Pet Bedding</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Wood Fuel Pellets</td>
                <td>1</td>
            </tr>    
            <tr>
                <td>Wood Pellets</td>
                <td>2</td>
            </tr>    
            <tr>
                <td>Wood Smoking Chips </td>
                <td>1</td>
            </tr>
        </table>
    </div><br />
</div>

<div class="recapSection">
    <a name="california_approved_madl" class="bookmark"></a>
    <strong>US State California OAL Approved MADL for BPA Dermal Exposure</strong>
    <p>On June 13, 2016, the Office of Administrative Law (OAL) approved <a href="http://oehha.ca.gov/proposition-65/crnr/amendment-section-25805-maximum-allowable-dose-level-bisphenol-dermal-exposure" target="_blank">amendment of California Code of Regulations, section 25805</a>. The regulation is amended to establish Maximum Allowable Dose Level (MADL) for Bisphenol A (BPA). </p>
    <a href="javascript://" class="learnmore">Read More</a><br />
    <div class="moretext">
        <p>The approved MADL (dermal exposure from solid materials) is 3 microgram per day for BPA (See <a href="http://www.asiainspection.com/regulatory-updates/April-2016" target="_blank">Regulatory Recap: April 2016</a>). It will be effective on October 1, 2016.</p>
    </div><br />
</div>

<div class="recapSection">
    <a name="new_york_reporting_rules" class="bookmark"></a>
    <strong>US State New York Proposes Bill Concerning Reporting Rules of CHCC in Children’s Products</strong>
    <p>On June 13, 2016, <a href="http://assembly.state.ny.us/leg/?default_fld=&leg_video=&bn=A10715&term=2015&Summary=Y&Text=Y" target="_blank">a new senate bill SB 8105 and its identical assembly bill AB 10715</a> were proposed to require every manufacturer of children’s product to report the presence of Chemicals of High Concern to Children (CHCC).</p>
    <a href="javascript://" class="learnmore">Read More</a><br />
    <div class="moretext">
        <p>According to the proposed bill, reporting of the presence of a CHCC is required if the CHCC is present in any accessible component of the product at a level above the Practical Quantification Level (PQL) if it is intentionally added or present as a contaminant at a concentration above 100 ppm.</p>
        <p>In addition to the listed CHCC, all phthalates specified as permanently banned by the Consumer Product Safety Improvement Act (CPSIA) are included in the reporting requirements. </p>
        <p>The format to report CHCC is summarized below:</p>
        <ol>
            <li style="margin-bottom:5px;">Name of the CHCC with Chemical Abstracts Service Registry Number (CAS Number)</li>
            <li style="margin-bottom:5px;">Description of the category of the product containing the CHCC</li>
            <li style="margin-bottom:5px;">Amount of chemical by weight or parts per million (ppm)</li>
        </ol>
        <p>Once the bill is passed, reporting will be required:</p>
        <ol>
            <li style="margin-bottom:5px;">Within 90 days of the effective date of the bill; or</li>
            <li style="margin-bottom:5px;">Within 90 days of the addition of a new chemical to the list of CHCC </li>
        </ol>
    </div><br />
</div>

<div class="recapSection">
    <a name="new_york_toxic_free_toys" class="bookmark"></a>
    <strong>US State New York Suffolk County Toxic Free Toys Act Enters into Force</strong>
    <p>On July 1, 2016, <a href="http://locallaws.dos.ny.gov/sites/default/files/drop_laws_here/ECMMDIS_appid_DOS20150709060012/Content/09021343800eb120.pdf" target="_blank">The Toxic Free Toys Act (Local Law No. 22-2015)</a> entered into force in Suffolk County of New York state. The act impacts all retailers of children products.</p>
    <a href="javascript://" class="learnmore">Read More</a><br />
    <div class="moretext">
        <p>Upon enforcement, no retailer of children’s products is allowed to distribute, sell or offer for sale in the County a children product containing certain heavy metal chemicals (See <a href="http://www.ansecogroup.com/regrecap/regulatory-recap-july-2015/#usa-state-news" target="_blank">Regulatory Recap: Issue 3, July 2015</a>):</p>
        <ol>
            <li style="margin-bottom:5px;">90 ppm lead in surface coatings</li>
            <li style="margin-bottom:5px;">100 ppm lead content in accessible parts</li>
            <li style="margin-bottom:5px;">75 ppm cadmium</li>
            <li style="margin-bottom:5px;">40 ppm for each of the metal elements mercury, antimony, arsenic and cobalt</li>
        </ol>
        <p>The law includes a reverse preemption indicating that state or federal laws incorporating either the same or substantially similar provisions and state or federal regulations preempting County law render the County law null and void.</p>
    </div><br />
</div>

<div class="recapSection">
    <a name="connecticut_restricting_cadmium" class="bookmark"></a>
    <strong>US State Connecticut General Statutes Restricting Cadmium in Children’s Jewelry Enters into Force</strong>
    <p>On July 1, 2016, <a href="https://www.cga.ct.gov/current/pub/chap_416.htm#sec_21a-12d" target="_blank">the General Statutes of Connecticut, Chapter 416, Section 21a-12d, Children’s Jewelry Containing Cadmium: Prohibition</a>, entered into force. The prohibition impacts manufacturers, importers, distributors and retailers of children’s jewelry in state of Connecticut. </p>
    <a href="javascript://" class="learnmore">Read More</a><br />
    <div class="moretext">
        <p>According to the Statutes, no person shall manufacture, sell, offer for sale or distribute children’s jewelry containing 0.0075% (by weight) of cadmium. Children’s jewelry is defined as jewelry that is designed or intended to be used by children under twelve years of age, such as charms, bracelets, pendants, necklaces, earrings and rings.</p>
    </div><br />
</div>

<div class="recapSection">
    <a name="us_recalls_summary" class="bookmark"></a>
    <strong>US Recalls Summary (May – June 2016)</strong>
    <p>In US, when hazards are identified in consumer products, they will be recalled and published in the <a href="http://www.cpsc.gov/en/Recalls/" target="_blank">Consumer Product Safety Commission (CPSC) Recent Recalls</a> on the CPSC Website, which is updated daily. The US recalls from May 1 to June 30, 2016 are summarized below:</p>
    <a href="javascript://" class="learnmore">Read More</a><br />
    <div class="moretext">
        <center><img src="https://s3.asiainspection.com/newsletters/2016_07_RegRecap/US_recalls_07.2016_hazards.gif" style="width:90%; max-width:850px;" /></center>
        <table>
            <tr>
                <td><b>Hazard</b></td>
                <td><b>Frequency</b></td>
            </tr>
            <tr>
                <td>Fire Hazard</td>
                <td>12</td>
            </tr>
            <tr>
                <td>Burn Hazard</td>
                <td>11</td>
            </tr>
            <tr>
                <td>Fall Hazard</td>
                <td>11</td>
            </tr>
            <tr>
                <td>Injury Hazard</td>
                <td>9</td>
            </tr>
            <tr>
                <td>Electric Shock Hazard</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Laceration Hazard</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Choking Hazard</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Other Hazards*</td>
                <td>16</td>
            </tr>
        </table>
        <p><b>*</b> Other Hazards include Crash Hazard, Explosion Hazard, Gunshot Hazard, Impact Hazard, Magnet Ingestion Hazard, Microbial Hazard, Suffocation Hazard, Tip-over Hazard, Violation of Federal Flammability Standard and Violation of Lead Paint Standard with frequency less than 5.</p>
        <br />
        <center><img src="https://s3.asiainspection.com/newsletters/2016_07_RegRecap/US_recalls_07.2016_categories.gif" style="width:90%; max-width:850px;" /></center>
        <table>
            <tr>
                <td><b>Product Categories</b></td>
                <td><b>Frequency</b></td>
            </tr>
            <tr>
                <td>Toys and Childcare Articles</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Sporting Goods / Equipment</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Tools and Hardware</td>
                <td>8</td>
            </tr>
            <tr>
                <td>Furniture</td>
                <td>8</td>
            </tr>
            <tr>
                <td>Home Electrical Appliances (Hair dryer, iron, etc.)</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Other Categories^</td>
                <td>15</td>
            </tr>
        </table>
        <p><b>^</b> Other categories include Candles & Burning Items and Accessories, Computer / Audio / Video / Other Electronics & Accessories, Fabric / Textile / Garment / Home Textile, Food Contact Material, Homeware (non-food contact), Lighting and Personal Protective Equipment (exclude eye protection) with frequency less than 5.</p>
    
        <p>Download the complete <a href="https://s3.asiainspection.com/newsletters/2016_07_RegRecap/AI_ANSECO_US_Recalls.pdf">Recall Cases Summary – US (Last Update Date: June 30, 2016)</a></p>
    </div><br />
</div>

<div class="recapSection">
    <a name="canada_transporting_lithium" class="bookmark"></a>
    <strong>Canada Issues New Requirements for Transporting Lithium Ion and Metal Batteries</strong>
    <p>On June 1, 2016, an <a href="http://www.gazette.gc.ca/rp-pr/p2/2016/2016-06-01/html/sor-dors95-eng.php" target="_blank">amendment of the Transportation of Dangerous Goods Regulations</a> was issued in the Canada Gazette. The amendment is related to international transportation restriction of lithium ion and metal batteries. </p>
    <a href="javascript://" class="learnmore">Read More</a><br />
    <div class="moretext">
        <p>The transportation of lithium ion batteries as cargo on passenger aircraft is now prohibited. The prohibition applies to lithium ion batteries packed on their own and not to lithium ion batteries contained in equipment such as cell phones and electronic equipment. In addition, the lithium ion batteries carried by passengers and crew are not subjected to the prohibition. </p>
        <p>The transportation of lithium ion and lithium batteries in cargo aircraft is still permitted. Additional requirements for packing instruction are added:</p>
        <ol>
            <li style="margin-bottom:5px;">Packing Instruction 965 (for lithium ion) of the 2015-2016 ICAO Technical Instructions</li>
            <li style="margin-bottom:5px;">Packing Instruction 968 (for lithium metal) of the 2015-2016 ICAO Technical Instructions</li>
        </ol>
        <p>The above packing instructions have been revised by ICAO to include stricter provisions such as transporting lithium ion batteries at a state of charge not exceeding 30% of the capacity and limiting the number of packages. </p>
        
        <p>There are other key changes in the regulations:</p>
        <ol>
            <li style="margin-bottom:5px;">National Standard CAN/GCSB-43.151-2012 is replaced by GCSB-43.151-2012</li>
            <li style="margin-bottom:5px;">If the dangerous goods are covered by UN2037, UN0012, UN0014, UN0055, UN0378 & UN0501, the 150 kg Gross Mass Exemption is not applicable</li>
            <li style="margin-bottom:5px;">Warning “POISON – INHALATION HAZARD” is replaced by “INHALATION HAZARD”</li>
            <li style="margin-bottom:5px;">Part 8 “Accidental Release and Imminent Accidental Release Report Requirements” is amended to “Reporting Requirement”. The content of the reporting requirements has changed for:<br />
                <ol style="list-style-type: lower-roman;">
                    <li style="margin-bottom:5px;">Road, rail and marine reports</li>
                    <li style="margin-bottom:5px;">Air reports</li>
                    <li style="margin-bottom:5px;">Security reports</li>
                </ol>
            </li>
        </ol>
    </div><br />
</div>

<div class="recapSection">
    <a name="canada_cribs_cradles" class="bookmark"></a>
    <strong>Health Canada Issues New Regulations Related to Cribs, Cradles and Bassinets</strong>
    <p>On June 29, 2016, a new <a href="http://www.gazette.gc.ca/rp-pr/p2/2016/2016-06-29/html/sor-dors152-eng.php" target="_blank">Cribs, Cradles and Bassinets Regulations, SOR/2016-152</a> was published. Effective December 29, 2016, the old regulations SOR/2010-261 will be repealed and new regulations will enter into force. </p>
    <a href="javascript://" class="learnmore">Read More</a><br />
    <div class="moretext">
        <p>A number of substantial issues relating to cribs, cradles and bassinets safety, including hazards associated with traditional crib drop-sides, crib mattress supports and entrapment hazards from openings in fabric-sided product, have been reported in Canada. As a result, Health Canada issued new regulations for the products, strengthening the construction and performance requirements through:</p>
        <ol>
            <li style="margin-bottom:5px;">Prohibiting the sale, manufacturing and importing of cribs, cradles and bassinets with sides that are not rigidly attached</li>
            <li style="margin-bottom:5px;">Updating the structural integrity test method for the mattress supporting cribs and cradles</li>
            <li style="margin-bottom:5px;">Adding additional performance requirement and test method for crib slat strength</li>
            <li style="margin-bottom:5px;">Including performance requirement to safeguard against incorrect assembly of structural components</li>
            <li style="margin-bottom:5px;">Including performance requirement and test method for accessories, such as sleep or change table accessories</li>
            <li style="margin-bottom:5px;">Including performance requirements for the maximum rest angle and maximum flatness angle</li>
            <li style="margin-bottom:5px;">Updating the completely bounded openings performance requirement and test method</li>
            <li style="margin-bottom:5px;">Changing the performance requirement for the maximum height of corner posts from 3 to 1.5 mm</li>
            <li style="margin-bottom:5px;">Including performance requirement and test method for stability</li>
            <li style="margin-bottom:5px;">Introducing performance requirements and test method for stands that are designed or advertised for use with cribs, cradles and bassinets</li>
            <li style="margin-bottom:5px;">Adding performance requirement prohibiting the use of occupant restraints</li>
        </ol>
    </div><br />
</div>

<div class="recapSection">
    <a name="canada_recalls_summary" class="bookmark"></a>
    <strong>Canada Recalls Summary (May – June 2016)</strong>
    <p>In Canada, when hazards are identified in consumer products, they will be recalled and published in the <a href="http://healthycanadians.gc.ca/recall-alert-rappel-avis/index-eng.php?cat=4" target="_blank">Recalls and Safety Alerts Database</a> on the Health Canada Website, which is updated daily. The Canada recalls from May 1 to June 30, 2016 are summarized below:</p>
    <a href="javascript://" class="learnmore">Read More</a><br />
    <div class="moretext">
        <center><img src="https://s3.asiainspection.com/newsletters/2016_07_RegRecap/canada_recalls_07.2016_hazards.gif" style="width:90%; max-width:850px;" /></center>
        <table>
            <tr>
                <td><b>Hazard</b></td>
                <td><b>Frequency</b></td>
            </tr>
            <tr>
                <td>Fall Hazard</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Burn Hazard</td>
                <td>9</td>
            </tr>
            <tr>
                <td>Choking Hazard</td>
                <td>9</td>
            </tr>
            <tr>
                <td>Fire Hazard</td>
                <td>9</td>
            </tr>
            <tr>
                <td>Injury Hazard</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Other Hazards*</td>
                <td>20</td>
            </tr>
        </table>
        <p><b>*</b> Other Hazards include Chemical Hazard, Electric Shock Hazard, Entanglement Hazard, Laceration Hazard, Microbial Hazard, Pinch Hazard, Strangulation Hazard, Violation of Flammability Requirements and Violation of Packaging and Labeling Requirements with frequency less than 5.</p>
        <br />
        <center><img src="https://s3.asiainspection.com/newsletters/2016_07_RegRecap/canada_recalls_07.2016_categories.gif" style="width:90%; max-width:850px;" /></center>
        <table>
            <tr>
                <td><b>Product Categories</b></td>
                <td><b>Frequency</b></td>
            </tr>
            <tr>
                <td>Toys and Childcare Articles</td>
                <td>11</td>
            </tr>
            <tr>
                <td>Sporting Goods / Equipment</td>
                <td>9</td>
            </tr>
            <tr>
                <td>Tools and Hardware</td>
                <td>9</td>
            </tr>
            <tr>
                <td>Other Categories^</td>
                <td>26</td>
            </tr>
        </table>
        <p><b>^</b> Other categories include Candles & Burning Items and Accessories, Consumer Chemicals, Computer / Audio / Video / Other Electronics & Accessories, Cosmetics / Bodycare, Fabric / Textile / Garment / Home Textile, Footwear, Food Contact Material, Home Electrical Appliances (Hair dryer, iron, etc.), Homeware (non-food contact), Jewelry, Watch or Other Fashion Accessories and Lighting with frequency less than 5.</p>
    
        <p>Download the complete <a href="https://s3.asiainspection.com/newsletters/2016_07_RegRecap/AI_ANSECO_Canada_Recalls.pdf">Recall Case Summary – Canada (Last Update Date: June 30, 2016)</a></p>
    </div><br />
</div>

<div class="recapSectionHeader">
    <a name="south_america_news" class="bookmark"></a>
    <h2>SOUTH AMERICA NEWS</h2>
</div>

<div class="recapSection">
    <a name="colombia_laser_pointers" class="bookmark"></a>
    <strong>Colombia Suspends the Production, Distribution and Sale of Laser Pointers</strong>
    <p>On May 31, 2016, the Colombia Ministry of Commerce, Industry and Tourism approved <a href="http://www.sic.gov.co/drupal/resoluciones-lista?field_tipo_de_norma_value=3" target="_blank">Resolution No. 33767/2016</a> related to the suspension of the marketing of laser pointers in Colombia.</p>
    <a href="javascript://" class="learnmore">Read More</a><br />
    <div class="moretext">
        <p>Due to the risk of posing injury to the eyes of consumers, starting from June 1, 2016, the production, sale and distribution of laser pointers with an output power of 1mW or higher and 450 nm was suspended for 60 days. Laser pointers for medical, scientific, industrial or military use are excluded from the suspension. The Resolution also addresses that a new notice to extend the suspension may be issued in the future. </p>
    </div><br />
</div>

<div class="recapSectionHeader">
    <a name="europe_news" class="bookmark"></a>
    <h2>EUROPE NEWS</h2>
</div>

<div class="recapSection">
    <a name="reach_candidate_list" class="bookmark"></a>
    <strong>REACH – Candidate List Expanded to Include New SVHC</strong>
    <p>On June 20, 2016, the European Chemicals Agency (ECHA) <a href="http://echa.europa.eu/view-article/-/journal_content/title/a-new-substance-of-very-high-concern-added-to-the-candidate-list" target="_blank">added a new Substance of very high concern (SVHC) to the SVHC Candidate List</a>  with carcinogenic, mutagenic, toxic for reproduction, persistent, bioaccumulative and toxic (PBT), and very persistent and very bioaccumulative (vPvB) properties. This brings the SVHC Candidate List total to 169 substances.</p>
    <a href="javascript://" class="learnmore">Read More</a><br />
    <div class="moretext">
        <p>The chemical added is:</p>
        <ol><li style="margin-bottom:5px;">Benzo[def]chrysene (Benzo [a] pyrene) (EC No. 200-028-5, CAS No. 50-32-8)</li></ol>
        <p>The deadline for notification about the presence of the new SVHC in articles is December 20, 2016, six months after its inclusion on the List.</p>
    </div><br />
</div>

<div class="recapSection">
    <a name="france_food_requirements" class="bookmark"></a>
    <strong>France DGCCRF Issues New Food Contact Materials Requirements</strong>
    <p>On May 1, 2016, the General Directorate for Competition Policy, Consumer Affairs and Fraud Control (DGCCRF) issued and implemented a new <a href="http://www.economie.gouv.fr/files/files/directions_services/dgccrf/securite/produits_alimentaires/materiaux_contact/doc_pdf/DM-4B-COM-002-V01.pdf" target="_blank">Methodological Document, DM/4B/COM/002</a>, Rules on Inorganic Materials (excluding metals and alloys) Intended to Come in Contact with Food. </p>
    <a href="javascript://" class="learnmore">Read More</a><br />
    <div class="moretext">
        <p>The new requirement is applicable to glass, crystal, ceramic, ceramic and enameled food contact product excluding those covered by DM/4B/COM/001 (See <a href="http://www.asiainspection.com/regulatory-updates/April-2016" target="_blank">Regulatory Recap: April 2016</a>). The following specific migration limits have been added to the requirement:</p>
        <ol>
            <li style="margin-bottom:5px;">
                <p>Specific migration limits established for products made of ceramic and enameled ceramic:</p>
                <table>
                    <tr>
                        <td><b>Category</b></td>
                        <td><b>Lead (mg/L)</b></td>
                        <td><b>Cadmium (mg/L)</b></td>
                    </tr>
                    <tr>
                        <td>1: Non-refillable and refillable objects (internal depth between the lowest point and horizontal plane passing through the upper edge is less than or equal to 25 mm)</td>
                        <td>0.8</td>
                        <td>0.07</td>
                    </tr>
                    <tr>
                        <td>2. Fillable objects other than those covered by category 1 and 3</td>
                        <td>4.0</td>
                        <td>0.3</td>
                    </tr>
                    <tr>
                        <td>3. Cooking utensils, packaging and storage container (> 3 Liters), including articles for use in the oven or microwave oven</td>
                        <td>1.5</td>
                        <td>0.1</td>
                    </tr>
                    <tr>
                        <td>Oral contact (for product with 20mm external width, measured from the outer edge)</td>
                        <td>2</td>
                        <td>0.2</td>
                    </tr>
                </table>
            </li>
            <li style="margin-bottom:5px;">
                <p>Specific migration limits established for products made of glass, crystal, ceramic hob and enameled product (other than ceramic):</p>
                <table>
                    <tr>
                        <td><b>Category</b></td>
                        <td><b>Lead (mg/L)</b></td>
                        <td><b>Cadmium (mg/L)</b></td>
                        <td><b>Chromium (VI) (mg/L)</b></td>
                    </tr>
                    <tr>
                        <td>1: Non-refillable and refillable objects (internal depth between the lowest point and horizontal plane passing through the upper edge is less than or equal to 25 mm)</td>
                        <td>0.8</td>
                        <td>0.07</td>
                        <td>0.005</td>
                    </tr>
                    <tr>
                        <td>2. Fillable objects other than those covered by category 1 and 3</td>
                        <td>4.0</td>
                        <td>0.3</td>
                        <td>0.03</td>
                    </tr>
                    <tr>
                        <td>3. Cooking utensils, packaging and storage container (> 3 Liters), including articles for use in the oven or microwave oven</td>
                        <td>1.5</td>
                        <td>0.1</td>
                        <td>0.03</td>
                    </tr>
                    <tr>
                        <td>Oral contact (for product with 20mm external width, measured from the outer edge)</td>
                        <td>2</td>
                        <td>0.2</td>
                        <td>0.015</td>
                    </tr>
                </table>
            </li>
            <li style="margin-bottom:5px;">In addition to the above requirements, the following specific migration limits are also required for all products addressed in this rule:<br />
                <ol style="list-style-type: lower-roman;">
                    <li style="margin-bottom:5px;">Aluminum: 1 mg/kg</li>
                    <li style="margin-bottom:5px;">Cobalt: 0.02 mg/kg</li>
                    <li style="margin-bottom:5px;">Arsenic: Not detected (detection limit at most equal to 0.002 mg/kg)</li>
                </ol>
            </li>
    </div><br />
</div>

<div class="recapSection">
    <a name="turkey_import_control" class="bookmark"></a>
    <strong>Turkey Risk Based Import Control System (GTB-IRIS) Enters into Force</strong>
    <p>On May 2, 2016, the Ministry of Customs and Trade issued <a href="http://www.resmigazete.gov.tr/eskiler/2016/04/20160430-6.htm" target="_blank">a notification (number 29699)</a> related to a market surveillance program for imported consumer products which entered into force on the same date. </p>
    <a href="javascript://" class="learnmore">Read More</a><br />
    <div class="moretext">
        <p>In the notification, a list of targeted products is provided with their own test parameters. The products will be audited according to the test parameters as summarized below:</p>
        <table>
            <tr>
                <td><b>Product type</b></td>
                <td><b>Test parameters</b></td>
            </tr>
            <tr>
                <td rowspan="3">School supplies such as erasers, crayons</td>
                <td>Azo dyes</td>
            </tr>
            <tr>
                <td>Phthalates</td>
            </tr>
            <tr>
                <td>Heavy metals</td>
            </tr>
            <tr>
                <td rowspan="2">Sanitary products</td>
                <td>Azo dyes</td>
            </tr>
            <tr>
                <td>Dioctyltin</td>
            </tr>
            <tr>
                <td rowspan="2">Gloves</td>
                <td>Cadmium</td>
            </tr>
            <tr>
                <td>Dioctyltin</td>
            </tr>
            <tr>
                <td rowspan="2">Imitation jewelry</td>
                <td>Cadmium</td>
            </tr>
            <tr>
                <td>Nickel</td>
            </tr>
            <tr>
                <td rowspan="3">Arm watches</td>
                <td>Azo dyes</td>
            </tr>
            <tr>
                <td>Cadmium</td>
            </tr>
            <tr>
                <td>Nickel</td>
            </tr>
            <tr>
                <td rowspan="2">Phone cases</td>
                <td>Azo dyes</td>
            </tr>
            <tr>
                <td>Cadmium</td>
            </tr>
            <tr>
                <td rowspan="2">Pacifiers, baby feeding bottles and drink cups</td>
                <td>EN 14350</td>
            </tr>
            <tr>
                <td>EN 1400</td>
            </tr>
        </table>
    </div><br />
</div>

<div class="recapSectionHeader">
    <a name="australia_new_zealand_news" class="bookmark"></a>
    <h2>AUSTRALIA / NEW ZEALAND NEWS</h2>
</div>

<div class="recapSection">
    <a name="australia_scooters" class="bookmark"></a>
    <strong>Australia ACCC Extends National Interim Ban on the Supply of Unsafe Self-Balancing Scooters</strong>
    <p>On June 16, 2016, the Australian Competition and Consumer Commission (ACCC) published <a href="http://www.productsafety.gov.au/content/index.phtml/itemId/1020426" target="_blank">a second notice to extend the interim ban</a> on the supply of unsafe self-balancing scooters by 30 days. </p>
    <a href="javascript://" class="learnmore">Read More</a><br />
    <div class="moretext">
        <p>This is the second extension to the original 60-Day interim ban (See <a href="http://www.asiainspection.com/regulatory-updates/April-2016" target="_blank">Regulatory Recap: April 2016</a>). Currently, the end date of interim ban is extended to July 16, 2016. </p>
    </div><br />
</div>

<div class="recapSectionHeader">
    <a name="asia_news" class="bookmark"></a>
    <h2>ASIA NEWS</h2>
</div>

<div class="recapSection">
    <a name="thailand_food_labelling" class="bookmark"></a>
    <strong>Thailand Issues New Requirements for Food Nutrition Labelling</strong>
    <p>In June 2016, the Thailand Ministry of Public Health issued <a href="http://iodinethailand.fda.moph.go.th/food_54/law/data/announ_moph/V.English/No.374_Food_products.pdf" target="_blank">Notification, No. 374</a>, Guideline Daily Amounts (GDA), a new food nutrition labeling requirement for certain types of food. The new GDA requirement aims to support the consumer by providing preventive measures for nutritional problems through detailed nutrients information.</p>
    <a href="javascript://" class="learnmore">Read More</a><br />
    <div class="moretext">
        <p>The following foods are required to include GDA information on the nutrition label:</p>
        <ol>
            <li style="margin-bottom:5px;">Snack foods</li>
            <li style="margin-bottom:5px;">Chocolate and same kind products</li>
            <li style="margin-bottom:5px;">Bakery products</li>
            <li style="margin-bottom:5px;">Semi processed foods such as noodles</li>
            <li style="margin-bottom:5px;">Chilled and frozen ready-to-eat meals</li>
        </ol>
        <p>The GDA shall be provided with energy value, sugar, fat and sodium content according to the following format:</p>
        <ol>
            <li style="margin-bottom:5px;">The information of energy value, sugar, fat and sodium are separated into four vertical cylinders (See following example GDA label)</li>
            <li style="margin-bottom:5px;">The color of the frames shall be in contrasting colors with the background (black, dark blue or white) </li>
            <li style="margin-bottom:5px;">The background color of cylinders shall be in white</li>
            <li style="margin-bottom:5px;">Each line inside the cylinders shall be in black or dark blue and they shall be in the same color of the letters inside</li>
        </ol>
        <center><img src="https://s3.asiainspection.com/newsletters/2016_07_RegRecap/energy_sugar_far_sodium.png" style="width:90%; max-width:400px;" /></center>
    </div><br />
</div>

<br /><p><i>This summary is not intended to be exhaustive nor should it be construed as legal advice.</i></p>
