<!-- { "Title":"June 2017 Recap", "PublishDate":"2017-06-30", "Description":"NORTH AMERICA NEWS - On May 19, 2017, the US Consumer Product Safety Commission (CPSC) issued proposed rule 16 CFR 1237 in Federal Register 82 FR 22925 regarding the safety standard adoption for Booster Seats." }-->
<div class="recapSectionHeader">
	<ol style="margin-top:10px;">
		<li style="margin-bottom:10px;"><a href="#north_america_news">NORTH AMERICA NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#europe_news">EUROPE NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#australia_news">AUSTRALIA NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#asia_news">ASIA NEWS</a></li>
	</ol>
	<hr />
</div>

<div class="recapSectionHeader">
	<a name="north_america_news" class="bookmark"></a>
	<h2>NORTH AMERICA NEWS</h2>
</div>

<div class="recapSection">
	<a name="june-2017-cpsc-rule-booster-seats" class="bookmark"></a>
	<strong>US CPSC Proposes Rule to Adopt Booster Seats Standard</strong>
	<p>On May 19, 2017, the US Consumer Product Safety Commission (CPSC) issued <a href="https://www.federalregister.gov/documents/2017/05/19/2017-10044/safety-standard-for-booster-seats?utm_campaign=subscription%20mailing%20list&utm_source=federalregister.gov&utm_medium=email" target="_blank">proposed rule 16 CFR 1237 in Federal Register 82 FR 22925</a> regarding the safety standard adoption for Booster Seats.</p>
	<a href="/regulatory-updates/June-2017/june-2017-cpsc-rule-booster-seats" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In the proposed rule, the newly published ASTM F2640-17e1 Standard Consumer Safety Specification for Booster Seats was adopted in order to reduce the chance of injury associated with booster seats which are defined as:</p>
		<ol>
			<li>A juvenile chair, which is placed on an adult chair to elevate a child to standard dining table height</li>
			<li>Made for the purpose of containing a child, up to 5 years of age, and normally for feeding or eating</li>
			<li>A booster seat that may be height adjustable and include a reclined position</li>
		</ol>
		<p>The proposed rule is currently under comment period until August2, 2017.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="june-2017-epa-delays-wood-products-formaldehyde" class="bookmark"></a>
	<strong>US EPA Delays Implementation of Composite Wood Products Formaldehyde Standard</strong>
	<p>On May 24, 2017, the Environmental Protection Agency (EPA) issued <a href="https://www.federalregister.gov/documents/2017/05/24/2017-10548/compliance-date-extension-formaldehyde-emission-standards-for-composite-wood-products" target="_blank">Final Rule 82 FR 23735</a> to delay the implementation of 21 CFR Part 770 “Formaldehyde Emission Standards for Composite Wood Products”. The Final Rule 21 CFR 770 was approved and published in the Federal Register on December 12, 2016 to implement standards to reduce formaldehyde emissions as required by the Compliance Monitoring Strategy of the Toxic Substances Control Act (TSCA) (See <a href="http://www.asiainspection.com/regulatory-updates/January-2017/epa-final-rule-wood-products" target="_blank">Story in Regulatory Recap: January 2017</a>).</p>
	<a href="/regulatory-updates/June-2017/june-2017-epa-delays-wood-products-formaldehyde" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The implementation timeline is summarized below:</p>
		<table>
			<tr>
				<td style="font-weight:bold; text-align:center;">Item</td>
				<td style="font-weight:bold; text-align:center;">Current Implementation<br>Date</td>
				<td style="font-weight:bold; text-align:center;">Proposed Implementation<br>Date</td>
			</tr>
			<tr>
				<td>Emission standards, recordkeeping and<br>labelling provisions</td>
				<td style="text-align:center">December 12, 2017</td>
				<td style="text-align:center">March 22, 2018</td>
			</tr>
			<tr>
				<td>Import certification provisions</td>
				<td style="text-align:center" rowspan="2">December 12, 2018</td>
				<td style="text-align:center" rowspan="2">March 22, 2019</td>
			</tr>
			<tr>
				<td>Conclusion of transition period for CARB<br>Third-Party Certifiers (TPCs)</td>
			</tr>
			<tr>
				<td>Provisions applicable to producers of<br>laminated products</td>
				<td style="text-align:center">December 12, 2023</td>
				<td style="text-align:center">March 22, 2024</td>
			</tr>
		</table>
		<p>The Final Rule will be effective on July 10, 2017 unless the EPA receives any adverse comment by June 8, 2017.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="june-2017-epa-tsca-findings-chemicals" class="bookmark"></a>
	<strong>US EPA Issues Notices Related to TSCA Findings on New Chemicals</strong>
	<p>On April 25, 2017, the Environmental Protection Agency (EPA) issued two notices, <a href="https://www.federalregister.gov/documents/2017/04/25/2017-08250/certain-new-chemicals-or-significant-new-uses-statements-of-findings-for-december-2016" target="_blank">82 FR 19044</a> and <a href="https://www.federalregister.gov/documents/2017/04/25/2017-08246/certain-new-chemicals-or-significant-new-uses-statements-of-findings-for-february-2017" target="_blank">82 FR 19046</a>. The EPA reports findings on new chemical substances or significant new uses that are not likely to present an unreasonable risk of injury to health or the environment.</p>
	<a href="/regulatory-updates/June-2017/june-2017-epa-tsca-findings-chemicals" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The EPA is required under TSCA section 5(g) to publish in the Federal Register a statement of its findings after its review of a TSCA section 5(a) notice when the EPA makes a finding that a new chemical substance or significant new use is not likely to present an unreasonable risk of injury to health or the environment. The two notices present statements of findings during December 2016 and February 2017 separately. The case numbers and the chemical substances that were reviewed are listed below:</p>
		<table>
			<tr>
				<td style="font-weight:bold; text-align: center">Notices</td>
				<td style="font-weight:bold; text-align: center">EPA Case<br>Number</td>
				<td style="font-weight:bold; text-align: center">Chemical Identity</td>
			</tr>

			<tr>
				<td rowspan="11">82 FR 19044<br>Statement of<br>findings during<br>December 2016</td>
				<td>J-16-0033</td>
				<td>Saccharomyces cerevisiae modified to express glucoamylase activity (generic name)</td>
			</tr>

			<tr>
				<td>J-16-0034</td>
				<td>Saccharomyces cerevisiae modified (generic name)</td>
			</tr>

			<tr>
				<td>J-16-0035</td>
				<td>Saccharomyces cerevisiae modified (generic name);</td>
			</tr>
			<tr>
				<td>J-16-0036 - 0041</td>
				<td>Biofuel producing modified microorganism(s), with chromosomally-borne modifications (generic name)</td>
			</tr>
			<tr>
				<td>P-17-0009</td>
				<td>Depolymerized waste plastics (generic name)</td>
			</tr>
			<tr>
				<td>P-17-0016</td>
				<td>Hydroxyl alkyl acrylate ester, polymer with acrylates, aromatic vinyl monomer, cycloaliphatic lactone, and alkyl carboxylic acid, peroxide initiated (generic name)</td>
			</tr>
			<tr>
				<td>P-17-0017</td>
				<td>Hydroxyl alkyl acrylate ester, polymer with acrylates, aromatic vinyl monomer, cycloaliphatic lactone, and alkyl carboxylic acid, peroxide initiated (generic name)</td>
			</tr>
			<tr>
				<td>P-17-0018</td>
				<td>Hydroxyl alkyl acrylate ester, polymer with acrylates, aromatic vinyl monomer, cycloaliphatic lactone, and alkyl carboxylic acid, Azobis [aliphatic nitrile] initiated (generic name)</td>
			</tr>
			<tr>
				<td>P-17-0019</td>
				<td>Hydroxyl alkyl acrylate ester, polymer with acrylates, aromatic vinyl monomer, cycloaliphatic lactone, and alkyl carboxylic acid, peroxide initiated (generic name)</td>
			</tr>
			<tr>
				<td>P-17-0020</td>
				<td>Hydroxyl alkyl acrylate ester, polymer with acrylates, aromatic vinyl monomer, cycloaliphatic lactone, and alkyl carboxylic acid, peroxide initiated (generic name)</td>
			</tr>
			<tr>
				<td>P-17-0021</td>
				<td>Hydroxyl alkyl acrylate ester, polymer with acrylates, aromatic vinyl monomer, cycloaliphatic lactone, and alkyl carboxylic acid, Azobis [aliphatic nitrile] initiated (generic name)</td>
			</tr>
			<tr>
				<td rowspan="8">82 FR 19046<br>Statement of<br>findings during<br>February 2017</td>
				<td>J-17-0001-0005</td>
				<td>Saccharomyces cerevisiae modified (generic name)</td>
			</tr>
			<tr>
				<td>J-17-0006</td>
				<td>Saccharomyces cerevisiae modified (generic name)</td>
			</tr>
			<tr>
				<td>P-17-0144</td>
				<td>Amines, C36-alkylenedi-, polymers with octahydro-4,7-methano-1H-indenedimethanamine and pyromelliticdianhydride, maleated (CAS Number: 2020378-57-6)</td>
			</tr>
			<tr>
				<td>P-17-0158</td>
				<td>Perylenebisimide (generic name)</td>
			</tr>
			<tr>
				<td>P-17-0160</td>
				<td>2-Propenoic acid, alkyl-, alkyl ester, polymer with alkyl 2-propenoate, dialkyloxoalkyl-2-propenamide and alkyl 2-propenoate (generic name)</td>
			</tr>
			<tr>
				<td>P-17-0161</td>
				<td>2-Propenoic acid, alkyl-, alkyl ester, polymer with alkyl 2-propenoate, dialkyloxoalkyl-2-propenamide, ethenylbenzene and alkyl 2-propenoate (generic name)</td>
			</tr>
			<tr>
				<td>P-17-0182</td>
				<td>Alkyldioic acid, polymer with 2,2-dimethyl-1,3-propanediol, heteropolycycliccarboxy acid anhydride and 1,3-propanediol (generic name)</td>
			</tr>
			<tr>
				<td>P-17-0185</td>
				<td>Fatty acids, C18-unsatd., dimers, hydrogenated, polymers with C18-unsatd. fatty acid trimers, alkylenediamine and hydroxyalkanoic acid (generic name)</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="june-2017-updates-of-astm-standards" class="bookmark"></a>
	<strong>Updates of ASTM Standards</strong>
	<p>Below is a summary of recently updated ASTM standards:</p>
	<a href="/regulatory-updates/June-2017/june-2017-updates-of-astm-standards" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<table>
			<tr>
				<td style="font-weight:bold; text-align:center;">CPSIA /<br>CFR<br>Reference</td>
				<td style="font-weight:bold; text-align:center;">ASTM Standard<br>No.</td>
				<td style="font-weight:bold; text-align:center;">Detail</td>
			</tr>
			<tr>
				<td style="text-align: center;">-</td>
				<td>ASTM F2640-17e1</td>
				<td><b>Standard Consumer Safety Specification for Booster Seats</b><br>
				Covers the performance requirements and methods of test to<br>
				ensure the satisfactory performance of the booster seat.</td>
			</tr>
			<tr>
				<td style="text-align: center;">-</td>
				<td>ASTM F1148-17</td>
				<td><b>Standard Consumer Safety Performance Specification for Home<br>
				Playground Equipment</b><br>
				Provides safety requirements for various types of home playground<br>
				equipment intended for use by children aged from over 18 months<br>
				through 10 years. It further provides requirements for swings<br>
				intended specifically for toddlers.</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="june-2017-california-oehha-list-pentabromodiphenyl-prop65" class="bookmark"></a>
	<strong>US State of California OEHHA Intends to List Pentabromodiphenyl Ether Mixture under Proposition 65</strong>
	<p>On May 5, 2017, the California Office of Environmental Health Hazard Assessment (OEHHA) issued a <a href="https://oehha.ca.gov/proposition-65/crnr/notice-intent-list-pentabromodiphenyl-ether-mixture-de-71-technical-grade" target="_blank">notice that Pentabromodiphenyl Ether Mixture [DE-71 (technical grade)] is intended to be listed</a> under Proposition 65 as known to the State to cause cancer.</p>
	<a href="/regulatory-updates/June-2017/june-2017-california-oehha-list-pentabromodiphenyl-prop65" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<p>The chemical details are provided below:</p>
		<table>
			<tr>
				<td style="font-weight:bold; text-align: center;">Chemical</td>
				<td style="font-weight:bold; text-align: center;">Chemical Abstracts Service<br>Number (CAS No.)</td>
				<td style="font-weight:bold; text-align: center;">Types of Toxicity</td>
			</tr>
			<tr>
				<td>Pentabromodiphenyl Ether Mixture<br>[DE-71 (technical grade)]</td>
				<td style="text-align: center">32534-81-9</td>
				<td style="text-align: center">Cancer</td>
			</tr>	
		</table>
		<p>The comment period for listing of Pentabromodiphenyl Ether Mixture intention ended on June 5, 2017.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="june-2017-california-prop65-60-day-notices" class="bookmark"></a>
	<strong>California Proposition 65: Recent 60-Day Notices</strong>
	<p>In 1986, California voters approved an initiative titled California Proposition 65 to address their growing concerns about exposure to toxic chemicals. Since its origin, there have been many lawsuits that have resulted in reformulations of consumer products containing carcinogenic and reproductively harmful chemicals on the Cal Prop 65 list.</p>
	<a href="/regulatory-updates/June-2017/june-2017-california-prop65-60-day-notices" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Recent 60-day notices from April to May of 2017 include the following:</p>
		<table>
			<tr>
				<td style="font-weight:bold; text-align: center;">Chemical</td>
				<td style="font-weight:bold; text-align: center;">Product / Source</td>
				<td style="font-weight:bold; text-align: center;">Number of<br>Notices</td>
			</tr>
			<tr>
				<td>Acrylamide</td>
				<td>Foods</td>
				<td style="text-align: center;">2</td>
			</tr>
			<tr>
				<td>Bisphenol A (BPA)</td>
				<td>Thermal Paper / Measuring Cup</td>
				<td style="text-align: center;">15</td>
			</tr>
			<tr>
				<td>Cadmium</td>
				<td>Cacao Nibs / Cacao Bar/ Smoked Oysters</td>
				<td style="text-align: center;">3</td>
			</tr>
			<tr>
				<td rowspan="2">Cadmium and cadmium<br>compounds, Lead and lead<br>compounds</td>
				<td>Food powder</td>
				<td style="text-align: center;">2</td>
			</tr>
			<tr>
				<td>Dietary Supplements</td>
				<td style="text-align: center;">1</td>
			</tr>
			<tr>
				<td rowspan="6">Di(2-ethylhexyl)phthalate (DEHP)</td>
				<td>Armband</td>
				<td style="text-align: center;">2</td>
			</tr>
			<tr>
				<td>Bag / Cooler Bag / Purse / PVC Backpack</td>
				<td style="text-align: center;">9</td>
			</tr>
			<tr>
				<td>Body Mist Set / Folding Chairs /<br>
				Hand tools / Hanger</td>
				<td style="text-align: center;">12</td>
			</tr>
			<tr>
				<td>Headphones / Hose / Jump Rope / Lunchbox</td>
				<td style="text-align: center;">9</td>
			</tr>
			<tr>
				<td>Shower Curtain / Suction cup / Sunglasses</td>
				<td style="text-align: center;">6</td>
			</tr>
			<tr>
				<td>Vinyl products:  Floor Mat/ Raincoats/ Sleeve/<br>
				Electronics Cases/ Footwear/ Tubing</td>
				<td style="text-align: center;">15</td>
			</tr>
			<tr>
				<td>Di(2-ethylhexyl)phthalate (DEHP),<br>Di-isodecyl phthalate (DIDP),<br>Diisononyl phthalate (DINP)</td>
				<td>Cables</td>
				<td style="text-align: center;">1</td>
			</tr>
			<tr>
				<td>Di(2-ethylhexyl)phthalate (DEHP),<br>Di-isodecyl phthalate (DIDP), Di-<br>n-butyl phthalate (DBP),<br>Diisononyl phthalate (DINP)</td>
				<td>Hangers</td>
				<td style="text-align: center;">1</td>
			</tr>
			<tr>
				<td>Di(2-ethylhexyl)phthalate (DEHP),<br>Di-isodecyl phthalate (DIDP), Di-<br>n-butyl phthalate (DBP),<br>Diisononyl phthalate (DINP)</td>
				<td>Hose/ Wallet/ Cable/ Mats</td>
				<td style="text-align: center;">4</td>
			</tr>
			<tr>
				<td>Di(2-ethylhexyl)phthalate (DEHP),<br>Di-isodecyl phthalate (DIDP), Di-<br>n-butyl phthalate (DBP),<br>Diisononyl phthalate (DINP)</td>
				<td>Vinyl Mat/ Nipper/ Key Topper</td>
				<td style="text-align: center;">2</td>
			</tr>
			<tr>
				<td>Di(2-ethylhexyl)phthalate (DEHP),<br>Lead</td>
				<td>Hand tools/ Belts</td>
				<td style="text-align: center;">2</td>
			</tr>
			<tr>
				<td>Di-isodecyl phthalate (DIDP)</td>
				<td>Connectors/ Growler filler</td>
				<td style="text-align: center;">2</td>
			</tr>
			<tr>
				<td>Di-isodecyl phthalate (DIDP),<br>Diisononyl phthalate (DINP)</td>
				<td>Pencil Pouch</td>
				<td style="text-align: center;">1</td>
			</tr>
			<tr>
				<td rowspan="2">Diisononyl phthalate (DINP)</td>
				<td>Armband/ Bag/ Cable/ Chair Cover/<br>
				Headphones</td>
				<td style="text-align: center;">17</td>
			</tr>
			<tr>
				<td>Vinyl Tubing / Tape</td>
				<td style="text-align: center;">5</td>
			</tr>
			<tr>
				<td>Di-n-butyl phthalate (DBP)</td>
				<td>Sandals / Lock</td>
				<td style="text-align: center;">4</td>
			</tr>
			<tr>
				<td rowspan="4">Lead</td>
				<td>Adapters / Calipers/ Flowmeters/ Deflators/<br>Injectors/ Regulators</td>
				<td style="text-align: center;">19</td>
			</tr>
			<tr>
				<td>Brass fittings/parts</td>
				<td style="text-align: center;">8</td>
			</tr>
			<tr>
				<td>Dietary Supplements/ Food</td>
				<td style="text-align: center;">47</td>
			</tr>
			<tr>
				<td>Footwear / LED lightings/ Pasta makers/ Valve</td>
				<td style="text-align: center;">11</td>
			</tr>
		</table>
		
	</div><br />
</div>

<div class="recapSection">
	<a name="june-2017-oregon-high-priority-chemicals" class="bookmark"></a>
	<strong>US State of Oregon Issues Exemptions Guidance on the High Priority Chemicals of Concern Reporting Rule</strong>
	<p>Beginning January 1, 2018, manufacturers of children’s product sold in the State of Oregon are required to report to the Oregon Health Authority (OHA) if their products contain one or more of 66 High Priority Chemicals of Concern for Children’s Health (HPCCCH) which are at or above the de minimis level. As the reporting date is coming close, <a href="http://www.oregon.gov/oha/PH/HEALTHYENVIRONMENTS/HEALTHYNEIGHBORHOODS/TOXICSUBSTANCES/Documents/ExemptionRequest-MCPGuidance.pdf" target="_blank">a guidance related to exemption</a> has been issued by the OHA to assist manufacturers.</p>
	<a href="/regulatory-updates/June-2017/june-2017-oregon-high-priority-chemicals" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Instead of notifying the OHA, a manufacturer may alternatively submit a request for the reporting exemption if a children’s product contains a HPCCCH as a contaminant at or above the de minimis level. In order to be approved for the exemption, manufacturers must also demonstrate that the contaminant is effectively controlled under a Manufacturing Control Program (MCP). To make it clear, the guidance explains the elements of a MCP that the OHA will evaluate. They include:</p>
		<ol>
			<li>Manufacturer name, mailing address, contact information</li>
			<li>Manufacturer should specify if they believe that any confidential business records or trade secrets are included in the MCP</li>
			<li>The HPCCCHs covered by the MCP</li>
			<li>Description of the product and description of how and when in the process the HPCCCH is generated</li>
			<li>Categories MCP is being structured around (manufacturing processes, materials or groups of materials, component parts, or finished products)</li>
			<li>Description of the mechanisms covered by the MCP</li>
			<li>Information of best manufacturing practice and process (generally recognized in the industry) that the MCP meets</li>
			<li>Document and describe manufacturing control practices and processes from point #7</li>
		</ol>
		<p>In addition, the OHA will accept exemption requests beginning June 28, 2017.</p>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="europe_news" class="bookmark"></a>
	<h2>EUROPE NEWS</h2>
</div>

<div class="recapSection">
	<a name="june-2017-eu-lower-limit-bpa" class="bookmark"></a>
	<strong>EU Adopts Amendments to lower the Limit of BPA and add Limit of Phenol</strong>
	<p>In May 2017, the European Union (EU) issued and approved <a href="http://eur-lex.europa.eu/eli/dir/2017/774/oj" target="_blank">Directive (EU) 2017/774</a> and <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32017L0898" target="_blank">Directive (EU) 2017/898</a> to amend the Toy Safety Directive 2009/48/EC in adding a new requirement for Phenol and lowering the limit of Bisphenol A (BPA)</p>
	<a href="/regulatory-updates/June-2017/june-2017-eu-lower-limit-bpa" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In Directive (EU) 2017/774, the following new entry regarding the limit of phenol will be added to Annex II (Appendix C) of Directive 2009/48/EC:</p>
		<table style="text-align: center; width: 80%;">
			<tr>
				<td rowspan="2" style="font-weight:bold;"></td>
				<td colspan="2" style="font-weight:bold;">Limit of Phenol</td>
			</tr>
			<tr>
				<td><b>In polymeric material</b></td>
				<td><b>As preservative</b></td>
			</tr>
			<tr>
				<td>Migration limit</td>
				<td>5 mg/L</td>
				<td>-</td>
			</tr>
			<tr>
				<td>Content limit</td>
				<td>-</td>
				<td>10 mg/kg</td>
			</tr>
		</table>
		<p>Beginning from November 4, 2018, toys intended for use by children under 36 months and other toys intended to be placed in the mouth will be subject to the above phenol requirements.</p>
		<br />
		<p>In addition, Directive (EU) 2017/898 made the following changes in the same section of Directive 2009/48/EC regarding the migration limit of BPA:</p>
		<table style="text-align: center; width: 80%;">
			<tr>
				<td></td>
				<td><b>Migration Limit of BPA</b></td>
			</tr>
			<tr>
				<td>Current limit</td>
				<td>0.1 mg/L</td>
			</tr>
			<tr>
				<td>Amended limit</td>
				<td>0.04 mg/L</td>
			</tr>
		</table>
		<span>The new limit will be effective on November 26, 2018.</span>
	</div><br />
</div>

<div class="recapSection">
	<a name="june-2017-eu-food-contact-plastics" class="bookmark"></a>
	<strong>EU Amends Food Contact Plastics Regulation</strong>
	<p>On April 29, 2017, the European Union (EU) approved and published <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32017R0752" target="_blank">Commission Regulation (EU) 2017/752</a> to amend Regulation (EU) 10/2011 on plastic materials and articles intended to come into contact with food.</p>
	<a href="/regulatory-updates/June-2017/june-2017-eu-food-contact-plastics" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Upon implementation of the amendment regulation on May 19, 2018, the following changes to the food contact plastic regulation will be implemented:</p>
		<ol>
			<li>Updated list of authorized monomers, other starting substances, macromolecules obtained from microbial fermentation, additives and polymer product aids to:</li>
				<ol style="list-style-type: lower-alpha;">
					<li>Include 6 new entries of substances</li>
					<li>Remove verification of compliance by residual content per food contact surface area for 10 substances</li>
				</ol>
			<li>Transformed food simulant assignment for testing overall migration into table form for clarity (Technically unchanged)</li>
			<li>Updated information required for the declaration of compliance</li>
		</ol>
		<p>Upon implementation of the amendment regulation on May 19, 2019, the following changes on food contact plastic regulation will be implemented:</p>
		<ol>
			<li>Add new specific migration limits (0.02mg/kg food or food simulant) for Nickel</li>
		</ol>
	</div><br />
</div>

<div class="recapSection">
	<a name="june-2017-ec-guidance-to-red" class="bookmark"></a>
	<strong>EC Publishes Guidance to RED</strong>
	<p>On May 19, 2017, the European Commission (EC) published the <a href="http://ec.europa.eu/docsroom/documents/23321" target="_blank">Guidance to Directive 2014/53/EU Radio Equipment Directive (RED)</a>, which has been implemented since June 13, 2016.</p>
	<a href="/regulatory-updates/June-2017/june-2017-ec-guidance-to-red" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The guidance document is based on the RED and the new legal framework described in the “<a href="http://ec.europa.eu/growth/tools-databases/newsroom/cf/itemdetail.cfm?item_id=7326" target="_blank">Blue Guide 2016</a>”. In conjunction to the Blue Guide, the guidance explains clearly the definition of radio equipment and provides examples which are excluded from the scope of the RED. The guidance also lists out and provides further information on the obligations of different economic operators, such as manufacturer, importer and distributor. </p>
		<p>Other than the definition and obligations, the guidance addresses the essential technical requirements applicable to all and other specific types of radio equipment separately and provides a comparison between the current RED and the repealed Radio Equipment and Telecommunications Terminal Equipment Directive (R&TTED).</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="june-2017-europe-recalls-summary" class="bookmark"></a>
	<strong>Europe Recalls Summary (April and May 2017)</strong>
	<p>In Europe, when hazards are identified in consumer products, the products will be recalled and published in the <a href="http://ec.europa.eu/consumers/consumers_safety/safety_products/rapex/alerts/main/index.cfm" target="_blank">Rapid Alert System</a>, which is updated weekly. The European recalls for April and May 2017 are summarized below:</p>
	<a href="/regulatory-updates/June-2017/june-2017-europe-recalls-summary" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<center><img src="https://s3.asiainspection.com/newsletters/2017-06-Recap/EU_recall_hazards.png" style="width:90%; max-width:850px;" /></center>
		<table>
			<tr>
				<td><b>Hazard</b></td>
				<td><b>Frequency</b></td>
			</tr>
			<tr>
				<td>Chemical Hazard</td>
				<td>71</td>
			</tr>
			<tr>
				<td>Choking Hazard</td>
				<td>69</td>
			</tr>
			<tr>
				<td>Electric Shock Hazard</td>
				<td>40</td>
			</tr>
			<tr>
				<td>Injury Hazard</td>
				<td>29</td>
			</tr>
			<tr>
				<td>Strangulation Hazard</td>
				<td>15</td>
			</tr>
			<tr>
				<td>Burn Hazard</td>
				<td>12</td>
			</tr>
			<tr>
				<td>Hearing Hazard</td>
				<td>10</td>
			</tr>
			<tr>
				<td>Other Hazards*</td>
				<td>34</td>
			</tr>
		</table>
		<p><b>*</b> Other Hazards include Asphyxiation Hazard, Cut Hazard, Entrapment Hazard, Fire Hazard, Environmental Hazard, Microbial Hazard, Sight Hazard and Suffocation Hazard with a frequency of less than 10.</p>
		<br />
		<center><img src="https://s3.asiainspection.com/newsletters/2017-06-Recap/EU_recall_categories.png" style="width:90%; max-width:850px;" /></center>
		<table>
			<tr>
				<td><b>Product Categories</b></td>
				<td><b>Frequency</b></td>
			</tr>
			<tr>
				<td>Toys and Childcare Articles</td>
				<td>115</td>
			</tr>
			<tr>
				<td>Fabric / Textile / Garment / Home Textile</td>
				<td>33</td>
			</tr>
			<tr>
				<td>Cosmetics / Bodycare</td>
				<td>30</td>
			</tr>
			<tr>
				<td>Lighting</td>
				<td>24</td>
			</tr>
			<tr>
				<td>Computer / Audio / Video / Other Electronics & Accessories</td>
				<td>10</td>
			</tr>
			<tr>
				<td>Other Categories^</td>
				<td>40</td>
			</tr>
		</table>
		<p><b>^</b> Other Categories include Candles & Burning Items and Accessories, Consumer Chemicals, Footwear, Furniture, Home Electrical Appliances (Hair Dryer, Iron, etc.), Jewelry, Watch or other Fashion Accessories, Personal Protective Equipment (excludes eye protection), Sporting Goods / Equipment and Tools and Hardware,with a frequency of less than 10.</p>
		<p>Download the complete <a href="https://s3.asiainspection.com/newsletters/2017-06-Recap/June%202017-European-Recall%20Summary.docx">Recalls Summary – EU (April and May 2017)</a></p>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="australia_news" class="bookmark"></a>
	<h2>AUSTRALIA NEWS</h2>
</div>

<div class="recapSection">
	<a name="june-2017-australia-baby-dummies-and-chains" class="bookmark"></a>
	<strong>Australia Adopts Updated Safety Standard for Babies’ Dummies and Dummy Chains</strong>
	<p>On April 18, 2017, the new <a href="https://www.legislation.gov.au/Details/F2017L00452" target="_blank">Consumer Goods Safety Standard 2017 related to children’s nightwear and limited day daywear</a> entered into force. The safety standard adopts updated standard AS/NZS 1249: 2014 Children's Nightwear and Limited Daywear Having Reduced Fire Hazard and will revoke previous regulations published in 2007.</p>
	<a href="/regulatory-updates/June-2017#june-2017-australia-baby-dummies-and-chains" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The key updates of the requirements are summarized below:</p>
		<table>
			<tr>
				<td style="font-weight:bold; text-align: center;">Item</td>
				<td style="font-weight:bold; text-align: center;">Mandatory Standards</td>
				<td style="font-weight:bold; text-align: center;">Requirements</td>
			</tr>
			<tr>
				<td rowspan="2">Babies’ dummies<br>
				(Either one, EN or<br>
				AS, standard shall<br>
				be applied)</td>
				<td>AS 2432:2015 – Babies dummies</td>
				<td rowspan="2">- General requirements<br>
				- Size and integrity of dummy shield<br>
				- Strength of the teat<br>
				- Size and integrity of the ring, handle and plug<br>
				- Decoration<br>
				- Packaging<br>
				- Product information</td>>
			</tr>
			<tr>
				<td>EN 1400:2013+A1:2014 - Child use and care<br>
				article – Soothers for babies and young<br>
				children – Safety requirements and test<br>
				methods</td>
			</tr>
			<tr>
				<td>Dummy chains</td>
				<td>EN 12586:2007+A1:2011 - Child use and care<br>
				articles – Soother holder – Safety<br>
				requirements and test methods</td>
				<td>- Decoration<br>
				- Length<br>
				- Impact resistance<br>
				- Durability of the garment fastener<br>
				- Tensile strength</td>
			</tr>
		</table>
		<p>The updated requirements are currently under a transition period until July 1, 2019. Therefore, products may comply with either the current or updated standard during this period. However, the updated standards will become mandatory after the transition.</p>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="asia_news" class="bookmark"></a>
	<h2>ASIA NEWS</h2>
</div>

<div class="recapSection">
	<a name="june-2017-malaysia-food-contact-ceramics" class="bookmark"></a>
	<strong>Malaysia Updates Food Contact Ceramics Requirements</strong>
	<p>On April 3, 2017, <a href="http://www.federalgazette.agc.gov.my/outputp/pua_20170403_PU%20A%20104.pdf" target="_blank">Food (Amendment) No. 2 Regulations 2017</a> was published through the Federal Government Gazette. The Regulation amends the Food Regulation 1985 and updates the food contact ceramics requirements.</p>
	<a href="/regulatory-updates/June-2017#june-2017-malaysia-food-contact-ceramics" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The key changes of the Food Regulations are summarized below:</p>
		<ol>
			<li>Updates the migration limit of Cadmium (Cd) for:</li>
			<table>
				<tr>
					<td>&nbsp;</td>
					<td>Migration Limit of Cadmium in<br>small hollow-ware</td>
					<td>Migration Limit of Cadmium<br>in large hollow-ware</td>
				</tr>
				<tr>
					<td>Previous limit</td>
					<td>0.20 mg/L</td>
					<td>0.20 mg/L</td>
				</tr>
				<tr>
					<td>Amended limit</td>
					<td>0.50 mg/L</td>
					<td>0.25 mg/L</td>
				</tr>
			</table>
			<li>Updates the adopted test method standards</li>
			<table>
				<tr>
					<td>&nbsp;</td>
					<td><b>Standard</b></td>
				</tr>
				<tr>
					<td>Previously adopted standard</td>
					<td>MS 1817-1 Ceramic Tableware - Specification</td>
				</tr>
				<tr>
					<td>Amended adopted standard</td>
					<td>MS ISO 6486-1 Ceramic Ware, Glass Ceramic Ware<br>
					And Glass Dinnerware In Contact With Food -<br>
					Release Of Lead And Cadmium – Part 1: Test<br>
					Method</td>
				</tr>
			</table>
		</ol>
		<p>The amendment regulation has been in effect since April 15, 2017.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="june-2017-hksar-toys-and-childrens-products" class="bookmark"></a>
	<strong>HKSAR Updates Certain Adopted Toys and Children’s Products Safety Standards</strong>
	<p>On May 19, 2017, the Hong Kong Administrative Region (HKSAR) Government published in the Gazette the <a href="http://www.gld.gov.hk/egazette/pdf/20172120/es220172120102.pdf" target="_blank">Toys and Children’s Products Safety Ordinance (Amendment of Schedules 1 and 2) Notice 2017</a>. The notice amends the Toys and Children’s Products Safety Ordinance (Cap. 424) to update certain adopted safety standards.</p>
	<a href="/regulatory-updates/June-2017#june-2017-hksar-toys-and-childrens-products" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The specified standards for toys and various products have been updated to new versions. Meanwhile, two new toys standards will be added upon enforcement. The key changes are summarized below:</p>
		<table>
			<tr style="font-weight: bold;">
				<td>Product</td>
				<td>Repealed Version</td>
				<td>Updated Version</td>
			</tr>
			<tr>
				<td colspan="3" style="text-align: center;">Toys Standards</td>
			</tr>
			<tr>
				<td>Finger paints</td>
				<td style="text-align: center;">-</td>
				<td>ISO 8124-7:2015</td>
			</tr>
			<tr>
				<td>Chemical toys (sets) other than<br>experimental sets</td>
				<td>BS EN 71-5:2013</td>
				<td>BS EN 71-5:2015</td>
			</tr>
			<tr>
				<td>Olfactory board games,<br>cosmetic kits and gustative<br>games</td>
				<td style="text-align: center;">-</td>
				<td>BS EN 71-13:2014</td>
			</tr>
			<tr>
				<td>Electric toys</td>
				<td>BS EN 62115:2005+A11:2012</td>
				<td>BS EN 62115:2005+A11:2015</td>
			</tr>
			<tr>
				<td colspan="3" style="text-align: center;">Products Standards</td>
			</tr>
			<tr>
				<td rowspan="2">Bunk beds and high beds</td>
				<td>BS EN 747-1:2012</td>
				<td>BS EN 747-1:2012+A1:2015</td>
			</tr>
			<tr>
				<td>BS EN 747-2:2012</td>
				<td>BS EN 747-2:2012+A1:2015</td>
			</tr>
			<tr>
				<td>Expansion gates and expandable enclosures</td>
				<td>ASTM F1004-13</td>
				<td>ASTM F1004-16b</td>
			</tr>
			<tr>
				<td>High chairs</td>
				<td>ASTM F404-14a</td>
				<td>ASTM F404-16a</td>
			</tr>
			<tr>
				<td>Children’s high chairs</td>
				<td>ISO 9221-1:1992</td>
				<td>ISO 9221-1:2015</td>
			</tr>
			<tr>
				<td>Non-full-size baby cribs / play yards</td>
				<td>ASTM F406-13</td>
				<td>ASTM F406-15</td>
			</tr>
			<tr>
				<td>Carriages and Strollers</td>
				<td>ASTM F833-13b</td>
				<td>ASTM F833-15</td>
			</tr>
		</table>
		<p>The updated standards will be effective on April 1, 2018.</p>
	</div><br />
</div>

</div>