<!-- { "Title":"March 2018 Recap", "PublishDate":"2018-03-06", "Description":"NORTH AMERICA NEWS - On November 30, 2017, the US Consumer Product Safety Commission (CPSC) issued an advance notice of proposed rulemaking on Federal Register 82 FR 56752, regarding safety rules for clothing storage units tipping over." }-->
<div class="recapSectionHeader">
	<ol style="margin-top:10px;">
		<li style="margin-bottom:10px;"><a href="#north_america_news">NORTH AMERICA NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#europe_news">EUROPE NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#australia_news">AUSTRALIA NEWS</a></li>
	</ol>
	<hr />
</div>

<div class="recapSectionHeader">
	<a name="north_america_news" class="bookmark"></a>
	<h2>NORTH AMERICA NEWS</h2>
</div>

<div class="recapSection">
	<a name="mar2018-updates-of-astm-standards" class="bookmark"></a><a name="feb2018-updates-of-astm-standards" class="bookmark"></a><strong>Updates of ASTM Standards</strong>
	<p>Below is a summary of recently updated ASTM standards:</p>
	<a href="/regulatory-updates/March-2018/mar2018-updates-of-astm-standards" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<table>
		<tr>
			<td><b>ASTM Standard No.</b></td>
			<td><b>Detail</b></td>
		</tr>
		<tr>
			<td>ASTM F406-17</td>
			<td><b>Standard Consumer Safety Specification for Non-Full-Size Baby Cribs/Play Yards</b><br />
				Establishes testing requirements for structural integrity and performance for non-full-size cribs/play yards, for both rigid sided and mesh/fabric assemblies. It also provides requirements for labeling and instructional material.</td>
		</tr>
	</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="mar2018-cpsc-considers-clothing-storage" class="bookmark"></a><a name="feb2018-cpsc-considers-clothing-storage" class="bookmark"></a><strong>US CPSC Considers to Propose Rules for Clothing Storage Unit 
</strong>
	<p>On November 30, 2017, the US Consumer Product Safety Commission (CPSC) issued an advance notice of proposed rulemaking on Federal Register, <a href="https://www.federalregister.gov/documents/2017/11/30/2017-25779/clothing-storage-unit-tip-overs-request-for-comments-and-information" target="_blank">82 FR 56752</a>, regarding safety rules for clothing storage units tipping over.</p>
	<a href="/regulatory-updates/March-2018/mar2018-cpsc-considers-clothing-storage" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>According to the notice, the CPSC is aware of numerous injuries and deaths resulting from furniture tip overs. Therefore, to address the risk, the CPSC staff reviewed incident data for furniture tipping over. It was determined that clothing storage units consisting of chests, bureaus and dressers were the primary furniture category involved in fatal and injury incidents. Thus, the CPSC is inviting comments concerning the risk of injury associated with clothing storage units tipping over. The comment period ends April 14, 2018.
	</div><br />
</div>

<div class="recapSection">
	<a name="mar2018-cpsc-final-rule-phthalates-prohibition" class="bookmark"></a><a name="feb2018-cpsc-final-rule-phthalates-prohibition" class="bookmark"></a><strong>US CPSC Issues Final Rule Related to TCB for Phthalates Prohibition in Toys and Child Care Articles
</strong>
	<p>On February 1, 2018, the US Consumer Product Safety Commission (CPSC) issued a final rule on Federal Register, <a href="https://www.federalregister.gov/documents/2018/02/01/2018-01452/cpsc-acceptance-of-third-party-laboratories-revision-to-the-notice-of-requirements-for-prohibitions" target="_blank">83 FR 4578</a>, regarding third party laboratories testing requirements for specified phthalates in children’s toys and child care articles.</p>
	<a href="/regulatory-updates/March-2018/mar2018-cpsc-final-rule-phthalates-prohibition" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>According to the Consumer Product Safety Act (CPSA), consumer products subject to rule, ban, standard or regulation enforced by the CPSC shall be tested and certified for compliance through an accredited third-party conformity assessment body (TCB).</p>
		<p>In the final rule, updates are provided regarding the requirement for the accreditation of third party laboratories to assess conformity to 16 CFR 1307 - Prohibition of certain phthalates in toys and child care articles, which was established on October 27, 2017 (See <a href="/regulatory-updates/November-2017/nov2017-us-cpsc-updates-phthalates-prohibition" target="_blank">Regulatory Recap: November 2017</a>). These updates will be effective April 25, 2018. </p>
		<p>During the two years from the date of publication of the final rule, the CPSC will accept testing results to the new phthalates prohibitions from laboratories that are CPSC-accepted to the old method(CPSC-CH-C1001-09.3(2010)) to allow adequate time for laboratories to apply to the new method (CPSC-CH-C1001-09.4(2018)).</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="mar2018-cpsc-direct-final-rule-expand-phthalates-prohibition" class="bookmark"></a><a name="feb2018-cpsc-direct-final-rule-expand-phthalates-prohibition" class="bookmark"></a><strong>US CPSC Issues Direct Final Rule to Expand the Exemption for Certain Plastics in Phthalates Prohibition in Toys and Child Care Articles
</strong>
	<p>On January 26, 2018, the US Consumer Product Safety Commission (CPSC) issued a direct final rule on Federal Register, <a href="https://www.federalregister.gov/documents/2018/01/26/2018-01451/prohibition-of-childrens-toys-and-child-care-articles-containing-specified-phthalates-revision-of" target="_blank">83 FR 3583</a>, to revise the exemption for certain plastics in relation to the updated phthalates prohibition in toys and child care articles.</p>
	<a href="/regulatory-updates/March-2018/mar2018-cpsc-direct-final-rule-expand-phthalates-prohibition" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In the recent updates on phthalates prohibitions (16 CFR 1307), a revision has been made to the phthalates included on the list (See <a href="/regulatory-updates/November-2017/nov2017-us-cpsc-updates-phthalates-prohibition">Regulatory Recap: November 2017</a>). Thus, the CPSC issued a direct final rule to revise the phthalates in order to match with the updated prohibition. Therefore, 16 CFR 1308, regarding the determination of certain plastics to be exempted from third party testing requirements,  is expanded to the updated prohibition (See <a href="/regulatory-updates/August-2017/aug2017-cpsc-exempts-plastics-phthalates">Regulatory Recap: August 2017</a>).</p>
		<p>The direct final rule will be effective April 25, 2018.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="mar2018-canada-prohibition-asbestos" class="bookmark"></a><a name="feb2018-canada-prohibition-asbestos" class="bookmark"></a><strong>Canada DOE and DOH Propose a Prohibition of Asbestos and Asbestos Containing Products</strong>
	<p>On January 6, 2018, the Department of the Environment (DOE) and the Department of Health (DOH) <a href="http://gazette.gc.ca/rp-pr/p1/2018/2018-01-06/html/reg3-eng.html" target="_blank">proposed Prohibition of Asbestos and Asbestos Product Regulations</a>. Meanwhile, the Canadian Environmental Protection Act, 1999 was proposed to be updated to <a href="http://gazette.gc.ca/rp-pr/p1/2018/2018-01-06/html/reg2-eng.html" target="_blank">include additional types of asbestos</a>.</p>
	<a href="/regulatory-updates/March-2018/mar2018-canada-prohibition-asbestos" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>One year after DOE and DOH issued a notice of intent to develop regulations regarding asbestos, they proposed the regulations and the key requirements for consumer products that are summarised below:</p>
		<ul>
			<li>A person must not manufacture a product that contains asbestos</li>
			<li>A person must not import, sell or use processed asbestos fibre or a product that contains asbestos</li>
		</ul>
		<p>The Export Control List of Canadian Environmental Protection Act, 1999 was also amended to include:</p>
		<p><u>Part 2 Substances Subject to Notification or Consent</u></p>
		<ul>
			<li>Methamidophos (CAS 10265-92-6)</li>
			<li>Actinolite (CAS 77536-66-4)</li>
			<li>Anthophyllite (CAS 77536-67-5)</li>
			<li>Amosite (CAS 12172-73-5)</li>
			<li>Crocidolite (CAS 12001-28-4)</li>
			<li>Tremolite (CAS 77536-68-6)</li>
		</ul>
		<p><u>Part 3 Restricted Substances</u></p>
		<ul>
			<li>Chrysotile asbestos (CAS 12001-29-5)</li>
		</ul>
		<p>The proposed amendment is under a comment period until March 22, 2018.</p>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="europe_news" class="bookmark"></a>
	<h2>EUROPE NEWS</h2>
</div>

<div class="recapSection">
	<a name="mar2018-echa-two-new-chemicals" class="bookmark"></a><a name="feb2018-echa-two-new-chemicals" class="bookmark"></a><strong>ECHA Approves Amendment of Annex XVII List of Restriction Introducing Two New Chemicals</strong>
	<p>On January 11, 2018, Commission Regulation (EU) 2018/35 was published to add Octamethylcyclotetrasiloxane (D4) and Decamethylcyclopentasiloxane (D5) to the Annex XVII List of Restriction under Regulation (EC) No. 1907/2006 (REACH). The effective date of the regulation was January 31, 2018.</p>
	<a href="/regulatory-updates/March-2018/mar2018-echa-two-new-chemicals" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In the regulation, usage of Octamethylcyclotetrasiloxane (D4) and Decamethylcyclopentasiloxane (D5) are restricted and it will be enforced starting on January 31, 2020 (See <a href="/regulatory-updates/March-2017/mar2017-echa-amendment-new-chemicals">Regulatory Recap: March 2017</a>).</p>
		<table>
			<tr>
				<td>Item</td>
				<td>Chemical</td>
				<td>Chemical Abstract Service (CAS) Number (European Community (EC) Number)</td>
				<td>Conditions</td>
			</tr>
			<tr>
				<td>70</td>
				<td>
					<p>Octamethylcyclotetrasiloxane (D4)</p>
					<p>Decamethylcyclopentasiloxane (D5)</p>
				</td>
				<td>
					<p>556-67-2 (209-136-7)</p>
					<p>541-02-6 (208-764-6)</p>
				</td>
				<td>
					<p>1. Shall not be placed on the market in wash-off cosmetic products in a concentration equal to or greater than 0.1% by weight</p>
					<p>(Wash-off cosmetic products mean cosmetic products that are washed off with water after application)</p>
				</td>
			</tr>
		</table>
	</div><br />
</div>
<!-- Good to Here -->
<div class="recapSection">
	<a name="mar2018-echa-new-textiles-requirements" class="bookmark"></a><a name="feb2018-echa-new-textiles-requirements" class="bookmark"></a><strong>ECHA Proposes Amendment of Annex XVII List of Restriction Introducing New Textiles Requirements
</strong>
	<p>In early 2018, the European Chemical Agency (ECHA) proposed to amend Annex XVII of Regulation (EC) No. 1907/2006 Registration, Evaluation, Authorisation and Restriction of Chemicals (REACH) through World Trade Organization (WTO) notifications. Certain chemicals are added in Annex XVII as restricted substances in textiles and footwear.
</p>
	<a href="/regulatory-updates/March-2018/mar2018-echa-new-textiles-requirements" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Upon enforcement, the following chemicals shall not be placed in clothing or related accessories, textiles products (come into contact with skin to an extent similar to clothing) and footwear:</p>
		<table>
			<tr>
				<td><b>Substances</b></td>
				<td><b>CAS No.</b></td>
				<td><b>Limit (mg/kg)</b></td>
			</tr>
			<tr>
				<td>Cadmium and its compounds</td>
				<td>-</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Chromium VI compounds</td>
				<td>-</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Arsenic compounds</td>
				<td>-</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Lead and its compounds</td>
				<td>-</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Benzene</td>
				<td>71-43-2</td>
				<td>5</td>
			</tr>
			<tr>
				<td>Benz[a]anthracene</td>
				<td>56-55-3</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Benz[e]acephenanthrylene</td>
				<td>205-99-2</td>
				<td>1</td>
			</tr>
			<tr>
				<td>benzo[a]pyrene; benzo[def]chrysene</td>
				<td>50-32-8</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Benzo[e]pyrene</td>
				<td>192-97-2</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Benzo[j]fluoranthene</td>
				<td>205-82-3</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Benzo[k]fluoranthene</td>
				<td>207-08-9</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Chrysene</td>
				<td>218-01-9</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Dibenz[a,h]anthracene</td>
				<td>53-70-3</td>
				<td>1</td>
			</tr>
			<tr>
				<td>α, α,α,4-tetrachlorotoluene; pchlorobenzotrichloride</td>
				<td>5216-25-1</td>
				<td>1</td>
			</tr>
			<tr>
				<td>α, α, α-trichlorotoluene; benzotrichloride</td>
				<td>98-07-7</td>
				<td>1</td>
			</tr>
			<tr>
				<td>α-chlorotoluene; benzyl chloride</td>
				<td>100-44-7</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Formaldehyde</td>
				<td>50-00-0</td>
				<td>
					<p>75</p>
					<p>300 (only for jackets, coats or upholstery within 3 years after enforcement)</p>
				</td>
			</tr>
			<tr>
				<td>1,2-benzenedicarboxylic acid; di-C 6-8-branched alkylesters, C 7-rich</td>
				<td>71888-89-6</td>
				<td>1000</td>
			</td>
			<tr>
				<td>Bis(2-methoxyethyl) phthalate</td>
				<td>117-82-8</td>
				<td>1000</td>
			</tr>
			<tr>
				<td>Diisopentylphthalate</td>
				<td>605-50-5</td>
				<td>1000</td>
			</tr>
			<tr>
				<td>Di-n-pentyl phthalate (DPP)</td>
				<td>131-18-0</td>
				<td>1000</td>
			</tr>
			<tr>
				<td>Di-n-hexyl phthalate (DnHP)</td>
				<td>84-75-3</td>
				<td>1000</td>
			</tr>
			<tr>
				<td>N-methyl-2-pyrrolidone; 1- methyl-2-pyrrolidone (NMP)</td>
				<td>872-50-4</td>
				<td>3000</td>
			</tr>
			<tr>
				<td>N, N-dimethylacetamide (DMAC)</td>
				<td>127-19-5</td>
				<td>3000</td>
			</tr>
			<tr>
				<td>N,N-dimethylformamide; dimethyl formamide (DMF)</td>
				<td>68-12-2</td>
				<td>3000</td>
			</tr>
			<tr>
				<td>1,4,5,8- tetraaminoanthraquinone; C.I. Disperse Blue 1</td>
				<td>2475-45-8</td>
				<td>50</td>
			</tr>
			<tr>
				<td>Benzenamine, 4,4'-(4- iminocyclohexa-2,5- dienylidenemethylene)dianiline hydrochloride; C.I. Basic Red 9</td>
				<td>569-61-9</td>
				<td>50</td>
			</tr>
			<tr>
				<td>[4-[4,4'- bis(dimethylamino)benzhydryli dene]cyclohexa-2,5-dien-1- ylidene]dimethylammonium chloride; C.I. Basic Violet 3 with ≥ 0,1 % of Michler's ketone (EC no. 202-027-5)</td>
				<td>548-62-9</td>
				<td>50</td>
			</tr>
			<tr>
				<td>4-chloro-o-toluidinium chloride</td>
				<td>3165-93-3</td>
				<td>30</td>
			</tr>
			<tr>
				<td>2-Naphthylammoniumacetate</td>
				<td>553-00-4</td>
				<td>30</td>
			</tr>
			<tr>
				<td>4-methoxy-m-phenylene diammonium sulphate; 2,4- diaminoanisole sulphate</td>
				<td>39156-41-7</td>
				<td>30</td>
			</tr>
			<tr>
				<td>2,4,5-trimethylaniline hydrochloride</td>
				<td>21436-97-5</td>
				<td>30</td>
			</tr>
			<tr>
				<td>Quinoline</td>
				<td>91-22-5</td>
				<td>50</td>
			</tr>
		</table>
		<p>The proposed restriction does not apply to:</p>
		<ul>
			<li>Clothing, related accessories or footwear that are made exclusively of natural leather, fur or hide</li>
			<li>Non-textile fasteners and non-textile decorative attachments</li>
			<li>Second-hand clothing, related accessories or footwear</li>
			<li>Clothing, related accessories or footwear that falls within the scope of Regulation (EU) 2017/745 on Personal Protective Equipment</li>
			<li>Textiles that are designed for one time or limited time use and are not intended for subsequent use for the same or a similar purpose</li>
		</ul>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="australia_news" class="bookmark"></a>
	<h2>AUSTRALIA NEWS</h2>
</div>

<div class="recapSection">
	<a name="mar2018-australia-recall" class="bookmark"></a><a name="feb2018-australia-recall" class="bookmark"></a><strong>Australia Recalls Summary (July 2017 to Jan 2018)</strong>
	<p>In Australia, when hazards are identified in consumer products, the products will be recalled and published in the Product Safety Australia, which is updated daily. The Australia recalls from July 2017 to January 2018 are summarized below:</p>
	<a href="/regulatory-updates/March-2018/mar2018-australia-recall" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<center><img src="https://s3.asiainspection.com/newsletters/2018-02-RegRecap/Australia_recall_hazards.png" style="width:90%; max-width:850px;"></center>
		<table>
			<tr>
				<td><b>Hazards</b></td>
				<td><b>Frequency</b></td>
			</tr>
			<tr>
				<td>Injury Hazard</td>
				<td>26</td>
			</tr>
			<tr>
				<td>Choking Hazard</td>
				<td>25</td>
			</tr>
			<tr>
				<td>Fire Hazard</td>
				<td>14</td>
			</tr>
			<tr>
				<td>Burn Hazard</td>
				<td>10</td>
			</tr>
			<tr>
				<td>Electric Shock Hazard</td>
				<td>8</td>
			</tr>
			<tr>
				<td>Chemical Hazard</td>
				<td>5</td>
			</tr>
			<tr>
				<td>Other Hazards*</td>
				<td>21</td>
			</tr>
		</table>
		<p>* Other Hazards include Drowning Hazard, Fall Hazard, Ingestion Hazard, Laceration Hazard, Microbial Hazard, Scald Hazards, Strangulation hazard, Suffocation Hazard and Violation of Safety Standard with a frequency of less than 5.</p>
		<br /><br />
		<center><img src="https://s3.asiainspection.com/newsletters/2018-02-RegRecap/Australia_recall_categories.png" style="width:90%; max-width:850px;"></center>
		<table>
			<tr>
				<td><b>Product Categories</b></td>
				<td><b>Frequency</b></td>
			</tr>
			<tr>
				<td>Toys and Childcare articles</td>
				<td>36</td>
			</tr>
			<tr>
				<td>Home Electrical Appliances (Hair Dryer, Iron, etc.)</td>
				<td>12</td>
			</tr>
			<tr>
				<td>Sporting Goods / Equipment</td>
				<td>8</td>
			</tr>
			<tr>
				<td>Tools and Hardware</td>
				<td>6</td>
			</tr>
			<tr>
				<td>Food Contact Material</td>
				<td>5</td>
			</tr>
			<tr>
				<td>Fabric / Textile / Garment / Home Textile</td>
				<td>5</td>
			</tr>
			<tr>
				<td>Other Categories^</td>
				<td>20</td>
			</tr>
		</table>
		<p>^ Other Categories include Candles &amp; Burning Items and Accessories, Computer / Audio / Video / Other Electronics &amp; Accessories, Cosmetics / Bodycare, Footwear, Furniture, Homeware (Non-food Contact), Jewelry, Watch or other Fashion Accessories, Lighting Equipment and Senior Walking Aid with a frequency of less than 5.</p>
		<br /><br />
		<p>For a complete list <a href="https://s3.asiainspection.com/newsletters/2018-02-RegRecap/AUS_Recall_Summary[July-Dec-2017].doc" target="_blank">click here</a></p>
	</div><br />
</div>















