<!-- { "Title":"March 2016 Recap", "PublishDate":"2016-03-24", "Description":"NORTH AMERICA NEWS - On February 10, 2016, the US Senate proposed the Lithium Battery Safety Act (Senate Bill 2528), which repeals Section 828 of the Federal Aviation Administration (FAA) Modernization and Reform Act of 2012." }-->
<div class="recapSectionHeader">
    <ol style="margin-top:10px;">
        <li style="margin-bottom:10px;"><a href="#north_america_news">NORTH AMERICA NEWS</a></li>
        <li style="margin-bottom:10px;"><a href="#europe_news">EUROPE NEWS</a></li>
        <li style="margin-bottom:10px;"><a href="#australia_new zealand_news">AUSTRALIA / NEW ZEALAND  NEWS</a></li>
        <li style="margin-bottom:10px;"><a href="#asia_news">ASIA NEWS</a></li>
    </ol>
    <hr />
</div>
    
<div class="recapSectionHeader">
    <a name="north_america_news" class="bookmark"></a>
    <h2>NORTH AMERICA NEWS</h2>
</div>
    
<div class="recapSection">
    <a name="lithium-battery-safety" class="bookmark"></a>
    <strong>USA Proposes Lithium Battery Safety Act of 2016</strong>
    <a href="/regulatory-updates/March-2016/lithium-battery-safety" class="recapViewStory" style="float:right;">View Story</a>
    <div style="clear:both;"></div>
    
    <p><i>On February 10, 2016, the US Senate proposed the <a href="https://www.congress.gov/114/bills/s2528/BILLS-114s2528is.pdf" target="_blank">Lithium Battery Safety Act (Senate Bill 2528)</a>, which repeals Section 828 of the Federal Aviation Administration (FAA) Modernization and Reform Act of 2012. </i></p>
    <p>Section 828 prohibited the FAA from imposing more stringent restrictions on lithium-ion batteries than international rules created by the International Civil Aviation Organization (ICAO), and promoted the safe manufacture, use and transportation of lithium batteries and cells. The proposed senate bill states that the president shall establish a Lithium Battery Safety Working Group not later than 90 days after the bill has entered into force.</p>
    <p>The working group should be composed of at least 1 representative from each of the following:</p>
    <ol>
        <li style="margin-bottom:10px;">Consumer Product Safety Commission</li>
        <li style="margin-bottom:10px;">Department of Transportation</li>
        <li style="margin-bottom:10px;">National Institute on Standards and Technology</li>
    </ol>
    <p>Also, a maximum of 4 experts may be included as additional members of this group. Subcommittees shall be established to focus on specific issues related to the safe manufacture, use or transportation of lithium batteries and cells.</p>
    <p>This bill also addresses that the working group shall establish a report not later than 1 year after the bill has entered into force.  The report shall include research in additional ways or new technologies to lower the fire and explosion risk from lithium batteries and cells.</p>
    <br />
</div>

<div class="recapSection">
    <a name="self-balancing-scooters" class="bookmark"></a>
    <strong>CPSC Addresses Self-Balancing Scooters </strong>
    <a href="/regulatory-updates/March-2016/self-balancing-scooters" class="recapViewStory" style="float:right;">View Story</a>
    <div style="clear:both;"></div>
    <p><i>According to the Consumer Product Safety Commission (CPSC), more than 50 cases of self-balancing scooter fires were reported during the period from December 1, 2015 to February 17, 2016, resulting in over $2 million of property damage. In view of this information, the CPSC wrote a letter to urge manufacturers, importers and retailers of self-balancing scooters to ensure their products comply with certain voluntary safety standards.</i></p>
    <p><a href="https://www.cpsc.gov/Global/Business-and-Manufacturing/Business-Education/SelfbalancingScooterLetter.pdf?epslanguage=en" target="_blank">In the letter</a>, the CPSC addressed the need for self-balancing scooters to comply with UL 2272 – Outline of Investigation for Electrical Systems for Self-balancing Scooters. Although compliance to the standard is not mandatory under Federal law, detention or seizure of products is still possible if the self-balancing scooters pose any substantial hazard under Section 15(a) of the CPSA ,15 U.S.C. 2064(a) or imminent hazard under Section 12 of the CPSA 15 U.S.C. 2061. In addition, all lithium batteries in the self-balancing scooters must also comply with test requirements under UN/DOT 38.3 Transport of Dangerous Goods for Lithium Metal and Lithium Ion Battery.</p>
    <br />
</div>

<div class="recapSection">
    <a name="enforcement-discretion" class="bookmark"></a>
    <strong>CPSC Approves Enforcement Discretion on Adult Wearing Apparel</strong>
    <a href="/regulatory-updates/March-2016/enforcement-discretion" class="recapViewStory" style="float:right;">View Story</a>
    <div style="clear:both;"></div>
    <p><i>On February 24, 2016, the Consumer Product Safety Commission (CPSC) approved <a href="http://www.cpsc.gov/en/newsroom/news-releases/2016/cpsc-approves-adult-apparel-enforcement-discretion-to-reduce-paperwork-requirement-on-businesses/" target="_blank">an enforcement policy</a> regarding Adult Wearing Apparel. The new policy, which enters into force March 25, 2016, eliminates the requirement for manufacturers, importers or private labelers of adult wearing apparel to provide a General Conformity Certificate (GCC) for their product which meets the test exemption criterion in 16 CFR 1610.</i></p>
    <p>The CPSC has determined which fabrics will always meet the requirements in the Flammable Fabrics Act (FFA), including:</p>
    <ol>
        <li style="margin-bottom:10px;">Plain- or raised-fiber surface acrylic </li>
        <li style="margin-bottom:10px;">Modacrylic </li>
        <li style="margin-bottom:10px;">Nylon</li>
        <li style="margin-bottom:10px;">Olefin</li>
        <li style="margin-bottom:10px;">Polyester</li>
        <li style="margin-bottom:10px;">Wool</li>
        <li style="margin-bottom:10px;">Any plain surface fabric weighing 2.6 ounces per square yard or more</li>
    </ol>
    <p>Adult apparel that is made of these fabrics is exempt from flammability testing and no GCC is needed to certify for the compliance to the relevant rules according to the new policy. However, although a GCC is not required for such product mentioned above, the CPSC emphasized that the product is still required to comply with flammability requirements under the FFA.</p>
    <br />
</div>

<div class="recapSection">
    <a name="updates-astm" class="bookmark"></a>
    <strong>Updates of ASTM Standards</strong>
    <a href="/regulatory-updates/March-2016/updates-astm" class="recapViewStory" style="float:right;">View Story</a>
    <div style="clear:both;"></div>
    <p><i></i></p>
    <p>Below is a summary of updated ASTM standards that may be of interest to our clients for the first quarter of this year:</p>
    <table>
        <tr>
            <td><b>CPSIA / CFR Reference</b></td>
            <td><b>ASTM Standard No.</b></td>
        </tr>
        <tr>
            <td>16 CFR 1220 / 1221</td>
            <td>ASTM F406-15</td>
            <td>    
                <b>Standard Consumer Safety Specification for Non-Full-Size Baby Cribs/Play Yards</b><br />
                Covers testing requirements for structural integrity and performance requirements for non-full-size cribs/play yards, both rigid sided and mesh/fabric assemblies.
            </td>
        </tr>
        <tr>
            <td>Durable Nursery Goods with no CPSIA rule yet</td>
            <td>ASTM F1004-16</td>
            <td>    
                <b>Standard Consumer Safety Specification for Expansion Gates and Expandable Enclosures</b><br />
                Covers minimum safety performance requirements, test methods, and requirements for labeling and instructional material to minimize hazards to young children resulting from the normal use and reasonably foreseeable misuse and abuse of expansion gates and expandable enclosures.
            </td>
        </tr>
        <tr>
            <td>16 CFR 1225</td>
            <td>ASTM F 2050-16</td>
            <td>    
                <b>Standard Consumer Safety Specification for Hand-Held Infant Carriers</b><br />
                Establishes performance requirements, test methods, and marking requirements to promote safe use of a hand-held infant carrier by an occupant and caregiver.
            </td>
        </tr>
    </table>
    <br />
</div>

<div class="recapSection">
    <a name="new-jersey-prohibition" class="bookmark"></a>
    <strong>New Jersey State Proposes Prohibition on Sale of Certain Children’s Products Containing Lead, Mercury or Cadmium</strong>
    <a href="/regulatory-updates/March-2016/new-jersey-prohibition" class="recapViewStory" style="float:right;">View Story</a>
    <div style="clear:both;"></div>
    <p><i>On January 27, 2016, Assembly Bill 626, 2014 prohibiting certain children’s products (intended for use by a child under 6 years of age) from containing lead, mercury or cadmium was re-introduced as <a href="http://www.njleg.state.nj.us/2016/Bills/A1000/731_I1.HTM" target="_blank">Assembly Bill 731, 2016</a>.</i></p>
    <p>The re-introduced bill is identical to the previous bill and proposes an act to prohibit manufacturing, importing, distributing and selling of any children’s product that is made with lead, mercury or cadmium. The act also requires the immediate recall of a children’s product that is discovered to be composed of the above heavy metal elements.</p>
    <p>This act will be effective seven months after the bill is passed.</p>
    <br />
</div>

<div class="recapSection">
    <a name="washington-enforcement-guidelines" class="bookmark"></a>
    <strong>Washington State Publishes Enforcement Guidelines for Lead, Cadmium and Phthalates Violations in Children’s Products </strong>
    <a href="/regulatory-updates/March-2016/washington-enforcement-guidelines" class="recapViewStory" style="float:right;">View Story</a>
    <div style="clear:both;"></div>
    <p><i>On February 12, 2016, Washington State’s Department of Ecology (DOE) published a <a href="http://www.ecy.wa.gov/programs/hwtr/rtt/cspa/pdf/LeadCadmiumPhthalatesenforcement.pdf" target="_blank">guidance document</a> that details the state’s enforcement of lead, cadmium and phthalates violations in children’s products not covered by Federal regulations.</i></p>
    <p>The State’s Children’s Safe Products Act (CSPA) includes RCW 70.240.020 “Prohibition on the Manufacturing and Sale of Children’s Products Containing Lead, Cadmium or Phthalates. This regulation is mutually exclusive to the Federal Consumer Product Safety Improvement Act (CPSIA). Where the product is covered by CPSIA, the Washington State DOE will not enforce the limitations in CSPA and will refer the enforcement to the Consumer Product Safety Commission (CPSC). On the other hand, if the product falls within the definition of a children’s product in RCW 70.240.010 and it is not limited by CPSIA, the state limitation will be enforced.  For example:</p>
    <p style="padding-left:30px;">
        <b>Lead:</b><br />
        The scope of children’s products between CPSIA and CSPA overlaps. However, the definitions are not identical according to 16 C.F.R. 1200.1-2 and RCW 70.240.010. Car seats are one of the examples that are not covered by CPSIA but covered by CSPA.
    </p>
    <p style="padding-left:30px;">
        <b>Cadmium:</b><br />
        CPSIA incorporates the ASTM F963-11 standard which includes limits for cadmium in the surface coatings or accessible substrates of toys intended for use by children ages 12 and under. However, the CSPA limit prohibiting children’s products from containing more than 40 ppm cadmium applies to a broader range of children’s products than the Federal law, such as clothing, footwear, jewelery, childcare articles and cosmetics.
    </p>
    <p style="padding-left:30px;">
        <b>Phthalates:</b><br />
        Phthalates are restricted by both CPSIA and CSPA in children’s toys and child care articles. However, Washington State’s CSPA applies to a broader range of products than the federal laws such as children’s clothing, footwear and cosmetics.
    </p><br />
</div>
    
<div class="recapSectionHeader">
    <a name="europe_news" class="bookmark"></a>
    <h2>EUROPE NEWS</h2>
</div>
    
<div class="recapSection">
    <a name="denmark-restricts-soothers" class="bookmark"></a>
    <strong>Denmark Restricts N-nitrosamines in Soother and Teats</strong>
    <a href="/regulatory-updates/March-2016/denmark-restricts-soothers" class="recapViewStory" style="float:right;">View Story</a>
    <div style="clear:both;"></div>
    <p><i>On January 15, 2016, a new regulation, <a href="https://www.retsinformation.dk/Forms/R0710.aspx?id=175520&exp=1" target="_blank">Denmark Order No. 5 of 01.05.2016</a>, restricting N-nitrosamines and establishing labeling requirements for soother and teats entered into force. The previous Order having same subject was repealed by the Environmental Protection Agency of Denmark.</i></p>
    <p>In general, the regulation restricts the sale of soothers and teats that are made of rubber or elastomer containing not more than 10 μg/kg N-nitrosamines or 100 μg/kg nitrosatable substances. Any producer or importer of the products must provide pre-sale evidence of compliance.</p>
    <p>Secondly, to comply with the requirements, a legible, visible and indelible label must be provided by manufacturers, importers or retailers on the packaging indicating:</p>
    <ol>
        <li style="margin-bottom:10px;">Name or business name of the company</li>
        <li style="margin-bottom:10px;">Address or registered trademark of the company</li>
        <li style="margin-bottom:10px;">Batch number or any equivalent information</li>
        <li style="margin-bottom:10px;">Name of product</li>
    </ol>
    <br />
</div>

<div class="recapSection">
    <a name="france-transatlantic-chair" class="bookmark"></a>
    <strong>France Publishes Notice on Deckchair and Transatlantic Chair</strong>
    <a href="/regulatory-updates/March-2016/france-transatlantic-chair" class="recapViewStory" style="float:right;">View Story</a>
    <div style="clear:both;"></div>
    <p><i>On February 5, 2016, the French government published a notice (<a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000031979523&dateTexte=&categorieLien=id" target="_blank">NOR: EINC1530221V</a>) which provides a reference standards list for Decree No. 99-777 of 9 September 1999 on the prevention of risks related to the use of deckchairs and transatlantic chairs.</i></p>
    <p>This notice superseded the previous notices in 2014 (NOR: EFIC1404040V) having the same subject. The significant change is that new standard NF D 61-062 (December 2015) replaces its previous version, NF D 61-062 (July 2004), for adjustable deckchairs while the other standards remain unchanged.</p>
    <p>To summarize for the notice, three standards are applicable to deckchairs:</p>
    <ol style="padding-left:30px;">
        <li style="margin-bottom:10px;"><b>NF EN 581-1 (June 2006) </b><br />
        Outdoor furniture - Seating and tables for domestic, collective and camping - Part 1: General requirements for safety</li>
        <li style="margin-bottom:10px;"><b>NF EN 581-2 (October 2009)</b><br />
        Outdoor furniture - Seating and tables for domestic, 
        collective and camping - Part 2: Mechanical requirements and seat safety tests</li>
        <li style="margin-bottom:10px;"><b>NF D 61-062 (December 2015) </b><br />
        Outdoor furniture - adjustable deckchair - General Requirements for Safety - Mechanical tests and specifications</li>
    </ol>
    <p>Note that deckchairs complying with version 2004 of NF D 61-062 can still be placed in the market until one year after the notice publication (February 5, 2017). Also, other standards for deckchairs or transatlantic chairs are still required to satisfy the Decree No. 99-777.</p>
    <br />
</div>
    
<div class="recapSectionHeader">
    <a name="australia_new zealand_news" class="bookmark"></a>
    <h2>AUSTRALIA / NEW ZEALAND NEWS</h2>
</div>
    
<div class="recapSection">
    <a name="new-zealand-nightwear" class="bookmark"></a>
    <strong>New Zealand Proposes Adoption of New Safety Standard for Children’s Nightwear</strong>
    <a href="/regulatory-updates/March-2016/new-zealand-nightwear" class="recapViewStory" style="float:right;">View Story</a>
    <div style="clear:both;"></div>
    <p><i>On January 13, 2016, New Zealand proposed a new regulation, namely <a href="http://ec.europa.eu/growth/tools-databases/tbt/en/search/?tbtaction=search.detail&Country_ID=NZL&num=73&dspLang=en&basdatedeb=11/01/2016&basdatefin=18/01/2016&baspays=&basnotifnum=&basnotifnum2=&bastypepays=ANY&baskeywords" target="_blank">"Product Safety Standards (Children’s Nightwear and Limited Daywear having Reduced Fire Hazard) Regulation 2016"</a>. The new regulation adopts new standard AS/NZS 1249:2014 and addresses flammability and safety issues related to children’s nightwear.</i></p>
    <p>The new regulation classifies garments in relation to flammability characteristics and requires appropriate warning labels to be fixed on each garment according to the adopted standard AS/NZS 1249:2014 Children’s Nightwear and Limited Daywear having Reduced Fire Hazard. </p>
    <p>The consultation of the newly proposed regulation ended in February of this year and the proposed adoption and enforcement date is March 21, 2016. Once the new regulation has entered into force, the current Regulation 2008, adopting previous version of AS/NZS 1249, will be superseded.</p>
    <br />
</div>
    
<div class="recapSectionHeader">
    <a name="asia_news" class="bookmark"></a>
    <h2>ASIA NEWS</h2>
</div>
    
<div class="recapSection">
    <a name="japan-drawstrings" class="bookmark"></a>
    <strong>Japan JISC Issues New Voluntary Standard for Cords and Drawstrings on Children’s Clothing</strong>
    <a href="/regulatory-updates/March-2016/japan-drawstrings" class="recapViewStory" style="float:right;">View Story</a>
    <div style="clear:both;"></div>
    <p><i>In response to accidents caused by clothing cords and drawstrings among children, the Japanese Industrial Standards Committee (JISC) drafted a voluntary safety standard for such components in children’s clothing (see <a href="http://www.ansecogroup.com/regrecap/5871/" target="_blank">Regulatory Recap: Issue 2, May 2015</a>). The new voluntary standard, <a href="http://www.qtec.or.jp/jp/qtec-images/jis-doc/l4129-abst.pdf" target="_blank">JIS L4129 Safety Standard for Cords and Drawstrings on Children’s Clothing</a>, was then issued officially and entered into force in December 2015.</i></p>
    <p>The standard requires related industries to meet its specification in restricting the properties of cords and drawstrings according to age grading and body parts of children’s clothing. It is applicable to cords and drawstrings on children’s clothing for children up to age 13 years and the general requirements are similar to those stated in EN 14682 with some modifications.</p>
    <br />
</div>

<div class="recapSection">
    <a name="japan-azo" class="bookmark"></a>
    <strong>Japan Regulation Restricting Azo Dyes in Household Products Comes Into Force</strong>
    <a href="/regulatory-updates/March-2016/japan-azo" class="recapViewStory" style="float:right;">View Story</a>
    <div style="clear:both;"></div>
    <p><i></i></p>
    <p>In December, 2014, the Ministry of Health, Labour and Welfare (MHLW) of Japan designated azo dyes as harmful substance under the <a href="https://members.wto.org/crnattachments/2014/TBT/JPN/14_5511_00_e.pdf" target="_blank">Control of Household Products Containing Harmful Substances Act (No. 112 of 1973)</a> and restricted the presence of 24 aromatic amines generated from azo dyes (see <a href="http://www.ansecogroup.com/regrecap/5871/" target="_blank">Regulatory Recap: Issue 2, May 2015</a>).  </p>
    <p>This regulation will be effective on April 1, 2016. All textile products (including but not limited to diapers, sleepwear, bedding) and leather or fur products (including but not limited to underwear, gloves, outer garments) shall not contain each of the 24 specified aromatic amines at greater than or equal to 30 mg/kg when analysed by Gas Chromatography Mass Spectrometry.</p>
    <br />
</div>

<div class="recapSection">
    <a name="japan-textile-labels" class="bookmark"></a>
    <strong>Japan Adopts New Textile-Care Labeling Code</strong>
    <a href="/regulatory-updates/March-2016/japan-textile-labels" class="recapViewStory" style="float:right;">View Story</a>
    <div style="clear:both;"></div>
    <p><i>In March, 2015, the Consumer Affairs Agency in Japan adopts the care label system in standard <a href="http://www.caa.go.jp/hinpyo/pdf_data/150331_kouhyoubun.pdf" target="_blank">JIS L 0001 (2014)</a>. This standard will replace the current system in JIS L 0217 (1995) under the Household Products Quality Labelling Law as of December 1, 2016.</i></p>
    <p>The symbols used in the care label will align with the international standard ISO 3758:2012 which applies to all textile articles in the form in which they are supplied to the end users. Therefore, the new standards increase the graphic care symbols from 22 to 41 types to provide information on severe treatment that does not damage the article during care process. </p>
    <p>After the effective date, only textile products with new care labeling symbols are allowed to be sold in the Japanese market.</p>
    <br />
</div>

<div class="recapSection">
    <a name="japan-toy-safety" class="bookmark"></a>
    <strong>Japan JTA Issues New Toy Safety Standard</strong>
    <a href="/regulatory-updates/March-2016/japan-toy-safety" class="recapViewStory" style="float:right;">View Story</a>
    <div style="clear:both;"></div>
    <p><i>On February 1, 2016, the Japan Toy Association (JTA) issued a new version of <a href="http://www.toys.or.jp/st/pdf/2016/st_kijyun_kaitei_20160128.pdf" target="_blank">Toy Safety Standard, ST 2016</a> that will be effective from April 1, 2016. A 2-year transition period is given to the previous version, ST 2012 (5th Edition), and it will remain valid until March 31, 2018. Therefore, during this period, ST certification will accept toys that comply with either one of the two standards.  </i></p>
    <p>In the new standard ST 2016, following changes have been made:</p>
    <table>
        <tr>
            <td><b>ST 2016</b></td>
            <td><b>Changes</b></td>
        </tr>
        <tr>
            <td rowspan="5">Part 1</td>
        </tr>
        <tr>
            <td>General revisions for projectiles</td>
        </tr>
        <tr>
            <td>New requirements for fastener of toys</td>
        </tr>
        <tr>
            <td>New requirements for bath toys </td>
        </tr>
        <tr>
            <td>Clarification for the requirements of battery (button cell etc.)</td>
        </tr>
        <tr>
            <td>Part 2</td>
            <td>Clarification for the requirements of flammability with reference to ISO 8124 Part 2</td>
        </tr>
        <tr>
            <td>Part 3</td>
            <td>Identical to ST 2012 (5th Edition)</td>
        </tr>
    </table>
    <br />
</div>

<div class="recapSection">
    <a name="china-childrens-footwear" class="bookmark"></a>
    <strong>China National Standard for Children’s Footwear, GB 30585-2014 In Force</strong>
    <a href="/regulatory-updates/March-2016/china-childrens-footwear" class="recapViewStory" style="float:right;">View Story</a>
    <div style="clear:both;"></div>
    <p><i></i></p>
    <p>On January 1, 2016, the China national standards for children’s shoes (up to 14 years of age), GB 30585-2014 entered into force. The standard specifies safety requirements, including:</p>
    <ul>
        <li style="margin-bottom:10px;">Physical and mechanical properties</li>
        <li style="margin-bottom:10px;">Restricted substances<br />
        <ul>
            <li style="margin-bottom:10px; margin-top:10px;">Hexavalent chromium</li>
            <li style="margin-bottom:10px;">Hazardous aromatic amines derived from azo colorants</li>
            <li style="margin-bottom:10px;">Formaldehyde content</li>
            <li style="margin-bottom:10px;">Heavy metal content</li>
            <li style="margin-bottom:10px;">Dimethyl fumarate content</li>
            <li style="margin-bottom:10px;">Nitrosamines content</li>
            <li style="margin-bottom:10px;">Phthalates content, etc</li>
        </ul>
        </li>
        <li style="margin-bottom:10px;">Odor and other requirements </li>
    </ul>
    <p>(See <a href="http://www.ansecogroup.com/regrecap/5684/" target="_blank">Regulatory Recap: Issue 1, March 2015</a>).</p>
    <br />
</div>

<div class="recapSection">
    <a name="china-childrens-textiles" class="bookmark"></a>
    <strong>China Mandatory Standard for Infant and Children’s Textile Products, GB 31701-2015 to be Enforced</strong>
    <a href="/regulatory-updates/March-2016/china-childrens-textiles" class="recapViewStory" style="float:right;">View Story</a>
    <div style="clear:both;"></div>
    <p><i></i></p>
    <p>In June 2016, China national standards for infants and children’s textile products, GB 31701-2015 will become mandatory. The standard specifies safety requirements, including:</p>
    <ul>
        <li style="margin-bottom:10px;">Physical and mechanical properties</li>
        <li style="margin-bottom:10px;">Restricted substances<br />
        <ul>
            <li style="margin-bottom:10px; margin-top:10px;">Heavy metal content</li>
            <li style="margin-bottom:10px;">Phthalate content</li>
        </ul>
        </li>
        <li style="margin-bottom:10px;">Flammability</li>
        <li style="margin-bottom:10px;">Colorfastness to wet rubbing</li>
        <li style="margin-bottom:10px;">Accessories requirements</li>
        <li style="margin-bottom:10px;">Stuffing and other requirements</li>
    </ul>
    <p>(See <a href="http://www.ansecogroup.com/regrecap/regulatory-recap-july-2015/" target="_blank">Regulatory Recap: Issue 3, July 2015</a>)</p>
    <p>Once the standard is effective, a 2-year transition period will be given to products manufactured before June 1, 2016. The sale of these products in the China market will still be allowed if relevant standards are complied with. In addition to GB 31701-2015, textile products are still required to comply with GB18401-2010.</p>
    <br />
</div>

<div class="recapSection">
    <a name="china-hazardous-electronics" class="bookmark"></a>
    <strong>China Issues Administrative Measures for the Restriction of Hazardous Substances in Electrical and Electronic Product (China RoHS 2)</strong>
    <a href="/regulatory-updates/March-2016/china-hazardous-electronics" class="recapViewStory" style="float:right;">View Story</a>
    <div style="clear:both;"></div>
    <p><i>On January 21, 2016, the Ministry of Industry and Information Technology of the People’s Republic of China issued China RoHS 2 in order to reduce and control the pollution from electrical and electronic waste. It will replace the current version of China RoHS (version 2006) starting from its effective date, July 1, 2016.</i></p>
    <p>Compared to current version, China RoHS 2 changes its scope from electronic information products to electrical and electronic products, which are defined as:</p>
    <ul>
        <li style="margin-bottom:10px;">All equipment and related products that relies on electric current or electromagnetic fields to work.</li>
        <li style="margin-bottom:10px;">Equipment and related products that designed to produce, transmit and measure current and electromagnetic field. The use of voltage shall not exceed 1000 Volt for alternating current (a.c.) and 1500 Volt for direct current (d.c.)</li>
    </ul>
    <p>Apart from changes in scope, <a href="http://www.miit.gov.cn/n1146285/n1146352/n3054355/n3057254/n3057260/c4608532/content.html" target="_blank">China RoHS 2</a> prohibits the importation and sale of products containing following hazardous substances:</p>
    <ul>
        <li style="margin-bottom:10px;">Lead and its compounds</li>
        <li style="margin-bottom:10px;">Mercury and its compounds</li>
        <li style="margin-bottom:10px;">Cadmium and its compounds</li>
        <li style="margin-bottom:10px;">Chromium and its compounds</li>
        <li style="margin-bottom:10px;">Poly-Brominated Biphenyls (PBB)</li>
        <li style="margin-bottom:10px;">Poly-Brominated Diphenyl Ethers (PBDE)</li>
        <li style="margin-bottom:10px;">Other hazardous substances that regulated by national standard </li>
    </ul>
    <p>To satisfy the requirements in China RoHS 2, relevant information of the above hazardous substances must be present in the label with Environmentally Friendly Use Period (EFUP) marking according to standard SJ/T 11364-2014, Marking for the Restriction of Hazardous Substances in Electrical and Electronic Products.</p>
    <br />
</div>

<div class="recapSection">
    <a name="hong-kong-childrens-products" class="bookmark"></a>
    <strong>Hong Kong Updates Safety Standards for Toys and Children’s Products</strong>
    <a href="/regulatory-updates/March-2016/hong-kong-childrens-products" class="recapViewStory" style="float:right;">View Story</a>
    <div style="clear:both;"></div>
    <p><i>On January 10, 2016, the <a href="http://www.gld.gov.hk/egazette/pdf/20162002/es2201620027.pdf" target="_blank">Toys and Children’s Products Safety Ordinance (Amendment of Schedules 1 and 2) Notice 2016</a> was published in the Hong Kong Government Gazette to update the safety standards for toys and some children’s products. The new law will come into force on October 1, 2016.</i></p>
    <p>The updated standards for toys and children’s products are summarized in the table below:</p>
    <table>
        <tr>
            <td><b>Item</b></td>
            <td><b>Children’s Product</b></td>
            <td><b>Standard</b></td>
            <td><b>Current Standard (Repeal)</b></td>
            <td><b>New Standard (Substitute)</b></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Toy</td>
            <td>British / European</td>
            <td>BS EN 71-1:2011+A3:2014</td>
            <td>BS EN 71-1:2014</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Toy</td>
            <td>British / European</td>
            <td>BS EN 71-3:2013</td>
            <td>BS EN 71-3:2013+A1:2014</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Toy</td>
            <td>International</td>
            <td>-</td>
            <td>ISO 8124-5:2015 “Safety of toys – Part 5: Determination of total concentration of certain elements in toys”</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Toy</td>
            <td>British / European</td>
            <td>-</td>
            <td>BS EN 71-14:2014 “Safety of toys – Part 14: Trampolines for domestic use”</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Babies dummies</td>
            <td>Australian</td>
            <td>AS 2432:2009</td>
            <td>AS 2432:2015</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Child care articles - Carry cots and stands.</td>
            <td>British / European</td>
            <td>BS EN 1466:2004+A1:2007</td>
            <td>BS EN 1466:2014 </td>
        </tr>
        <tr>
            <td>7</td>
            <td>Children’s high chairs and multi-purpose high chairs for domestic use</td>
            <td>American</td>
            <td>ASTM F404-14</td>
            <td>ASTM F404-14a</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Children’s paints</td>
            <td>British / European</td>
            <td>BS EN 71-3:2013</td>
            <td>BS EN 71-3:2013+A1:2014</td>
        </tr>
    </table>
</div>
    
<br /><p><i>This summary is not intended to be exhaustive nor should it be construed as legal advice.</i></p>