<!-- { "Title":"May 2017 Recap", "PublishDate":"2017-05-30", "Description":"NORTH AMERICA NEWS - On March 31, 2017, the US Consumer Product Safety Commission (CPSC) issued an Enforcement Discretion Letter in relation to the recently adopted ASTM F963-16 standard. The letter exempts projectiles with energies less than or equal to 0.08 J from the 2500 J/m2 Kinetic Energy Density (KED) testing requirements." }-->
<div class="recapSectionHeader">
	<ol style="margin-top:10px;">
		<li style="margin-bottom:10px;"><a href="#north_america_news">NORTH AMERICA NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#europe_news">EUROPE NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#australia_news">AUSTRALIA NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#asia_news">ASIA NEWS</a></li>
	</ol>
	<hr />
</div>

<div class="recapSectionHeader">
	<a name="north_america_news" class="bookmark"></a>
	<h2>NORTH AMERICA NEWS</h2>
</div>

<div class="recapSection">
	<a name="may2017-cpsc-enforcement-letter-projectile-toys" class="bookmark"></a>
	<strong>US CPSC Issues Discretionary Enforcement Letter Exempting KED Requirements in Certain Projectile Toys</strong>
	<p>On March 31, 2017, the US Consumer Product Safety Commission (CPSC) issued an <a href="https://www.cpsc.gov/s3fs-public/TIA_projectile%20toys_let_3.31.17.pdf" taret="_blank">Enforcement Discretion Letter</a> in relation to the recently adopted ASTM F963-16 standard. The letter exempts projectiles with energies less than or equal to 0.08 J from the 2500 J/m2 Kinetic Energy Density (KED) testing requirements.</p>
	<a href="/regulatory-updates/May-2017/may2017-cpsc-enforcement-letter-projectile-toys" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In the updated toy safety standard ASTM F963-16, which became mandatory on April 30, 2017, a new KED requirement is added to projectiles launched from a stored-energy discharge mechanism. However, according to the Toy Industry Association (TIA), the KED requirement was intended to be applied to projectiles with energies more than 0.08 J and the phrase was omitted in the standard.</p>
		<p>The CPSC has reviewed and agreed to exercise its enforcement discretion immediately after the issuance of the letter until further notice. Therefore, projectiles with energies less than or equal to 0.08 J are exempted from KED testing.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="may2017-california-latest-prop65" class="bookmark"></a>
	<strong>US State of California Issues Latest List (April 2017) of Proposition 65 NSRLs and MADLs</strong>
	<p>On April 7, 2017, the Office of Environmental Health Hazard Assessment (OEHHA) issued <a href="https://oehha.ca.gov/proposition-65/general-info/current-proposition-65-no-significant-risk-levels-nsrls-maximum" target="_blank">an updated list (April 2017) summarizing the latest No Significant Risk Levels (NSRLs) for Carcinogens and Maximum Allowable Dose Levels (MADLs) for reproductive toxic chemicals</a>. The NSRLs and MADLs provide safe harbor limits for Proposition 65 chemicals.</p>
	<a href="/regulatory-updates/May-2017/may2017-california-latest-prop65" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>For Proposition 65 chemicals, if the exposure levels and discharges to drinking water sources are below the safe harbor levels (NSRLs and MADLs), the labeling requirement of Proposition 65 will be exempted. In some cases, enforcement actions may have resulted in negotiated exposure levels relative to specific settlement agreements.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="may2017-california-oehha-prop65-warnings-translations" class="bookmark"></a>
	<strong>US State of California OEHHA Issues Proposition 65 Warning Examples and Translations for Business</strong>
	<p>On August 30, 2016, the Office of Environmental Health Hazard Assessment (OEHHA) adopted the updated Clear and Reasonable Warnings in California Code of Regulations (See <a href="http://www.asiainspection.com/regulatory-updates/September-2016/california-prop65-reasonable-warnings">previous story in Regulatory Recap: September 2016</a>). In April 2017, the OEHHA provided <a href="https://www.p65warnings.ca.gov/warning-translations-businesses" target="_blank">examples of Proposition 65 Safe Harbor Warnings</a> in various languages to assist businesses opting to provide updated warnings.</p>
	<a href="/regulatory-updates/May-2017/may2017-california-oehha-prop65-warnings-translations" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The OEHHA has provided various warning examples and the consumer product exposure warnings (English only) which are summarized below:</p>
		<table>
			<tr>
				<td style="font-weight:bold;">Chemical Categories</td>
				<td style="font-weight:bold;">Warning Examples</td>
			</tr>

			<tr>
				<td>For listed carcinogens</td>
				<td><b><img src="https://s3.asiainspection.com/newsletters/2017-05-Recap/black-yellow-black-warning.png" style="width:20px; valign:middle;" /> WARNING:</b> This product can expose you to chemicals including<br />
				[name of one or more chemicals], which is [are] known to the State of<br />
				California to cause cancer. For more infomation go to<br />
				<a href="https://www.P65Warnings.ca.gov" taget="_blank">www.P65Warnings.ca.gov</a></td>
			</tr>

			<tr>
				<td>For listed reproductive toxicants</td>
				<td><b><img src="https://s3.asiainspection.com/newsletters/2017-05-Recap/black-yellow-black-warning.png" style="width:20px; valign:middle;" /> WARNING:</b> This product can expose you to chemicals including<br />
				[name of one or more chemicals], which is [are] known to the State of<br />
				California to cause birth defects or other reproductive harm. For more infomation go to<br />
				<a href="https://www.P65Warnings.ca.gov" taget="_blank">www.P65Warnings.ca.gov</a></td>
			</tr>

			<tr>
				<td>For listed carcinogens and listed reproductive toxicants</td>
				<td><b><img src="https://s3.asiainspection.com/newsletters/2017-05-Recap/black-yellow-black-warning.png" style="width:20px; valign:middle;" /> WARNING:</b> This product can expose you to chemicals including<br />
				[name of one or more chemicals], which is [are] known to the State of<br />
				California to cause cancer, and [name of one or more chemicals], which<br />
				is [are] known to the State of California to cause birth defects or other reproductive harm.<br />
				For more infomation go to <a href="https://www.P65Warnings.ca.gov" taget="_blank">www.P65Warnings.ca.gov</a></td>
			</tr>

			<tr>
				<td>For chemicals listed as both carcinogens and reproductive toxicants</td>
				<td><b><img src="https://s3.asiainspection.com/newsletters/2017-05-Recap/black-yellow-black-warning.png" style="width:20px; valign:middle;" /> WARNING:</b> This product can expose you to chemicals including<br />
				[name of one or more chemicals], which is [are] known to the State of<br />
				California to cause cancer and birth defects or other reproductive harm.<br />
				For more infomation go to <a href="https://www.P65Warnings.ca.gov" taget="_blank">www.P65Warnings.ca.gov</a></td>
			</tr>

			<tr>
				<td>For a single listed carcinogen</td>
				<td><b><img src="https://s3.asiainspection.com/newsletters/2017-05-Recap/black-yellow-black-warning.png" style="width:20px; valign:middle;" /> WARNING:</b> This product can expose you to [name of chemical],<br />
				which is known to the State of California to cause cancer. For more<br />
				infomation go to <a href="https://www.P65Warnings.ca.gov" taget="_blank">www.P65Warnings.ca.gov</a></td>
			</tr>

			<tr>
				<td>For a single listed reproductive toxicant</td>
				<td><b><img src="https://s3.asiainspection.com/newsletters/2017-05-Recap/black-yellow-black-warning.png" style="width:20px; valign:middle;" /> WARNING:</b> This product can expose you to [name of chemical],<br />
				which is [are] known to the State of California to cause birth defects or other<br />
				reproductive harm. For more infomation go to<br />
				<a href="https://www.P65Warnings.ca.gov" taget="_blank">www.P65Warnings.ca.gov</a></td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="may2017-state-bills-summary" class="bookmark"></a>
	<strong>US State Bills Summary</strong>
	<p>In early 2017, there were a number of State issued bills related to chemical restriction requirements. They are summarized below:</p>
	<a href="/regulatory-updates/May-2017/may2017-state-bills-summary" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<table>
			<tr>
				<td style="font-weight:bold; text-align:center;">States<br>Bill Number</td>
				<td style="font-weight:bold; text-align:center;">Bill Title</td>
				<td style="font-weight:bold; text-align:center;">Proposed Detail</td>
			</tr>
			<tr>
				<td>Oregon<br><a href="http://gov.oregonlive.com/bill/2017/SB836/" target="_blank">Senate Bill 836</a></td>
				<td>Redefines “De Minimis Level” for Purposes of Toxic-Free Kids Act</td>
				<td>- Definition of “De minimis Level” is re-defined as a concentration of 100 ppm. (Removed practical quantification limit and contamination concentration)<br />
				- Adds an exemption to any component of a children’s product that is inaccessible<br />
				- Effective January 1, 2018 upon approval</td>
			</tr>
			<tr>
				<td>Vermont<br><a href="http://legislature.vermont.gov/bill/status/2018/H.34" target="_blank">House Bill 34</a></td>
				<td>An Act Relating to Banning Baby Bumper Pads</td>
				<td>- Adds definition of baby bumper pad<br />
				- Prohibits the baby bumper pad that does not comply with the ASTM standard<br />
				- Effective July 1, 2017 upon approval</td>
			</tr>
			<tr>
				<td>Vermont<br><a href="http://legislature.vermont.gov/bill/status/2018/H.268" target="_blank">House Bill 268</a></td>
				<td>An Act Relating to The Regulation of Toxic Substances and Hazardous Materials</td>
				<td>- Extends the scope of Chemicals of High Concern (CHC) reporting requirements to all consumer products from children’s products<br />
				- Prohibits children’s products containing a CHC if the product is mouthable, a children’s cosmetic or marketed to children under 3 years of age<br />
				- Prohibits the use of perfluorooctanesulfonic acid in food contact materials and dental floss</td>
			</tr>
			<tr>
				<td>Iowa<br><a href="https://legiscan.com/IA/bill/HF457/2017" target="_blank">House Bill 457</a></td>
				<td>A Bill for An Act Prohibiting The Manufacture and Sale of Certain Products Containing Specified Chemical Flame Retardants in the State, Providing Civil Penalties, And Including Effective Date Provisions</td>
				<td>- Prohibits the sale or manufacture of products containing the following flame retardants exceeding 1000 ppm (Antimony trioxide, HBCD, OctaBDE, PentaBDE, SCCP, TBB, TBPH, TCEP, TCPP and TDCPP)<br />
				- Scope: bedding, carpeting, children's products, residential upholstered furniture and window treatments<br />
				- Effective January 1, 2018 (Manufacture date) upon approval</td>
			</tr>
			<tr>
				<td>Maine<br><a href="http://legislature.maine.gov/LawMakerWeb/summary.asp?ID=280062738" target="_blank">Legislative Document 182</a></td>
				<td>An Act to Protect Firefighters by Establishing a Prohibition on the Sale and Distribution of New Upholstered Furniture Containing Certain Flame-Retardant Chemicals</td>
				<td>- Prohibits the sale or distribution of upholstered furniture for promotional purposes containing flame retardants more than 0.1% (including but not limited to halogenated, phosphorus-based, nitrogen-based and nanoscale flame retardants)<br />
				- Effective January 1, 2018 upon approval</td>
			</tr>
			<tr>
				<td>Maryland<br><a href="http://mgaleg.maryland.gov/webmga/frmMain.aspx?pid=billpage&stab=01&id=hb0206&tab=subject3&ys=2017RS" target="_blank">House Bill 206</a></td>
				<td>Public Health - Child Care Products Containing Flame-Retardant Chemicals - Prohibition</td>
				<td>- Prohibits the sale or import of child care products or furniture intended for use by a child under 12 years of age that contain more than 0.1% of flame retardants (DecaBDE, HBCD, TBBPA, TCEP and TDCPP)<br />
				- Effective January 1, 2018 upon approval</td>
			</tr>
			<tr>
				<td>Massachusetts<br><a href="https://malegislature.gov/Bills/190/H1245" target="_blank">House Bill 1245</a></td>
				<td>An Act to Protect Children, Families, and Firefighters from Harmful Flame Retardants</td>
				<td>- Prohibits the sale, manufacture, distribution or import of children’s product or upholstered furniture that contains flame retardants exceeding 1000 ppm (Antimony trioxide, DecaBDE, HBCD, TBBPA, TBPH, TCEP, TCPP, TDCPP and TBB)</td>
			</tr>
			<tr>
				<td>Massachusetts<br><a href="https://malegislature.gov/Bills/190/S1175" target="_blank">Senate Bill 1175</a></td>
				<td>An Act to Protect Children and  Families from Harmful Flame Retardants</td>
				<td>- Prohibits the sale, manufacture, distribution or import of the following products that contain flame retardants exceeding 1000 ppm (Antimony trioxide, DecaBDE, HBCD, TBB, TBBPA, TBPH,  TCEP, TCPP and TDCPP):<br />
					<ul style="list-style-type:circle;">
						<li>Bedding</li>
						<li>Carpeting</li>
						<li>Children’s product</li>
						<li>Residential upholstered furniture</li>
						<li>Window treatment</li>
					</ul>
				- Effective January 1, 2018 upon approval</td>
			</tr>
			<tr>
				<td>Minnesota<br><a href="https://www.revisor.mn.gov/bills/bill.php?b=House&f=HF1627&ssn=0&y=2017" target="_blank">House Bill 1627 / Senate Bill 1535</a></td>
				<td>A Bill for an Act Prohibiting the Use of Certain Flame-Retardant Chemicals in Certain Products; Amending Minnesota Statutes 2016, Section 325F.071</td>
				<td>- Adds definitions for “Additive TBBPA” and “Residential textile”<br />
				- Extends the prohibition scope of flame retardants to residential textiles or mattresses<br />
				- Adds the following flame retardants to be prohibited in addition to the existing 4 flame retardants (Chlorinated Paraffins, IPTPP, TBB, TBBPA, TBPH, TCPP, TPP and V6)<br />
				- Updates effective date to July 1, 2020 for retail sale prohibition</td>
			</tr>
			<tr>
				<td>Minnesota<br><a href="https://www.revisor.mn.gov/bills/bill.php?b=House&f=HF727&ssn=0&y=2017" target="_blank">House Bill 727 / Senate Bill 716</a></td>
				<td>A Bill for An Act Regulating Chemicals of High Concern in Children's Products; Amending Minnesota Statutes 2016</td>
				<td>- Adds definition of “Contaminant”, “Practical Quantification Limit” and “Product Category”<br />
				- Adds reporting requirements for children’s products containing one or more priority chemicals, which are designated from the chemicals of high concern list, above the practical quantification limit or concentration above 100 ppm<br />
				- Reporting schedule is established according to business’s gross sales and the earliest  report date is July 1, 2018</td>
			</tr>
			<tr>
				<td>New Mexico<br><a href="https://www.nmlegis.gov/Legislation/Legislation?Chamber=H&LegType=B&LegNo=450&year=17" target="_blank">House Bill 450</a></td>
				<td>An Act Enacting the Fire Retardant Safety Act and Providing Penalties</td>
				<td>- Prohibits the sale, manufacture or distribution of children’s products or upholstered residential furniture containing the following flame retardants exceeding 1000 ppm (Antimony, HBCD, DeceBDE, chlorinated paraffins, IPTPP, TBB, TBBPA, TBPH, TCEP, TCPP, TDCPP and V6)<br />
				- Scope: bedding, carpeting, children's products, residential upholstered furniture and window treatments<br />
				- Effective July 1, 2018 upon approval</td>
			</tr>
			<tr>
				<td>Tennessee<br><a href="http://wapp.capitol.tn.gov/apps/BillInfo/Default.aspx?BillNumber=HB1029" target="_blank">House Bill 1029 / Senate Bill 1049</a></td>
				<td>An Act to amend Tennessee Code Annotated, Title 68, Chapter 131, Relative to Flame Retardants</td>
				<td>- Prohibits the sale, manufacture or distribution of residential upholstered furniture and children’s products containing flame retardants exceeding 1000ppm (Antimony, DecaBDE, Chlorinated paraffins, HBCD, PentaBDE, TBB, TBBPA, TBPH, TCEP, TCPP and TDCPP)<br />
				- Effective July 1, 2018 upon approval</td>
			</tr>
			<tr>
				<td>Rhode Island<br><a href="http://webserver.rilin.state.ri.us/BillText/BillText17/HouseText17/H5082.pdf" target="_blank">House Bill 5082</a></td>
				<td>An Act Relating the Health and Safety - Child Products and Upholstered Furniture</td>
				<td>- Prohibits the sale, manufacture or distribution of residential upholstered bedding or furniture containing 100 ppm of organohalogen flame retardant chemical<br />
				- Effective July 1, 2018 upon approval</td>
			</tr>
			<tr>
				<td>Virginia<br><a href="https://legiscan.com/VA/text/HB1861/2017" target="_blank">House Bill 1861</a></td>
				<td>A Bill Relating to Product Safety, Flame Retardants</td>
				<td>- Prohibits the sale, manufacture or distribution of children’s products and residential upholstered furniture containing flame retardants (DecaBDE, HBCD, IPTPP, TBB, TBBPA, TBPH, TCEP, TCPP, TDCPP, TPP and V6)<br />
				- Effective July 1, 2018 upon approval</td>
			</tr>
			<tr>
				<td>West Virginia<br><a href="http://www.wvlegislature.gov/Bill_Text_HTML/2017_SESSIONS/RS/Bills/hb2121%20intr.htm" target="_blank">House Bill 2121</a></td>
				<td>A Bill to Amend the Code of West Virginia, 1931, Relating to Creating the West Virginia Residential Furniture and Children's Products Flame Retardants Act</td>
				<td>- Prohibits the sale, manufacture or distribution of children’s products or upholstered residential furniture containing 1000 ppm flame retardants (DecaBDE, HexaBDE, PentaBDE, TDCPP and TCEP)<br />
				- Effective July 1, 2020 (Manufacture, distribution or sale) upon approval<br />
				- Effective July 1, 2021 (Retail Sale) upon approval</td>
			</tr>
			<tr>
				<td>New York<br><a href="https://www.nysenate.gov/legislation/bills/2017/S1607" target="_blank">Senate Bill 1607</a></td>
				<td>An Act to amend The Environmental Conservation Law, in Relation to Cadmium-Added Novelty Consumer Products</td>
				<td>- Prohibits the sale or distribution of novelty consumer products containing cadmium at more than 0.0075% by weight<br />
				- Effective June 1, 2019 upon approval</td>
			</tr>
			<tr>
				<td>New York<br><a href="https://www.nysenate.gov/legislation/bills/2017/S2710" target="_blank">Senate Bill 2710</a></td>
				<td>An Act to Amend the General Business Law, in Relation to Hazardous Toys and Other Articles Intended for Use by Children</td>
				<td>- Prohibits the sale, manufacture, distribution or import of a toy or other article intended for use by a child (less than 14 years of age) which presents an electrical, mechanical or thermal hazard or that is contaminated with any toxic substance (Lead and soluble heavy metals)</td>
			</tr>
			<tr>
				<td>North Carolina<br><a href="http://www.ncleg.net/gascripts/BillLookUp/BillLookUp.pl?Session=2017&BillID=H767" target="_blank">House Bill 767</a></td>
				<td>An Act to Protect Children from The Health Impacts of Toxic Chemicals in Children's Products by Prohibiting The Sale of Children's Products Containing Bisphenol A, TRIS, or Phthalates</td>
				<td>- Prohibits the sale or distribution of children’s products containing the following:<br />
				<ul style="list-style-type:circle;">
					<li>Bisphenol A (BPA)</li>
					<li>Phthalates, individual or in combination, greater than 0.1% (1000 ppm)</li>
					<li>Flame retardants (TDCPP and TCEP) greater than 50 ppm</li>
				</ul>
				- Effective July 1, 2019 upon approval</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="may2017-canada-playpen-regulations" class="bookmark"></a>
	<strong>Canada HC Proposes New Playpens Regulations</strong>
	<p>On April 22, 2017, Health Canada (HC) <a href="http://www.gazette.gc.ca/rp-pr/p1/2017/2017-04-22/html/reg2-eng.php?pedisable=false" target="_blank">proposed an updated Playpens Regulations</a> through the Canada Gazette. The regulation has not been updated since the last major amendment made in 1991. However, safety concerns on product designs including accessories, such as sleep and changing table accessories, have been identified in recent recalls resulting in injuries and deaths. Therefore, an update of the regulation with major modifications based on the incidents was proposed.</p>
	<a href="/regulatory-updates/May-2017/may2017-canada-playpen-regulations" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<p>The key changes in the proposed regulation are summarized below: </p>
		<ol>
			<li style="margin-bottom:5px;">The following new requirements are added:<br />
				<ol style="list-style-type:lower-alpha;">
					<li>Lead content in coatings</li>
					<li>Accessories - including sleeping accessories and change table accessories</li>
					<li>Opening entrapment</li>
					<li>Sides deflection and strength</li>
					<li>Latching or locking mechanisms</li>
					<li>Non-rigid top rails</li>
					<li>Brackets that are affixed to top rails</li>
					<li>Entanglement</li>
					<li>Structural integrity</li>
					<li>Floor pad and mattress pad</li>
					<li>Removable and foldable pad or components</li>
					<li>Warning information</li>
				</ol>
			</li>
			<li style="margin-bottom:5px;">The following updates of existing requirements:<br />
				<ol style="list-style-type:lower-alpha;">
					<li>New conditions to flammability</li>
					<li>Cords and Straps length</li>
					<li>Sides height</li>
				</ol>
			</li>
			<li style="margin-bottom:5px;">Removal of wheels or casters restriction</li>
			<li style="margin-bottom:5px;">Updates of test methods</li>
			<li style="margin-bottom:5px;">Other editorial changes</li>
		</ol>
	</div><br />
</div>

<div class="recapSection">
	<a name="may2017-us-recalls-summary" class="bookmark"></a>
	<strong>US Recalls Summary (March – April 2017)</strong>
	<p>In the US, when hazards are identified in consumer products, they will be recalled and published in the <a href="http://www.cpsc.gov/en/Recalls/" target="_blank">Consumer Product Safety Commission (CPSC) Recent Recalls</a> on the CPSC website, which is updated daily. The US recalls from March 1 to April 30, 2017 are summarized below:</p>
	<a href="/regulatory-updates/May-2017/may2017-us-recalls-summary" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<center><img src="https://s3.asiainspection.com/newsletters/2017-05-Recap/US_recall_hazards.png" style="width:90%; max-width:850px;"></center>
		<table>
			<tr>
				<td style="font-weight:bold; text-align: center;">Hazards</td>
				<td style="font-weight:bold; text-align: center;">Frequency</td>
			</tr>
			<tr>
				<td style="text-align: left;">Fall Hazard</td>
				<td style="text-align: right;">12</td>
			</tr>
			<tr>
				<td style="text-align: left;">Laceration Hazard</td>
				<td style="text-align: right;">7</td>
			</tr>
			<tr>
				<td style="text-align: left;">Fire Hazard</td>
				<td style="text-align: right;">6</td>
			</tr>
			<tr>
				<td style="text-align: left;">Burn Hazard</td>
				<td style="text-align: right;">5</td>
			</tr>
			<tr>
				<td style="text-align: left;">Choking Hazard</td>
				<td style="text-align: right;">5</td>
			</tr>
			<tr>
				<td style="text-align: left;">Other Hazards*</td>
				<td style="text-align: right;">19</td>
			</tr>
		</table>
		<p>*Other Hazards include Electric Shock Hazard, Entrapment Hazard, Explosion Hazard, Impact Hazard, Ingestion Hazard, Injury Hazard, Strangulation Hazard, Suffocation Hazard, Tip-over Hazard and Violation of Federal Flammability Standard with a frequency of less than 5.</p>
		<br />
		<center><img src="https://s3.asiainspection.com/newsletters/2017-05-Recap/US_recall_categories.png" style="width:90%; max-width:850px;"></center>
		<table>
			<tr>
				<td style="font-weight:bold; text-align: center;">Product Categories</td>
				<td style="font-weight:bold; text-align: center;">Frequency</td>
			</tr>
			<tr>
				<td style="text-align: left;">Sporting Goods / Equipment</td>
				<td style="text-align: right;">9</td>
			</tr>
			<tr>
				<td style="text-align: left;">Fabric / Textile / Garment / Home Textile</td>
				<td style="text-align: right;">6</td>
			</tr>
			<tr>
				<td style="text-align: left;">Toys and Childcare Articles</td>
				<td style="text-align: right;">6</td>
			</tr>
			<tr>
				<td style="text-align: left;">Tools</td>
				<td style="text-align: right;">5</td>
			</tr>
			<tr>
				<td style="text-align: left;">Furniture</td>
				<td style="text-align: right;">5</td>
			</tr>
			<tr>
				<td style="text-align: left;">Other Categories^</td>
				<td style="text-align: right;">13</td>
			</tr>
		</table>
		<p>^Other Categories include Computer / Audio / Video / Other Electronics &amp; Accessories, Food Contact Material, Footwear, Homeware (Non-food Contact), Home Electrical Appliances (Hair Dryer, Iron, etc.), Juvenile Products and Lighting with a frequency of less than 5.</p>
		<br />
		<p>Download the complete <a href="https://s3.asiainspection.com/newsletters/2017-05-Recap/May2017-US_Recalls_Summary.docx" target="_blank"><b>Recall Cases Summary – US (Last Update Date: April 30, 2017)</b></a></p>
		<br />
	</div><br />
</div>

<div class="recapSection">
	<a name="may2017-canada-recalls-summary" class="bookmark"></a>
	<strong>Canada Recalls Summary (March – April 2017)</strong>
	<p>In Canada, when hazards are identified in consumer products, they will be recalled and published in the <a href="http://healthycanadians.gc.ca/recall-alert-rappel-avis/index-eng.php?cat=4" target="_blank">Recalls and Safety Alerts Database</a> on the Health Canada website, which is updated daily. The Canada recalls from March 1 to April 30, 2017 are summarized below:</p>
	<a href="/regulatory-updates/May-2017/may2017-canada-recalls-summary" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<center><img src="https://s3.asiainspection.com/newsletters/2017-05-Recap/CA_recall_categories.png" style="width:90%; max-width:850px;"></center>
		<table>
			<tr>
				<td style="font-weight:bold; text-align: center;">Hazards</td>
				<td style="font-weight:bold; text-align: center;">Frequency</td>
			</tr>
			<tr>
				<td style="text-align: left;">Fall Hazard</td>
				<td style="text-align: right;">9</td>
			</tr>
			<tr>
				<td style="text-align: left;">Chemical Hazard</td>
				<td style="text-align: right;">6</td>
			</tr>
			<tr>
				<td style="text-align: left;">Injury Hazard</td>
				<td style="text-align: right;">5</td>
			</tr>
			<tr>
				<td style="text-align: left;">Fire Hazard</td>
				<td style="text-align: right;">4</td>
			</tr>
			<tr>
				<td style="text-align: left;">Other Hazards*</td>
				<td style="text-align: right;">16</td>
			</tr>
		</table>
		<p>*Other Hazards include Burn Hazard, Choking Hazard, Entrapment Hazard, Electric Shock Hazard, Impact Hazard, Laceration Hazard and Tip-over Hazard with a frequency of less than 4.</p>
		<br />
		<center><img src="https://s3.asiainspection.com/newsletters/2017-05-Recap/CA_recall_categories.png" style="width:90%; max-width:850px;"></center>
		<table>
			<tr>
				<td style="font-weight:bold; text-align: center;">Product Categories</td>
				<td style="font-weight:bold; text-align: center;">Frequency</td>
			</tr>
			<tr>
				<td style="text-align: left;">Sporting Goods / Equipment</td>
				<td style="text-align: right;">6</td>
			</tr>
			<tr>
				<td style="text-align: left;">Furniture</td>
				<td style="text-align: right;">5</td>
			</tr>
			<tr>
				<td style="text-align: left;">Toys and Childcare Articles</td>
				<td style="text-align: right;">4</td>
			</tr>
			<tr>
				<td style="text-align: left;">Food Contact Material</td>
				<td style="text-align: right;">3</td>
			</tr>
			<tr>
				<td style="text-align: left;">Home Electrical Appliances (Hair Dryer, Iron, etc.)</td>
				<td style="text-align: right;">3</td>
			</tr>
			<tr>
				<td style="text-align: left;">Other Categories^</td>
				<td style="text-align: right;">14</td>
			</tr>
		</table>
		<p>^Other Categories include Candles &amp; Burning items and Accessories, Computer / Audio / Video / Other Electronics &amp; Accessories, Cosmetics / Bodycare, Fabric / Textile / Garment / Home Textile, Homeware (Non-food Contact), Jewelry, Watch or other Fashion Accessories, Juvenile Products, Lighting and Tools with a frequency of less than 3.</p>
		<br />
		<p>Download the complete <a href="https://s3.asiainspection.com/newsletters/2017-05-Recap/May2017-Canada_Recalls_Summary.docx" target="_blank"><b>Recall Cases Summary – Canada (Last Update Date: April 30, 2017)</b></a></p>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="europe_news" class="bookmark"></a>
	<h2>EUROPE NEWS</h2>
</div>

<div class="recapSection">
	<a name="may2017-eu-amendment-lower-lead" class="bookmark"></a>
	<strong>EU Adopts Amendment to Lower the Limit of Lead in Toys</strong>
	<p>On April 27, 2017, the European Union (EU) issued and approved <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32017L0738" target="_blank">Directive (EU) 2017/738</a> to amend the Toy Safety Directive 2009/48/EC to lower the migration limit of lead.</p>
	<a href="/regulatory-updates/May-2017/may2017-eu-amendment-lower-lead" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In the directive, the following changes have been made to the migration limit of lead (See <a href="http://www.asiainspection.com/regulatory-updates/September-2016/europe-amendment-toy-safety" target="_blank">previous story in Regulatory Recap: September 2016</a>):</p>
		<table style="text-align: center;">
			<tr>
				<td rowspan="2" style="font-weight:bold;"></td>
				<td colspan="3" style="font-weight:bold;">Limit of Lead (mg/kg)</td>
			</tr>
			<tr>
				<td><b>Category 1</b><br />
				Dry, brittle, powder-like or pliable toy material</td>
				<td><b>Category 2</b><br />
				Liquid or sticky toy material</td>
				<td><b>Category 3</b><br />
				Scraped-off toy material</td>
			</tr>
			<tr>
				<td>Current limit</td>
				<td>13.5</td>
				<td>3.4</td>
				<td>160</td>
			</tr>
			<tr>
				<td>Amended limit</td>
				<td>2.0</td>
				<td>0.5</td>
				<td>23</td>
			</tr>
		</table>
		<p>The new limits will be effective on October 28, 2018.</p>
	</div><br />
</div>



<div class="recapSectionHeader">
	<a name="australia_news" class="bookmark"></a>
	<h2>AUSTRALIA NEWS</h2>
</div>

<div class="recapSection">
	<a name="may2017-australia-standard-children-garments" class="bookmark"></a>
	<strong>Australia Adopts Updated Standard for Children's Nightwear and Limited Daywear Garments</strong>
	<p>On April 18, 2017, the new <a href="https://www.legislation.gov.au/Details/F2017L00452" target="_blank">Consumer Goods Safety Standard 2017 related to children’s nightwear and limited day daywear</a> entered into force. The safety standard adopts updated standard AS/NZS 1249: 2014 Children's Nightwear and Limited Daywear Having Reduced Fire Hazard and will revoke previous regulations published in 2007.</p>
	<a href="/regulatory-updates/en/May-2017/#may2017-australia-standard-children-garments" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The standard addresses flammability and safety issues related to children's nightwear. There is a period of one year for transitioning from the 2008 regulation to the 2017 regulation. Therefore, a person may comply with either the 2003 or 2014 version of the AS/NZS 1249 standard for products until January 1, 2020.</p>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="asia_news" class="bookmark"></a>
	<h2>ASIA NEWS</h2>
</div>

<div class="recapSection">
	<a name="may2017-china-cnis-safety-requirements-hazmat" class="bookmark"></a>
	<strong>China CNIS Proposes Voluntary Safety Requirements on Hazardous Chemicals in Consumer Products</strong>
	<p>On March 30, 2017, the China National Institute of Standardization (CNIS) issued <a href="http://www.cnis.gov.cn/wzgg/201703/t20170330_22259.shtml" target="_blank">draft Safety Requirements for Hazardous Chemicals in Consumer Products</a>. The draft safety requirements establish chemical restrictions on a voluntary basis. The restrictions are referencing various international standards and regulations, for example, European REACH Regulation No. 1907/2006.</p>
	<a href="/regulatory-updates/en/May-2017/#may2017-china-cnis-safety-requirements-hazmat" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The draft safety requirements cover a wide range of hazardous chemicals (in total, 103 chemicals) that are applicable to consumer products including but not limited to childcare articles, furniture and footwear. These chemicals are listed with their restriction conditions and limits. Additionally, specific test methods are provided.</p>
		<p>The comment period for the draft requirement ended on April 15, 2017.</p>
	</div><br />
</div>

</div>