<!-- { "Title":"November 2016 Recap", "PublishDate":"2016-11-23", "Description":"NORTH AMERICA NEWS - On September 9, 2016, the Consumer Product Safety Commission (CPSC) published technical report: Exposure Assessment: Potential for the Presence of Phthalates in Specified Materials at Concentrations Above 0.1 Percent. The assessment was conducted by the ..." }-->
<div class="recapSectionHeader">
	<ol style="margin-top:10px;">
		<li style="margin-bottom:10px;"><a href="#north_america_news">NORTH AMERICA NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#europe_news">EUROPE NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#asia_news">ASIA NEWS</a></li>
	</ol>
	<hr />
</div>

<div class="recapSectionHeader">
	<a name="north_america_news" class="bookmark"></a>
	<h2>NORTH AMERICA NEWS</h2>
</div>

<div class="recapSection">
	<a name="cpsc-phthalate-exposure-assessment-report" class="bookmark"></a>
	<strong>US CPSC Issues Phthalate Exposure Assessment Report</strong>
	<p>On September 9, 2016, the Consumer Product Safety Commission (CPSC) published technical report: <a href="https://www.cpsc.gov/s3fs-public/ThePotentialforPhthalatesinSelectedPlastics.pdf" target="_blank">Exposure Assessment: Potential for the Presence of Phthalates in Specified Materials at Concentrations Above 0.1 Percent</a>. The assessment was conducted by the Toxicology Excellence for Risk Assessment Center at the University of Cincinnati (TERA).</p>
	<a href="/regulatory-updates/November-2016/cpsc-phthalate-exposure-assessment-report" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Previously, the CPSC had proposed to exempt four plastics from phthalates testing. (See <a href="http://www.asiainspection.com/regulatory-updates/August-2016" target="_blank">Regulatory Recap: August 2016</a>).   In support of the CPSC’s continued efforts to reduce third party testing burden, TERA has studied an additional eleven plastics to determine the presence of ten specified phthalates including the six Consumer Product Safety Improvement Act (CPSIA) regulated phthalates. The results of study may lead to further inclusion of plastics that are proposed to be exempted from CPSIA phthalate testing.</p>
		<p>The overview of phthalates found in certain plastics is summarized below:</p>
		<table>
			<tr>
				<td rowspan="2" align="center">Present phthalate^</td>
				<td align="center" colspan="12">Plastic Types*</td>
			</tr>
			<tr>
				<td align="center">PMMA /PAN</td>
				<td align="center">EBR</td>
				<td align="center">EBC</td>
				<td align="center">EVA / EVOH</td>
				<td align="center">EPM / EPDM</td>
				<td align="center">Surlyn&reg;</td>
				<td align="center">PC</td>
				<td align="center">GPS / MIPS / SHIPS / SBC</td>
				<td align="center">SR</td>
				<td align="center">SAN</td>
				<td align="center">SBS / SBR</td>
			</tr>
			<tr>
				<td>DEHP</td>
				<td align="center"></td>
				<td align="center">x</td>
				<td align="center">x</td>
				<td align="center">x</td>
				<td align="center">x</td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center">x</td>
				<td align="center">X</td>
				<td align="center"></td>
				<td align="center"></td>
			</tr>
			<tr>
				<td>DBP</td>
				<td align="center">x</td>
				<td align="center"></td>
				<td align="center">x<sup>1</sup></td>
				<td align="center"></td>
				<td align="center">x</td>
				<td align="center"></td>
				<td align="center">x</td>
				<td align="center">x</td>
				<td align="center">x</td>
				<td align="center"></td>
				<td align="center">x<sup>2</sup></td>
			</tr>
			<tr>
				<td>BBP</td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
			</tr>
			<tr>
				<td>DINP</td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
			</tr>
			<tr>
				<td>DIDP</td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
			</tr>
			<tr>
				<td>DnOP</td>
				<td align="center">x</td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center">x</td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
			</tr>
			<tr>
				<td>DIBP</td>
				<td align="center"></td>
				<td align="center">x</td>
				<td align="center">x</td>
				<td align="center"></td>
				<td align="center">x</td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center">x</td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
			</tr>
			<tr>
				<td>DPENP</td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
			</tr>
			<tr>
				<td>DHEXP</td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
			</tr>
			<tr>
				<td>DCHP</td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center">x</td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center">x</td>
			</tr>
		</table>
		<p>
			Remarks:<br />
			1: <i>Study found that the presence of DBP could be additives.</i><br />
			2: <i>One study reported DBP at unspecified concentration in an unspecified toy.</i>
		</p>
		<table>
			<tr>
				<td>^Present phthalate</td>
				<td>*Plastic Types</td>
			</tr>
			<tr>
				<td>
					<ul>
						<li style="margin-bottom:5px;">DEHP (Di-(2-ethylhexyl) phthalate);</li>
						<li style="margin-bottom:5px;">DBP (Dibutyl phthalate);</li>
						<li style="margin-bottom:5px;">BBP (Benzyl butyl phthalate);</li>
						<li style="margin-bottom:5px;">DINP (Diisononyl phthalate);</li>
						<li style="margin-bottom:5px;">DIDP (Diisodecyl phthalate);</li>
						<li style="margin-bottom:5px;">DnOP (Di-n-octyl phthalate);</li>
						<li style="margin-bottom:5px;">DIBP (Diisobutyl phthalate);</li>
						<li style="margin-bottom:5px;">DPENP (Di-n-pentyl phthalate);</li>
						<li style="margin-bottom:5px;">DHEP (Di-n-hexyl phthalate); and</li>
						<li style="margin-bottom:5px;">DCHP (Dicyclohexyl phthalate)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li style="margin-bottom:5px;">PMMA/PAN(Polymethylmethacrylate/Polyacrylonitrile);</li>
						<li style="margin-bottom:5px;">EBR (Butadiene-ethylene resins);</li>
						<li style="margin-bottom:5px;">EBC (Ethylene-butene copolymers);</li>
						<li style="margin-bottom:5px;">EVA/EVOH (Ethylenevinyl acetate/Ethylene vinyl alcohol);</li>
						<li style="margin-bottom:5px;">EPM (Ethylene-propylene monomer) and EPDM (Ethylene-propylene-diene monomer);</li>
						<li style="margin-bottom:5px;">Surlyn® (Ionomers);</li>
						<li style="margin-bottom:5px;">PC (Polycarbonate);</li>
						<li style="margin-bottom:5px;">GPS (Polystyrene crystal and general-purpose), MIPS (Polystyrene medium-impact), and SHIPS (Polystyrene super-high-impact) grades; SBC (Styrene-butadiene copolymers);</li>
						<li style="margin-bottom:5px;">SR (Silicone rubber);</li>
						<li style="margin-bottom:5px;">SAN (Styrene-acrylonitrile copolymers); and</li>
						<li style="margin-bottom:5px;">SBS/SBR (Styrene-butadiene-styrene rubber and styrene-butadiene rubber)</li>
					</ul>
				</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="us-ban-bpa-food-container" class="bookmark"></a>
	<strong>US Proposes Bill to Ban BPA in Food Containers</strong>
	<p>On September 28, 2016, <a href="https://www.congress.gov/bill/114th-congress/house-bill/6269" target="_blank">House Bill H.R. 6269</a> (Identical Senate Bill S. 3412) was introduced in the House of Representatives. The bill proposed to ban the use of Bisphenol A (BPA) in food containers. </p>
	<a href="/regulatory-updates/November-2016/us-ban-bpa-food-container" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The proposed bill bans the following food containers composed of BPA or which can release BPA into food:</p>
		<ol>
			<li style="margin-bottom:5px;">Reusable food containers; and</li>
			<li style="margin-bottom:5px;">Other food containers that are packed with food and are introduced or delivered for introduction into interstate commerce</li>
		</ol>
		
		<p>Despite the proposed ban, the Food and Drug Administration (FDA) may grant waivers to a particular facility (defined in section 415 of the Federal Food, Drug, and Cosmetic Act) that manufactures, processes, packs holds or sells food product. However, the facility receiving such waivers must:</p>
		<ol>
			<li style="margin-bottom:5px;">Demonstrate that it is not feasible to replace BPA in the certain type of container</li>
			<li style="margin-bottom:5px;">Demonstrate that is it not feasible to use an alternative container without BPA</li>
			<li style="margin-bottom:5px;">Have a plan and timeline for BPA removal </li>
			<li style="margin-bottom:5px;">Display a prominent warning label on the product as below:<br />“Bisphenol A (BPA) is a chemical that can leach into food and may harm prenatal development and the health of children and adults.”</li>
		</ol>
	</div><br />
</div>

<div class="recapSection">
	<a name="nov2016-updates-of-astm-standards" class="bookmark"></a>
	<strong>Updates of ASTM Standards</strong>
	<p>Below is a summary of recently updated ASTM standards that may be of interest to our clients:</p>
	<a href="/regulatory-updates/November-2016/nov2016-updates-of-astm-standards" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<table>
			<tr>
				<td style="font-weight:bold;" width="15%">CPSIA / CFR Reference</td>
				<td style="font-weight:bold;" width="15%">ASTM Standard No.</td>
				<td style="font-weight:bold;" width="70%">Detail</td>
			</tr>
			<tr>
				<td align="center">-</td>
				<td align="center">ASTM F589-16</td>
				<td>
					<b>Standard Consumer Safety Specification for Non-Powder Guns</b><br />
					Establishes performance requirements and test methods intended to provide a reasonable degree of safety in the normal use of non-powder guns and projectiles.
				</td>
			</tr>
			<tr>
				<td align="center">-</td>
				<td align="center">ASTM F963-16</td>
				<td>
					<b>Standard Consumer Safety Specification for Toy Safety</b><br />
					Covers requirements and contains test methods for toys intended for use by children under 14 years of age. There are different age limits for various requirements in this specification. These limits reflect the nature of the hazards and expected mental or physical ability, or both, of a child to cope with the hazards.
				</td>
			</tr>
			<tr>
				<td align="center">16 CFR 1217</td>
				<td align="center">ASTM F1821-16</td>
				<td>
					<b>Standard Consumer Safety Specification for Toddler Beds</b><br />
					Covers requirements for the design and performance of toddler beds. It also contains requirements for labeling and instructional material.
				</td>
			</tr>
			<tr>
				<td align="center">-</td>
				<td align="center">ASTM F2236-16a</td>
				<td>
					<b>Standard Consumer Safety Specification for Soft Infant and Toddler Carriers</b><br />
					Establishes performance requirements, test methods and marking requirements to promote safe use of soft infant and toddler carriers.
				</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="nov2016-astm-update-summary" class="bookmark"></a>
	<strong>Overview of Changes in ASTM F963-16 Toy Safety Standard</strong>
	<p>On October 20, 2016, a new version (2016) of the ASTM F963 standard was published. The revision summary is listed below.</p>

	<strong>The ASTM F963 Toy Safety Standard</strong>
	<p>ASTM F963 has long been a key standard for <a href="/toy-safety-laboratory-testing">toy safety testing</a>. This standard addresses safety requirements for toys which are any object designed, manufactured or marketed as a plaything for children under 14 years of age (Excluding products listed in Appendix A).</p>
	<a href="/regulatory-updates/November-2016/nov2016-astm-update-summary" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>According to the Consumer Product Safety Improvement Act (CPSIA), the updated standard will be enforced and become mandatory 180 days after ASTM has notified the Consumer Product Safety Commission (CPSC) of the update.  However, the CPSC may reject the revision within 90 days.</p>
		<p>The following requirements or test methods are amended:</p>
		<table>
			<tr>
				<td align="center" style="font-weight:bold;">Section</td>
				<td align="center" style="font-weight:bold;">Requirements</td>
			</tr>
			<tr>
				<td align="center">4.3.5</td>
				<td align="center">Heavy Elements</td>
			</tr>
			<tr>
				<td align="center">4.3.6 and 8.4</td>
				<td align="center">Microbiological Safety</td>
			</tr>
			<tr>
				<td align="center">4.3.7 and 8.29</td>
				<td align="center">Stuffing Material Requirements</td>
			</tr>
			<tr>
				<td align="center">4.5</td>
				<td align="center">Acoustics</td>
			</tr>
			<tr>
				<td align="center">4.6.2.2 and 8.13</td>
				<td align="center">Mouth-actuated Projectile Toys</td>
			</tr>
			<tr>
				<td align="center">4.14</td>
				<td align="center">Cords, Strap and Elastics in Toys</td>
			</tr>
			<tr>
				<td align="center">4.15.1 and 8.28</td>
				<td align="center">Ride-on Toys</td>
			</tr>
			<tr>
				<td align="center">4.21, 8.13 and 8.14</td>
				<td align="center">Projectile Toys</td>
			</tr>
			<tr>
				<td align="center">4.24</td>
				<td align="center">Squeeze Toys</td>
			</tr>
			<tr>
				<td align="center">4.25 and 5</td>
				<td align="center">Battery Operated Toys</td>
			</tr>
			<tr>
				<td align="center">4.38 and 8.25</td>
				<td align="center">Magnets</td>
			</tr>
			<tr>
				<td align="center">4.40 and 8.30</td>
				<td align="center">Expanding Materials</td>
			</tr>
			<tr>
				<td align="center">4.41 and 8.27</td>
				<td align="center">Toy Chests</td>
			</tr>
			<tr>
				<td align="center">5-7</td>
				<td align="center">Labeling / Instruction / Producer Marking</td>
			</tr>
		</table>
		<p>For more detail, please see our <a href="http://www.asiainspection.com/astm-f963-16-toy-safety-standard" target="_blank">ASTM F963-16 Toy Safety Standard page</a>.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="california-emergency-regulation-bpa" class="bookmark"></a>
	<strong>US State of California OAL Readopts Emergency Regulation Regarding BPA Warnings</strong>
	<p>On October 7, 2016, <a href="http://www.oal.ca.gov/res/docs/pdf/emergencies/recent%20action,%20moved%20emergencies/2016-0926-02EE_Amended%20Notice.pdf" target="_blank">the Office of Administrative Law (OAL) approved the emergency regulation</a> proposed by the California Office of Environmental Health Hazard Assessment (OEHHA) regarding temporary use of a standard point-of-sale warning message for Bisphenol A (BPA) for canned and bottled foods and beverages.</p>
	<a href="/regulatory-updates/November-2016/california-emergency-regulation-bpa" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The emergency regulation continues the adoption of a standard point-of-sale warning message for BPA for canned and bottled foods and beverages addressed in the previous amendment on California Code of Regulations (See <a href="http://www.asiainspection.com/regulatory-updates/April-2016" target="_blank">Regulatory Recap: April 2016</a>). The emergency regulation will expire on January 18, 2017. </p>
		<p>In addition, OEHHA initiated a regular rulemaking process for BPA warnings (See <a href="http://www.asiainspection.com/regulatory-updates/September-2016" target="_blank">Regulatory Recap: September 2016</a>) but the rulemaking procedure has not been completed yet.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="california-oehha-new-chemicals-prop65" class="bookmark"></a>
	<strong>US State of California OEHHA Adds New Chemicals to Proposition 65 List</strong>
	<p>On October 21, 2016, the California Office of Environmental Health Hazard Assessment (OEHHA) added a new chemical to the Proposition 65 List. The new chemical is:<br />1. Pentachlorophenol and by-products of its synthesis (complex mixture)</p>
	<a href="/regulatory-updates/November-2016/california-oehha-new-chemicals-prop65" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The added chemical meets the requirements for listing as known to the State of California to cause cancer for purposes of Proposition 65. The chemical details are provided below:</p>
		<table>
			<tr>
				<td align="center" style="font-weight:bold;">Chemical</td>
				<td align="center" style="font-weight:bold;">Chemical Abstracts Service Number (CAS No.)</td>
				<td align="center" style="font-weight:bold;">Types of Toxicity</td>
			</tr>
			<tr>
				<td align="center">Pentachlorophenol and by-products of its synthesis (complex mixture)</td>
				<td align="center">---</td>
				<td align="center">Cancer</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="nov2016-california-prop65-60-day-notices" class="bookmark"></a>
	<strong>California Proposition 65: Recent 60-Day Notices</strong>
	<p>In 1986, California voters approved an initiative titled California Proposition 65 to address their growing concerns about exposure to toxic chemicals. Since its origin, there have been many lawsuits that have resulted in reformulations of consumer products containing carcinogenic and reproductively harmful chemicals on the Cal Prop 65 list.</p>
	<a href="/regulatory-updates/November-2016/nov2016-california-prop65-60-day-notices" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Recent 60-day notices from September and October of 2016 include the following:</p>
		<table style="max-width:850px;">
			<tr>
				<td width="20%"><b>Chemical</b></td>
				<td width="65%"><b>Product / Source</b></td>
				<td width="15%"><b>Number of Notices</b></td>
			</tr>
			<tr>
				<td rowspan="4">Acrylamide</td>
				<td>Black Ripe Olives</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Potato Based Snack Foods / Products</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Prune Juice</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Vegetable Chips</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Arsenic (inorganic arsenic compounds)</td>
				<td>Brown Rice Syrup</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Arsenic (inorganic arsenic compounds), Arsenic (inorganic oxides), Lead</td>
				<td>Black Olive Paste Plain</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Benzene</td>
				<td>Gas Leak at Aliso Canyon</td>
				<td>1</td>
			</tr>
			<tr>
				<td rowspan="3">Bisphenol A (BPA)</td>
				<td>Cocktail Shaker</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Measuring Cup Set</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Polycarbonate Water Bottle</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Cadmium</td>
				<td>Cacao Powder / Nibs</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Cadmium, Lead and lead compounds</td>
				<td>Dietary Supplements</td>
				<td>1</td>
			</tr>
			<tr>
				<td rowspan="3">Carbon monoxide</td>
				<td>Charcoal lighter fluid</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Charcoal grills and hibachis</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Wood-burning outdoor heating products</td>
				<td>1</td>
			</tr>
			<tr>
				<td rowspan="41">Di(2-ethylhexyl)phthalate (DEHP)</td>
				<td>Anti Slip Mat</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Bath Pillow / Shower Cap / Shower Curtain</td>
				<td>3</td>
			</tr>
			<tr>
				<td>Beauty Accessories /Travel Grooming Kits</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Book Cover /Logbook</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Cables</td>
				<td>3</td>
			</tr>
			<tr>
				<td>Camp Sink and Worktop</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Car Duster</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Clothesline</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Corner caddies w/suction cups</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Cosmetic/Jewelry/Toiletry Bag</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Crimping Tool </td>
				<td>1</td>
			</tr>
			<tr>
				<td>Dust Pans with Vinyl/PVC Grips</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Earphone Cords</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Explorer Bilt Dry Bag</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Fitness Balls</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Gloves</td>
				<td>10</td>
			</tr>
			<tr>
				<td>Hand Grips</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Headphones with USB Cable /Head Bands</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Household Decorations</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Multi-Purpose Hook</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Office Clear Bag</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Pet Products (Bath Mitts, Waste Bag Holders, Waste Tools with Grips)</td>
				<td>3</td>
			</tr>
			<tr>
				<td>Pliers / Hand tools</td>
				<td>4</td>
			</tr>
			<tr>
				<td>Plush Toys</td>
				<td>1</td>
			</tr>
			<tr>
				<td>PVC Electrical Tape</td>
				<td>3</td>
			</tr>
			<tr>
				<td>Rain Poncho</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Razor Blade Scraper</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Retractable Test Leads</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Sandals</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Shoe Covers</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Sports Armband</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Stools with Vinyl/PVC Upholstery</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Storage Bag</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Suction cup Sponge Holder</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Tire Pressure Gauge Tubing</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Tub Treads</td>
				<td>1</td>
			</tr>
			<tr>
				<td>USB Portable fan</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Variable Speed Rotary Tool Kit</td>
				<td>1</td>
			</tr>
			<tr>
				<td>vinyl bedding and bedding storage cases</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Vinyl products (Hangers, Amplifier Handle Straps, Belts, Beverage Coolies Candy Boxes, Cutting Mats, Hoses, Keychains, Tape, Toilet Seats)</td>
				<td>14</td>
			</tr>
			<tr>
				<td>Waterproof Pouch</td>
				<td>1</td>
			</tr>
			<tr>
				<td rowspan="3">Di(2-ethylhexyl)phthalate (DEHP), Di-isodecyl phthalate (DIDP), Diisononyl phthalate (DINP)</td>
				<td>PVC rainwear and cases </td>
				<td>1</td>
			</tr>
			<tr>
				<td>Vinyl Tile Flooring</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Vinyl Travel Accessories</td>
				<td>1</td>
			</tr>
			<tr>
				<td rowspan="5">Di(2-ethylhexyl)phthalate (DEHP), Diisononyl phthalate (DINP)</td>
				<td>Armband for Smartphones</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Children's Footwear</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Children's Swim Mask & Snorkel</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Product storage cases</td>
				<td>1</td>
			</tr>
			<tr>
				<td>vinyl bedding storage cases / hangers</td>
				<td>3</td>
			</tr>
			<tr>
				<td>Di(2-ethylhexyl)phthalate (DEHP), Di-n-butyl phthalate (DBP)</td>
				<td>Children's Sandals</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Di(2-ethylhexyl)phthalate (DEHP), Lead</td>
				<td>Vinyl/PVC Clotheslines , Vinyl/PVC Stickers</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Di(2-ethylhexyl)phthalate, Tris(1,3-dichloro-2-propyl) phosphate (TDCPP)</td>
				<td>Chairs with Vinyl/PVC Upholstery, Chairs with Foam Padding</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Di-isodecyl phthalate (DIDP), Diisononyl phthalate (DINP)</td>
				<td>Pliers with Vinyl-Coated Grips</td>
				<td>1</td>
			</tr>
			<tr>
				<td rowspan="18">Diisononyl phthalate (DINP)</td>
				<td>Adaptor</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Bolster Roll</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Cable</td>
				<td>5</td>
			</tr>
			<tr>
				<td>Children's Vinyl Bag</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Earwax Removal Kit</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Fitness Balls</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Flex Shaft Attachment</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Gloves</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Goggles</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Hand Tools</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Handbags / Wallet</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Mole Bait Applicator </td>
				<td>2</td>
			</tr>
			<tr>
				<td>Soft Baits and Jigs</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Sports Armband</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Tablet Stands</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Vinyl Bulletin Board</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Vinyl/PVC Tool Grips</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Weather Stripping</td>
				<td>1</td>
			</tr>
			<tr>
				<td rowspan="2">Di-n-butyl phthalate (DBP)</td>
				<td>Sandals</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Gardening Gloves</td>
				<td>3</td>
			</tr>
			<tr>
				<td rowspan="34">Lead </td>
				<td>Adapter Brackets</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Adaptors</td>
				<td>4</td>
			</tr>
			<tr>
				<td>Air Compressor Kits</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Air Mixers</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Ballcocks</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Bar Sink Drains</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Barb Fittings</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Battery Disconnects</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Bill Tube Tricks</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Brass Tools (Anchors, Bushings, Cylinders, Fork Caps, Fuel Fittings, Hammers, Joiners, Mill Rods, Nuts, Padlocks)</td>
				<td>22</td>
			</tr>
			<tr>
				<td>Clothing Made With Leather, Vinyl, or Imitation Leather Materials</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Connector Kits</td>
				<td>3</td>
			</tr>
			<tr>
				<td>Coupler Locks</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Faucet Parts</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Flasks</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Flowmeters</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Food Products (Dried Teas, Dried Fruits)</td>
				<td>17</td>
			</tr>
			<tr>
				<td>Gas Regulators</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Gauges</td>
				<td>4</td>
			</tr>
			<tr>
				<td>Glass Jars / Mugs with Exterior Decorations</td>
				<td>3</td>
			</tr>
			<tr>
				<td>Hardware cloth</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Hose Bibbs</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Hose Menders</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Kegerators</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Mortise Cylinders</td>
				<td>2s</td>
			</tr>
			<tr>
				<td>Nozzles</td>
				<td>3</td>
			</tr>
			<tr>
				<td>Router Inlay Kits</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Rubber Test Cap w/ Hose Bib</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Screw Kits</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Tire Deflators</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Vacuum Breakers</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Values</td>
				<td>11</td>
			</tr>
			<tr>
				<td>Wallets</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Waste Trim Kits</td>
				<td>1</td>
			</tr>
			<tr>
				<td rowspan="14">Lead and lead compounds</td>
				<td>Accu-Bend Level</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Camping Propane Canister Stove</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Ceramic Disk Cartridge</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Cylinder Leakage Tester Kit</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Decorative Hose Stand with Spigot</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Dietary Supplements</td>
				<td>9</td>
			</tr>
			<tr>
				<td>Faucet</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Hemorrhoid Cushion</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Lock</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Pocket Rocket Stove Kit</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Stove</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Trimmer</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Turmeric Powder</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Water Line Connection</td>
				<td>1</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="maine-new-priority-chemicals" class="bookmark"></a>
	<strong>US State of Maine Proposes New Priority Chemicals</strong>
	<p>On October 12, 2016, the Maine Department of Environmental Protection (DEP) <a href="http://www.maine.gov/tools/whatsnew/attach.php?id=718027&an=2" target="_blank">issued a draft rule to designate two chemicals of high concern as priority chemicals</a>. The two chemicals are Decabromodiphenyl Ether (Deca BDE) and Hexabromocylododecane (HBCD).</p>
	<a href="/regulatory-updates/November-2016/maine-new-priority-chemicals" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>According to the Maine Toxic Chemicals in Children’s Products Law, manufacturers of children’s products are required to submit a report to DEP within 180 days after a priority chemical is newly identified if the product contains:</p>
		<ol>
			<li>A priority chemical that is intentionally added to a component of children’s product at concentration above the Practical Quantification Limit (PQL); or</li>
			<li>A priority chemical that is a contaminant present in a component of children’s product at a concentration above 100 ppm</li>
		</ol>
		<p>In the draft rule,  the following products are exempted from the reporting requirements:</p>
		<ol>
			<li>Used products</li>
			<li>Food and beverage packaging (except for product intended for use by children under 2 years old)</li>
			<li>Transportation, such as motor vehicles and watercraft (except detachable car seats)</li>
		</ol>
		<p>The draft rule was under comment period until November 14, 2016.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="vermont-updated-chemical-reporting" class="bookmark"></a>
	<strong>US State of Vermont Issues Updated Chemical Reporting Forms and Guidance</strong>
	<p>In October 2016, the Vermont Department of Health (DOH) issued an <a href="http://healthvermont.gov/enviro/chemical/documents/chemical_disclosure_program_manufacturer_guidance.pdf" target="_blank">updated Guidance for Manufacturers: Chemical Disclosure Program</a>. The guidance provides supporting information for the  chemicals of high concern to children (CHCC) rule.</p>
	<a href="/regulatory-updates/November-2016/vermont-updated-chemical-reporting" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The key changes in the updated guidance are summarized as follows:</p>
		<ol>
			<li>Updated the type of product information that is required to be reported:<br />
				<ol style="list-style-type: lower-alpha">
					<li>Manufacturers will download an Excel template, which will be used to submit brand name and product model data.</li>
					<li>If a product is offered for sale in different sizes or variations, the individual variations may need to be reported separately if the concentration of the chemical within the component is significantly different.</li>
					<li>If a specific item that contains one of the 66 chemicals is sold in multiple toy sets (for example, one screw driver is sold as part of three different children’s toy construction sets) the disclosure would include the following:<br />
						<ol style="list-style-type: lower-roman">
							<li>The chemical used in the screw driver</li>
							<li>The Product Model/Brand Name Excel form upload containing all product model and brand names that use the screw driver (as well as any other product models and brand names that use the chemical being reported)</li>
							<li>The details about the screw driver (function of chemical, component, concentration of chemical, brick)</li>
						</ol>
					</li>
				</ol>
			</li>
			<li>Added a guideline for manufacturers to report chemicals that are trade secret</li>
			<li>Clarified that there is no additional waiver for small business or manufacturers</li>
			<li>Clarified that there is not a phased-in schedule for reporting</li>
			<li>Added a new section for payment information</li>
		</ol>
	</div><br />
</div>

<div class="recapSection">
	<a name="nov2016-us-recalls-summary" class="bookmark"></a>
	<strong>US Recalls Summary (September – October 2016)</strong>
	<p>In the US, when hazards are identified in consumer products, they will be recalled and published in the <a href="http://www.cpsc.gov/en/Recalls/" target="_blank">Consumer Product Safety Commission (CPSC) Recent Recalls</a> on the CPSC website, which is updated daily. The US recalls from September 1 to October 30, 2016 are summarized below:</p>
	<a href="/regulatory-updates/November-2016/nov2016-us-recalls-summary" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<center><img src="https://s3.asiainspection.com/newsletters/2016_11_RegRecap/US_hazards.gif" style="width:90%; max-width:850px;" /></center>
		<table>
			<tr>
				<td><b>Hazard</b></td>
				<td><b>Frequency</b></td>
			</tr>
			<tr>
				<td>Fall Hazard</td>
				<td>14</td>
			</tr>
			<tr>
				<td>Fire Hazard</td>
				<td>7</td>
			</tr>
			<tr>
				<td>Injury Hazard</td>
				<td>7</td>
			</tr>
			<tr>
				<td>Drowning Hazard</td>
				<td>4</td>
			</tr>
			<tr>
				<td>Other Hazards*</td>
				<td>17</td>
			</tr>
		</table>
		<p><b>*</b> Other Hazards include Burn Hazard, Choking Hazard, Electrical shock Hazard, Entanglement Hazard, Failure to Operate in an Emergency, Ingestion Hazard, Laceration Hazard, Microbial Hazard, Strangulation Hazard and Violation of Federal Flammability Standard with frequency less than 4.</p>
		<br />
		<center><img src="https://s3.asiainspection.com/newsletters/2016_11_RegRecap/US_categories.gif" style="width:90%; max-width:850px;" /></center>
		<table>
			<tr>
				<td><b>Product Categories</b></td>
				<td><b>Frequency</b></td>
			</tr>
			<tr>
				<td>Furniture</td>
				<td>6</td>
			</tr>
			<tr>
				<td>Sporting Goods / Equipment</td>
				<td>6</td>
			</tr>
			<tr>
				<td>Computer / Audio / Video / Other Electronics & Accessories</td>
				<td>5</td>
			</tr>
			<tr>
				<td>Juvenile Product</td>
				<td>5</td>
			</tr>
			<tr>
				<td>Tools and Hardware</td>
				<td>5</td>
			</tr>
			<tr>
				<td>Other Categories^</td>
				<td>12</td>
			</tr>
		</table>
		<p><b>^</b> Other Categories include Art Materials, Fabric / Textile / Garment / Home Textile, Footwear, Heating / Cooling</p>
	
		<p>Download the complete <a href="https://s3.asiainspection.com/newsletters/2016_11_RegRecap/AI_ANSECO_us_recalls_2016.11.pdf">Recalls Summary – US (October 2016)</a></p>
	</div><br />
</div>

<div class="recapSection">
	<a name="nov2016-canada-recalls-summary" class="bookmark"></a>
	<strong>Canada Recalls Summary (September – October 2016)</strong>
	<p>In Canada, when hazards are identified in consumer products, they will be recalled and published in the <a href="http://healthycanadians.gc.ca/recall-alert-rappel-avis/index-eng.php?cat=4" target="_blank">Recalls and Safety Alerts Database</a> on the Health Canada website, which is updated daily. The Canada recalls from September 1 to October 30, 2016  are summarized below:</p>
	<a href="/regulatory-updates/November-2016/nov2016-canada-recalls-summary" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<center><img src="https://s3.asiainspection.com/newsletters/2016_11_RegRecap/CA_hazards.gif" style="width:90%; max-width:850px;" /></center>
		<table>
			<tr>
				<td><b>Hazard</b></td>
				<td><b>Frequency</b></td>
			</tr>
			<tr>
				<td>Injury Hazard</td>
				<td>9</td>
			</tr>
			<tr>
				<td>Choking Hazard</td>
				<td>7</td>
			</tr>
			<tr>
				<td>Fall Hazard</td>
				<td>7</td>
			</tr>
			<tr>
				<td>Flammability Hazard</td>
				<td>6</td>
			</tr>
			<tr>
				<td>Fire Hazard</td>
				<td>5</td>
			</tr>
			<tr>
				<td>Other Hazards*</td>
				<td>23</td>
			</tr>
		</table>
		<p><b>*</b> Other hazards include Burn Hazard, Chemical Hazard, Drowning Hazard, Impact Hazard, Electric Shock Hazard, Entrapment Hazard, Laceration Hazard, Microbial Hazard, Strangulation Hazard and Violation of Packaging and Labeling Requirements with a frequency of less than 5.</p>
		<br />
		<center><img src="https://s3.asiainspection.com/newsletters/2016_11_RegRecap/CA_categories.gif" style="width:90%; max-width:850px;" /></center>
		<table>
			<tr>
				<td><b>Product Categories</b></td>
				<td><b>Frequency</b></td>
			</tr>
			<tr>
				<td>Juvenile Products</td>
				<td>10</td>
			</tr>
			<tr>
				<td>Fabric / Textile / Garment / Home Textile</td>
				<td>6</td>
			</tr>
			<tr>
				<td>Consumer Chemicals</td>
				<td>4</td>
			</tr>
			<tr>
				<td>Personal Protective Equipment (excluding eye protection)</td>
				<td>4</td>
			</tr>
			<tr>
				<td>Sporting Goods / Equipment</td>
				<td>4</td>
			</tr>
			<tr>
				<td>Other Categories^</td>
				<td>21</td>
			</tr>
		</table>
		<p><b>^</b> Other categories include Computer / audio / video / other electronics & accessories, Cosmetics / Bodycare, Footwear, Furniture, Home electrical appliances (hair dryer, iron, etc.), Homeware (non-food contact), Lighting, Tools and Hardware and Toys and Childcare Articles with frequency less than 4.</p>
	
		<p>Download the complete <a href="https://s3.asiainspection.com/newsletters/2016_11_RegRecap/AI_ANSECO_canada_recalls_2016.11.pdf">Recalls Summary – Canada (October 2016)</a></p>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="europe_news" class="bookmark"></a>
	<h2>EUROPE NEWS</h2>
</div>

<div class="recapSection">
	<a name="echa-amendment-new-chemicals" class="bookmark"></a>
	<strong>ECHA Proposes Amendment of Annex XVII List of Restriction Introducing 2 New Chemicals</strong>
	<p>On October 6, 2016, the European Chemical Agency (ECHA) proposed to amend Annex XVII of Regulation (EC) No. 1907/2006 Registration, Evaluation, Authorisation and Restriction of Chemicals (REACH) through World Trade Organization (WTO) notifications. The added chemicals are <a href="https://docs.wto.org/dol2fe/Pages/FE_Search/FE_S_S006.aspx?MetaCollection=WTO&SymbolList=&Serial=%2216-5331%22&IssuingDateFrom=&IssuingDateTo=&CATTITLE=&ConcernedCountryList=&OtherCountryList=&SubjectList=&TypeList=&FullTextHash=371857150&ProductList=&BodyList" target="_blank">Methanol</a> and <a href="https://docs.wto.org/dol2fe/Pages/FE_Search/FE_S_S006.aspx?MetaCollection=WTO&SymbolList=&Serial=%2216-5339%22&IssuingDateFrom=&IssuingDateTo=&CATTITLE=&ConcernedCountryList=&OtherCountryList=&SubjectList=&TypeList=&FullTextHash=371857150&ProductList=&BodyList" target="_blank">Perfluorooctanoic acid (PFOA)</a>.</p>
	<a href="/regulatory-updates/November-2016/echa-amendment-new-chemicals" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Upon enforcement, the proposed regulations will amend the Annex XVII of REACH Regulation List of Restriction by adding following 2 chemicals and their conditions:</p>
		<table>
			<tr>
				<td><b>Item</b></td>
				<td><b>Chemical</b></td>
				<td><b>Chemical Abstract Service (CAS) Number<br />(European Community (EC) Number)</b></td>
				<td><b>Conditions</b></td>
			</tr>
			<tr>
				<td>68</td>
				<td>Perfluorooctanoic acid (PFOA)and its salts</td>
				<td>335-67-1 (206-397-9)</td>
				<td>
					<p>Shall not be manufactured, or placed on the market as substances on their own.</p>
					<p>Shall not be used in the production of, or placed on the market in: </p>
					<ol style="list-style-type: lower-alpha">
						<li>another substance, as a constituent</li>
						<li>a mixture</li>
						<li>an article, or any part thereof in a concentration equal to or above 25 ppb of PFOA including its salts or 1000 ppb of one or a combination of PFOA-related substances.</li>
					</ol>
					<p>Paragraphs 1 and 2 shall apply to:</p>
					<ol style="list-style-type: lower-roman">
						<li>Equipment used to manufacture semiconductors</li>
						<li>Latex printing inks</li>
						<li>Textiles for the protection of workers that must meet durable water repellency (DWR) performance standards</li>
						<li>Membranes intended for use in medical textiles, filtration in water treatment, production processes and effluent treatment</li>
						<li>Plasma nano-coatings</li>
						<li>Medical devices other than implantable medical devices within the scope of Directive 93/42/EEC</li>
					</ol>
				</td>
			</tr>
			<tr>
				<td>69</td>
				<td>Methanol</td>
				<td>67-56-1 (200-659-6)</td>
				<td>
					<p>Shall not be placed on the market to the general public in the following:</p>
					<ol style="list-style-type: lower-alpha">
						<li>windscreen washing or defrosting fluids,</li>
						<li>Denatured alcohol, in a concentration equal to or greater than 0.6 % by weight.</li>
					</ol>
				</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="turkey-toy-safety-regulations" class="bookmark"></a>
	<strong>Turkey Ministry of Customs and Commerce Issues Toy Safety Regulations</strong>
	<p>On October 4, 2016, the Turkey Ministry of Customs and Commerce issued <a href="http://www.resmigazete.gov.tr/eskiler/2016/10/20161004-24.htm" target="_blank">new Toy Safety Regulations (Number 29847)</a>. The regulations determine the procedures and principles for the importation of safe toys which are intended or designed for use in game play for children under 14 years of age. </p>
	<a href="/regulatory-updates/November-2016/turkey-toy-safety-regulations" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The Turkey Toy Safety Regulations adopt the European Toys Safety Directive 2009/48/EC and it will become effective on April 4, 2017. The new regulations address certain requirements for toys:</p>
		<ol>
			<li>EC Declaration of Conformity </li>
			<li>“CE” Mark</li>
			<li>Conformity assessment requirement including physical and mechanical, flammability, chemical and electrical requirements</li>
			<li>Technical documentation</li>
			<li>Standards showing presumption of conformity</li>
		</ol>
		<p>This regulation does not apply to the following toys:</p>
		<ol>
			<li>Playground equipment</li>
			<li>Automatic coin-operated gaming machines </li>
			<li>Combustion engines for toy vehicles</li>
			<li>Toy steam engines</li>
			<li>Slings and catapults</li>
		</ol>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="asia_news" class="bookmark"></a>
	<h2>ASIA NEWS</h2>
</div>

<div class="recapSection">
	<a name="china-miit-new-product-labeling" class="bookmark"></a>
	<strong>China MIIT Proposes New Product Labeling Exemption under China RoHS 2</strong>
	<p>On October 13, 2016, the Ministry of Industry and Information Technology of the People’s Republic of China (MIIT) <a href="http://zmhd.miit.gov.cn:8080/opinion/noticedetail.do?method=notice_detail_show&noticeid=1589" target="_blank">proposed an amendment of standard SJ/T 11364-2014 Marking for the Restriction of Hazardous Substances in Electrical and Electronic Products</a>. The standard details labeling and marking requirements for products covered by the China Restriction of the Use of Hazardous Substances in Electrical and Electronic Product (China RoHS 2). </p>
	<a href="/regulatory-updates/November-2016/china-miit-new-product-labeling" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The proposed amendments add new conditions for electronic and electrical products that may not be required to have markings directly on the product such as components, parts and raw materials. (Examples: display components, circuit boards, resistors, etc.) However, the marking is still required on the product instructions. The amendment was under comment period until November 13, 2016.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="philippines-consumer-products-labeling" class="bookmark"></a>
	<strong>Philippines Proposes Amendment to the Consumer Act of the Philippines Regarding Consumer Products Labeling</strong>
	<p>On July 21, 2016, <a href="https://www.senate.gov.ph/lis/bill_res.aspx?congress=17&q=SBN-838" target="_blank">Senate bill 838</a> was introduced in the 17th Congress of Senate of the Philippines. The bill proposes an amendment to the Republic Act No. 7394 Consumer Act of the Philippines including Chapter IV Labeling and Fair Packaging. </p>
	<a href="/regulatory-updates/November-2016/philippines-consumer-products-labeling" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Key proposed amendments of the regulation related to labeling information on consumer products are summarized below:</p>
		<ul>
			<li>Consumer products with product labels written in a foreign language shall have a corresponding English or Pilipino translation to allow better understanding of the product contents, features and uses</li>
			<li>A new provision is added to ban suppliers from importing defective goods</li>
			<li>The requirements for consumer products with specific claims are further strengthened by the ingredient list requirement. A specific claim can appear only when the ingredient’s quantities and properties as well as the material benefit that results from its inclusion in the product formulation have been technically substantiated. </li>
		</ul>
		<p>In addition to changes in labeling requirements, the amendment also adds a new provision to ban suppliers from importing defective goods.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="nov2016-korea-toy-safety-standards" class="bookmark"></a>
	<strong>Korea Proposes Amendment of Toys and Children’s Products Safety Standards</strong>
	<p>On September 9, 2016, the Korean Ministry of Trade, Industry and Energy (MOTIE) issued <a href="https://docs.wto.org/dol2fe/Pages/FE_Search/FE_S_S006.aspx?MetaCollection=WTO&SymbolList=&Serial=&IssuingDateFrom=&IssuingDateTo=&CATTITLE=&ConcernedCountryList=&OtherCountryList=&SubjectList=&TypeList=&FullTextHash=1990936336&ProductList=&BodyList=&OrganizationList=&ArticleList=&Contents=&CollectionList=&RestrictionTypeName=&PostingDateFrom=&PostingDateTo=&DerestrictionDateFrom=&DerestrictionDateTo=&ReferenceList=&Language=ENGLISH&SearchPage=FE_S_S001&ActiveTabIndex=0&languageUIChanged=true" target="_blank">Notice 2016-481 through World Trade Organization (WTO)</a> to propose revisions to the safety standards for children’s products covered by Article 22 of the Special Act on Safety of Children’s Products.</p>
	<a href="/regulatory-updates/November-2016/nov2016-korea-toy-safety-standards" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The key proposed amendments in the notice are summarized below:</p>
		<ul>
			<li>Clarifies types of toys that fall under the scope and under exempted products</li>
			<li>Strengthens safety, labeling and user manual requirements for electric riding toys (modeling ASTM standard)</li>
			<li>Strengthens the safety requirements of hazardous chemical substances and changes test methods accordingly (modeling EN-71, Part 3 standard for migration of 19 heavy metal elements)</li>
			<li>Adds Tris(2-chloro-1-methylethyl)phosphate (TCPP) and Tris(1,3-dichloro-2-propyl) phosphate (TDCP) to flame retardant chemical requirements </li>
			<li>Adds microbial requirements for toys containing liquids</li>
		</ul>
	</div><br />
</div>

<br /><p><i>This summary is not intended to be exhaustive nor should it be construed as legal advice.</i></p>