<!-- { "Title":"November 2017 Recap", "PublishDate":"2017-11-21", "Description":"NORTH AMERICA NEWS - On March 30, 2017, the US Consumer Product Safety Commission (CPSC) issued Final Rule 16 CFR 1234 in the Federal Register 82 FR 15615 regarding the safety standard adoption for infant bath tubs." }-->
<div class="recapSectionHeader">
    <ol style="margin-top:10px;">
        <li style="margin-bottom:10px;"><a href="#north_america_news">NORTH AMERICA NEWS</a></li>
        <li style="margin-bottom:10px;"><a href="#asia_news">ASIA NEWS</a></li>
    </ol>
    <hr />
</div>

<div class="recapSectionHeader">
    <a name="north_america_news" class="bookmark"></a>
    <h2>NORTH AMERICA NEWS</h2>
</div>

<div class="recapSection">
    <a name="nov2017-us-cpsc-implements-final-rule-adopting-infant-bath" class="bookmark"></a><strong>US CPSC Implements Final Rule Adopting Infant Bath Tubs Standard</strong>
    <p>On March 30, 2017, the US Consumer Product Safety Commission (CPSC) issued Final Rule 16 CFR 1234 in the Federal Register <a href="https://www.federalregister.gov/documents/2017/03/30/2017-06270/safety-standard-for-infant-bath-tubs?utm_campaign=subscription%20mailing%20list&utm_source=federalregister.gov&utm_medium=email" target="_blank">82 FR 15615</a> regarding the safety standard adoption for infant bath tubs. The final rule was effective on October 2, 2017.</p>
    <a href="/regulatory-updates/November-2017/nov2017-us-cpsc-implements-final-rule-adopting-infant-bath" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>In the final rule, the ASTM F2670-17 Standard Consumer Safety Specification for Infant Bath Tubs is adopted. An infant bath tub is defined as a tub, enclosure, or other similar product intended to hold water and be placed into an adult bath tub, sink, or on top of other surfaces to provide support or containment, or both, for an infant in a reclining, sitting, or standing position during bathing by a caregiver. Products commonly known as bath slings typically made of fabric or mesh are excluded from the scope of the standard.</p>
    </div><br />
</div>

<div class="recapSection">
    <a name="nov2017-updates-astm-standards" class="bookmark"></a><strong>Updates of ASTM Standards</strong>
    <p>Below is a summary of recently updated ASTM standards:</p>
    <a href="/regulatory-updates/November-2017/nov2017-updates-astm-standards" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <table width="80%;">
            <tr>
                <td style="font-weight: bold; text-align: center;">ASTM Standard<br />No.</td>
                <td style="font-weight: bold; text-align: center;">Detail</td>
            </tr>
            <tr>
                <td>ASTM F2388-17a</td>
                <td><b>Standard Consumer Safety Specification for Baby Changing Products for Domestic Use</b><br />
                Covers performance requirements, test methods, and labeling requirements to<br />
                promote the safe use of baby changing products including changing tables, changing<br />
                table accessories, contoured changing pads, and add-on changing units.</td>
            </tr>
            <tr>
                <td>ASTM F2613-17a</td>
                <td><b>Standard Consumer Safety Specification for Children's Chairs and Stools</b><br />
                Establishes testing requirements for structural integrity and performance<br />
                requirements for children’s chairs and stools. It also provides requirements for<br />
                labeling.</td>
            </tr>
            <tr>
                <td>ASTM F2417-17</td>
                <td><b>Standard Specification for Fire Safety for Candles</b><br />
                Prescribes minimum safety requirements for candles and candle ensembles to<br />
                provide a reasonable degree of safety for normal use with candles, thereby improving<br />
                personal safety and reducing fires, deaths, and injuries.</td>
            </tr>
            <tr>
                <td>ASTM F3118-17a</td>
                <td><b>Standard Consumer Safety Specification for Infant Inclined Sleep Products</b><br />
                Establishes safety performance requirements, test methods, and labeling<br />
                requirements to minimize the hazards to infants presented by infant inclined sleep<br />
                products as identified in the introduction.</td>
            </tr>
            <tr>
                <td>ASTM F2057-17</td>
                <td><b>Standard Safety Specification for Clothing Storage Units</b><br />
                Intends to reduce injuries and deaths of children from hazards associated with tipover<br />
                of free-standing clothing storage units, such as chests, door chests and dressers, over<br />
                30 in. (762 mm) in height.</td>
            </tr>
        </table>
    </div><br />
</div>

<div class="recapSection">
    <a name="nov2017-us-cpsc-updates-phthalates-prohibition" class="bookmark"></a><strong>US CPSC Approves Updates of Phthalates Prohibition in Children’s Toys and Child Care Articles</strong>
    <p>On October 27, 2017, the US Consumer Product Safety Commission (CPSC) issued Final Rule 16 CFR 1307 in the Federal Register <a href="https://www.federalregister.gov/documents/2017/10/27/2017-23267/prohibition-of-childrens-toys-and-child-care-articles-containing-specified-phthalates" target="_blank">82 FR 49938</a> to approve updates regarding the prohibition of children’s toys and child care articles containing certain phthalates.</p>
    <a href="/regulatory-updates/November-2017/nov2017-us-cpsc-updates-phthalates-prohibition" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The Final Rule updates the Consumer Product Safety Improvement Act (CPSIA), Section 108, as summarized below:</p>
        <ol>
            <li>The interim prohibition of DINP for any children’s toys and child care articles that can be placed in a child’s mouth has been revised to a permanent prohibition.</li>
            <li>Four additional phthalates are now prohibited:</li>
            <ul style="padding-left: 15px;">
                <li>Diisobutyl Phthalate (DIBP)</li>
                <li>Di-n-pentyl Phthalate (DPENP)</li>
                <li>Di-n-hexyl Phthalate (DHEXP)</li>
                <li>Dicyclohexyl Phthalate (DCHP)</li>
            </ul>
            <li>The interim ban of DNOP and DIDP has been removed since they do not lead to certain developmental reproductive toxicity according to the Chronic Hazard Advisory Panel (CHAP)’s advice. </li>
        </ol>
        <br />
        <p>The rule will become effective on April 25, 2018. Upon enforcement, any children’s toy or child care article that contains concentrations over 0.1 percent of DEHP, DBP, BBP, DINP, DIBP, DEPENP, DHEXP and DCHP is prohibited.</p>
    </div><br />
</div>

<div class="recapSection">
    <a name="nov2017-ri-approves-bill-prohibit-flame-retardants" class="bookmark"></a><strong>US State of Rhode Island Approves Bill to Prohibit Certain Flame Retardants in Upholstered Furniture</strong>
    <p>On October 3, 2017, <a href="http://webserver.rilin.state.ri.us/BillText/BillText17/HouseText17/H5082Aaa.pdf" target="_blank">House Bill H5082, An Act Relating the Health and Safety - Child Products and Upholstered Furniture</a> entered into force without the Governor’s signature. The implementation date of the rule will be July 1, 2018.</p>
    <a href="/regulatory-updates/November-2017/nov2017-ri-approves-bill-prohibit-flame-retardants" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
    <p>Upon enforcement, manufacturers, wholesalers and retailers cannot manufacture, knowingly sell, offer for sale or distribute for use in the state any children’s product or residential upholstered bedding or furniture, which contains over 100 ppm of any organohalogen flame retardant chemical applied to plastic, foam or textile.  The implementation schedule is summarized as below:</p>
    <table>
        <tr>
            <td>&nbsp;</td>
            <td>Products</td>
            <td>Implementation Date</td>
        </tr>
        <tr>
            <td>1.</td>
            <td>Residential upholstered bedding or furniture (children’s product)</td>
            <td>July 1, 2018</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Residential upholstered bedding or furniture (non-children’s product)</td>
            <td>July 1, 2019</td>
        </tr>
    </table>
    <br />
    <p>Ninety days before the implementation date of the prohibition, a manufacturer of products that are prohibited shall notify persons or entities that sell the products in the state.</p>
    </div><br />
</div>

<div class="recapSection">
    <a name="nov2017-us-epa-proposes-mercury-reporting-rule" class="bookmark"></a><strong>US EPA Proposes Mercury Reporting Rule under TSCA</strong>
    <p>On October 26, 2017, the Environmental Protection Agency (EPA) <a href="https://www.regulations.gov/document?D=EPA-HQ-OPPT-2017-0421-0001" target="_blank">proposed rule, 40 CFR 713</a> under the Toxic Substances Control Act (TSCA) to require applicable persons to provide information to assist in the preparation of an inventory of mercury and its supply, use, and trade in the United States.</p>
    <a href="/regulatory-updates/November-2017/nov2017-us-epa-proposes-mercury-reporting-rule" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
    <p>Upon approval, any person who manufactures or imports mercury or mercury added products (including mercury compounds) or otherwise intentionally uses mercury in a manufacturing process is required to report to the EPA.</p>
    <p>The proposed rule is now receiving comments until December 26, 2017.</p>
    </div><br />
</div>

<div class="recapSection">
    <a name="nov2017-canada-recall-summary" class="bookmark"></a><strong>Canada Recalls Summary (May – October 2017)</strong>
    <p>In Canada, when hazards are identified in consumer products, they will be recalled and published in the <a href="http://healthycanadians.gc.ca/recall-alert-rappel-avis/index-eng.php?cat=4" target="_blank">Recalls and Safety Alerts Database</a> on the Health Canada website, which is updated daily. The Canada recalls from May 1 to October 31, 2017 are summarized below:</p>
    <a href="/regulatory-updates/November-2017/nov2017-canada-recall-summary" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
    <center><img src="https://s3.asiainspection.com/newsletters/2017-11-Reg-Recap/Canada_recall_hazards.png" style="width:90%; max-width:850px;"></center>
    <table>
        <tr>
            <td style="font-weight: bold; text-align: center;">Hazards</td>
            <td style="font-weight: bold; text-align: center;">Frequency</td>
        </tr>
        <tr>
            <td>Chemical Hazard</td>
            <td style="text-align: right;">19</td>
        </tr>
        <tr>
            <td>Choking Hazard</td>
            <td style="text-align: right;">15</td>
        </tr>
        <tr>
            <td>Burn Hazard</td>
            <td style="text-align: right;">12</td>
        </tr>
        <tr>
            <td>Fall Hazard</td>
            <td style="text-align: right;">12</td>
        </tr>
        <tr>
            <td>Fire Hazard</td>
            <td style="text-align: right;">10</td>
        </tr>
        <tr>
            <td>Laceration Hazard</td>
            <td style="text-align: right;">10</td>
        </tr>
        <tr>
            <td>Other Hazards*</td>
            <td style="text-align: right;">45</td>
        </tr>
    </table>
    <span>*Other Hazards include Cut Hazard, Electric Shock Hazard, Entrapment Hazard, Injury Hazard, Microbial Hazard, Product Safety, Strangulation Hazard, Tip-Over Hazard, Violation to Certification Requirements, Violation of Consumer Chemicals and Containers Regulations, Violation of Cribs, Cradles and Bassinets Regulations, Violation of Flammability Regulation and Violation to Packaging and Labeling Requirements with a frequency of less than 10.</span>
    <br /><br />
    <center><img src="https://s3.asiainspection.com/newsletters/2017-11-Reg-Recap/Canada_recall_categories.png" style="width:90%; max-width:850px;"></center>
    <table>
        <tr>
            <td style="font-weight: bold; text-align: center;">Product Categories</td>
            <td style="font-weight: bold; text-align: center;">Frequency</td>
        </tr>
        <tr>
            <td>Toys and Childcare Articles</td>
            <td style="text-align: right;">22</td>
        </tr>
        <tr>
            <td>Sporting Goods / Equipment</td>
            <td style="text-align: right;">12</td>
        </tr>
        <tr>
            <td>Cosmetics / Bodycare</td>
            <td style="text-align: right;">10</td>
        </tr>
        <tr>
            <td>Fabric / Textile / Garment / Home Textile</td>
            <td style="text-align: right;">9</td>
        </tr>
        <tr>
            <td>Juvenile Products</td>
            <td style="text-align: right;">7</td>
        </tr>
        <tr>
            <td>Other Categories^</td>
            <td style="text-align: right;">42</td>
        </tr>
    </table>
    <span>^Other Categories include Candles &amp; Burning Items and Accessories, Children's Products, Computer / Audio / Video / Other Electronics &amp; Accessories, Consumer Chemicals, Food Contact Material, Footwear, Furniture, Home Electrical Appliances (Hair Dryer, Iron, etc.), Homeware (Non-food Contact), Jewelry, Watch or other Fashion Accessories, Lighting Equipment and Tools and Hardware with a frequency of less than 8.</span>
    <br /><br />
    <p>For the complete list <a href="https://s3.asiainspection.com/newsletters/2017-11-Reg-Recap/Canada-Recall-Summary-Nov-2017.doc" target="_blank">click here</a></p>           
    </div><br />
</div>

<div class="recapSection">
    <a name="nov2017-us-ftc-updates-registered-id-number-website" class="bookmark"></a><strong>US FTC Updates the Registered Identification Number Website for Clothing, Textiles and Fur Label</strong>
    <p>On September 15, 2017, the Federal Trade Commission (FTC) <a href="https://www.ftc.gov/news-events/press-releases/2017/09/ftc-upgrades-rn-webpage-labels-clothing-other-textile-or-fur" target="_blank">announced</a> that the <a href="https://rn.ftc.gov/" target="_blank">Registered Identification Number (RN) Webpage</a> has been updated to allow real-time data validation for applicants and alert them to possible errors to avoid unnecessary delays.</p>
    <a href="/regulatory-updates/November-2017/nov2017-us-ftc-updates-registered-id-number-website" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
    <p>Under the current rule, most clothing, textile and fur products are required to have a label identifying the manufacturer or other business responsible for handling the item. The updated webpage allowing real-time data validation of RN makes it easier for companies to obtain an RN, which can avoid putting long company names on labels. The use of the updated RN webpage will streamline the application process for participating businesses and increase the efficiency to deliver RN services.</p>  
    </div><br />
</div>

<div class="recapSection">
    <a name="nov2017-us-cpsc-order-zen-magnets" class="bookmark"></a><strong>US CPSC Issues Final Decision and Order regarding Zen Magnets</strong>
    <p>On October 26, 2017, the Consumer Product Safety Commission (CPSC) issued a <a href="https://www.cpsc.gov/Newsroom/News-Releases/2018/CPSC-Issues-Decision-on-Zen-Magnets" target="_blank">Final Decision and Order</a> holding that Zen Magnets are a substantial product hazard.</p>
    <a href="/regulatory-updates/November-2017/nov2017-us-cpsc-order-zen-magnets" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>In the final decision and order, CPSC Commissioners held that Zen Magnets are defective, and that the defect creates a substantial risk of injury to the public. Additionally, they found that it is reasonably foreseeable that children will ingest Zen Magnets and the warnings do not mitigate the risk. When two or more magnets are ingested, they can attract to each other or to other ingested metallic objects resulting in catastrophic injuries or death. Therefore, it is illegal under federal law for any person to sell, offer for sale, manufacture, distribute or import into the United States any Zen Magnets.</p>
    </div><br />
</div>

<div class="recapSection">
    <a name="nov2017-health-canada-amends-magnetic-toys" class="bookmark"></a><strong>Health Canada Proposes Amendment on Toys Regulations Related to Magnetic Toys</strong>
    <p>On November 4, 2017, Health Canada proposed an amendment to SOR/2011-17 Toys Regulations through the <a href="http://gazette.gc.ca/rp-pr/p1/2017/2017-11-04/html/reg1-eng.php" target="_blank">Canada Gazette</a>. The amendment proposes to add a magnetic toys requirement due to ingestion hazards resulting in serious damage to intestinal tissues and long-term health consequences.</p>
    <a href="/regulatory-updates/November-2017/nov2017-health-canada-amends-magnetic-toys" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The key amendments, which are aligned with few exceptions to ASTM F963-16, are summarized below:</p>
        <ol>
            <li>Updated definitions</li>
            <li>Added requirements for magnetic toys: any magnetic toy or magnetic component that is a small part shall have a magnetic flux index of less than 0.5 T2mm2, except a magnetic component that is:</li>
            <ol style="list-style-type: lower-alpha; padding-left: 15px;">
                <li>Necessary for the operation of motors, relays, speakers and other electrical components in a magnetic toy, provided that the magnetic properties are not part of the play or learning pattern of the toy; and</li>
                <li>Part of a kit intended for carrying out educational experiments involving both magnetism and electricity. The product shall be intended for a child of at least 8 years of age and labeled with appropriate warnings.</li>
            </ol>
            <li>Added testing method for magnetic flux index measurements</li>
            <li>Added warning requirements for magnetic toys that are intended for carrying out educational experiments</li>
        </ol>
    </div><br />
</div>

<div class="recapSectionHeader">
    <a name="asia_news" class="bookmark"></a>
    <h2>ASIA NEWS</h2>
</div>

<div class="recapSection">
    <a name="nov2017-philippines-approve-safety-labeling-and-hazardous-chemicals" class="bookmark"></a><strong>Philippines Approves Acts to Regulate Safety Labeling and Certain Hazardous Chemicals in Children’s Toys, School Supplies and Child Care Articles</strong>
    <p>On October 3, 2017, the Committee of House Representatives of the Republic of the Philippines approved the following 4 house bills related to safety labeling and hazardous chemical requirements in children’s toys, school supplies and child care articles:</p>
    <ul>
        <li style="margin-bottom:5px;">House Bill 0321 An Act Regulating the Importation, Manufacture, Distribution and Sale of Children’s Toys, School Supplies, Childcare Articles and Other Related Products Containing Hazardous Chemicals and Providing Penalties for Violations Thereof</li>
        <li style="margin-bottom:5px;">House Bill 02349 An Act Providing for Toy and Game Safety Labeling, Appropriating Funds Thereof</li>
        <li style="margin-bottom:5px;">House Bill 03043 An Act Prohibiting the Sale of Toys and Other Articles Containing Phthalates to Children Three Years of Age and Below</li>
        <li style="margin-bottom:5px;">House Bill 03943 An Act Regulating the Importation, Manufacture, Distribution and Sale of Children's Toys, School Supplies, Childcare Articles and Other Related Products Containing Hazardous Chemicals and Providing Penalties for Violations Thereof</li>
    </ul>
    <a href="/regulatory-updates/November-2017/nov2017-philippines-approve-safety-labeling-and-hazardous-chemicals" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The key requirements of the four approved Acts are summarized below:</p>
        <table>
            <tr>
                <td style="font-weight: bold; text-align: center;">Products</td>
                <td style="font-weight: bold; text-align: center;">Requirements</td>
            </tr>
            <tr>
                <td style="text-align: center;">Childcare Article</td>
                <td>Any product intended to facilitate sleep, relaxation, hygiene, the feeding of children or<br />
                sucking on the part of children (under 14 years of age).</td>
            </tr>
            <tr>
                <td style="text-align: center;">Children's Toy</td>
                <td>Any product or material designed and clearly intended for use in play by children under 14<br />
                years of age.</td>
            </tr>
            <tr>
                <td style="text-align: center;">School Implement</td>
                <td>A tool used by children for writing, drawing, coloring, marking, gluing, or erasing that is<br />
                likely to be licked or put in the mouth.</td>
            </tr>
            <tr>
                <td style="text-align: center;">School Supplies</td>
                <td>Items or articles used for educational purposes which are not likely to be put in the mouth<br />
                of children.</td>
            </tr>
        </table>
        <br />
        <p>Within three months from the effective date of this Act, the Philippine Food and Drug Administration (FDA) shall prepare a list of prohibited chemicals and substances, which may cause harm, injury, or death to children. In the list, the following chemicals shall also be included:</p>
        <table>
            <tr>
                <td style="font-weight: bold; text-align: center;">Item</td>
                <td style="font-weight: bold; text-align: center;">Chemicals</td>
                <td style="font-weight: bold; text-align: center;">Testing Method</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Toxic Metals:<br />
                    <ol>
                        <li>Antimony</li>
                        <li>Arsenic</li>
                        <li>Cadmium</li>
                        <li>Chromium</li>
                        <li>Lead</li>
                        <li>Mercury</li>
                    </ol></td>
                <td>For heavy metals identified in PNS/ISO 8124-3,<br />
                compliance with one of the following standards is<br />
                required:<br />
                <ol>
                    <li>ISO 8124-3, or</li>
                    <li>EN-71-3, or</li>
                    <li>ASTM F963</li>
                </ol></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Phthalates:<br />
                    <ol>
                        <li>Di-(2-ethylhexyl) phthalate (DEHP)</li>
                        <li>Dibutyl phthalate (DBP)</li>
                        <li>Benzyl butyl phthalate (BBP)</li>
                        <li>Diisononyl phthalate (DINP)</li>
                        <li>Diisodecyl phthalate (DIDP)</li>
                        <li>Di-n-octyl phthalate (DnOP)</li>
                    </ol></td>
                <td>For phthalates, compliance with one of the<br />
                following is required:<br />
                    <ol>
                        <li>US Section 108 of Consumer Products<br />Safety Improvement Act (CPSIA), or</li>
                        <li>Entry 52 of Annex XVII of Europe REACH<br />Regulation 1907/2006</li>
                    </ol></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Bisphenol A (BPA)</td>
                <td>Not Specified</td>
            </tr>
        </table>
        <span>(See <a href="https://www.asiainspection.com/regulatory-updates/September-2016/philippines-school-supplies" target="_blank">Regulatory Recap: September 2016-1</a>).</span>
        <br />
        <p>Any toys or games containing the following components shall bear a suitable warning on the packaging:</p>
        <ol>
            <li>Small part intended for use by children less than 14 years of age</li>
            <li>Any marble intended for use by children less than 14 years of age</li>
            <li>Any latex balloon or any ball with a diameter of 1.75 inches or less intended for use by children less than 10 years of age</li>
        </ol>
        <p>The cautionary statement in the warning label shall be written in English, Filipino or both languages.</p>
        <p>(See <a href="https://www.asiainspection.com/regulatory-updates/September-2016/philippines-toy-labeling" target="_blank">Regulatory Recap: September 2016-2</a>).</p>
    </div><br />
</div>
