<!-- { "Title":"October 2016 Recap", "PublishDate":"2016-10-25", "Description":"NORTH AMERICA NEWS - On September 29, 2016, the US Consumer Product Safety Commission (CPSC) issued a notice of proposed rulemaking (16 CFR 1112 and 16 CFR 1235) on Federal Register, 81 FR 66881, regarding safety standard adoption for baby changing products." }-->

<div class="recapSectionHeader">
	<ol style="margin-top:10px;">
		<li style="margin-bottom:10px;"><a href="#north_america_news">NORTH AMERICA NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#europe_news">EUROPE NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#asia_news">ASIA NEWS</a></li>
	</ol>
	<hr />
</div>

<div class="recapSectionHeader">
	<a name="north_america_news" class="bookmark"></a>
	<h2>NORTH AMERICA NEWS</h2>
</div>

<div class="recapSection">
	<a name="cpsc-baby-changing-standard" class="bookmark"></a>
	<strong>US CPSC Proposes Adoption of Baby Changing Product Standard</strong>
	<p>On September 29, 2016, the US Consumer Product Safety Commission (CPSC) issued a <a href="https://www.federalregister.gov/documents/2016/09/29/2016-22557/safety-standard-for-baby-changing-products" target="_blank">notice of proposed rulemaking (16 CFR 1112 and 16 CFR 1235) on Federal Register, 81 FR 66881</a>, regarding safety standard adoption for baby changing products.</p>
	<a href="/regulatory-updates/October-2016/cpsc-baby-changing-standard" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In the proposed rulemaking, standard, <i>ASTM F2388-16 Standard Consumer Safety Specification for Baby Changing Tables for Domestic Use</i>, would be adopted. The incorporation of the standard would impose more stringent requirements for structural integrity and restraint system integrity and would require warnings to reduce the risk of injury associated with the product.</p>
		<p>The standard applies to:</p>
		<ol>
			<li>Changing tables, which are defined as elevated, freestanding structures designed to support and retain a child with a body weight up to 30 lbs (13.6 kg) for the purpose of a diaper change. A changing table may convert to other furniture pieces, such as dressers or play yards.</li>
			<li>Other changing products, such as<br />
				<ul>
					<li>Contoured changing pads, which have barriers designed to keep children up to 30 lbs on the pad for diaper changes on elevated surfaces</li>
					<li>Add-on changing units that are sold separately and that are used with pieces of furniture to provide changing surfaces and/or barriers to keep children on the products during diaper changes</li>
				</ul>
			</li>
		</ol>
		<p>The comment period for the proposed rulemaking is now open until December 13, 2016.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="fda-prohibition-antiseptic" class="bookmark"></a>
	<strong>US FDA Issues Final Rule Related to Prohibition of Ingredients in OTC Antiseptic Washes</strong>
	<p>On September 6, 2016, the US Food and Drug Administration (FDA) issued <a href="https://www.federalregister.gov/documents/2016/09/06/2016-21337/safety-and-effectiveness-of-consumer-antiseptics-topical-antimicrobial-drug-products-for" target="_blank">a final rule in Federal Register, 81 FR 61106</a> to establish a prohibition of over-the-counter (OTC) consumer antiseptic wash products containing certain ingredients. These ingredients are not generally recognized as safe and/or effective and are considered misbranded if used in antiseptic washes.</p>
	<a href="/regulatory-updates/October-2016/fda-prohibition-antiseptic" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>After considering comments received during proposed rulemaking in December 2013, the FDA issued a final rule to amend 21 CFR 310.545, rejecting 19 active ingredients for the GRAS/GRAE list (generally recognized as safe/effective). If consumer antiseptic wash products contain these ingredients, the products are considered misbranded for antiseptic use.</p>
		<p>The 19 active ingredients are:</p>
		<ol>
			<li>Clohlucarban</li>
			<li>Fluorosalan</li>
			<li>Hexachlorophene</li>
			<li>Hexylresorcinol</li>
			<li>Iodophors (Iodine-containing ingredients):</li>
			<li>Iodine complex (ammonium ether sulfate and polyoxyethylene sorbitan monolaurate)</li>
			<li>Iodine complex (phosphate ester of alkylaryloxy polyethylene glycol)</li>
			<li>Nonylphenoxypoly (ethyleneoxy) ethanoliodine</li>
			<li>Poloxamer—iodine complex</li>
			<li>Povidone-iodine 5 to 10 percent</li>
			<li>Undecoylium chloride iodine complex</li>
			<li>Methylbenzethonium chloride</li>
			<li>Phenol (greater than 1.5%)</li>
			<li>Phenol (less than 1.5%)</li>
			<li>Secondary amyltricresols</li>
			<li>Sodium oxychlorosene</li>
			<li>Tribromsalan</li>
			<li>Triclocarban</li>
			<li>Triclosan</li>
			<li>Triple dye</li>
		</ol>
		<p>The final rule will be effective on September 6, 2017. Apart from the 19 rejected ingredients, the rule making for the following 3 other active ingredients (proposed in December 2013) is deferred to allow more time for interested parties to complete the safety and efficacy studies:</p>
		<ol>
			<li>Benzalkonium chloride</li>
			<li>Benzethonium chloride</li>
			<li>Chloroxylenol</li>
		</ol>
	</div><br />
</div>

<div class="recapSection">
	<a name="fcc-wifi-settlement" class="bookmark"></a>
	<strong>US FCC Reaches $200,000 Settlement in Wi-Fi Router Investigation</strong>
	<p>In August 2016, the US Federal Communication Commission (FCC) has reached <a href="https://apps.fcc.gov/edocs_public/attachmatch/DOC-340564A1.pdf" target="_blank">a $200,000 settlement with Wi-Fi router provider, TP-Link</a>, resolving an investigation into certain routers that were not in full compliance with FCC rules regarding power levels.</p>
	<a href="/regulatory-updates/October-2016/fcc-wifi-settlement" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In the investigation, certain router models sold in the U.S. were found to include a user setting that violated FCC rule 47 CFR 15.15(b). The operating power of the routers exceeded the approved parameters on certain restricted Wi-Fi channels. Manufacturers of FCC approved wireless devices have to ensure their products are not operating at a higher power than allowed on certain restricted channels.  TP-Link’s routers were capable of being manipulated to operate at a higher power than allowed.  To resolve the matter, TP-Link has taken actions to halt the sale of noncompliant products while ensuring that new products are in compliance.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="epa-prohibits-mercury-export" class="bookmark"></a>
	<strong>US EPA Prohibits Certain Mercury Compounds from Export under Reformed TSCA</strong>
	<p>According to the reformed Toxic Substances Control Act (TSCA), the US Environmental Protection Agency (EPA) is required to publish an initial list of mercury compounds banned from export. On August 26, 2016, <a href="https://www.federalregister.gov/documents/2016/08/26/2016-20534/mercury-compounds-prohibition-of-export" target="_blank">a list of 5 mercury compounds banned from export was published in the Federal Register, under document number 81 FR 58926</a>.</p>
	<a href="/regulatory-updates/October-2016/epa-prohibits-mercury-export" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Effective January 1, 2020, the following mercury compounds will be prohibited from export:</p>
		<ol>
			<li>Mercury (I) chloride or calomel [CAS No. 10112-91-1]</li>
			<li>Mercury (II) oxide [CAS No. 21908-53-2]</li>
			<li>Mercury (II) sulfate [CAS No. 7783-35-9]</li>
			<li>Mercury (II) nitrate [CAS No. 10045-94-0]</li>
			<li>Cinnabar or mercury sulphide [CAS No. 1344-48-5]</li>
		</ol>
		<p>The prohibition is excepted if those mercury compounds are exported to member countries of the Organization for Economic Co-operation and Development for environmentally sound disposal, on the condition that no mercury or mercury compounds are to be recovered, recycled, reclaimed for use or directly reused after export.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="california-prop-65-list" class="bookmark"></a>
	<strong>US State of California OEHHA Adds New Chemicals to Proposition 65 List</strong>
	<p>On September 30 2016, the California Office of Environmental Health Hazard Assessment (OEHHA) added a new chemical to the <a href="http://oehha.ca.gov/proposition-65/proposition-65-list" target="_blank">Proposition 65 List</a>. The new chemical is:</p>
	<a href="/regulatory-updates/October-2016/california-prop-65-list" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The added chemical meets the requirements for listing as known to the State of California to cause cancer toxicity for purposes of Proposition 65. The chemical details are provided below:</p>
		<table>
			<tr>
				<td align="center"><b>Chemical</b></td>
				<td align="center"><b>Chemical Abstracts Service Number (CAS No.)</b></td>
				<td align="center"><b>Types of Toxicity</b></td>
			</tr>
			<tr>
				<td align="center">Furfuryl alcohol</td>
				<td align="center">98-00-0</td>
				<td align="center">Cancer</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="california-pfoa-and-pfos" class="bookmark"></a>
	<strong>US State of California OEHHA Issues Notice Regarding Listing Intention for PFOA and PFOS</strong>
	<p>
		On September 16, 2016, the California Office of Environmental Health Hazard Assessment (OEHHA) issued <a href="http://oehha.ca.gov/proposition-65/crnr/notice-intent-list-perfluorooctanoic-acid-pfoa-and-perfluorooctane-sulfonate" target="_blank">notice</a> of intent to add the following chemicals to the Proposition 65 list of chemicals known to the state to cause cancer, birth defects or other reproductive harm. The chemicals are:<br />
		<ol>
			<li>Perfluorooctanoic acid (PFOA) [CAS No. 335-67-1]</li>
			<li>Perfluorooctane sulfonate (PFOS) [CAS No. 1763-23-1]</li>
		</ol>
	</p>
	<a href="/regulatory-updates/October-2016/california-pfoa-and-pfos" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Chemicals PFOA and PFOS are surfactants used in variety of consumer products including carpets, textiles and paper coatings used in food packaging to provide stain, grease and water resistance. PFOA is also used in the product of fluoropolymers. Both PFOA and PFOS may also be generated as degradation products of other perfluorinated compounds. Studies (US EPA, 2016c, d) from the US Environmental Protection Agency (EPA) conclude developmental toxicity for both PFOA and PFOS. Therefore, OEHHA intends to identify PFOA and PFOS as causing reproductive toxicity (developmental endpoint) and add both chemicals to the Proposition 65 List. </p>
		<p>OEHHA is now requesting comments as to whether PFOA and PFOS meet the Proposition 65 criteria. The comment period will end on November 16, 2016.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="california-bpa-regulation" class="bookmark"></a>
	<strong>US State of California OEHHA Issues Notice about Readoption of Emergency Regulation Regarding BPA Warnings</strong>
	<p>On September 16, 2016, the California Office of Environmental Health Hazard Assessment (OEHHA) issued <a href="http://oehha.ca.gov/proposition-65/crnr/notice-readoption-emergency-action-amend-section-256033-title-27-california-code" target="_blank">notice to propose readoption of emergency regulations</a> regarding temporary use of a standard point-of-sale warning message for Bisphenol A (BPA) for canned and bottled foods and beverages.</p>
	<a href="/regulatory-updates/October-2016/california-bpa-regulation" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The previous emergency regulation expired on October 18, 2016. OEHHA initiated a regular rulemaking process for BPA warnings (See <a href="http://www.asiainspection.com/regulatory-updates/September-2016" target="_blank">Regulatory Recap: September 2016</a>) but the rulemaking procedure has not been completed yet. Therefore, to prevent any inconsistent BPA warning messages and the confusion among consumers in canned and bottled foods and beverages, OEHHA proposes to continue the temporary use of standard point-of-sale warning messages through readoption of previous emergency regulation for 90 days (See <a href="http://www.asiainspection.com/regulatory-updates/April-2016" target="_blank">Regulatory Recap: April 2016</a>).</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="minnesota-updated-chcs" class="bookmark"></a>
	<strong>US State of Minnesota Issues Updated List of CHCs</strong>
	<p>According to Minnesota Statues section 116.9402, the Minnesota Department of Health (MDH) must periodically review and update the list of Chemicals of High Concern (CHCs) every 3 years. On September 7, 2016, <a href="http://www.health.state.mn.us/divs/eh/hazardous/topics/toxfreekids/highconcern.html" target="_blank">a second update of CHCs list</a> was published.</p>
	<a href="/regulatory-updates/October-2016/minnesota-updated-chcs" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The CHCs listed are generally known or suspected with a high degree of probability to:</p>
		<ol>
			<li>Harm the normal development of a fetus or child or cause other developmental toxicity;</li>
			<li>Cause cancer, genetic damage, or reproductive harm;</li>
			<li>Disrupt the endocrine or hormone system;</li>
			<li>Damage the nervous system, immune system, or organs, or cause other systemic toxicity;</li>
			<li>Be persistent, bioaccumulative, and toxic; or</li>
			<li>Be very persistent and very bioaccumulative</li>
		</ol>
		<p>If certain criterion are met, these chemicals will eventually be identified as priority chemicals, to which MDH will pay high attention. However, currently, there is no requirement for consumer products related to either the CHCs and priority chemicals.</p>
		<p>The listed chemicals can be found in <a href="http://www.health.state.mn.us/divs/eh/hazardous/topics/toxfreekids/chclist/mdhchc2016.xlsx" target="_blank">The 2016 Minnesota Chemicals of High Concern List (Excel)</a> and the updated chemicals can be found in <a href="http://www.health.state.mn.us/divs/eh/hazardous/topics/toxfreekids/chclist/mdhchc2016ar.xlsx" target="_blank">The Chemicals Added/Removed from the 2016 CHC List (Excel)</a>.</p>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="europe_news" class="bookmark"></a>
	<h2>EUROPE NEWS</h2>
</div>

<div class="recapSection">
	<a name="echa-authorized-chemicals" class="bookmark"></a>
	<strong>ECHA Proposes Amendment on Annex XIV List of Authorized Chemicals (introducing 12 new chemicals)</strong>
	<p>On September 21, 2016, European Union (EU) proposed to amend Annex XIV of Regulation (EC) No. 1907/2006 Registration, Evaluation, Authorisation and Restriction of Chemicals (REACH) through <a href="https://members.wto.org/crnattachments/2016/TBT/EEC/16_3955_00_e.pdf" target="_blank">World Trade Organization (WTO) notification</a>.</p>
	<a href="/regulatory-updates/October-2016/echa-authorized-chemicals" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Upon enforcement, the proposed regulation will amend the Annex XIV List of Authorised Chemicals by adding following 11 chemicals:</p>
		<ol>
			<li>1-Bromopropane [CAS No. 106-94-5]</li>
			<li>Diisopentylphthalate [CAS no. 605-50-5]</li>
			<li>1,2-Benzenedicarboxylic acid, di-C6-8-branched alkyl esters, C7 rich [CAS No. 71888-89-6]</li>
			<li>1,2-Benzenedicarboxylic acid, di-C7-11-branched and linear alkyl esters [CAS No. 68515-42-4]</li>
			<li>1,2-Benzenedicarboxylic acid, dipentylester, branched and linear [CAS No. 84777-06-0]</li>
			<li>Bis(2-methoxyethyl) phthalate [CAS No. 117-82-8]</li>
			<li>Dipentylphthalate [CAS No. 131-18-0]</li>
			<li>N-pentyl-isopentylphthalate [CAS No. 776297-69-9]</li>
			<li>Pitch, coal tar, high temp. [CAS No. 65996-93-2]</li>
			<li>4-(1,1,3,3-Tetramethylbutyl)phenol, ethoxylated (covering well-defined substances and UVCB substances, polymers and homologues) </li>
			<li>4-Nonylphenol, branched and linear, ethoxylated (substances with a linear and/or branched alkyl chain with a carbon number of 9 covalently bound in position 4 to phenol, ethoxylated covering UVCB- and well defined substances, polymers and homologues, which include any of the individual isomers and/or combinations thereof)</li>
		</ol>
	</div><br />
</div>

<div class="recapSection">
	<a name="eu-cosmetic-regulations" class="bookmark"></a>
	<strong>EU Amends Cosmetic Regulations Regarding Colorants and UV Filters Chemicals</strong>
	<p>In August 2016, Amendment Regulation <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=uriserv:OJ.L_.2016.187.01.0001.01.ENG&toc=OJ:L:2016:187:TOC" target="_blank">(EU) 2016/1120</a> and <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=uriserv:OJ.L_.2016.189.01.0040.01.ENG&toc=OJ:L:2016:189:TOC" target="_blank">(EU) 2016/1143</a> entered into force. The regulations amended, respectively, Annex IV and Annex VI of the Regulation (EC) No. 1223/2009 Cosmetic Products and they are related to colorants and UV filter chemicals, carbon black and titanium dioxide.</p>
	<a href="/regulatory-updates/October-2016/eu-cosmetic-regulations" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The key amendments are summarized below:</p>
		<ol>
			<li>Annex IV (List of colorants allowed in cosmetic products):<br />
				<ul>
					<li>Amended by adding specific condition for carbon black:<br />
						<ol style="list-style-type:lower-roman;">
							<li>Purity > 97 %, with the following impurity profile: Ash content ≤ 0.15 %, total sulphur ≤ 0.65 %, total PAH ≤ 500 ppb and benzo(a)pyrene ≤ 5 ppb, dibenz(a,h)anthracene ≤ 5 ppb, total As ≤ 3 ppm, total Pb ≤ 10 ppm, total Hg ≤ 1 ppm</li>
						</ol>
					</li>
					<li>Added carbon black (nano) with maximum concentration of 10% with following conditions:<br />
						<ol style="list-style-type:lower-roman;">
							<li>Not to be used in applications that may lead to exposure of the end user's lungs by inhalation</li>
							<li>Purity > 97 %, with the following impurity profile: Ash content ≤ 0,15 %, total sulphur ≤ 0,65 %, total PAH ≤ 500 ppb and benzo(a)pyrene ≤ 5 ppb, dibenz(a,h)anthracene ≤ 5 ppb, total As ≤ 3 ppm, total Pb ≤ 10 ppm, and total Hg ≤ 1 ppm</li>
							<li>Primary particle size ≥ 20 nm</li>
						</ol>
					</li>
				</ul>
			</li>
			<li>Annex VI (List of UV filters allowed in cosmetic products):<br />
				<ul>
					<li>Added for titanium dioxide (nano) with maximum concentration of 25% with following conditions:<br />
						<ol style="list-style-type:lower-roman;">
							<li>Not to be used in applications that may lead to exposure of the end-user's lungs by inhalation.</li>
							<li>Purity ≥ 99 %</li>
							<li>Rutile form, or rutile with up to 5 % anatase, with crystalline structure and physical appearance as clusters of spherical, needle, or lanceolate shapes</li>
							<li>Rutile form, or rutile with up to 5 % anatase, with crystalline structure and physical appearance as clusters of spherical, needle, or lanceolate shapes</li>
							<li>Aspect ratio from 1 to 4,5, and volume specific surface area ≤ 460 m2/cm3</li>
							<li>Coated with Silica, Hydrated Silica, Alumina, Aluminium Hydroxide, Aluminium Stearate, Stearic Acid, Trimethoxycaprylylsilane, Glycerin, Dimethicone, Hydrogen Dimethicone, Simethicone</li>
							<li>Photocatalytic activity ≤ 10 % compared to corresponding non-coated or non-doped reference</li>
							<li>Nanoparticles are photostable in the final formulation</li>
						</ol>
					</li>
				</ul>
			</li>
		</ol>
	</div><br />
</div>

<div class="recapSection">
	<a name="europe-recall-summary" class="bookmark"></a>
	<strong>Recall Cases Summary Europe Recalls Summary (August and September 2016)</strong>
	<p>In Europe, when hazards are identified in consumer products, the products will be recalled and published in the <a href="http://ec.europa.eu/consumers/consumers_safety/safety_products/rapex/alerts/main/index.cfm?event=main.search#searchResults" target="_blank">Rapid Alert System</a>, which is updated weekly. The European recalls for August and September 2016 are summarized below:</p>
	<a href="/regulatory-updates/October-2016/europe-recall-summary" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<center><img src="https://s3.asiainspection.com/newsletters/2016_10_RegRecap/EU_hazards.gif" style="width:90%; max-width:850px;" /></center>
		<table>
			<tr>
				<td><b>Hazard</b></td>
				<td><b>Frequency</b></td>
			</tr>
			<tr>
				<td>Chemical Hazards^</td>
				<td>111</td>
			</tr>
			<tr>
				<td>Choking Hazard</td>
				<td>53</td>
			</tr>
			<tr>
				<td>Injury Hazard</td>
				<td>28</td>
			</tr>
			<tr>
				<td>Electric Shock Hazard</td>
				<td>26</td>
			</tr>
			<tr>
				<td>Strangulation Hazard</td>
				<td>13</td>
			</tr>
			<tr>
				<td>Fire Hazard</td>
				<td>10</td>
			</tr>
			<tr>
				<td>Burn Hazard</td>
				<td>8</td>
			</tr>
			<tr>
				<td>Microbial Hazard</td>
				<td>7</td>
			</tr>
			<tr>
				<td>Drowning Hazard</td>
				<td>6</td>
			</tr>
			<tr>
				<td>Other Hazards*</td>
				<td>11</td>
			</tr>
		</table>
		<p><b>^</b> Chemical Hazards include Violation of Cosmetic Product Regulation, Violation of Detergents Regulation, Violation of National Legislation, Violation of REACH Regulation and Violation of Toy Safety Directive</p>
		<p><b>*</b> Other Hazards include Entrapment Hazard, Hearing Hazard, Laceration Hazard, Sight Hazard, Suffocation Hazard, Violation of Cosmetic Product Regulation and Violation of CLP Regulation with frequency less than 5.</p>
		<br />
		<center><img src="https://s3.asiainspection.com/newsletters/2016_10_RegRecap/EU_categories.gif" style="width:90%; max-width:850px;" /></center>
		<table>
			<tr>
				<td><b>Product Categories</b></td>
				<td><b>Frequency</b></td>
			</tr>
			<tr>
				<td>Toys and Childcare Articles</td>
				<td>112</td>
			</tr>
			<tr>
				<td>Fabric / Textile / Garment / Home Textile</td>
				<td>39</td>
			</tr>
			<tr>
				<td>Cosmetics</td>
				<td>22</td>
			</tr>
			<tr>
				<td>Jewelry, Watch or other Fashion Accessories</td>
				<td>17</td>
			</tr>
			<tr>
				<td>Footwear</td>
				<td>12</td>
			</tr>
			<tr>
				<td>Lighting</td>
				<td>11</td>
			</tr>
			<tr>
				<td>Home Electrical Appliances (Hair dryer, iron, etc.)</td>
				<td>9</td>
			</tr>
			<tr>
				<td>Personal Protective Equipment (excludes eye protection)</td>
				<td>8</td>
			</tr>
			<tr>
				<td>Computer / Audio / Video / Other Electronics &amp; Accessories</td>
				<td>6</td>
			</tr>
			<tr>
				<td>Other Categories#</td>
				<td>17</td>
			</tr>
		</table>
		<p><b>#</b> Other Categories include Candles &amp; Burning Items and Accessories, Consumer Chemicals, Eyewear, Food Contact Material, Sporting Goods / Equipment and Tools and Hardware with frequency less than 5.</p>
	
		<p>Download the complete <a href="https://s3.asiainspection.com/newsletters/2016_10_RegRecap/AI_ANSECO_europe_recalls_2016.10.pdf">Recalls Summary – EU (August and September 2016)</a></p>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="asia_news" class="bookmark"></a>
	<h2>ASIA NEWS</h2>
</div>

<div class="recapSection">
	<a name="aqsiq-toys-quarantine" class="bookmark"></a>
	<strong>China AQSIQ Implements New Policy on Import and Export Inspection and Quarantine on Certain Toys and Children Products</strong>
	<p>On September 1, 2016, the General Administration of Quality Supervision, Inspection and Quarantine of the People’s Republic of China (AQSIQ) implemented a <a href="http://www.aqsiq.gov.cn/xxgk_13386/jlgg_12538/zjgg/2016/201608/t20160825_472892.htm" target="_blank">new inspection and quarantine policy on imported and exported toys and children’s products</a>.</p>
	<a href="/regulatory-updates/October-2016/aqsiq-toys-quarantine" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>According to China Law of Import and Export Commodity Inspection, products that are listed in the catalogue must be inspected and meet certain criterion, such as quality, specifications, quantity, weight, packing and the requirements for safety and hygiene. The products shall also meet the China national compulsory requirements before they are imported to or exported from China.  </p>
		<p>According to the new policy, toys and children’s products exported from China will no longer be subjected to the inspection and quarantine requirements. The catalogue is, therefore, updated and the key changes are summarized below:</p>
		<table>
			<tr>
				<td align="center"><b>Item</b></td>
				<td align="center"><b>Product Type</b></td>
				<td align="center"><b>Inspection and quarantine requirements (Expired rule)</b></td>
				<td align="center"><b>Inspection and quarantine requirements (Newly implemented rule)</b></td>
			</tr>
			<tr>
				<td align="center">1</td>
				<td align="center">Tricycles, scooters, pedal cars and similar wheeled toys</td>
				<td align="center">Exported goods only</td>
				<td align="center">Not required</td>
			</tr>
			<tr>
				<td align="center">2</td>
				<td align="center">Animal dolls, whether dressed or not</td>
				<td align="center">Imported and exported goods</td>
				<td align="center">Imported goods only</td>
			</tr>
			<tr>
				<td align="center">3</td>
				<td align="center">Other dolls, whether dressed or not</td>
				<td align="center">Imported and exported goods</td>
				<td align="center">Imported goods only</td>
			</tr>
			<tr>
				<td align="center">4</td>
				<td align="center">Electrical train model with size scaled down</td>
				<td align="center">Imported and exported goods</td>
				<td align="center">Imported goods only</td>
			</tr>
			<tr>
				<td align="center">5</td>
				<td align="center">Complete set of model with size scaled down (whether active or not)</td>
				<td align="center">Imported and exported goods</td>
				<td align="center">Imported goods only</td>
			</tr>
			<tr>
				<td align="center">6</td>
				<td align="center">Construction toys set and construction toys</td>
				<td align="center">Imported and exported goods</td>
				<td align="center">Imported goods only</td>
			</tr>
			<tr>
				<td align="center">7</td>
				<td align="center">Toys musical instruments</td>
				<td align="center">Imported and exported goods</td>
				<td align="center">Imported goods only</td>
			</tr>
			<tr>
				<td align="center">8</td>
				<td align="center">Intelligence toys</td>
				<td align="center">Imported and exported goods</td>
				<td align="center">Imported goods only</td>
			</tr>
			<tr>
				<td align="center">9</td>
				<td align="center">Other toys set</td>
				<td align="center">Imported and exported goods</td>
				<td align="center">Imported goods only</td>
			</tr>
			<tr>
				<td align="center">10</td>
				<td align="center">Toys and models with powered devices</td>
				<td align="center">Imported and exported goods</td>
				<td align="center">Imported goods only</td>
			</tr>
			<tr>
				<td align="center">11</td>
				<td align="center">Other toys</td>
				<td align="center">Imported and exported goods</td>
				<td align="center">Imported goods only</td>
			</tr>
			<tr>
				<td align="center">12</td>
				<td align="center">Toys or models parts</td>
				<td align="center">Imported and exported goods</td>
				<td align="center">Imported goods only</td>
			</tr>
			<tr>
				<td align="center">13</td>
				<td align="center">Festive supplies or entertainment items (including magic props and other items for fun)</td>
				<td align="center">Exported goods only</td>
				<td align="center">Not required</td>
			</tr>
			<tr>
				<td align="center">14</td>
				<td align="center">Baby carriages and their parts</td>
				<td align="center">Imported and exported goods</td>
				<td align="center">Imported goods only</td>
			</tr>
			<tr>
				<td align="center">15</td>
				<td align="center">Children car seats</td>
				<td align="center">Imported and exported goods</td>
				<td align="center">Imported goods only</td>
			</tr>
			<tr>
		</table>
	</div><br />
</div>

<br /><p><i>This summary is not intended to be exhaustive nor should it be construed as legal advice.</i></p>