<!-- { "Title":"October 2017 Recap", "PublishDate":"2017-10-23", "Description":"NORTH AMERICA NEWS - On September 28, 2017, the Consumer Product Safety Commission (CPSC) issued Guidance Documents, 82 FR 45268, related to certain consumer products that may contain harmful organohalogen flame retardants." }-->
<div class="recapSectionHeader">
	<ol style="margin-top:10px;">
		<li style="margin-bottom:10px;"><a href="#north_america_news">NORTH AMERICA NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#europe_news">EUROPE NEWS</a></li>
	</ol>
	<hr />
</div>

<div class="recapSectionHeader">
	<a name="north_america_news" class="bookmark"></a>
	<h2>NORTH AMERICA NEWS</h2>
</div>

<div class="recapSection">
	<a name="oct2017-us-cpsc-issues-flame-retardants" class="bookmark"></a>
	<strong>US CPSC Issues Guidance to Manufacturers of Products that May Contain Harmful Flame Retardants</strong>
	<p>On September 28, 2017, the Consumer Product Safety Commission (CPSC) issued <a href="https://www.federalregister.gov/documents/2017/09/28/2017-20733/guidance-document-on-hazardous-additive-non-polymeric-organohalogen-flame-retardants-in-certain" target="_blank">Guidance Documents, 82 FR 45268</a>, related to certain consumer products that may contain harmful organohalogen flame retardants.</p>
	<a href="/regulatory-updates/October-2017/oct2017-us-cpsc-issues-flame-retardants" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In order to protect consumers and children from the potential toxic effects from exposure to these harmful flame retardants, the CPSC recommends manufacturers of the below products not intentionally add non-polymeric, organohalogen flame retardants in their products:</p>
		<ol>
			<li>Durable infant or toddler products, children’s toys, child care articles or other children’s products (other than children’s car seats)</li>
			<li>Residential upholstered furniture</li>
			<li>Mattress and mattress pads</li>
			<li>Plastic casing surrounding electronics</li>
		</ol>
		<p>In the guidance, it is explained further that organohalogen flame retardants are typically added to foam, textiles and polymers before, during or after production to improve the product’s resistance to fire. The flame retardants are not chemically bound to the substrate, which may lead to serious public health concerns when being released from the product.</p>
		<p>Therefore, the CPSC has voted to grant the petition to initiate rulemaking under the Federal Hazardous Substances Act (FHSA) on September 20, 2017.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="oct2017-us-cpsc-exempt-wood" class="bookmark"></a>
	<strong>US CPSC Issues Draft Rulemaking Notice for Determining the Exemption of Certain Untreated and Unfinished Engineered Wood Products</strong>
	<p>On September 27, 2017, the Consumer Product Safety Commission (CPSC) issued a <a href="https://www.cpsc.gov/content/ballot-vote-draft-notice-of-proposed-rulemaking-children%E2%80%99s-products-children%E2%80%99s-toys-and" target="_blank">draft rulemaking notice</a> to determine that certain untreated and unfinished engineered wood products would not contain harmful chemicals that are limited under CPSIA and ASTM F963.</p>
	<a href="/regulatory-updates/October-2017/oct2017-us-cpsc-exempt-wood" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Upon approval, the following three untreated and unfinished engineered wood products, which are made from virgin wood or pre-consumer waste wood, would be exempted from third party testing for compliance with the requirements of CPSIA lead, CPSIA phthalates and ASTM F963 heavy elements in children’s products, children’s toys and child care articles: </p>
		<ol>
			<li>Particleboard</li>
			<li>Hardwood plywood</li>
			<li>Medium Density fiberboard</li>
		</ol>
	</div><br />
</div>

<div class="recapSection">
	<a name="oct2017-epa-extends-deadline-formaldehyde" class="bookmark"></a>
	<strong>US EPA Extends Compliance Deadline to Formaldehyde in Composite Wood</strong>
	<p>On September 25, 2017, the Environmental Protection Agency (EPA) issued final rule, <a href="https://www.regulations.gov/contentStreamer?documentId=EPA-HQ-OPPT-2017-0244-0013&contentType=pdf" target="_blank">82 FR 44533</a>, to extend the date of compliance to formaldehyde emission standards for composite wood products under the Toxic Substances Control Act (TSCA).</p>
	<a href="/regulatory-updates/October-2017/oct2017-epa-extends-deadline-formaldehyde" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In the final rule, the compliance dates are updated as follows:</p>
		<table style="width: 90%">
			<tr>
				<td style="font-weight:bold;">Provisions</td>
				<td style="font-weight:bold;">Compliance Date (Old)</td>
				<td style="font-weight:bold;">Compliance Date (Updated)</td>
			</tr>
			<tr>
				<td>Compliance to emission standards, recordkeeping and labeling </td>
				<td>December 12, 2017</td>
				<td>December 12, 2018</td>
			</tr>
			<tr>
				<td>Compliance to import certification</td>
				<td>December 12, 2018</td>
				<td>March 22, 2019</td>
			</tr>
			<tr>
				<td>Compliance to emission standards (laminated product producer)</td>
				<td>December 12, 2023</td>
				<td>March 22, 2024</td>
			</tr>
			<tr>
				<td>Transition period for CARB Third-Party Certifiers (TPCs) to be TSCA approved TPCs</td>
				<td>December 12, 2018</td>
				<td>March 22, 2019</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="oct2017-cal-listing-vinylidene" class="bookmark"></a>
	<strong>US State of California OEHHA Issues Notice Regarding Listing Intention for Vinylidene Chloride and Proposes its NSRL</strong>
	<p>On September 22, 2017, the California Office of Environmental Health Hazard Assessment (OEHHA) issued a <a href="https://oehha.ca.gov/proposition-65/crnr/notice-intent-list-chemical-labor-code-mechanism-vinylidene-chloride" target="_blank">notice of intention to add Vinylidene Chloride</a> to the Proposition 65 list of chemicals known to the state to cause cancer.</p>
	<a href="/regulatory-updates/October-2017/oct2017-cal-listing-vinylidene" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<p>The chemical details are:</p>
	<table>
		<tr>
			<td style="text-align: center; font-weight: bold;">Chemical</td>
			<td style="text-align: center; font-weight: bold;">Chemical Abstracts Service<br />Number (CAS No.)</td>
			<td style="text-align: center; font-weight: bold;">Types of Toxicity</td>
		</tr>
		<tr>
			<td>Vinylidene Chloride<br />(1,1-Dichloroethylene)</td>
			<td>75-35-4</td>
			<td>Cancer</td>
		</tr>
	</table>
	<p>On the same day, the OEHHA <a href="https://oehha.ca.gov/proposition-65/crnr/notice-proposed-rulemaking-title-27-california-code-regulations-amendment-9" target="_blank">proposed rulemaking to adopt Proposition 65 No Significant Risk Level (NSRL),</a> of 0.88 mg/day for vinylidene chloride. The comment period for the proposed adoption will end on November 6, 2017.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="oct2017-washington-adopts-amend-chcc" class="bookmark"></a>
	<strong>US State of Washington DOE Adopts Rule to Amend CHCC Reporting Rules</strong>
	<p>On September 29, 2017, the Washington Department of Ecology (DOE) adopted the <a href="http://www.ecy.wa.gov/laws-rules/wac173334/x1608a.pdf" target="_blank">proposal for the Chemical of High Concern to Children (CHCC) reporting rule and list amendment</a> (See <a href="https://www.asiainspection.com/regulatory-updates/April-2017/apr2017-washington-proposal-amend-chcc-reporting" target="_blank">Regulatory Recap: April 2017</a>).</p>
	<a href="/regulatory-updates/October-2017/oct2017-washington-adopts-amend-chcc" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<p>The key changes for the CHCC reporting rule are summarized below:</p>
	<ol>
		<li>Adds two new definitions:</li>
		<ol style="list-style-type: lower-alpha;">
			<li>De minimis level</li>
			<li>Internal component</li>
		</ol>
		<li>Provides updated schedule for manufacturers to report children’s product containing a CHCC that is higher than the de minimis level:</li>
		<ol style="list-style-type: lower-alpha;">
			<li>On January 1, 2019 and annually thereafter (the report is due on January 1, 2019 for children’s products that are sold or offered for sale in Washington between September 1, 2017 and December 31, 2018.)</li>
		</ol>
		<li>Updates the CHCC list from 66 CHCC to 85 CHCC </li>
		<ol style="list-style-type: lower-alpha;">
			<li>Added 22 new CHCC</li>
			<li>Deleted 3 existing CHCC</li>
		</ol>
	</ol>
	</div><br />
</div>

<div class="recapSection">
	<a name="oct2017-us-recall-sum" class="bookmark"></a>
	<strong>US Recalls Summary (May – September 2017)</strong>
	<p>In the US, when hazards are identified in consumer products, they will be recalled and published in the <a href="http://www.cpsc.gov/en/Recalls/" target="_blank">Consumer Product Safety Commission (CPSC) Recent Recalls</a> on the CPSC website, which is updated daily. The US recalls from May 1 to September 30, 2017 are summarized below:</p>
	<a href="/regulatory-updates/October-2017/oct2017-us-recall-sum" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<center><img src="https://s3.asiainspection.com/newsletters/2017-10-Reg-Recap-Master/US_recall_hazards.png" style="width:90%; max-width:850px;"></center>
		<table>
			<tr>
				<td style="font-weight: bold; text-align: center;">Hazards</td>
				<td style="font-weight: bold; text-align: center;">Frequency</td>
			</tr>
			<tr>
				<td>Burn Hazard</td>
				<td style="text-align: right;">24</td>
			</tr>
			<tr>
				<td>Fire Hazard</td>
				<td style="text-align: right;">17</td>
			</tr>
			<tr>
				<td>Fall Hazard</td>
				<td style="text-align: right;">14</td>
			</tr>
			<tr>
				<td>Choking Hazard</td>
				<td style="text-align: right;">13</td>
			</tr>
			<tr>
				<td>Electric Shock Hazard</td>
				<td style="text-align: right;">11</td>
			</tr>
			<tr>
				<td>Injury Hazard</td>
				<td style="text-align: right;">10</td>
			</tr>
			<tr>
				<td>Other Hazards*</td>
				<td style="text-align: right;">33</td>
			</tr>
		</table>
		<span>*Other Hazards include Chemical Hazard, Entrapment Hazard, Impact Hazard, Ingestion Hazard, Laceration Hazard, Microbial Hazard, Strangulation Hazard, Tip-over Hazard, Violation of Federal Standard (Flammability) and Violation of Federal Standard (Lead) with a frequency of less than 10.</span>
		<br /><br />
		<center><img src="https://s3.amazonaws.com/s3.asiainspection.com/newsletters/2017-10-Reg-Recap-Master/US_recall_categories.png" style="width:90%; max-width:850px;"></center>
		<table>
			<tr>
				<td style="font-weight: bold; text-align: center;">Product Categories</td>
				<td style="font-weight: bold; text-align: center;">Frequency</td>
			</tr>
			<tr>
				<td>Fabric / Textile / Garment / Home Textile</td>
				<td style="text-align: right;">14</td>
			</tr>
			<tr>
				<td>Sporting Goods / Equipment</td>
				<td style="text-align: right;">13</td>
			</tr>
			<tr>
				<td>Furniture</td>
				<td style="text-align: right;">11</td>
			</tr>
			<tr>
				<td>Toys and Childcare Articles</td>
				<td style="text-align: right;">11</td>
			</tr>
			<tr>
				<td>Home Electrical Appliances (Hair Dryer, Iron, etc.)</td>
				<td style="text-align: right;">9</td>
			</tr>
			<tr>
				<td>Lighting Equipment</td>
				<td style="text-align: right;">8</td>
			</tr>
			<tr>
				<td>Other Categories^</td>
				<td style="text-align: right;">24</td>
			</tr>
		</table>
		<span>^Other Categories include Candles &amp; Burning Items and Accessories, Computer / Audio / Video / Other Electronics &amp; Accessories, Consumer Chemicals, Food Contact Material, Footwear, Juvenile Products and Tools and Hardware with a frequency of less than 7.</span>
		<br /><br />
		<p>For the complete Recall Summary <a href="https://s3.asiainspection.com/newsletters/2017-10-Reg-Recap-Master/Recap-for-October-2017-10-20-recall.doc" target="_blank">Click Here</a></p>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="europe_news" class="bookmark"></a>
	<h2>EUROPE NEWS</h2>
</div>

<div class="recapSection">
	<a name="oct2017-cen-amends-en71-3" class="bookmark"></a>
	<strong>EU CEN Amends EN 71-3 Related to Migration of Certain Elements</strong>
	<p>In August 2017, the European Committee for Standardization (CEN) published a new amendment to toys safety standard for migration of certain elements, EN 71-3:2013+A2:2017. The amended standard supersedes EN 71-3:2013+A1:2014.</p>
	<a href="/regulatory-updates/October-2017/oct2017-cen-amends-en71-3" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>In the amended standard, EN 71-3:2013+A2:2017, the key changes are summarized below:</p>
		<ol>
			<li>Updated test methods for detection of organic tin</li>
			<li>Added organic tin confirmation method: ISO/TS 16179</li>
		</ol>
		<p>Upon harmonisation to Toys Safety Directive 2009/48/EC, the standard will become mandatory.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="oct2017-eu-proposes-reg-bpa" class="bookmark"></a>
	<strong>EU Proposes Amendment of Food Contact Plastic Regulation Regarding BPA</strong>
	<p>On September 6, 2017, the European Commission proposed to amend Regulation (EU) No. 10/2011 through <a href="https://docs.wto.org/dol2fe/Pages/FE_Search/FE_S_S006.aspx?MetaCollection=WTO&SymbolList=&Serial=%2217-4734%22&IssuingDateFrom=&IssuingDateTo=&CATTITLE=&ConcernedCountryList=&OtherCountryList=&SubjectList=&TypeList=&FullTextHash=371857150&ProductList=&Body" target="_blank">World Trade Organization (WTO) notifications</a>. The amendment is related to the migration limit of Bisphenol A (BPA).</p>
	<a href="/regulatory-updates/October-2017/oct2017-eu-proposes-reg-bpa" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Upon approval, the proposed regulation will amend the Regulation (EU) No. 10/2011 on plastic material that is intended to come into contact with food. The specific migration limit will be updated from 0.6 mg/kg to 0.05 mg/kg.</p>
		<p>Apart from the specific migration limit, the restriction and specification has been updated:</p>
		<ol>
			<li>BPA is not allowed to be used for the manufacture of polycarbonate infant feeding bottles</li>
			<li>No migration of BPA is permitted from the plastic materials and articles specifically intended to be brought into contact with food for infants and young children</li>
		</ol>
	</div><br />
</div>

<div class="recapSection">
	<a name="oct2017-eu-proposes-toy-safety-chromium" class="bookmark"></a>
	<strong>EU Proposes Amendment on Toys Safety Directive Regarding Chromium (VI)</strong>
	<p>In September 2017, the European Commission issued a draft directive to propose amendment of the Toys Safety Directive 2009/48/EC. The amendment is related to the migration limit of Chromium (VI).</p>
	<a href="/regulatory-updates/October-2017/oct2017-eu-proposes-toy-safety-chromium" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The migration limit for Chromium (VI) is proposed to be strengthened and the amendment summary is listed below:</p>
		<table>
			<tr>
				<td>&nbsp;</td>
				<td style="font-weight: bold;">Category I<br />Dry, brittle, powder-like<br />or pliable toy material</td>
				<td style="font-weight: bold;">Category II<br />Liquid or sticky toy<br />material</td>
				<td style="font-weight: bold;">Category III<br />Scraped-off toy material</td>
			</tr>
			<tr>
				<td style="font-weight: bold;">Chromium (VI) – Old</td>
				<td>0.02</td>
				<td>0.005</td>
				<td>0.2</td>
			</tr>
			<tr>
				<td style="font-weight: bold;">Chromium (VI) – New</td>
				<td>0.02</td>
				<td>0.005</td>
				<td>0.053</td>
			</tr>
		</table>
	</div><br />
</div>
