<!-- { "Title":"September 2016 Recap", "PublishDate":"2016-09-22", "Description":"NORTH AMERICA NEWS - After receiving a petition, the Consumer Product Safety Commission (CPSC) published a notice on September 1, 2016 in the Federal Register to request comments on amending the Statement of Interpretation and Enforcement Policy regarding the labeling of household products containing methylene chloride." }-->

<div class="recapSectionHeader">
    <ol style="margin-top:10px;">
        <li style="margin-bottom:10px;"><a href="#north_america_news">NORTH AMERICA NEWS</a></li>
        <li style="margin-bottom:10px;"><a href="#south_america_news">SOUTH AMERICA NEWS</a></li>
        <li style="margin-bottom:10px;"><a href="#europe_news">EUROPE NEWS</a></li>
        <li style="margin-bottom:10px;"><a href="#australia_new_zealand_news">AUSTRALIA / NEW ZEALAND NEWS</a></li>
        <li style="margin-bottom:10px;"><a href="#asia_news">ASIA NEWS</a></li>
    </ol>
    <hr />
</div>

<div class="recapSectionHeader">
    <a name="north_america_news" class="bookmark"></a>
    <h2>NORTH AMERICA NEWS</h2>
</div>

<div class="recapSection">
    <a name="cpsc_petition" class="bookmark"></a>
    <strong>US CPSC Receives Petition Regarding Amendment of Labeling of Household Products Containing Methylene Chloride</strong>
    <p>After receiving a petition, the Consumer Product Safety Commission (CPSC) published <a href="https://www.federalregister.gov/articles/2016/09/01/2016-20928/petition-to-amend-statement-of-interpretation-and-enforcement-policy-regarding-labeling-of-household?utm_campaign=subscription+mailing+list&utm_medium=email&utm_source=federalregister.gov" target="_blank">a notice on September 1, 2016 in the Federal Register</a> to request comments on amending the Statement of Interpretation and Enforcement Policy regarding the labeling of household products containing methylene chloride.</p>
    <a href="/regulatory-updates/September-2016/cpsc-petition" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>Currently, the policy statement provides guidance and sets forth general principles and examples for labeling to warn consumers of the potential cancer hazard resulting from certain household products, including paint strippers and adhesive removers, which contain methylene chloride. However, it does not address any acute hazard posed by inhalation of methylene chloride vapor. Therefore, the petitioner, Halogenated Solvents Industry Alliance, Inc., asked the CPSC to expand the policy statement to address the need for an acute hazard warning label on household products containing methylene chloride that are readily available for consumers to purchase and use.</p>
        <p>The comment period concerning the petition is open until October 31, 2016.</p>
    </div><br />
</div>

<div class="recapSection">
    <a name="cpsc_portable_hook_chairs" class="bookmark"></a>
    <strong>US CPSC Final Rule for Portable Hook-On Chairs Enters into Force</strong>
    <p>On September 28, 2016, the Consumer Product Safety Commission (CPSC) <a href="https://www.gpo.gov/fdsys/pkg/FR-2016-03-28/pdf/2016-06769.pdf" target="_blank">Final Rule 81 FR 17062</a> will enter into force. The rule amended 16 CFR 1112 and 1233 by providing an applicable safety standard for portable hook-on chairs, ASTM F1235-15.</p>
    <a href="/regulatory-updates/September-2016/cpsc-portable-hook-chairs" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The standard ASTM F1235-15 defines portable hook-on chairs as usually a legless seat constructed to locate the occupant at a table in such a position and elevation so that the surface of the table can be used as the feeding surface for the occupant (supported solely by the table on which it is mounted). </p>
        <p>The standard includes performance requirements and test methods designed to ensure the satisfactory performance, and hence, minimize injuries to children resulting from normal use and reasonably foreseeable misuse or abuse of portable hook-on chairs.</p>
    </div><br />
</div>

<div class="recapSection">
    <a name="cpsc_carriages_and_strollers" class="bookmark"></a>
    <strong>US CPSC Direct Final Rule for Carriages and Strollers Enters into Force</strong>
    <p>On October 2, 2016, the Consumer Product Safety Commission (CPSC) <a href="https://www.gpo.gov/fdsys/pkg/FR-2016-06-09/pdf/2016-13663.pdf" target="_blank">Direct Final Rule 81 FR 37128</a> will enter into force. The rule will revise 16 CFR 1227 to adopt an updated applicable standard for carriages and strollers, ASTM F833-15.</p>
    <a href="/regulatory-updates/September-2016/cpsc-carriages-and-strollers" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>In the direct final rule, a new version of the standard, ASTM F833-15 Standard Consumer Safety Performance Specification for Carriages and Strollers, will be adopted and replace the current 2013b version. The key changes in the new standard are summarized in our <a href="http://www.asiainspection.com/regulatory-updates/July-2016" target="_blank">previous Regulatory Recap: July 2016</a>.</p>
    </div><br />
</div>

<div class="recapSection">
    <a name="updates_of_astm_standards" class="bookmark"></a>
    <strong>Updates of ASTM Standards</strong>
    <p>Below is a summary of recently updated ASTM standards that may be of interest to our clients:</p>
    <a href="/regulatory-updates/September-2016/updates-of-astm-standards" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <table>
            <tr>
                <td align="center"><b>CPSIA / CFR Reference</b></td>
                <td align="center"><b>ASTM Standard No.</b></td>
                <td align="center"><b>Detail</b></td>
            </tr>
            <tr>
                <td align="center">-</td>
                <td align="center">ASTM F1004-16b</td>
                <td>
                    <p><b>Standard Consumer Safety Specification for Expansion Gates and Expandable Enclosures</b></p>
                    <p>Covers minimum safety performance requirements, test methods, and requirements for labeling and instructional material to minimize hazards to young children resulting from the normal use and reasonably foreseeable misuse and abuse of expansion gates and expandable enclosures.</p>
                </td>
            </tr>
            <tr>
                <td align="center">-</td>
                <td align="center">ASTM F2601-16a</td>
                <td>
                    <p><b>Standard Specification for Fire Safety for Candle Accessories</b></p>
                    <p>Prescribes the performance requirements and corresponding test procedures for candle accessories to help ensure a reasonable degree of personal safety during normal use, thereby, reducing incidences of fires, deaths, and injuries.</p>
                </td>
            </tr>
            <tr>
                <td align="center">16 CFR 1234 (Proposed)</td>
                <td align="center">ASTM F2670-16a</td>
                <td>
                    <p><b>Standard Consumer Safety Specification for Infant Bath Tubs</b></p>
                    <p>Establishes performance requirements, test methods, and labeling requirements to promote the safe use of infant bath tubs. Specifically excluded from the scope of this standard are products commonly known as bath slings, typically made of fabric or mesh.</p>
                </td>
            </tr>
        </table>
    </div><br />
</div>

<div class="recapSection">
    <a name="astm_summary_candles" class="bookmark"></a>
    <strong>ASTM Changes Summary Related to Candle Accessories: ASTM F2601-16a</strong>
    <p>In August 2016, <a href="https://www.astm.org/Standards/F2601.htm" target="_blank">a new version of ASTM F2601-16a</a> Standard Specification for Fire Safety for Candle Accessories was published. Changes have been made to definitions, safety and performance requirements and procedures.</p>
    <a href="/regulatory-updates/September-2016/astm-summary-candles" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>Key changes of ASTM F2601-16a are summarized below:</p>
        <ol>
            <li>Definitions of the following terms are updated:<br />
                <ol>
                    <li>"Candle burner" is now defined as a candle holder that restricts the free flow of exiting combustion gases, including, but not limited to, lanterns, potpourri burners and food warmers.</li>
                    <li>"Shade" is newly added and is defined as a candle accessory placed above the candle, whose function is to modify light from the flame and change the appearance of the candle.</li>
                    <li>"Topper" is newly added and is defined as a vented candle accessory, which is placed directly on top of a container candle, to modify airflow.</li>
                </ol>
            </li>
            <li>There are additional requirements that apply to all types of burners designed to use a candle as a source of heat or light, or both. Candles accessories marketed as food warmers must be assessed to determine whether the item qualifies as a candle burner, a candle holder or other type of accessory and evaluated accordingly. Candle burners and potpourri burners are also subject to the requirements. Updated requirements include:<br />
                <ol>
                    <li>A new warning label is required for all candle burners which have the capability of accepting multiple types of candles, For example: "WARNING: For use with <u>one, single wick container candle (Quantity, size, number of wicks and type of candle)</u> up to 22 ounces."</li>
                    <li>If the appropriate candle in burner is a tealight, it must meet the requirements of fire safety. If the unit can be used with multiple candles, the unit is to be tested with the largest candle and the maximum number of candles specified on the label of the burner.</li>
                    <li>The new determination method requires exactly three identical candle burner samples to be tested. Each of them must be tested for at least 8 candle burn cycles. If candle reaches end of life before the 8th cycle, the test will be continued with a new candle until 8 cycles are completed. </li>
                    <li>For burner that requires tea light or candle that reach end of life within 4 hours, each candle burned to the end of life is considered a complete cycle. Thus, eight complete cycles are required. </li>
                    <li>Any candle burner shall be tested to the manufacturer’s specified instructions for use.</li>
                </ol>
            </li>
        </ol>
    </div><br />
</div>

<div class="recapSection">
    <a name="california_prop65_60_day" class="bookmark"></a>
    <strong>US State California Proposition 65: Recent 60-Day Notices</strong>
    <p>In 1986, California voters approved an initiative titled California Proposition 65 to address their growing concerns about exposure to toxic chemicals. Since its origin, there have been many lawsuits that have resulted in reformulations of consumer products containing carcinogenic and reproductively harmful chemicals on the Cal Prop 65 list.</p>
    <a href="/regulatory-updates/September-2016/california-prop65-60-day" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>60-day notices from July and August of 2016 include the following:</p>
        <table>
            <tr>
                <td><b>Chemical</b></td>
                <td width="40%"><b>Product / Source</b></td>
                <td><b>Number of Notices</b></td>
            </tr>
            <tr>
                <td>Acrylamide</td>
                <td>Fried or Baked Sweet Potato Based Snack Foods</td>
                <td align="center">2</td>
            </tr>
            <tr>
                <td>Arsenic (inorganic arsenic compounds), Arsenic (inorganic oxides), Lead</td>
                <td>Clay Powder</td>
                <td align="center">2</td>
            </tr>
            <tr>
                <td rowspan="4">Cadmium</td>
            </tr>
            <tr>
                <td>Necklaces</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Caccao Powder / Nibs</td>
                <td align="center">7</td>
            </tr>
            <tr>
                <td>Antacid Tablets</td>
                <td align="center">12</td>
            </tr>
            <tr>
                <td>Carbon monoxide, Soots, tars, and mineral oils</td>
                <td>Fire Pit</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td rowspan="30">Di(2-ethylhexyl)phthalate (DEHP)</td>
            </tr>
            <tr>
                <td>Throttle Control</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Wheelchair Cushion</td>
                <td align="center">2</td>
            </tr>
            <tr>
                <td>Bedding Protector</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Medical Bedside Mat</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Tweezer Case</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Jewelry Boxes</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Fitness balls</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Rain boots</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Shower tubing</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Fishing System</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Audio Cable</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>PVC Rain Suit</td>
                <td align="center">2</td>
            </tr>
            <tr>
                <td>Training Gloves</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Camp Sink and Worktop</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Suction Catheter Trays with Chimney Valve</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Clutch</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Windshield Visor</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Shower Cap</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Sink Stopper</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Vinyl/PVC Syringes</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Vinyl/PVC Table Tennis Paddle Hand Grips</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Vinyl/PVC Helmet Pumps</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Clothesline Wires</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Solar Panels with Vinyl/PVC Wires</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Grooming Products with Polymer Covers</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Children's Footwear</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Turkey and roast lifters with polymer handles</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Suit storage bags</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Photo Albums</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td rowspan="3">Di(2-ethylhexyl)phthalate (DEHP), Di-isodecyl phthalate (DIDP), Diisononyl phthalate (DINP)</td>
            </tr>
            <tr>
                <td>Hose</td>
                <td align="center">3</td>
            </tr>
                <td>Vinyl/PVC Dustpan Grips, Tongs with Vinyl/PVC Handles/Grips, Vinyl Covers, Vinyl Flatware Carriers, Squeegees with Vinyl/PVC Blades, Vinyl/PVC Washer Bases (Suction Cups used in Sink), Vinyl/PVC Tethers, Vehicle Brushes with vinyl/PVC Bumpers</td>
                <td align="center">1</td>
            <tr>
                <td>Di(2-ethylhexyl)phthalate (DEHP), Di-isodecyl phthalate (DIDP), Di-n-butyl phthalate (DBP), Diisononyl phthalate (DINP)</td>
                <td>Hose</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td rowspan="4">Di(2-ethylhexyl)phthalate (DEHP), Diisononyl phthalate (DINP)</td>
            </tr>
            <tr>
                <td>Headphones</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Hose</td>
                <td align="center">3</td>
            </tr>
            <tr>
                <td>Sport Bag with Snorkel Gear</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Di(2-ethylhexyl)phthalate, Di-isodecyl phthalate (DIDP), Diisononyl phthalate (DINP)</td>
                <td>Vinyl/PVC Dustpan Grips, Tongs with Vinyl/PVC Handles/Grips, Vinyl Covers, Squeegees with Vinyl/PVC Blades, Vinyl/PVC Washer Bases (Suction Cups used in Sink), Vinyl/PVC Tethers, Vehicle Brushes with vinyl/PVC Bumpers</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Di-isodecyl phthalate (DIDP)</td>
                <td>Vinyl Pillow</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td rowspan="8">Diisononyl phthalate (DINP)</td>
            </tr>
            <tr>
                <td>Bolster Roll</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Medical Inflatable Vinyl Invalid Ring</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Cando Foam Wedge</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Plastic liners</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Fishing Lures</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Gloves</td>
                <td align="center">2</td>
            </tr>
            <tr>
                <td>Shower Cap</td>
                <td align="center">2</td>
            </tr>
            <tr>
                <td rowspan="3">Di-n-butyl phthalate (DBP)</td>
            </tr>
            <tr>
                <td>Sandals</td>
                <td align="center">2</td>
            </tr>
            <tr>
                <td>Exercise Balls</td>
                <td align="center">2</td>
            </tr>
            <tr>
                <td>Ethylene Glycol</td>
                <td>Anti-freeze/Coolant</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td rowspan="20">Lead</td>
            </tr>
            <tr>
                <td>Adapters</td>
                <td align="center">2</td>
            </tr>
            <tr>
                <td>Air Chucks</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Connectors</td>
                <td align="center">3</td>
            </tr>
            <tr>
                <td>Air Line Oilers</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Mortise Cylinders</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Valves</td>
                <td align="center">5</td>
            </tr>
            <tr>
                <td>Wall Flanges</td>
                <td align="center">2</td>
            </tr>
            <tr>
                <td>Brass Stems</td>
                <td align="center">2</td>
            </tr>
            <tr>
                <td>Goji Berries</td>
                <td align="center">2</td>
            </tr>
            <tr>
                <td>Shot Glasses</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Shock Absorbers</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Air Regulators</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Toilet Tank Ball Guides</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Ballcocks</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Brass Fittings</td>
                <td align="center">2</td>
            </tr>
            <tr>
                <td>Washer Gutter Cleaners</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Washer Gutter Cleaners</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Plug Head</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Mugs with Vinyl/PVC Sleeves / Exterior Designs</td>
                <td align="center">2</td>
            </tr>
            <tr>
                <td rowspan="3">Wood dust</td>
            </tr>
            <tr>
                <td>Pine Bedding</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td>Pine Animal Bedding</td>
                <td align="center">1</td>
            </tr>
        </table>
    </div><br />
</div>

<div class="recapSection">
    <a name="california_prop65_reasonable_warnings" class="bookmark"></a>
    <strong>US State California OEHHA Adopts Amendments to Article 6 of the CCR Regarding Clear and Reasonable Warnings for Proposition 65</strong>
    <p>On August 30, 2016, the Office of Environmental Health Hazard Assessment (OEHHA) adopted the <a href="http://oehha.ca.gov/proposition-65/crnr/notice-adoption-article-6-clear-and-reasonable-warnings" target="_blank">amendments to Article 6 of California Code of Regulations (CCR), Clear and Reasonable Warnings</a>. The amendments will be enforceable on August 30, 2018 and businesses may comply with the provisions of the amended regulation during the two-year transition period.</p>
    <a href="/regulatory-updates/September-2016/california-prop65-reasonable-warnings" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The amendments repeal all of the current regulatory provisions of title 27 of the CCR except those added via emergency rulemaking in April 2016, which related to warning for exposures to bisphenol A in canned foods and beverages.</p>
        <p>Key changes to the regulation are summarized below:</p>
        <ol>
            <li>New definitions for terms are provided, for example:<br />
                <ol>
                    <li>Consumer product means any article, or component part thereof, including food that is produced, distributed or sold for the personal use, consumption or enjoyment of a consumer.</li>
                    <li>Consumer information includes warnings, direction for use, ingredient lists, and nutritional information. It does not include the brand name, product name, company name, location of manufacture or product advertising.</li>
                </ol>
            </li>
            <li>The amended regulation will no longer require a person to provide separate warnings to each exposed individual.</li>
            <li>New regulations outline clearly and separately for:<br />
                <ol>
                    <li>The methods of transmission of each type of warning, and </li>
                    <li>The content requirements of each type of warning</li>
                </ol>
            </li>
            <li>New types of warnings are added to the regulations, for examples (in related to consumer product):<br />
                <ol>
                    <li>Raw wood product exposure warnings</li>
                    <li>Furniture product exposure warnings</li>
                </ol>
            </li>
        </ol>
        <p>In general for the consumer product exposure warning, following elements are required:</p>
        <ol>
            <li>A symbol consisting of a black exclamation point in a yellow equilateral triangle with a bold black outline (on the left of word "WARNING")</li>
            <li>The word "WARNING" in all capital letters and bold print followed by warning detail according to the type of risk, for example:<br />
                <ol>
                    <li>"This product can expose you to chemicals including [name of one or more chemicals], which is [are] known to the State of California to cause cancer. For more information go to <a href="http://www.P65Warnings.ca.gov" target="_blank">www.P65Warnings.ca.gov</a>.", or</li>
                    <li>"This product can expose you to chemicals including [name of one or more chemicals], which is [are] known to the State of California to cause birth defects or other reproductive harm. For more information go to <a href="http://www.P65Warnings.ca.gov" target="_blank">www.P65Warnings.ca.gov</a>."</li>
                </ol>
            </li>
        </ol>
    </div><br />
</div>

<div class="recapSection">
    <a name="california_bpa_cans_and_bottles" class="bookmark"></a>
    <strong>US State California OEHHA Proposes Amendment to CCR Regarding BPA in Canned and Bottled Foods and Beverages through Regular Rulemaking Procedure</strong>
    <p>On July 29, 2016, the Office of Environmental Health Hazard Assessment (OEHHA) issued a <a href="http://oehha.ca.gov/proposition-65/events/public-hearing-amendment-section-256033-title-27-california-code-regulations" target="_blank">notice to propose an amendment to the California Code of Regulation (CCR) regarding the Proposition 65 warning requirements for bisphenol A (BPA)</a>. The proposed amendment is undergoing the regular rulemaking procedure and a comment period is now open until September 26, 2016.</p>
    <a href="/regulatory-updates/September-2016/california-bpa-cans-and-bottles" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>On April 18, 2016, OEHHA implemented an emergency regulation regarding labeling requirements for BPA for canned and bottled foods and beverages to allow temporary use of a standard point-of-sale warning messages (See <a href="http://www.asiainspection.com/regulatory-updates/April-2016" target="_blank">Regulatory Recap: April 2016</a>). However, the regulation was only valid for 180 days. Thus, OEHHA proposed an amendment to the CCR in a regular rule making process to continue the use of this standard point-of-sale warning with a sunset date of December 30, 2017.</p>
    </div><br />
</div>

<div class="recapSection">
    <a name="california_chemicals_for_consultation" class="bookmark"></a>
    <strong>US State California OEHHA Issues Notice to Propose Chemicals for Consultation by CIC</strong>
    <p>On September 9, 2016, the Office of Environmental Health Hazard Assessment (OEHHA) issued a <a href="http://oehha.ca.gov/media/downloads/crnr/priortznoticecic2016.pdf" target="_blank">notice</a> to announce that five proposed chemicals or chemical groups will be discussed at the meeting of the Proposition 65 Carcinogen Identification Committee (CIC).</p>
    <a href="/regulatory-updates/September-2016/california-chemicals-for-consultation" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The CIC is a group of expert scientists appointed by the Governor to identify chemicals that have been clearly shown though scientifically valid testing according to generally accepted principles to cause cancer. The CIC will provide the OEHHA with advice on the prioritization of following chemicals or chemical groups:</p>
        <ol>
            <li>Aspartame</li>
            <li>Asphalt and Asphalt Emissions Associated with Road Paving and Asphalt and Asphalt Emissions Associated with Roofing</li>
            <li>Methyl Chloride</li>
            <li>Type I Pyrethroids</li>
            <li>Vinyl Acetate</li>
        </ol>
        <p>A 45-day public comment period is open until October 24, 2016 and will be followed by a meeting on November 15, 2016. At the meeting, no listing decisions will be made for the above chemicals. The OEHHA will select chemicals for preparation of hazard identification materials in consideration for listing the chemicals under California Proposition 65 and announce those decisions in a separate notice at a later date.</p>
    </div><br />
</div>

<div class="recapSection">
    <a name="us_recalls_summary" class="bookmark"></a>
    <strong>US Recalls Summary (July – August 2016)</strong>
    <p>In the US, when hazards are identified in consumer products, they will be recalled and published in the Consumer Product Safety Commission (CPSC) Recent Recalls on the CPSC Website, which is updated daily. The US recalls from July 1 to August 30, 2016 are summarized below:</p>
    <a href="/regulatory-updates/September-2016/us-recalls-summary" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <center><img src="https://s3.asiainspection.com/newsletters/2016_09_RegRecap/US_recalls_hazards.gif" style="width:90%; max-width:850px;" /></center>
        <table>
            <tr>
                <td><b>Hazard</b></td>
                <td><b>Frequency</b></td>
            </tr>
            <tr>
                <td>Fire Hazard</td>
                <td>16</td>
            </tr>
            <tr>
                <td>Fall Hazard</td>
                <td>8</td>
            </tr>
            <tr>
                <td>Burn Hazard</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Laceration Hazard</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Other Hazards*</td>
                <td>21</td>
            </tr>
        </table>
        <p><b>*</b> Other Hazards include Burn Hazard, Choking Hazard, Crash Hazard, Electric Shock Hazard, Impact Hazard & Laceration Hazard with frequency less than 4.</p>
        <br />
        <center><img src="https://s3.asiainspection.com/newsletters/2016_09_RegRecap/US_recalls_categories.gif" style="width:90%; max-width:850px;" /></center>
        <table>
            <tr>
                <td><b>Product Categories</b></td>
                <td><b>Frequency</b></td>
            </tr>
            <tr>
                <td>Sporting Goods / Equipment</td>
                <td>17</td>
            </tr>
            <tr>
                <td>Home Electrical Appliances (Hair dryer, iron, etc.)</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Furniture</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Other Categories^</td>
                <td>23</td>
            </tr>
        </table>
        <p><b>^</b> Other categories include Computer / Audio / Video / Other Electronics & Accessories, Consumer Chemicals, Fabric / Textile / Garment / Home Textile, Food Contact Material, Homeware (non-food contact), Jewelry, Juvenile Product, Lighting, Watch or other Fashion Accessories, Tools & Hardware, Toys and Childcare Articles with frequency less than 4.</p>
    
        <p>Download the complete <a href="https://s3.asiainspection.com/newsletters/2016_09_RegRecap/AI_ANSECO%5Bregulatory_recap%5D_US_recalls_2016.09.pdf">Recalls Summary – US (Last Update Date: August 30, 2016)</a></p>
    </div><br />
</div>

<div class="recapSection">
    <a name="canada_recalls_summary" class="bookmark"></a>
    <strong>Canada Recalls Summary (July – August 2016)</strong>
    <p>In Canada, when hazards are identified in consumer products, they will be recalled and published in the Recalls and Safety Alerts Database on the Health Canada Website, which is updated daily. The Canada recalls from July 1 to August 30, 2016  are summarized below:</p>
    <a href="/regulatory-updates/September-2016/canada-recalls-summary" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <center><img src="https://s3.asiainspection.com/newsletters/2016_09_RegRecap/Canada_recalls_hazards.gif" style="width:90%; max-width:850px;" /></center>
        <table>
            <tr>
                <td><b>Hazard</b></td>
                <td><b>Frequency</b></td>
            </tr>
            <tr>
                <td>Choking Hazard</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Fall Hazard</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Burn Hazard</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Laceration Hazard</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Other Hazards</td>
                <td>14</td>
            </tr>
        </table>
        <p><b>*</b> Other Hazards include Chemical Hazard (combination of methylisothiazolinone and methylchloroisothiazolinone (MI/MCI)), Electric Shock Hazard, Entrapment Hazard, Fire Hazard, Impact Hazard, Injury Hazard, Violation of Child-Resistant Closure Requirement, Violation of Flammability Requirements, Violation of Lead Standard & Violation of Packaging and Labeling Requirements with frequency less than 3.</p>
        <br />
        <center><img src="https://s3.asiainspection.com/newsletters/2016_09_RegRecap/Canada_recalls_categories.gif" style="width:90%; max-width:850px;" /></center>
        <table>
            <tr>
                <td><b>Product Categories</b></td>
                <td><b>Frequency</b></td>
            </tr>
            <tr>
                <td>Toys and Childcare Articles</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Fabric / Textile / Garment / Home Textile</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Food Contact Material</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Furniture</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Jewelry, Watch or other Fashion Accessories</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Sporting Goods / Equipment</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Other Categories^</td>
                <td>18</td>
            </tr>
        </table>
        <p><b>^</b> Other categories include Computer / audio / video / other electronics & accessories, Consumer Chemicals, Cosmetics / Bodycare, Home Electrical Appliances (Hair dryer, iron, etc.), Homeware (non-food contact), Juvenile Product, Lighting, Tools and Hardware less than 3.</p>
    
        <p>Download the complete <a href="https://s3.asiainspection.com/newsletters/2016_09_RegRecap/AI_ANSECO%5Bregulatory_recap%5D_Canada_recalls_2016.09.pdf">Recalls Summary – Canada (Last Update Date: August 30, 2016)</a></p>
    </div><br />
</div>

<div class="recapSectionHeader">
    <a name="south_america_news" class="bookmark"></a>
    <h2>SOUTH AMERICA NEWS</h2>
</div>

<div class="recapSection">
    <a name="colombia_lead_content" class="bookmark"></a>
    <strong>Colombia Re-Introduced Chamber of Representatives Bill Related to Lead Content Requirement in Various Products</strong>
    <p>On July 29, 2016, the Senate of Colombia proposed <a href="http://www.andi.com.co/Ambiental/SiteAssets/Paginas/default/PL-2016-N033C-Comision_Septima_PLOMO.pdf" target="_blank">bill PL-2016-N033C</a>, which establishes lead limits in various products. The bill sets requirements for products that may contain lead to prevent citizens, especially children, from lead poisoning.</p>
    <a href="/regulatory-updates/September-2016/colombia-lead-content" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The proposed bill prohibits the manufacturing, importing or distributing of products, including toys, clothing, accessories, jewelry, decorative objects, edible products, sweets, food, furniture and dietary supplements, that contain:</p>
        <ol>
            <li>Any accessible part handled by children with a lead content greater than 90 ppm (0.009%), or</li>
            <li>Any articles with a lead content greater than 1000 ppm (0.1%)</li>
        </ol>
        <p>In addition to the above products,</p>
        <ol>
            <li>Paintings for decorative use at home or work shall not contain more than 90 ppm (0.009%) of lead.</li>
            <li>In water distribution systems for human, animal or irrigation that are composed of more than 1% metal, the metal components shall not contain greater than 2000 ppm (0.2%) lead if components contact water.</li>
        </ol>
    </div><br />
</div>

<div class="recapSectionHeader">
    <a name="europe_news" class="bookmark"></a>
    <h2>EUROPE NEWS</h2>
</div>

<div class="recapSection">
    <a name="europe_harmonized_standards" class="bookmark"></a>
    <strong>Europe EC Implements New Harmonized Standards for LVD</strong>
    <p>On July 7, 2016, the European Commission (EC) issued and implemented <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=uriserv:OJ.C_.2016.249.01.0062.01.ENG" target="_blank">a list of new harmonized standards</a>. The list of standards shows presumption of conformity to the Directive 2014/35/EU Low Voltage (LVD), which has been effective since April 20, 2016.</p>
    <a href="/regulatory-updates/September-2016/europe-harmonized-standards" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>After a 2-year transition period, the new LVD replaced Directive 2006/95/EC on April 20, 2016. A list of standards was published that shows presumption of conformity to the new directive. In the list, there are more than one hundred standards, some of which cover common appliances as noted below:</p>
        <ol>
            <li>EN 60335-2-25:2012 Household and similar electrical appliances - Safety - Part 2-25: Particular requirements for microwave ovens, including combination microwave ovens</li>
            <li>EN 60335-2-29:2004 Household and similar electrical appliances - Safety - Part 2-29: Particular requirements for battery chargers</li>
            <li>EN 60335-2-90:2006 Household and similar electrical appliances - Safety - Part 2-90: Particular requirements for commercial microwave ovens</li>
            <li>EN 61558-2-7:2007 Safety of power transformers, power supplies, reactors and similar products - Part 2-7: Particular requirements and tests for transformers and power supplies for toys</li>
            <li>EN 62196-2:2012 Plugs, socket-outlets, vehicle connectors and vehicle inlets - Conductive charging of electric vehicles - Part 2: Dimensional compatibility and interchangeability requirements for a.c. pin and contact-tube accessories</li>
            <li>EN 62368-1:2014 Audio/video, information and communication technology equipment - Part 1: Safety requirements (IEC 62368-1:2014, modified)</li>
            <li>EN 62477-1:2012 Safety requirements for power electronic converter systems and equipment - Part 1: General </li>
            <li>EN 62560:2012 Self-ballasted LED-lamps for general lighting services by voltage > 50 V - Safety specifications</li>
            <li>EN 62868:2015 Organic light emitting diode (OLED) panels for general lighting - Safety requirements</li>
        </ol>
    </div><br />
</div>

<div class="recapSection">
    <a name="europe_amendment_toy_safety" class="bookmark"></a>
    <strong>Europe EC Proposes Amendment to Toys Safety Directive</strong>
    <p>On August 18, 2016, the European Commission (EC) informed the World Trade Organization (WTO) that a <a href="https://members.wto.org/crnattachments/2016/TBT/EEC/16_3388_00_e.pdf" target="_blank">draft directive amending the Toys Safety Directive 2009/48/EC</a> was published. The draft directive proposes amendment regarding the migration limits of lead for toys or components.</p>
    <a href="/regulatory-updates/September-2016/europe-amendment-toy-safety" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>Upon enforcement, the limit of lead will be amended as noted below:</p>
        <table>
            <tr>
                <td rowspan="2"></td>
                <td colspan="3" align="center"><b>Limit of Lead (mg/kg)</b></td>
            </tr>
            <tr>
                <td>
                    <b>Category 1</b>
                    <p>Dry, brittle, powder-like or pliable toy material</p>
                </td>
                <td>
                    <b>Category 2</b>
                    <p>Liquid or sticky toy material</p>
                </td>
                <td>
                    <b>Category 3</b>
                    <p>Scraped-off toy material</p>
                </td>
            </tr>
            <tr>
                <td>Current limit</td>
                <td>13.5</td>
                <td>3.4</td>
                <td>160</td>
            </tr>
            <tr>
                <td>Amended limit</td>
                <td>2.0</td>
                <td>0.5</td>
                <td>23</td>
            </tr>
        </table>
        <p>The proposed lead limits are identical to those in the <a href="https://members.wto.org/crnattachments/2014/tbt/EEC/14_4268_00_e.pdf" target="_blank">past-proposed amendment from September 25, 2014</a>. However, the date entering into force is now postponed to the 3rd quarter of 2018 instead of the 1st quarter of 2017.</p>
    </div><br />
</div>

<div class="recapSection">
    <a name="europe_plastic_food_material" class="bookmark"></a>
    <strong>Europe EC Approves Amendment on Plastic Food Contact Material Regulation</strong>
    <p>On August 25, 2016, <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=uriserv%3AOJ.L_.2016.230.01.0022.01.ENG" target="_blank">Commission Regulation (EU) 2016/1416</a> was approved and published in the Official Journal of the European Union (EU). The newly approved regulation amends and corrects the current Food Contact Material (FCM) Regulation (EU) No. 10/2011. The amendment will update specific migration limits (SML), definitions and testing conditions.</p>
    <a href="/regulatory-updates/September-2016/europe-plastic-food-material" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>On September 14, 2017, following key amendments will be effective:</p>
        <ol>
            <li>Currently, the term "hot-fill" is used in the context of setting restrictions on the use of certain materials and articles intended to act as a receptacle for hot food. In order to clarify the scope, a new definition is added for "hot-fill", which means the filling of any article with a food with a temperature not exceeding 100oC at the moment of filling, after which the food cools down to 50 oC or below within 60 minutes, or to 30oC or below within 150 minutes. Therefore, if the material or article is intended to be employed only for hot-fill conditions, only a 2-hour test at 70°C shall be carried out.</li>
            <li>The specific migration testing condition is updated to include new selection of test temperature:<br />
                <table>
                    <tr>
                        <td align="center"><b>Worst foreseeable contact temperature</b></td>
                        <td align="center"><b>Contact temperature to be selected for testing</b></td>
                    </tr>
                    <tr>
                        <td align="center">175&deg;C < T ≤ 200&deg;C</td>
                        <td align="center">200&deg;C</td>
                    </tr>
                    <tr>
                        <td align="center">T > 200&deg;C</td>
                        <td align="center">225&deg;C</td>
                    </tr>
                </table>
            </li>
            <li>Food simulant D2 is updated as follows:<br />
                <table>
                    <tr>
                        <td align="center"><b>Food Simulant D2 (Before)</b></td>
                        <td align="center"><b>Food Simulant D2 (After)</b></td>
                    </tr>
                    <tr>
                        <td align="center">Vegetable oil</td>
                        <td align="center">Any vegetable oil containing less than 1% unsaponifiable matter</td>
                    </tr>
                </table>
            </li>
        </ol>
        <p>In addition, effective September 14, 2018, the Specific Migration Limit (SML) for Zinc and Aluminum will be updated as summarized below:</p>
        <table>
            <tr>
                <td align="center"><b>Element</b></td>
                <td align="center"><b>SML (Before)/ mg/kg</b></td>
                <td align="center"><b>SML (After)/ mg/kg</b></td>
            </tr>
            <tr>
                <td align="center">Barium</td>
                <td align="center">1</td>
                <td align="center">1</td>
            </tr>
            <tr>
                <td align="center">Cobalt</td>
                <td align="center">0.05</td>
                <td align="center">0.05</td>
            </tr>
            <tr>
                <td align="center">Copper</td>
                <td align="center">5</td>
                <td align="center">5</td>
            </tr>
            <tr>
                <td align="center">Iron</td>
                <td align="center">48</td>
                <td align="center">48</td>
            </tr>
            <tr>
                <td align="center">Lithium</td>
                <td align="center">0.6</td>
                <td align="center">0.6</td>
            </tr>
            <tr>
                <td align="center">Manganese</td>
                <td align="center">0.6</td>
                <td align="center">0.6</td>
            </tr>
            <tr>
                <td align="center">Zinc</td>
                <td align="center">25</td>
                <td align="center">5</td>
            </tr>
            <tr>
                <td align="center">Aluminum</td>
                <td align="center">-</td>
                <td align="center">1</td>
            </tr>
        </table>
    </div><br />
</div>

<div class="recapSectionHeader">
    <a name="australia_new_zealand_news" class="bookmark"></a>
    <h2>AUSTRALIA / NEW ZEALAND NEWS</h2>
</div>

<div class="recapSection">
    <a name="australia_penalties_childrens_nightwear" class="bookmark"></a>
    <strong>Australia ACCC Publishes Penalties for Non-Compliant Children’s Nightwear</strong>
    <p>On August 30, 2016, the Australian Competition & Consumer Commission (ACCC) published a <a href="http://www.productsafety.gov.au/news/court-orders-penalties-of-500000-for-online-retailer-ozsale-s-non-compliant-childrens-nightwear" target="_blank">notice to announce that the Federal Court has ordered online retailer Ozsal pay penalties</a> totaling $500,000 due to supplying flammable children’s nightwear, which did not comply with the Australian mandatory safety standard, AS/NZS 1249:2003. The non-compliant products have also been recalled.</p>
    <a href="/regulatory-updates/September-2016/australia-penalties-childrens-nightwear" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The non-compliant products were recalled due to the fact that children can suffer serious burns when nightwear can catch fire easily and quickly. Therefore, the ACCC Deputy Chair, Delia Rickard, stated that all retailers who sell garment products covered by an Australian mandatory safety standard must verify their products are compliant with the standard.</p>
        <p>The Australian mandatory standard, AS/NZS 1249:2003, covers safety testing and labeling information regarding the flammability of children’s nightwear. For some garments, the standard mandates the mass of certain fabrics. For garments made of certain materials such as cotton, the denser the material, the quicker it will burn.</p>
        <p>The standard also sets the maximum allowable length for trims and attachments. Lengthy trims or attachments increase the risk of a garment being exposed to a heat source, even when parents or caregivers may think a child is an adequate distance away from the heat source.</p>
    </div><br />
</div>

<div class="recapSectionHeader">
    <a name="asia_news" class="bookmark"></a>
    <h2>ASIA NEWS</h2>
</div>

<div class="recapSection">
    <a name="singapore_rohs_eee_products" class="bookmark"></a>
    <strong>Singapore Approves RoHS Regulation for EEE Products</strong>
    <p>In June 2016, the Minister of Environment and Water Resources in Singapore <a href="http://statutes.agc.gov.sg/aol/search/display/view.w3p;orderBy=date-rev,loadTime;page=0;query=Id%3A86d659e4-ccc3-4f3d-8a29-437d29785ec4;rec=0;whole=yes" target="_blank">approved the amendment act S 263/2016</a>. The amendment act revises the current Environmental Protection and Management Act to include new chemical requirements, which are similar to the European restriction of the use of certain hazardous substances (RoHS) in controlled electrical and electronic equipment (EEE).</p>
    <a href="/regulatory-updates/September-2016/singapore-rohs-eee-products" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>Compared to EU RoHS, Singapore RoHS applies to a narrower group of EEE products that are designed for household use, as listed below:</p>
        <ol>
            <li>Air-conditioner</li>
            <li>Flat panel display television</li>
            <li>Mobile phone</li>
            <li>Phablet</li>
            <li>Portable computer</li>
            <li>Refrigerator</li>
            <li>Washing machine</li>
        </ol>
        <p>The restricted chemicals (Limits) set forth in the amendment act are summarized below:</p>
        <ul>
            <li>Cadmium and its compounds (0.01%)</li>
            <li>Hexavalent chromium (0.1%)</li>
            <li>Lead and its compounds (0.1%)</li>
            <li>Mercury and its compounds (0.1%)</li>
            <li>Polybrominated biphenyls (0.1%)</li>
            <li>Polybrominated diphenyl ethers (0.1%)</li>
        </ul>
        <p>The implementation date of the Singapore RoHS is July 1, 2017.</p>
    </div><br />
</div>

<div class="recapSection">
    <a name="hong_kong_toys_and_childrens_products" class="bookmark"></a>
    <strong>Hong Kong Updated Safety Standards for Toys and Children’s Products Enter into Force</strong>
    <p>On October 1, 2016, <a href="http://www.gld.gov.hk/egazette/pdf/20162002/es2201620027.pdf" target="_blank">the Notice to amend the Toys and Children’s Products Safety Ordinance</a> enters into force.  The notice will amend certain safety standards for children’s products including toys.</p>
    <a href="/regulatory-updates/September-2016/hong-kong-toys-and-childrens-products" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>In general, the amended ordinance will adopt an updated version of standards (See <a href="http://www.asiainspection.com/regulatory-updates/March-2016" target="_blank">Regulatory Recap: March 2016</a>) for the following products:</p>
        <ol>
            <li>Toys</li>
            <li>Babies dummies</li>
            <li>Carry cots and stands</li>
            <li>Children’s high chairs and multi-purpose high chairs for domestic use</li>
            <li>Children’s paints</li>
        </ol>
    </div><br />
</div>

<div class="recapSection">
    <a name="thailand_food_labeling" class="bookmark"></a>
    <strong>Thailand Implements New Requirements for Food Nutrition Labeling</strong>
    <p>On October 18, 2016, <a href="http://www.puntofocal.gov.ar/notific_otros_miembros/tha215r1a1_t.pdf" target="_blank">Thailand notification No. 374</a>, which was published in April 2016, will enter into force. The notification includes the newly required food nutrition labeling information, Guideline Daily Amounts (GDA).</p>
    <a href="/regulatory-updates/September-2016/thailand-food-labeling" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The GDA label provides energy value information and the amount of sugar, fat and sodium in the product. Apart from the content information requirement, the notification also provides the format requirements for the GDA label (See <a href="http://www.asiainspection.com/regulatory-updates/July-2016" target="_blank">Regulatory Recap: July 2016</a>).</p>
    </div><br />
</div>

<div class="recapSection">
    <a name="china_food_and_nipples" class="bookmark"></a>
    <strong>China NHFPC National Standard for Foods, Foods Additives, Food Contact Materials and Nipples Enters into Force</strong>
    <p>On September 22, 2016, a total of 127 standards which were announced <a href="http://www.nhfpc.gov.cn/sps/s7891/201510/3ba3419aab8a41a09f4f924788f73793.shtml" target="_blank">through Notice 08/2015</a> from the National Health and Family Planning Commission of the People’s Republic of China (NHFPC) entered into force.</p>
    <a href="/regulatory-updates/September-2016/china-food-and-nipples" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>The standards provide requirements and applicable testing methods for foods, food additives, food contact materials and nipples (See <a href="http://www.asiainspection.com/regulatory-updates/May-2016" target="_blank">Regulatory Recap: May 2016</a>), such as:</p>
        <ol>
            <li>GB 1886-2015 National Food Safety Standard – Food Additives (Part 1 to Part 168)</li>
            <li>GB 4806.2-2015 National Food Safety Standard – Nipples</li>
            <li>GB 31604.1-2015 National Food Safety Standard – General Rules for Migration Test of Food Contact Materials and Articles</li>
        </ol>
    </div><br />
</div>

<div class="recapSection">
    <a name="philippines_school_supplies" class="bookmark"></a>
    <strong>Philippines Proposes New Chemical Requirements for Toys, School Supplies and Childcare Articles</strong>
    <p>On June 30, 2016, the Philippines House of Representatives proposed <a href="https://s3.asiainspection.com/newsletters/2016_09_RegRecap/HB00321.pdf" target="_blank">house bill No. 321, an Act regulating the Importation, Manufacture, Distribution and Sale of Children’s Toys, School Supplies, Childcare articles and Other Related Products Containing Hazardous Chemicals</a>.</p>
    <a href="/regulatory-updates/September-2016/philippines-school-supplies" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>Compared to the US Consumer Product Safety Improvement Act (CPSIA), the definitions of "Childcare article", "Toy", "School Implement" and "School Supplies" are different (see below).</p>
        <table>
            <tr>
                <td align="center"><b>Product</b></td>
                <td align="center"><b>US CPSIA</b></td>
                <td align="center"><b>Philippines proposed Bill no. 321</b></td>
            </tr>
            <tr>
                <td><b>Childcare Article</b></td>
                <td>A consumer product designed or intended by the manufacturer to facilitate sleep or the feeding of children age 3 years and younger, or to help such children with sucking or teething.</td>
                <td>Any product intended to facilitate sleep, relaxation, hygiene, the feeding of children or sucking on the part of children (under 14 years of age).</td>
            </tr>
            <tr>
                <td><b>Children's Toy</b></td>
                <td>Consumer product designed or intended by the manufacturer for a child 12 years of age or younger for use by the child when the child plays.</td>
                <td>Any product or material designed and clearly intended for use in play by children under 14 years of age.</td>
            </tr>
            <tr>
                <td><b>School Implement</b></td>
                <td align="center">NA</td>
                <td>A tool used by children for writing, drawing, coloring, marking, gluing, or erasing that is likely to be licked or put in the mouth.</td>
            </tr>
            <tr>
                <td><b>School Supplies</b></td>
                <td align="center">NA</td>
                <td>Items or articles used for educational purposes which are not likely to be put in the mouth of children.</td>
            </tr>
        </table>
        <p>Within three months from the effective date of this Act, the Philippine Food and Drug Administration (FDA) shall prepare a list of prohibited chemicals and substances, which may cause harm, injury, or death to children. In the list, following chemicals shall also be included:</p>
        <table>
            <tr>
                <td align="center"><b>Item</b></td>
                <td align="center"><b>Chemicals</b></td>
                <td align="center"><b>Testing Methods</b></td>
            </tr>
            <tr>
                <td align="center">1</td>
                <td>
                    <p>Toxic Metals:</p>
                    <ol>
                        <li>Antimony</li>
                        <li>Arsenic</li>
                        <li>Cadmium</li>
                        <li>Chromium</li>
                        <li>Lead</li>
                        <li>Mercury</li>
                    </ol>
                </td>
                <td>
                    <p>For heavy metals identified in PNS/ISO 8124-3, compliance with one of the following standards is required:</p>
                    <ol>
                        <li>ISO 8124-3, or</li>
                        <li>EN-71-3, or</li>
                        <li>ASTM F963</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td align="center">2</td>
                <td>
                    <p>Phthalates:</p>
                    <ol>
                        <li>Di-(2-ethylhexyl) phthalate (DEHP)</li>
                        <li>Dibutyl phthalate (DBP)</li>
                        <li>Benzyl butyl phthalate (BBP)</li>
                        <li>Diisononyl phthalate (DINP)</li>
                        <li>Diisodecyl phthalate (DIDP)</li>
                        <li>Di-n-octyl phthalate (DnOP)</li>
                    </ol>
                </td>
                <td>
                    <p>For phthalates, compliance with one of the following is required:</p>
                    <ol>
                        <li>US Section 108 of Consumer Products Safety Improvement Act (CPSIA), or </li>
                        <li>Entry 52 of Annex XVII of Europe REACH Regulation 1907/2006</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td align="center">3</td>
                <td>Bisphenol A (BPA)</td>
                <td>Not Specified</td>
            </tr>
        </table>
    </div><br />
</div>

<div class="recapSection">
    <a name="philippines_toy_labeling" class="bookmark"></a>
    <strong>Philippines Proposes New Toys Labeling Requirement</strong>
    <p>On August 2, 2016, the Philippines House of Representatives <a href="https://s3.asiainspection.com/newsletters/2016_09_RegRecap/HB02349.pdf" target="_blank">proposed house bill No. 2349, an Act Providing for Toy and Game Safety Labeling</a>. The proposed bill provides standardized safety warning labeling and instruction requirements for toys.</p>
    <a href="/regulatory-updates/September-2016/philippines-toy-labeling" class="recapViewStory" style="float:right;">View Story</a>
    <a href="javascript://" class="learnmore" style="float:left;">Read More</a>
    <div style="clear:both;"></div>
    <div class="moretext">
        <p>In the proposed bill, any toys or games containing the following components shall bear a suitable warning on the packaging:</p>
        <ol>
            <li>Small part intended for use by children less than 14 years of age</li>
            <li>Any marble intended for use by children less than 14 years of age </li>
            <li>Any latex balloon or any ball with diameter of 1.75 inches or less intended for use by children less than 10 years of age</li>
        </ol>
        <p>The cautionary statement in the warning label shall be written in English. Filipino or both languages. Below warnings are examples:</p>
        <center><img src="https://s3.asiainspection.com/newsletters/2016_09_RegRecap/warninglabels.jpg" style="width:90%; max-width:850px;" /></center>
    </div><br />
</div>

<br /><p><i>This summary is not intended to be exhaustive nor should it be construed as legal advice.</i></p>