<!-- { "Title":"September 2017 Recap", "PublishDate":"2017-09-30", "Description":"NORTH AMERICA NEWS - On August 24, 2017, a new version of toys safety standard, ASTM F963-17, was published. Later on September 1, 2017, the Consumer Product Safety Commission (CPSC) was notified by ASTM of the updated standard publication." }-->
<div class="recapSectionHeader">
	<ol style="margin-top:10px;">
		<li style="margin-bottom:10px;"><a href="#north_america_news">NORTH AMERICA NEWS</a></li>
		<li style="margin-bottom:10px;"><a href="#asia_news">ASIA NEWS</a></li>
	</ol>
	<hr />
</div>

<div class="recapSectionHeader">
	<a name="north_america_news" class="bookmark"></a>
	<h2>NORTH AMERICA NEWS</h2>
</div>

<div class="recapSection">
	<a name="sept2017-overview-astm-f963-17-toy-safety" class="bookmark"></a>
	<strong>US Overview of Changes in ASTM F963-17 Toy Safety Standard</strong>
	<p>On August 24, 2017, a new version of toys safety standard, <a href="https://www.astm.org/Standards/F963.htm" target="_blank">ASTM F963-17</a>, was published. Later on September 1, 2017, the Consumer Product Safety Commission (CPSC) was notified by ASTM of the updated standard publication. The revision summary is listed below:</p>
	<a href="/regulatory-updates/September-2017/sept2017-overview-astm-f963-17-toy-safety" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>According to the Consumer Product Safety Improvement Act (CPSIA), the updated standard will be enforced and become mandatory 180 days after ASTM has notified the Consumer Product Safety Commission (CPSC) of the update. However, the CPSC may reject the revision within 90 days.</p>
		<p>Time line:</p>
		<img src="https://s3.asiainspection.com/newsletters/2017-09-RegRecap/timeline.png" style="max-width:100%;" /><br /><br />
		<p>The following requirements or test methods are amended:</p>
		<table style="border-width: 2px;">
			<tr>
				<td style="font-weight: bold; text-align: center;">Section</td>
				<td style="font-weight: bold; text-align: center;">Requirements</td>
				<td style="font-weight: bold; text-align: center;">Amendment Summary</td>		
			</tr>
			<tr>
				<td style="text-align: center;">3.1.20</td>
				<td style="font-weight: bold;">Terminology</td>
				<td>-&nbsp;&nbsp;&nbsp;Modified definition of “Cosmetics” to clarify that<br />
				cosmetics applied to toys are not subject to FDCA labeling<br />
				requirements<br />
				-&nbsp;&nbsp;&nbsp;Removed definition: “Driving Mechanism”, since<br />
				this word does not appear in current version</td>
			</tr>
			<tr>
				<td style="text-align: center;">4.3.6.1</td>
				<td style="font-weight: bold;">Microbiological Safety</td>
				<td>-&nbsp;&nbsp;&nbsp;Specified bacteriological standard to be used for<br />
				process water:<br />
				<ul>
					<li>USP 35(1231); and</li>
					<li>EPA 40 CFR 141.63</li>
				</ul></td>
			</tr>
			<tr>
				<td style="text-align: center;">4.21</td>
				<td style="font-weight: bold;">Projectile Toys</td>
				<td>-&nbsp;&nbsp;&nbsp;New Exemption to Kinetic Energy Density (KED)<br />
				requirements for Projectiles having kinetic energy less than<br />
				0.08 J (when tested)</td>
			</tr>
			<tr>
				<td style="text-align: center;">4.25</td>
				<td style="font-weight: bold;">Test Method for Toys<br />which Produce Noise</td>
				<td>-&nbsp;&nbsp;&nbsp;Clarified that PTC resistors are “<b>not</b>” short circuited<br />
				-&nbsp;&nbsp;&nbsp;Clarified that “floor and tabletop” toys that move<br />
				do not include push/pull toys</td>
			</tr>
			<tr>
				<td style="text-align: center;">-</td>
				<td style="font-weight: bold;">Other editorial changes</td>
				<td style="text-align: center;">---</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="sept2017-cpsc-new-federal-standard-infant-bouncer" class="bookmark"></a>
	<strong>US CPSC Approves New Federal Standard for Infant Bouncer Seat</strong>
	<p>On September 7, 2017, the Consumer Product Safety Commission (CPSC) <a href="https://www.cpsc.gov/Newsroom/News-Releases/2017/CPSC-Approves-New-Federal-Standard-for-Infant-Bouncers" target="_blank">approved final rule, 16 CFR 1229, to adopt ASTM F2167-17</a> with modifications related to the warning label.  ASTM F2167-17 is the mandatory safety requirement for infant bouncer seats. Its main intent is to reduce the risk of injury to infants that fall from, and with, bouncer seats.</p>
	<a href="/regulatory-updates/September-2017/sept2017-cpsc-new-federal-standard-infant-bouncer" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>According to the standard, an infant bouncer seat is defined as:</p>
		<ol>
			<li>A freestanding product intended to support an occupant in a reclined position to facilitate bouncing by the occupant, with the aid of a caregiver or by other means, and</li>
			<li>A product intended for infants who have not developed the ability to sit up unassisted (approximately 0 to 6 months of age).</li>
		</ol>
		<p>The final rule adopts ASTM F2167-17 and there are two modifications to the requirements of the standard:</p>
		<ol>
			<li>The rule requires an additional warning statement to caregivers to use the restraints “Even if an infant falls asleep”.</li>
			<li>The rule also requires the fall hazard warning to be placed on the upper seat back of the bouncer seat to ensure that caregivers read and heed the warning</li>
		</ol>
	</div><br />
</div>

<div class="recapSection">
	<a name="sept2017-epa-reformed-tsca" class="bookmark"></a>
	<strong>EPA Details Status for Reformed TSCA Regulation</strong>
	<p>On June 22, 2017, one year after the reformed Toxic Substances Control Act (TSCA) was signed into law, the Environmental Protection Agency (EPA) <a href="https://www.epa.gov/newsreleases/epa-marks-chemical-safety-milestone-1st-anniversary-lautenberg-chemical-safety-act" target="_blank">announced</a> that the Agency has met its first-year statutory responsibilities and deadlines. Meanwhile, the EPA released <a href="https://www.epa.gov/assessing-and-managing-chemicals-under-tsca/risk-evaluations-existing-chemicals-under-tsca#ten" target="_blank">scope documents for the first 10 risk evaluated chemicals</a>. </p>
	<a href="/regulatory-updates/September-2017/sept2017-epa-reformed-tsca" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Within the year, the EPA has implemented below activities, including the release of scope document, to fulfil its responsibilities:</p>
		<table style="width: 80%;">
			<tr>
				<td style="font-weight:bold;">No.</td>
				<td style="font-weight:bold;">Document type</td>
				<td style="font-weight:bold;">Detail</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Scope documents for the first 10 risk evaluated<br />
				chemicals which the evaluations were initiated<br />
				in late 2016 (See <a href="https://www.asiainspection.com/regulatory-updates/January-2017/epa-chemicals-for-tsca-review" target="_blank">Regulatory Recap: January 2017</a>).</td>
				<td>Each scope document includes the following:<br />
				<ul style="list-style-type: none;">
				<li>-&nbsp;&nbsp;identifying the uses of the<br />
				chemicals that will be evaluated and how<br />
				the evaluation will be conducted<br /></li>
				<li>-&nbsp;&nbsp;The chemical’s hazards and exposures</li>
				<li>-&nbsp;&nbsp;Conditions of use</li>
				<li>-&nbsp;&nbsp;Potentially exposed or susceptible<br />
				sub populations the EPA expects</li>
				</ul></td>
			</tr>
			<tr>
				<td rowspan="3">2</td>
				<td rowspan="3">Three finalized rules</td>
				<td>Finalized a rule to establish EPA’s process and<br />
				criteria for identifying high priority chemicals for<br />
				risk evaluation and low priority chemicals for which<br />
				evaluation is not needed.</td>
			</tr>
			<tr>
				<td>Finalized second rule to establish EPA’ process for<br />
				evaluating high priority chemicals to determine<br />
				whether or not they present an unreasonable risk to<br />
				health or the environment.</td>
			</tr>
			<tr>
				<td>Finalized third rule to require industry reporting of<br />
				chemicals manufactured or processed in the US<br />
				commerce over the past 10 years.</td>
			</tr>
			<tr>
				<td>3</td>
				<td>A guidance document for external parties</td>
				<td>Released guidance for any external parties<br />
				interested in submitting draft risk evaluation to the<br />
				EPA for consideration.</td>
			</tr>
		</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="sept2017-updates-of-astm-standards" class="bookmark"></a>
	<strong>Updates of ASTM Standards</strong>
	<p>Below is a summary of recently updated ASTM standards:</p>
	<a href="/regulatory-updates/September-2017/sept2017-updates-of-astm-standards" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<table>
		<tr>
			<td style="text-align: center; font-weight: bold;">ASTM Standard<br />No.</td>
			<td style="text-align: center; font-weight: bold;">Detail</td>
		</tr>
		<tr>
			<td>ASTM F2167-17</td>
			<td><b>Standard Consumer Safety Specification for Infant Bouncer Seats</b><br />
			Covers the performance requirements, methods of test and marking<br />
			requirements to promote safe use of an infant bouncer seat by an<br />
			occupant and a caregiver.</td>
		</tr>
		<tr>
			<td>ASTM F2613-17</td>
			<td><b>Standard Consumer Safety Specification for Children's Chairs and<br />
			Stools</b> establishes testing requirements for structural integrity and<br />
			performance requirements for children’s chairs and stools. It also<br />
			provides requirements for labeling.</td>
		</tr>
		<tr>
			<td>ASTM F963-17</td>
			<td><b>Standard Consumer Safety of Toys</b> relates to possible hazards that<br />
			may not be recognized readily by the public and that may be<br />
			encountered in the normal use for which a toy is intended or after<br />
			reasonably foreseeable abuse</td>
		</tr>
	</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="sept2017-california-prop65-60-day-notices" class="bookmark"></a>
	<strong>US State of California Proposition 65: Recent 60-Day Notices</strong>
	<p>In 1986, California voters approved an initiative titled California Proposition 65 to address their growing concerns about exposure to toxic chemicals. Since its origin, there have been many lawsuits that have resulted in reformulations of consumer products containing carcinogenic and reproductively harmful chemicals on the Cal Prop 65 list.</p>
	<a href="/regulatory-updates/September-2017/sept2017-california-prop65-60-day-notices" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<p>Recent 60-day notices from June to August of 2017 include the following:</p>
	<table>
		<tr>
			<td>Chemical</td>
			<td>Product / Source</td>
			<td>Number of<br />Notices</td>
		</tr>
		<tr>
			<td>1,4-Dioxane</td>
			<td>Shampoo</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Acrylamide</td>
			<td>Foods</td>
			<td>79</td>
		</tr>
		<tr>
			<td>Asbestos, Talc containing<br />asbestiform fibers</td>
			<td>Baby Powder</td>
			<td>1</td>
		</tr>
		<tr>
			<td rowspan="2">Bisphenol A (BPA)</td>
			<td>Food container: Polycarbonate<br />
			Cup/Goblet/Salad Server / Blender Container/<br />
			Coffee Decanter/ Punch Bowl / Scoop Plate /<br />
			Margarita Glass</td>
			<td>8</td>
		</tr>
		<tr>
			<td>Thermal Paper</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Cadmium</td>
			<td>Foods / Jewelry</td>
			<td>6</td>
		</tr>
		<tr>
			<td rowspan="2">Cadmium and cadmium<br />compounds, Lead and lead<br />compounds</td>
			<td>Food powder / Chocolate</td>
			<td>4</td>
		</tr>
		<tr>
			<td>Dietary Supplements</td>
			<td>5</td>
		</tr>
		<tr>
			<td rowspan="11">Di(2-ethylhexyl)phthalate (DEHP)</td>
			<td>Armband</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Bag/Cosmetic Bag/Pouch/Wallet/Wristlet/ID<br />Badge/Case</td>
			<td>20</td>
		</tr>
		<tr>
			<td>Bags/Pouches/Cases/Storage cases with<br />vinyl/PVC component</td>
			<td>6</td>
		</tr>
		<tr>
			<td>Cable/Cords/Wire with Vinyl/PVC Component</td>
			<td>7</td>
		</tr>
		<tr>
			<td>Fitness Case/Fitness Belt/Foam Roller/Float/Dry<br />Bag</td>
			<td>9</td>
		</tr>
		<tr>
			<td>Gloves/Headphone with Vinyl/PVC Components</td>
			<td>12</td>
		</tr>
		<tr>
			<td>Inflatable Bath Pillow With Suction Cups/<br />Jewellry boxes with Polymer Handle/Keyring</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Kitchen Utensil Grips/Trays with Vinyl/PVC<br />Components</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Pillcase/Raincoats/Sandals/Suction Cups</td>
			<td>9</td>
		</tr>
		<tr>
			<td>Tools with polymer/PVC component</td>
			<td>7</td>
		</tr>
		<tr>
			<td>Vinyl/PVC Aprons/Mat/Ponchos/Toilet<br />Seats/Tubes and Hoses/ Zipper Pulls</td>
			<td>17</td>
		</tr>
		<tr>
			<td>Di(2-ethylhexyl)phthalate (DEHP),<br />Di-isodecyl phthalate (DIDP),<br />Diisononyl phthalate (DINP)</td>
			<td>Vinyl bedding storage cases</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Di(2-ethylhexyl)phthalate (DEHP),<br />Di-isodecyl phthalate (DIDP), Di-<br />n-butyl phthalate (DBP),<br /> Diisononyl phthalate (DINP), Lead</td>
			<td>Bags with Vinyl/PVC Components</td>
			<td>1</td>
		</tr>
		<tr>
			<td rowspan="2">Di(2-ethylhexyl)phthalate (DEHP),<br />Diisononyl phthalate (DINP)</td>
			<td>Bag/Armband/Case/ Bags with Vinyl/PVC<br />components</td>
			<td>5</td>
		</tr>
		<tr>
			<td>Fishing lure/ Spring Clamps with vinyl grips and<br />tips/ Vinyl bedding storage cases</td>
			<td>4</td>
		</tr>
		<tr>
			<td>Di(2-ethylhexyl)phthalate (DEHP),<br />Diisononyl phthalate (DINP), Lead</td>
			<td>Cords/Tool Pouches with Vinyl/PVC Component</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Di(2-ethylhexyl)phthalate (DEHP),<br />Di-n-butyl phthalate (DBP), Lead</td>
			<td>Hammers</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Di(2-ethylhexyl)phthalate (DEHP),<br />Lead and lead compounds</td>
			<td>Tools with Vinyl/PVC component</td>
			<td>5</td>
		</tr>
		<tr>
			<td rowspan="4">Diisononyl phthalate (DINP)</td>
			<td>Armband/ Bag/Pouch/Waist Pack/Case</td>
			<td>10</td>
		</tr>
		<tr>
			<td>Cable/Cords with Vinyl/PVC Component /<br />Power Strip/Cable/Phone Charging Wallet</td>
			<td>6</td>
		</tr>
		<tr>
			<td>Fishing Tools</td>
			<td>8</td>
		</tr>
		<tr>
			<td>Umbrella/ Vinyl apron/storage cases/gloves</td>
			<td>5</td>
		</tr>
		<tr>
			<td>Di-n-butyl phthalate (DBP)</td>
			<td>Sandals</td>
			<td>6</td>
		</tr>
		<tr>
			<td rowspan="6">Lead</td>
			<td>Adapter / Brass parts</td>
			<td>7</td>
		</tr>
		<tr>
			<td>Ceramics / Glasses</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Copper drinkware with brass components</td>
			<td>8</td>
		</tr>
		<tr>
			<td>Dietary Supplements /  Food</td>
			<td>28</td>
		</tr>
		<tr>
			<td>Padlocks/Parts/Fittings/Valves</td>
			<td>23</td>
		</tr>
		<tr>
			<td>Tools/ Weight sets</td>
			<td>3</td>
		</tr>
	</table>
	</div><br />
</div>

<div class="recapSection">
	<a name="sept2017-maine-prohibit-flame-retardant-furniture" class="bookmark"></a>
	<strong>US State of Maine Approves Act to Prohibit Flame Retardant in Upholstered Furniture</strong>
	<p>On August 2, 2017, Maine legislature have approved <a href="http://legislature.maine.gov/LawMakerWeb/summary.asp?ID=280062738" target="_blank">legislative document LD 182</a>, which will be written into law. This Act is to protect Firefighters by establishing a prohibition on the sale and distribution of new upholstered furniture containing certain flame retardant chemicals. The Act prohibits the sales and distribution of new upholstered furniture containing more than 0.1% of flame retardant chemicals (See <a href="https://www.asiainspection.com/regulatory-updates/May-2017/may2017-state-bills-summary" target="_blank">Regulatory Recap: May 2017</a>).</p>
	<a href="/regulatory-updates/September-2017/sept2017-maine-prohibit-flame-retardant-furniture" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<p>Beginning January 1, 2019, the Act prohibits the sale or distribution of upholstered furniture for promotional purposes containing flame retardants more than 0.1% in its:</p>
	<ul style="list-style-type: none; padding-left: 15px;">
		<li>-&nbsp;&nbsp;&nbsp;Fabric, or</li>
		<li>-&nbsp;&nbsp;&nbsp;Other covering, or</li>
		<li>-&nbsp;&nbsp;&nbsp;Cushioning materials</li>
	</ul>
	<p>A restricted flame retardant is defined as any chemical or chemical compound to resist or inhibit the spread of fire. It includes, but is not limited to, halogenated, phosphorus-based, nitrogen-based and nanoscale flame retardants.</p>			
	</div><br />
</div>

<div class="recapSection">
	<a name="sept2017-new-york-enforces-toxic-free-toys" class="bookmark"></a>
	<strong>State of New York Albany County Enforces the Updated Toxic Free Toys Act</strong>
	<p>Recently in the summer of 2017, the Albany County Department of Health (DoH) issued an <a href="http://www.albanycounty.com/Libraries/Department_of_Health/Toxic_Free_Toys_Act_Regulations.sflb.ashx" target="_blank">updated Local Law No. 2015 “Toxic Free Toys Act”</a>, <a href="http://www.albanycounty.com/Libraries/Department_of_Health/Letter_to_Retailers_-_Toxic_Free_Toys_Act.sflb.ashx" target="_blank">Letter to Retailers</a> and <a href="http://www.albanycounty.com/Libraries/Department_of_Health/Frequently_Asked_Questions_-_Toxic_Free_Toys_Act.sflb.ashx" target="_blank">Frequently Asked Question (FAQ)</a> related to the Toxic Free Toys Act (Local Law No. 1 for 2015) (See <a href="https://www.asiainspection.com/regulatory-updates/June-2016/albany-toxic-free-toys-act" taget="_blank">Regulatory Recap: June 2016</a>). They both clearly stated that the enforcement of the Act will begin on November 1, 2017.</p>
	<a href="/regulatory-updates/September-2017/sept2017-new-york-enforces-toxic-free-toys" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
	<p>In the letter to retailers, DoH states the enforcement date of the act will begin on November 1, 2017 and suggests retailers to understand the act through reading the FAQ which provides further information and clarification, such as, exempted products, penalties for violation, definition of children’s product etc.</p>
	<p>This act applies to children’s products and children’s apparel in general and there are 5 chemicals restricted as below: </p>
	<table style="width: 60%">
		<tr>
			<td style="font-weight: bold;">Chemicals</td>
			<td style="font-weight: bold; text-align: center;">Local Law 1 for 2015</td>
		</tr>
		<tr>
			<td style="font-weight: bold;">Antimony</td>
			<td style="text-align: center;">≤ 60 ppm</td>
		</tr>
		<tr>
			<td style="font-weight: bold;">Arsenic</td>
			<td style="text-align: center;">≤ 25 ppm</td>
		</tr>
		<tr>
			<td style="font-weight: bold;">Cadmium</td>
			<td style="text-align: center;">≤ 75 ppm</td>
		</tr>
		<tr>
			<td style="font-weight: bold;">Lead</td>
			<td style="text-align: center;">≤ 90 ppm (paints or similar surface coatings)<br />
			-------------------------------------<br />
			≤ 100 ppm (accessible substrates)</td>
		</tr>
		<tr>
			<td style="font-weight: bold;">Mercury</td>
			<td style="text-align: center;">≤ 60 ppm</td>
		</tr>
	</table>
	<p>Compared to previous adopted version (See <a href="https://www.asiainspection.com/regulatory-updates/June-2016/albany-toxic-free-toys-act" target="_blank">Regulatory Recap: June 2016</a>). Two chemicals, Cobalt and Benzene, are removed from the toxic content restriction. Instead, for cobalt, the DoH will actively monitor ongoing research and development. Testing will be required when there is more hazard data and information available. For benzene, it is currently monitored in drinking water and in air by Federal agencies including the Environmental Protection Agency (EPA) which has already specified hazardous limits in consumer products. </p>	
	</div><br />
</div>

<div class="recapSection">
	<a name="sept2017-canada-corded-window-coverings" class="bookmark"></a>
	<strong>Health Canada Proposes New Corded Window Coverings Regulation</strong>
	<p>On June 17, 2017, the Health Canada (HC) <a href="http://www.gazette.gc.ca/rp-pr/p1/2017/2017-06-17/html/reg7-eng.php" target="_blank">proposed Corded Window Coverings Regulations through Canada Gazette</a>. The proposed regulations will repeal current Corded Window Coverings Regulations, SOR/2016-172.</p>
	<a href="/regulatory-updates/September-2017/sept2017-canada-corded-window-coverings" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Instead of referencing to national standard in the current regulation, SOR/2016-172, the proposed regulations establish specifications to corded window coverings and they are summarized below:</p>
		<ol>
			<li>Small parts</li>
			<li>Lead content</li>
			<li>Unreachable cords</li>
			<li>Reachable cord (one free end and two consecutive contact points</li>
			<li>Loop created by reachable cord</li>
			<li>Two reachable cords</li>
			<li>Information and advertising</li>
			<li>Instructions and warning</li>
		</ol>
		<p>The regulation shall come into force six months after the day they are published in the Canada Gazette, Part II.</p>
	</div><br />
</div>

<div class="recapSection">
	<a name="sept2017-canada-formaldehyde-composite-wood-products" class="bookmark"></a>
	<strong>Canada Opens Consultation on the Proposed Regulatory Approach Regarding Formaldehyde in Composite Wood Products</strong>
	<p>In August, Canada Environment and Climate Changes opens a <a href="http://www.ec.gc.ca/lcpe-cepa/default.asp?lang=En&n=00B2F79C-1" target="_blank">consultation on the proposed regulatory approach to reduce the emission of formaldehyde from composite wood products</a>. The regulation is intended to be proposed through Canada Gazette later in 2018.</p>
	<a href="/regulatory-updates/September-2017/sept2017-canada-formaldehyde-composite-wood-products" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>The proposed regulatory approach aims to reduce formaldehyde exposure from indoor air.</p>
		<p>In the proposed regulatory approach, it is required that all composite wood products, including laminated products and finished goods made from composite wood products, comply with emission standards for formaldehyde. The Government of Canada is considering the CSA standard and regulatory approach taken in US and other jurisdictions as models for designing the proposed regulation.</p>
	</div><br />
</div>

<div class="recapSectionHeader">
	<a name="asia_news" class="bookmark"></a>
	<h2>ASIA NEWS</h2>
</div>

<div class="recapSection">
	<a name="sept2017-china-miit-exemption-list-rohs-2" class="bookmark"></a>
	<strong>China MIIT Proposes Draft Compliance Catalog and Exemption List for China RoHS 2</strong>
	<p>On June 29, 2017, China Ministry of Industry and Information Technology of the People’s Republic of China (MIIT) published a <a href="http://www.miit.gov.cn/n1146285/n1146352/n3054355/n3057542/n3057545/c5707945/content.html" target="_blank">draft Compliance Catalog and Exemption List for China Administrative Measures for Hazardous Substances in Electrical and Electronic Product (RoHS 2)</a>. The documents aim to help the industry to achieve the goal of China RoHS 2 to lower the risk from hazardous substances.</p>
	<a href="/regulatory-updates/September-2017/sept2017-china-miit-exemption-list-rohs-2" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>There are two documents drafted and they are summarized below:</p>
		<ol>
			<li>The drafted Compliance Catalog defines various household appliances and electronic devices which are within the scope of China RoHS 2.</li>
			<li>The drafted exemption list specifies limits for restricted heavy metals according to the product type. It also lists the products for which the restriction does not apply.</li>
		</ol>
	</div><br />
</div>

<div class="recapSection">
	<a name="sept2017-china-standards-updates-summary" class="bookmark"></a>
	<strong>China Standards – Summary of Updates</strong>
	<p>Recently, the China Standardization Administration of the People’s Republic of China (SAC) publishes several <a href="http://www.sac.gov.cn/gzfw/ggcx/gjbzgg/" target="_blank">Notices</a> regarding updates to China standards,  including newly issued standards and revised standards. The standards cover different consumer products including, but not limited to, textiles and footwear.</p>
	<a href="/regulatory-updates/September-2017/sept2017-china-standards-updates-summary" class="recapViewStory" style="float:right;">View Story</a>
	<a href="javascript://" class="learnmore" style="float:left;">Read More</a>
	<div style="clear:both;"></div>
	<div class="moretext">
		<p>Some examples of the updated standards are listed below:</p>
		<table style="width: 90%">
			<tr>
				<td style="font-weight: bold; text-align: center;">Standard No.</td>
				<td style="font-weight: bold; text-align: center;">Standard Names</td>
				<td style="font-weight: bold; text-align: center;">Effective Date</td>
			</tr>
			<tr>
				<td>GB/T 2660-2017</td>
				<td>Shirts and blouses</td>
				<td>December 1, 2017</td>
			</tr>
			<tr>
				<td>GB/T 2662-2017</td>
				<td>Cotton Clothing</td>
				<td>December 1, 2017</td>
			</tr>
			<tr>
				<td>GB/T 2667-2017</td>
				<td>Shirt Specifications</td>
				<td>December 1, 2017</td>
			</tr>
			<tr>
				<td>GB/T 4146.2-2017</td>
				<td>Textiles—Man-made fibers—Part 2: Terms of products</td>
				<td>December 1, 2017</td>
			</tr>
			<tr>
				<td>GB/T 8629-2017</td>
				<td>Textiles—Domestic washing and drying procedures for textile<br />testing</td>
				<td>December 1, 2017</td>
			</tr>
			<tr>
				<td>GB/T 22756-2017</td>
				<td>Leather sandals</td>
				<td>December 1, 2017</td>
			</tr>
			<tr>
				<td>GB/T 24218.16-2017</td>
				<td>Textiles—Test methods for nonwovens—Part 16: Determination<br />of resistance to penetration by water (hydrostatic pressure)</td>
				<td>December 1, 2017</td>
			</tr>
			<tr>
				<td>GB/T 24218.17-2017</td>
				<td>Textiles—Test methods for nonwovens—Part 17: Determination<br />of resistance to penetration by water (spray impact)</td>
				<td>December 1, 2017</td>
			</tr>
			<tr>
				<td>GB/T 33610.2-2017</td>
				<td>Textiles—Determination of deodorant property—Part<br />2:Detector tube method</td>
				<td>December 1, 2017</td>
			</tr>
			<tr>
				<td>GB/T 33611-2017</td>
				<td>Textiles—Determination of short chain 4-(1,1,3,3-<br />tetramethylbutyl)phenol ethoxylate</td>
				<td>December 1, 2017</td>
			</tr>
			<tr>
				<td>GB/T 33618-2017</td>
				<td>Textiles—Test method for visible smoke release and heat<br />release properties during combustion process</td>
				<td>December 1, 2017</td>
			</tr>
			<tr>
				<td>GB/T 33729-2017</td>
				<td>Textiles—Tests for colour fastness—Cotton rubbing cloth</td>
				<td>December 1, 2017</td>
			</tr>
			<tr>
				<td>GB/T 33734-2017</td>
				<td>Woven bedding for infants</td>
				<td>December 1, 2017</td>
			</tr>
		</table>
	</div><br />
</div>
