{% extends '::base.html.twig' %}
{%block title%}Webinar: Why Ethical Responsibility Makes Economic Sense{%endblock%}
{%block pagename%}ethical-webinarl{%endblock%}
{%block body%}
<div class="headerbox"  id="ethical-webinar-headerbox"  >
   <div class="container wrapper vcenter_parent" >
      <div class="vcenter_parent">
         <div class="col-xl-8 col-xl-offset-0  col-lg-7 col-lg-offset-1 col-xs-offset-1 col-xs-11 vcenter" style="padding-left:0px;">
            <h1 class="mainHeader" id="ethicalWebinarHeader" style="color:#b31820;margin-bottom:18px;">Why Ethical Responsibility Makes Economic Sense</h1>
             <div class="mainSubHeader" id="ethical-webinar-subheader" style="color:black;font-size:14px;margin-bottom:10px;">  <p style="margin-bottom:15px;">As consumers and governing bodies put increasing demands for transparency and compliance, ethical responsibility has moved from being a fairly optional PR tool to a factor that can add real business value – or cause drastic reputational and financial loss.</p><p >Join AI’s free webinar and learn practical steps to manage compliance and secure your global supply chain.</p> <center><a href="https://attendee.gotowebinar.com/register/2667347408515774977" target="_blank" class="btn btn-primary" style="margin:20px 0px;">Register Now</a><br><p style="padding-top:10px;font-weight:bold;margin:0px;">If you’re unable to attend, register and we’ll send you the Webinar after!</p><img src="{{assetsDomain}}/images/responsive/webinar.jpg" id="imgEthical" style="display:none;margin-top:20px;"></center></div>
         </div>
      </div>
   </div>
</div>
 <div id="ethical-webinar-imageDiv" style="height:330px;background-color:grey;">

     </div>
<div class="container wrapper" style="background-color:white; width:100%;margin-bottom:100px;">
   <div class=" col-xl-12 " >
   
    
     <div class="col-xs-12 col-sm-offset-1 col-sm-6 col-md-offset-1 col-md-7 col-lg-7 col-xl-offset-0 col-xl-8 sidebox" style="background-color:white;">
      <table border="0" cellpadding="20" cellspacing="0" style="width: 100%; margin: 40px 0px 0px 0px;">
         <!-- Padding around White Wrapper -->
         <tbody>
            <tr>
               <td style="padding-top: 0px;">
                  <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; ">
                     <!-- First Row -->
                     <tbody>
                      <tr>
                           <td>
                              <h2 style="  padding-top:20px; margin: 0px;padding-bottom:20px;">Why attend this webinar?</h2>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <ul style="padding-left: 15px;  font-size: 14px; list-style-image: url('{{assetsDomain}}/images/tinybullet.png');">
                                 <li style="margin-bottom: 5px;">Learn <strong>why ethical responsibility makes economic sense</strong></li>
                                 <li style="margin-bottom: 5px;">Learn about <strong>current ethical challenges in global sourcing</strong></li>
                                 <li style="margin-bottom: 5px;">Learn how to <strong>effectively manage compliance in your supply chain</strong></li>
                                 <li style="margin-bottom: 5px;">Learn how to <strong>engage and educate your suppliers about ethical compliance issues</strong></li>
                                 <li style="margin-bottom: 5px;">Learn about the <strong>the key components and stages of ethical audits</strong></li>
                              </ul>
                           </td>
                        </tr>
                        <tr>
                           <td>

                              <h2 style="padding-top:30px;  padding-bottom:20px;margin: 0px;">Who should attend?</h2>
                           </td>
                        </tr>
                       
                        <tr>
                           <td><span style=" font-size: 14px;">Supply chain, sourcing, and other executives at retailers and brands with an interest in global sourcing.</span></td>
                        </tr>
                        <tr>
                           <td height="20">
                           </td>
                        

                        
                  </table>
            </table>
         </div>
         <div class="sidebox col-xs-12 col-sm-offset-0  col-sm-5 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0 col-xl-4 " id="webinar-sidebox" style="margin-top:-82px;">

            <div class="sidebarTitlebar">
                <h5>About your host</h5>
            </div>
            <div class="sidebarContentBox">
                <img src="{{assetsDomain}}/images/responsive/Michael_Bland-03.jpg" style="float:left;"/>
                <div style="float:left;margin-left:10px;">
                <h5 style="margin-top:0px;">Michael Bland</h5>
                <p style="color: #606060;">Sales Director,<br> Asia Inspection </p>
                </div> 
                <div style="clear:both"></div>
                <p style="margin-top:15px;">Michael has spent the last 19 years of his career working in the Asia Pacific region and the last 6 years in supply chain quality control. His career has given Michael a broad view of the quality control process in Asia's supply chain.</p>
            </div>

          </div>
   </div>
</div>
<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">
   stLight.options({
     publisher:'12345',
      doNotHash:true,
      doNotCopy:true,
      hashAddressBar:false
   });
</script>
{% endblock %}

