{% extends 'AIResponsiveBundle:salesLeads:leadsBase.html.twig' %}
{%block title%}{{title}}{%endblock%}

{%block content%}
    <div class="box-white">
        <h1 class="margin20">{{title}}</h1>
        <p>An error has occurred, please email <a href="mailto:vincent.macdonald@asiainspection.com?subject=Error with Sales Upload Tool">Marketing Development</a> with a screenshot of this page.</p>
        <br />
        <p style="font-style:italic;">{{error}}</p>
        <br />
        <a href="/sales-leads">Home</a>
    </div>
{%endblock%}