<!-- { "Title":"April 2016 Recap", "PublishDate":"2016-04-25", "Description":"NORTH AMERICA NEWS - On April 1, 2016, the Office of Environmental Health Hazard Assessment (OEHHA) issued a notice, Notice of Emergency Action To Amend Section 25603.3 Title 27, California Code of Regulations Warnings for Exposures to Bisphenol A from Canned or Bottled Foods and Beverages." }-->
<ol style="margin-top:10px;">
    <li style="margin-bottom:10px;"><a href="#north_america_news">NORTH AMERICA NEWS</a>
    <li style="margin-bottom:10px;"><a href="#south_america_news">SOUTH AMERICA NEWS</a>
    <li style="margin-bottom:10px;"><a href="#europe_news">EUROPE NEWS</a>
    <li style="margin-bottom:10px;"><a href="#australia_new_zealand_news">AUSTRALIA / NEW ZEALAND  NEWS</a>
    <li style="margin-bottom:10px;"><a href="#asia_news">ASIA NEWS</a>
</ol>
<hr />

<a name="north_america_news" class="bookmark"></a>
<h2>NORTH AMERICA NEWS</h2>

<a name="california-bpa" class="bookmark"></a>
<strong>US State California, OEHHA Proposes Amendment on California Code of Regulation Concerning BPA in Canned and Bottled Foods and Beverages</strong>
<p>On April 1, 2016, the Office of Environmental Health Hazard Assessment (OEHHA) issued a notice, <a href="http://oehha.ca.gov/prop65/CRNR_notices/040116BPAEmergencyAction.html" target="_blank">Notice of Emergency Action To Amend Section 25603.3 Title 27, California Code of Regulations Warnings for Exposures to Bisphenol A from Canned or Bottled Foods and Beverages</a>, to propose temporary use of a standard point-of-sale warning message for Bisphenol A (BPA) for canned and bottled foods and beverages. The proposed warning message aims to prevent inconsistent warning messages, reduce the chance of confusion among consumers and protect consumers from BPA's reproductive toxicity.</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>BPA was added to the Proposition 65 List May 11, 2015 and its warning requirement begins 1 year thereafter (<a href="http://www.ansecogroup.com/regrecap/5871/" target="_blank">See Regulatory Recap: Issue 2, May 2015</a>). Meanwhile, in a separate rulemaking process, OEHHA is proposing a BPA Maximum Allowable Dose Level (MADL) for dermal exposure but not for oral exposure to BPA from food and beverages. Therefore, the MADL does not cover the epoxy resin lining used in metal-based food and beverage cans. Products with epoxy resin linings can cause exposure to BPA and may require a warning. </p>
    <p>Once the warning label requirement goes into effect, retailers may put warnings on all food and beverage products that may contain BPA, while others may warn selectively and inconsistently. This is due to the fact that canned and bottled foods generally have shelf lives up to 3 years and the current Proposition 65 warning regulation applies to products produces post-May 2015. With a 1 year of transition period, there is still significant volume of stock products were manufactured or produced before May 2015 remaining on shelves without warnings. </p>
    <p>Currently, there is no regulatory requirement for the Proposition 65 warning to name the chemical or its associated health effect. Some businesses may choose to name BPA in their warning message and provide supplementary information about BPA, while others may just simply say that "the food or beverage product contains a chemical known to the State of California to cause birth defects or other reproductive harm". Such general messages may cause confusion among consumers and do not serve the public's interest. </p>
    <p>In light of these concerns, the temporary use of a standard and uniform point-of-sale warning message for BPA would address the problems and avoid public confusion resulting from inconsistent warning messages.</p>
</div>
<br />

<a name="new-jersey-bpa" class="bookmark"></a>
<strong>US State New Jersey Proposes BPA Prohibition in Food and Beverage Packaging and Containers</strong>
<p>On January 27, 2016, Assembly Bill 1821, 2014 was re-introduced as <a href="http://www.njleg.state.nj.us/2016/Bills/A1500/1437_I1.PDF" target="_blank">Assembly Bill 1437, 2016</a> to propose an act related to bisphenol A (BPA). The bill would prohibit the sale and distribution of food and beverage packaging and containers made with BPA as well as food and beverage storage containers made with BPA.</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>The re-introduced bill is identical to the previous bill. Once the bill is passed and signed into law, this act will be effective immediately. </p>
    <p>A storage container here means any refillable or reusable plastic container which may be used for reheating or storage of food and beverage, for examples:</p>
    <ol>
        <li style="margin-bottom:10px;">Thermoses</li>
        <li style="margin-bottom:10px;">Baby bottles</li>
        <li style="margin-bottom:10px;">Coolers</li>
        <li style="margin-bottom:10px;">Resealable containers</li>
    </ol>
</div>
<br />

<a name="connecticut-flame-retardants" class="bookmark"></a>
<strong>US State Connecticut Proposes Prohibition in Children's Products and Upholstered Residential Furniture Containing Certain Flame Retardants</strong>
<p>On February 24, 2016, the Public Safety and Security Committee introduced <a href="https://www.cga.ct.gov/2016/TOB/h/2016HB-05404-R00-HB.htm" target="_blank">House Bill No. 5404 "An Act Concerning Toxic Flame Retardant Chemicals in Children's Products and Furniture"</a>. The proposed act would prohibit children's products and upholstered residential furniture from containing certain flame retardant chemicals.</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>The implementation of prohibition is divided into 2 phases with the same flame retardants being prohibited:</p>
    <table>
        <tr>
            <td><b>Flame Retardants</b></td>
            <td><b>Chemical Abstracts Service (CAS) Number</b></td>
        </tr>
        <tr>
            <td>Tris (1,3-dichloro-2-propyl) phosphate (TDCPP / TDCP)</td>
            <td>13674-87-8</td>
        </tr>
        <tr>
            <td>Tris (2-chloroethyl) phosphate (TCEP)</td>
            <td>115-96-8</td>
        </tr>
        <tr>
            <td>Tris (1-chloro-2-propyl) phosphate (TCPP)</td>
            <td>13674-84-5</td>
        </tr>
        <tr>
            <td>Decabromodiphenyl ether</td>
            <td>1163-19-5</td>
        </tr>
        <tr>
            <td>Hexabromocyclododecane</td>
            <td>3194-55-6</td>
        </tr>
    </table>
    <ol>
        <li style="margin-bottom:10px;">Starting from July 1, 2019, manufacturers, wholesalers or distributors shall not manufacture, sell or distribute children's product or upholstered residential furniture containing 1000 ppm of the above flame retardants in any product component.</li>
        <li style="margin-bottom:10px;">Starting from July 1, 2020, retailers shall not sell children's product or upholstered residential furniture containing 1000 ppm of the above flame retardants in any product component.</li>
    </ol>
</div>
<br />

<a name="columbia-flame-retardants" class="bookmark"></a>
<strong>US District of Columbia Approves to Amend Human and Environmental Health Protection Act of 2010 Concerning Certain Flame Retardants Prohibition</strong>
<p>On March 17, 2016, bill B21-0143 was signed and enacted with act number <a href="http://lims.dccouncil.us/Download/33567/B21-0143-SignedAct.pdf" target="_blank">A21-0336, "Carcinogenic Flame Retardant Prohibition Amendment Act of 2016"</a>. This act amends Human and Environmental Health Protection Act of 2010 to prohibit the manufacture, sale and distribution of any product containing certain chlorinated flame retardants. </p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>According to the amended act, the implementation of prohibition is divided into 2 phases with the same flame retardants being prohibited: </p>
    <table>
        <tr>
            <td><b>Flame Retardants</b></td>
            <td><b>Chemical Abstracts Service (CAS) Number</b></td>
        </tr>
        <tr>
            <td>Tris(1,3-dichloro-2-propyl)phosphate (TDCPP)</td>
            <td>13674-87-8</td>
        </tr>
        <tr>
            <td>Tris(2-chloroethyl)phosphate (TCEP)</td>
            <td>115-96-8</td>
        </tr>
    </table>
    <ol>
        <li style="margin-bottom:10px;">Starting from January 1, 2018, no person can manufacture, sell or distribute any children's product or residential upholstered furniture containing more than 0.1% (1000 ppm) of the above flame retardants.</li>
        <li style="margin-bottom:10px;">Starting from January 1, 2019, no person can manufacture, sell or distribute any product containing 0.1% (1000 ppm) of the above flame retardants.</li>
    </ol>
    <p>The Mayor may request the manufacturer to provide a certificate demonstrating compliance with the act in 45 days. Otherwise, the manufacturer shall notify persons or entities, who sell and distribute the product, that the product does not comply with the act and submit a list of the names and addresses of those notified.</p>
</div>
<br />

<a name="washington-flame-retardants" class="bookmark"></a>
<strong>US State Washington Senate Approves Bill to Amend CSPA Concerning Flame Retardant Chemicals</strong>
<p>On March 10, 2016, the Washington House Bill, HB 2545 to amend the Children's Safe Product Act (CSPA) Chapter 70.240 RCW was approved by the president of the Washington State Senate. The amendment adds restrictions on flame retardant chemicals in children's products and residential upholstered furniture. Also, the Department of Ecology (DoE) will consider to include other unrestricted flame retardants as Chemicals of High Concern to Children (CHCC).</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>Once the bill is signed into law, manufacturers, wholesalers or retailers shall not manufacture, sell or distribute children's products and upholstered furniture containing flame retardants starting from July 1, 2017. The restricted concentration is 1000 ppm in any product component and the restricted flame retardants include:</p>
    <table>
        <tr>
            <td><b>Flame Retardants</b></td>
            <td><b>Chemical Abstracts Service (CAS) Number</b></td>
        </tr>
        <tr>
            <td>Tris(1,3-dichloro-2-propyl)phosphate (TDCPP)</td>
            <td>13674-87-8</td>
        </tr>
        <tr>
            <td>Tris(2-chloroethyl)phosphate (TCEP)</td>
            <td>115-96-8</td>
        </tr>
        <tr>
            <td>Decabromodiphenyl ether</td>
            <td>1163-19-5</td>
        </tr>
        <tr>
            <td>Hexabromocyclododecane (HBCD)</td>
            <td>25637-99-4</td>
        </tr>
        <tr>
            <td>Tetrabromobisphenol A (Additive TBBPA)</td>
            <td>79-94-7</td>
        </tr>
    </table>
    <p>A manufacturer of products that are restricted (containing listed flame retardants at greater than 1000 ppm) must notify persons who sell the manufacturer's products before April 2, 2017.</p>
    <p>Apart from restriction of the above 5 flame retardants, a new section was added to CSPA addressing that the DoE shall consider whether the following flame retardants meet the criteria of being a CHCC:</p>
    <table>
        <tr>
            <td><b>Flame Retardants</b></td>
            <td><b>Chemical Abstracts Service (CAS) Number</b></td>
        </tr>
        <tr>
            <td>Isopropylated triphenyl phosphate (IPTPP)</td>
            <td>68937-41-7</td>
        </tr>
        <tr>
            <td>(2-ethylhexyl)-2,3,4,5-tetrabromobenzoate (TBB)</td>
            <td>183658-27-7</td>
        </tr>
        <tr>
            <td>(2-ethylhexyl)-2,3,4,5-tetrabromophthalate (TBPH)</td>
            <td>26040-51-7</td>
        </tr>
        <tr>
            <td>(1-chloro-2-propyl) phosphate (TCPP)</td>
            <td>13674-84-5</td>
        </tr>
        <tr>
            <td>Triphenyl phosphate (TPP)</td>
            <td>115-86-6</td>
        </tr>
        <tr>
            <td>bis(chloromethyl) propane-1,3-diyltetrakis (2-chloroethyl) bisphosphate (V6)</td>
            <td>385051-10-4</td>
        </tr>
    </table>
    <p>If any of the above flame retardants is identified as a CHCC, the Department of Health shall create an advisory committee. The committee will determine the necessity to restrict and prohibit the flame retardants identified from being used in children's products and residential upholstered furniture.</p>
</div>
<br />

<a name="south_america_news" class="bookmark"></a>
<h2>SOUTH AMERICA NEWS</h2>

<a name="brazil-toy-restrictions" class="bookmark"></a>
<strong>Brazil INMETRO Approves Restriction on Toys, Including "AquaDots" and "Bindeez", Containing 1,4-Butanediol</strong>
<p>On March 7, 2016, the President of the National Institute of Metrology, Quality and Technology (INMETRO) approved <a href="http://www.inmetro.gov.br/legislacao/rtac/pdf/RTAC002390.pdf" target="_blank">Administrative Rule No. 99</a> to restrict toys including "AquaDots" and "Bindeez" that containing 1, 4-butanediol. </p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>The draft of this administrative rule was proposed on December 17, 2015 (<a href="http://www.ansecogroup.com/regrecap/regulatory-recap-february-2016/" target="_blank">See Regulatory Recap: February 2016</a>). The approved rule is identical to the draft.  Beginning March 7, 2016, all toys including or similar to "AquaDots" and "Bindeez" containing 1,4-butanediol are prohibited. Manufacturers and suppliers of such toys shall immediately withdraw them from the market. </p>
</div>
<br />

<a name="europe_news" class="bookmark"></a>
<h2>EUROPE NEWS</h2>

<a name="europe_news" class="bookmark"></a>
<strong>EC Approves PPE Regulation</strong>
<p>On March 9, 2016, European Commission (EC) approved the <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32016R0425&from=EN" target="_blank">Regulation (EU) 2016/425 Personal Protective Equipment</a>. This new regulation will repeal the Council Directive 89/686/EEC on April 21, 2018 and enter into force on the same date. The regulation adopts and simplifies certain essential safety requirements from Directive 89/686/EEC and lays down requirements for the design and manufacture of Personal Protective Equipment (PPE). Manufacturers, distributors and importers of PPE are impacted by this new regulation.</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>Some PPE products that are excluded from the previous Directive are now incorporated into the new PPE Regulation in order to ensure a high level of protection to the user. The newly added products are as follows:</p>
    <ol>
        <li style="margin-bottom:10px;">PPE that is designed for private use against heat, such as gloves</li>
        <li style="margin-bottom:10px;">PPE for self-defense in sport activities</li>
    </ol>
    <p>The new regulation divides PPE's into 3 risk categories and it is the responsibility of manufacturer to carry out a risk assessment in order to identify the risks for the PPE:</p>
    <ol>
        <li style="margin-bottom:10px;">
            Category I: Minimal risks, such as
            <ul>
                <li style="margin-bottom:10px;">Superficial mechanical injury</li>
                <li style="margin-bottom:10px;">Contact with cleaning materials of weak action or prolonged contact with water</li>
            </ul>
        </li>
        <li style="margin-bottom:10px;">Category II: Risks other than those listed in Categories I and III</li>
        <li style="margin-bottom:10px;">
            Category III: Risks that cause very serious consequences, such as 
            <ul>
                <li style="margin-bottom:10px;">Falling from a height</li>
                <li style="margin-bottom:10px;">Substances and mixtures which are hazardous to health</li>
            </ul>
        </li>
    </ol>
    <p>The compliance requirements for the 3 categories are summarized in the below table:</p>
    <table>
        <tr>
            <td><b>Compliance requirements</b></td>
            <td style="text-align:center;" width="15%"><b>Category I</b></td>
            <td style="text-align:center;" width="15%"><b>Category II</b></td>
            <td style="text-align:center;" width="15%"><b>Category III</b></td>
        </tr>
        <tr>
            <td>Design principles</td>
            <td style="text-align:center;">X</td>
            <td style="text-align:center;">X</td>
            <td style="text-align:center;">X</td>
        </tr>
        <tr>
            <td>Innocuousness of PPE</td>
            <td style="text-align:center;">X</td>
            <td style="text-align:center;">X</td>
            <td style="text-align:center;">X</td>
        </tr>
        <tr>
            <td>Comfort and effectiveness</td>
            <td style="text-align:center;">X</td>
            <td style="text-align:center;">X</td>
            <td style="text-align:center;">X</td>
        </tr>
        <tr>
            <td>Manufacturer's instructions and information</td>
            <td style="text-align:center;">X</td>
            <td style="text-align:center;">X</td>
            <td style="text-align:center;">X</td>
        </tr>
        <tr>
            <td>Additional requirements common to several types of PPE</td>
            <td colspan="3" rowspan="2">Requirements depend on the components, properties and functions of the PPE</td>
        </tr>
        <tr>
            <td>Additional requirements specific to particular risks</td>
        </tr>
        <tr>
            <td>Evaluation per:</td>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td>Internal production control (Module A)</td>
            <td style="text-align:center;">X</td>
            <td style="text-align:center;">&nbsp;</td>
            <td style="text-align:center;">&nbsp;</td>
        </tr>
        <tr>
            <td>European Union (EU) type-examination conducted by notified body (Module B) </td>
            <td style="text-align:center;">&nbsp;</td>
            <td style="text-align:center;">X</td>
            <td style="text-align:center;">X</td>
        </tr>
        <tr>
            <td>Conformity to type based on internal production control (Module C)</td>
            <td style="text-align:center;">&nbsp;</td>
            <td style="text-align:center;">X</td>
            <td style="text-align:center;">&nbsp;</td>
        </tr>
        <tr>
            <td>Conformity to type based on internal production control plus supervised product checks at random intervals (Module C2)</td>
            <td style="text-align:center;">&nbsp;</td>
            <td style="text-align:center;">&nbsp;</td>
            <td style="text-align:center;" rowspan="2">X<br /><i>(Either module C2 or D)</i></td>
        </tr>
        <tr>
            <td>Conformity to type based on quality assurance of the production process (Module D)</td>
            <td style="text-align:center;">&nbsp;</td>
            <td style="text-align:center;">&nbsp;</td>
        </tr>
        <tr>
            <td>Technical documentation</td>
            <td style="text-align:center;">X</td>
            <td style="text-align:center;">X</td>
            <td style="text-align:center;">X</td>
        </tr>
        <tr>
            <td>EU Declaration of Conformity</td>
            <td style="text-align:center;">X</td>
            <td style="text-align:center;">X</td>
            <td style="text-align:center;">X</td>
        </tr>
        <tr>
            <td>CE Marking</td>
            <td style="text-align:center;">X</td>
            <td style="text-align:center;">X</td>
            <td style="text-align:center;">X<br /><i>(CE marking followed by the identification number of the notified body involved in module C2 or D)</i></td>
        </tr>
    </table>
    <p>Apart from the manufacturers' responsibilities, importers and distributors shall ensure that their PPE is compliant with this regulation, bears the CE marking and is accompanied with required documentation.</p>
</div>
<br />

<a name="eu-amend-pop" class="bookmark"></a>
<strong>EC Approves to Amend POPs Regulation</strong>
<p>On March 30, 2016, European Commission (EC) approved <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32016R0460&from=EN" target="_blank">Regulation (EU) 2016/460 to amend annex IV and V of Regulation (EC) No. 850/2004 Persistent Organic Pollutants (POPs)</a>. The amendment will become effective on September 30, 2016. </p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>The highlights of the amendments is listed below:</p>
    <p>1. In Annex IV which lists substances that are subject to waste management provisions, one new entry is added:</p>
    <table>
        <tr>
            <td><b>Substance</b></td>
            <td><b>CAS No.</b></td>
            <td><b>EC No.</b></td>
            <td><b>Concentration limit</b></td>
        </tr>
        <tr>
            <td>Hexabromocyclododecane</td>
            <td>
                25637-99-4<br />
                3194-55-6<br />
                134237-50-6<br />
                134237-51-7<br />
                134237-52-8
            </td>
            <td>
                247-148-4<br />
                221-695-9
            </td>
            <td>1000 mg/kg</td>
        </tr>
    </table>
    <p>2. Part 2 of Annex V, Wastes and Operations, is amended as follows:</p>
    <table>
        <tr><td colspan="3"><b>Wastes as classified in Commission Decision 2000/532/EC</b></td></tr>
        <tr>
            <td style="text-align:center"><b>Number</b></td>
            <td style="text-align:center"><b>Before Amendment</b></td>
            <td style="text-align:center"><b>After Amendment</b></td>
        </tr>
        <tr>
            <td>-</td>
            <td colspan="2">All words "Hazardous" are changed into "Dangerous"</td>
        </tr>
        <tr>
            <td>17 05 03</td>
            <td>Soil and stones containing hazardous substances</td>
            <td>Inorganic fraction of soil and stones containing dangerous substances</td>
        </tr>
        <tr>
            <td>17 09 03</td>
            <td>Other construction and demolition wastes (including mixed wastes) containing hazardous substances</td>
            <td>Other construction and demolition wastes containing dangerous substances</td>
        </tr>
    </table>
    <p>Maximum concentration limits of substances are also added:</p>
    <table>
        <tr>
            <td><b>Substances</b></td>
            <td><b>Maximum Concentration Limit (mg/kg)</b></td>
        </tr>
        <tr>
            <td>Alkanes C10-C13, chloro (short-chain chlorinated paraffins) (SCCPs)</td>
            <td>10000</td>
        </tr>
        <tr>
            <td>Aldrin</td>
            <td>5000</td>
        </tr>
        <tr>
            <td>Chlordane</td>
            <td>5000</td>
        </tr>
        <tr>
            <td>Chlordecone</td>
            <td>5000</td>
        </tr>
        <tr>
            <td>DDT (1,1,1-trichloro-2,2-bis (4-chlorophenyl) ethane)</td>
            <td>5000</td>
        </tr>
        <tr>
            <td>Dieldrin</td>
            <td>5000</td>
        </tr>
        <tr>
            <td>Endosulfan</td>
            <td>5000</td>
        </tr>
        <tr>
            <td>Endrin</td>
            <td>5000</td>
        </tr>
        <tr>
            <td>Heptachlor</td>
            <td>5000</td>
        </tr>
        <tr>
            <td>Hexabromobiphenyl</td>
            <td>5000</td>
        </tr>
        <tr>
            <td>Hexabromocyclododecane</td>
            <td>1000</td>
        </tr>
        <tr>
            <td>Hexachlorobenzene</td>
            <td>5000</td>
        </tr>
        <tr>
            <td>Hexachlorobutadiene</td>
            <td>1000</td>
        </tr>
        <tr>
            <td>Hexachlorocyclohexanes, including lindane</td>
            <td>5000</td>
        </tr>
        <tr>
            <td>Mirex</td>
            <td>5000</td>
        </tr>
        <tr>
            <td>Pentachlorobenzene</td>
            <td>5000</td>
        </tr>
        <tr>
            <td>Perfluorooctane sulfonic acid and its derivatives (PFOS) (C8F17SO2X) (X = OH, Metal salt (O-M+), halide, amide, and other derivatives including polymers)</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Polychlorinated dibenzo-p-dioxins and dibenzofurans</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Polychlorinated naphthalenes</td>
            <td>1000</td>
        </tr>
        <tr>
            <td>Sum of the concentrations of tetrabromodiphenyl ether C12H6Br4O), pentabromodiphenyl ether (C12H5Br5O), hexabromodiphenyl ether (C12H4Br6O)and heptabromodiphenyl ether (C12H3Br7O)</td>
            <td>10000</td>
        </tr>
        <tr>
            <td>Toxaphene</td>
            <td>5000</td>
        </tr>
    </table>
</div>
<br />

<a name="eu-bpa" class="bookmark"></a>
<strong>EU Proposes More Stringent BPA Requirements for Food Contact Materials and Articles</strong>
<p>On March 14, 2016, the European Union (EU) published a <a href="https://members.wto.org/crnattachments/2016/SPS/EEC/16_1018_00_e.pdf" target="_blank">draft directive regarding the use of bisphenol A (BPA) in varnishes and coatings intended to come into contact with food</a>. The scope of the BPA prohibition in food contact materials or articles is proposed to expand by establishing a migration limit regarding varnish or coating materials that come into contact with food. The Specific Migration Limit (SML) of BPA is proposed to be lowered in Regulation (EU) No. 10/2011 on Plastic Materials and Articles intended to Come into Contact with Food.</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>BPA has widely been used in epoxy resins for varnishes and coatings on food cans. Food is possibly exposed to BPA and therefore EU proposes to establish a SML for BPA in varnishes and coatings to ensure a high level of protection to humans. In light of this, a SML of 0.05mg/kg has been proposed. Also, business operators shall ensure that a written declaration of compliance is available for the varnished or coated materials and articles.</p>
    <p>While the SML of BPA under Regulation (EU) No. 10/2011 is proposed to be revised from 0.6 mg/kg to 0.05 mg/kg. The BPA requirement for polycarbonate infant feeding bottles will remain unchanged. </p>
</div>
<br />

<a name="eu-tte-directive" class="bookmark"></a>
<strong>EU Adopts New RE Directive Superseding R &amp; TTE Directive</strong>
<p>On June 13, 2016, the <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=celex:32014L0053" target="_blank">Directive 2014/53/EU Radio Equipment (RE Directive)</a> will enter into force. European marketed radio products that currently comply with the Directive 1999/5/EC Radio &amp; Telecommunication Terminal Equipment (R &amp; TTE Directive) will now have to comply with the new RE Directive. The R &amp; TTE Directive will be repealed on the same date. </p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>The RE Directive is similar to the R &amp; TTE Directive with a change in the scope. The scopes of both Directives are summarized below for comparison:</p>
    <table>
        <tr>
            <td>&nbsp;</td>
            <td><b>RE Directive</b></td>
            <td><b>R &amp; TTE Directive</b></td>
        </tr>
        <tr>
            <td rowspan="2">Scope</td>
            <td>Radio Equipment means an electronic or electrical product which emits or receives radio waves for radio communication or radiodetermination.<br /><br />It must be completed with an accessory, such as antenna</td>
            <td>Radio Equipment means a product or relevant component thereof, capable of communication by means of emission or reception of radio waves</td>
        </tr>
        <tr>    
            <td>Including broadcast TV and radio receivers</td>
            <td>Excluding broadcast TV and radio receivers</td>
        </tr>
        <tr>
            <td>Radio Waves</td>
            <td>3000GHz or lower<br />(including 9kHz or lower)</td>
            <td>From 9 kHz to 3000 GHz</td>
        </tr>
    </table>
    <p>There are 3 essential requirements in the RE Directive,</p>
    <ol>
        <li style="margin-bottom:10px;">Radio equipment shall comply with following Directives:
            <ol>
                <li style="margin-bottom:10px;">Directive 2014/30/EU: Harmonization of the Laws of the Member States Relating to Electromagnetic Compatibility </li>
                <li style="margin-bottom:10px;">Directive 2014/35/EU: Harmonization of the Laws of the Member States Relating to the Making Available on the Market of Electrical Equipment Designed for Use within Certain Voltage Limits</li>
            </ol>
        </li>
        <li style="margin-bottom:10px;">Radio equipment shall be used effectively and it shall supports the efficient use of radio spectrum in order not to produce harmful interference</li>
        <li style="margin-bottom:10px;">It shall also meet the other essential requirements in RE Directive</li>
    </ol>
    <p>Manufacturers shall perform a conformity assessment and it can be carried out by any one of the following procedures:</p>
    <table>
        <tr>
            <td style="text-align:center;"><b>Procedures</b></td>
            <td style="text-align:center;" width="15%"><b>Requirement 1</b></td>
            <td style="text-align:center;" width="15%"><b>Requirement 2</b></td>
            <td style="text-align:center;" width="15%"><b>Requirement 3</b></td>
        </tr>
        <tr>
            <td>Internal production control (Module A)</td>
            <td style="text-align:center;">X</td>
            <td style="text-align:center;" colspan="2">X<br />(only for manufacturer who have applied harmonized standards)</td>
        </tr>
        <tr>
            <td>European Union (EU) type examination conducted by notified body (Module B) followed by Conformity of type based on internal production control (Module C)</td>
            <td style="text-align:center;">X</td>
            <td style="text-align:center;">X</td>
            <td style="text-align:center;">X</td>
        </tr>
        <tr>
            <td>Conformity based on full quality assurance (Module H)<br />(Assessed by notified body)</td>
            <td style="text-align:center;">X</td>
            <td style="text-align:center;">X</td>
            <td style="text-align:center;">X</td>
        </tr>
    </table>
</div>
<br />

<a name="eu-4-new-substances" class="bookmark"></a>
<strong>EU Member States Propose Four Substances as SVHCs in REACH</strong>
<p>On February 29, 2016, the European Union (EU) member states <a href="http://echa.europa.eu/addressing-chemicals-of-concern/authorisation/substances-of-very-high-concern-identification" target="_blank">proposed to identify four new chemicals as Substances of Very High Concern (SVHC) under the REACH Regulation</a> with carcinogenic, mutagenic, toxic to reproduction, persistent, bioaccumulative and toxic, and very persistent and very bioaccumulative properties. The public consultation ended on April 14, 2016.</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>The four chemicals proposed are:</p>
    <ol>
        <li style="margin-bottom:10px;">(±)-1,7,7-trimethyl-3-[(4-methylphenyl)methylene]bicyclo[2.2.1]heptane-2-one (4-methylbenzylidene camphor) (EC No. 253-242-6) (CAS No. 36861-47-9);</li>
        <li style="margin-bottom:10px;">1,7,7-trimethyl-3-(phenylmethylene)bicyclo[2.2.1]heptan-2-one (3-benzylidene camphor) (EC No. 239-139-9) (CAS No. 15087-24-8);</li>
        <li style="margin-bottom:10px;">Benzo[def]chrysene (Benzo[a]pyrene) (EC No. 200-028-5) (CAS No. 50-32-8);</li>
        <li style="margin-bottom:10px;">Dicyclohexyl phthalate (DCHP) (EC No. 201-545-9) (CAS No. 84-61-7)</li>
    </ol>
</div>
<br />

<a name="fr-new-methodological-document" class="bookmark"></a>
<strong>French DGCCRF Issues New Methodological Document for Metallic Food Contact Material</strong>
<p>On January 1, 2016, the General Directorate for Competition Policy, Consumer Affairs and Fraud Control (DGCCRF) implemented a new <a href="http://www.economie.gouv.fr/files/files/directions_services/dgccrf/securite/produits_alimentaires/materiaux_contact/doc_pdf/DM-4B-COM-001-V01.pdf" target="_blank">Methodological Document, DM/4B/COM/001</a>, for food contact materials which are made from metals or alloys. Mandated requirements have been established and summarized in 9 categories of metals and alloys.</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>In the document, composition, purity and Specific Migration Limits (SML) requirements for certain elements or chemical species have been listed in detail. Different types of metals and alloys will have specific requirements:</p>
    <ol>
        <li style="margin-bottom:10px;">Stainless steel</li>
        <li style="margin-bottom:10px;">Aluminium and aluminium alloys </li>
        <li style="margin-bottom:10px;">Steel for Packaging</li>
        <li style="margin-bottom:10px;">Uncoated steel including packaging</li>
        <li style="margin-bottom:10px;">Steel and Stainless steel excluding packaging</li>
        <li style="margin-bottom:10px;">Unalloyed iron</li>
        <li style="margin-bottom:10px;">Tin and Tin alloy</li>
        <li style="margin-bottom:10px;">Zinc and Zinc alloy</li>
        <li style="margin-bottom:10px;">Various metal coated objects </li>
    </ol>
    <p>It should be noted that these requirements are not applicable to:</p>
    <ol>
        <li style="margin-bottom:10px;">Enamel materials</li>
        <li style="margin-bottom:10px;">Inorganic coated materials</li>
        <li style="margin-bottom:10px;">Organic mineral coated materials, such as sol-gels coating</li>
    </ol>
    <p>The definitions for different alloys and testing conditions, such as simulants, temperatures and durations, are also included in the document.</p>
</div>
<br />

<a name="australia_new_zealand_news" class="bookmark"></a>
<h2>AUSTRALIA / NEW ZEALAND NEWS</h2>

<a name="australia-60-day-ban" class="bookmark"></a>
<strong>Australia Imposes 60 Day Interim Ban on the Supply of Unsafe Self-balancing Scooters</strong>
<p>On March 19, 2016, a <a href="http://www.productsafety.gov.au/content/index.phtml/itemId/1018548" target="_blank">60 day interim ban</a> came into effect for the supply of hoverboards, also known as self-balancing scooters, that do not meet specific safety requirements. This ban impacts anyone who is supplying hoverboards including manufacturers, importers, distributors and retailers.</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>The specific safety standards and requirements for hoverboards are listed below:</p>
    <table>
        <tr>
            <td><b>Requirement</b></td>
            <td><b>UL option</b></td>
            <td><b>IEC option or AS/NZS option</b></td>
        </tr>
        <tr>
            <td>Battery</td>
            <td>
                <b>UL 2272 Outline of Investigation for Electrical Systems for Self-balancing Scooters</b><br />
                (Section 16)<br />
                - Compliance of this section requires full compliance of UL 2580 Battery Standard for Batteries used in Electric Vehicles
            </td>
            <td><b>IEC 62133 Edition 2.0 2012-12</b> Secondary Cells and Battery containing Alkaline or other Non-acid Electrolytes – Safety Requirements for Portable Sealed Secondary Cells, and for Batteries made from them, for use in Portable Applications</td>
        </tr>
        <tr>
            <td>Battery control system</td>
            <td>
                <b>UL 2272 Outline of Investigation for Electrical Systems for Self-balancing Scooters</b><br />
                (Section 11, 15.1 - 15.5, 23, 24, 26 &amp; 27)
            </td>
            <td>
                <b>IEC 60335-1 Edition 5.1 2013-12</b> Household and Similar Electrical Appliances – Safety – Part 1: General Requirements<br />
                - Section 11 – Heating (as amended by Annex B Appliances powered by rechargeable batteries)<br />
                - Section 19 – Abnormal operation (both as amended by Annex B Appliances powered by rechargeable batteries)<br />
                <br />or<br />
                <b>AS/NZS 60335.1:2011</b> Household and Similar Electrical Appliances – Safety –General Requirements (IEC 60335-1 Ed 5, MOD)<br />
                - Section 11 – Heating (as amended by Annex B Appliances powered by rechargeable batteries)<br />
                - Section 19 – Abnormal operation (as amended by Annex B Appliances powered by rechargeable batteries)<br />
            </td>
        </tr>
    </table>
</div>
<br />

<a name="nz-children-nightwear" class="bookmark"></a>
<strong>New Zealand Adopts Updated Standard for Children's Nightwear and Limited Daywear Garments</strong>
<p>On April 18, 2016, the new <a href="http://legislation.govt.nz/regulation/public/2016/0058/latest/whole.html#DLM6757147" target="_blank">Product Safety Standards (Children's Nightwear and Limited Daywear Having Reduced Fire Hazard) Regulation 2016</a> enters into force. The regulation adopts updated standard AS/NZS 1249: 2014 Children's Nightwear and Limited Daywear Having Reduced Fire Hazard and will revoke previous regulations published in 2008 with the same title (<a href="http://www.ansecogroup.com/regrecap/regulatory-recap-march-2016/" target="_blank">See Regulatory Recap: March 2016</a>).</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>The newly approved regulation will replace the 2008 regulation on the close of April 17, 2017 and it addresses flammability and safety issues related to children's nightwear. There is a period of one year for transitioning from the 2008 regulation to the 2016 regulation. Therefore, a person may comply with either 2003 or 2014 version of the AS/NZS 1249 standard for the products before April 17, 2017.</p>
    <p>Note: the Australian Competition &amp; Consumer Commission (ACCC) has not yet adopted the updated standard. Products marketed in Australia shall continue to comply with the AS/NZS 1249:2003 standard until ACCC issues an update.</p>
</div>
<br />

<a name="asia_news" class="bookmark"></a>
<h2>ASIA NEWS</h2>

<a name="china-sunglass-filters" class="bookmark"></a>
<strong>China Proposes Draft GB Standard for Sunglasses and Sunglare Filters</strong>
<p>On October 27, 2015, China proposed a <a href="https://members.wto.org/crnattachments/2015/TBT/CHN/15_4348_00_x.pdf" target="_blank">draft GB National Standard: Sunglasses and Sunglare Filters – Part 1: General Requirements</a>. The technical requirements in the standard are modified from ISO 12312-1: 2013, Eye and Face Protection – Sunglasses and Related Eyewear – Part 1: Sunglasses for General Use.</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>Compared with ISO 12312-1: 2013, the major technical differences with the GB standard are:</p>
    <ol>
        <li style="margin-bottom:10px;">Cancelled ISO12312-1: 2013 clause 6.2 Local Variations in Refractive Power</li>
        <li style="margin-bottom:10px;">Modified ISO 12312-1: 2013 clause 7 Robustness</li>
        <li style="margin-bottom:10px;">Added solar spectral transmittance requirements for wavelength lower than the cutoff</li>
        <li style="margin-bottom:10px;">Added transmittance requirements for prescribed correction sunglasses and sunglare filters</li>
        <li style="margin-bottom:10px;">Added coating layer adhesion requirements</li>
    </ol>
    <p>Following requirements are mandatory while the others (not stated here) are optional:</p>
    <ul>
        <li style="margin-bottom:10px;">Clause 6.1 Transmittance</li>
        <li style="margin-bottom:10px;">Clause 6.2 Optical Properties</li>
        <li style="margin-bottom:10px;">Clause 6.3 Endurance of sunglasses</li>
        <li style="margin-bottom:10px;">Clause 6.4 Frame deformation and retention of filters </li>
        <li style="margin-bottom:10px;">Clause 6.5 Resistance to solar radiation</li>
        <li style="margin-bottom:10px;">Clause 6.6 Resistance to ignition</li>
        <li style="margin-bottom:10px;">Clause 6.7 Coating layer properties</li>
        <li style="margin-bottom:10px;">Clause 6.8 Size of sunglasses</li>
        <li style="margin-bottom:10px;">Clause 7.1 Labeling requirements</li>
    </ul>
</div>
<br />

<a name="japan-food-materials" class="bookmark"></a>
<strong>Japan Proposes Amendment on the JFSL Regarding Food Contact PEN Materials</strong>
<p>On February 4, 2016, Japan proposed to add a <a href="https://members.wto.org/crnattachments/2016/TBT/JPN/16_0456_00_e.pdf" target="_blank">new item in the Japan Food Sanitation Law (JFSL)</a> regarding utensils, containers and packaging made of synthetic resin, PolyEthylene Naphthalate (PEN).</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>According to the proposed document, PEN materials shall not be used or marketed as a utensils, containers and packaging for food unless they meet following requirements:</p>
    <ol>
        <li style="margin-bottom:10px;">Specific Migration Limit (SML) of Germanium (Ge) less than 0.1 mg/L (using 4% acetic acid as a stimulant)</li>
        <li style="margin-bottom:10px;">Evaporation residue less than 30 mg/L </li>
    </ol>
</div>
<br />

<a name="thai-new-labeling" class="bookmark"></a>
<strong>The Thailand Ministry of Public Health Introduces New Labeling Requirements for Prepackaged Foods</strong>
<p>On December 4, 2014, <a href="http://food.fda.moph.go.th/law/data/announ_moph/V.English/No.%20367%20Labeling%20of%20Prepackaged%20Foods%20-edit%2010-2-15.pdf" target="_blank">The Notification of Ministry of Public Health No. 367, Labeling of Prepackaged Foods</a>, entered into force. The notification gave a 2-year transition period to all manufacturers or importers of food. On or before December 4, 2016, manufacturers or importers of food must comply with the new labeling contents and requirements stated in this notification for prepackaged foods, which are defined as foods packed in containers for sale.</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>In general, the food labeling shall be in Thai and the following information shall be presented (specific requirements on each item shall be referred to in the notification):</p>
    <ol>
        <li style="margin-bottom:10px;">Name of food</li>
        <li style="margin-bottom:10px;">Food serial number</li>
        <li style="margin-bottom:10px;">Name and address of manufacturers, packers or importers</li>
        <li style="margin-bottom:10px;">Contents of food</li>
        <li style="margin-bottom:10px;">Percentage by weight of main ingredients</li>
        <li style="margin-bottom:10px;">Information regarding food allergy or hypersensitivity</li>
        <li style="margin-bottom:10px;">Declaration of functional class of food additives according to International Numbering System (INS) for Food Additives</li>
        <li style="margin-bottom:10px;">Declaration of addition of food additives</li>
        <li style="margin-bottom:10px;">Shelf life </li>
        <li style="margin-bottom:10px;">Any warning statement, instruction for storage, cooking and use</li>
    </ol>
    <p>Apart from labeling, the following older notifications concerning prepackaged food labeling are repealed:</p>
    <ol>
        <li style="margin-bottom:10px;">The Notification of Ministry of Public Health No. 194 Labels</li>
        <li style="margin-bottom:10px;">The Notification of Ministry of Public Health No. 252 Labels</li>
        <li style="margin-bottom:10px;">The Notification of Ministry of Public Health No. 343 Labels</li>
    </ol>
</div>

<br /><br />
<p><i>This summary is not intended to be exhaustive nor should it be construed as legal advice.</i></p>