<!-- { "Title":"June 2016 Recap", "PublishDate":"2016-06-20", "Description":"NORTH AMERICA NEWS - The reform bill H.R. 2576 TSCA Modernization Act of 2015, amending the Toxic Substances Control Act of 1976 (TSCA), was passed in the House of Representatives on May 24, 2016 and subsequently passed by unanimous decision in the U.S. Senate on June 7, 2016." }-->
<ol style="margin-top:10px;">
    <li style="margin-bottom:10px;"><a href="#north_america_news">NORTH AMERICA NEWS</a></li>
    <li style="margin-bottom:10px;"><a href="#europe_news">EUROPE NEWS</a></li>
    <li style="margin-bottom:10px;"><a href="#australia_news">AUSTRALIA / NEW ZEALAND NEWS</a></li>
    <li style="margin-bottom:10px;"><a href="#asia_news">ASIA NEWS</a></li>
</ol>
<hr />

<a name="north_america_news" class="bookmark"></a>
<h2>NORTH AMERICA NEWS</h2>

<a name="us_house_of_representatives" class="bookmark"></a>
<strong>US TSCA Reform Compromise Bill Passes House of Representatives and Senate</strong>
<p><a href="https://www.congress.gov/bill/114th-congress/house-bill/2576" target="_blank">The reform bill H.R. 2576 TSCA Modernization Act of 2015, amending the Toxic Substances Control Act of 1976 (TSCA)</a>, was passed in the House of Representatives on May 24, 2016 and subsequently passed by unanimous decision in the U.S. Senate on June 7, 2016.  The compromise bill proposes amendments in different provisions including state law preemption. </p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>Within the last year, both the U.S. House and Senate passed bills to address the legal impediments to managing chemical risks under TSCA. A single compromise bill, H.R. 2576 - Frank R. Lautenberg Chemical Safety for the 21st Century Act, was posted on the website of the U.S. Senate Committee on Environment and Public Works (EPW) May 20, 2016. Key components of the compromise bill are summarized below:</p>
    <p>Section 3 Definition:</p>
        <ul><li style="margin-bottom:10px;">Added definitions of “Conditions of use” and “Potentially exposed or susceptible subpopulation”</li></ul>
    </p>
    <p>Section 4 Testing of Chemical Substances and Mixtures:</p>
        <ul>
            <li style="margin-bottom:10px;">Requires Environmental Protection Agency (EPA) to reduce and replace vertebrate animal testing</li>
            <li style="margin-bottom:10px;">Develops alternative test methods</li>
        </ul>
    </p>
    <p>Section 5 Manufacturing and Processing Notices:</p>
        <ul><li style="margin-bottom:10px;">Requires EPA to make a determination and take required actions on all prioritized chemicals and Significant New Uses (SNUs)</li></ul>
    </p>
    <p>Section 6 Prioritization, Risk Evaluation and Regulation of Chemical Substances and Mixtures:</p>
        <ul><li style="margin-bottom:10px;">Establishes requirements and deadlines for EPA chemical prioritizations and risk evaluations</li></ul>
    </p>
    <p>Section 8 Reporting and Retention of Information:</p>
        <ul><li style="margin-bottom:10px;">Requires EPA to develop reporting requirements and limits for prioritized chemicals</li></ul>
    </p>
    <p>Section 12 Exports:</p>
        <ul><li style="margin-bottom:10px;">Prohibits the export of certain mercury compounds effective January 1 ,2020</li></ul>
    </p>
    <p>Section 14 Confidential Information:</p>
        <ul>
            <li style="margin-bottom:10px;">Adopted the Senate bill system to claim, substantiate and re-substantiate, review and adjudicate claims for the protection of trade secrets.</li>
            <li style="margin-bottom:10px;">Requires EPA to continue protecting submitted trade secrets for 10 years</li>
        </ul>
    </p>
    <p>Section 18 State-Federal Relationship:</p>
        <ul><li style="margin-bottom:10px;">Establishes scope of preemption including a general rule that is subject to other provisions protecting some state laws.  With exceptions, the general rule indicates that state and local governments may not duplicate Federal information development requirements nor restrict a chemical that the EPA found does not pose an unreasonable risk.</li></ul>
    <p>The bill now goes to President Obama to be signed into law.</p>
</div><br />

<a name="fda_nutrition_and_supplement_labels" class="bookmark"></a>
<strong>US FDA Issues Final Rule to Update the Nutrition and Supplement Facts Label Requirements </strong>
<p>On May 27, 2016, the Food and Drug Administration (FDA) finalized <a href="http://www.fda.gov/Food/GuidanceRegulation/GuidanceDocumentsRegulatoryInformation/LabelingNutrition/ucm385663.htm" target="_blank">the new Nutrition Facts label for packaged foods</a> to help consumers make better food choices. The final rule impacts food manufacturers, requiring changes to the Nutrition Facts Label as regulated under 21 CFR 101. </p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <center>
        <p><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/nutritution_facts.png" /></p>
        <p><u>Figure 1 Original (Left) vs. New (Right) Nutrition Facts Labeling</u></p>
    </center>
    <p>The new Nutrition Facts label is similar in appearance to the previous label however there are revisions to the content as follows:</p>
    <ol>
        <li style="margin-bottom:10px;">Declaration of actual amount and Percent Daily Value is required for the following nutrients, while others are voluntary:
            <ol>
                <li style="margin-bottom:10px;">Vitamin D</li>
                <li style="margin-bottom:10px;">Calcium</li>
                <li style="margin-bottom:10px;">Iron</li>
                <li style="margin-bottom:10px;">Potassium</li>
            </ol>
        </li>
        <br />
        <li style="margin-bottom:10px;">Updated nutrients information requirements:
            <ol>
                <li style="margin-bottom:10px;">“Added sugars” (in grams) and Percent Daily Value is now required</li>
                <li style="margin-bottom:10px;">Vitamin A and C will no longer be required to be listed</li>
                <li style="margin-bottom:10px;">“Calories from fat” is removed</li>
                <li style="margin-bottom:10px;">Daily Values for nutrients such as sodium, dietary fiber and vitamin D are updated</li>
            </ol>
        </li>
        <br />
        <li style="margin-bottom:10px;">Footnote is changed as follows to provide better Percent Daily Value explanation:<br />"*The % Daily Value tells you how much a nutrient in a serving of food contributes to a daily diet. 2,000 calories a day is used for general nutrition advice."</li>
    </ol>
    <p>Labeling format has been updated:</p>
    <ol>
        <li style="margin-bottom:10px;">Increased type size and bold for “Calories” </li>
        <li style="margin-bottom:10px;">Increased type size and bold for “Servings size”</li>
        <li style="margin-bottom:10px;">Increased type size for “Servings per container”</li>
    </ol>
    <p>Apart from labeling information, the serving sizes and requirements have been updated: </p>
    <ol>
        <li style="margin-bottom:10px;">Previous serving sizes were published in 1993.  The serving sizes are now being updated since consumers eating and drinking habits have changed.  </li>
        <li style="margin-bottom:10px;">For packages that are between one and two servings, the calories and nutrient information will be required to be labeled as one serving. As consumers typically consume these packages as a single serving.</li>
        <li style="margin-bottom:10px;">For certain products that are larger than a single serving but that could be consumed in one sitting or multiple sittings, manufacturers will have to provide a dual column label to indicate the amount of calories and nutrients on both a per serving and per package basis.</li>
    </ol>
    <p>There are two compliance stages:</p>
    <ol>
        <li style="margin-bottom:10px;">Manufacturers with more than $10 million in annual food sales: July 26, 2018</li>
        <li style="margin-bottom:10px;">Manufacturers with less than $10 million in annual food sales: July 26, 2019</li>
    </ol>
    </ol>
</div><br />

<a name="updates_astm_standards" class="bookmark"></a>
<strong>Updates of ASTM Standards</strong>
<p>Below is a summary of recently updated ASTM standards that may be of interest to our clients:</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <table>
        <tr>
            <td><b>CPSIA / CFR Reference</b></td>
            <td><b>ASTM Standard No.</b></td>
            <td><b>Detail</b></td>
        </tr>
        <tr>
            <td align="center">-</td>
            <td>ASTM F2012-16</td>
            <td><b>Standard Consumer Safety Specification for Stationary Activity Centers</b><br />Covers performance requirements, test methods and marking requirements to promote safe use of a stationary activity center by an occupant.</td>
        </tr>
        <tr>
            <td align="center">16 CFR 1112 &amp; 16 CFR 1229 (proposed)</td>
            <td>ASTM F2167-16</td>
            <td><b>Standard Consumer Safety Specification for Infant Bouncer Seats</b><br />Covers establishment of requirements, test methods, and marking requirements to promote safe use of an infant bouncer seat by an occupant and a caregiver.</td>
        </tr>
        <tr>
            <td align="center">16 CFR 1112 &amp; 16 CFR 1218</td>
            <td>ASTM F2194-16</td>
            <td><b>Standard Consumer Safety Specification for Bassinets and Cradles</b><br />Covers performance requirements, test methods, and marking requirements to promote safe use of bassinets and cradles.</td>
        </tr>
        <tr>
            <td align="center">16 CFR 1226</td>
            <td>ASTM F2236-16</td>
            <td><b>Standard Consumer Safety Specification for Soft Infant and Toddler Carriers</b><br />Establishes performance requirements, test methods and marking requirements to promote safe use of soft infant and toddler carriers.</td>
        </tr>
        <tr>
            <td align="center">-</td>
            <td>ASTM F2400-16</td>
            <td><b>Standard Specification for Helmets Used in Pole Vaulting</b><br />Covers performance requirements for helmets to be used in the activity of pole vaulting.</td>
        </tr>
        <tr>
            <td align="center">-</td>
            <td>ASTM F2417-16</td>
            <td><b>Standard Specification for Fire Safety for Candles</b><br />Prescribes minimum safety requirements for candles to provide a reasonable degree of safety for normal use with candles, thereby improving personal safety and reducing fires, deaths, and injuries.</td>
        </tr>
        <tr>
            <td align="center">16 CFR 1112, 16 CFR 1130 &amp; 16 CFR 1232 (proposed)</td>
            <td>ASTM F2613-16</td>
            <td><b>Standard Consumer Safety Specification for Children's Chairs and Stools</b><br />Establishes testing requirements for structural integrity and performance requirements for children’s chairs and stools. It also provides requirements for labeling.</td>
        </tr>
    </table>
</div><br />

<a name="california_bpa_warning" class="bookmark"></a>
<strong>US State California BPA Warning Requirement Becomes Effective </strong>
<p>On May 11, 2015, bisphenol A (BPA) was added to the Proposition 65 list of chemicals known to cause reproductive toxicity based on the reproductive toxicity endpoint. The warning requirement for BPA begins one year after the listing of BPA. </p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>Starting May 11, 2016, a warning is required for products, such as those containing polycarbonate plastics and epoxy resins, that contain BPA exceeding the Maximum Allowable Dose Level (MADL), which is 3 micrograms/day (See <a href="http://www.ansecogroup.com/regrecap/5871/#usa-state-news" target="_blank">Regulatory Recap: Issue 2, May 2015</a>).</p>
</div><br />

<a name="california_oehha_proposition_65" class="bookmark"></a>
<strong>US State California OEHHA Adds Pesticides to Proposition 65 List</strong>
<p>On May 20, 2016, the California Office of Environmental Health Hazard Assessment (OEHHA) <a href="http://oehha.ca.gov/proposition-65/crnr/chemicals-listed-effective-may-20-2016-known-state-california-cause-cancer#_ftnref1" target="_blank">added 3 pesticides to the Proposition 65 List</a>. They are tetrachlorvinphos, parathion and malathion.</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>The added pesticide chemicals meet the requirements for listing as known to the state of California to cause cancer for purposes of Proposition 65. The chemical details are summarized below:</p>
    <table>
        <tr>
            <td><b>Chemical</b></td>
            <td><b>Chemical Abstracts Service Number (CAS No.)</b></td>
            <td><b>Endpoint</b></td>
        </tr>
        <tr>
            <td>Tetrachlorvinphos</td>
            <td>22248-79-9</td>
            <td>Cancer</td>
        </tr>
        <tr>
            <td>Parathion</td>
            <td>56-38-2</td>
            <td>Cancer</td>
        </tr>
        <tr>
            <td>Malathion</td>
            <td>121-75-5</td>
            <td>Cancer</td>
        </tr>
    </table>
    <p>OEHHA also states that a decision concerning another proposed pesticide, glyphosate, will be published at a later date and the safe harbor level (No Significant Risk Level, NSRL) for malathion will be proposed before the effective date of warning requirement, May 20, 2017.</p>
</div><br />

<a name="california_proposition_warning" class="bookmark"></a>
<strong>US State California OEHHA Issues the Latest Proposal of California Proposition 65 Warning Regulations</strong>
<p>On May 18, 2016, The Office of Environmental Health Hazard Assessment (OEHHA) published a <a href="http://oehha.ca.gov/proposition-65/crnr/notice-modification-text-proposed-regulation-proposed-repeal-article-6-and" target="_blank">new proposed version of its regulations governing Proposition 65 Warnings</a>. The proposal amends the previous version based on the comments received. A new comment period ended on June 6, 2016.</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>The key changes in the new proposal are summarized below:</p>
    <ul>
        <li style="margin-bottom:10px;">Amendment is made to exclude company name and location of manufacture in the definition of “Consumer Information”.</li>
        <li style="margin-bottom:10px;">In the method of providing warning, it is revised that if there is non-English consumer information on a consumer product sign, label or shelf tag, the warning must also be provided in that language in addition to English.</li>
        <li style="margin-bottom:10px;">For the safe harbor warning content, a new section is added to allow businesses to provide warning for a single chemical exposure without using wording “chemicals including”.</li>
        <li style="margin-bottom:10px;">Other wordings are added to ensure consistency in the format, structure and requirements for warnings.</li>
    </ul>
</div><br />

<a name="new_york_childrens_products" class="bookmark"></a>
<strong>US State New York Proposed Bill A5612A Passes Assembly and Moves to Senate as Bill S7507 Concerning Reporting and Prohibition of Children’s Products Containing Priority Chemicals</strong>
<p>On May 5, 2016, <a href="http://assembly.state.ny.us/leg/?default_fld=&leg_video=&bn=A05612&term=2015&Summary=Y&Text=Y" target="_blank">New York proposed bill A5612A</a> was passed the state Assembly. The bill was then delivered to Senate as <a href="http://assembly.state.ny.us/leg/?default_fld=&bn=S07507&term=2015&Summary=Y&Actions=Y&Text=Y&Votes=Y#S07507" target="_blank">Bill S7507</a> on the same day. The bill proposes reporting rules and sale prohibition on children’s products containing certain priority chemicals.</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>No later than 12 months after a priority chemical appears on the list, manufacturers of children’s products are required to report any priority chemicals above the practical quantification limits (PQL). The report shall minimally provide the following information:</p>
    <ol>
        <li style="margin-bottom:10px;">Category of children’s product</li>
        <li style="margin-bottom:10px;">Priority chemicals above PQL</li>
        <li style="margin-bottom:10px;">Any chemicals contained in the product</li>
        <li style="margin-bottom:10px;">Intended purpose of the priority chemicals</li>
        <li style="margin-bottom:10px;">Information of potential for harm to human health and the environment</li>
        <li style="margin-bottom:10px;">Amount of priority chemicals</li>
        <li style="margin-bottom:10px;">Information on the likelihood that the chemical will be released from the product into the environment during life cycle of the product</li>
        <li style="margin-bottom:10px;">Information on the extent to which the chemical is present in the environment or human body</li>
    </ol>
    <p>Current list of priority chemicals:</p>
    <table>
        <tr>
            <td><b>Chemical</b></td>
            <td><b>Chemical Abstracts Service Number (CAS No.)</b></td>
        </tr>
        <tr>
            <td>Tris (1, 3 dichloro-2-propyl) phosphate</td>
            <td>13674-87-8</td>
        </tr>
        <tr>
            <td>Benzene</td>
            <td>71-43-2</td>
        </tr>
        <tr>
            <td>Lead and its compounds (inorganic)</td>
            <td>7439-92-1</td>
        </tr>
        <tr>
            <td>Mercury and its compounds, including methyl mercury</td>
            <td>7439-97-6</td>
        </tr>
        <tr>
            <td>Antimony and its compounds</td>
            <td>7440-36-0</td>
        </tr>
        <tr>
            <td>Formaldehyde</td>
            <td>50-00-0</td>
        </tr>
        <tr>
            <td>Asbestos</td>
            <td>1332-21-4</td>
        </tr>
        <tr>
            <td>Arsenic and its compounds including arsenic trioxide and dimethyl arsenic</td>
            <td>7440-38-2</td>
        </tr>
        <tr>
            <td>Cadmium</td>
            <td>7440-43-9</td>
        </tr>
        <tr>
            <td>Cobalt and its compounds</td>
            <td>7440-48-4</td>
        </tr>
    </table>
    <p>Apart from reporting, starting from January 1, 2019, no person shall sell or distribute children’s products containing above listed priority chemicals. For any newly identified priority chemicals, the prohibition of such chemicals will start 3 years after their identification.</p>
</div><br />

<a name="new_york_lithium_batteries" class="bookmark"></a>
<strong>US State New York Assembly Introduces Bill A9959 to Propose Labeling Requirement for Small Lithium Batteries</strong>
<p>On May 2, 2016, the New York Assembly Introduced <a href="http://assembly.state.ny.us/leg/?default_fld=&bn=A09959&term=2015&Summary=Y&Actions=Y&Text=Y&Votes=Y" target="_blank">Bill A9959</a> and its Senate version bill is <a href="http://assembly.state.ny.us/leg/?term=2015&bn=S07230" target="_blank">S7230</a>. The bill proposed warning requirements on certain lithium batteries and products containing such batteries. If the bill is passed into law, it will impact manufacturers, distributors and retailers of toys or children’s products that contain small lithium batteries</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>There are two warning requirements proposed in the bills. First, for any lithium batteries with less than one inch diameter, either sold in New York state or used in product sold in New York, the batteries shall be printed with a warning statement as follows: “<b>WARNING: This is a lithium battery which if swallowed has been known to cause death.</b>”</p>
    <p>Second, any product containing lithium batteries (as a power source) with less than one inch diameter shall contain a warning statement on its packaging. The warning shall be as follows: “<b>WARNING: This product is powered by a lithium battery. Due to their small size, lithium batteries can easily be swallowed by children. Ingestion of such batteries has been known to cause death.</b>”</p>
</div><br />

<a name="albany_toxic_free_toys_act" class="bookmark"></a>
<strong>Albany County Toxic Free Toys Act Becomes Effective July 1, 2016</strong>
<p>On July 1, 2016, the Toxic Free Toys Act of Albany County in the State of New York becomes effective, restricting the presence of 7 chemicals of concern in children’s products.</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>The law restricts the concentration of antimony, arsenic, benzene, cadmium, cobalt, lead and mercury in children’s products, unless preempted by a Federal standard. The law applies to children’s products including apparel but excludes certain products or components of products such as batteries, consumer electronics or electronic components, paper products, or a drug, biologic, medical device, food, or food additive regulated by the Food and Drug Administration. (See <a href="http://www.asiainspection.com/regulatory-updates/February-2016" target="_blank">Regulatory Recap: February 2016</a>).</p>
</div><br />

<a name="mexico_fiberboard" class="bookmark"></a>
<strong>Mexico DOF Proposes Draft Standard Establishing Limit for Formaldehyde Emission and Content in Wood Particle Board and Wood Fiberboard</strong>
<p>On April 19, 2016, Mexico Official Journal of the Federation (DOF) published a <a href="http://dof.gob.mx/nota_detalle.php?codigo=5433570&fecha=19/04/2016" target="_blank">draft standard, NOM-203-SCFI-2015</a>, to establish the maximum permissible emission limit and content limit for formaldehyde in wood particle board and wood fiberboard. </p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>In NOM-203-SCFI-2015, the limits established are summarized below:</p>
    <table>
        <tr>
            <td colspan="2" align="center"><b>Wood Particle Board</b></td>
            <td colspan="2" align="center"><b>Wood Fiberboard<br />(greater than 8mm thick)</b></td>
            <td colspan="2" align="center"><b>Wood Fiberboard<br />(less than or equal to 8 mm thick)</b></td>
        </tr>
        <tr>
            <td align="center"><b>Emission (ppm)</b></td>
            <td align="center"><b>Content (mg/100g)</b></td>
            <td align="center"><b>Emission (ppm)</b></td>
            <td align="center"><b>Content (mg/100g)</b></td>
            <td align="center"><b>Emission (ppm)</b></td>
            <td align="center"><b>Content (mg/100g)</b></td>
        </tr>
        <tr>
            <td align="center">0.18</td>
            <td align="center">9.08</td>
            <td align="center">0.21</td>
            <td align="center">10.64</td>
            <td align="center">0.22</td>
            <td align="center">11.15</td>
        </tr>
    </table>
    <p>The draft standard also suggests evaluation methods to demonstrate the compliance to the above limit. For formaldehyde emission, it is evaluated by Mexican Standard NMX-C-462 ONNCCE (Chapter 7.8). For formaldehyde content, it is evaluated by Mexican Standard NMX-C-462 ONNCCE (Chapter 7.9).</p>
</div><br />


<a name="europe_news" class="bookmark"></a>
<h2>EUROPE NEWS</h2>

<a name="lead_restrictions" class="bookmark"></a>
<strong>Expansion of Lead Restriction Under Annex XVII to REACH Enters into Force</strong>
<p>On April 23, 2015, Regulation (EU) 2015/628 was published to expand the scope of lead restriction under Regulation (EC) No. 1907/2006 (REACH). The expanded part applies to product placed on the market after June 1, 2016.</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>The scope of lead restriction was expanded to include articles or accessible parts of articles supplied to the general public, if it may be placed in the mouth by children during normal or foreseeable conditions of use. The lead content limit is 0.05 % by weight (See <a href="http://www.ansecogroup.com/regrecap/5871/#international-news" target="_blank">Regulatory Recap: Issue 2, May 2015</a>).</p>
</div><br />

<a name="europe_recalls" class="bookmark"></a>
<strong>Europe Recalls Summary (May 2016)</strong>
<p>In Europe, when hazards are identified in consumer products, the products will be recalled and published in the <a href="http://ec.europa.eu/consumers/consumers_safety/safety_products/rapex/alerts/main/index.cfm?event=main.search#searchResults" target="_blank">Rapid Alert System</a>, which is updated weekly. The European recalls in May 2016 are summarized below:</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>In Europe, when hazards are identified in consumer products, the products will be recalled and published in the Rapid Alert System, which is updated weekly. The European recalls in May 2016 are summarized below:</p>
    <center><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/chart_europe_hazards.gif" style="max-width:100%;" /></center><br /><br />
        <table align="center">
            <tr>
                <td><b>Hazard</b></td>
                <td><b>Frequency</b></td>
            </tr>
            <tr>
                <td>Chemical Hazard</td>
                <td>38</td>
            </tr>
            <tr>
                <td>Choking Hazard</td>
                <td>28</td>
            </tr>
            <tr>
                <td>Electric shock Hazard</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Injury Hazard</td>
                <td>12</td>
            </tr>
            <tr>
                <td>Other Hazards*</td>
                <td>19</td>
            </tr>
        </table>
        <p>* Other Hazards include Asphyxiation Hazard, Burn Hazard, Drowning Hazard, Environmental Hazard, Fire Hazard, Hearing Hazard, Microbiological Hazard, Strangulation Hazard and Suffocation Hazard with frequency less than 5.</p><br />
        <center><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/chart_europe_categories.gif" style="max-width:100%;" /></center><br /><br />
        <table align="center">
            <tr>
                <td>Product Categories</td>
                <td>Frequency</td>
            </tr>
            <tr>
                <td>Toys</td>
                <td>37</td>
            </tr>
            <tr>
                <td>Electric Appliances</td>
                <td>14</td>
            </tr>
            <tr>
                <td>Apparel</td>
                <td>12</td>
            </tr>
            <tr>
                <td>Footwear</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Other Categories^</td>
                <td>35</td>
            </tr>
    </table>
    <p>^ Other Categories include Bedding, Child Care Articles, Consumer Chemicals, Decorative Products, Gas Detectors, Garden Supplies, Household Appliances, Jewelry, Kitchen Merchandise, Personal Care, Personal Accessories, Sports Equipment and Tools with frequency less than 5.</p>
    <strong>Recalls Summary – Europe (Last Update Date: May 31, 2016)</strong><br />
    <table>
        <tr>
            <td><b>Reference Number</b></td>
            <td><b>Notifying Country</b></td>
            <td><b>Product</b></td>
            <td><b>Product Category</b></td>
            <td><b>Hazard(s)</b></td>
            <td><b>Product Image</b></td>
        </tr>
        <tr>
            <td>A11/0042/16</td>
            <td>Germany</td>
            <td>Fast</td>
            <td>Consumer Chemicals</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00001.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A11/0043/16</td>
            <td>Germany</td>
            <td>Trumpet Care Kit</td>
            <td>Consumer Chemicals</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00002.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A11/0044/16</td>
            <td>Germany</td>
            <td>Valve Oil</td>
            <td>Consumer Chemicals</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00003.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A11/0045/16</td>
            <td>The Netherlands</td>
            <td>Lanterne Volante ('Flying lantern')</td>
            <td>Garden Supplies</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00004.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A11/0046/16</td>
            <td>The Netherlands</td>
            <td>Himmelslaterne (Sky lantern)</td>
            <td>Garden Supplies</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00005.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A11/0047/16</td>
            <td>The Netherlands</td>
            <td>Happiness Balloon</td>
            <td>Garden Supplies</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00006.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A11/0048/16</td>
            <td>Hungary</td>
            <td>Lead Acid Charger</td>
            <td>Electric Appliances</td>
            <td>Electric shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00007.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A11/0050/16</td>
            <td>France</td>
            <td>Devil Inside</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00008.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0522/16</td>
            <td>Spain</td>
            <td>Boys' Swimming Shorts</td>
            <td>Apparel</td>
            <td>Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00009.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0523/16</td>
            <td>Spain</td>
            <td>Ladies' Sandals</td>
            <td>Footwear</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00010.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0525/16</td>
            <td>Spain</td>
            <td>Ladies' Sandals</td>
            <td>Footwear</td>
            <td>Chemical Hazard </td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00011.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0526/16</td>
            <td>Slovakia</td>
            <td>Flying a Kite and White Cloud</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00012.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0527/16</td>
            <td>Germany</td>
            <td>Gürtel - Belt</td>
            <td>Personal Accessories</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00013.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0530/16</td>
            <td>Spain</td>
            <td>Playme</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00014.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0532/16</td>
            <td>Spain</td>
            <td>Babies' Dungarees</td>
            <td>Apparel</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00015.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0533/16</td>
            <td>Spain</td>
            <td>Men's Sandals</td>
            <td>Footwear</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00016.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0534/16</td>
            <td>Spain</td>
            <td>Soft Bullet Gun</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00017.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0535/16</td>
            <td>Spain</td>
            <td>Angry Birds</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00018.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0536/16</td>
            <td>Spain</td>
            <td>Pull-along Toy</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00019.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0537/16</td>
            <td>Czech Republic</td>
            <td>Yong</td>
            <td>Toys</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00020.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0538/16</td>
            <td>Spain</td>
            <td>Kitchen Play Set / Play at Home</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00021.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0541/16</td>
            <td>Spain</td>
            <td>Bubble Stick</td>
            <td>Toys</td>
            <td>Microbiological Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00022.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0542/16</td>
            <td>France</td>
            <td>'Confort' Range</td>
            <td>Child Care Articles</td>
            <td>Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00023.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0544/16</td>
            <td>Spain</td>
            <td>Enrollable Manguera</td>
            <td>Electric Appliances</td>
            <td>Electric shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00024.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0545/16</td>
            <td>Spain</td>
            <td>Beauty - My Vogue Girl</td>
            <td>Toys</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00025.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0546/16</td>
            <td>Spain</td>
            <td>Soft Toy</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00026.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0547/16</td>
            <td>Spain</td>
            <td>Girls' Dress</td>
            <td>Apparel</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00027.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0548/16</td>
            <td>Germany</td>
            <td>Women's Sandals</td>
            <td>Footwear</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00028.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0549/16</td>
            <td>Spain</td>
            <td>'Debbie' - Beautiful girl</td>
            <td>Toys</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00029.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0550/16</td>
            <td>Spain</td>
            <td>Doctor Set</td>
            <td>Toys</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00030.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0552/16</td>
            <td>Spain</td>
            <td>Baby Clothing Set</td>
            <td>Apparel</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00031.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0553/16</td>
            <td>Spain</td>
            <td>Heated Towel Rail</td>
            <td>Household Appliances</td>
            <td>Burn Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00032.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0556/16</td>
            <td>Germany</td>
            <td>Charms</td>
            <td>Jewelry</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00033.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0557/16</td>
            <td>Germany</td>
            <td>Permanent Powder Hair Colour</td>
            <td>Personal Care</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00034.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0562/16</td>
            <td>Italy</td>
            <td>Food Jar</td>
            <td>Kitchen Merchandise</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00035.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0563/16</td>
            <td>Italy</td>
            <td>Vacuum Flask</td>
            <td>Kitchen Merchandise</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00036.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0564/16</td>
            <td>Italy</td>
            <td>Food Jar</td>
            <td>Kitchen Merchandise</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00037.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0568/16</td>
            <td>Spain</td>
            <td>Reality Shoes</td>
            <td>Footwear</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00038.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0570/16</td>
            <td>Spain</td>
            <td>Push-along Toys</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00039.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0571/16</td>
            <td>Spain</td>
            <td>Adaptador Europeo</td>
            <td>Electric Appliances</td>
            <td>Electric shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00040.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0572/16</td>
            <td>Spain</td>
            <td>Beaut</td>
            <td>Toys</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00041.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0573/16</td>
            <td>Spain</td>
            <td>Children's Shoes</td>
            <td>Footwear</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00042.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0576/16</td>
            <td>Hungary</td>
            <td>Children’s Sweatshirt</td>
            <td>Apparel</td>
            <td>Strangulation Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00043.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0577/16</td>
            <td>Hungary</td>
            <td>Children’s Sweatshirt</td>
            <td>Apparel</td>
            <td>Strangulation Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00044.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0580/16</td>
            <td>Bulgaria</td>
            <td>Children's Outfit</td>
            <td>Apparel</td>
            <td>Injury Hazard, Strangulation Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00045.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0581/16</td>
            <td>Hungary</td>
            <td>Rechargeable Working Headlight Helmets / Led Headlight</td>
            <td>Electric Appliances</td>
            <td>Electric shock Hazard, Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00046.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0582/16</td>
            <td>Hungary</td>
            <td>ПЕРЕЗАРЯЖАЕМЫЙ АККУМУЛЯТОРНЫЙ СВЕТИЛЬНИК (Rechargeable Lamp)</td>
            <td>Electric Appliances</td>
            <td>Electric shock Hazard, Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00047.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0583/16</td>
            <td>Finland</td>
            <td>Small Naughty Love Bath</td>
            <td>Toys</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00048.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0584/16</td>
            <td>United Kingdom</td>
            <td>High Lumen LED Spot</td>
            <td>Electric Appliances</td>
            <td>Electric shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00049.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0585/16</td>
            <td>United Kingdom</td>
            <td>LED Flood Light</td>
            <td>Electric Appliances</td>
            <td>Electric shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00050.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0586/16</td>
            <td>Sweden</td>
            <td>SafeTmade</td>
            <td>Tools</td>
            <td>Drowning Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00051.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0587/16</td>
            <td>France</td>
            <td>Bijoux En Ambre Pour Bebe (amber jewellery for babies)</td>
            <td>Child Care Articles</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00052.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0588/16</td>
            <td>Bulgaria</td>
            <td>Onyx</td>
            <td>Child Care Articles</td>
            <td>Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00053.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0589/16</td>
            <td>Germany</td>
            <td>Die Lieben Sieben</td>
            <td>Toys</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00054.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0590/16</td>
            <td>Slovakia</td>
            <td>Lay egg - swan toys</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00055.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0591/16</td>
            <td>Slovakia</td>
            <td>3-Way Socket with Sugre Protection</td>
            <td>Electric Appliances</td>
            <td>Electric shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00056.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0592/16</td>
            <td>Slovakia</td>
            <td>Baby Toys</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00057.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0593/16</td>
            <td>Austria</td>
            <td>Easy Rider and Iron Cruiser</td>
            <td>Sports Equipment</td>
            <td>Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00058.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0594/16</td>
            <td>Austria</td>
            <td>Index</td>
            <td>Sports Equipment</td>
            <td>Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00059.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0595/16</td>
            <td>Austria</td>
            <td>Camalots and Camalot Ultralights</td>
            <td>Sports Equipment</td>
            <td>Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00060.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0597/16</td>
            <td>Hungary</td>
            <td>LED Flood Light</td>
            <td>Electric Appliances</td>
            <td>Electric shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00061.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0598/16</td>
            <td>Sweden</td>
            <td>Pumpkin</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00062.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0601/16</td>
            <td>Estonia</td>
            <td>Baby Rattle - Baby Love Play Set</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00063.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0604/16</td>
            <td>Hungary</td>
            <td>Vintage Night Lamp Porcelain</td>
            <td>Electric Appliances</td>
            <td>Electric shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00064.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0607/16</td>
            <td>Hungary</td>
            <td>USB Power Adapter</td>
            <td>Electric Appliances</td>
            <td>Electric shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00065.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0608/16</td>
            <td>Hungary</td>
            <td>TRAVEL Mosquito Plug</td>
            <td>Electric Appliances</td>
            <td>Electric shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00066.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0610/16</td>
            <td>France</td>
            <td>Children's Fancy Dress/Pyjamas with Hat</td>
            <td>Apparel</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00067.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0611/16</td>
            <td>United Kingdom</td>
            <td>Hair Auto Straightener</td>
            <td>Personal Care</td>
            <td>Electric shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00068.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0612/16</td>
            <td>Estonia</td>
            <td>Discovery Cubes with Animal Puzzle</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00069.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0615/16</td>
            <td>France</td>
            <td>Grappe Raisin PVC (PVC Bunch of Grapes)</td>
            <td>Decorative Products</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00070.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0616/16</td>
            <td>Estonia</td>
            <td>Winter Princess</td>
            <td>Toys</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00071.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0618/16</td>
            <td>Estonia</td>
            <td>Cloetta Spelletta Beautiful Fashion</td>
            <td>Toys</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00072.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0623/16</td>
            <td>Denmark</td>
            <td>4 FLØJTER - 4 Whistles</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00073.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0624/16</td>
            <td>Slovakia</td>
            <td>Beautiful Children</td>
            <td>Toys</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00074.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0625/16</td>
            <td>Finland</td>
            <td>LED Panel Light</td>
            <td>Electric Appliances</td>
            <td>Electric shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00075.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0626/16</td>
            <td>Finland</td>
            <td>Cotton Printed Bed Sheet Double</td>
            <td>Bedding</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00076.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0627/16</td>
            <td>Finland</td>
            <td>High Intensity LED Flashlight</td>
            <td>Electric Appliances</td>
            <td>Electric shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00077.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0628/16</td>
            <td>Germany</td>
            <td>Lederhose Madl</td>
            <td>Apparel</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00078.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0629/16</td>
            <td>Finland</td>
            <td>City Police Soft Bullets Gun</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00079.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0630/16</td>
            <td>Poland</td>
            <td>Pull-along toy telephone</td>
            <td>Toys</td>
            <td>Choking Hazard,  Strangulation Hazard, Suffocation Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00080.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0631/16</td>
            <td>The Netherlands</td>
            <td>3.8MTelescoop Ladder</td>
            <td>Tools</td>
            <td>Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00081.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0633/16</td>
            <td>Latvia</td>
            <td>Kids Tri Scooter</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00082.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0634/16</td>
            <td>Finland</td>
            <td>Treenihanskat Multistrap Musta Traningshandskar</td>
            <td>Sports Equipment</td>
            <td>Environmental Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00083.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0635/16</td>
            <td>Slovakia</td>
            <td>Eva Puzzle Mats</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00084.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0636/16</td>
            <td>Hungary</td>
            <td>Children’s Clothing Set</td>
            <td>Apparel</td>
            <td>Strangulation Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00085.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0637/16</td>
            <td>Hungary</td>
            <td>Beautiful Pram</td>
            <td>Toys</td>
            <td>Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00086.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0638/16</td>
            <td>France</td>
            <td>Amber Necklace</td>
            <td>Jewelry</td>
            <td>Choking Hazard, Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00087.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0639/16</td>
            <td>Czech Republic</td>
            <td>My Baby</td>
            <td>Toys</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00088.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0640/16</td>
            <td>Czech Republic</td>
            <td>Dreams The Music of My Dreams</td>
            <td>Toys</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00089.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0641/16</td>
            <td>Spain</td>
            <td>
                1) Dinosaur Egg - Growing Pet;<br />
                2) Growing Pet;<br />
                3) Dinosaur Egg - Growing Pet<br />
            </td>
            <td>Toys</td>
            <td>Choking Hazard, Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00090.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0642/16</td>
            <td>Germany</td>
            <td>Tirolerhose</td>
            <td>Apparel</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00091.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0643/16</td>
            <td>Germany</td>
            <td>Soft rubber ball</td>
            <td>Toys</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00092.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0644/16</td>
            <td>Germany</td>
            <td>Koru – Tribal Black</td>
            <td>Consumer Chemicals</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00093.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0647/16</td>
            <td>Italy</td>
            <td>Plastic Grapes</td>
            <td>Decorative Products</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00094.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0649/16</td>
            <td>Hungary</td>
            <td>Carbon Monoxide and Natural Gas Detector</td>
            <td>Gas Detectors</td>
            <td>Asphyxiation Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00095.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0650/16</td>
            <td>Hungary</td>
            <td>LCD Carbon-Monoxide Detector</td>
            <td>Gas Detectors</td>
            <td>Asphyxiation Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00096.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0651/16</td>
            <td>Hungary</td>
            <td>Gázérzékelő és Riasztó (Gas Detector and Alarm)</td>
            <td>Gas Detectors</td>
            <td>Asphyxiation Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00097.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0654/16</td>
            <td>Czech Republic</td>
            <td>Plastic toy</td>
            <td>Toys</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00098.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0655/16</td>
            <td>Hungary</td>
            <td>Purse</td>
            <td>Personal Accessories</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00099.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0656/16</td>
            <td>Hungary</td>
            <td>bőr-cérna karkötő (Leather-Thread Wristband)</td>
            <td>Jewelry</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00100.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0658/16</td>
            <td>Bulgaria</td>
            <td>Children’s Clothing Set</td>
            <td>Apparel</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00101.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0659/16</td>
            <td>Hungary</td>
            <td>Monster Cars</td>
            <td>Jewelry</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00102.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0660/16</td>
            <td>Germany</td>
            <td>Spirit Motors Chopper III Handschuh</td>
            <td>Sports Equipment</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00103.jpg" style="max-width:100%;" /></td>
        </tr>
        <tr>
            <td>A12/0661/16</td>
            <td>Finland</td>
            <td>Super Cap Gun .357 Magnum</td>
            <td>Toys</td>
            <td>Hearing Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_06_RegRecap/Europe_Recalls/Recall_00104.jpg" style="max-width:100%;" /></td>
        </tr>
    </table>
</div><br />


<a name="australia_news" class="bookmark"></a>
<h2>AUSTRALIA / NEW ZEALAND NEWS</h2>

<a name="australia_interim_ban" class="bookmark"></a>
<strong>Australia ACCC Extends National Interim Ban on the Supply of Unsafe Self-Balancing Scooters</strong>
<p>On May 11, 2016, the Australian Competition and Consumer Commission (ACCC) published <a href="http://www.productsafety.gov.au/content/index.phtml/itemId/1019762" target="_blank">a notice to extend the interim ban</a> on the supply of unsafe self-balancing scooters by 30 days. </p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>The original 60-Day interim ban was expected to end on May 18, 2016. However, an extension notice was issued before the end date. The new interim ban end date is now on June 16, 2016. (See <a href="http://www.asiainspection.com/regulatory-updates/April-2016" target="_blank">Regulatory Recap: April 2016</a>).</p>
</div><br />


<a name="asia_news" class="bookmark"></a>
<h2>ASIA NEWS</h2>

<a name="china_upcoming_regulation_" class="bookmark"></a>
<strong>China MIIT Issues FAQ for Upcoming New China RoHS Regulation </strong>
<p>In January 2016, the Ministry of Industry and Information Technology of the People’s Republic of China (MIIT) issued China RoHS 2 (See <a href="http://www.asiainspection.com/regulatory-updates/March-2016" target="_blank">Regulatory Recap: March 2016</a>). Prior to the July 1, 2016 effective date, a <a href="http://www.miit.gov.cn/n1146295/n1652858/n1653018/c4777618/content.html" target="_blank">Frequently Asked Questions (FAQ) related to the implementation of China RoHS 2</a> was published. </p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>The FAQ provides clarification of the China RoHS 2 regulation as summarized below:</p>
    <ol>
        <li style="margin-bottom:10px;">The regulation applies to both imported and domestic electrical and electronic products which are manufactured after July 1, 2016</li>
        <li style="margin-bottom:10px;">Standards indicated in the regulation include:<br />
            <ol style="list-style-type:lower-roman; margin-top:10px;">
                <li style="margin-bottom:10px;">SJ/T 11364-2014 Marking Requirements for Control of Pollution Caused by Electronic Information Products</li>
                <li style="margin-bottom:10px;">GB/T 26572-2011 Requirements of Concentration Limits for Certain Restricted Substances in Electrical and Electronic Products</li>
                <li style="margin-bottom:10px;">GB/T 26125-2011, IDT IEC 62321:2008 Electrical and Electronic Products – Determination of Six Regulated Substances (Lead, Mercury, Cadmium, Hexavalent Chromium, Polybrominated Biphenyls, Polybrominated Diphenyl Ethers)</li>
                <li style="margin-bottom:10px;">GB/T 29783-2013 Determination of Chromium(VI) in Electrical and Electronic Products – Atomic Fluorescence Spectrometry</li>
                <li style="margin-bottom:10px;">SJ/Z 11388-2009 General Guidelines of Environment-Friendly Use Period of Electronic Information Products</li>
            </ol>
        </li>
        <li style="margin-bottom:10px;">Electronic and electrical products excluded from the scope of regulation are:<br />
            <ol style="list-style-type:lower-roman; margin-top:10px;">
                <li style="margin-bottom:10px;">Electricity generation, transmission and distribution equipment, such as power plants</li>
                <li style="margin-bottom:10px;">Military use equipment</li>
                <li style="margin-bottom:10px;">Equipment used in special environments or extreme environments</li>
                <li style="margin-bottom:10px;">Exported products</li>
                <li style="margin-bottom:10px;">Temporary imported product (not for sale)</li>
                <li style="margin-bottom:10px;">Equipment for scientific research and development or testing purpose</li>
                <li style="margin-bottom:10px;">Product for exhibition (not for sale)</li>
                <li style="margin-bottom:10px;">Second hand products</li>
            </ol>
        </li>
    </ol>
</div><br />

<a name="indonesia_imported_toys" class="bookmark"></a>
<strong>Indonesia Minister of Industry Requires Imported Toys to be Tested by Minister Approved Laboratories</strong>
<p>After mandating the Indonesia National Standards (NSI) and EN 71 part 5 for toy’s safety, the Minister of Industry appointed domestic accredited laboratories to perform testing. The minister also appointed non-Indonesian laboratories to perform testing for not more than 2 years. </p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>On April 16, 2016, the period allowing non-Indonesian laboratories to test toys expired and now toys imported to Indonesia must be tested by approved laboratory in Indonesia according to the amendment <a href="http://regulasi.kemenperin.go.id/site/baca_peraturan/1598" target="_blank">Decree No. 55/M-IND/PER/11/2013</a>.  Unless laboratories have been registered in the Mutual Recognition Agreement (MRA) in APLAC / ILAC, toys manufactured outside Indonesia must be tested by approved Indonesia laboratories.</p>
</div><br />

<a name="taiwan_food_contact" class="bookmark"></a>
<strong>Taiwan MOHW Issues Notice Related to Labeling Requirements for Food Contact Materials</strong>
<p>On April 18, 2016, the Ministry of Health and Welfare (MOHW) published <a href="http://gazette.nat.gov.tw/EG_FileManager/eguploadpub/eg022069/ch08/type1/gov70/num22/OEg.pdf" target="_blank">Notice 1041304938</a> to establish additional labeling requirements for food utensils, containers or packaging. The additional requirements will enter into force on July 1, 2017. </p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>The requirements are established according to the articles 26 of the Act Governing Food Safety and Sanitation and they are summarized below:</p>
    <ol>
        <li style="margin-bottom:10px;">All food utensils, containers or packaging shall be marked with “For food contact applications” or equivalent wordings.</li>
        <li style="margin-bottom:10px;">All food utensils, containers or packaging containing plastic food contacting components shall be marked its availability to re-use or single use.</li>
        <li style="margin-bottom:10px;">All food utensils, containers or packaging containing PVC or PVDC food contacting components shall be marked with warning that the product should not direct contact with high temperature and fat food</li>
    </ol>
</div>

<br /><br />
<p><i>This summary is not intended to be exhaustive nor should it be construed as legal advice.</i></p>