<!-- { "Title":"May 2016 Recap", "PublishDate":"2016-05-19", "Description":"NORTH AMERICA NEWS - US State Minnesota Proposes Bills to Amend Minnesota Statutes Concerning Priority Chemicals Reporting Rules and Their Prohibition" }-->
<ol style="margin-top:10px;">
    <li style="margin-bottom:10px;"><a href="#north_america_news">NORTH AMERICA NEWS</a>
    <li style="margin-bottom:10px;"><a href="#asia_news">ASIA NEWS</a>
    <li style="margin-bottom:10px;"><a href="#middle_east_news">MIDDLE EAST NEWS</a>
</ol>
<hr />

<a name="north_america_news" class="bookmark"></a>
<h2>NORTH AMERICA NEWS</h2>

<a name="updates-of-astm-standards" class="bookmark"></a>
<strong>Updates of ASTM Standards</strong>
<p>Below is a summary of recently updated ASTM standards that may be of interest to our clients:</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <table>
        <tr>
            <td><b>CPSIA / CFR Reference</b></td>
            <td><b>ASTM Standard No.</b></td>
            <td><b>Detail</b></td>
        </tr>
        <tr>
            <td>16 CFR 1112 &amp; 1231 (Proposed)</td>
            <td>ASTM F404-16</td>
            <td>
                <b>Standard Consumer Safety Specification for High Chairs</b><br />
                <p>Covers the performance requirements and methods of test to ensure the satisfactory performance of the high chair and high chairs created by using a high chair conversion kit and component(s) from another product.</p>
            </td>
        </tr>
        <tr>
            <td>16 CFR 1112 &amp; 1233</td>
            <td>ASTM F1235-15</td>
            <td>
                <b>Standard Consumer Safety Specification for Portable Hook-On Chairs</b><br />
                <p>Covers the performance requirements and test methods designed to ensure the satisfactory performance of the portable hook-on chair.</p>
            </td>
        </tr>
        <tr>
            <td>16 CFR 1112 &amp; 1234  (Proposed)</td>
            <td>ASTM F2670-16</td>
            <td>
                <b>Standard Consumer Safety Specification for Infant Bath Tubs</b><br />
                <p>Establishes performance requirements, test methods, and labeling requirements to promote the safe use of infant bath tubs. </p>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>ASTM F2601-16</td>
            <td>
                <b>Standard Specification for Fire Safety for Candle Accessories</b><br />
                <p>Prescribes the performance requirements and corresponding test procedures for candle accessories to help ensure a reasonable degree of personal safety during normal use, thereby, reducing incidences of fires, deaths, and injuries.</p>
            </td>
    </table>
</div><br />

<a name="minnesota-priority-chemicals" class="bookmark"></a>
<strong>US State Minnesota Proposes Bills to Amend Minnesota Statutes Concerning Priority Chemicals Reporting Rules and Their Prohibition</strong>
<p>On March 8, 2016, <a href="https://www.revisor.mn.gov/bills/text.php?number=HF2761&version=0&session=ls89&session_year=2016&session_number=0" target="_blank">Bill HF 2761</a> and <a href="https://www.revisor.mn.gov/bills/text.php?number=HF2717&version=0&session=ls89&session_year=2016&session_number=0" target="_blank">Bill HF 2717</a> were introduced in the Minnesota House of Representatives to amend Minnesota Statutes. The proposed amendments in the two bills are similar. They both add new sections to establish reporting requirements for manufacturers or distributors of children’s products containing one or more priority chemicals above 100 ppm or Practical Quantification Limit (PQL).</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>The two bills are summarized below with content being compared:</p>
    <table>
        <tr>
            <td></td>
            <td><b>HF 2761</b></td>
            <td><b>HF 2717</b></td>
        </tr>
        <tr>
            <td rowspan="11">Reporting information to Pollution Control Agency</td>
            <td colspan="2">Name of priority chemical(s) and its Chemical Abstracts Service(CAS) registry number</td>
        </tr>
        <tr>
            <td>Categories of the product <b>with</b> reference below^</td>
            <td>Categories of the product <b>without</b> reference below^</td>
        </tr>
        <tr>
            <td>
                Categories^:<br />
                <p>Category 1: a mouthable children's product intended to be used by children three years of age or younger or a children's product intended to be placed in a child's mouth or directly applied to a child's skin</p>
                <p>Category 2: a children's product intended to be in direct contact with a child's skin for one hour or longer, including but not limited to clothing, jewelry, bedding, or a car seat;</p>
                <p>Category 3: a children's product intended to be in direct contact with a child's skin for less than one hour</p>
                <p>Category 4: a children's product in which a priority chemical is contained only  in an internal component that, under normal use, is unlikely to come into direct contact with a child's skin or mouth</p>
            </td>
            <td><b>N/A</b></td>
        </tr>
        <tr>
            <td>Product components or materials that contain priority chemicals</td>
            <td><b>N/A</b></td>
        </tr>
        <tr>
            <td colspan="2">Concentration of priority chemicals in the product</td>
        </tr>
        <tr>
            <td>Total amount of priority chemicals in the product</td>
            <td><b>N/A</b></td>
        </tr>
        <tr>
            <td>Name and Address of manufacturer</td>
            <td><b>N/A</b></td>
        </tr>
        <tr>
            <td>Name, address and telephone number of the contact person of manufacturer</td>
            <td><b>N/A</b></td>
        </tr>
        <tr>
            <td colspan="2">Information describing the extent to which a child is likely to be exposed to the priority chemical through normal use of the product</td>
        </tr>
        <tr>
            <td colspan="2">The number of units of the children's product sold or distributed in Minnesota or nationally</td>
        </tr>
        <tr>
            <td colspan="2">Any assessment of the use of safer alternatives to the priority chemicals contained in the product</td>
        </tr>
        <tr>
            <td>Reporting after intial submission</td>
            <td colspan="2">If manufacturer and distributor continue to offer for sale in the State the priority chemical containing product, reporting will be required every 2 years following initial submission.</td>
        </tr>
        <tr>
            <td>Prohibition from sale of the products</td>
            <td>After receiving above information provided by manufacturer or distributor, the Agency will determine whether a child is likely to be exposed to the priority chemicals in normal use of product. <b>Product will be prohibited from sale if the priority chemicals are likely to be exposed to the child.</b></td>
            <td><b>No prohibition</b></td>
        </tr>
        <tr>
            <td>Reporting schedule</td>
            <td colspan="2">The reporting schedule is determined according to the annual aggregate gross sale</td>
        </tr>
        <tr>
            <td>First reporting deadline</td>
            <td><b>July 1, 2018</b></td>
            <td><b>July 1, 2017</b></td>
        </tr>
        <tr>
            <td>New priority chemicals from the chemicals of high concern</td>
            <td colspan="2"><a href="http://www.health.state.mn.us/divs/eh/hazardous/topics/toxfreekids/priority.html#chemicals" target="_blank">The current priority chemicals list</a> will be updated whenever a new priority chemical is identified.</td>
        </tr>
    </table>
</div><br />

<a name="california-proposition-65-warning" class="bookmark"></a>
<strong>US State California OEHHA Issues the Latest Proposal (March 25, 2016) of California Proposition 65 Warning Regulations</strong>
<p>On March 25, 2016, The Office of Environmental Health Hazard Assessment (OEHHA) has released a <a href="http://www.oehha.ca.gov/prop65/CRNR_notices/WarningWeb/Mod_Article6NPR032516.html" target="_blank">new proposed version of its regulations governing Proposition 65 Warnings</a>. The new proposal amends the previous proposal based on the comments received. A new comment period was opened until April 18, 2016. The comments are received and are available to the public.</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>The key changes in the new proposal are summarized below:</p>
    <ul>
        <li>In addition to manufacturer, producer, packager, importer and distributor, supplier is added for having responsibility to provide consumer product exposure warnings.</li>
        <li>Wording is added to clarify that:
            <ul>
                <li>Warning is required for the consumer products sold online.</li>
                <li>Supplemental information to the warning can only be used to explain the source of the exposure or provide information on how to avoid or reduce exposure to the identified chemical or chemicals. (No substitution of warning is allowed).</li>
                <li>A description of the exposure source should be included in the content of Environmental Exposure Warnings.</li>
            </ul>
        </li>
    </ul>
    <p>In total 33 comments from different sectors have been received and are now available in the notice.</p>
</div><br />

<a name="california-bottled-foods-and-beverages" class="bookmark"></a>
<strong>US State California, OEHHA Issues Supplemental Finding of Emergency Proposing Warning for Exposures to BPA in Canned and Bottled Foods and Beverages</strong>
<p>On April 19, 2016, The Office of Environmental Health Hazard Assessment (OEHHA) issued the <a href="http://www.oehha.ca.gov/prop65/CRNR_notices/041916BPAEmergencyAction.html" target="_blank">Supplemental Finding of Emergency</a> for Notice proposing a warning for exposures to bisphenol A (BPA) from canned and bottled foods and beverages (<a href="http://www.asiainspection.com/regulatory-updates/April-2016" target="_blank">See Regulatory Recap: April 2016</a>). The finding further explains the reason for the urgent proposed amendment.</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>In the finding, OEHHA reports that the Maximum Allowable Dose Level (MADL) for oral exposure to BPA could not be developed due to complex scientific issues in a short time. The development requires at least one to two years and, therefore, it is not foreseeable for the warning to be developed in the normal rulemaking process. </p>
    <p>There is evidence showing that more than 60% of canned foods and beverages, supplied in California contain BPA. As a result, in the absent of the proposed temporary regulation, consumers would not have a clear choice between BPA-containing and BPA-free packaging because of the variations in language and interpretation of the warning. To avoid such confusion when the warning requirements of BPA begins, the proposed temporary regulation will establish a unique, standard point-of-sale warning for BPA to the customers.</p>
</div><br />

<a name="california-oehha-updates" class="bookmark"></a>
<strong>US State California OEHHA Updates Proposition 65 List</strong>
<p>On April 22, 2016 Office of Environmental Health Hazard Assessment (OEHHA) issued an <a href="http://www.oehha.ca.gov/prop65/CRNR_notices/list_changes/042216P65liststyrene.html" target="_blank">updated Proposition 65 List</a> adding a new chemical, Styrene (Chemical Abstract Service (CAS) Registry Number: 100-42-5).</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>The listing of styrene is based on the formal identification by the National Toxicology Program (NTP) that styrene shows a toxicological endpoint of cancer. </p>
    <p>Concurrently, the OEHHA also <a href="http://www.oehha.ca.gov/prop65/CRNR_notices/NRPStyreneNSRL042216.html" target="_blank">proposed to amend the California Code of Regulations</a> to adopt Proposition 65 No Significant Risk Level (NSRL) of 27 mg/day for styrene. The comments period for the proposed amendment will close on June 6, 2016.</p>
</div><br />

<a name="us-recalls-summary" class="bookmark"></a>
<strong>US Recalls Summary</strong>
<p>Every year, consumer products with identified hazards are recalled. The recalls are published in the <a href="http://www.cpsc.gov/en/Recalls/" target="_blank">Consumer Product Safety Commission (CPSC) Recent Recalls</a>, which is updated daily. The US recalls  from January 1 to April 30, 2016 are summarized below:</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <center><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/US_recalls_hazards.gif" style="max-width:95%;" /></center>
    <table style="text-align:center;">
        <tr>
            <td><b>Hazard</b></td>
            <td><b>Frequency</b></td>
        </tr>
        <tr>
            <td>Fire Hazard</td>
            <td>26</td>
        </tr>
        <tr>
            <td>Fall Hazard</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Injury Hazard</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Choking Hazard</td>
            <td>9</td>
        </tr>
        <tr>
            <td>Electric Shock Hazard</td>
            <td>9</td>
        </tr>
        <tr>
            <td>Violation of Federal Flammability Standard</td>
            <td>7</td>
        </tr>
        <tr>
            <td>Burn Hazard</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Laceration Hazard</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Other Hazards*</td>
            <td>12</td>
        </tr>
    </table>
    <p>* Other hazards include function failure, ingestion hazard, strangulation hazard, violation of lead paint standard, carbon monoxide hazard, explosion hazard, impact hazard, drowning hazard, mold exposure risk and crash hazard with frequency less than 5.</p>
    <center><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/US_recalls_products.gif" style="max-width:95%;" /></center>
    <table>
        <tr>
            <td><b>Product Categories</b></td>
            <td><b>Frequency</b></td>
        </tr>
        <tr>
            <td>Electric Appliances</td>
            <td>18</td>
        </tr>
        <tr>
            <td>Furniture</td>
            <td>12</td>
        </tr>
        <tr>
            <td>Sport/Fitness Equipment</td>
            <td>12</td>
        </tr>
        <tr>
            <td>Household Appliances</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Apparel</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Toys</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Tools</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Decorative Product</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Other Categories^</td>
            <td>19</td>
        </tr>
    </table>
    <p>^Other categories include consumer chemical, mat, packaging, pet Item, children's product, cooking utensils, footwear,  personal protective equipment, child care articles and food and drink containers with frequency less than 5.</p><br />
    <strong>Recall Case Summary – US (Last Update Date: April 30, 2016)</strong>
    <table style="text-align:center;">
        <tr>
            <td style="width:100px;"><b>Date</b></td>
            <td><b>Product</b></td>
            <td><b>Product Category</b></td>
            <td><b>Hazard(s)</b></td>
            <td><b>Product Image</b></td>
        </tr>
        <tr>
            <td>7-Jan-16</td>
            <td>Crawley II Executive Chairs</td>
            <td>Furniture</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00001.jpg" /></td>
        </tr>
        <tr>
            <td>7-Jan-16</td>
            <td>Children’s Pajamas</td>
            <td>Apparel</td>
            <td>Violation of Federal Flammability Standard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00002.jpg" /></td>
        </tr>
        <tr>
            <td>12-Jan-16</td>
            <td>Swingasan® Chairs and Stands</td>
            <td>Furniture</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00003.jpg" /></td>
        </tr>
        <tr>
            <td>12-Jan-16</td>
            <td>Rival Brand Griddles</td>
            <td>Cooking Utensils</td>
            <td>Electric Shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00004.jpg" /></td>
        </tr>
        <tr>
            <td>12-Jan-16</td>
            <td>Tovin Chairs</td>
            <td>Furniture</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00005.jpg" /></td>
        </tr>
        <tr>
            <td>13-Jan-16</td>
            <td>Stolen Series BMX Bicycles</td>
            <td>Sport/Fitness Equipment</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00006.jpg" /></td>
        </tr>
        <tr>
            <td>14-Jan-16</td>
            <td>Classroom Select NeoRok Stools</td>
            <td>Furniture</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00007.jpg" /></td>
        </tr>
        <tr>
            <td>14-Jan-16</td>
            <td>“Rocky” Model Swivel Chairs</td>
            <td>Furniture</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00008.jpg" /></td>
        </tr>
        <tr>
            <td>14-Jan-16</td>
            <td>Monogrammed Coffee Mugs</td>
            <td>Food and Drink Containers</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00009.jpg" /></td>
        </tr>
        <tr>
            <td>14-Jan-16</td>
            <td>LATTJO Tongue Drums and LATTJO Drumstick Sets</td>
            <td>Children's Product</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00010.jpg" /></td>
        </tr>
        <tr>
            <td>19-Jan-16</td>
            <td>Darth Vader and Disneyland 60th Infant Bodysuits</td>
            <td>Apparel</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00011.jpg" /></td>
        </tr>
        <tr>
            <td>19-Jan-16</td>
            <td>Saddle Bar and Counter Stools</td>
            <td>Furniture</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00012.jpg" /></td>
        </tr>
        <tr>
            <td>19-Jan-16</td>
            <td>Synchronized Music and Lighting System</td>
            <td>Decorative Product</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00013.jpg" /></td>
        </tr>
        <tr>
            <td>20-Jan-16</td>
            <td>Cheryl’s Jingle Bell Ornaments with Cookies and Confections</td>
            <td>Decorative Product</td>
            <td>Laceration Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00014.jpg" /></td>
        </tr>
        <tr>
            <td>21-Jan-16</td>
            <td>Britax B-Ready Strollers</td>
            <td>Child Care Articles</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00015.jpg" /></td>
        </tr>
        <tr>
            <td>21-Jan-16</td>
            <td>Britax B-Safe 35 and B-Safe 35 Elite Infant Car Seats and Travel Systems</td>
            <td>Child Care Articles</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00016.jpg" /></td>
        </tr>
        <tr>
            <td>21-Jan-16</td>
            <td>Children's Bikes</td>
            <td>Sport/Fitness Equipment</td>
            <td>Laceration Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00017.jpg" /></td>
        </tr>
        <tr>
            <td>27-Jan-16</td>
            <td>Helen GX23 LED Lamps</td>
            <td>Electric Appliances</td>
            <td>Fire Hazard, Electric Shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00018.jpg" /></td>
        </tr>
        <tr>
            <td>27-Jan-16</td>
            <td>Charging Stations</td>
            <td>Electric Appliances</td>
            <td>Electric Shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00019.jpg" /></td>
        </tr>
        <tr>
            <td>28-Jan-16</td>
            <td>Stainless Steel Cookware</td>
            <td>Cooking Utensils</td>
            <td>Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00020.jpg" /></td>
        </tr>
        <tr>
            <td>28-Jan-16</td>
            <td>AquaRug Shower Rugs</td>
            <td>Mat</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00021.jpg" /></td>
        </tr>
        <tr>
            <td>28-Jan-16</td>
            <td>100-Watt Bendable Solar Panels</td>
            <td>Electric Appliances</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00022.jpg" /></td>
        </tr>
        <tr>
            <td>28-Jan-16</td>
            <td>Glass Food Storage Cubes</td>
            <td>Food and Drink Containers</td>
            <td>Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00023.jpg" /></td>
        </tr>
        <tr>
            <td>28-Jan-16</td>
            <td>Longfellow Light Fixtures</td>
            <td>Electric Appliances</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00024.jpg" /></td>
        </tr>
        <tr>
            <td>2-Feb-16</td>
            <td>AC Power Cords for Surface Pro Devices</td>
            <td>Electric Appliances</td>
            <td>Fire Hazard, Electric Shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00025.jpg" /></td>
        </tr>
        <tr>
            <td>2-Feb-16</td>
            <td>Dirt Devil Pet Vacuums</td>
            <td>Electric Appliances</td>
            <td>Electric Shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00026.jpg" /></td>
        </tr>
        <tr>
            <td>2-Feb-16</td>
            <td>Galileo Luna and Sol Dive Computers</td>
            <td>Electric Appliances</td>
            <td>Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00027.jpg" /></td>
        </tr>
        <tr>
            <td>3-Feb-16</td>
            <td>Rockwood Multi-Function Power Packs</td>
            <td>Electric Appliances</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00028.jpg" /></td>
        </tr>
        <tr>
            <td>4-Feb-16</td>
            <td>KUL Fan Heaters</td>
            <td>Household Appliances</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00029.jpg" /></td>
        </tr>
        <tr>
            <td>4-Feb-16</td>
            <td>Toy Trucks</td>
            <td>Toys</td>
            <td>Fire Hazard, Burn hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00030.jpg" /></td>
        </tr>
        <tr>
            <td>4-Feb-16</td>
            <td>Wedgwood Peter Rabbit Decorative Baby Rattles</td>
            <td>Decorative Product</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00031.jpg" /></td>
        </tr>
        <tr>
            <td>4-Feb-16</td>
            <td>Ski and Snowboard Helmets</td>
            <td>Personal Protective Equipment</td>
            <td>Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00032.jpg" /></td>
        </tr>
        <tr>
            <td>4-Feb-16</td>
            <td>Monkey Glockenspiel</td>
            <td>Toys</td>
            <td>Violation of Lead Paint Standard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00033.jpg" /></td>
        </tr>
        <tr>
            <td>9-Feb-16</td>
            <td>Ceiling Lamps</td>
            <td>Electric Appliances</td>
            <td>Laceration Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00034.jpg" /></td>
        </tr>
        <tr>
            <td>9-Feb-16</td>
            <td>Infant Elf Booties</td>
            <td>Footwear</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00035.jpg" /></td>
        </tr>
        <tr>
            <td>10-Feb-16</td>
            <td>Capella Island Swivel Dining Chairs</td>
            <td>Furniture</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00036.jpg" /></td>
        </tr>
        <tr>
            <td>11-Feb-16</td>
            <td>High Chairs</td>
            <td>Furniture</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00037.jpg" /></td>
        </tr>
        <tr>
            <td>12-Feb-16</td>
            <td>Propane (LP) Gas</td>
            <td>Consumer Chemical</td>
            <td>Fire Hazard, Burn hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00038.jpg" /></td>
        </tr>
        <tr>
            <td>17-Feb-16</td>
            <td>Packaged Terminal Air Conditioner/Heat Pumps (PTAC) and Room Air Conditioners (RAC)</td>
            <td>Electric Appliances</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00039.jpg" /></td>
        </tr>
        <tr>
            <td>17-Feb-16</td>
            <td>Ashland® Holiday Paper boxes</td>
            <td>Packaging</td>
            <td>Mold Exposure Risk</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00040.jpg" /></td>
        </tr>
        <tr>
            <td>17-Feb-16</td>
            <td>Ashland Poinsettia Stems and Bushes</td>
            <td>Decorative Product</td>
            <td>Mold Exposure Risk</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00041.jpg" /></td>
        </tr>
        <tr>
            <td>18-Feb-16</td>
            <td>AC Adapter Kits and Plug Adapters</td>
            <td>Electric Appliances</td>
            <td>Electric Shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00042.jpg" /></td>
        </tr>
        <tr>
            <td>18-Feb-16</td>
            <td>Snowboard Boots with Boa Secondary Reels</td>
            <td>Footwear</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00043.jpg" /></td>
        </tr>
        <tr>
            <td>18-Feb-16</td>
            <td>Bring Your Adventure Sports (BYA) Skyline Zipline Kits</td>
            <td>Sport/Fitness Equipment</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00044.jpg" /></td>
        </tr>
        <tr>
            <td>18-Feb-16</td>
            <td>Girls’ Crewcuts Puffer Coats</td>
            <td>Apparel</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00045.jpg" /></td>
        </tr>
        <tr>
            <td>18-Feb-16</td>
            <td>Office Chairs</td>
            <td>Furniture</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00046.jpg" /></td>
        </tr>
        <tr>
            <td>18-Feb-16</td>
            <td>Bicycle Forks</td>
            <td>Sport/Fitness Equipment</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00047.jpg" /></td>
        </tr>
        <tr>
            <td>24-Feb-16</td>
            <td>Smartstove Freestanding Pellet Stoves</td>
            <td>Household Appliances</td>
            <td>Laceration Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00048.jpg" /></td>
        </tr>
        <tr>
            <td>25-Feb-16</td>
            <td>Gas Boilers</td>
            <td>Household Appliances</td>
            <td>Fire Hazard, Carbon Monoxide Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00049.jpg" /></td>
        </tr>
        <tr>
            <td>1-Mar-16</td>
            <td>Ambient Weather Radios</td>
            <td>Household Appliances</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00050.jpg" /></td>
        </tr>
        <tr>
            <td>1-Mar-16</td>
            <td>Top Fin™ Power Filters for Aquariums</td>
            <td>Pet Item</td>
            <td>Electric Shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00051.jpg" /></td>
        </tr>
        <tr>
            <td>2-Mar-16</td>
            <td>“Love Today” Ceramic Coffee Mugs</td>
            <td>Food and Drink Containers</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00052.jpg" /></td>
        </tr>
        <tr>
            <td>3-Mar-16</td>
            <td>Pelican Flashlights and Replacement Battery Packs</td>
            <td>Electric Appliances</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00053.jpg" /></td>
        </tr>
        <tr>
            <td>8-Mar-16</td>
            <td>Wall Plates</td>
            <td>Decorative Product</td>
            <td>Fire Hazard, Electric Shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00054.jpg" /></td>
        </tr>
        <tr>
            <td>9-Mar-16</td>
            <td>Golda Wall Clocks</td>
            <td>Electric Appliances</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00055.jpg" /></td>
        </tr>
        <tr>
            <td>10-Mar-16</td>
            <td>Williamson-Thermoflo Furnaces and Boilers equipped with Carlin Oil Burners</td>
            <td>Household Appliances</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00056.jpg" /></td>
        </tr>
        <tr>
            <td>10-Mar-16</td>
            <td>Safety Pool Covers</td>
            <td>Sport/Fitness Equipment</td>
            <td>Drowning Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00057.jpg" /></td>
        </tr>
        <tr>
            <td>11-Mar-16</td>
            <td>Doyle Arm Chairs and Side Chairs</td>
            <td>Furniture</td>
            <td>Laceration Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00058.jpg" /></td>
        </tr>
        <tr>
            <td>15-Mar-16</td>
            <td>Gas Station Hose/Swivel fitting Sets</td>
            <td>Household Appliances</td>
            <td>Fire Hazard, Explosion Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00059.jpg" /></td>
        </tr>
        <tr>
            <td>16-Mar-16</td>
            <td>Zipp® Bicycle Quick Releases</td>
            <td>Sport/Fitness Equipment</td>
            <td>Injury Hazard, Crash Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00060.jpg" /></td>
        </tr>
        <tr>
            <td>16-Mar-16</td>
            <td>Zipp 88 Aluminum Front Hubs</td>
            <td>Sport/Fitness Equipment</td>
            <td>Injury Hazard, Crash Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00061.jpg" /></td>
        </tr>
        <tr>
            <td>16-Mar-16</td>
            <td>High-Intensity LED Lamps</td>
            <td>Household Appliances</td>
            <td>Impact Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00062.jpg" /></td>
        </tr>
        <tr>
            <td>18-Mar-16</td>
            <td>Gothem Floor and Table Lamps</td>
            <td>Household Appliances</td>
            <td>Electric Shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00063.jpg" /></td>
        </tr>
        <tr>
            <td>18-Mar-16</td>
            <td>CompuTrainer Blue Flywheels</td>
            <td>Sport/Fitness Equipment</td>
            <td>Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00064.jpg" /></td>
        </tr>
        <tr>
            <td>21-Mar-16</td>
            <td>Lithium-Ion Computer Battery Packs</td>
            <td>Electric Appliances</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00065.jpg" /></td>
        </tr>
        <tr>
            <td>25-Mar-16</td>
            <td>Specialized Bicycle Headlights and Taillights</td>
            <td>Sport/Fitness Equipment</td>
            <td>Fire Hazard, Burn hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00066.jpg" /></td>
        </tr>
        <tr>
            <td>28-Mar-16</td>
            <td>Fiskars® 32-Inch Bypass Lopper Shears</td>
            <td>Tools</td>
            <td>Laceration Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00067.jpg" /></td>
        </tr>
        <tr>
            <td>30-Mar-16</td>
            <td>Black Diamond Carabiners for Climbing</td>
            <td>Sport/Fitness Equipment</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00068.jpg" /></td>
        </tr>
        <tr>
            <td>30-Mar-16</td>
            <td>Panasonic Battery Packs used in Toshiba Laptop Computers</td>
            <td>Electric Appliances</td>
            <td>Fire Hazard, Burn hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00069.jpg" /></td>
        </tr>
        <tr>
            <td>30-Mar-16</td>
            <td>Nylon Runners</td>
            <td>Sport/Fitness Equipment</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00070.jpg" /></td>
        </tr>
        <tr>
            <td>31-Mar-16</td>
            <td>Children’s Footed Pajamas</td>
            <td>Apparel</td>
            <td>Violation of Federal Flammability Standard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00071.jpg" /></td>
        </tr>
        <tr>
            <td>31-Mar-16</td>
            <td>Busy Loops Table Top Toys</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00072.jpg" /></td>
        </tr>
        <tr>
            <td>31-Mar-16</td>
            <td>Gamewell-FCI fire Alarm Panels (ILI-MB-E3 and ILI-S-E3)</td>
            <td>Tools</td>
            <td>Function Failure</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00073.jpg" /></td>
        </tr>
        <tr>
            <td>31-Mar-16</td>
            <td>Havana Side Chairs and Armless Bar Stools</td>
            <td>Furniture</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00074.jpg" /></td>
        </tr>
        <tr>
            <td>31-Mar-16</td>
            <td>KUL Fan Heaters</td>
            <td>Household Appliances</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00075.jpg" /></td>
        </tr>
        <tr>
            <td>5-Apr-16</td>
            <td>Children’s Loungewear</td>
            <td>Apparel</td>
            <td>Violation of Federal Flammability Standard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00076.jpg" /></td>
        </tr>
        <tr>
            <td>5-Apr-16</td>
            <td>Givenchy Men’s Silk T-shirts</td>
            <td>Apparel</td>
            <td>Violation of Federal Flammability Standard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00077.jpg" /></td>
        </tr>
        <tr>
            <td>6-Apr-16</td>
            <td>Ivanka Trump Scarves</td>
            <td>Apparel</td>
            <td>Violation of Federal Flammability Standard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00078.jpg" /></td>
        </tr>
        <tr>
            <td>6-Apr-16</td>
            <td>Mattresses</td>
            <td>Furniture</td>
            <td>Violation of Federal Flammability Standard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00079.jpg" /></td>
        </tr>
        <tr>
            <td>7-Apr-16</td>
            <td>Plastic Trapeze Rings</td>
            <td>Children's Product</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00080.jpg" /></td>
        </tr>
        <tr>
            <td>7-Apr-16</td>
            <td>GolfBuddy Golf GPS Bands</td>
            <td>Electric Appliances</td>
            <td>Burn Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00081.jpg" /></td>
        </tr>
        <tr>
            <td>7-Apr-16</td>
            <td>Children’s LATTJO Bat Cape Costumes</td>
            <td>Toys</td>
            <td>Strangulation Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00082.jpg" /></td>
        </tr>
        <tr>
            <td>12-Apr-16</td>
            <td>Coleman® CTAC Lithium-Ion Flashlights</td>
            <td>Electric Appliances</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00083.jpg" /></td>
        </tr>
        <tr>
            <td>13-Apr-16</td>
            <td>Rollerblade Inline Skating Helmets</td>
            <td>Personal Protective Equipment</td>
            <td>Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00084.jpg" /></td>
        </tr>
        <tr>
            <td>14-Apr-16</td>
            <td>Cradle ‘n Swings</td>
            <td>Child Care Articles</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00085.jpg" /></td>
        </tr>
        <tr>
            <td>14-Apr-16</td>
            <td>Outdoor Gourmet® Marinade Injectors</td>
            <td>Tools</td>
            <td>Ingestion Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00086.jpg" /></td>
        </tr>
        <tr>
            <td>14-Apr-16</td>
            <td>“Back in Motion” Office Chairs</td>
            <td>Furniture</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00087.jpg" /></td>
        </tr>
        <tr>
            <td>15-Apr-16</td>
            <td>Moogy Plush Toys</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00088.jpg" /></td>
        </tr>
        <tr>
            <td>19-Apr-16</td>
            <td>Rechargeable Battery Packs</td>
            <td>Electric Appliances</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00089.jpg" /></td>
        </tr>
        <tr>
            <td>19-Apr-16</td>
            <td>Wooden Toy Blocks and Giraffes</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00090.jpg" /></td>
        </tr>
        <tr>
            <td>20-Apr-16</td>
            <td>Drywall Lifts</td>
            <td>Tools</td>
            <td>Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00091.jpg" /></td>
        </tr>
        <tr>
            <td>21-Apr-16</td>
            <td>Women’s Scarves</td>
            <td>Apparel</td>
            <td>Violation of Federal Flammability Standard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00092.jpg" /></td>
        </tr>
        <tr>
            <td>26-Apr-16</td>
            <td>Snap-on Ratcheting Tie Downs</td>
            <td>Tools</td>
            <td>Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00093.jpg" /></td>
        </tr>
        <tr>
            <td>26-Apr-16</td>
            <td>Ryobi Brushless Snow Blowers</td>
            <td>Household Appliances</td>
            <td>Fire Hazard, Burn Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00094.jpg" /></td>
        </tr>
        <tr>
            <td>26-Apr-16</td>
            <td>Tern Folding Bicycles</td>
            <td>Sport/Fitness Equipment</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-usa/image_US_00095.jpg" /></td>
        </tr>
    </table>
</div><br />

<a name="canada-recalls-summary" class="bookmark"></a>
<strong>Canada Recalls Summary</strong>
<p>Every year, consumer products with identified hazards are recalled. The recalls are published in the <a href="http://healthycanadians.gc.ca/recall-alert-rappel-avis/index-eng.php?cat=4" target="_blank">Recalls and Safety Alerts Database</a> on the Health Canada Website, which is updated daily. The Canada recalls from January 1 to April 30, 2016 are summarized below:</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <center><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/Canada_recalls_hazards.gif" style="max-width:95%;" /></center>
    <table style="text-align:center;">
        <tr>
            <td><b>Hazard</b></td>
            <td><b>Frequency</b></td>
        </tr>
        <tr>
            <td>Fall Hazard</td>
            <td>20</td>
        </tr>
        <tr>
            <td>Fire Hazard</td>
            <td>16</td>
        </tr>
        <tr>
            <td>Choking Hazard</td>
            <td>11</td>
        </tr>
        <tr>
            <td>Electric Shock Hazard</td>
            <td>7</td>
        </tr>
        <tr>
            <td>Injury Hazard</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Burn Hazard</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Other Hazards*</td>
            <td>23</td>
        </tr>
    </table>
    <p>* Other hazards include physical hazard, laceration hazard, violation to electrical certification, violation of CSA stanbdard, carbon monoxide hazard, impact hazard, violation of flammability requirements, violation of packaging and labeling requirements, strangulation hazard, cCemical hazard and microbial hazard with frequency less than 5.</p>
    <center><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/Canada_recalls_products.gif" style="max-width:95%;" /></center>
    <table style="text-align:center;">
        <tr>
            <td>Product Categories</td>
            <td>Frequency</td>
        </tr>
        <tr>
            <td>Electronics</td>
            <td>15</td>
        </tr>
        <tr>
            <td>Household Appliances</td>
            <td>9</td>
        </tr>
        <tr>
            <td>Furniture</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Sports/Fitness Equipment</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Toys</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Other Categories^</td>
            <td>28</td>
        </tr>
    </table>
    <p>^other categories include food and drink containers, packaging, personal protective equipment, pet item, tools, wipes, consumer chemicals, child care articles, children's products, cooking utensils, cosmetics, decorative products, apparel and footwear with frequency less than 5.</p>
    <strong>Recall Case Summary – Canada (Last Update Date: April 30, 2016)</strong>
    <table style="text-align:center;">
        <tr>
            <td style="width:100px;"><b>Date</b></td>
            <td><b>Product</b></td>
            <td><b>Product CategoriesCategory</b></td>
            <td><b>Hazard(s)</b></td>
            <td><b>Product Image</b></td>
        </tr>
        <tr>
            <td>11-Jan-16</td>
            <td>Mirari Wee Keys®</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00001.jpg" /></td>
        </tr>
        <tr>
            <td>11-Jan-16</td>
            <td>Hampton Bay 1 3/8" Venetian Blind in 24" x 48" size</td>
            <td>Household Appliances</td>
            <td>Strangulation Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00002.jpg" /></td>
        </tr>
        <tr>
            <td>12-Jan-16</td>
            <td>Limoss Lithium Ion Battery Power Packs</td>
            <td>Electronics</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00003.jpg" /></td>
        </tr>
        <tr>
            <td>12-Jan-16</td>
            <td>Boulder Ridge Dining Room Table</td>
            <td>Furniture</td>
            <td>Physical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00004.jpg" /></td>
        </tr>
        <tr>
            <td>12-Jan-16</td>
            <td>Swingasan® Chair and Stand</td>
            <td>Furniture</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00005.jpg" /></td>
        </tr>
        <tr>
            <td>14-Jan-16</td>
            <td>Classroom Select NeoRok Stools</td>
            <td>Furniture</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00006.jpg" /></td>
        </tr>
        <tr>
            <td>14-Jan-16</td>
            <td>LATTJO Drum Sticks</td>
            <td>Children's Products</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00007.jpg" /></td>
        </tr>
        <tr>
            <td>14-Jan-16</td>
            <td>Home Accents Holiday 3-Pack Candy Cane Light Stakes Set</td>
            <td>Decorative Products</td>
            <td>Fire Hazard, Electric Shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00008.jpg" /></td>
        </tr>
        <tr>
            <td>19-Jan-16</td>
            <td>The Last Glue®</td>
            <td>Cosmetics</td>
            <td>Violation of Packaging and Labeling Requirements</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00009.jpg" /></td>
        </tr>
        <tr>
            <td>19-Jan-16</td>
            <td>Saddle Counter Stools</td>
            <td>Furniture</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00010.jpg" /></td>
        </tr>
        <tr>
            <td>21-Jan-16</td>
            <td>Certain B-Safe 35 Infant Car Seats and Travel Systems</td>
            <td>Child Care Articles</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00011.jpg" /></td>
        </tr>
        <tr>
            <td>21-Jan-16</td>
            <td>Britax B-Ready Stroller and Britax B-Ready Top Seat</td>
            <td>Child Care Articles</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00012.jpg" /></td>
        </tr>
        <tr>
            <td>21-Jan-16</td>
            <td>Chillafish BMXie, Chillafish Jack and Chillafish Josie Bbalance Bikes</td>
            <td>Sports/Fitness Equipment</td>
            <td>Laceration Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00013.jpg" /></td>
        </tr>
        <tr>
            <td>27-Jan-16</td>
            <td>Lunera GX23 LED Lamp</td>
            <td>Electronics</td>
            <td>Fire Hazard, Electric Shock Hazard, Burn Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00014.jpg" /></td>
        </tr>
        <tr>
            <td>27-Jan-16</td>
            <td>Hammerite® Rust Cap® Hammered Enamel Finish</td>
            <td>Consumer Chemicals</td>
            <td>Violation of Packaging and Labeling Requirements</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00015.jpg" /></td>
        </tr>
        <tr>
            <td>28-Jan-16</td>
            <td>Bean Bag Chair by Ace Bayou Corporation</td>
            <td>Furniture</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00016.jpg" /></td>
        </tr>
        <tr>
            <td>28-Jan-16</td>
            <td>Green Ssprouts® Glass Food Cubes</td>
            <td>Food and Drink Containers</td>
            <td>Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00017.jpg" /></td>
        </tr>
        <tr>
            <td>28-Jan-16</td>
            <td>AquaRug Shower Rugs</td>
            <td>Furniture</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00018.jpg" /></td>
        </tr>
        <tr>
            <td>28-Jan-16</td>
            <td>100W Monocrystalline Bendable Solar Panel</td>
            <td>Electronics</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00019.jpg" /></td>
        </tr>
        <tr>
            <td>2-Feb-16</td>
            <td>Smart Balance Wheel</td>
            <td>Toys</td>
            <td>Violation to Electrical Certification </td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00020.jpg" /></td>
        </tr>
        <tr>
            <td>2-Feb-16</td>
            <td>AC Power Cords for Surface Pro Devices</td>
            <td>Electronics</td>
            <td>Fire Hazard,  Electric Shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00021.jpg" /></td>
        </tr>
        <tr>
            <td>2-Feb-16</td>
            <td>Dirt Devil Total Pet Cyclonic Upright Vacuum</td>
            <td>Electronics</td>
            <td>Electric Shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00022.jpg" /></td>
        </tr>
        <tr>
            <td>3-Feb-16</td>
            <td>Certain Serena® and Sivoia QS Triathlon® Roller Shades</td>
            <td>Household Appliances</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00023.jpg" /></td>
        </tr>
        <tr>
            <td>3-Feb-16</td>
            <td>Tan Leather 8-inch OxGear Safety Work Boots, model number 66000</td>
            <td>Footwear</td>
            <td>Violation of CSA Standard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00024.jpg" /></td>
        </tr>
        <tr>
            <td>4-Feb-16</td>
            <td>Nexgrill Barbecue Grill, Model #720-0830D (Costco Canada SKU #520178)</td>
            <td>Cooking Utensils</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00025.jpg" /></td>
        </tr>
        <tr>
            <td>4-Feb-16</td>
            <td>Wedgwood Peter Rabbit Keepsake Baby Rattle</td>
            <td>Decorative Products</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00026.jpg" /></td>
        </tr>
        <tr>
            <td>4-Feb-16</td>
            <td>KUL Fan Heaters</td>
            <td>Household Appliances</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00027.jpg" /></td>
        </tr>
        <tr>
            <td>4-Feb-16</td>
            <td>HEAD Ski and Snowboard Helmets</td>
            <td>Personal Protective Equipment</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00028.jpg" /></td>
        </tr>
        <tr>
            <td>9-Feb-16</td>
            <td>IKEA HYBY and LOCK Ceiling Lamps</td>
            <td>Household Appliances</td>
            <td>Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00029.jpg" /></td>
        </tr>
        <tr>
            <td>10-Feb-16</td>
            <td>Nuna Zaaz High Chairs</td>
            <td>Child Care Articles</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00030.jpg" /></td>
        </tr>
        <tr>
            <td>10-Feb-16</td>
            <td>Capella Island Swivel Dining Chairs</td>
            <td>Furniture</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00031.jpg" /></td>
        </tr>
        <tr>
            <td>17-Feb-16</td>
            <td>2015 Ashland® Poinsettia Stems and Bushes</td>
            <td>Decorative Products</td>
            <td>Microbial Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00032.jpg" /></td>
        </tr>
        <tr>
            <td>17-Feb-16</td>
            <td>Ashland® Holiday Paper Boxes</td>
            <td>Packaging</td>
            <td>Microbial Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00033.jpg" /></td>
        </tr>
        <tr>
            <td>18-Feb-16</td>
            <td>M3v2 Secondary Reel Dials on Snowboard Boots</td>
            <td>Apparel</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00034.jpg" /></td>
        </tr>
        <tr>
            <td>18-Feb-16</td>
            <td>Crewcuts Girls Puffer Coats</td>
            <td>Apparel</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00035.jpg" /></td>
        </tr>
        <tr>
            <td>18-Feb-16</td>
            <td>Rocky Model Swivel Chairs</td>
            <td>Furniture</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00036.jpg" /></td>
        </tr>
        <tr>
            <td>18-Feb-16</td>
            <td>AC Wall Plug Adapters included in Apple World Travel Adapter Kit</td>
            <td>Electronics</td>
            <td>Electric Shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00037.jpg" /></td>
        </tr>
        <tr>
            <td>18-Feb-16</td>
            <td>BYA Sports Skyline Backyard Zipline Kits</td>
            <td>Sports/Fitness Equipment</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00038.jpg" /></td>
        </tr>
        <tr>
            <td>25-Feb-16</td>
            <td>Tena Ultra Washcloths, Tena Ultra Flush Washcloths, Tena Ultra Adult Wipes</td>
            <td>Wipes</td>
            <td>Microbial Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00039.jpg" /></td>
        </tr>
        <tr>
            <td>25-Feb-16</td>
            <td>Viessmann Vitodens 200-W Boiler models B2HB-45 and B2HB-57</td>
            <td>Household Appliances</td>
            <td>Fire Hazard, Carbon Monoxide Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00040.jpg" /></td>
        </tr>
        <tr>
            <td>26-Feb-16</td>
            <td>Splash! and PAL Hi/Lo Pool Lifts</td>
            <td>Sports/Fitness Equipment</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00041.jpg" /></td>
        </tr>
        <tr>
            <td>26-Feb-16</td>
            <td>WHAM-O Super Elastic Bubble Plastic Balloon Blowing kit</td>
            <td>Toys</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00042.jpg" /></td>
        </tr>
        <tr>
            <td>29-Feb-16</td>
            <td>Kannad Safelink Marine EPIRB</td>
            <td>Household Appliances</td>
            <td>Impact Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00043.jpg" /></td>
        </tr>
        <tr>
            <td>1-Mar-16</td>
            <td>Top FinTM Power Filters for Aquariums</td>
            <td>Pet Item</td>
            <td>Electric Shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00044.jpg" /></td>
        </tr>
        <tr>
            <td>1-Mar-16</td>
            <td>Dollarama Wooden Easy-Grab Puzzles</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00045.jpg" /></td>
        </tr>
        <tr>
            <td>3-Mar-16</td>
            <td>Pelican 9410L Flashlight and 9419 Replacement Battery Packs</td>
            <td>Electronics</td>
            <td>Strangulation Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00046.jpg" /></td>
        </tr>
        <tr>
            <td>3-Mar-16</td>
            <td>Evinrude ICON and ICON II Binnacle Mount Remote Controls</td>
            <td>Electronics</td>
            <td>Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00047.jpg" /></td>
        </tr>
        <tr>
            <td>4-Mar-16</td>
            <td>L'Oreal Ideal Moisture Dry and Sensitive Day Cream</td>
            <td>Cosmetics</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00048.jpg" /></td>
        </tr>
        <tr>
            <td>4-Mar-16</td>
            <td>Marcelle Instant Eye Makeup Remover Pads manufactured by Groupe Marcelle Inc.</td>
            <td>Cosmetics</td>
            <td>Microbial Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00049.jpg" /></td>
        </tr>
        <tr>
            <td>11-Mar-16</td>
            <td>Green Tones Monkey Glockenspiel</td>
            <td>Toys</td>
            <td>Chemical Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00050.jpg" /></td>
        </tr>
        <tr>
            <td>15-Mar-16</td>
            <td>Frying Pans from the Martha Stewart Collection™ 10-Piece Stainless Steel Cookware Set</td>
            <td>Cooking Utensils</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00051.jpg" /></td>
        </tr>
        <tr>
            <td>16-Mar-16</td>
            <td>ZIPP 88v6, 88v7 and 88v8 Front Bicycle Wheel Hubs</td>
            <td>Sports/Fitness Equipment</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00052.jpg" /></td>
        </tr>
        <tr>
            <td>17-Mar-16</td>
            <td>IKEA GOTHEM Floor and Table Lamps</td>
            <td>Household Appliances</td>
            <td>Electric Shock Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00053.jpg" /></td>
        </tr>
        <tr>
            <td>17-Mar-16</td>
            <td>Baby Boy Sailor Dog Sleep and Play Layette (Style #2056000) and Baby Girl Bunny Print Sleep and Play Layette (Style #2058039)</td>
            <td>Apparel</td>
            <td>Violation of Flammability Requirements</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00054.jpg" /></td>
        </tr>
        <tr>
            <td>21-Mar-16</td>
            <td>Toughbook CF-S10 Series Notebook Computer Battery Pack</td>
            <td>Electronics</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00055.jpg" /></td>
        </tr>
        <tr>
            <td>21-Mar-16</td>
            <td>WoodPal Organic Transparent Stain</td>
            <td>Consumer Chemicals</td>
            <td>Violation of Packaging and Labeling Requirements</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00056.jpg" /></td>
        </tr>
        <tr>
            <td>24-Mar-16</td>
            <td>Power Bank PowerStation Deluxe</td>
            <td>Electronics</td>
            <td>Burn Hazard, Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00057.jpg" /></td>
        </tr>
        <tr>
            <td>30-Mar-16</td>
            <td>Panasonic Lithium Ion Battery Packs used in Toshiba Laptop Computers</td>
            <td>Electronics</td>
            <td>Burn Hazard, Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00058.jpg" /></td>
        </tr>
        <tr>
            <td>31-Mar-16</td>
            <td>Manhattan Toy Busy Loops Table Top Toy</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00059.jpg" /></td>
        </tr>
        <tr>
            <td>31-Mar-16</td>
            <td>Black Diamond Brand Nylon Runners</td>
            <td>Sports/Fitness Equipment</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00060.jpg" /></td>
        </tr>
        <tr>
            <td>1-Apr-16</td>
            <td>Black Diamond Brand Carabiners</td>
            <td>Sports/Fitness Equipment</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00061.jpg" /></td>
        </tr>
        <tr>
            <td>5-Apr-16</td>
            <td>Ambient Weather Radios</td>
            <td>Electronics</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00062.jpg" /></td>
        </tr>
        <tr>
            <td>6-Apr-16</td>
            <td>IKEA LATTJO Bat Cape</td>
            <td>Toys</td>
            <td>Strangulation Hazard, Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00063.jpg" /></td>
        </tr>
        <tr>
            <td>6-Apr-16</td>
            <td>Aluminum Espresso Coffee Maker (6 Cup)</td>
            <td>Cooking Utensils</td>
            <td>Burn Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00064.jpg" /></td>
        </tr>
        <tr>
            <td>7-Apr-16</td>
            <td>Yellow Plastic Trapeze Rings</td>
            <td>Children's Products</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00065.jpg" /></td>
        </tr>
        <tr>
            <td>8-Apr-16</td>
            <td>Heimess Brand Pacifier Holders</td>
            <td>Child Care Articles</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00066.jpg" /></td>
        </tr>
        <tr>
            <td>12-Apr-16</td>
            <td>Panasonic Lithium Ion Battery Packs in VAIO E Series Personal Computers</td>
            <td>Electronics</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00067.jpg" /></td>
        </tr>
        <tr>
            <td>12-Apr-16</td>
            <td>Coleman® CTAC Lithium-Ion Flashlight</td>
            <td>Household Appliances</td>
            <td>Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00068.jpg" /></td>
        </tr>
        <tr>
            <td>15-Apr-16</td>
            <td>Moogy Fastening Toy</td>
            <td>Toys</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00069.jpg" /></td>
        </tr>
        <tr>
            <td>19-Apr-16</td>
            <td>Rechargable Brunton Impel and Brunton Impel 2 Battery Packs</td>
            <td>Electronics</td>
            <td>Fire Hazard, Burn Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00070.jpg" /></td>
        </tr>
        <tr>
            <td>20-Apr-16</td>
            <td>Drywall Lift </td>
            <td>Tools</td>
            <td>Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00071.jpg" /></td>
        </tr>
        <tr>
            <td>20-Apr-16</td>
            <td>RacerMate CompuTrainer Blue Flywheels</td>
            <td>Sports/Fitness Equipment</td>
            <td>Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00072.jpg" /></td>
        </tr>
        <tr>
            <td>22-Apr-16</td>
            <td>ZIPP Bicycle Quick Release</td>
            <td>Sports/Fitness Equipment</td>
            <td>Fall Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00073.jpg" /></td>
        </tr>
        <tr>
            <td>26-Apr-16</td>
            <td>RYOBI® 40-Volt Brushless Snow Blower</td>
            <td>Household Appliances</td>
            <td>Burn Hazard, Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00074.jpg" /></td>
        </tr>
        <tr>
            <td>28-Apr-16</td>
            <td>Munchkin Latch Lightweight Pacifier & Clip Sets</td>
            <td>Children's Products</td>
            <td>Choking Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00075.jpg" /></td>
        </tr>
        <tr>
            <td>2-May-16</td>
            <td>Casablanca Ceiling Fans</td>
            <td>Household Appliances</td>
            <td>Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00076.jpg" /></td>
        </tr>
        <tr>
            <td>3-May-16</td>
            <td>MSR StrikerTM 320 Probe, MSR StrikerTM 240 Probe</td>
            <td>Sports/Fitness Equipment</td>
            <td>Injury Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00077.jpg" /></td>
        </tr>
        <tr>
            <td>4-May-16</td>
            <td>Specialized Flux and Stix Headlights and Taillights</td>
            <td>Sports/Fitness Equipment</td>
            <td>Burn Hazard, Fire Hazard</td>
            <td><img src="https://s3.asiainspection.com/newsletters/2016_05_RegRecap/recall-canada/image_Canada_00078.jpg" /></td>
        </tr>
    </table>
</div><br />


<a name="asia_news" class="bookmark"></a>
<h2>ASIA NEWS</h2>

<a name="china-supervision-import-export" class="bookmark"></a>
<strong>China AQSIQ Launched 2016 Supervision and Inspection Plan of Imported and Exported Commodities</strong>
<p>On April 15, 2016, the General Administration of Quality Supervision, Inspection and Quarantine of the People’s Republic of China (AQSIQ) issued <a href="http://www.aqsiq.gov.cn/xxgk_13386/jlgg_12538/zjgg/2016/201604/t20160421_464780.htm" target="_blank">Notice 38/2016</a> to announce the 2016 supervision and inspection plan on imported and exported goods.</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>To strengthen import and export quality control, the AQSIQ decided to implement a supervision and inspection plan from April to October 2016. Products that are not subject to a compulsory inspection and quarantine process will be inspected. The target products and inspection standards are summarized below:</p>
    <table>
        <tr>
            <td><b>Products</b></td>
            <td><b>Import/ Export</b></td>
            <td><b>Inspection Standards</b></td>
        </tr>
        <tr>
            <td>Self-balancing scooter</td>
            <td>Export</td>
            <td>
                <u>USA</u><br />
                UL2271 UN38.3<br />
                UL2272<br />
                UL60950<br /><br />
                <u>Europe</u>
                IEC62133+UN38.3<br />
                IEC60950<br />
            </td>
        </tr>
        <tr>
            <td>Air purifier</td>
            <td>Import</td>
            <td>
                GB 4706.1-2005
                GB 4706.45-2008
                GB/T 18801-2015
            </td>
        </tr>
        <tr>
            <td>Electronic toilet</td>
            <td>Import</td>
            <td>
                GB 4706.1-200
                GB 4706.53-2008
            </td>
        </tr>
        <tr>
            <td>Automobile brake linings</td>
            <td>Import</td>
            <td>
                GB 5763-2008
            </td>
        </tr>
        <tr>
            <td>Moisture absorbing and speed dry clothing </td>
            <td>Import</td>
            <td>
                GB/T 21655.1-2008
                GB/T 21655.2-2009
            </td>
        </tr>
        <tr>
            <td>UV resistant clothing</td>
            <td>Import</td>
            <td>GB/T 18830-2009</td>
        </tr>
        <tr>
            <td>Antibacterial clothing</td>
            <td>Import</td>
            <td>
                GB/T 20944.1-2007
                GB/T 20944.2-2007
                GB/T 20944.3-2007
            </td>
        </tr>
        <tr>
            <td>Waterproof clothing</td>
            <td>Import</td>
            <td>
                GB/T 4745-2012
                GB/T 4744-2013
            </td>
        </tr>
        <tr>
            <td>Children’s footwear</td>
            <td>Import</td>
            <td>
                GB 30585-2014 
            </td>
        </tr>
        <tr>
            <td>Heat insulating cup (except glass interior)</td>
            <td>Import</td>
            <td>
                GB 9684-2011
            </td>
        </tr>
        <tr>
            <td>Sanitary wipes</td>
            <td>Import</td>
            <td>
                GB 15979-2002
            </td>
        </tr>
        <tr>
            <td>Condom</td>
            <td>Import</td>
            <td>
                GB 7544-2009
            </td>
        </tr>
        <tr>
            <td>Wallpaper</td>
            <td>Import</td>
            <td>
                GB 18585-2001
            </td>
        </tr>
        <tr>
            <td>Steel wire rope</td>
            <td>Export</td>
            <td>
                GB 8903-2005
                GB 26722-2011
                GB 8918-2006
            </td>
        </tr>
        <tr>
            <td>Tire</td>
            <td>Export</td>
            <td>
                GB 9743-2015
                GB 9744-2015
                GB 518-2007
            </td>
        </tr>
    </table>
</div><br />

<a name="china-national-standard-for-foods" class="bookmark"></a>
<strong>China National Standard for Foods, Food Additives and Food Contact Materials Entered into Force</strong>
<p>On October 23, 2015, the National Health and Family Planning Commission of the People’s Republic of China (NHFPC) issued <a href="http://www.nhfpc.gov.cn/sps/s7891/201510/4db4ce124f6b44c88afd466700e34a4a.shtml" target="_blank">Notice 07/2015</a> to announce eight new national food safety standards. These standards entered into force on March 21, 2016.</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>The eight new standards provide testing methods for foods, food additives and food contact materials. The standards are listed below:</p>
    <ol>
        <li>GB 5009.11-2014 National Food Safety Standard - Determination of Total Arsenic and Inorganic Arsenic in Foods</li>
        <li>GB 5009.17-2014 National Food Safety Standard - Determination of Total Mercury and Organic Mercury in Foods </li>
        <li>GB 5009.74-2014 National Food Safety Standard - Method for Limit Test of Heavy Metals in Food Additives</li>
        <li>GB 5009.75-2014 National Food Safety Standard - Determination of Lead in Food Additives</li>
        <li>GB 5009.76-2014 National Food Safety Standard - Determination of Arsenic in Food Additives</li>
        <li>GB 5009.88-2014 National Food Safety Standard - Determination of Dietary Fiber in Foods</li>
        <li>GB 5009.211-2014 National Food Safety Standard - Determination of Folic Acid in Foods</li>
        <li>GB 31603-2015 National Food Safety Standard - General Hygiene Practices for Production of Food Contact Materials and Products</li>
    </ol>
</div><br />

<a name="china-nhfpc-materials-and-nipples" class="bookmark"></a>
<strong>China NHFPC Issues National Standard for Foods, Foods Additives, Food Contact Materials and Nipples</strong>
<p>On October 23, 2015, the National Health and Family Planning Commission of the People’s Republic of China (NHFPC) issued <a href="http://www.nhfpc.gov.cn/sps/s7891/201510/3ba3419aab8a41a09f4f924788f73793.shtml" target="_blank">Notice 08/2015</a> to announce national food safety standards publication and updates. These standards will be effective on September 22, 2016.</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>There are a total of 127 standards that provide requirements and applicable standards of testing methods for foods, food additives, food contact materials and nipples. The issued and updated standards are listed below:</p>
    <ol>
        <li>GB 1886-2015 National Food Safety Standard – Food Additives (Part 1 to Part 168)</li>
        <li>GB 2713-2015 National Food Safety Standard – Starch Products</li>
        <li>GB 2714-2015 National Food Safety Standard – Pickles </li>
        <li>GB 2720-2015 National Food Safety Standard – Monosodium Glutamate</li>
        <li>GB 2721-2015 National Food Safety Standard – Salt</li>
        <li>GB 2730-2015 National Food Safety Standard – Cured Meat</li>
        <li>GB 4806.2-2015 National Food Safety Standard - Nipples</li>
        <li>GB 7099-2015 National Food Safety Standard – Cakes, Bread</li>
        <li>GB 7100-2015 National Food Safety Standard – Biscuits</li>
        <li>GB 14930.1-2015 National Food Safety Standard - Detergents</li>
        <li>GB 14967-2015 National Food Safety Standard – Collagen Casings</li>
        <li>GB 17400-2015 National Food Safety Standard – Instant Noodles</li>
        <li>GB 30604-2015 National Food Safety Standard – Fortified Food</li>
        <li>GB 31604.1-2015 National Food Safety Standard – General Rules for Migration Test of Food Contact Materials and Articles</li>
        <li>GB 28307-2012 National Food Safety Standard – Food Additives Maltitol and Maltitol Liquid (Updates)</li>
        <li>GB 29948-2013 National Food Safety Standard – Food Additives Sodium Polyacrylate (Updates)</li>
    </ol>
</div><br />

<a name="china-updated-standards-textile" class="bookmark"></a>
<strong>China MIIT Issues Updated Product Standard List for Different Industries Including Textile and Light Industry</strong>
<p>On April 20, 2016, the Ministry of Industry and Information Technology of the People’s Republic of China (MIIT) issued <a href="http://www.miit.gov.cn/n1146295/n1652858/n1652930/n4509607/c4728296/content.html" target="_blank">Notice 17/2016</a> to publish an updated product standard list for different industries including textile and light industry. There are total 587 standards included on the list. </p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>The effective dates for the updated standards are in two phases. The first phase will be effective July 01, 2016 and the second on September 01, 2016. All of the product standards for textile and light industry will be implemented in the first phase.</p>
    <p>The standards are listed according to industry:</p>
    <table>
        <tr>
            <td><b>Industry</b></td>
            <td><b>Number of Standard on List</b></td>
        </tr>
        <tr>
            <td>Machinery Industry</td>
            <td>156</td>
        </tr>
        <tr>
            <td>Automotive Industry</td>
            <td>35</td>
        </tr>
        <tr>
            <td>Shipbuilding Industry</td>
            <td>33</td>
        </tr>
        <tr>
            <td>Pharmaceutical Equipment Industry</td>
            <td>16</td>
        </tr>
        <tr>
            <td>Chemical Industry</td>
            <td>45</td>
        </tr>
        <tr>
            <td>Metallurgical Industry</td>
            <td>35</td>
        </tr>
        <tr>
            <td>Non-ferrous Metals Industry</td>
            <td>24</td>
        </tr>
        <tr>
            <td>Light Industry</td>
            <td>26</td>
        </tr>
        <tr>
            <td>Textile Industry</td>
            <td>49</td>
        </tr>
        <tr>
            <td>Electronic Industry</td>
            <td>72</td>
        </tr>
        <tr>
            <td>Telecommunication Industry</td>
            <td>96</td>
        </tr>
    </table>
    <p>(Please See <a href="http://www.miit.gov.cn/n1146295/n1652858/n1652930/n4509607/c4728296/part/4728300.doc" target="_blank">the List</a>)</p>
</div><br />


<a name="middle_east_news" class="bookmark"></a>
<h2>MIDDLE EAST NEWS</h2>

<a name="saudi-arabia-labelling-requirements" class="bookmark"></a>
<strong>Saudi Arabia Standard SASO 2870/2015 Energy Efficiency, Functionality and Labelling Requirements for Lighting Products, Part 1 Enters into Force</strong>
<p>On June 23, 2015, Saudi Standards, Metrology and Quality Organization (SASO) issued standard SASO 2870/2015 Energy Efficiency, Functionality and Labelling Requirements for Lighting Products, Part 1. The first stage of this standard entered into force May 1, 2016 and addresses indirect and direct lamps with wattage greater than or equal to 60W.</p>
<a href="javascript://" class="learnmore">Read More</a><br />
<div class="moretext">
    <p>The standard covers testing requirement for indirect and direct lamps. The scope of the standard excludes luminaires and control gear.</p>
    <p>The regulatory parameters are summarized below:</p>
    <ol>
        <li>Safety</li>
        <li>Electromagnetic Compatibility</li>
        <li>Performance</li>
        <li>Functionality Requirements</li>
        <li>Marking Requirements</li>
        <li>Energy Efficiency Requirements</li>
        <li>Hazardous Chemicals Requirements</li>
    </ol>
    <p>The second stage of the standard enters into force May 1, 2017 and addresses all indirect and direct lamps below 60W.</p>
</div><br />

<br /><br />
<p><i>This summary is not intended to be exhaustive nor should it be construed as legal advice.</i></p>